[2016-05-09 20:55] #587 closed

[2016-05-09 21:15] #588 closed

[2016-05-09 21:41] #575 closed

[2016-05-09 22:40] ljharb commented on #564
@yannickcr this change is breaking something in eslint-config-airbnb
[code]

[2016-05-09 22:45] yannickcr commented on #564
@ljharb Ho. Do you know what code makes it crash ?

[2016-05-09 22:47] vdh commented on #564
@yannickcr It looks similar to this issue in eslint-plugin-import: https://github.com/benmosher/eslint-plugin-import/issues/317

[2016-05-09 22:47] ljharb commented on #564
I'm afraid I don't - it doesn't tell me which.

[2016-05-09 22:48] ljharb commented on #564
fwiw I'm not using any proposed ES syntax.

[2016-05-09 22:55] jkrems opened #589 "TypeError in require-render-return"
I think the latest update broke arrow function support in `require-render-return`:

[code]

Example:

[code]

[2016-05-09 22:56] yannickcr commented on #564
Ok, the following pattern trigger the crash:
[code]
I'll do a quick fix.

[2016-05-09 23:00] ljharb commented on #589
https://github.com/yannickcr/eslint-plugin-react/issues/564#issuecomment-218013994

[2016-05-09 23:03] #589 closed

[2016-05-09 23:03] jkrems commented on #589
Ah, sorry. Should've searched harder.

[2016-05-09 23:09] yannickcr commented on #589
No problem, you were both very fast to find the problem :)

[2016-05-10 09:16] kib357 opened #590 "display-name rule quotes handling"
If JSON style is used for defining components, rule is not handle "displayName" option.
The following patterns are considered warnings:
`var Hello = React.createClass({
  "displayName": "Hello",
  "render": function() {
    return <div>Hello {this.props.name}</div>;
  }
});`
but its valid code i think.

[2016-05-10 16:06] EvNaverniouk opened #591 "Regression in `prop-types` rule in v5.1.1"
After upgrading from 5.0.1 to 5.1.1 I noticed a bug with the `prop-types` rule. It now incorrectly detects destructured method params as missing props. See example below:

[code]

Will result in an incorrect failure of: `react/prop-types: 'width' is missing in props validation`.

What's strange is that all of the examples below do NOT fail:

[code]

Seems like the combination of a destructured fun

[2016-05-11 13:13] landed1 commented on #447
Do we need 2 files ?
.eslint
.eslintrc

an where do both live ? I am hoping for project route.I am almost there with linting JSX in .js files in my react project its just failing to spot the <JSXsyntax>

Clarity would be most welcome TY

[2016-05-11 15:33] landed1 opened #592 "docs missing how to set up the config"
Hi
I am a little confused here after install I see some config to add but to where ?
TY

[2016-05-11 15:55] ljharb commented on #592
See http://eslint.org/docs/user-guide/configuring for help configuring `eslint`.

[2016-05-11 15:55] #592 closed

[2016-05-11 15:55] ljharb commented on #447
@landed1 See http://eslint.org/docs/user-guide/configuring. you usually only need `.eslintrc`, at the root of your project.

[2016-05-11 15:57] landed1 commented on #592
ok thanks I now have a configuration file.

[2016-05-11 15:58] landed1 commented on #447
TY

[2016-05-11 18:09] strawbrary commented on #591
Not sure if this is the same issue, but I've been having a similar issue with decorators and destructured params when wrapped with an array and/or object.

The following results in `error  'store' is missing in props validation  react/prop-types`.
[code]

The following do not trigger errors.
[code]

[2016-05-11 18:57] Zacqary opened #593 "Rule Proposal: no-dupe-keys equivalent for JSX"
In ESLint, `no-dupe-keys` will trigger on something like:
[code]
But there's nothing that will trigger on:
[code]

A case like that just gave me a 4-hour headache trying to debug, because apparently PhantomJS is a lot stricter about duplicate keys than browsers are. So I'm hoping we can get a rule to detect duplicate keys in JSX like that.

[2016-05-11 19:26] yannickcr commented on #593
I think you're looking for the [jsx-no-duplicate-props](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-duplicate-props.md) rule ;)

[2016-05-11 19:26] #593 closed

[2016-05-11 22:05] yannickcr commented on #591
After some tests the regression seems to come from https://github.com/yannickcr/eslint-plugin-react/commit/4e1bcc0020834f06801a6987043e085658e72bd7 so it should be here since v4.1.0

[2016-05-11 23:05] #591 closed

[2016-05-12 00:36] casesandberg commented on #388
I get `Configuration for rule "react/jsx-curly-spacing" is invalid: Value "data["1"].alternative" has additional properties` when trying to do `"alternative": true` as a third argument

[2016-05-12 00:48] yannickcr commented on #388
@casesandberg yes, `alternative` is not a valid option since this proposal is not implemented yet.

[2016-05-12 00:56] casesandberg commented on #388
Ah, got it @yannickcr, I will see if I can get it in tonight!

[2016-05-12 04:48] EvNaverniouk commented on #240
I've taken a stab at this in the `eslint-plugin-cumul8` repo (`npm install eslint-plugin-cumul8`). Will test this in various codebases before submitting as a PR to `eslint-plugin-react` Looking to others for testing and feedback.

Documentation here: https://github.com/Eight-Solutions/eslint-plugin-cumul8/blob/master/docs/rules/react-require-optimization.md

[2016-05-12 08:29] weekeight opened #595 "where can I find the standard writing of rule configuration"
I am confused when I write the eslint-plugin-react rule.Which rule writing in `.eslintrc` should prefix with `react/`?For example:

Environment: eslint@2.9.0 eslint-plugin-react@5.1.1

`.eslintrc`

[code]

run eslint with this `.eslintrc` , we would get the result:

[code]

but if we prefix `react/` on the rule `jsx-boolean-value`, allthing is right.So,I wanna know which rule should prefix with 'r

[2016-05-12 08:35] weekeight commented on #595
oh, my miss.I have found all react plugin rule should prefix with 'react/' string

[2016-05-12 08:35] #595 closed

[2016-05-12 14:36] yannickcr commented on #595
Yes, for reference see the [ESLint documentation](http://eslint.org/docs/user-guide/configuring#configuring-rules):

[2016-05-12 16:14] jedwards1211 opened #596 "consider removing no-did-mount-set-state from recommended rules"
Yes it leads to layout thrashing, but what else can you do when you need to perform a JS-computed layout?  One can work around this by using DOM measuring wrapper components, but for components that do JS layout, setState() in componentDidMount() is a fairly common way of doing it.

[2016-05-12 17:58] nihey opened #597 ""Component definition is missing display name" with React.createElement"
Hello `eslint-plugin-react` maintainers, your plugins has surely been of great help so far :)

But I recently had problems with `react/display-name` rule, I have several functions that return `React.createElement` instances on my code, and they seem to be triggering `react/display-name` rule, even though I'm not creating a `Component`.

I have isolated the problem on the following code:

[code]

T

[2016-05-12 22:17] ljharb commented on #597
A function that returns jsx (ie, that generates a `React.createElement`) is in fact a stateless functional component - so the rule would expect it to have a display name, propTypes, etc.

[2016-05-13 12:41] rapilabs opened #599 "sort-comp: Consider separating static fields & instance fields into separate groups"
Currently sort-comp asks me to place instance fields after methods in my class.  It's conventional to place instance fields above the constructor, underneath static fields.

Possibly also consider allowing static fields be grouped separately from static methods.

[2016-05-13 12:41] alexfedoseev commented on #454
I use it this way:

[code]

And it fails w/o:

[code]

[2016-05-13 14:15] ljharb commented on #599
I'd expect static fields and static methods to both be the last items in the class body, after everything instance-related is done - although I agree that instance fields could belong above the constructor.

[2016-05-13 14:41] djordjes commented on #455
+1

[2016-05-14 13:53] gitim commented on #572
Have the same issue. Is anybody already working on it? If not I'll prepare a pull request, which will add the option suggested by @ljharb to the rule.

[2016-05-15 09:48] aarongreenwald commented on #327
I did something along these lines in [this PR](https://github.com/Intellicode/eslint-plugin-react-native/pull/24) to [eslint-plugin-react-native](https://github.com/intellicode/eslint-plugin-react-native) but now I'm realizing perhaps it's not specific to React Native and could be useful here. But I don't do anything with the `style` tag.

Also, this rule only checks for object literals directly i

[2016-05-16 13:33] rbholeraj commented on #43
@MoOx, how i deal with static variable and properties now? My code is
class ParsedText extends React.Component {

  static displayName = 'ParsedText';

  static propTypes = {
    ...React.Text.propTypes,
    parse: React.PropTypes.arrayOf(
      React.PropTypes.oneOfType([defaultParseShape, customParseShape]),
    ),
  };

  static defaultProps = {
    parse: null,
  };}

I got error ,
ERROR in ./

[2016-05-16 13:54] MoOx commented on #43
You probably need babel-eslint as eslint parser

[2016-05-16 22:39] khankuan opened #603 "Rule Proposal: nested-levels"
Hey! Thanks for this project :)

I've a suggestion for a rule that checks the maximum nested levels of jsx. This is aimed to help to enforce splitting of components in smaller pieces.

[2016-05-17 00:24] #590 closed

[2016-05-17 00:48] tvervest commented on #454
I have to say I agree with the indenting as described by @goffreder. The ternary operator is indented by one level and the values are either a single line or contained within parenthesis where the content is indented (again) and the closing parenthesis is on the same level as the operator;
[code]

To me it just feels the most natural as the operators are indented in a way that's similar to chained

[2016-05-17 14:05] sohkai opened #605 "Add ability to ignore certain props from jsx-sort-props"
Useful when using React built-ins (ie. `key`, `ref`), or when you want a group of props to be together but the rest to be alphabetically sorted. For instance, I prefer having `key` and `ref` props to declared at the top before any other props, but all other props should be alphabetized.

Looking at the [implementation](https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-sort

[2016-05-17 18:13] casesandberg opened #606 "jsx-curly-spacing: Spacing Around Spread Operator"
Would love to see some controls over spacing around spread operators in JSX:

Not warnings:
[code]

Warnings:
[code]

[2016-05-17 21:02] ljharb commented on #606
Can you add some non-spread props into your examples, so they can be compared?

Airbnb's style guide requires that the spaces be omitted for all props, including spread props. Are you proposing making an exception when it's a spread?

[2016-05-17 21:29] casesandberg commented on #606
I am thinking this should be included in `jsx-curly-spacing` when always is set so that the spacing matches.

[2016-05-17 21:30] ljharb commented on #606
@casesandberg but specifically - do you want the spacing around spread but *not* around non-spread props?

[2016-05-17 21:32] casesandberg commented on #606
I would like spacing around both spread and non-spread props.

[2016-05-17 21:35] ljharb commented on #606
@casesandberg ok so doesn't `jsx-curly-spacing` set to "always" do what you want already?

[2016-05-17 21:35] ljharb commented on #606
See https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-curly-spacing.md#always

[2016-05-17 21:38] casesandberg commented on #606
It doesn't work on spreads

[2016-05-17 21:39] ljharb commented on #606
Ahhh ok so it's a bug - sorry, that wasn't clear :-)

[2016-05-18 08:47] nuschk commented on #476
Is this being considered? Seems a bit far-reaching for a linter, no?

[2016-05-18 08:58] ljharb commented on #476
I think this is basically impossible for a linter - it would have to dynamically evaluate the `utils/form` file in order to know what the prop types are.

[2016-05-18 09:30] nuschk commented on #476
Seems very plausible, thanks for the explanation.

Do you guys have other strategies for preventing re-typing proptypes then? Specifically, in our code, there are many redux-form components, which always use the same 8 to 10 props, which are injected by a decorator. While perfectly doable, it is a bit tedious to repeat them for every form.

[2016-05-18 20:31] Gattermeier opened #607 "Definition not found: jsx-first-prop-new-line"
Any idea why I would get the following error:

Installed:
[code]

[2016-05-18 23:15] ljharb commented on #607
What does `npm ls` say? I suspect it will tell you you need `v5.1.1` of `eslint-plugin-react`

[2016-05-19 08:41] onedesert commented on #226
👍

[2016-05-19 11:35] iongion commented on #552
In my react project I have non-react *ES6* classes that by chance have a `render` method, can the linter detect and shout when encountering only react classes ?

[code]

[2016-05-19 14:22] yannickcr commented on #552
@romainneutron and @iongion Can you test with the `v5.1.1` to see if you still have the issue ?

[2016-05-19 14:33] iongion commented on #552
@yannickcr I do not get it anymore, awesome!

[2016-05-19 15:26] EvNaverniouk commented on #552
@yannickcr Can confirm as well. Seems all good in v5.1.1

[2016-05-19 16:13] ljharb commented on #226
All +1's should now be in the form of reactions on the first post - I'll clean up the ones here, and any future ones. Thanks for everyone's interest!

[2016-05-19 16:14] ljharb commented on #552
Sounds like this is fixed - I'll close this now. Please reopen if there's further issues.

[2016-05-19 16:14] #552 closed

[2016-05-21 14:01] FezVrasta opened #609 "Wrong number of spaces for indentation expected in JSX blocks"
[code]

it throws an error, expecting the JSX to be at the same indentation level of the `return` statement. But it just seems wrong, I'd expect an additional indentation when using parenthesis.

[2016-05-21 14:21] FezVrasta commented on #609
I had to use

[code]

[2016-05-21 14:21] #609 closed

[2016-05-22 03:52] EvNaverniouk commented on #226
I'm going to take a stab at writing this rule. Will submit a PR.

[2016-05-22 05:10] lo1tuma commented on #226
What should happen if the whole `props` object is passed to an external third party function? Or if you are using the spread operator to pass-thru all props to a child component? I guess in such cases the rule should not warn.

[2016-05-22 09:08] silvenon commented on #226
Yeah, unfortunately I think this rule is prone to false-positives.

[2016-05-22 23:35] jamesdwilson commented on #226
Maybe we could just have it have options to issue warning or not if props object is passed to a third party function or using a spread operator? Instead of throwing the baby with the bathwater.

[2016-05-23 02:23] EvNaverniouk commented on #226
I've done a first pass at this here: https://github.com/yannickcr/eslint-plugin-react/pull/611 (Instructions on how to test and install are in the PR).

Still hunting down false positives, but early feedback would be highly appreciated.

[2016-05-23 08:47] daisymark commented on #557
i want konw  too...

[2016-05-23 08:52] daisymark commented on #557
I konw that!~  https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md

you can add this :
Rank.propTypes = {
  stuff: React.PropTypes.string.isRequired
}

[2016-05-23 21:42] anthonator opened #612 "jsx-closing-bracket-location props-aligned/after-props documentation wrong"
Not sure if this is a bug or documentation issue. Either way something needs to be switched.

Here's the rule I'm using:

[code]

to make this valid:

[code]

Documentation states the opposite.

[code]

[code]

[2016-05-24 09:59] wmertens opened #613 "jsx-key: does not support spread attributes"
If you do `<SomeEl {...{key: 123}}/>`, react/jsx-key will falsely alert.

[2016-05-26 00:03] ryancole commented on #536
I'm encountering this issue, myself. I've checked my eslint versions, and everything seems to be the most recent. I don't have eslint globally installed, either.

[code]

Don't mind the unmet deps for graphql, they're unrelated.

[2016-05-26 00:19] ryancole commented on #536
Blargh. Nevermind. I think Atom editor was keeping around an old version, or something. I just closed everything out, deleted all node_modules dirs, and started over. Works now.

[2016-05-26 10:13] giacomorebonato commented on #357
How bad is it to define the function outside of the component?
Ex.

[code]

[2016-05-26 10:54] Daniel15 commented on #357
@giacomorebonato  - No issue with that at all, although my personal choice is to write `function handleClick(e) {` as it looks more like 'regular' JavaScript and is shorter to write :)

[2016-05-26 11:17] silvenon commented on #357
Also, you have to be careful with `this`, if you happen to use it.

[2016-05-26 12:34] gre opened #614 "'react-native/no-unused-styles' rule don't always work"
this snippet:

[code]

triggers a 'react-native-no-unused-styles'

it looks like 'react-native/no-unused-styles' only works when you directly give it in the JSX. It shouldn't.

[2016-05-26 13:58] ljharb commented on #357
@glaco

[2016-05-26 13:59] ljharb commented on #357
@giacomorebonato if the function does not depend on `prop`, that's absolutely where it should be defined (but above the component, due to our `no-use-before-define` rule)

[2016-05-26 22:13] fatfisz opened #615 "prefer-stateless-function displayName false-positive"
I have a component factory that returns something like this:
[code]

Because I can't otherwise create a function with a computed name without some gymnastics, I think that `prefer-statelless-function` should not warn me about a component like this.

`hasOtherProperties` has a simple check for `displayName` - I think this property should be checked in a separate method with a bit more complicated l

[2016-05-27 14:48] anthonator commented on #524
I'm curious about this too!

[2016-05-27 16:12] ljharb commented on #524
Yes, it would, unless you've enabled the override options to it for arrow functions and/or refs.

[2016-05-27 17:18] linclark commented on #473
I need this for work so could take it on. But before I start, is anyone else currently working on it?

@tcoopman You can read more about this problem in [React.js pure render performance anti-pattern](https://medium.com/@esamatti/react-js-pure-render-performance-anti-pattern-fb88c101332f#.t6oyl2rq5) under _Functions create identities too_.

[2016-05-31 13:58] benjick commented on #614
This is the repo/issue: https://github.com/Intellicode/eslint-plugin-react-native/issues/15

[2016-05-31 14:07] gre commented on #614
good point. thx

[2016-05-31 14:07] #614 closed

[2016-06-02 03:18] whiskyoo opened #617 "react/jsx-indent"
code:

[code]

report error: Expected indentation of 16 space characters but found 14
Not covered test or it's right

[2016-06-02 04:08] ljharb commented on #617
The 2nd and 3rd lines of the ternary should be indented 2 characters in, since they're not the start of a statement.

[2016-06-02 05:45] sweetolive commented on #617
I see, tanks.

[2016-06-02 10:00] stefanbuck opened #618 "react/jsx-indent: Closing parenthese indentation"
The indentation of the closing parentheses on return statements seems to be not working.

The following patterns are considered warnings:

[code]

[code]

The following patterns are not considered warnings:

[code]

[code]

[2016-06-02 12:14] EECOLOR opened #619 "False positive for `react/prop-types` in decorator"
Minimal example:

[code]

It reports the following error:

[2016-06-02 15:00] ljharb commented on #618
The examples you've mentioned are exactly how it should be working. Is it working differently?

[2016-06-03 06:42] stefanbuck commented on #618
Mhhh, good to know. So it must be a configuration issue, right? I tried to find the conflicting rule without success. Would it be possible that you take a look?

https://github.com/stefanbuck/eslint-plugin-react-issues-618

[2016-06-03 07:03] ljharb commented on #618
@stefanbuck thanks for the repro repo! It definitely looks like a bug.

[2016-06-03 08:21] stefanbuck commented on #618
Is [jsxp-indent.js](https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-indent.js) the right place to fix it? I'll try to come up with a PR for this.

[2016-06-03 18:39] nshoes commented on #607
I was having the same issue, ran:

`npm install eslint-plugin-react@5.1.1`

and the error went away.

[2016-06-03 20:40] ljharb commented on #607
@Gattermeier please reopen if that doesn't fix your problem.

[2016-06-03 20:40] #607 closed

[2016-06-05 11:46] #474 closed

[2016-06-05 12:00] #68 closed

[2016-06-05 12:55] akozhemiakin opened #621 "False positive for react/prop-types in namespaced components"
[code]
Here eslint complains about missing prop types validation for SideMenu.Item

[2016-06-05 13:53] #495 closed

[2016-06-05 15:12] #531 closed

[2016-06-05 15:49] #572 closed

[2016-06-05 16:10] #240 closed

[2016-06-05 16:40] #388 closed

[2016-06-05 16:40] #211 closed

[2016-06-05 17:05] ljharb commented on #621
Why is it a false positive? `SideMenu.Item` is a component, and it needs `propTypes`.

[2016-06-05 18:15] akozhemiakin commented on #621
Yes, and as you can see in the provided code chunk propTypes are defined on it. But it seems that eslint does not see it.

[2016-06-05 18:27] #606 closed

[2016-06-05 19:32] ljharb commented on #621
aha, thanks for clarifying :-)

[2016-06-05 20:29] oliviertassinari opened #622 "sort-prop-types: follow variable reference"
As discussed in this [failing test case](https://github.com/yannickcr/eslint-plugin-react/pull/567)
I think that it would be great to support the following type of pattern:

[code]

However, it's not simple, it requires to follow variable reference.

[2016-06-05 20:31] ljharb commented on #622
When it's in the same file, this absolutely should work imo.

[2016-06-06 00:17] mandx opened #624 "Eslint crashes when using the object spread operator and `React.createClass`"
Test file
[code]

Output:
[code]

Eslint command line (called by SublimeLinter-eslint):
[code]

`.eslintrc` file:
[code]

`.babelrc` file:
[code]

[2016-06-06 00:25] ljharb commented on #624
What version of `eslint` and `eslint-plugin-react` are you using?

[2016-06-06 03:24] mandx commented on #624
Oh yes, I'm sorry I forgot about that. Here it is:
[code]

[2016-06-06 11:41] 0x80 opened #625 "Can't seem to properly indent ? : statements"
In our codebase we use quite a bit of this type of if/else rendering:

[code]

Whatever indentation I try I always seem to get a jsx-indent error. Is there a way to format this without the linter complaining?

[2016-06-06 13:20] yannickcr commented on #625
Seems related to #540

[2016-06-06 20:40] #624 closed

[2016-06-07 04:31] shendepu commented on #398
+1

[2016-06-07 04:41] ljharb commented on #398
I'm going to delete these `+1` comments, and any further ones - please follow GitHub etiquette and express that emotion with a reaction on the original post. Thanks!

[2016-06-07 06:58] ide opened #626 "Rule proposal: check constructor params for props and context"
This rule would check for:
[code]

React is lenient, so `constructor() { super(); }` works, so this is just a stylistic preference.

[2016-06-07 07:27] ljharb commented on #626
It should work with `...args` also.

[2016-06-07 13:04] eladcandroid opened #627 ""Parsing error: Unexpected token = " When i'm using an arrow function inside a component class"
![error_arrow_function](https://cloud.githubusercontent.com/assets/13297000/15858490/6e62d760-2cc9-11e6-9b42-62a1f0da6996.png)

[2016-06-07 16:19] ljharb commented on #627
@eladcandroid what's your `.eslintrc` look like? it looks like you're not enabling ES6 parsing (ES5 is eslint's default)

[2016-06-08 03:49] rrandom opened #628 "Could not auto fix react/jsx-indent problem"
`144:17  error    Expected indentation of 14 space characters but found 16  react/jsx-indent`

code:

[code]

and: `.eslintrc`

[code]

package.json:

[code]

All package related to eslint in `devDependencies` in package.json:

[code]

After running `npm run lintf`, the error shows and the code stays the same. `--fix` dit not auto fix `react/jsx-indent`.
Any Ideas?

[2016-06-08 05:20] ljharb commented on #628
Most rules in general don't have autofixers, so that's not a surprise.

This seems like it might be a bug with components referenced off an object (ie, with a dot).

[2016-06-08 05:33] rrandom commented on #628
Yes, but in https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-indent-props.md it says that could be fixable

[2016-06-08 05:36] ljharb commented on #628
Ah, good point.

@rrandom can you try the same example but use English (specifically, ASCII) text as the element contents? I'm wondering if it's a unicode code point issue (versus code units)

[2016-06-08 05:57] rrandom commented on #628
@ljharb Sadly, the same. Could not fix.
[code]
even with single file
[code]

[2016-06-08 17:34] rosskevin commented on #467
I'm seeing this issue with 5.1.1 as not fixed or my configuration is wrong. [Full Repo](https://github.com/rosskevin/my-relay-starter-kit)

Here's my eslintrc:

[code]

[code]

Do you spot anything I'm doing to misconfigure this?

[2016-06-08 22:12] forresto opened #629 "jsx-no-bind without jsx"
I'm trying to root out `bind`s in renders in my (non-jsx) components:

[code]

Can the `jsx-no-bind` rule flag those, or would it be a new rule?

[2016-06-09 05:45] ljharb commented on #629
you'd want `() => this.onClick()` rather than `.bind`. However, what's `el` and why isn't it a React compontnt?

[2016-06-09 11:56] forresto commented on #629
@ljharb I thought the point was to avoid creating functions in renders?

So I've ended up with:

[code]

[2016-06-09 16:43] ljharb commented on #629
@forresto yes, but `.bind` is far worse than creating an arrow function. Your approach is fine too (although it optimizes better if you do `this.onClick = this.onClick.bind(this)`, because the overall shape of the instance doesn't change)

[2016-06-09 17:09] rosskevin commented on #467
FYI - My issue was a bug with flow (nothing with this plugin!): https://github.com/facebook/flow/issues/1908

[2016-06-10 16:09] rodoabad opened #630 "jsx-handler-names triggers when using ES7 bind operator."
Example:

`onClick={props::handleCreateDealerHistoryReportClick}`

Which is the same as `handleCreateDealerHistoryReportClick.bind(props)` assuming `this` is `props` in a stateless function component.

[2016-06-10 21:13] ljharb commented on #630
That should actually be erroring out on the `jsx-no-bind` rule :-p but this should still be fixed.

[2016-06-10 21:17] rodoabad commented on #630
@ljharb if you have `jsx-no-bind` turned off and have `jsx-handler-names` turned on this will error out.

[2016-06-10 23:13] cktechnology opened #632 "propTypes not validating on classes that extend a subclass of React.Component"
Hello,

We have subclassed React.Component in order to expose intl functionality to all our React components:

[code]
When we create a new React component it would look like this:
[code]
Since I have purposefully commented out the propType that is required, I expect ESLint to give me an error saying "'name' is missing in props validation". However, it does not.

Only if I change the class to direc

[2016-06-10 23:38] ljharb commented on #632
There's no way for a linter to know that your superclass extends `React.Component` - I believe you can use jsdoc to annotate it with something like `/* @extends React.Component */`?

However, I'd recommend using composition instead of inheritance to share behavior, and encourage `require`ing `intl` where you need it rather than attaching it to every component.

[2016-06-13 11:09] alayii commented on #607
same issue here, already updated to eslint-plugin-react@5.1.1

[2016-06-13 14:35] ljharb commented on #607
@alayii what does `npm ls` say? Are you running a local or global eslint?

[2016-06-14 01:29] alayii commented on #607
running local eslint. It's ok for now, I think is atom problem? I upgraded eslint and eslint-react-plugin, but I'm not close atom, then I reopen it, the warning is gone.

thanks for reply.

[2016-06-14 02:58] ljharb commented on #607
Ah, gotcha. Thanks for clarifying.

[2016-06-14 19:56] yannickcr commented on #632
👍 But support for JSDoc is not released yet, it should be in the next `eslint-plugin-react` release.

[2016-06-14 21:23] yannickcr commented on #619
Seems to be the same issue as #591

It should be fixed in the next release, fill free to re-open if it is not the case.

[2016-06-14 21:23] #619 closed

[2016-06-14 22:16] yannickcr commented on #615
You can use `displayName` the same way on a stateless function:

[code]

[2016-06-14 22:24] fatfisz commented on #615
Oh... thanks a lot, it didn't occur to me somehow.

[2016-06-14 22:24] #615 closed

[2016-06-15 00:06] rhys-vdw commented on #557
Yes, I'm interested in this feature too. Although I'd be happy with either of these options:

 - Enforce prop types *only* on exported components.
 - Ignore stateless components (whose definition is typicaly shorter and more self explanatory)

I have no experience with ESLint source, but I'm willing to have a shot at submitting a PR.

[2016-06-15 22:06] yannickcr commented on #628
It is the `jsx-indent-props` rule that is fixable, not the `jsx-ident` rule ([yet](https://github.com/yannickcr/eslint-plugin-react/pull/608))

[2016-06-15 22:19] #630 closed

[2016-06-16 22:57] yannickcr commented on #632
Released in `v5.2.0`

[2016-06-16 22:57] #632 closed

[2016-06-16 23:14] strawbrary opened #637 "False positive for react/jsx-pascal-case on namespaced components"
In v5.2.0 I'm getting a false positive for the `react/jsx-pascal-case` rule when using namespaced components.

[code]

It looks like it was introduced in cd5ef2b17257d10f5398c35d7fc73fdfb9a360f9.

[2016-06-16 23:24] ljharb commented on #637
ping @evcohen

[2016-06-16 23:37] evcohen commented on #637
sorry bout that 😢
re: yannickcr/eslint-plugin-react/pull/638

[2016-06-16 23:39] #637 closed

[2016-06-16 23:41] yannickcr commented on #637
No problem @evcohen, thanks for the very quick fix 😉

[2016-06-17 04:29] daltones opened #639 "`prop-types` not handling argument destructuring inside constructor"
If I use ES6 destructuring on `props` argument of a `Component` constructor, rule `prop-types` doesn't handle invalid props.

[code]

*eslint: 2.12.0*
*eslint-plugin-react: 5.2.0*

[2016-06-17 10:11] gerbal opened #640 "jsx-no-bind catching all binding instead of just in props"
`JSX props should not use .bind()  react/jsx-no-bind`

is raised on the following using default settings.

[code]

[2016-06-17 11:08] yannickcr commented on #596
I am agree with you, actually I'm doing exactly the same thing in some of my projects (render, measure, setState, re-render).

But since it is pretty easy to do some accidental layout trashing without even realizing it I think it is better to keep this rule in the recommended ones, and use a `/* eslint-disable react/no-did-mount-set-state */` comment when justified.

[2016-06-17 11:23] dorsha opened #641 "ESLint check fails after upgrading to 5.2.0 - 'Cannot read property 'name' of undefined'"
Getting the following error after upgrading from 5.1.1 to 5.2.0:

![image](https://cloud.githubusercontent.com/assets/5429033/16148927/9e20d136-3495-11e6-8cc7-530dfa010eed.png)

This is a bit a blocker since our build fails.

Any idea?

[2016-06-17 11:40] yannickcr commented on #641
Can you post the source code that trigger the crash? I will try to quickly push a bugfix release.

[2016-06-17 11:45] dorsha commented on #641
Of course.

https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-no-bind.js#L23

Seems that callee.property is undefined.

This is the stacktrace:

[code]

[2016-06-17 12:18] yannickcr commented on #641
Well if you could isolate the piece of code in this file that trigger this error it will be very helpful for me to write a proper test case and a proper fix.

Thanks for your help :smiley:

[2016-06-17 12:29] mjackson commented on #596
It's absolutely necessary to do a `setState` inside `componentDidMount` for doing things like measuring. Since there's no other way to do this, I'd agree with @jedwards1211 that it should be removed from the "recommended" rules.

@yannickcr Maybe it's time for a `react/warnings` config? [eslint-plugin-import does this](https://github.com/benmosher/eslint-plugin-import/blob/9fb72740060fa7c722f5eb85

[2016-06-17 13:17] aviadl commented on #641
Here you are
import React, { Component, PropTypes } from 'react';
import { connect } from 'react-redux';

class ErrorExample extends Component {

  render() {
    return <span></span>;
  }
}

export default connect()(ErrorExample);

[2016-06-17 15:42] ljharb commented on #640
It should be raised there - jsx-no-bind is meant to catch all creation of functions in the render path, but *especially* uses of `.bind`, which is particularly slow. You want those in the constructor, not in render.

[2016-06-17 15:53] gerbal commented on #640
well, apparently I've been misunderstanding where to bind functions. Thanks :stuck_out_tongue:

[2016-06-17 15:53] #640 closed

[2016-06-17 16:11] Odywan55 opened #642 "Error: Cannot read property 'name' of undefined"
Hello , have such error :

TypeError: Cannot read property 'name' of undefined
    at EventEmitter.CallExpression (C:\Users\Rostyslav\Desktop\Last\node_modules\eslint-plugin-react\lib\rules\jsx-no-bind.js:23:24)
    at emitOne (events.js:95:20)
    at EventEmitter.emit (events.js:182:7)
    at NodeEventGenerator.enterNode (C:\Users\Rostyslav\Desktop\Last\node_modules\eslint\lib\util\node-event-gen

[2016-06-17 16:30] dorsha commented on #641
No Error:
[code]

Error:
[code]

This cause an error as well:
[code]

[2016-06-17 16:38] dorsha commented on #641
Redux actions error:

[code]

When removing the `dispatch(updateTest(res));` line there is no error...

[2016-06-17 16:41] dorsha commented on #641
Our ESLint dependencies:
![image](https://cloud.githubusercontent.com/assets/5429033/16157926/632b489e-34c3-11e6-8519-2ff545a28ce9.png)

[2016-06-17 17:14] ljharb commented on #642
Duplicate of #641.

[2016-06-17 17:14] #642 closed

[2016-06-17 19:18] Odywan55 commented on #641
Any fixes?

[2016-06-17 19:31] Odywan55 commented on #641
Thanks a lot !

[2016-06-17 20:04] #641 closed

[2016-06-17 20:14] yannickcr commented on #641
Thanks for your help, it should now be fixed in `v5.2.2`

[2016-06-17 20:42] dorsha commented on #641
Yup, fixed.
Thanks for the quick response.

[2016-06-17 21:21] Odywan55 commented on #641
Thanks, it's working.

[2016-06-17 21:32] Odywan55 commented on #641
Can you advice me best elsling config for react-redux app, thanks

[2016-06-18 21:00] #639 closed

[2016-06-18 23:22] jedwards1211 commented on #596
Well one *could* dispatch Redux actions and it will be interesting to see if anyone comes up with a really slick fully-JS layout solution for React components, but when one just needs a few workarounds for the limitations of CSS layout, then component `state` is a really logical place to put the layout info.

[2016-06-18 23:25] jedwards1211 commented on #596
Of course that begs the question: eslint leaders wouldn't consider dispatching Redux actions in `componentDidMount` a code smell, I hope?

[2016-06-19 00:20] mjackson commented on #596
"Despatch a Redux action" is just a really elaborate way of setting state.
On Sat, Jun 18, 2016 at 4:25 PM Andy Edwards <notifications@github.com>
wrote:

[2016-06-19 03:14] mjackson commented on #596
@yannickcr If you think `react/warnings` and `react/errors` might be a good approach, I can make a PR with what I think would be appropriate. Interested?

[2016-06-19 17:43] jedwards1211 commented on #596
@mjackson my point exactly

[2016-06-19 18:58] yannickcr commented on #596
@mjackson that's an interesting approach, even if I mostly agree with @ljharb about warnings https://github.com/yannickcr/eslint-plugin-react/pull/636#issuecomment-226657532.

I'll be definitely interested if you have the time to craft a PR with this.

[2016-06-19 19:00] #532 closed

[2016-06-19 22:18] #621 closed

[2016-06-20 00:50] ljharb commented on #532
@feugy That's why the best practice is to, in the constructor, do `this.foo = this.foo.bind(this)` or `this.foo = ::this.foo`, rather than binding in the render path.

[2016-06-20 08:36] feugy commented on #532
For sure @ljharb, I also think it's better to do it in the constructor, or to use [class properties](https://github.com/jeffmo/es-class-fields-and-static-properties#part-1-class-instance-fields).

[2016-06-20 17:40] jaysig opened #645 "Definition for rule "jsx-curly-spacing" was not found"
I'm having an issue getting the jsx curly spacing rule to work. The rest of the rules work fine, except I get the error above when I'm trying to lint.

[code]

[2016-06-20 18:19] ljharb commented on #645
Are you running a global or local `eslint`? What does `npm ls` print out?

[2016-06-20 19:05] jaysig commented on #645
i'm trying to run it within atom which I would assume means local. Here's what I have installed via npm

[code]

[2016-06-20 19:05] yannickcr commented on #645
A rule from a plugin must be prefixed by the plugin name, see [ESLint documentation](http://eslint.org/docs/user-guide/configuring#configuring-rules) about rules configuration.

In your case:
[code]

[2016-06-20 19:05] #645 closed

[2016-06-20 19:06] jaysig commented on #645
That fixed it, thank you.

[2016-06-21 03:13] calmdev commented on #507
What worked for me and may work applied to the context here is making sure that all `get` methods are defined prior to any `load` methods.

[2016-06-21 13:06] mwilliamson-healx commented on #410
I've probably missed something, but I'm still not sure how to enforce this. `jsx-first-prop-new-line` makes sure that the first prop is on a new line, but doesn't enforce anything about later props. `jsx-max-props-per-line` still applies equally to single-line and multi-line tags.

[2016-06-21 23:37] DrewML opened #646 "Proposal: Flag use of identifier in prop value when not in scope"
Note: I could not find an applicable rule that already exists in the readme. If I missed it, please let me know, and I apologize for the extra noise.

----

This one bit me pretty bad today.

Example:
[code]

In this ES module, there was no defined identifier for `status`. However, [there is a global for `status`](http://www.w3schools.com/jsref/prop_win_status.asp) in browsers, so our unit tests p

[2016-06-22 00:59] ljharb commented on #646
Does the normal eslint rule for undefined vars not catch this?

[2016-06-22 01:11] DrewML commented on #646
Huh - interesting. It's not flagging this particular scenario in our codebase, but I at least verified in ASTExplorer that it _should_ be working. For some reason I was operating under the assumption that ESLint rules wouldn't be checking JSX nodes in the AST, but I guess they're just looking for _any_ identifier.

Thanks for the sanity check @ljharb.

[2016-06-22 01:11] #646 closed

[2016-06-22 01:17] DrewML commented on #646
Should have realized sooner - wasn't being flagged because `browser` was set to `true` for `env`, and [`status` is part of the browser globals](https://github.com/sindresorhus/globals/blob/master/globals.json#L550)

[2016-06-22 06:16] ljharb commented on #646
Can't really avoid that, I think - if `browser` is `true`, then all browser globals are bugs waiting to happen :-/

[2016-06-22 17:22] jrajav opened #647 "jsx-indent-props fails on lines following preceding operator"
Example, with rule setting:

[code]

and source file:

[code]

eslint gives output:

[code]

I would expect it to understand that the indent is increased by the preceding operator on the line above.

[2016-06-23 23:14] lencioni opened #648 "jsx-curly-spacing autofix deletes comments"
If I have some JSX like:

[code]

the autofixer will change it to:

[code]

but it should change it to:

[code]

[2016-06-26 01:49] trusktr opened #649 "[BUG?] ESLint is checking syntax for text inside HTML element, when it shouldn't."
For example, I have a file with this content:

[code]

On line 5, which says `margin-top: -4px;`, ESLint says `Parsing error: Unexpected token`, but ESLint should not care what text I put inside of an HTML element (JSX).

My eslintrc:

[code]

Did I miss some configuration perhaps?

[2016-06-26 05:20] ljharb commented on #649
Aren't the `{` in jsx interpreted as surrounding a JS character? I think you might need `{'{'}` and `{'}'}` to have literal curly braces.

[2016-06-28 11:38] peet commented on #556
FYI: You mean object destructuring, not spread (...)

[2016-06-28 12:35] peet opened #650 "display-name enhancement: disallow specified names"
The problem that I'm having, which I'd like to enforce against, is code like this:

[code]

which gets a name of 'exports' and is entirely unhelpful in the React dev tools and console messages.

Either assigning to a variable first, or setting the `displayName` prop explicitly would be fine.

My proposal is to add config to the 'display-name` rule to disallow certain names, e.g
[code]

My feeling

[2016-06-28 21:01] TheSavior opened #651 "Request: Disallow iteration in render"
What are your thoughts on a rule like this:

Invalid

[code]

Valid

[code]

[2016-06-28 23:23] ljharb commented on #651
Why is this preferable? Personally I much prefer the former, because then I can make the component an SFC - since it has no state.

[2016-06-29 05:25] TheSavior commented on #651
Our team likes and enforces this rule because we find it easier and quicker to read the render function to see what a component is doing by seeing the well named function calls instead of inline maps.

Real code sample from our repo:

[code]

We find it way more readable to see that than to see the inline maps those functions are doing. Because of this, we socially enforce it everywhere, but want

[2016-06-29 05:48] TheSavior commented on #651
@ljharb, since you are a 👎  on the PR, can you provide some more insight into your thoughts on the code sample in my above comment? I'd like to better understand how you would approach that type of render with multiple iterations. I'm sure I'll learn something.

What if the calls to map weren't just passing an item to a prop, what if the map statements were many lines doing some work on each item

[2016-06-29 06:02] ljharb commented on #651
Here's how I'd write it:
[code]

If a component is complex, partially hiding that complexity by burying it in instance methods is a poor solution imo. When "everything inline" is hard to read, that's a strong indicator that your component hierarchy needs to be altered - make lots of small components, rather than big complex ones.

[2016-06-29 06:32] TheSavior commented on #651
I agree that small components are much better. Easier to understand, easier to test, easier to reuse.

However, it isn't always possible, tables are one example since a component can't return multiple `tr`s.

The point here isn't that because tables cause a problem we should give up on small components, just that there are many different sides to this story and tradeoffs to any given approach.

[2016-06-29 07:17] trusktr commented on #649
@ljharb Ah,that might be why, I didn't think about that. However if I do that then I think it will break [CSSX](https://github.com/krasimir/cssx) the transpile step. cc @krasimir

[2016-06-29 07:51] ljharb commented on #649
If so, that sounds like a fundamental incompatibility between CSSX and JSX - I don't think that's something eslint-plugin-react can really fix :-/

[2016-06-29 15:51] FezVrasta opened #653 "sort-comp not working by cli"
I have the `sort-comp` rule enabled, inside Atom (with ESlint package) everything works.

When I run the linter from CLI instead, the linter doesn't report any problem.

[code]

[code]

For instance, I'm putting a `submit()` method after `render()`

Am I doing something wrong or what?

[2016-06-29 15:56] ljharb commented on #653
Where's your eslint config? Typically it'd be in a `.eslintrc` file in the root of the project.

[2016-06-29 15:58] FezVrasta commented on #653
It's in `package.json`

[code]

[2016-06-29 16:01] ljharb commented on #653
What does `npm ls` say about all the eslint-related things?

[2016-06-29 16:02] FezVrasta commented on #653
[code]

[2016-06-29 17:15] ljharb commented on #653
@FezVrasta just to confirm, if you try with `eslint-plugin-react@5.2.2` and `eslint@2.13.1`?

Could you also share the code of the component that errors in your editor but not on the CLI?

[2016-06-29 20:44] yamadapc opened #654 "Throws an error when reading from passed prop's constructor"
This plugin is throwing an error with code like:
[code]
Adding constructor to the shape fixes it. The error thrown is:
[code]

[2016-06-30 04:40] krasimir commented on #649
@trusktr I just made [this](https://github.com/krasimir/eslint-plugin-cssx/commit/4035029c4c0c84351e117ed7660e74061d1b397a) commit. As a source for the new test case I used your code above and the test passes. I thought that maybe the order of running the plugins matter but that wasn't the case. No matter if I place `eslint-plugin-react` first or `eslint-plugin-cssx` the test passes without any er

[2016-06-30 17:47] FezVrasta commented on #653
Yes it happens even with the versions you have suggested.

The component is:

[code]

[2016-06-30 17:54] SirCmpwn commented on #596
Another point: async componentDidMount functions.

[2016-06-30 17:57] ljharb commented on #653
If you remove/comment out the static class properties, does the bug still occur?

[2016-06-30 22:11] yannickcr commented on #650
The `react/display-name` rule will already prevent this case, it will accept a `displayName` property or a named export but will throw if you try to do an unnamed export like your example.

[2016-06-30 22:11] #650 closed

[2016-06-30 22:40] #654 closed

[2016-06-30 22:55] yannickcr commented on #653
Hi, I do not see the `react/sort-comp` rule in your ESLint configuration. Are you sure it is correctly enabled?

[2016-06-30 23:05] yannickcr commented on #596
@SirCmpwn I'm not sure about what you are referring to. Should not the [`allow-in-func`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-did-mount-set-state.md#allow-in-func-mode) option cover this case?

[2016-06-30 23:06] SirCmpwn commented on #596
That option seems to be designed for this case, but it doesn't work with async/await keywords from ES7. Example:

[code]

[2016-06-30 23:45] ljharb commented on #596
(nit: async/await is not in ES7, it's stage 3 and just a "future ES proposal")

[2016-06-30 23:45] SirCmpwn commented on #596
Nit sufficiently picked, still an issue :)

[2016-07-01 03:01] nickjanssen opened #655 "No errors shown when having undefined components"
![eslintbug](https://cloud.githubusercontent.com/assets/2780160/16510726/94f95e90-3f83-11e6-95a9-3489df403e08.gif)

An error should be shown that `Text` is undefined.

To reproduce:

[code]

Rules:
[code]

[2016-07-01 03:12] nickjanssen commented on #655
Actually I've encountered more strange behaviour, unless I'm missing something:
![eslintbug2](https://cloud.githubusercontent.com/assets/2780160/16510883/0d47e8de-3f85-11e6-855d-41ef148f26cb.gif)

[2016-07-01 03:41] ljharb commented on #655
I believe lowercased components are just treated as HTML element tag strings - ie, no error is expected there.

[2016-07-01 09:34] trusktr commented on #649
Aha, well, I believe I should give `eslint-plugin-cssx` a try first! :} Didn't know it existed until you just mentioned it. I'll close, and probably won't need to re-open.

[2016-07-01 09:34] #649 closed

[2016-07-01 10:00] foiseworth opened #656 "Enforcing small render methods (limiting jsx content)"
I'm struggling to find a rule (in either eslint or eslint-plugin-react) to limit the length of render methods (including the jsx part). Normally this would be handled by max-statements but unfortunately this doesn't seem to count/apply to jsx (or it seems to count the entire return as a single statement).

So in the below example I want to limit the length of the function. Overall I would like the

[2016-07-01 13:46] FezVrasta commented on #653
@ljharb If I remove the static properties nothing changes
@yannickcr it's defined inside one of the defaults I import

[2016-07-01 17:19] Daniel15 commented on #510
Looks like this was implemented as `require-render-return`, at least for the simple cases.

[2016-07-02 03:09] ljharb commented on #510
I still think it would be useful on its own.

[2016-07-05 02:12] Kovensky commented on #524
How does React actually behave if the identity of the `ref` pseudo-prop changes?

If you put it on a DOM element, it's not a prop that is reflected on the DOM, so even if the diff algorithm finds that it needs to do "something" because it changed, it would not ultimately write to the DOM.

If you put it on a custom component, it's not a prop that can be read by the component (AFAIK), so it shouldn

[2016-07-05 11:10] mattdell commented on #226
Any update on this? Is there something preventing this from being merged?

[2016-07-05 11:17] paazmaya opened #661 "Support ESLint 3 and new rule format"
The new rule format, introduced in the ESLint version 3, is explained here http://eslint.org/blog/2016/07/eslint-new-rule-format

Any chance of converting the rules in that format and making a new major release which support ESLint 3 and up?

[2016-07-05 16:17] ljharb commented on #661
The only point of doing so would be to ensure compatibility with a future eslint v4, and doing so would break compatibility with eslint v2.

What's the hurry?

[2016-07-05 20:55] ljharb opened #662 "jsx-filename-extension errors on "executeOnText""
When using the JS API for eslint, I'm getting jsx-filename-extension errors.

[code]
I would expect `results[0].messages` to be an empty array, since `results[0].filePath` is `<text>`.

However, I get:
[code]

[2016-07-06 07:15] ljharb opened #663 "`jsx-no-bind` errors on non-react components."
I have Backbone views with a "render" method that are being warned when they have `.bind` used within them. Did something change recently that loosened the criteria for identifying a React component?

If the `render` method doesn't return JSX, and the component doesn't `extend React.Component`, and most importantly if the file itself doesn't even import/require `React`, why are these rules applyin

[2016-07-06 07:52] ljharb opened #664 "`no-comment-textnodes` false positive on URL"
I have JSX like the following:
[code]

Since the line doesn't start with `//` or `/*`, there shouldn't be any way this is identified as an accidental leaked comment.

[2016-07-06 10:16] paazmaya commented on #661
Living on the edge....

[2016-07-06 15:39] adamterlson opened #666 "Rule proposal: Disallow ES6 default parameter syntax in favor of .defaultProps"
Justification: create a standardized way to define default props across stateless and class components so as to have a unified style and to allow for the inspection of defaultProps for external usage.  For example, the programmatic generation of component documentation that includes default prop values.

This rule should only impact the function which defines a stateless functional component and t

[2016-07-06 15:58] ljharb commented on #666
`MyStatefulComponent.defaultProps({ foo: 'bar' });` is a noop - also, `defaultProps` can be either a function or an object literal.

I'm still not sure what the rule you're suggesting is for.

[2016-07-06 19:59] petersendidit commented on #534
Seems like the [jsx-first-prop-new-line.md ](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-first-prop-new-line.md) rule with the `multiline` option does exactly this.

[2016-07-07 01:56] lencioni opened #668 "Rename some JSX-specific rules to include "jsx-" prefix"
It seems that this naming convention hasn't been applied consistently. I think that it might be helpful to rename a few rules that are JSX-specific and not really React-specific:

- no-comment-textnodes -> jsx-no-comment-textnodes
- require-extension -> jsx-require-extension
- wrap-multilines -> jsx-wrap-multilines

and maybe

- self-closing-comp -> jsx-self-closing-comp

[2016-07-07 02:55] ianstormtaylor commented on #494
+1, turning this off for stateless function components is exactly what I need. They get used for one-offs, which don't make sense to turn on prop type checking for.

[2016-07-07 05:28] ljharb commented on #494
I would be fine with a rule stating that un-exported SFCs don't need propTypes.

However, any exported SFCs should have the same propType checking as any other kind of exported component, and I would be a strong -1 on any propTypes rule that differentiated between components solely based on their statefulness/statelessness.

[2016-07-07 15:06] ianstormtaylor commented on #494
That happens to work for my use case, so fine by me.

Although I have to say, I don't really understand the extremely rigid take on it. The whole point is that it's an **option** you wouldn't have to ever use if you disagree so strongly with it. But for other folks it makes sense that when they write one-or-few-liner components they don't want to have to be forced to add prop types.

Either way, I

[2016-07-07 16:50] adamterlson commented on #666
I tried to clarify the purpose of this rule in the justification section above.  I'm not sure how else to say it I guess.  Can you help me out by asking some questions about what is not clear?

[2016-07-07 18:59] ljharb commented on #666
In "examples for correct code" you have `MyStatefulComponent.defaultProps({ foo: 'bar' });` which is not correct code, because that's a noop expression. Correct code would be `MyStatefulComponent.defaultProps = foo` where "foo" is either an object literal, or a function that returns one.

[2016-07-08 05:08] adamterlson commented on #666
You are absolutely right, that was a syntax error on my part that I've corrected above.

I hope the rule's intent and potential impact on React development is clear regardless.  If this is not being expressed well, I'd love to discuss this further!

To be open, I plan on developing an eslint rule for this (or someone I'm working with) regardless because we've decided it's important for our team an

[2016-07-08 05:26] ljharb commented on #666
- a rule that requires defaultProps be present for all non-required props: strong +1
 - a rule that disallows default arguments in the constructor of a React component: +1

Are you suggesting anything else?

[2016-07-08 05:30] adamterlson commented on #666
I think this is a valuable rule, but is not one that I am proposing here (I believe that is a duplicate of other open issues already).

This is what I am going for. :)  When I said in the title "component definitions" I was trying to leave room for stateless functional components as well, but if you consider these "constructors" as well then yes, this is exactly what I mean.  The rule should apply

[2016-07-08 06:04] ljharb commented on #666
yes, constructor slash SFC.

OK, in that case I'm +1 on this request  :-)

[2016-07-08 06:23] MoOx commented on #661
The cool part is that there is a tool for that http://eslint.org/blog/2016/07/eslint-new-rule-format#automatic-transformation

[2016-07-08 06:28] MoOx opened #671 ""react/jsx-curly-spacing": [ 2, "always", { "spacing": { "objectLiterals": "never" }}] errors on node context"
I added spacing/objectLiterals config for jsx-curly-spacing and I think I am getting an issue.

[code]

The doc only show an example in props, not sure why it's yelling for nodes.

[2016-07-08 06:32] ljharb commented on #661
I've recently learned that both eslint v2 and v3 support this new rule format - so I think that the sooner we convert all the rules, the better.

[2016-07-08 06:33] ljharb commented on #671
Yes, you're correct. If that's erroring out, it's a bug.

[2016-07-08 11:58] #662 closed

[2016-07-08 11:59] #664 closed

[2016-07-08 15:07] adamterlson commented on #666
Awesome!  Thank you. :) Expect a PR on this in the indeterminate future.  Hopefully soonish.

[2016-07-08 18:00] milesj commented on #540
Can this really be it's own rule instead of relying on secondary indent rules?

[code]

[2016-07-08 18:52] nickstanish opened #672 "Rule Proposal: Error for using `this` in stateless function"
Would be great to catch these errors faster especially when converting classes to stateless functions

[2016-07-10 20:38] paazmaya commented on #661
Thanks for pointing that out @MoOx, I have seem not to read that far...

[2016-07-11 08:03] EdwardDrapkin opened #673 "Rule for no optional props without default values?"
Hello friends,

I was looking for a way to enforce a code quality guideline with eslint and seem to be unable.  Basically, we have a bunch of React components that define optional properties.  I'd like eslint to guarantee that all non required properties are required to have default values (e.g. if propTypes has a value of `foo: React.propTypes.string`, defaultProps has to have a key of foo set to

[2016-07-11 17:43] ljharb commented on #673
This seems like the same as #305, and is definitely a duplicate of #528.

[2016-07-11 17:43] #673 closed

[2016-07-12 11:01] cristian-sima opened #674 "Enable all rules"
How do I do this?

[2016-07-12 12:18] cristian-sima opened #675 "no-multi-component bug"
I have this code https://gist.github.com/cristian-sima/f30307147c2efaa526c19ac2579e7f0e

It produces an error, but there is only one component in the file

:strange

[2016-07-12 12:56] cristian-sima commented on #524
+1

[2016-07-12 13:59] petersendidit commented on #675
`renderSuggestion` is a stateless functional component.

[2016-07-12 14:30] cristian-sima commented on #675
Yes, it is. But is not a component :)

[2016-07-12 14:30] cristian-sima commented on #675
@petersendidit any workaround to keep it in the same file?

[2016-07-12 14:37] petersendidit commented on #675
[code]

[2016-07-12 14:39] cristian-sima commented on #675
Tx mate

[2016-07-12 14:39] #675 closed

[2016-07-12 14:47] ljharb commented on #524
@cristian-sima please don't reply "+1" to posts on github - that's what "emoji reactions on the original post" are for. I'll continue to clean up any such posts and I encourage you to add a +1 to the original post.

[2016-07-12 14:48] ljharb commented on #674
At the moment, manually list them out with all settings.

I think it might be useful to add, alongside ["recommended"](https://github.com/yannickcr/eslint-plugin-react/blob/master/index.js#L54-L77), an "all" preset.

[2016-07-12 19:09] dozoisch commented on #235
If people that use flow can use my branch and tell me if it works properly for them, that would be cool!

`"eslint-plugin-react": "https://github.com/dozoisch/eslint-plugin-react#typeannotations",`

[2016-07-12 20:48] gaearon opened #678 "Rule proposal: warn against using findDOMNode()"
There are almost no situations where you’d want to use `findDOMNode()` over callback refs. We want to deprecate it eventually (not right now) because it blocks certain improvements in React in the future.

For now, we think establishing a lint rule against it would be a good start. Here’s a few examples of refactoring `findDOMNode()` to better patterns.

### `findDOMNode(this)`

Before:

[code]

A

[2016-07-12 20:53] timdorr commented on #678
Some ideas to ease the transition:

Automatically reference the top node rendered on the component
[code]

Somehow do shorthand aliasing for the ref prop:
[code]

Provide a reference to the DOM node separately from the element reference:
[code]

[2016-07-12 20:56] gaearon commented on #678
In my opinion it seems like one of those cases where the only reason people want shortcuts is because they’ve been exposed to shorter magic syntax. Shorthands might seem “nice” but they actually make less sense coming from a beginner’s perspective. It’s easier to learn how the system works once than remember that `topDOMNode` is automatic but for everything else you need to use refs, or that `this

[2016-07-12 21:53] VladShcherbin commented on #678
@gaearon hey, can you leave a short note or is there a link to read why ref callbacks are preferred to ref strings? Thanks

[2016-07-12 21:54] notaurologist commented on #678
@gaearon Great idea! However, is this in addition to a warning within React itself? If the React team definitely wants to deprecate this, seems like it should definitely warn there, as well. Not everyone may use ESLint, and IMO, it's not ESLint's responsibility to notify users about feature deprecation.

[2016-07-12 21:56] timdorr commented on #678
@notaurologist There isn't a feature deprecation, just a potentially bad pattern, which is definitely ESLint's domain.

[2016-07-12 21:57] notaurologist commented on #678
@timdorr I agree, but as @gaearon said: "We want to deprecate it eventually (not right now) because it blocks certain improvements in React in the future." I think this definitely warrants an additional warning in React.

[2016-07-12 22:26] PEM-- commented on #678
Suppose that I want to create a behavior component that acts on the DOM of its provided child (like a fake mutation observer, for instance):

[code]

Now, as I'm agnostic to the type children passed like this:
[code]

I could clone the `AnyChildWithoutRefsLikePureComponent`, check it its a `Component` or a pure function, and if it's a pure function, turns it into a `Component` just to get a dynami

[2016-07-12 23:46] soyarsauce commented on #678
@gaearon small side node, in the after block - I believe the `findDOMNode(childComponentStringRef)` example is supposed to read `this.inputNode.focus();` rather than `this.inputNode.scrollIntoView();`

[2016-07-13 01:14] fhelwanger commented on #678
There's an example [here](http://codepen.io/ReactJSTraining/pen/QEEzbG/?editors=0010) of what @PEM-- described.

Basically, it's an element that pins its children scroll position to bottom as it grows.

[code]

And then it can be used by any content container, like that:

[code]

I don't know how it could be made simpler by using callback refs or something else.

[2016-07-13 03:12] alaindresse commented on #678
How do you suggest one deals with higher order functions over non-dom components, such as

[code]

[2016-07-13 04:07] ljharb commented on #678
@alaindresse why would that work any differently using `this.domNode`? the wrapped component would still work the same with the ref as it would with findDOMNode.

[2016-07-13 06:26] okonet commented on #678
I'm also wondering how is HOCs like this should be re-written then?

https://github.com/okonet/react-container-dimensions/blob/master/src/index.js

[2016-07-13 07:54] koenpunt commented on #678
Your third example's "After" doesn't match with "Before".
[code]
Should be
[code]

[2016-07-13 08:10] PEM-- commented on #678
Actually, it seems to me that all examples drill down to the same behavior. If we could setup a callback ref on a children passed as prop, the `findDOMNode` could then be removed.

A function like `React.Children.addCallbackRef` could do it.

Sounds legitimate. A parent can call its children 😉

[2016-07-13 08:21] gaearon commented on #678
Deprecating *is* adding a warning. So we plan to add a warning but in the future. I thought that maybe ESLint rule might be a better first idea *before* we deprecate it.

[2016-07-13 08:34] alaindresse commented on #678
@ljharb in the HOC, you don't know if ComposedElement is a DOM or a react class. The reference is then either a DOM node, or an instance of a react class. In the latter case, you need findDOMNode to get the actual dom node...

One idea would be to have two arguments in the ref callback
[code]
if the component is a dom node, r===n. If the component is a react class, n is the topDOMNode @timdorr ref

[2016-07-13 08:38] gaearon commented on #678
Yes, HOCs like this would have to wrap their content in an extra `<div>`. This sounds bad until you see that the whole concept is flawed.

People often request that React adds support for returning multiple nodes from render (“fragments”). Imagine we implement this. Now any component can either return zero, one, or many nodes.

Somebody changes one of the “measured” components to return two nodes

[2016-07-13 08:44] gaearon commented on #678
You can as long as children are DOM elements. You can check for that with `this.props.children && typeof this.props.children.type === 'string'`. In this case, to attach a callback ref, you can use `cloneElement` with a `ref` callback that calls the original `ref` function if it exists, and then does whatever you needed.

For reasons above you cannot do this on custom components.

[2016-07-13 08:55] PEM-- commented on #678
Indeed, I agree. It's like having a form that parses its input fields instead of giving the fields the capabilities to inform the form itself. It's parsing against eventing. And that's against the purpose of React 👍

DOM based operation should ensure that a parsable DOM is present.

[2016-07-13 09:36] Andarist commented on #678
@PEM @fhelwanger

its possible to cloneChildren with ref callback added to it, so it can be exposed to a wrapper component

 https://codepen.io/Andarist/pen/qNaNGY

[2016-07-13 09:56] PEM-- commented on #678
@Andarist: Thanks but it only works if your children are immediate DOM elements 😉

[2016-07-13 11:35] vitorbal commented on #528
I would like to work on this if no one is on it already!

[2016-07-13 11:38] fhelwanger commented on #678
@Andarist  @PEM-- Yes! The nice (or bad :smile:) thing about `findDOMNode` is that it can be another `React.Component`, something like:

[code]

And it'll find its DOM node anyway.

* [Here](http://codepen.io/anon/pen/PzOdBb?editors=0010) is the working example, using `findDOMNode`.
* [Here](https://codepen.io/anon/pen/bZYxxR?editors=0010) is the non working example, using callback refs.

One can

[2016-07-13 11:52] fhelwanger commented on #678
Just read @gaearon comments, and I agree 1000% with:

Now that I understand the problem better and how this make returning multiple nodes from render very difficult, I rewrote the example to wrap everything inside `PinToBottom` inside a `div`.

It's much more cleaner and doesn't breaks encapsulation!

https://codepen.io/anon/pen/qNVrwW?editors=0010

[2016-07-13 17:29] paulyoung commented on #494
This would be great. Is there any progress towards this yet?

[2016-07-14 09:53] #663 closed

[2016-07-14 10:27] yannickcr commented on #678
To come back to the ESLint rule

I'm agree, also adding a rule like this is pretty easy (we've already done something similar for [`isMounted()`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-is-mounted.md)).

[2016-07-15 00:32] pfhayes opened #680 "Proposal: Lint for entities appearing in JSX"
Example:

[code]

Now, when this renders, the body text will be "x=y>Body Text". This is almost certainly not what the developer intended.

It seems like any > that appears in the body of a react tag is probably an error. If the user wants this they should do &gt;, or perhaps {'>'}. We could go further and also suggest that other HTML special characters are replaced with the correct entities.

Is

[2016-07-15 02:02] pfhayes commented on #680
Here is a PR: https://github.com/yannickcr/eslint-plugin-react/pull/681

[2016-07-15 06:44] ljharb commented on #663
@yannickcr can you bump the alpha? (or better, the major :-) )

[2016-07-15 11:06] zombieJ opened #682 "is jsx-no-bind & no-multi-comp conflict?"
Hi, I have a doubt with `jsx-no-bind` & `no-multi-comp`.
In `jsx-no-bind`, arrow function will be separated in sub-component: [jsx-no-bind](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md)

and when using `no-multi-comp` will said multi component defined in one file. I think sub component need not move to another file cause its only used by parent component a

[2016-07-15 17:43] ljharb commented on #682
The location of the component returned in the arrow function is irrelevant - `jsx-no-bind` would complain here anyways, unless you disabled it for arrow functions.

In other words, `no-multi-comp` doesn't change the situation at all. Whether it's `const Foo = /* the definition of foo */` or `const Foo = /* something that imports/requires Foo */` it would complain the same.

[2016-07-15 17:43] ljharb commented on #682
Can you provide a code sample where you think they're related?

[2016-07-15 19:06] mjomble commented on #473
The documentation for this rule mentions that creating a new function on each render is bad for performance, but later recommends code like this:

[code]

This example still contains an arrow function inside `render`.
Isn't this just as bad? At least as far as the garbage collection argument is concerned.

[2016-07-15 20:29] pfhayes commented on #674
I have submitted a PR that addresses this: https://github.com/yannickcr/eslint-plugin-react/pull/683

[2016-07-15 20:31] cristian-sima commented on #674
Thanks

[2016-07-15 22:03] ljharb commented on #473
@mjomble `.bind` on render is very bad for performance. creating new functions in `render` is negligibly bad for performance.

[2016-07-15 22:22] mjomble commented on #473
This should probably be mentioned in the documentation. Currently it gives the impression that they are more or less equally bad.

[2016-07-17 00:51] rodoabad commented on #630
@evcohen did you submit a PR for this?

[2016-07-17 05:44] leonid-bauxy commented on #599
I've decided to take a stab at this and wonder how exactly do you guys see this work?

So far i've come up with an `instance-properties` keyword, which would **not** include arrow functions, only properties. So the default order would be:

[code]

Would this be alright with you?

[2016-07-17 06:20] le0nik commented on #599
I tried to add this feature with this PR: https://github.com/yannickcr/eslint-plugin-react/pull/685.

Will gladly take suggestions and feedback on it.

[2016-07-17 20:37] evcohen commented on #630
@rodoabad I PR'ed for reporting error on `jsx-no-bind` using ES7 bind operator.

[2016-07-17 23:16] yannickcr commented on #599
Also, to continue in this direction, it could be good to have separate groups for `static-method`, `static-properties`, `instance-methods` and `instance-properties`.

[2016-07-17 23:55] yannickcr opened #686 "Roadmap v6.0.0"
So here's what I have in mind for now:

* [x] Add ESLint as a peerDependency (PR #657)
* [x] Add `all` configuration (#674, PR #683)
* [x] Remove deprecated `jsx-sort-prop-types` rule (#549)
* [x] Remove rules deprecated options (like https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-deprecated.md) (PR #700)
* [x] Rename some JSX-specific rules to include `jsx-` prefix (ke

[2016-07-17 23:56] le0nik commented on #599
@yannickcr I like it, but it raises a couple of questions:

1. What would be considered `instance-methods` and `static-methods`? Would they be just arrow function properties or also regular functions?

Statics fields:

[code]

Instance fields:

[code]

I think it should be consistent for both `static-methods` and `instance-methods` `methods`, but then `renderSection` in the example above would be

[2016-07-18 00:04] ljharb commented on #599
There's actually a difference between a class method and a function-valued property - `handleClick = () => {}` is not an instance method, it's an instance property that has a function on it.

[2016-07-18 00:05] yannickcr commented on #656
I'm definitely interested by some rules to limit JSX complexity (another similar request: https://github.com/yannickcr/eslint-plugin-react/issues/603).

Potential inspiration: ESLint [complexity](http://eslint.org/docs/rules/complexity) rule and related.

[2016-07-18 00:08] ljharb commented on #686
That seems good to me.

[2016-07-18 01:16] le0nik commented on #599
@ljharb I think that it's pretty much the same thing, because functions on the prototype can be considered a property too. It's obvious if you use ES5 syntax:

[code]

In my opinion we need to determine what `instance` actually is. I thought of it as an object itself as opposed to it's prototype and wanted to separate instance functions(which are basically function-valued properties, like `handleC

[2016-07-18 01:17] ljharb commented on #599
The difference is that class methods are non-enumerable (properties are enumerable) and they have a `[[HomeObject]]`, which means they're eligible to use `super`.

[2016-07-18 01:20] le0nik commented on #599
This is a good point. Didn't look at it from this perspective.

For now I don't know how to move further with this. There are multiple approaches that could be taken.
Could someone else weigh in on it?

[2016-07-18 08:24] nkt opened #687 ""require-optimization" shouldn't warn on stateless components"
Configuration:
[code]
Code:
[code]

[2016-07-18 19:20] tleunen opened #690 "Rule proposal: Warn against using an arrow function/anon fn when declaring a component"
Component should be named, and arrow functions are anonymous functions, so they produce unnamed components.

Even if Babel currently transforms an anonymous function into a named function, and even if Chrome currently set a name (`fn.name`) when assigning it to a variable, I believe it would be best to add a rule to warn against the use of arrow functions.

For example, when using jsdom and enzyme

[2016-07-18 20:38] ljharb commented on #690
Perhaps it could be more generic and be configurable to require/allow specific function kinds for SFCs.

[2016-07-18 23:29] #549 closed

[2016-07-19 00:19] #678 closed

[2016-07-19 07:28] zombieJ commented on #682
for example, I have a group buttons:

[code]

Since the class `Button` is only used as sub component of `GroupButtons` which needn't make as export. Some of the grouping component has the sub component helping to replace the arrow function. I guess component `Button` could be ignore if is only used as sub component by `no-multi-comp`?

[2016-07-19 07:40] ljharb commented on #682
You'll get a `no-multi-comp` warning even if you just have one hardcoded `<Button>` inside `<GroupButtons>` - `jsx-no-bind` is not related.

[2016-07-19 09:52] #674 closed

[2016-07-19 10:02] mik01aj commented on #571
+1. I often use `_.noop` as a handler in my tests. I'd like to ignore this specific case.

[2016-07-19 15:38] zombieJ commented on #682
Yes. I want to fix `jsx-no-bind` arrow function so that create a sub component to handle it.  Is there an option of `no-multi-comp`  such as:
[code]
or
[code]

to ignore the component which is used as sub component inside or the component will not be exported.

[2016-07-19 15:50] gaearon commented on #690
Why? Per spec, the name *will* be assigned, so it’s fine.
(FWIW the official position is that arrow functions work well as components, and we might use this pattern in the documentation.)

[2016-07-19 16:11] ljharb commented on #682
There's already an option to ignore stateless components. If you need a more complex component than that, why wouldn't you want it in a separate file, where it can be properly tested?

[2016-07-19 16:13] ljharb commented on #690
@gaearon but in practice it is not always assigned. In general, explicit > implicit, and a linter rule to require explicit names by disallowing arrow functions is appropriate.

[2016-07-19 18:22] neiker commented on #507
Same issue, same fix

[2016-07-19 22:35] ljharb opened #692 "Rule proposal: no-event-handler-return-values"
When an `onFoo` handler is created inline, a la an arrow function, this rule should require that the function have no return value.

[code]

The goal is to prevent event handlers from returning `false`, so that they instead must explicitly call `preventDefault` or `stopPropagation` as desired.

This would ignore anything starting with "on" that wasn't a React-supported event handler, and would ign

[2016-07-20 01:47] Kovensky commented on #672
Wouldn't `no-invalid-this` catch this?

[2016-07-20 01:53] Kovensky commented on #666
Not sure if out of scope, but I use this pattern often, and it sounds like the kind of thing you want to catch with this rule too:

[code]

[2016-07-20 02:06] Kovensky opened #693 "Rule proposal: jsx-tag-spacing"
For some reason, `/ >` is valid JSX, as is `/` followed by any kind of whitespace until the `>`. This rule would require that the self-closing terminator is always written as an atomic `/>`.

Not having a check for this also allows for funny workarounds for [jsx-closing-bracket-location](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-closing-bracket-location.md), such

[2016-07-20 03:20] zombieJ commented on #682
This sub component is only used for the component(which simple handle only like `click` function) and I don't want to make it as export cause it's so tiny.

But for testing, yes, I guess all of component should be fully tested. Youve talked me into it.

Thanks for your patience :smiley:

[2016-07-20 04:42] #682 closed

[2016-07-20 04:42] ljharb commented on #693
I'm a strong +1 on this - there should never be a space between `/` and `>` and I'm horrified that someone would ever come up with that.

[2016-07-20 04:43] ljharb commented on #672
That's a good point - that's a core rule that prevents use of `this` in a standalone function.

[2016-07-20 05:40] Kovensky commented on #597
It seems this is also triggered when using thunks that return ReactElements (...which look very similar to a SFC, but are not quite the same).

Here's an example, where `t` is a function that, for the given arguments, returns `['String with ', <a href='/'>{'replacement'}</a>]`:

[code]

[2016-07-20 07:38] kumarharsh opened #694 "eslint doesn't catch some unused imports"
When I'm importing a component (say `Input`) which has other subcomponents as it's properties (like `Input.Placeholder`, `Input.Button`, etc), and there is another different component imported by a same name (say `Button`), and then if I use `<Input.Button>` in my code then eslint doesn't tell that `<Button>` is unused.

Reproducible code:

[code]

What should be expected?

The `import Button from

[2016-07-20 07:45] ljharb commented on #694
`no-unused-vars` is a core eslint rule. The use of jsx here shouldn't interfere with it, but if it does, I'd say it might need filing as an issue directly on eslint?

[2016-07-20 08:04] adamterlson commented on #666
I should think that is indeed out of scope to try and detect effective defaulting within the function body.  Quite difficult to detect all edge cases, such as:

[code]

and

[code]

Ideally yes, we wouldn't allow any such cases either! :)

[2016-07-20 10:17] kumarharsh commented on #694
Actually, I was in two minds where to file it, and I tried to reproduce the same with normal javascript, but can't get eslint to show the same behaviour...

For example, eslint does show proper errors in this case:
[code]

[2016-07-20 10:33] gaearon commented on #690
Can you help me understand in which situations it wouldn’t get assigned?

[2016-07-20 14:14] nickstanish commented on #672
That rule allows `this` if the function looks like a constructor, and the criteria for that is the name is capitalized or is actually a class constructor. Since SFCs begin with capital letter then that rule would allow it.

One possible solution is to add-on to that rule by determining if the function is a SFC.
The criteria for that could be something similar to:

- returns jsx or React.createElem

[2016-07-20 14:57] lencioni opened #696 "Rule proposal: disallow referencing another component's propTypes"
Some people might want to use [babel-plugin-transform-react-remove-prop-types](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types) to remove propTypes from their components in production builds, as an optimization. This transform changes code like:

[code]

into:

[code]

This works, but might end up breaking things in production if you import a component and then r

[2016-07-20 16:51] ljharb commented on #690
@gaearon In the Babel repl, this function has no name:
[code]
which thus would necessitate:
[code]
but export-defaulting one thing only from a file is also a best practice.

In node 4 and later, if you do `const foo = () => {};`, `foo.name` is the empty string - I don't know the exact range of node and Chrome versions that this applies to, since the latest Chrome does have name inference, but ther

[2016-07-20 21:20] AlexJuarez opened #697 "Update sort-comp defaults to include props for es6"
props is missing from https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/sort-comp.md#rule-options

[2016-07-20 21:59] jozanza commented on #599
This may be outside of the scope of this particular PR, but I would love to have more granular control over the ordering without the use of groups. Similar to how regular expressions may be used inside of the `order` property, it would be really nice to have a syntax that disambiguates `static`, `prototype`, `instance` props/methods. At the moment, this linting rule will not play nice with classes

[2016-07-22 00:07] #668 closed

[2016-07-22 04:52] ljharb commented on #686
5 down, 4 to go!

[2016-07-22 10:12] wereHamster opened #698 "False-positive in react/prop-types"
[code]

Somehow eslint thinks that the `{foo}` is a component prop:

It seems that the detection what actually is a prop is not precise enough. Because this warning/error can be avoided when I don't destruct the argument of the `f` function and instead access properties on it with the dot-notation:

[code]

Or if I destruct the argument inside the function body:

[code]

All three definitions of t

[2016-07-22 10:36] wereHamster commented on #698
Similar to #504

[2016-07-22 23:37] #504 closed

[2016-07-22 23:37] #698 closed

[2016-07-23 01:45] thewillhuang commented on #501
@ljharb thats great and all, but the current proposal is with classes, and until that has been agreed upon and or implemented this is still a false positive.

[2016-07-23 05:43] ljharb commented on #501
@thewillhuang "and properties". https://github.com/wycats/javascript-decorators#object-literal-method-declaration - it is NOT a bug, it is an *essential* part of the proposal.

[2016-07-23 11:37] yannickcr commented on #534
Yep, solved by https://github.com/yannickcr/eslint-plugin-react/pull/535

[2016-07-23 11:37] #534 closed

[2016-07-23 17:14] #391 closed

[2016-07-23 17:40] #671 closed

[2016-07-23 19:48] lencioni commented on #686
On this roadmap, you have

I'm not entirely sure what you want done here? Does this amount to removing the option and just having it always be the case, or should this be the case by default and there would be a new option like `disallow-in-func`?

[2016-07-23 21:49] yannickcr commented on #305
See #528

[2016-07-23 21:49] #305 closed

[2016-07-23 22:40] yannickcr commented on #663
@ljharb I just published `v6.6.0-alpha.2` with this fix (among others).

[2016-07-23 23:58] yannickcr commented on #686
I was more thinking about something like this.

[2016-07-24 16:25] lencioni commented on #103
@Cellule you should check out [eslint-plugin-jsx-a11y](https://github.com/evcohen/eslint-plugin-jsx-a11y)!

I think that a specialized accessibility eslint plugin is best for this, so I think this issue should probably be closed out.

[2016-07-24 16:29] lencioni commented on #174
It might be useful to check out [react-codemod's ReactUtils](https://github.com/reactjs/react-codemod/blob/a88df9212467cf9c2df10c92dd03e91d6944503a/transforms/utils/ReactUtils.js) to see the methods they use for this kind of thing.

[2016-07-24 16:32] lencioni commented on #245
There are a number of rules that are autofixable now. This issue can probably be closed out.

[2016-07-24 16:32] ljharb commented on #103
Agreed.

[2016-07-24 16:32] #103 closed

[2016-07-24 16:34] #245 closed

[2016-07-24 16:37] lencioni commented on #284
@Daniel15 I might not be looking in the right place, or I might not be running thins in the right way, but I don't see links to documentation on any ESLint errors when I run eslint in my terminal. Can you give us an example of the command you are running and the output you see?

[2016-07-24 17:57] lencioni commented on #697
Are you referring to [class property declarations](https://github.com/jeffmo/es-class-public-fields)? That feature is currently only a stage 1 proposal and is not yet part of the standard. You can see the list of active proposals here: https://github.com/tc39/proposals

More info on what stage 1 means here: https://tc39.github.io/process-document/

[2016-07-24 17:58] lencioni commented on #694
This might be related to the jsx-uses-vars rule: https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md

[2016-07-24 18:00] ljharb commented on #694
@kumarharsh do you see the same behavior when you enable the `react/jsx-uses-vars` rule?

[2016-07-24 18:06] lencioni commented on #694
I believe I found the bug. PR coming soon.

[2016-07-24 20:30] lencioni commented on #655
This is happening because `Text` is a global in the browser environment.

Here's the data that ESLint uses to set up the globals for the environments: https://developer.mozilla.org/en-US/docs/Web/API/Text

And here's more information on the Text API: https://developer.mozilla.org/en-US/docs/Web/API/Text

[2016-07-24 20:48] lencioni commented on #468
This is basically a duplicate of #314, which I've implemented in #703.

[2016-07-24 20:51] lencioni commented on #399
This seems to have been an issue with peer dependencies and npm 3, and can likely be closed out.

[2016-07-24 20:52] lencioni commented on #327
I've done something similar in #703, which might serve as a pretty good start for a rule like this one.

[2016-07-24 21:01] lencioni commented on #100
I did something similar for static methods in #429, if you are looking for an example of how this might be accomplished.

[2016-07-24 21:17] Cellule commented on #103
Thanks for sharing this, this is exactly what I was looking for.

[2016-07-24 21:45] #399 closed

[2016-07-24 21:45] #468 closed

[2016-07-24 22:51] yannickcr commented on #507
Can you post your eslint configuration and a full code example that trigger the error? Thanks.

[2016-07-25 01:09] Kovensky commented on #693
It also turns out that `<Tag><   /Tag>` is weird but valid JSX too, so I made the rule also check for this.

[2016-07-25 03:47] ljharb commented on #693
Also `</ Tag>` ideally.

[2016-07-25 04:38] Kovensky commented on #693
I can implement that, but I think it should be a separate rule. This one concerns itself with space in the opener/closer itself, while the other rule would worry about whitespace between the opener and the component name (analogous to jsx-space-before-closing).

[2016-07-25 05:16] Kovensky commented on #693
Per discussion with @ljharb on the babel slack:

Merge this proposed rule with `jsx-space-before-closing` and a rule for checking space after opening, with a default schema like:

[code]

`afterOpening` would also have an `'allow-multiline'` suboption. Adding an `'allow-multiline'` suboption to `beforeClosing` (and using it as default instead) is possible, but a stricter `beforeClosing: 'always'`

[2016-07-25 05:18] ljharb commented on #693
Let's also rename this rule to `jsx-tag-spacing` - and then we can deprecate `jsx-closing-bracket-location` and copy the tests over.

[2016-07-25 06:15] Kovensky commented on #693
Because `jsx-space-before-closing` only works on self-closing tags, I'll name the equivalent option `beforeSelfClosing`, and have `beforeClosing` apply to regular closing tags instead. The defaults would be `beforeSelfClosing: 'always'` and `beforeClosing: 'never'`.

[2016-07-25 08:55] kumarharsh commented on #694
@ljharb yes, `jsx-uses-vars` is already set in eslintconfig. @lencioni's PR seems good :)

[2016-07-25 17:38] rik commented on #528
It would be great if that rule allowed an option for non-required booleans to be excluded. Because if they are not provided, it will be a falsy value.

[2016-07-25 17:41] ljharb commented on #528
Falsy, but not false. Relying on falsiness can result in implicit coercions that can cause hard-to-find bugs. If an option for that were added, it'd need to be off by default, but I'm -1 on adding that option.

[2016-07-25 17:46] rik commented on #528
I agree that it should be off by default but I still this as a nice option.

If it isn't provided, it's `undefined`. If it is provided, it has to be `true` or `false` or the `propType` will complain. So I think we're fine in terms of implicit coercions.

[2016-07-25 17:57] ljharb commented on #528
The implicit coercion would be in the component code itself, where it expects a boolean but sometimes gets `undefined`.

[2016-07-25 20:16] neiker commented on #507
Yes, no problem:
`
{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "classes": true
    }
  },
  "rules": {
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline

[2016-07-25 21:06] ljharb commented on #686
It looks like the last 3 issues all have PRs up - how quickly do you think we could get to a v6?

[2016-07-25 21:23] #694 closed

[2016-07-25 21:35] yannickcr commented on #507
Thanks. Can you also post a React Component that trigger the bug?

[2016-07-25 21:36] yannickcr commented on #686
@ljharb I hope to publish an RC before friday and the final this week-end if there is no major issue.

[2016-07-25 21:39] #687 closed

[2016-07-25 21:43] yannickcr commented on #655
Yep, It's an edge case an there is nothing we can do to fix this.

[2016-07-25 21:43] #655 closed

[2016-07-26 00:47] ilyavolodin opened #708 "ESLint regression build failing"
ESLint core has a nightly regression build that runs unittests and lints a few popular projects with the latest master. For the last two days it's been failing on `eslint-plugin-react` unit tests. Not sure if it's a real problem or not.

[code]

Let me know if you want/don't want me to post those issues in the future.

[2016-07-26 01:03] ljharb commented on #708
Did eslint change to add or remove a trailing period on error messages?

[2016-07-26 01:09] neiker commented on #507
I could not find it, but I remember it was something like:

[code]

[2016-07-26 01:24] ilyavolodin commented on #708
Add: https://github.com/eslint/eslint/pull/6739

[2016-07-26 02:44] thewillhuang commented on #501
ah i see, missed that part completely

[2016-07-26 04:09] lencioni opened #709 "Rule proposal: prevent some DOM elements from having children or dangerouslySetInnerHTML"
There are some HTML elements that are normally self-closing (e.g. `img`, `br`, `hr`). If you try to give these children, React will give you a warning like

It would be nice to have a rule enforcing this.

Bad:

[code]

[code]

[code]

Good:

[code]

The full list that React uses can be found:
- https://github.com/facebook/react/blob/85dcbf83/src/renderers/dom/shared/ReactDOMComponent.js#L421
- ht

[2016-07-26 04:47] ljharb commented on #709
This seems like an excellent idea, and one that's mostly enforceable with both jsx and `React.createElement` (it wouldn't be enforceable with spreaded props that contain a "children" key, but I think that's OK)

[2016-07-26 04:50] lencioni commented on #709
Yeah, I think the 99% solution is great.

[2016-07-26 04:52] ljharb commented on #708
@ilyavolodin Thanks - the regression build + issue post is awesome. Technically that change constitutes a breaking change, since our tests are now breaking.

However, `eslint-plugin-react` does not yet support `eslint` 3, and this is just tests. I'll try to update the test messages so they pass both with and without the periods - hopefully that will ensure there's no other failures.

[2016-07-26 04:53] lencioni commented on #709
What should this be called? `void-element-tag-no-children`?

[2016-07-26 04:55] ljharb commented on #708
Actually, it kind of seems like `eslint`'s own RuleTester should maybe ignore trailing periods, since that's what we're using to validate this (or, accept a regex rather than a string)?

[2016-07-26 04:56] lencioni opened #710 "Rule proposal: prevent both children and dangerouslySetInnerHTML at the same time"
React will issue a warning if you try to use dangerouslySetInnerHTML and children at the same time.

https://github.com/facebook/react/blob/85dcbf83/src/renderers/dom/shared/ReactDOMComponent.js#L170

This should be easy enough to enforce for most cases with a linter rule.

Bad:

[code]

Good:

[code]

[code]

[2016-07-26 04:58] ljharb commented on #709
Since it's just for DOM elements, what about `self-closing-dom-elements-no-children`? "void element" isn't a term I'm familiar with, but "self-closing" is.

[2016-07-26 04:59] lencioni opened #711 "Rule proposal: enforce shape of dangerouslySetInnerHTML"
React will issue a warning if you try to use dangerouslySetInnerHTML with a value of the wrong shape.

https://github.com/facebook/react/blob/85dcbf83/src/renderers/dom/shared/ReactDOMComponent.js#L173-L177

This should be easy enough to enforce for most cases with a linter rule.

Bad:

[code]

[code]

[code]

Good:

[code]

[2016-07-26 05:02] lencioni opened #712 "Rule proposal: forbid innerHTML prop on DOM element tags"
React will issue a warning in dev if you try to use pass `innerHTML` prop to a DOM element tag.

https://github.com/facebook/react/blob/85dcbf83/src/renderers/dom/shared/ReactDOMComponent.js#L182-L184

This should be easy enough to enforce for most cases with a linter rule.

Bad:

[code]

Good:

[code]

[2016-07-26 05:03] ljharb commented on #711
This seems like it should perhaps be an addition to `no-danger`?

[2016-07-26 05:06] lencioni opened #713 "Rule proposal: disallow children on DOM element tags when contentEditable"
React will issue a warning in dev if you use `contentEditable` with children. This can be suppressed with `suppressContentEditableWarning`.

https://github.com/facebook/react/blob/85dcbf83/src/renderers/dom/shared/ReactDOMComponent.js#L187-L193

This should be easy enough to enforce for most cases with a linter rule.

Bad:

[code]

Good:

[code]

[code]

[2016-07-26 05:08] lencioni opened #714 "Rule proposal: disallow onFocusIn and onFocusOut on DOM element tags"
React will issue a warning in dev if you use `onFocusIn` or `onFocusOut`.

https://github.com/facebook/react/blob/85dcbf83/src/renderers/dom/shared/ReactDOMComponent.js#L196-L200

This should be easy enough to enforce for most cases with a linter rule.

Bad:

[code]
[code]

Good:

[code]

[code]

[2016-07-26 05:12] lencioni opened #715 "Rule proposal: ensure style prop on DOM element tags is an object"
React will issue a warning in dev if you pass a non-object to the `style` prop on DOM element tags

https://github.com/facebook/react/blob/85dcbf83/src/renderers/dom/shared/ReactDOMComponent.js#L204-L207

This should be easy enough to enforce for most cases with a linter rule.

Bad:

[code]

[code]

[code]

Good:

[code]

[code]

It would be even nicer if it validated that the values of the style

[2016-07-26 05:19] lencioni commented on #709
I thought about that, but I think self-closing may refer to elements that are also able to accept children but happen to be rendered without children, such as `div`. I'm not totally sold on the void naming either, but it is the language used by React and the HTML spec: https://www.w3.org/TR/html-markup/syntax.html#syntax-elements

[2016-07-26 05:21] lencioni commented on #711
Perhaps, but I think that would require renaming no-danger to something more general, and giving it options.

I like keeping them separate, because someone might want to generally enable no-danger, but disable it in a specific situation and still have this protection.

[2016-07-26 05:22] ljharb commented on #709
In that case, maybe `void-dom-elements-no-children`? "tag" isn't appropriate if it's not just jsx, and i like including "dom" to point out that it's not for custom components.

[2016-07-26 05:23] lencioni commented on #709
That works for me!

[2016-07-26 06:37] nkt commented on #687
Great, thanks!

[2016-07-26 08:36] lukeapage opened #716 "jsx-uses-vars breaks eslint prefer-const"
I have code like this
[code]
but with prefer-const on, the prefer const error on `filters` is removed when I switch on `jsx-uses-vars`

[2016-07-26 14:29] petersendidit commented on #710
I can work on this. What should this rule be named? `jsx-no-children-and-dangerouslySetInnerHTML` ?

[2016-07-26 14:58] kostasmanionis commented on #490
Ummm guys... Hasn't this change been reverted? https://github.com/facebook/react/pull/6243

[2016-07-26 15:03] stevoland opened #717 "Allow configuration of React.Component subclasses in settings"
Hi, apologies if this has been addressed before. I know subclassing `React.Component` is frowned upon but we make extensive use of a couple of subclasses for historical reasons.

I wonder if you'd consider accepting a PR to allow configuring Regexes of module paths which export these subclasses. Something like:

[code]

To allow the following as `isES6Component`:

[code]

I realise this can be add

[2016-07-26 15:24] kostasmanionis opened #718 "SVG attributes linted incorrectly"
There was an issue created asking for native attribute support on svg elements https://github.com/yannickcr/eslint-plugin-react/issues/490

This was based on `React v15.0 Release Candidate`, but that change has since been reverted in [React v15.0 Release Candidate 2](https://facebook.github.io/react/blog/2016/03/16/react-v15-rc2.html). And it never made it to the final release.

Soooo right now sv

[2016-07-26 15:42] ljharb commented on #710
The rule needs to be all lowercase - maybe `jsx-no-danger-with-children`?

[2016-07-26 15:46] lencioni commented on #710
Since this is scoped to DOM elements, perhaps that should be part of the name? In #709 we settled on `void-dom-elements-no-children`, so perhaps this should be `dom-elements-children-or-inner-html` or `dom-elements-no-inner-html-with-children` (or `dom-elements-no-danger-with-children`, but I worry that "danger" may end up being too broad at some point)?

I think that the `dangerouslySetInnerHTML`

[2016-07-26 15:49] ljharb commented on #710
Ah yes, that's true, and it should catch `React.createElement` uses as well.

I think `dom-elements-no-danger-with-children` or `dom-elements-no-inner-html-with-children` is fine.

[2016-07-26 15:50] lencioni commented on #712
Name: `no-inner-html`?

[2016-07-26 15:51] lencioni commented on #710
Thinking about #712, which I think might be named `no-inner-html`, I think `dom-elements-no-danger-with-children` might be better actually. Plus it makes me laugh.

[2016-07-26 15:52] lencioni commented on #713
Name: `dom-elements-no-content-editable-with-children`?

[2016-07-26 15:53] lencioni commented on #714
Name: `dom-elements-no-on-focus-in-or-out`?

[2016-07-26 16:01] lencioni commented on #715
Name: `dom-elements-style-is-object`?

[2016-07-26 19:36] lencioni opened #720 "Rule proposal: disallow children prop"
Children should always be actual children, not passed in as a prop.

Bad:

[code]

Good:

[code]

This should also apply to `React.createElement`.

Name: `no-children-prop`?

[2016-07-26 20:04] jimbolla opened #721 "rule proposal: don't rename "props" on functional components"
Just had an issue on our team with someone missing their curlies to destructure props, eg:

[code]
instead of:
[code]

It would be nice to have a rule that catches that... if a function is a component, the first arg should either be destructured or named `props`.

[2016-07-27 00:40] pfhayes commented on #680
Here is another potential error that this rule might catch (from the PR):

[code]

Any feedback on this rule? I think it is very useful and it has caught several subtle errors in my project, and would help others similarly

[2016-07-27 03:50] lukeapage commented on #716
I created a repro repo..
https://github.com/lukeapage/eslint-react-bug-prefer-const-716

[2016-07-27 18:23] lencioni commented on #721
This rule should also probably include naming the second argument `context` for the same reasons. It should also likely apply to React Component class constructors.

[2016-07-27 19:11] calmdev commented on #507
I haven't been able to intentionally reproduce it either. It happen while I was refactoring a component. If I come across it again I'll post an example.

[2016-07-27 21:02] mikecousins commented on #507
Yes, I can no longer reproduce this. Maybe it was fixed by accident?

[2016-07-27 21:14] yannickcr commented on #716
Thanks for the issue, but if I'm right there is nothing we can do on our side to prevent this, since the issue seems to come from ESLint itself (https://github.com/eslint/eslint/issues/5837), right?

[2016-07-27 21:18] ljharb commented on #716
It sounds like with `prefer-const` there's a (correct) error, and with `prefer-const` + `jsx-uses-vars`, there's (incorrectly) not an error.

[2016-07-27 21:19] calmdev commented on #507
This is by no means a practical example, but it will cause the message to appear at least.

Maybe it will help.

[code]

![screen shot 2016-07-27 at 5 18 44 pm](https://cloud.githubusercontent.com/assets/461249/17192828/35483a3e-541e-11e6-9d60-0e9ce5095395.png)

[2016-07-27 22:08] #596 closed

[2016-07-27 22:09] ljharb commented on #686
@yannickcr there's still one unchecked item on the list - is that punted to v7?

[2016-07-27 22:11] petersendidit commented on #686
I just rebased #699 so it should be able to be merged cleanly.

[2016-07-27 22:19] yannickcr commented on #686
@ljharb no, still planned for v6 :)

[2016-07-27 22:24] ljharb commented on #686
Should this be reopened until that's merged?

[2016-07-27 22:26] yannickcr commented on #596
Since there is some legitimate use cases to use `setState` here I have removed these rules from the recommended configuration. The rules are still available for who want to activate them manually.

[2016-07-27 22:26] yannickcr commented on #686
Yep

[2016-07-27 22:29] #661 closed

[2016-07-27 23:48] yannickcr commented on #507
Thanks @calmdev , I was able to reproduce the bug with your example. I'll fix this.

[2016-07-28 00:24] yannickcr commented on #716
`prefer-const` is ignoring variables with `eslintUsed` set on it. Since that's how we mark a variable as used in ESLint I don't see what we can do here 😐

But:

* We mark `JSXOpeningElement` (`<App />`) and `JSXExpressionContainer` (`{filters}`) as used but ESLint seems to correctly handle `JSXExpressionContainer` without the help of this rule. Maybe we could remove this? (All tests are still pass

[2016-07-28 02:23] lukeapage commented on #716
Yeah sorry for not updating after tracking down.

I left this open until a solution is found, in case something needs to be done here as welll.

[2016-07-28 21:36] yannickcr commented on #718
Ho! Seems we missed that 😞

[2016-07-28 22:39] #718 closed

[2016-07-29 07:21] ljharb commented on #686
@yannickcr any more things to add to the above checklist, or are we good for a final release? :-)

[2016-07-29 18:00] yannickcr commented on #686
Still a few changes and I think I'll be good to push an RC in the coming hours.

[2016-07-29 19:21] yannickcr commented on #708
ESLint v3.2.0 was just published with this "breaking" change. I updated the dependencies and the tests to match with the new error message.

[2016-07-29 19:21] #708 closed

[2016-07-29 19:31] yannickcr commented on #686
`v6.0.0-rc.0` is not published on npm.

You can install it with `npm install eslint-plugin-react@next`

[2016-07-29 21:55] ljharb commented on #708
Linking to https://github.com/yannickcr/eslint-plugin-react/commit/19ece14135897da6bf887ac3a818b0918b74da61

[2016-07-30 19:12] #571 closed

[2016-07-30 21:13] gaearon opened #726 "Rule proposal: warn on <lowerCaseFirstLetterInJSX /> when a binding with this name exists in scope"
React currently treats JSX types starting with lowercase letter as Web Components. This is documented but beginners often miss that section. I think in 99% cases using a Web Component is *not* what people want, and it [trips them bad](https://www.reddit.com/r/reactjs/comments/4va9l3/super_noob_question_i_am_trying_to_put_a/).

I propose the following heuristic. If we see `<lowerCaseFirstLetterInJS

[2016-07-30 21:15] gaearon opened #727 "Document how to add React Bootstrap"
This comes up fairly often.

Unlike React Router, it is not immediately obvious how to add React Bootstrap because it needs its own CSS. So I think it’s worth documenting this here (even though we won’t document adding e.g. the router) because this is a super common use case for beginners.

[2016-07-30 21:15] #727 closed

[2016-07-30 21:15] gaearon commented on #727
Ugh, wrong repo, sorry 😥

[2016-07-30 21:25] gaearon commented on #726
Amended the proposal in response to [feedback](https://github.com/facebookincubator/create-react-app/issues/299#issuecomment-236390563) from @vjeux.

[2016-07-30 21:53] ljharb commented on #726
With Web Components, would you not be importing them, or are they implicitly global?

[2016-07-30 23:58] gaearon commented on #726
They are global. (At least React has no mechanism of using anything other than strings or React components as JSX element types.)

[2016-07-31 00:48] ljharb commented on #726
Gotcha.

This seems like it might be more useful as a generic rule that only allows lowercased HTML tag names in JSX, along with a user-provided "allow" list for whatever Web Components they need to use?

[2016-07-31 09:17] alexzherdev commented on #726
I've looked at the history of jsx-pascal-case, and I think it used to do something similar to what is suggested, but stopped doing it here: #329
That issue has the example of a "label" variable, which, being an HTML element name, would be addressed by the whitelist, but there was also an SVG example. I'm not that familiar with SVG, but I guess it also has a limited set of element names, so hypothe

[2016-07-31 14:55] yannickcr commented on #726
It would requires us to keep an up to date whitelist but I think it should not be too hard to maintain such list.

Maybe we could do a generic rule about component naming? (and replace `jsx-pascal-case` which is very specific).

[2016-07-31 15:04] gaearon commented on #726
What kind of generic rule?

[2016-07-31 20:27] yannickcr commented on #726
Validate component naming in JSX (must start with an uppercase letter) and having some options to restrict allowed names (pascalCase for example)

[2016-07-31 21:05] gaearon commented on #726
I’m not sure I understand your proposal. How would you tell between a React component and a Web Component without a whitelist (and/or a heuristic) like in my proposal?

[2016-07-31 21:16] vjeux commented on #726
Web components must have a dash somewhere in their name fyi

[2016-07-31 21:16] yannickcr commented on #726
Ho, I realize my first message was not very clear.

My suggestion was to do your proposal (with the whitelist) and add what does `jsx-pascal-case` as an option for this rule.

[2016-08-01 04:22] ljharb commented on #686
I see rc.1 is out. Is there a planned time to release v6?

[2016-08-01 08:53] mik01aj commented on #571
should I open another issue for making this regex configurable so that I can exclude `_.noop`?

[2016-08-01 14:36] jtraub opened #729 "False "react/prop-types [PROP_NAME] is missing in props validation" in a class based component having methods with destructured annotated params (Flow)"
Consider a following snippet

[code]

Linting gives false error

[code]

A quick look up shows that the problem is caused by [this commit](https://github.com/yannickcr/eslint-plugin-react/commit/259fab4ed1cb6299eb7059b90c995684a0a4baed) which fixes a similar problem.

P.S. This report is based on [StackOverflow question](http://stackoverflow.com/q/38684925/471899).

[2016-08-01 17:41] ljharb commented on #571
@mik01aj yes, I think that's a good idea

[2016-08-01 18:57] nwhitmont commented on #686
What's the timeline on this?  Appears to be blocking [airbnb eslint config installation](https://www.npmjs.com/package/eslint-config-airbnb) --https://github.com/airbnb/javascript/issues/936

[2016-08-01 19:06] yannickcr commented on #686
@ljharb @nwhitmont `v6.0.0` should be released in the coming hours.

[2016-08-01 19:52] yannickcr commented on #686
`v6.0.0` is now published on npm

[2016-08-01 19:52] #686 closed

[2016-08-01 21:18] lencioni commented on #686
Thanks for all of your hard work on this plugin @yannickcr! This plugin has greatly helped me and my teams over the past couple of years, and I just wanted to make sure you feel appreciated for the effort you put in here. This is such an valuable tool that you've built. 👏  👏  👏

Thinking ahead to future major version bumps, I'm wondering--is there anything that I (or others who are interested) can

[2016-08-01 22:15] nwhitmont commented on #686
Thank you @yannickcr !

[2016-08-02 00:00] yannickcr commented on #686
Thank you all for your support 😍 , and thanks for your contributions @lencioni 😃

Well, there is more and more open issues and PRs to review/validate and I have some difficulties to keep up with all of this. I added @ljharb as a contributor a few months ago and he made a really great work on issues triage, PRs validation and responding to users questions ❤️ . So I'm now thinking about adding more

[2016-08-02 00:37] ljharb commented on #686
I'm biased because I work with @lencioni, but I highly endorse his being added!

[2016-08-02 03:24] lencioni commented on #686
Sure!

[2016-08-02 04:09] ljharb opened #730 "`self-closing-comp` warns on elements with whitespace children."
`<div>    </div>` is NOT supposed to be self-closing - the whitespace is reduced to a single space, but it's definitely not zero spaces. Currently the rule recommends that this JSX be self-closed, but that would result in the removal of a space.

[2016-08-02 07:45] yannickcr commented on #686
Done :)

[2016-08-02 08:03] Kovensky commented on #696
I think there should be a way to allow it in case you use the PropTypes of a given component as part of the PropTypes definition in a containing component.

This is a contrived example that doesn't really gain much of anything, but I think that in such constructs, it's better to validate the proptypes if you know what they're supposed to be than taking in `PropTypes.any`:

[code]

[2016-08-02 09:07] mik01aj opened #732 "Add configuration to react/jsx-handler-names (e.g. whitelist some name)"
In my case, I often use `_.noop` as event handler in my unit tests. I'd like to whitelist this case.

Perhaps this could be solved in some generic way, i.e. since [the rule uses RegExps anyway](https://github.com/lencioni/eslint-plugin-react/blob/master/lib/rules/jsx-handler-names.js), these RegExps could be configurable.

This was originally reported by me in https://github.com/yannickcr/eslint-p

[2016-08-02 15:25] lencioni commented on #696
I think it is fine to allow this as long as we can reasonably detect this type of usage.

[2016-08-02 17:46] thenickcox opened #733 "`sort-comp` rule treats methods beginning with `get.*` as es6 getters"
Here is the relevant part of my component:

[code]

I get `filterData should be placed after getFilterIdFromName`.  Looking at the rules (and the source for `sort-comp`, I believe it's matching against a regex that thinks `getFilterIdFromName` is a static property getter?

Here's my `.eslintrc`:

[code]

[2016-08-02 17:59] alangpierce opened #734 "Allow legacy allow-in-func setting for no-did-mount-set-state"
It looks like https://github.com/yannickcr/eslint-plugin-react/commit/376dc53656f78059fb405d9e30c2f402717f6882 changed the no-did-mount-set-state rule so that allow-in-func is now the default and the only allowed option now is disallow-in-func. This ends up breaking an existing set of rules I'm using ( https://github.com/1hella/eslint-config-airbnb-es5 ) that is still specifying allow-in-func.

Ma

[2016-08-02 18:37] ljharb commented on #734
@alangpierce that change was made in a semver-major version - so `eslint-config-airbnb-es5` (which isn't an official airbnb config, fwiw) needs to update itself in order to work with it.

I'd recommend filing a pull request on that config to update itself.

[2016-08-02 18:38] ljharb commented on #733
I believe the intent is that all getters - syntactic or conceptual - should be grouped together. `getFilterIdFromName` is a getter, just not a syntactic one.

[2016-08-02 19:01] thenickcox commented on #733
I think I agree philosophically, but it's being used as a helper method here, and it seems most practical to keep it close in proximity to the methods employing it. In that sense, it feels like it should fall into the [everything else](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/sort-comp.md#rule-options) category.

[2016-08-02 20:42] ljharb commented on #733
PRs improving documentation are always welcome! However, let's wait until @yannickcr has confirmed that indeed that was the intent of the rule.

[2016-08-02 22:41] #729 closed

[2016-08-03 01:23] alangpierce commented on #734
Ok, I'll take that approach (either get eslint-config-airbnb-es5 updated and released, fork it, or find a way to stop depending on it). Yeah, I understand that the major version bump means that breaking changes are expected. This was more of a feature request/inquiry than a bug report.

In general I do think it would be nice if breaking changes were done in a two-phase way (when possible/reasonabl

[2016-08-03 01:23] #734 closed

[2016-08-03 08:03] kossnocorp opened #735 "False negative of prop-types with stateless components"
When a stateless component is created as a property of an object, `prop-types` gives false negative:

🚫 reports "'children' is missing in props validation":

[code]

👌🏽 works fine:

[code]

[2016-08-03 10:36] pandaiolo commented on #678
As an addition example for those who need access to a component DOM node from its parent but also from the component itself, here is the modified code from @gaearon example:

    class Field extends Component {
      render() {
        return (
          <input type='text' ref={node => this.props.inputRef(node) && (this.node = node)} />
        )
      }
    }

It seems somewhat trivial but it too

[2016-08-03 13:15] jochienabuurs commented on #322
any progress on this topic?

[2016-08-03 14:21] perrin4869 commented on #678
Another problem I can come up with, is when it comes to animating properties like `scrollTop`. Animating `scrollTop` with any animation library requires the actual DOM node. For example, the only way to add animation to @fhelwanger's pin to bottom codepen example would be to manually hardcode the animation logic, instead of being able to reuse `Velocity` or `jQuery`, etc

[2016-08-03 15:17] gaearon commented on #678
@perrin4869 I described this use case in the very first post in this thread. You **can** get the DOM node without `findDOMNode()`, just use a ref.

[2016-08-03 15:54] fhelwanger commented on #678
@perrin4869 Check this: https://github.com/yannickcr/eslint-plugin-react/issues/678#issuecomment-232332949

You can use the ref available inside `PinToBottom` to get the DOM node you need. Then you can pass it to jQuery, Velocity, etc.

[2016-08-03 16:11] ozum opened #737 "React.pureComponent ignored (React v15.3.0)"
Using eslint-plugin-react v6.0.0 `"react/prop-types": ["error"]` rule does not generate error for `React.PureComponent` which is added in react v15.3.0.

Example:
`"react/prop-types": ["error"]`

[code]

[2016-08-03 17:40] lencioni commented on #737
Thanks for the report! I think we need to update some of our utility methods to better detect these new things. e.g. https://github.com/yannickcr/eslint-plugin-react/blob/763382f8d4ec5961c765bbb71cd2698016da5b53/lib/util/Components.js#L195

@ozum would you be interested in submitting a PR for this?

[2016-08-03 18:54] brenoc opened #738 "Rule proposal: Split jsx-sort-props into separate rules"
I love the options of jsx-sort-props like callbacksLast, but the alphabetical thing is not what I'm looking for.

I think it would be great to split the options into separate rules, like:
- jsx-sort-props-callbacksLast
- jsx-sort-props-shorthandFirst
- jsx-sort-props-shorthandLast
- jsx-sort-props-alphabetical (the jsx-sort-props we have today)

[2016-08-03 19:06] ozum commented on #737
Unfortunately,I don't have enough React experience for this PR. This is my first week with React.

[2016-08-03 20:16] yannickcr commented on #737
Working on it

[2016-08-03 20:46] #737 closed

[2016-08-03 21:05] thejameskyle commented on #453
Should eslint-plugin-react add babel-eslint somehow to people's configs? Seems pretty standard in the React community

[2016-08-03 21:12] ljharb commented on #453
Requiring `babel-eslint` means it has to be a peer dependency, so that would add some burden on everyone wishing to use the plugin.

However, if we want rules that support flow types, it's possible we might need to require that parser.

[2016-08-03 21:13] ljharb commented on #738
It seems like this would be better solved by an option on the main rule to disable alphabetical sorting. I don't think it's a good idea to have multiple rules that directly conflict/overlap.

[2016-08-03 21:47] mjackson commented on #512
FWIW `react-motion` also allows you to specify a `children` prop that returns React elements. We're currently working on moving the `react-router` API even more in this direction, so we need a fix here.

I'd suggest we stop treating any function that returns JSX as a stateless functional component unless we can also prove that someone is using it in a call to `createElement` somewhere. Since I sus

[2016-08-03 21:50] ljharb commented on #512
It's not just any function that returns JSX - it's functions that return JSX and take a "props" (or destructured) first argument, and an optional "context" second argument.

How else would you propose detecting SFCs so that rules can be applied?

[2016-08-03 21:52] mjackson commented on #597
While such functions *may* be used as components (i.e. passed as the first arg to `React.createElement`), I think it's too aggressive to assume that all such functions *are* components. As render props become more and more common (ala react-motion and react-router) this is going to be a larger concern.

I'd say we can close this issue as a dup of #512

[2016-08-03 21:54] mjackson commented on #512
That's not true. I just triggered the `react/display-name` warning on an anonymous function with a blank argument list.

The only way you can definitively tell that the user intends to use a function as a SFC is to see if they ever use it as the first arg to `React.createElement`.

[2016-08-03 22:01] ryanflorence commented on #512
I think you just have to check if it's anonymous or not. If anonymous, it's not a component.

[code]

[2016-08-03 22:08] ljharb commented on #512
Yeah, all arrows are anonymous, but I think you're saying, a "maybe SFC" (the current rubric, which as @mjackson points out might not be as smart as I think it should be, including the fact that SFCs don't have to use props at all) that is also exported or assigned to an identifier - as opposed to one that's passed directly as an argument to something that's not `React.createElement`.

I think reg

[2016-08-03 22:09] ljharb commented on #597
I agree this is a duplicate of #512.

[2016-08-03 22:09] #597 closed

[2016-08-03 22:11] ryanflorence commented on #512
What's wrong w/ keeping your current metric and adding "assigned to a variable"? Is there ever a case where you have a SFC that isn't assigned to a variable?

[2016-08-03 22:11] ljharb commented on #512
`export default () => <div />`

[2016-08-03 22:12] lencioni commented on #512
@ljharb

Not all SFCs take props though, right?

[2016-08-03 22:12] ljharb commented on #512
@lencioni yes, you're right - i mentioned that in https://github.com/yannickcr/eslint-plugin-react/issues/512#issuecomment-237390419

[2016-08-03 22:12] ryanflorence commented on #512
assigned to variable OR default export

[2016-08-03 22:16] ljharb commented on #512
@ryanflorence if that includes `const foo = { bar: () => <div /> }` under "assigned to variable" i totally agree, which is what I said in https://github.com/yannickcr/eslint-plugin-react/issues/512#issuecomment-237390419 :-)

[2016-08-03 22:22] ryanflorence commented on #512
Sounds good.

Don't forget that many people like myself will just disable the rule when it's this noisy (I use these react-motion render props all over the place) and the end effect is no linting for any propTypes, so I tend to think the other direction :)

[2016-08-03 22:23] mjackson commented on #512
I'm just worried that other people are going to stumble on this error and think "man, React is hard" just because they made a function that returns some JSX and they're using the "recommended" lint setting. Can we perhaps separate out this functionality into an opt-in sfc-display-name rule?

[2016-08-03 22:30] betaorbust commented on #365
This would be extremely useful. In general, we're trying to guard against what a file exports, not the contents of how it builds that export.

[2016-08-03 23:09] lencioni commented on #365
How should such a rule relate to higher-order components?

[2016-08-03 23:14] yannickcr commented on #512
I try to reduce false positive/negative when detecting React Components, but it is particularly hard with SFC since they are simple functions and since the linting is made file by file we don't know where/how it will be used.

Right now I think we are not too bad at detecting SFC since we have covered most of the common patterns used by the community. Of course there is still some edge cases (like

[2016-08-03 23:16] ljharb commented on #365
I'd think that only the HOC itself would be exported, and so this option would work well with HOCs?

[2016-08-04 00:28] perrin4869 commented on #678
Hm... I'm confused then. In the snippet below, is there any difference between `this.node` and `this.domNode`, and could it affect how animation libraries work?

[code]

[2016-08-04 00:41] mjackson commented on #512
I first encountered this error this afternoon while working on the `<Media render>` API for [`react-media`](https://github.com/ReactTraining/react-media). The rule was complaining about [this test](https://github.com/ReactTraining/react-media/blob/a7c461f9be485c07ce41b2e72be16c0e60b885e9/modules/__tests__/Media-test.js#L110-L113) specifically.

We will have an identical API in the next release of

[2016-08-04 00:45] fhelwanger commented on #678
@perrin4869 You don't need `this.domNode = findDOMNode` for it to work. The `ref` prop on your `div` already gives you the DOM element. Thus, `this.node` is already your DOM element.

You can do something like the following:

[code]

[2016-08-04 08:22] pandaiolo commented on #678
@perrin4869 the use case where there is a difference, is illustrated by @gaearon in the last example of his first post, is when you reference a _react component_ - and not already a DOM element like the `div` in your example - and need to access the actual DOM node of this component (eg to use the `focus()` method of an input tag).

In that case, the children component needs to expose a prop to fo

[2016-08-04 08:49] koenpunt commented on #678
@pandaiolo but you probably shouldn't be accessing the DOM node from another component.

[2016-08-04 09:11] pandaiolo commented on #678
Isn't the `TextField` a good example? I have a `Video` component enriching the `video` DOM element, which I need to access props and methods (`play()`, `pause()`, `paused`, `currentTime`, etc). Is there a reason I would not let the parent access the `video` DOM node?

[2016-08-04 09:18] koenpunt commented on #678
I think the best solution would be to let the video component have a `isPlaying` prop, which changes trigger the required methods on the video component.

Something like this:

[code]

[2016-08-04 09:32] danielditgens opened #739 "Update description on no-string-refs"
Hi,

the example given in your description is colliding with no-return-assign. A solution to this is mentioned in https://github.com/airbnb/javascript/issues/884.

You can use replace
[code]
with
[code]

Best, Daniel

[2016-08-04 09:36] pandaiolo commented on #678
The component is simple and just exposes the video events as a prop. I could explicitly rewire all the native methods and props as well, but i'm not sure the added complexity is worth the linter code in that case. In the end that would just mean putting back the `video` element in the parent component.

Thanks for pointing this anyway, I fully adhere to the "React way" so I understand that based o

[2016-08-04 09:43] koenpunt commented on #678
Are you using React without Redux or flux or anything? Because then I can understand. But when you do use one of those, you really want to control the video using the state of the application.

[2016-08-04 10:06] pandaiolo commented on #678
I do in the parent component which concern is about video control. Putting the `video` element back there would add rather than remove complexity / readability - but yeah it's my call :)

[2016-08-04 15:49] ljharb commented on #157
@benjamine that plugin seems to not work with `.jsx` files, which is kind of a nonstarter.

[2016-08-04 16:12] #739 closed

[2016-08-04 17:01] benjamine commented on #157
@ljharb I know it says that, but I'm using it in a .jsx and works fine.

[2016-08-04 18:11] gaearon commented on #678
In this case you can put them on the `TextField` instance. Then the parent will have a ref to that instance, and call methods on it. And `TextField` will use its own ref to DOM element.

[code]

etc

It’s more typing but it’s also more explicit and doesn’t leak implementation details.

[2016-08-04 18:14] lencioni commented on #678
This is the [Law of Demeter](https://en.wikipedia.org/wiki/Law_of_Demeter)

[2016-08-04 20:24] jquense commented on #678
deprecating findDOMNode is a an alarmingly upseting idea... Unless you are adding back getDOMNode(), it's going to make writing a large amount of react code just so so terrible. "Add and extra DOM node to use callback refs" is really really untenable for a ton of use cases; along with, effectively making interop with css frameworks not written with react almost impossible.

[2016-08-04 20:26] jquense commented on #678
to to mention it effectively just ignores the fact that multiple layers of HOCs are the norm now thanks to mixin "deprecation" :P

This sounds like an idea from folks who nicely own ever single component they use. for those using libraries... oof

[2016-08-04 20:34] gaearon commented on #678
If you have specific examples of problematic patterns please post them in the thread. This is exactly what I did in the post, and it would really help is weigh on this decision (and maybe think of better alternatives). It would help us a lot if you could do the same thing. You might think your concerns are obvious and we are intentionally ignoring them. In reality it's not at all obvious what you

[2016-08-04 20:44] taion commented on #678
The case where this comes up most acutely is having a positioner component for e.g. tooltips and overlays.

Consider:

[code]

For `<Position>` to work as a generic component that can e.g. calculate the size of its child, then position it appropriately relative to its target, it needs to be able to get the child's DOM node.

To be compatible with e.g. Bootstrap styling, it's not generally possible

[2016-08-04 20:50] taion commented on #678
The category in general is utility components that need to interact with the DOM nodes belonging to their children, for functionality such as positioning, animation, &c.

If you control all of your own styling, then perhaps the extra `<div>` is acceptable, though not ideal. If you don't control your CSS, then adding an extra `<div>` can be a non-option.

[2016-08-04 21:06] jquense commented on #678
Sorry if I sound a annoyed, these sort of drastic changes can feel like they are coming out of blue. A proper RFC process for this stuff would really be helpful here.

to add to @taions point, so to for focus management, which is required for accessible components, right now react just offers nothing useful for that problem which requires dropping down to DOM nodes, and not wrapping ones in the HO

[2016-08-04 21:38] wbobeirne opened #740 "`prop-types` rule errors out on ExperimentalRestProperty node property"
Though syntactically valid, the following code:

[code]

causes the `markPropTypesAsUsed` function to fail here: https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/prop-types.js#L578 with the following error:

because the property object looks like this, with no `key` property:

[code]

Here are all of my eslint-related module versions, in case there's something wrong there:

[

[2016-08-04 21:55] zachguo opened #741 "utils.isReturningJSX is returning false all the time"
I found this when I was working on a new rule. #736

All following SFC nodes are considered not returning JSX by `utils.isReturningJSX(node)`. `utils.isReturningJSX(node.parent)` & `utils.isReturningJSX(node.body)` are both returning false too.

[code]

[code]

[code]

[2016-08-04 22:24] zachguo commented on #741
We may need a new util function like `isStatelessFunctionalComponent` to handle SFC detection. SFC detection has been discussed and requested many times: https://github.com/yannickcr/eslint-plugin-react/issues/512 https://github.com/yannickcr/eslint-plugin-react/issues/578 https://github.com/yannickcr/eslint-plugin-react/issues/672
And the util function should be unit tested.

[2016-08-04 22:36] ljharb commented on #741
Certainly `isReturningJSX` should be fixed.

Separately, an `isSFC` function should be added, but that doesn't have to be done at the same time.

[2016-08-05 00:23] lencioni commented on #678
@gaearon I ran into a problematic pattern today where I think I need `findDOMNode`. This is a bit of an unusual situation and if you can see an alternate solution, I would love to know.

I am currently working on setting up [Happo](https://github.com/galooshi/happo) to do visual regression testing in CI. The basic idea is we have some code that:

1. renders a React component to the DOM
1. finds th

[2016-08-05 00:27] taion commented on #678
Is there an issue tracking this on facebook/react?

It's a bit weird to discuss it here. The lint rule is fine, and I think we all agree that many or even most uses of `findDOMNode` are better handled with a ref on a DOM component.

The eslint-plugin-react repo is not the right place to discuss whether `findDOMNode` should exist as a React DOM feature.

[2016-08-05 12:24] gaearon commented on #678
Please feel free to file a discussion on React repo, sure!

[2016-08-05 12:31] gaearon commented on #678
What would you expect to get as a reference to a functional component? Since it doesn’t have an instance, it’s not clear what you are suggesting.

[2016-08-05 12:33] gaearon commented on #678
@lencioni

Wouldn’t this work for your use case?

[code]

[2016-08-05 12:45] gaearon commented on #678
@taion

<Button ref={c => { this.button = c; }} />
<Position target={this.button}>
  <Tooltip>Some tooltip</Tooltip>
</Position>
[code]

[2016-08-05 12:50] gaearon commented on #678
I’ve used the “ref prop” pattern extensively and found it to work really well for this.

I believe I’ve specifically shown this example in [the first post](https://github.com/yannickcr/eslint-plugin-react/issues/678#issue-165177220) but I will repeat it with some comments:

[code]

And this pattern works just as fine with functional components as it does with classes.
If you think it’s problematic

[2016-08-05 14:09] jquense commented on #678
If you think it’s problematic can you please point out why?

The main problem is that it requires _all potential_ children to expose this sort of API. For an environment that owns all their components fine, that is a pattern that works*. Most of us however are cobbling together applications from lots of smaller libraries, getting every one of them to expose a ref prop is unlikely and fraught.

*Mo

[2016-08-05 14:16] jquense commented on #678
also a quick side point, CSS `flexbox` is extremely intolerant to extra wrapping nodes. On one hand this is one reason why fragments would be awesome, but that would be negated by HoC's needing to wrap in extra divs :P

[2016-08-05 14:46] lencioni commented on #678
@gaearon yes! I actually came to the same realization late last night. Thanks for being my rubber duck.

I did make one modification in case the component renders `null`:

[code]

[2016-08-05 15:03] gaearon commented on #678
In case of positioning, don’t you already pull the child out into a new tree where you have access to the DOM? See https://github.com/yannickcr/eslint-plugin-react/issues/678#issuecomment-237840983.

I’m not sure I’m following without a specific example. (I answered to all specific examples above so far, I think.)

You mentioned the focus use case, but isn’t it reasonable for third party React com

[2016-08-05 15:25] jquense commented on #678
@gaearon not all of positioning involves subtrees. @taion's example is a good one still: the Button can have a ref, but you need to use `findDOMNode` to access the position info in order to display the overlay.

[code]

Or:
[code]

The other use case is needing to measure, oneself.

[code]

I agree though, again, the use HoC's for everything and Function components makes imperative methods mostly

[2016-08-05 15:58] taion commented on #678
In the position example, a lot of cases can just be handled with `position: absolute`. No need for a subtree there.

[2016-08-05 16:07] gaearon commented on #678
I’m not quite convinced components that require this don’t already know this.

Do I understand correctly that the only reason why you have to use `Button`’s DOM node (and not a wrapping node) is because it’s a part of a CSS framework like Bootstrap which forces direct parent-child relationships and doesn’t allow extra DOM nodes?

It seems that `Button` then *knows* it’s in an intimate relationship

[2016-08-05 16:13] taion commented on #678
We're trying to write primitives that can be used in multiple contexts. React-Bootstrap is one of those contexts, but it's not the only one.

Every external CSS library that needs to interop with React for things like popovers should not be required to bundle its own specific overlay wrapper.

[2016-08-05 16:18] gaearon commented on #678
I’m not quite sure I understand. I don’t suggest changes to CSS libraries.

I’m only saying that React components that wrap those CSS libraries generally seem to know when they’re relying on something like "component A must be direct child of component B".

And so in this case, with proposal like https://github.com/facebook/react/issues/4213, they would need to add something like

[code]

for thei

[2016-08-05 16:19] jquense commented on #678
I don't think every component should have to think about where someone might want to display a tooltip over it, which is what I mean here.

Its not just bootstrap, somethings just can't be reasonabled styled to handle either `<button>` or `<div><button/></div>`. In the case of a button group if you need to do something

[code]
You could right that as `btn-group .btn` but that makes nesting stuff h

[2016-08-05 16:22] gaearon commented on #678
My point was that presumably components using such `className`s know they’re one of “those things”, and thus may opt into exposing their nodes like I described here: https://github.com/yannickcr/eslint-plugin-react/issues/678#issuecomment-237894868.

Is there some reason why a component might not be aware that it has to be used in a specific parent DOM structure?

[2016-08-05 16:33] jquense commented on #678
sure, most library components. We provide `<Button>`, its not possible for us to know that that user is going to write a `<ButtonTabList>` that uses `Button`. Or in the case where you are using `Button` from library A and Tooltip from library B. on a philosophical note.

On a more philosophical point it seems like an odd to me that HoC's should add DOM nodes, when the pattern is often used as a wa

[2016-08-05 17:16] taion commented on #678
The other issue with the "ref prop" approach is that it requires you to have control of everything that you render, if you need to avoid extra DOM nodes.

For example, if `<MyComponent>` renders a `<div>`, then it could use a ref prop. However, if `<MyComponent>` renders something like `<MyCustomCard>`, then `<MyCustomCard>` needs to know about that same ref prop and attach that to its DOM node. W

[2016-08-05 23:17] taion commented on #678
FWIW, I don't think we're far apart on this.

It's fine for it to be an opt-in for a component to expose a way to get its own DOM node, but this needs to be an ecosystem-wide convention.

Something like a pass-through `nodeRef` is unnecessarily clunky, though. Really it sounds like what you're describing is something like an opt-in version of the old `getDOMNode`.

[2016-08-06 08:55] fabienjuif opened #743 "[4.2.3] The package miss the _all_ configuration"
Hi,

I wanna use the `all` configuration because I love linters, but here is the problem :
[code]

The configuration file looks like this :
[code]

So I investigate a bit, and I found out that the `index.js` of the `eslint-plugin-react` package doesn' have `all` configuration but only have `recommended` one :
[code]

[2016-08-06 09:01] fabienjuif commented on #743
I saw that the `index.js` in master have it.
And I saw the package is at `6.0.0` version now.
I'll try that and reopen if I still have the problem.

[2016-08-06 09:01] #743 closed

[2016-08-06 09:02] battaile commented on #743
I'm seeing it on line 91: https://github.com/yannickcr/eslint-plugin-react/blob/master/index.js#L91

[2016-08-06 09:04] fabienjuif commented on #743
Yeah I didn't see I had an old version :/

[2016-08-06 19:45] petersendidit commented on #730
Seems difficult for this rule to know when the space is intentional vs a result of some refactoring. The rule currently supports `<div>{' '}</div>` as valid. Which helps the rule know that the space is intentional. Seems like if we make the rule support `<div> </div>` it could miss the more likely case where it was a left over from refactoring.

Seems like it might be better to update the document

[2016-08-06 19:53] petersendidit commented on #721
What should this be named? `sfc-argument-names`?

[2016-08-06 21:03] ljharb commented on #721
No, because it should also apply to class-based component constructors.

Maybe `react-component-argument-names` or `react-component-props-context-argument-names`?

[2016-08-06 21:04] ljharb commented on #730
The point of the rule is that I should be able to autofix the violations and not change the meaning of the JSX.

If I have `<div> </div>` the rule should be telling me to change it to `<div>{' '}</div>`, but NOT to change it to `<div />` - and since it's "self-closing-comp", it should only be warning on things that changing to self-closing is *100% identical*.

[2016-08-06 21:13] petersendidit commented on #715
I can work on this

[2016-08-06 21:16] petersendidit commented on #721
I like `react-component-argument-names`.
`react-component-props-context-argument-names` seems very wordy and don't know if adds that much value. The error given will tell you what the argument should be named.

[2016-08-07 10:14] stoplion opened #746 "ESLint crashed: Failed to load plugin react"
ESLint crashed: Failed to load plugin react: undefined is not a function, Line 1, Column 1

[code]

[code]

//package.json
[code]

[2016-08-07 10:47] snorkypie opened #747 "no-direct-mutation-state on references"
Currently no-direct-mutation-state doesn't seem to support hunting down (even simple cases) where a reference to this.state is being used. Luckily I caught my co-workers bug while doing code review but it would be pretty sweet if the rule could detect this case too.

[code]

I've never written an eslint rule before so I have no clue if this is even possible, if it is, please let me know and I migh

[2016-08-07 13:37] gaearon commented on #678
Do I understand correctly that relying on `Button`’s className and writing stylesheets using it directly in expressions like `.stuff > .button` in other components is considered acceptable usage?

[2016-08-07 14:39] jquense commented on #678
when building on top of a UI framework like bootstrap or similar? sure, the class names are generally considered the api to the css framework. Tho even limiting that wouldn't solve the problem:

[code]

Uses no reliance on library classNames (and is the recommended approach for css-modules), but would break hard if the button child was wrapped in a div. It is also not easily written to handle an p

[2016-08-07 16:06] gaearon commented on #678
Yeah, I see what you’re saying.
Thanks for explaining these use cases, we’ll keep them in mind for the future.

As I said before `findDOMNode()` is *not* deprecated, it’s just discouraged. I still think it’s reasonable to have this as a lint rule, as the use case is relatively rare and can easily be confined to a very specific sort of component (like `Measurer` etc).

[2016-08-07 16:28] #746 closed

[2016-08-07 16:30] ljharb commented on #747
It seems like it should be possible within the same file.

[2016-08-07 16:45] lencioni commented on #747
Yes, you should be able to do this. Here are some good resources that should help you:

- http://eslint.org/parser/
- https://astexplorer.net/#/iT3noROGGb

[2016-08-07 17:02] jquense commented on #678
definately, on the same page there :)

[2016-08-07 17:47] lencioni opened #748 "Add dom-elements-no-danger-with-children to recommended configuration"
This rule will be added by #719. Since React already issues a warning for this, I think it makes sense to enable this rule in the recommended configuration.

I'm adding this to the 7.0.0 milestone so we don't forget to do this for our next major version bump.

[2016-08-07 17:50] lencioni opened #749 "Add no-string-refs to recommended configuration"
The [React documentation says](https://facebook.github.io/react/docs/more-about-refs.html#the-ref-string-attribute):

It seems like it might be a good idea to add this rule to the recommended configuration. What do folks think?

I'm adding this to the 7.0.0 milestone so we don't forget to do this for our next major version bump.

[2016-08-07 17:56] lencioni opened #750 "Add jsx-key to recommended configuration"
The `jsx-key` rule ensures that JSX has a key prop when in an array or iterator. If you don't use a key prop here, React will issue warnings. Given that this is a runtime warning, it seems reasonable to add this rule to the recommended configuration. What do folks think?

I'm adding this to the 7.0.0 milestone so we don't forget to do this for our next major version bump.

[2016-08-07 17:59] lencioni opened #751 "Add jsx-no-comment-textnodes to recommended configuration"
This rule prevents comments from being accidentally injected as text nodes in JSX. This seems like a nice protection to have on and unlikely that it would catch very many legitimate uses, so I think it should be added to the recommended configuration.

I'm adding this to the 7.0.0 milestone so we don't forget to do this for our next major version bump.

[2016-08-07 18:06] lencioni opened #752 "Add jsx-no-target-blank to recommended configuration"
This rule prevents use of `target='_blank'` without an accompanying `rel='noreferrer noopener'` to prevent security vulnerabilities. It seems like this should perhaps be enabled in the recommended config. What do folks think?

I'm adding this to the 7.0.0 milestone so we don't forget to do this for our next major version bump.

[2016-08-07 20:15] stoplion commented on #459
[code]

in devDependencies...
[code]

removed jsx-uses-react, jsx-uses-vars and react-in-jsx-scope

and it works now..

[2016-08-08 00:53] ljharb commented on #459
@stoplion how are you running eslint? Typically this happens when you're running `eslint` on the command line or in an editor, and it's running the global eslint instead of a local one. You'll want to `npm uninstall -g eslint` just to be sure.

[2016-08-08 00:57] ljharb commented on #752
SGTM

[2016-08-08 00:57] ljharb commented on #751
SGTM

[2016-08-08 00:58] ljharb commented on #750
SGTM

[2016-08-08 00:58] ljharb commented on #749
SGTM

[2016-08-08 00:58] ljharb commented on #748
SGTM

[2016-08-08 11:17] kevinlaw91 opened #754 "ES6 component with propType shows as error for prefer-stateless-function"
This will trigger error for `prefer-stateless-function`. Is there a way to define `propTypes` in a stateless function or it was a bug?

[code]

[2016-08-08 14:28] petersendidit commented on #710
New commit should take care of the comments. Let me know if there is anything else.

[2016-08-08 14:46] petersendidit commented on #754
Giving a stateless functional component propTypes works just fine.

[code]

[2016-08-08 15:14] #754 closed

[2016-08-08 20:32] brenoc commented on #738
@ljharb that's a good option. I would be happy with that

[2016-08-09 02:16] b6pzeusbc54tvhw5jgpyw8pwz2x6gs opened #756 "jsx-closing-bracket-location think of 'space' and 'tab' as the same thing"
my config

[code]

my code

[code]

opening tag has 2 tabs, closing bracket has 2 spaces but this case doesn't have any warning or error.

[2016-08-10 02:47] ryb73 opened #757 "`no-unknown-property` doesn't prevent use of unknown properties?"
Today React gave me an ["unknown prop"](https://facebook.github.io/react/warnings/unknown-prop.html) warning:

![image](https://cloud.githubusercontent.com/assets/943476/17540030/c37499a6-5e78-11e6-83ba-9820d7a11874.png)
In this example, I gave my `div` element an `abc` attribute, which is obviously invalid HTML.

I was surprised that my linter didn't pick up on this. Looking at the documentation,

[2016-08-10 03:52] ljharb commented on #757
Were you using spread props, or was it an explicit prop directly on a DOM element?

[2016-08-10 03:58] ryb73 commented on #757
It was explicit.

[2016-08-10 04:52] ljharb commented on #757
I definitely think `no-unknown-property` should be erroring out on all the same DOM element props that React 15.3 now does.

[2016-08-10 07:37] stoplion opened #758 "disable"
How do you disable `prop-types`?
Read [this](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md) but it still is not clear
"prop-types": 0,
or
"prop-types": [0]

either one does not work

[2016-08-10 15:20] ljharb commented on #758
`"react/prop-types": 0`?

[2016-08-10 19:12] #314 closed

[2016-08-11 00:07] webOS101 opened #760 "Deprecated option handling"
Is there any thought about supporting the deprecation of options?  The sort of change that https://github.com/yannickcr/eslint-plugin-react/commit/376dc53656f78059fb405d9e30c2f402717f6882 introduced breaks configs and the warning messages are totally unhelpful.  This is exacerbated by the fact that the docs update does not reference the older value and suggest a migration path.  A library-wide opt

[2016-08-11 00:13] ljharb commented on #760
Certainly if eslint itself had a way to specify, in the rule schema, that there was a removed option, it would work. In this case, for example, we could have said something like `'allow-in-func': 'The allow-in-func option has been removed, and there is now a disallow-in-func option.'`.

Regardless, if there's better documentation we could do, we should do it.

[2016-08-11 00:14] webOS101 commented on #760
To be fair, it is listed in the changelog, which I didn't bother reading. :)

[2016-08-11 10:41] yannickcr commented on #758
Also see [ESLint documentation on how to configure rules](http://eslint.org/docs/user-guide/configuring#configuring-rules).

[2016-08-11 10:41] #758 closed

[2016-08-12 18:42] jnields commented on #553
I ran into this issue as well and have been using the following pattern to inject actions into props validation as they are added and removed. It's been helpful to detect accessing actions that aren't actually available.

    import React, { Component, PropTypes } from "react";
    import { connect } from "react-redux";
    import * as actions from "../actions";

    class ExampleComponent extends

[2016-08-12 23:51] arronmabrey commented on #322
@yannickcr and all I added a simple test case that exposes an issue I came across while working with https://github.com/acdlite/recompose

https://github.com/yannickcr/eslint-plugin-react/pull/762

Hopefully this can help bring attention to this issue.

[2016-08-13 06:06] brennie opened #763 "Rule proposal: Allow unused array elements in a destructured argument"
The following code will trigger the `no-unused-vars` rule:

[code]

This is less than ideal. We already have a `{args: 'after-used'}` setting for the case of:
`(k, v) => v === 'bar';` and it would be handy to have the same sort of option here.

[2016-08-13 06:06] brennie commented on #763
I filed this against the wrong repo! Oops!

[2016-08-13 06:06] #763 closed

[2016-08-13 06:08] ljharb commented on #763
@brennie `.filter(([, v]) => v === 'bar')` will fix your problem, fwiw.

[2016-08-13 06:16] brennie commented on #763
@ljharb I wasn't aware of that syntax. Thanks!

[2016-08-14 11:36] #710 closed

[2016-08-15 04:19] IanVS opened #765 "[self-closing-comp] Only void elements should omit end tags"
I might be reading [the HTML5 spec](https://www.w3.org/TR/html5/syntax.html#void-elements) incorrectly, but it seems that only certain end tags can/must be omitted.  The new default behavior of `self-closing-comp` is to force all empty elements to omit their end tag.

The spec says:

Void elements are `area, base, br, col, embed, hr, img, input, keygen, link, meta, param, source, track, wbr`, and

[2016-08-15 04:31] ljharb commented on #765
JSX approximates XHTML, not HTML - and in XHTML every tag can be self-closed.

[2016-08-15 04:45] IanVS commented on #765
Ah, I see, I was missing that step.  And react generates valid DOM nodes with start/end tags when necessary.  Thanks for explaining!

[2016-08-15 04:45] #765 closed

[2016-08-15 06:25] lencioni commented on #765
Perhaps we should add a note to the documentation?

On Sun, Aug 14, 2016, 9:45 PM Ian VanSchooten <notifications@github.com>
wrote:

[2016-08-15 11:10] SomeHats opened #766 "Stateless components with flow props broken in v6.1.0"
This commit appears to be what introduced the problem: https://github.com/yannickcr/eslint-plugin-react/commit/763382f8d4ec5961c765bbb71cd2698016da5b53. Perhaps an alternative approach to solving that problem could be using how the types are referenced in the code - as the first argument to a stateless component, or passed in as a [type parameter to React.Component](https://github.com/facebook/flo

[2016-08-15 15:01] btmills opened #767 "no-danger-with-children exception with spread props"
[code]

[code]

[code]

[code]

[2016-08-15 15:22] petersendidit commented on #767
I can work on a fix.

[2016-08-15 17:10] cristian-sima commented on #767
Did you commit your changes?

[2016-08-15 19:23] cristian-sima commented on #767
I am asking this, because it is a blocking script which prevents me from commiting the code

[2016-08-15 19:44] petersendidit commented on #767
There is a [pull request](https://github.com/yannickcr/eslint-plugin-react/pull/768) for the fix that hasn't been merged yet.

[2016-08-15 20:02] #767 closed

[2016-08-15 20:04] yannickcr commented on #767
Thanks @petersendidit. The PR was merged, a bugfix release will be published tonight.

[2016-08-15 20:46] yannickcr commented on #766
Working on it.

[2016-08-15 21:56] #766 closed

[2016-08-16 05:37] btmills opened #771 "no-danger-with-children exception when props contains spread"
#768 fixed #767 directly by allowing `{...props}` on JSX elements, but it's getting tripped up when it goes to find the definition of `props` and finds spreads there.

[code]

[code]

[code]

[code]

[code]

[2016-08-16 06:54] klimashkin commented on #771
The same issue

[2016-08-16 13:09] tfuda opened #772 "Having trouble with experimentalObjectRestSpread"
The following code is generating "error  Parsing error: Unexpected token ..":
[code]
I'm running eslint 3.3.1, and I've enabled the "experimentalObjectRestSpread" parser option. Here is my eslintrc.json:
[code]
Is there some other parser option required to suppress this error?

[2016-08-16 15:15] petersendidit commented on #771
#773 should fix these problems.

[2016-08-16 22:12] tleunen opened #774 "Rule proposal: Keep simple ref callback on a single line"
String refs are "deprecated" in favor of the callback version. I wonder if it would be a good idea to have a rule to enforce the style of the ref callback? Maybe a rule to enforce the single line only when an assignation is found inside? Or give the choice...

Like having it on a single line:

[code]

or maybe on multiple lines:

[code]

[2016-08-16 22:31] #771 closed

[2016-08-16 23:00] ljharb commented on #774
Apparently by using a non-`===` ref callback, the callback will be called extra times, sometimes with `null`. I've thus been led to believe that the best practice is to use a bound-in-the-constructor instance method, not an arrow function, for ref callbacks.

I think generic rules to govern arrow function styling could apply here, without needing to special-case them to ref callbacks (although mak

[2016-08-17 01:33] battaile commented on #772
emcaFeatures should be ecmaFeatures

[2016-08-17 04:23] Darmody opened #775 "The react/require-extension rule is deprecated."
The react/require-extension rule is deprecated. Please use the import/extensions rule from eslint-plugin-import instead.

[2016-08-17 04:39] ljharb commented on #775
I'm not sure what you're posting about - we're quite aware that it's deprecated :-)

[2016-08-17 04:44] Darmody commented on #775
@ljharb Sorry! I thought that it was warnning by this package!

[2016-08-17 04:44] #775 closed

[2016-08-17 04:45] Darmody commented on #775
But the rule is still showing on the README

[2016-08-17 11:01] tfuda commented on #772
Boy that's embarrassing. Thanks!

[2016-08-17 11:01] #772 closed

[2016-08-17 13:57] tleunen commented on #774
Could you elaborate on this?

And yes, maybe a generic rule would be best instead of limiting it to refs.

[2016-08-17 15:54] travi opened #776 "enable configuration for jsx-no-target-blank"
Would it be reasonable to make this rule a bit more configurable?

My team currently has some links using `target=_blank` that are to other internal properties (but external to the application they are linked from). Referrers are important bits of information that we want to maintain the ability to track between these internal properties (and we've lost the don't use `target=_blank` argument). Eve

[2016-08-17 15:59] ljharb commented on #776
The rule docs talk about the security issue, but I only this is also a UX issue. It's very rude to open new tabs/windows on a user.

As it relates to the security issue, however, either you get the full protection of it, or you get none, so I'm not sure what the advantage would be to weaken it. Can you not override the rule specifically on each of the links in question?

[2016-08-17 21:28] yannickcr commented on #775
@Darmody I removed it from the README since we do not	usually list the deprecated rules in it.

[2016-08-18 08:35] kassiansun opened #777 "React.PureComponent and react/prefer-stateless-function"
PureComponent will be warned with react/prefer-stateless-function like:
[code]

[2016-08-18 08:37] ljharb commented on #777
You should be preferring a stateless function there, since there's no state. "PureComponent" usage doesn't affect this rule by design.

[2016-08-18 08:44] kassiansun commented on #777
@ljharb So how to make this function stateless?

[2016-08-18 08:51] ljharb commented on #777
[code]

[2016-08-18 09:03] kassiansun commented on #777
@ljharb Thanks for your tips! I misunderstood 'pure' and 'stateless' for a long time.

[2016-08-18 09:17] #777 closed

[2016-08-18 09:36] poupourabou opened #778 "Error in react/no-danger-with-children with spread operator"
With eslint-plugin-react (6.1.1), an error occurs in this case :

[code]

Error :
[code]

If **cont** is not the result of a function, there's no error.

[2016-08-18 14:26] petersendidit commented on #778
This is a duplicate of #771 which was fixed by #773 that was released in 6.1.2

[2016-08-18 16:24] travi commented on #776
I won't argue the UX issue at all as I fully agree. Unfortunately though, as I mentioned above, our team has lost that battle, at least for now.

While we may be able to disable per link, my goal with further config is to more explicitly capture our reasoning for disabling some of the rule in certain cases. In our case we know that links to internal properties are safe enough to at least not inclu

[2016-08-18 16:54] #778 closed

[2016-08-20 00:12] rdiazv opened #779 "Allow function assignment using require-optimization"
[code]

This throws `Component is not optimized. Please add a shouldComponentUpdate method`.

[2016-08-20 00:16] ljharb commented on #779
That makes it an instance property, not a prototype property, which isn't really what i'd call "optimization".

Do this instead:
[code]

[2016-08-20 00:23] rdiazv commented on #779
Nice, thanks! 👍

[2016-08-20 00:23] #779 closed

[2016-08-20 17:35] #235 closed

[2016-08-20 20:28] brianreavis opened #780 "Regression: explicit "allow-in-func" causes validation error"
For the `no-did-mount-set-state`, `no-did-update-set-state` rules:
[code]

The commit that breaks it: https://github.com/yannickcr/eslint-plugin-react/commit/10c6f23866b58dff5a7f8d16eb8b8a62cc997a66

[2016-08-20 21:24] lencioni commented on #780
Thanks for the report!

It was likely 376dc53656f78059fb405d9e30c2f402717f6882 that broke this for you. This option is the default as of 6.0.0 and was removed in favor of a `disallow-in-func` option, which you can see in the changelog: https://github.com/yannickcr/eslint-plugin-react/blob/master/CHANGELOG.md#600---2016-08-01

This has been discussed in #760 and #734.

[2016-08-20 21:24] #780 closed

[2016-08-20 21:26] brianreavis commented on #780
Ah, oops... sorry for the duplicate. Thanks @lencioni!

[2016-08-20 21:32] lencioni commented on #98
Somewhat related: we now have a jsx-no-target-blank rule that enforces `target='_blank'` links include `rel='noopener noreferrer'`.

@Standard8 is this still a rule you are interested in?

[2016-08-20 21:38] lencioni commented on #171
I wonder if this would be better as an enhancement to the core `no-underscore-dangle` rule? http://eslint.org/docs/rules/no-underscore-dangle

[2016-08-20 21:40] lencioni commented on #175
I don't think we can accomplish this, so I am closing this issue out.

[2016-08-20 21:40] #175 closed

[2016-08-20 22:34] lencioni commented on #278
Since object destructuring is a JavaScript feature and not specific to React, I think this rule would be more appropriate in something more general than a React-specific plugin.

[2016-08-20 22:36] ljharb commented on #278
However, #556 and #216 are related, and I could definitely see the value in a rule that required all props and state to always be destructured at the top of component methods.

[2016-08-20 22:39] lencioni commented on #278
Yes, definitely.

[2016-08-20 23:29] lencioni commented on #296
I have also confirmed that dot-accessed nested props are checked but nested destructured props are not. Here's a repro case:

[code]

@ianmstew don't worry about opening a new issue, I'll just modify this one.

[2016-08-20 23:32] lencioni commented on #337
I wonder if a more general rule for this could be written.

[2016-08-20 23:33] lencioni commented on #350
@gajus instead of disabling the rule, why not add a propType for this prop?

[2016-08-20 23:39] lencioni commented on #358
I'd be happy to review a PR that adds this as an option.

[2016-08-20 23:43] lencioni commented on #378
I'm not sure how feasible this is, since you likely will have iterators (e.g. map) returning JSX all over the place that you don't really need to assign to variables like this.

[2016-08-20 23:45] lencioni commented on #404
Considering there is an option to accomplish what you want here, I think I'm going to close this issue out. Please re-open if there is anything else that needs to be done.

[2016-08-20 23:45] #404 closed

[2016-08-20 23:54] lencioni commented on #423
I believe this is possible, but I'm not really convinced of its usefulness. I find that an occasional comment explaining a propType is useful, but most props should have clear names instead of relying on comments to explain them.

It has been a while since you opened this issue. In your project do you still feel like enforcing that every propType has a jsdoc comment on it is the right way to go, o

[2016-08-20 23:56] lencioni commented on #442
If anyone ends up working on this, it might be worth also checking out #296 while you are in that code, since it is somewhat related.

[2016-08-20 23:57] lencioni commented on #452
I generally prefer to avoid the ternary altogether:

[code]

[2016-08-21 04:38] kentcdodds commented on #735
Another example:

🚫 reports error:

[code]

Passes:

[code]

[2016-08-21 04:57] ljharb commented on #378
Another alternative, if you want a reliable function name, would be to simply not use arrow functions - a normal named function will ensure you *always* have a name.

[2016-08-21 10:13] yannickcr commented on #735
@kossnocorp How is created your `Panel` object ? To match the propTypes with `Panel.Body` we're searching for the `Panel` variable in the current scope but in your example `Panel` is never declared so we cannot makes the match.

This code is working:
[code]

@kentcdodds What version of eslint and eslint-plugin-react are you using? Your first example is working for me with eslint-plugin-react `v6.1

[2016-08-21 11:13] gajus commented on #350
I wish I'd remember. There was a reason, I cannot think what it was off top my head.

[2016-08-21 14:34] kossnocorp commented on #735
@yannickcr the `Panel` is declared as a class exported by default, maybe this is the problem. However, it's valid ES200X and supposed to be working 😇

I have errors:

![tmux___users_koss_src_kossnocorp_make](https://cloud.githubusercontent.com/assets/52201/17837795/716b47e4-67c5-11e6-8d16-0c41aae5cba5.jpg)

... on such code:

[code]

[2016-08-21 14:43] kossnocorp commented on #735
@kentcdodds I just tried your code and I don't have the error:

![tmux___users_koss_src_kossnocorp_make](https://cloud.githubusercontent.com/assets/52201/17837841/b354caf8-67c6-11e6-94c5-0f718fee082e.jpg)

You can try to update I suppose.

[2016-08-21 15:01] yannickcr commented on #735
Ok, seems the issue comes from here. I'll have a look.

[2016-08-21 15:31] lencioni commented on #350
Ok! I'm going to close out this issue then. Please feel free to re-open if you can think of a good reason for this. :D

[2016-08-21 15:31] #350 closed

[2016-08-21 23:46] #735 closed

[2016-08-22 09:53] Standard8 commented on #98
I don't have a specific use case for this at the moment, and unfortunately never got round to writing one. With the `jsx-no-target-blank` rule, all we would have needed would have been either checking everything had `target='_blank'` or everything had `rel='...'`.

[2016-08-22 19:34] #715 closed

[2016-08-22 20:08] kentcdodds commented on #735
Huh, it looks like my issue is possibly related but I'm not sure what's going on... Here's how I can reproduce the issue:

[code]

This does not produce any error:

[code]

[Here's a real use case](https://github.com/javascriptair/site/blob/30b5930230bf8cb98ce21c04d21afac72d0bd612/src/pages/episode/sections/show-notes/person-notes.js#L70-L100)

Looks like destructuring a property off of the functi

[2016-08-22 20:15] yannickcr commented on #735
@kentcdodds ok, it's a different problem then.

Can you open a new issue with your last message? Thanks.

[2016-08-22 20:21] kentcdodds commented on #735
Cool, will do, thanks!

[2016-08-22 20:22] kentcdodds opened #782 "Destructuring a value off of a stateless function causes false prop-types error"
As noted in #735:

Here's how I can reproduce the issue:

[code]

This does not produce any error:

[code]

[Here's a real use case](https://github.com/javascriptair/site/blob/30b5930230bf8cb98ce21c04d21afac72d0bd612/src/pages/episode/sections/show-notes/person-notes.js#L70-L100)

Looks like destructuring a property off of the function (whether inside the function itself or not) is causing issues.

[2016-08-22 21:09] yannickcr commented on #512
@mjackson

Ok, in this was definitely a bug. I made a fix on component detection for this particular case, so it should be better in next release (does not fix the original problem of this issue though).

[2016-08-22 22:58] mjackson commented on #512
Thanks, @yannickcr. I assume you're talking about the word you did in 70bf28d89eae53b53e3bf41c4bae84cb8700f984. Just to be clear, how does that work alter the current behavior?

[2016-08-22 23:01] mjackson commented on #741
As I suggested [here](https://github.com/yannickcr/eslint-plugin-react/issues/512#issuecomment-237386845) I believe the only way to create an accurate `isStatelessFunctionalComponent` method would be to check if a function is ever actually used as the first argument in `React.createElement`. Otherwise you're going to get a bunch of false positives with methods that return some JSX but aren't inten

[2016-08-23 00:02] yannickcr commented on #512
Yes, the only relevant change here is the addition of `components.add(node, 0);`

The second parameter is the "confidence", when searching for components we rank them with confidence levels:
* 2: Component
* 1: Maybe a component, but we're not sure
* 0: "ban" the node, it will not be considered as a component even if we have a confidence level of 2 for it

This is due to the fact that the AST is t

[2016-08-23 03:55] lencioni commented on #98
Since you don't have a specific use case for this, I'm going to close this issue out. Feel free to re-open it if a use case presents itself!

[2016-08-23 03:55] #98 closed

[2016-08-23 14:37] Wilfred commented on #716
I hit this today. A minimal repro:

[code]

and eslint config:

[code]

Sounds like removing `eslintUsed` on `JSXExpressionContainer` would be a definite improvement, since that would fix both my situation and OP.

[2016-08-23 15:17] sompylasar opened #783 "`console.log` causes a "EPERM: operation not permitted, write" in Atom editor"
The bug has since been reported in several places but the cause is using `console.log` unsafely in the `eslint-plugin-react`.

* https://github.com/AtomLinter/linter-eslint/issues/579 (closed because the AtomLinter team cannot do anything with that)
* https://github.com/yannickcr/eslint-plugin-react/issues/416#issuecomment-177119027 (closed because the issue was not stated properly, or simply comm

[2016-08-23 15:20] sompylasar commented on #416
@playtocrazy if you're still interested in a solution, please vote for the issue about the cause of the error here: https://github.com/yannickcr/eslint-plugin-react/issues/783

[2016-08-23 15:45] ljharb commented on #783
This is a node module. It is meant to run in node, which has console. It is a perfectly valid requirement. There is no unsafe way to use console methods in a node module.

[2016-08-23 17:19] sompylasar commented on #783
Reported to Atom core: https://github.com/atom/atom/issues/12504

[2016-08-23 17:24] ljharb commented on #783
Thanks, that's the right place to fix it :-)

[2016-08-23 17:24] #783 closed

[2016-08-23 19:35] yannickcr commented on #716
Yes, I will remove this. It does not fix the whole issue with `prefer-const` but it's better than nothing for now.

[2016-08-23 19:41] yannickcr commented on #716
Keep it open for now due to https://github.com/yannickcr/eslint-plugin-react/issues/716#issuecomment-235762191

[2016-08-23 19:50] Wilfred commented on #716
Thanks :)

[2016-08-24 15:48] dustinmoorenet opened #784 "Error: Cannot read property 'type' of null"
[code]

Using Atom, I create a new react component and as I type `render` I receive the error above.
[code]

[2016-08-24 15:59] ljharb commented on #784
@dustinmoorenet I'm not sure why atom is linting mid-typing, but you have a syntax error right there, so you *should* be getting all kinds of errors in the linter. Try `render() {}` and see what happens?

[2016-08-24 16:01] dustinmoorenet commented on #784
It is fine if I finish out my typing. There is no long pause either. As soon as I type the `r` in `render` is flashes the error.

[2016-08-24 17:08] danez opened #785 "no-find-dom-node: Does not detect named imported function"
The rule no-find-dom-node does not warn about this:

[code]

[2016-08-24 17:38] danez commented on #678
I have the following usecase and replacing findDOMNode with the ref returned in the callback makes the code throw when I try to call methods of the DOM node?

[code]

[code]

Is it because of the clone or am I doing something wrong?

[2016-08-24 18:24] ljharb commented on #678
With a ref callback that's an arrow function, you will sometimes get `null` in the ref argument. I'm not sure why this is, though.

[2016-08-24 19:55] #784 closed

[2016-08-25 07:49] danez commented on #678
It is not about the ref being null, the ref is set but it is a ReactElement and not a DOM node. So it works fine when using findDOMNode in the componentDidMount. So I don't understand how it should work without? Is the react element supposed to proxy DOM methods/properties of the DOM node?

[2016-08-25 14:34] sompylasar commented on #454
Any update on this please?

[2016-08-25 19:16] #226 closed

[2016-08-26 23:13] HenriBeck opened #786 "Proposal: Allow react/sort-prop-types to only sort by callbacks and required properties and not alphabetically"
## Proposal

Add another option to `sort-prop-types` called `noSortAlphabetically` that will allow disabling sorting the props by alphabet when the user wants it.

I would be happy to create a pull request.

[2016-08-26 23:14] HenriBeck commented on #738
#786

[2016-08-26 23:25] ljharb commented on #786
Or, alternatively, `noSortAlphabetically` - boolean option absence, and a value of `false`, should always have the same effect.

[2016-08-26 23:25] #738 closed

[2016-08-26 23:29] HenriBeck commented on #786
Probably would even be better for better backward compatibility.

[2016-08-27 16:15] mvolkmann opened #787 "rule issue for react/jsx-space-before-closing"
I set this rule to "never", but when I run eslint it says
Configuration for rule "react/jsx-space-before-closing" is invalid:
Severity should be one of the following: 0 = off, 1 = warn, 2 = error (you passed '"never"').

The docs say the valid values are "always" and "never".

[2016-08-27 16:21] lencioni commented on #787
The docs say that the rule takes one argument, which can be either "always" or "never". Although it isn't very clear here, the options for eslint rules come after the severity. In this case you probably want to do something like `"react/jsx-space-before-closing": [2, "never"]` or `"react/jsx-space-before-closing": ["error", "never"]`.

More info: http://eslint.org/docs/user-guide/configuring#confi

[2016-08-27 17:26] mvolkmann commented on #787
Ah yes. I should have caught that. Thanks for the info!
I created this pull request:
https://github.com/yannickcr/eslint-plugin-react/pull/788

[2016-08-27 17:26] #787 closed

[2016-08-28 11:13] yannickcr commented on #716
Fixed in [ESLint 3.4.0](http://eslint.org/blog/2016/08/eslint-v3.4.0-released#bug-fixes)

[2016-08-28 11:13] #716 closed

[2016-08-29 14:37] ColCh opened #790 "jsx-wrap-multilines to check stateless components"
Given this code, check should not pass

[code]

For this code, check should pass:

[code]

[2016-08-30 18:53] ha404 opened #795 "jsx-no-bind should detect for ::"
Hi! I love this rule: https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md

The only fault is it's not capturing `::` which essentially is `bind(this)`.

[2016-08-30 21:12] ljharb commented on #795
`::` by itself isn't valid - it definitely should be catching `this::foo` or `::foo` or `a::b.c` etc though. Can you provide specific code that it's not catching?

[2016-08-30 21:22] hawsome commented on #795
Oh yeah, it's like:
[code]

[2016-08-31 09:22] deepakjois opened #797 "no-unused-prop-types not working"
[code]

This gives me an error:

[code]

[2016-08-31 09:28] deepakjois commented on #797
Sorry, did not see the `skipShapeProps` option. Closing…

[2016-08-31 09:28] #797 closed

[2016-08-31 15:03] lencioni opened #798 "Rule proposal: disallow presentational rendering in stateful components"
I wonder if it would be useful to have a rule that would enforce a strict separation between stateful components and presentational components, with the exception of a wrapping DOM element without any styles. Similar to what is written about here: https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0

Bad:
[code]

Good:
[code]

You would probably want to consider any DOM element a

[2016-08-31 20:41] Wilfred opened #799 "jsx-uses-vars is confused by shadowed variables."
Given the following code:

[code]

and the following `.eslintrc.json`:

[code]

No warnings are generated. We should warn on the `import {FooPicker}`, as it's unused.

Possibly related: #716.

[2016-09-01 00:41] byronmwong opened #801 "`no-unused-prop-types` doesn't check `nextProps` of `componentWillReceiveProps`"
If a prop is only used in the context of `nextProps`, the lint rule mistakenly thinks that the prop is never used.

Here's a repro case:

[code]

[2016-09-01 03:01] causztic commented on #780
Thanks for this!

[2016-09-01 05:07] ljharb commented on #801
What's the use case for a prop that's not used in the render path?

[2016-09-01 05:11] byronmwong commented on #801
It might not be idiomatic React, but in this case, we're waiting on a prop
to turn `true` and when it does, we trigger a route change. You could
imagine a signup form component waiting for `nextProps.signupCompleted` to
be true, and then redirecting to the homepage.

On Wed, Aug 31, 2016 at 10:07 PM Jordan Harband <notifications@github.com>
wrote:

[2016-09-01 12:04] laurenkt opened #803 "False positive for react/prop-types props validation (stateless component)"
I'm getting an error for a prop missing in props validation, when the prop is included the prop-types, similar to #258.
- `eslint` version v3.2.2
- `eslint-plugin-react` v6.0.0

Here's the error:

[code]

Here's the code:

[code]

Here's my .eslintrc.json:

[code]

[2016-09-01 12:55] caesarsol opened #804 "no-did-mount-set-state: not triggered when `this` is not explicit"
Example of code that does not trigger rule:

[code]

I don't know if it's possible to follow the references to `this`?

[2016-09-01 15:07] sapegin opened #805 "Link new rules in change log to rule docs"
For example instead of this:

do this:

Would make updating the library much easier.

[2016-09-01 15:52] ljharb commented on #804
This seems reasonable - but arrow functions exist - why do you need the `var self = this` pattern?

[2016-09-01 16:21] caesarsol commented on #804
There are cases in which you need both inner `this` and outer `this`, for example in some event listeners.

Actually I never use that pattern, but happened that someone else used it on the code I'm working on and that prevented the linter to highlight the error.

Also, this project does not explicitly state that we are using ES6, in some environments arrow functions could be off limits.

(I unders

[2016-09-01 16:33] ljharb commented on #804
Which cases? Event handlers should be referencing elements using `event.target` and friends, not with `this`.

If you're using `class`, then yes, you are explicitly using ES6 :-p

[2016-09-01 19:46] simonsmith commented on #803
I get the same, and also a `displayName` missing error too:

[code]

I'm using the `react/recommended` config

[2016-09-02 14:22] MoeSattler commented on #803
+1

[2016-09-02 16:33] EvNaverniouk commented on #801
This will be fixed by https://github.com/yannickcr/eslint-plugin-react/pull/792

[2016-09-02 17:21] byronmwong commented on #801
Great! Thanks @EvNaverniouk

[2016-09-03 19:41] radwa0 commented on #678
i have
<div ref={node => this.domNode = node} style={this.getStyle()}>{ this.props.children }</div>

 when i do this
 this.domNode.addEventListener('mousedown', this.onDrag);

there is an error
 this.domNode.addEventListener is not a function

[2016-09-03 19:54] gaearon commented on #678
@ljharb
It is expected, you get `null` for clean up. Every time you pass an arrow, it changes, so we call the old arrow with `null`, and the new one with the node right away. This is not a perf problem.

@danez  @radwa0
If you believe this is a bug in React, please file a bug in React repo with a reproducing case.
This is discussion about a lint rule, so it is not a right place to file bugs.

[2016-09-03 21:30] ljharb commented on #678
@gaeron sure, makes sense that it's not a perf problem - but if I haven't unmounted, I wouldn't expect to get anything but a node. Essentially, that's a gotcha to code around in arrow ref callbacks - I'll have to do `node => { if (node) { this.foo = node; } }`

[2016-09-03 21:34] gaearon commented on #678
On the opposite, it is deliberate that we pass `null` on unmounting so that your field gets nulled too. This is to prevent potential memory leaks.

[2016-09-03 21:36] gaearon commented on #678
Even before unmounting, you are passing a new function. So it gives null to the old function and node to the new function. There is normal (even if a bit non-obvious) and there is no reason to guard against this. Your code should already handle null because it has to handle unmounting. Please trust React to call it with the node after calling it with null during the update. React has tests for thi

[2016-09-03 21:45] ljharb commented on #678
Are there any lifecycle methods or event handlers that could get called between the old callback and the new one? We've seen bugs caused by other code expecting a node, but receiving null.

[2016-09-03 22:31] gaearon commented on #678
I don’t know the ref code that well but if you had issues with them, please try to isolate them and file bugs against React.

As far as I can see from the source, the refs get detached (called with `null`) before the internal state related to `<div>` (“the host instance”) is updated. Later, all refs get attached (called with DOM nodes) during the flush, which is currently synchronous in React unle

[2016-09-05 09:30] stianlp opened #806 "React component not detected when subclass"
Hi!

It looks like my component is not detected, when I am subclassing a class that extends React.Component.

I have a class A extends React.Component {}.

Eslint detects this class as a react component.

But for class B extends A {}, eslint does not detect B.

Does anyone know how to fix this?

[2016-09-05 15:39] ljharb commented on #806
There's not really a way for linter rules to know what your other files are doing. (Fwiw, React generally discourages inheriting from components, and encourages using composition to share behavior)

I believe you can use a jsdoc comment to inform this plugin that your component inherits from a react component but I don't recall the syntax.

[2016-09-05 19:13] petersendidit commented on #806
If the code uses the JSDoc  `@extends` comment with `React.Component` or `React.PureComponent` [it will pick up that its a component](https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/util/Components.js#L183-L200).
[code]

[2016-09-05 23:14] #806 closed

[2016-09-06 15:10] ericmatthys opened #807 "Enhance jsx-sort-props to allow for non-alphabetically sorted groupings"
Is there any interest in including a rule like the following in this plugin?

https://github.com/ericmatthys/eslint-plugin-jsx-grouped-sort-props

This is a rule that allows sorting of jsx props in groups without requiring an alphabetical sort. My motivation was wanting specific props sorted first (e.g. `key` and `ref`), then all other non-callback props in any order, then all callback props in an

[2016-09-06 15:19] ljharb commented on #807
I'd also want the ability to require spread props appear first or last.

[2016-09-07 23:48] deniseli opened #808 "jsx-quotes does not catch errors in strings wrapped in {...}"
I have react/jsx-quotes configured with [2, "prefer-single"] and it cannot catch the case where I have some code that looks like this:
`<SomeComponent someProp={"asdf"} />`

For a sanity check, I verified that it does catch the default case:
`<SomeComponent someProp="asdf" />`

[2016-09-07 23:53] ljharb commented on #808
In that case, `{"asdf"}` is a javascript string, not a jsx string, so the eslint core rule `quotes` should apply to that. This is working correctly.

[2016-09-07 23:53] #808 closed

[2016-09-08 10:47] pleunv opened #809 "style-prop-object rule throws exception on object rest spread syntax"
Using v6.2.0.

The following syntax:

[code]

is throwing the following exception:

[code]

Culprit is the rest spread syntax, removing `...props` avoids the exception.

[2016-09-08 11:11] JelteF opened #810 "Make prop-types work when renaming this.props"
I think it is handy for non stateless components with lots of properties to do something like this:

[code]

This does not trigger the [prop-types](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md) warning though. Would it be possible to make that work?

[2016-09-08 14:46] Eschon opened #811 "no-unused-prop-types false positives"
The `no-unused-prop-types` rule reports false positives for me.
Here's my code:

[code]

The `no-unused-prop-types`-Rule shows an error for both the `endFriendship` and the `handleFriendrequest` props but both are used in my component.

I use `eslint` 3.4.0 and `eslint-plugin-react` 6.2.0.
I use the `no-unused-prop-types`-Rule as part of `eslint-config-airbnb` 11.0.0.
In the config it is set like

[2016-09-08 23:58] vdh opened #812 "style-prop-object does not allow null"
I use `style` variables that are conditionally set as objects only when required, and AFAIK it's valid to provide null props to React.

[2016-09-09 00:34] ljharb commented on #812
indeed, `null` and `undefined` should both be accepted.

[2016-09-09 07:52] Eschon opened #814 "prop-types doesn't check nextProps of componentWillReceiveProps"
This is kind of related to #801 but as far as I can tell the PR to fix (#792)  it doesn't fix my issue. I modified the reproduction case from #801 there to show my issue:

[code]

[2016-09-09 09:45] ojassvi commented on #803
+1

[2016-09-09 20:11] kumar303 opened #816 "Destructured use of property is not recognized by no-unused-prop-types"
Given a React component like:

[code]

And the following eslint rule:

[code]

I see the following error:

[code]

This is incorrect because the `i18n` property is destructured into a new constant and then the `gettext()` function is called. If I edit the code so that it doesn't use destructuring then the error goes away, revealing the bug.

Here is a small app that reproduces it: [eslint-scratch.

[2016-09-09 20:21] kumar303 commented on #476
One solution is to use [Flow](https://flowtype.org/) instead of PropType (it's a lot of work to switch though). Flow lets you [import type objects](https://flowtype.org/docs/modules.html#type-imports--exports) so that the definitions can be re-used.

[2016-09-09 20:27] kumar303 opened #817 "Follow imported PropType objects"
It's common to use the same property type across many components so I would like to import my type definition. Would it be possible to support this?

Here is an example. First, create a common file like `propTypes.js` with:

[code]

Next, add it to a component's property types:

[code]

As is, this should trigger an error like:

[code]

but it does not. It doesn't trigger an error at all, probably

[2016-09-09 21:57] ljharb commented on #817
Linters typically do static analysis - following imports to other files is generally far beyond the scope of a linter. It doesn't matter how many imports - looking beyond the literal source code in that file is what's challenging.

[2016-09-09 21:57] ljharb commented on #476
@kumar303 the same issues would happen with imported Flow type objects, because linters can not follow imports.

[2016-09-10 22:34] amilajack commented on #803
+1

[2016-09-10 22:42] amilajack opened #818 "react/prop-types false negative for dynamic object access?"
[code]

I'm assuming this isn't by design.

[2016-09-10 22:48] ljharb commented on #803
Please do not comment with "+1", it adds noise and adds no value - please show your support by adding a reaction emoji to the original post. I'll delete all the existing +1 comments, and any future ones.

Thanks for participating!

[2016-09-11 01:25] smsenesac opened #819 "no-unused-prop-types does not recognize use of prop inside Array.map()"
In the following example, no-unused-prop-types will flag a non-use of arrayOfObjWithFoo.*.foo:

[code]

[2016-09-11 03:39] kumar303 commented on #476
Flow supports the import statement for types. You can pass around type "objects" just like any other JavaScript object. Being able to import a custom type is useful for sharing it among many different functions. [Here's an example of how I've used it](https://github.com/mozilla/web-ext/blob/a25c04fcd6179421282fd0336ffb84751413acf2/src/cmd/build.js#L24) -- this isn't React code though.

[2016-09-12 12:12] acao commented on #322
I'm also running into this issue, where I'm using a simple rest spread to inherit the propTypes of another component. It seems it needs to be an explicit object literal to parse :/

this yields me no propTypes except for "example" for a component:

[code]

[2016-09-12 12:49] tleunen opened #820 "[style-prop-object] False error: Style prop value must be an object"
The rule is throwing in my code with this example:

[code]

if I rename the variable `style` with something else, everything is fine.

[code]

[2016-09-12 17:10] kumar303 commented on #817
It would be challenging in CommonJS but ES6 imports were designed specifically to [support static analysis](http://calculist.org/blog/2012/06/29/static-module-resolution/).

There are a couple eslint examples for how to follow imports. Here is [one](https://github.com/benmosher/eslint-plugin-import).

[2016-09-12 17:19] feimosi commented on #811
I'm also facing a false positive error, although in a bit different case, when using destructuring:
`function ListItem({ item }) {}`
It highlights every property of the shape of `item`.

[2016-09-12 17:51] ljharb commented on #817
Yes, but ES modules don't exist yet, because the loader spec is not finished - everything transpiles to `require` one way or another.

Note how I said "typically" and "generally" - eslint-plugin-import is the only popular one I know of that does, and it only does it for one or two of its rules. I'm claiming that it's out of scope.

[2016-09-12 17:55] yury-dymov commented on #816
I am facing very similar case but a bit different:

[code]

[2016-09-12 18:25] ljharb commented on #816
@yury-dymov in your case, it's only used if they don't pass in a `props` arg - can I ask what the use case for that is? It seems very un-React.

[2016-09-12 21:48] Daniel15 commented on #807
Sounds like an enhanced version of [jsx-sort-props](https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-sort-props.js). There's already a `callbacksLast` configuration option.

[2016-09-12 22:06] #801 closed

[2016-09-12 22:41] #799 closed

[2016-09-13 00:53] chalisegrogan opened #821 "TypeError: Cannot read property 'toLowerCase' of undefined in jsx-no-target-blank"
As of https://github.com/yannickcr/eslint-plugin-react/commit/fa99e13629c025d46220d0b57fecbe5823320f4f#diff-05dfa6b555ee6724cba772b5d07e4d1c, installing eslint/eslint-plugin-react with
[code]
and running the following eslint command in [Codeship](https://codeship.com/)...
[code]
is resulting in:

[code]

To be clear, this seems to be _only_ happening on Codeship. We've temporarily solved this by c

[2016-09-13 01:05] sgronblo opened #822 "Use of this.state.propertyName results in warning 'propertyName' is missing in props validation"
I saw this thing was reported and closed already in 2015 but I seem to be getting it even after upgrading to eslint-plugin-react 6.2.1.

So I have an ES6 component that extends Component. It has a static propTypes member. It also sets up this.state in the constructor and uses that state in rendering. The linter complains that use of the single property i have in state is missing in props validatio

[2016-09-13 01:15] sgronblo commented on #822
Scratch that... I was looking at the wrong line.

[2016-09-13 01:15] #822 closed

[2016-09-13 02:13] yury-dymov commented on #816
@ljharb, well, to me it looks very common
[code]

So, basically it is helper method, which is called to do whatever, when props are provided/updated. Normally it is called with no parameters but for `componentWillReceiveProps()` I want to pass nextProps instead of current.

[2016-09-13 03:54] learning opened #823 "PropTypes.shape with error"
I have something like this

[code]

when I run lint, I got this error.

[code]

[2016-09-13 05:58] ljharb commented on #816
If it's a helper method, it shouldn't be an instance method - and then this plugin won't warn on it. Instance methods should use `this` in all code paths, otherwise they shouldn't be instance methods.

[2016-09-13 05:58] ljharb commented on #821
What version of node does codeship run?

[2016-09-13 07:08] kouhin opened #824 "undefined error in style-prop-object"
[code]

VERSION:
[code]

[2016-09-13 07:14] kouhin commented on #821
Same problem.

[code]

Version:

[code]

[2016-09-13 07:17] ljharb commented on #824
What's the code this is erroring out on?

[2016-09-13 07:17] ljharb commented on #824
@kouhin either way, `eslint-config-airbnb` v11.1 requires eslint v3.5, and you have 3.3 - `npm ls` is likely reporting an error.

[2016-09-13 07:18] ljharb commented on #821
@kouhin as i commented in the other issue, your versions are incompatible - `npm ls` should be complaining, because you need eslint `v3.5` with `eslint-config-airbnb` `v11.1`.

[2016-09-13 07:18] ljharb commented on #821
@chalisegrogan what versions of eslint everything is in your package.json?

[2016-09-13 07:24] kouhin commented on #824
@ljharb Thanks. I will try to fix the required version.

[This error](https://github.com/yannickcr/eslint-plugin-react/issues/821) occurs for every CI builds just from today, so I updated the deps by npm-check-updates('ncu -a -u'), and we got the style-prop-object error.

[2016-09-13 07:30] kouhin commented on #824
Sorry that I've made a mistake. Maybe ncu haven't updated all the packages.
I'll fix the version and try again.

[2016-09-13 07:34] ljharb commented on #824
For a package like `eslint-config-airbnb` that has peer dependencies, you should be updating manually.

[2016-09-13 09:47] riquito commented on #821
I'm getting this error with eslint@3.5.0 and eslint-config-airbnb@11.1.0. Yesterday it wasn't manifesting.

[2016-09-13 09:57] kouhin commented on #821
I can't help myself to create this repository https://github.com/kouhin/eslint-config-airbnb-deps

`npm install eslint-config-airbnb-deps --save-dev`

Currently I'm using `npm install eslint-config-airbnb-deps@10.0.2 --save-dev`

Everything works well. 😉

[2016-09-13 11:43] PEM-- commented on #821
@kouhin Thanks, this leads me on the right track. `eslint-config-airbnb-deps` uses the 6.2.0.

The error has been introduce with `6.2.1`.

I suggest updating your `package.json` to use the `6.2.0`.

[2016-09-13 11:48] daltones opened #825 "`no-unused-prop-types` crash when destructuring `prevState`"
If I use destructuring on the second argument of `componentDidUpdate`, like this:
[code]

It gets this error:
[code]

eslint: v3.5.0
eslint-plugin-react: v6.2.1

[2016-09-13 12:10] mik01aj opened #826 "Rule idea: disallow using props in getInitialState"
This anti-pattern is described in detail in the [React docs](https://facebook.github.io/react/tips/props-in-getInitialState-as-anti-pattern.html).

These would be invalid:

[code]

These would be valid:

[code]

The rule could have one option, `initialRegex` that would match the places where the usage is valid (as described in the linked doc) and be `/^initial[A-Z]/` by default.

[2016-09-13 12:56] pirm-in commented on #821
Just ran into the same problem (TypeError: Cannot read property 'toLowerCase' of undefined) with 6.2.1. Switching to 6.2.0 works.

    "eslint": "^3.5.0",
    "eslint-config-airbnb": "^11.1.0",
    "eslint-plugin-import": "^1.15.0",
    "eslint-plugin-jsx-a11y": "^2.2.2",
    "eslint-plugin-react": "6.2.0",

[2016-09-13 13:34] ericmatthys commented on #807
The main difference regarding `callbacksLast` is that `jsx-sort-props` is meant to enforce alphabetical sorting, while this rule is not.

[2016-09-13 13:52] Wilfred commented on #799
Thanks! :)

[2016-09-13 14:34] riquito commented on #821
This is a simple component that triggers the error

[code]

[code]

[2016-09-13 14:59] jrajav commented on #647
Any update on this? Also, the same issue appears with jsx-indent.

[2016-09-13 15:02] jrajav commented on #540
Any update on this? As @billyjanitsch pointed out, the way this enforces indentation for ternaries makes no sense.

[2016-09-13 15:08] vojty opened #827 "sort-comp class configuration"
`sort-comp` doesn't work for custom classes inherited from `React.Component`. How about add `classes` to configuration, where I could specify them?

[2016-09-13 16:50] chalisegrogan commented on #821
@ljharb Codeship is set up to run with: `"node": "~4.2.2"`.

As for eslint, this was the package json at the time of running:
[code]
*note:* we're now specifically targeting `"eslint-plugin-react": "6.2.0",`

[2016-09-13 16:53] ljharb commented on #821
@chalisegrogan can you rerun it with all the latest of eslint, eslint-plugin-react, and eslint-plugin-jsx-a11y?

[2016-09-13 17:08] chalisegrogan commented on #821
@ljharb set up as follows:

[code]

is still failing with the same error.

[2016-09-13 17:10] ljharb commented on #821
@chalisegrogan and presumably if you lock eslint-plugin-react to 6.2.0, the error goes away?

[2016-09-13 18:25] milesj commented on #825
Also having this problem.

[code]

Perhaps the class properties spec or something is conflicting?

[code]

[2016-09-13 18:28] EvNaverniouk commented on #825
I will look into this today.

[2016-09-13 18:31] lencioni commented on #821
I'm guessing this was introduced by fa99e13629c025d46220d0b57fecbe5823320f4f. @dmnd any chance you can take a look at this?

[2016-09-13 18:38] webmato opened #828 "Linting the React props: props.hasOwnProperty.call('x') -> Error: react/prop-types"
I have this issue with **ESLint** and **React props / propTypes**
[code]
How to solve it?

[2016-09-13 19:21] ljharb commented on #828
`const { hasOwnProperty } = this.props;` and then call it that way.

You don't want to call functions directly off of `this.props` anyways, since that will set `this.props` as the `this` value in the function.

[2016-09-13 19:22] ljharb commented on #828
Alternatively, if that's not a prop, `Object.prototype.hasOwnProperty.call(this.props, 'modelConfig');`

[2016-09-13 19:22] #828 closed

[2016-09-13 21:26] yannickcr commented on #821
Working on a fix.

[2016-09-13 21:33] #821 closed

[2016-09-13 21:55] webmato commented on #828
@ljharb Thank you! I love this, it is so easy with ES6 :-)

[2016-09-13 22:07] chalisegrogan commented on #821
Awesome, thank you @yannickcr !

[2016-09-14 00:37] marcodejongh commented on #423
We've been using it for a while and I no longer believe that it's very useful to add jsdoc to all props as a rule.

[2016-09-14 00:37] #423 closed

[2016-09-14 05:07] zerkms commented on #823
Relevant (or a duplicate?): https://github.com/yannickcr/eslint-plugin-react/issues/816

[2016-09-14 07:44] 1999 opened #831 "No support for dynamic tag names"
[code]

This code produces an error when checking it with eslint due to `no-used-variables` rule.
But it shouldn't: http://stackoverflow.com/questions/33471880/dynamic-tag-name-in-jsx-and-react

[2016-09-14 09:54] ixisio commented on #524
@Kovensky, @ljharb, @anthonator, @guocheng

[from eslint docs](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md):

So, try it like that:

[code]

[2016-09-14 10:03] yannickcr commented on #831
You must enable the [`react/jsx-uses-vars`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md) rule for ESLint to detect variables used in JSX.

[2016-09-14 10:03] #831 closed

[2016-09-14 14:02] anthonator commented on #524
We've been doing something similar but slightly different:

[code]

[2016-09-14 15:30] ljharb commented on #524
@anthonator that's exactly the best solution (you can delete your useless constructor tho)

[2016-09-14 16:31] TrustNik opened #832 "no-direct-mutation-state do not fail in constructor"
Hello,
I guess following code should not be considered as a problem (now it is):
[code]

What do you think?

[2016-09-14 17:09] ixisio commented on #524
@guocheng So, solution is clear. Please close this issue... thanks

[2016-09-14 17:14] #524 closed

[2016-09-14 17:17] ljharb commented on #832
Yes, that should warn.

[2016-09-14 17:26] vutran opened #833 "Referencing with PropTypes.shape"
When referencing shaped PropTypes, it is producing `react/no-unused-prop-types`.

See below:

[code]

Also errors for:

[code]

We would have to use it directly to avoid errors:

[code]

[2016-09-14 17:44] TrustNik commented on #832
@ljharb could you please explain why? If I understand correctly state is initialized in the constructor, so it can't be mutated.

[2016-09-14 18:02] alpertuna commented on #821
+1

[2016-09-14 18:17] ljharb commented on #832
@TrustNik it doesn't cause the same problems as mutating `this.state` elsewhere - but mutation is never a good thing.

I can see the argument that the original spirit of this rule doesn't apply to "within the constructor", but allowing mutation isn't worth making an exception imo.

[2016-09-14 18:20] TrustNik commented on #832
@ljharb I see. Thanks for clarification.

[2016-09-14 18:20] #832 closed

[2016-09-14 20:59] #825 closed

[2016-09-14 21:09] 1999 commented on #831
Thanks, I missed this.

[2016-09-14 22:12] Arcanemagus opened #834 "style-prop-object crashes with empty style tag"
It seems that the `react/style-prop-object` rule crashes when the `style` tag of a `<div>` is empty with the following error:

CLI:
[code]

The trace is similar through the Node.js API.

You can reproduce this error with the following configuration:

_.eslintrc.js_:

[code]

_package.json_:

[code]

_foo.jsx_:

[code]

For convenience here is a ZIP file containing the files use to reproduce this:

[2016-09-14 22:24] #834 closed

[2016-09-15 00:37] daltones commented on #825
Thanks!

[2016-09-15 10:23] kouhin commented on #824
@ljharb @yannickcr

Error pattern:

[code]