[2022-03-05 03:21] ljharb commented on #3232
Seems reasonable, as long as it doesn’t warn when there’s a second reference of the props object.

[2022-03-05 18:58] alexmatson-da opened #3234 "`jsx-boolean-value`: enhance configuration to handle `false` literals"
The `react/jsx-boolean-value` rule appears to only work with boolean props that have been assigned `true` literals. However, I have a codebase that sometimes contains (as an example) `<MyComponent someBooleanProp={false} ... />`

Is it possible to add a configuration option for this rule to flag these instances as props that should be removed completely (maybe even with autofix)?

If not, is there

[2022-03-05 19:20] ljharb commented on #3234
Why would you want them removed completely? False and undefined are distinctly different, and it’s not possible to know from the consumer side whether the component is sloppily equating the two or not.

[2022-03-05 20:07] alexmatson-da commented on #3234
While I'm sure they exist, off the top of my head I can't picture a use-case where a component intentionally exhibits different behavior depending on if an optional boolean prop passed into it is `undefined` rather than `false`.

In our case, optional boolean props get coerced into boolean values (`!!boolProp`), so `boolProp={false}` is really redundant.

We also use Typescript, so if we wanted a

[2022-03-05 21:16] ljharb commented on #3234
Any time a boolean prop is required, omitting it is an error. Typescript would enforce this as well.

An eslint rule that allowed an optional false to be omitted also might not make sense, because sometimes a missing boolean defaults to true.

In other words, the assumption you wan to rely on is just not possible to rely on, and isn’t even necessarily the majority case.

[2022-03-06 17:06] lyz810 opened #3236 "react/no-unused-state still crash in eslint-plugin-react@7.29.3"
[code]
https://github.com/yannickcr/eslint-plugin-react/commit/90909990e8e80ecfb459b8dc72e2f09d982fc095#diff-5f134ac3ac545f8f6e53d703193d37293b484e814d266ecaec79dd591e3049c2R252
In this case, `node.value.params` is undefined, while `node.value` is an object
@ljharb

ESLint: 8.10.0
eslint-plugin-react: 7.29.3

[2022-03-07 05:34] #3236 closed

[2022-03-07 05:54] ljharb commented on #3207
@romanown this is expected; that's an arrow function, not a function declaration.

[2022-03-07 14:48] herndlm opened #3237 "`react/require-default-props` false positive with destructured properties"
Since 7.29.x (still working fine with 7.28.x) I get the following errors
[code]

for

[code]

Is this a bug or am I doing something wrong here? If the latter than sorry for the spam. I can't figure out what I'm doing wrong here.

[2022-03-07 16:16] ljharb commented on #3237
This is a correct warning; function defaults aren’t the same as defaultProps. Your component needs a defaulProps property, which is an object containing the defaults.

[2022-03-07 16:40] herndlm commented on #3237
Oh.
Ok, thx for the fast response and sorry for the noise then :)

[2022-03-08 16:30] Robloche opened #3238 "[react/jsx-indent] False positive"
My code was OK until version 7.28.0 but fails with multiple react/jsx-indent errors in versions 7.29.0-3.

**Example:**
[code]

**Error:**
`ESLint: Expected indentation of 6 space characters but found 8.(react/jsx-indent)`

Applying autofix gives me this:
[code]

which leads to:
`ESLint: Expected indentation of 8 space characters but found 6.(react/jsx-indent-props)`

[2022-03-09 11:17] Robloche commented on #3238
[code]

[2022-03-09 15:52] ljharb commented on #3238
Thanks; i reproduced this with failing tests, but wasn’t able to come up with an easy fix. Help is appreciated.

[2022-03-10 10:35] JoachimKoenigslieb opened #3239 "rule react/no-unused-prop-types only applies in jsx files, not in my typescript files."
I can't get the rule react/no-unused-prop-types to trigger in TSX Files. I've tried many combinations of eslint versions. In one of my projects it works fine, but in this other project (a react native project) I can't get it to trigger in any way.

Is there som rule interaction I should be aware of?

my eslint config is:

[code]

I have a typescript override which includes:

[code]

I have necessa

[2022-03-10 14:05] MatiSera commented on #3052
Hi. I'm having this error even with the recommendations of the other comments
Here's my extends array
`extends: ["next/core-web-vitals", "eslint:recommended", "plugin:react/recommended", "plugin:react/jsx-runtime"],`

[2022-03-10 17:03] ljharb commented on #3239
Are you invoking eslint with the `--ext` option to include ts?

[2022-03-11 01:07] mattparlane opened #3240 "no-unused-state with GDSFP and airbnb plugin causes "Cannot read properties of undefined (reading 'variables')""
I have come across this error after a recent upgrade, and it looks like it may be related to https://github.com/yannickcr/eslint-plugin-react/commit/9b227aa8c8d2ffacd508ff2b281f4d7852409464. This only happens with the `airbnb` plugin enabled, which my company is using. If you comment that line out from the `.eslintrc.js` file, it works fine.

Apologies if this is not the appropriate place for this

[2022-03-11 02:21] ljharb commented on #3240
Duplicate of #3236, fixed in the next release.

[2022-03-11 02:21] #3240 closed

[2022-03-11 02:22] mattparlane commented on #3240
Thanks! Sorry, I must have missed the other issue.

[2022-03-11 02:58] ljharb commented on #3240
No worries; I’ll try to cut a release tomorrow.

[2022-03-11 17:15] ljharb commented on #3239
I'm going to assume that fixes it; happy to reopen if not.

[2022-03-11 17:15] #3239 closed

[2022-03-11 17:16] ljharb commented on #3234
I don't think we'll pursue this, for the reasons indicated.

[2022-03-11 17:17] ljharb commented on #3166
@xavier630 any chance you've been able to try with the latest version, which is now v7.29.3? Happy to reopen if that doesn't fix it.

[2022-03-11 17:17] ljharb commented on #3221
This was done in #3223, thank you!

[2022-03-11 17:17] #3221 closed

[2022-03-11 18:21] roryabraham commented on #2223
I actually am not a fan of this change, since it disallows comments over certain props in multiline jsx code. Leading to lots of ugly code like this:

[code]

As opposed to this:

[code]

@jsphstls stated in his original posting:

But the PR that was merged actually doesn't introduce any autofixing benefits. In my opinion we should revert this change, or barring that allow the user to configure a

[2022-03-11 18:27] roryabraham commented on #2223
Actually though, this isn't really necessary since `no-multi-spaces` covers single-line JSX props. So this rule is really just helpful in disabling multiple newlines between props. It would still be nice to be able to set a maximum of `1` blank line between JSX props (allowing for comments on props but not multiple blank lines).

[2022-03-11 18:30] ljharb commented on #2223
@roryabraham that seems like a reasonable option to add, if you wanted to send a PR with lots of test cases.

[2022-03-12 12:09] oscard0m opened #3242 "Is there an ESLint rule to error/warn to avoid "Mirroring props in state"?"
# Description<sup>*</sup>
I would like to know if there is any existing ESLint rule this plugin for preventing _mirroring props in state_

❌ Do not use a prop as the initial `useState()` value:

<details>
  <summary>Click to expand!<sup>**</sup></summary>

[code]
</details>

✅  Use `useEffect()` instead to fix it:

<details>
  <summary>Click to expand!<sup>**</sup></summary>

[code]
</details>

#

[2022-03-12 16:54] ljharb commented on #3242
The guidance is to avoid conceptually mirroring props in state, which has nothing to do with the actual prop/state names. An eslint rule would only catch the trivial cases where the names were the same - and some of these would be false positives.

[2022-03-12 21:35] oscard0m commented on #3242
I see. Maybe it should be `React` printing a `console.error` in development mode? What do you think @ljharb ?

[2022-03-12 21:43] ljharb commented on #3242
I don't think it is *possible* to provide a programmatic warning here, since it takes a human to understand the conceptual mirroring - having a prop named "foo" and a state named "foo" in NO way guarantees that you're mirroring props into state; and NOT having those name overlaps also does not guarantee you are NOT mirroring props into state.

I think this is just one of the many things that must

[2022-03-12 22:09] oscard0m commented on #3242
Thanks for the quick feedback on this @ljharb. I don't have much experience with ASTs/React compiler/ESLint rules so probably I'm missing some parts in my head. For my learning and understanding, these are the questions I have in mind right now for you:

1. Would the logic to apply be simply a prop (one of the keys from `props` argument) is not used as argument for `useState()` function? No matter

[2022-03-12 22:12] ljharb commented on #3242
ahh, maybe i misunderstood.

It's perfectly reasonable to determine state values based on props; that's what the `getDerivedStateFromProps` class method is for. It seems just as reasonable to use them in a `useState`/`setState` hook call.

[2022-03-12 22:19] oscard0m commented on #3242
But seems to be a bad practice, right? Or at least something to warn. Here's the screenshot (there's no anchor link, sorry) from [React Docs (beta): Don't mirror props in state](https://beta.reactjs.org/learn/choosing-the-state-structure#avoid-redundant-state):

![image](https://user-images.githubusercontent.com/2574275/158036988-91fb2e2f-7011-4f7b-b8a1-782acc290194.png)

[2022-03-12 22:22] ljharb commented on #3242
ok, so i can see an argument for a prop value being used as an *initial* state value, and having that warn.

Such a rule would not just need to detect it with SFCs and hooks, but also with class and createClass components - anything that isn't using gDSFP.

[2022-03-12 22:26] oscard0m commented on #3242
Aham. I see. Then... on your experience, do you think it would be feasible and interesting to lint or too much use-cases to cover?

[2022-03-12 22:42] ljharb commented on #3242
I'm not really sure.

It's definitely a good bit of work to make a robust rule for this. It might indeed catch some problem cases, which is great! The error message could include links to the react docs you've linked above.

The question that can't really be answered is whether it'll come up often enough to be worth it, but I still think it's worth a PR.

[2022-03-12 22:48] oscard0m commented on #3242
I would like to give it a try and draft something and from that draft I guess we can better see effort 🆚  benefit I guess. Would it be possible I take this?

[2022-03-12 23:12] mobily commented on #3140
@ljharb I can take it if you and @vedadeepta don't mind :)

[2022-03-12 23:15] ljharb commented on #3140
That'd be great!

[2022-03-12 23:21] ljharb commented on #3242
Go for it!

[2022-03-13 02:01] #3197 closed

[2022-03-13 05:26] vedadeepta commented on #3140
thanks @mobily

[2022-03-13 16:58] tjx666 commented on #1955
Still occur this issue.  @ljharb

repo: https://github.com/tjx666/scripting-listener

[2022-03-13 17:20] ljharb commented on #1955
@tjx666 interesting; the `context` object is missing `settings` entirely for some reason. Can you file a new issue?

[2022-03-13 17:21] ljharb commented on #1955
@tjx666 ah, it's because you have `settings` defined twice in your JS config, and the second one is overwriting the first one. If you merge the two, it works fine.

[2022-03-13 20:30] SalahAdDin commented on #2654
It seems there is no any fix to this problem.

[2022-03-14 04:48] jakeleventhal opened #3243 "react/hook-use-state not working with camelcase"
The following code should be acceptable; however, I get an error saying "useState call is not restructured into value + setter pair  `react/hook-use-state`"
[code]
It should be acceptable because BTC is an all caps abbreviation. It is not an exact string match with `btcValue` but it doesn't follow camelcase to write `setbtcValue`

[2022-03-14 05:20] ljharb commented on #3243
I agree; java-style camelcasing algorithms would have you use `setBtcValue`, but that's atrocious.

This should allow all-caps versions of a state segment in the setter, to account for initialisms. cc @duncanbeevers

[2022-03-15 02:13] #3243 closed

[2022-03-15 23:28] soujvnunes commented on #2353
I think I'm late here, although if you are using ESlint with TypeScript, be sure to extend `"plugin:@typescript-eslint/recommended",` in the `.eslintrc` project file.

[2022-03-16 12:59] krisztianb opened #3245 "Question about the default value for "version" in the "settings""
In the README I see this config example:

[code]

Now what does this mean:

Could someone clarify this for me? What is the default value for "version"? Thank you.

[2022-03-16 14:02] ljharb commented on #3245
The string "latest" is the default value.

[2022-03-16 15:42] dlech commented on #3230
This does not seem to be fixed after updating to v7.29.4.

Maybe we missed adding `VFC` here?

https://github.com/yannickcr/eslint-plugin-react/blob/d9531c3bc539e292eb297a04c7b9312e8b63a223/lib/util/propTypes.js#L104-L113

[2022-03-16 15:45] ljharb commented on #3230
@dlech seems plausible :-) can you file a new issue, or better, a PR with a failing test case?

[2022-03-16 17:32] krisztianb commented on #3245
Thanks. And what does this part mean:

[2022-03-16 20:03] ljharb commented on #3245
In the next major version, we'll change the default from the string "latest" to the string "detect" (which automatically looks up your currently installed react version).

[2022-03-17 12:58] krisztianb commented on #3245
Ok, got it. Thank you.

[2022-03-17 12:58] #3245 closed

[2022-03-21 00:24] zpao opened #3250 "no-unknown-property does not allow `crossOrigin` on svg elements"
It looks like `crossorigin` is valid on all SVG elements (https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/crossorigin), however this plugin reports it as invalid. It's probably not useful on all of them (I'm hitting it on `<image>`) but should probably try to follow spec if possible.

[2022-03-21 13:40] rajzik opened #3252 "hook-use-state false positive detection of destructured value"
I have typescript with react and I am using `useState` hook with destructured values.

`example.ts`

[code]

## Result

<img width="485" alt="image" src="https://user-images.githubusercontent.com/10364836/159271327-7a0ce0ac-f5b6-4927-a371-099e9806c7a6.png">

## Reproduction repository

https://github.com/rajzik/eslint-react-repro

## Eslint settings

https://github.com/Oriflame/lumos/blob/63c032f2

[2022-03-21 19:52] dangerismycat commented on #3232
Ah perfect, I've been looking for a rule like this. Has this been released yet? (I think the answer is 'no')

[2022-03-21 20:11] ljharb commented on #3232
No, it hasn't.

[2022-03-22 08:12] xyy94813 opened #3253 "No corresponding propTypes declaration when export type with typescript."
[code]

[code]

[2022-03-22 17:39] ljharb commented on #3253
I assume the second example has a `type` keyword? `TableProps =` just makes a global variable of a JS object.

[2022-03-23 02:06] xyy94813 commented on #3253
Yes, it has a `type` keyword

[2022-03-23 09:16] rajzik commented on #3252
@ljharb wouldn't be possible to change hint? I didn't get it from current wording.

[2022-03-23 11:34] AlbinoGeek opened #3256 "`eslint --init` does not add `settings` as required by #1955"
Hello!

So, why does `eslint --init` ask me if I'm using React, if it doesn't bother to add `settings` as required by #1955 ?

Maybe this issue belongs in `eslint` repository itself? But why does it have options for `React`? Who's responsible for that piece?

It literally only needs to add the following:

[code]

I expect initializers to give you a known-good/working configuration, it currently do

[2022-03-23 12:39] ljharb commented on #3252
Absolutely it would - a PR with your suggested wording would be appreciated.

[2022-03-23 12:44] ljharb commented on #3256
That is not a reasonable expectation, but yes, I’d file it on eslint itself.

[2022-03-25 12:22] tristanHessell opened #3257 "Can we separate 'utils' into its own package?"
Are there any plans to make the `lib/util` directory its own package?

I ask as i was looking to create my own JSX-aware eslint rules and it would be super handy to use the existing code from this repo.

I'm fully aware that doing this will likely add more on-going work (managing multiple repos/monorepo etc) with no real payoff so its understandable if this not a priority.

[2022-03-25 14:50] ljharb commented on #3257
I think you’ve nailed it; you can already require any file in the package that you want, so you can depend on this plugin for it at the risk that it’s not part of the public API, so it might break in a non-major.

I’ll look into extracting it, though, since there might be a benefit for eslint-plugin-jsx-a11y.

[2022-03-25 18:24] AlbinoGeek commented on #3256
I'd like to understand what you mean by this.

`eslint --init` configures your project based on an interactive questionaire

One of the questions has you select `React` as your framework, and it changes your generated configuration.

Why and how would it be unreasonable to expect it, when it generates configuration, to generate one extra directive to make it work out of the box?

I will lodge the

[2022-03-25 18:24] #3256 closed

[2022-03-28 07:54] WillyLiaoWH commented on #3240
Still encountered the issue in 7.29.4
The error in #3236 is about `node.value.params` is undefined. And this issue is caused by `scope` is undefined in the line below. (reading variables)
https://github.com/yannickcr/eslint-plugin-react/blob/5bc571db4743527d368167738f359dc6168f9b02/lib/rules/no-unused-state.js#L374

[2022-03-28 11:53] tristanHessell commented on #3257
Fantastic!

If theres anything I can do to assist I'd be more than happy to help.

[2022-03-31 12:09] ianpaschal commented on #2864
Disagree. This is a case of a rule being opinionated. And multiple passes don't fix it because of course the second pass tries to change it back to `var`. IMO almost all eslint rules have some configuration available, the ability to define what your preference is, etc. This is _exactly_ such a case.

[2022-03-31 13:42] ljharb commented on #2864
@ianpaschal any choice is the rule being opinionated. This rule will change it to var - the safest, most backwards compatible choice - and then prefer-const or no-var will tell you to change it again, and you’ll do so, and everything will be fine.

[2022-04-01 22:56] #3210 closed

[2022-04-03 20:34] ljharb commented on #3257
I think we wouldn't be making the *whole* directory separate, so it might help if you could list which parts you'd want to leverage.

[2022-04-06 08:57] andlbrei commented on #3208
Kent C. Dodds has a blog post about this.
Maybe it contains some information relevant to this issue: https://kentcdodds.com/blog/dont-call-a-react-function-component

[2022-04-06 12:04] tristanHessell commented on #3257
I found the `Components` and `jsx` files helpful.
I was specifcally creating some rules based off of identifying a function as returning JSX or not.

I havent used it yet, but also have some ideas around using the `props` utils too.

[2022-04-06 20:26] joshmedeski commented on #2777
So the `react/prop-types` rule is still failing when I define my components this way:

[code]

I see `'value' is missing in props validation`.

Is this syntax going to be supported by this plugin any time soon? What can the community do to help?

[2022-04-06 20:49] ljharb commented on #2777
@joshmedeski https://github.com/yannickcr/eslint-plugin-react/issues/2777#issuecomment-683944481 someone's welcome to make a PR implementing this rough plan.

[2022-04-12 05:24] drbr opened #3268 "`hook-use-state` rule doesn't allow omitting unused setter"
Thanks for implementing the new `hook-use-state` rule! I'm excited to use it on my team's codebase to enforce consistently-named `[state, setState]` pairs.

Occasionally we have code like this:
[code]

We use `useState` for this because it's the most straightforward way to guarantee that the initializer is run only once. While there may be more idiomatic ways to do this depending on the use case,

[2022-04-12 05:42] ljharb commented on #3268
The proper thing to do here is `useMemo`, not `useState`.

[2022-04-12 05:43] drbr commented on #3268
As we understand it, useMemo currently runs the function only once, but doesn't guarantee that it'll always behave that way in the future. Hence we're using useState instead.

[2022-04-12 05:50] ljharb commented on #3268
Of course it does? It's based on the provided dependency array.

[2022-04-12 06:06] ljharb commented on #3268
If the value depends on the props, then react *should* be free to recalculate it whenever it wants.

if it doesn't, then why is it computed inside the component? Memoize it at module level, with your own memoization helper.

[2022-04-12 06:29] ljharb commented on #3268
Why is computing a unique ID expensive? That's definitely the kind of thing useMemo is meant for.

That definitely shouldn't be an autofix, but it's a reasonable suggestion for the rule to make, sure!

[2022-04-12 23:42] ljharb commented on #3240
@cbedwinotalvaro the commit that fixed this issue is in v7.29.4. https://github.com/yannickcr/eslint-plugin-react/commit/4876d549158df538520026170df3b8c933fa3603, however, was only merged 2 weeks ago and has not yet been released.

There's no timeline for the next release (as always). I hope I'll have time soon.

[2022-04-14 15:59] rodrigofariow opened #3269 "[no-access-state-in-setstate] equivalent for useState"
Hey guys!

I was wondering if there are any plans to do a similar rule to react/no-access-state-in-setstate but for useState?
I feel that there is still a lot of benefit of doing that to prevent previous state bugs and having react-hooks rules suggesting to put previous state on dependencies array (for useEffect, for instance).

Thank you for your time :)

[2022-04-14 22:39] ljharb commented on #3269
Can you provide some code samples you'd want to warn?

[2022-04-15 11:59] dartess opened #3270 "react/no-unused-prop-types false positive when sharing an interface between components"
(and is not fully used in all components)

[code]

[2022-04-15 16:17] ljharb commented on #3270
The error seems correct to me. These components shouldn't share the same type, because they don't use the same props.

There should be two separate Props types (one composed of the other, perhaps).

[2022-04-15 16:19] dartess commented on #3270
It makes sense

[2022-04-15 16:19] #3270 closed

[2022-04-17 13:02] rodrigofariow commented on #3269
Hi @ljharb

Absolutely!

[code]

This isn't extremely necessary here but imagine we have logic within a `useEffect` or `useCallback`. We may have to add `numRooms` so that the closure is up to date, which is unfortunate. Having the callback would prevent the following headaches:

[code]

## SIDE NOTE:

To be fair,`react-hooks/exhaustive-deps` rule does warn the following:
`React Hook useEffect has

[2022-04-19 04:31] mahfuz0498 commented on #3128
add  ` "root": true` in eslintrc.json file , it will ignore searching out of the root folder.

[2022-04-19 07:52] mithodin commented on #3057
This also gets incorrectly detected as a React component:
[code]

[2022-04-20 05:10] #3152 closed

[2022-04-22 01:11] ariesclark opened #3274 "[react-in-jsx-scope] add option to disallow React import when unused"
With the advent of the new JSX Transform introduced in React 17, some of us may like to explicitly disallow importing React for no reason. While using the core mod to remove existing imports is possible, it doesn't prevent/warn in new files where you habitually import the module.

And so, I'd like to request a new feature.
[code]

[2022-04-22 01:15] ljharb commented on #3274
You can already do effectively this by extending the right config; see the readme: https://github.com/jsx-eslint/eslint-plugin-react#configuration

[2022-04-22 01:15] #3274 closed

[2022-04-22 02:05] ariesclark commented on #3274
Yup, didn't realize that, thanks!

[2022-04-23 15:25] golopot opened #3275 "False positives for `no-this-in-sfc` for functions returning null"
In the following cases the functions should not be considered a component, if they returns only `null` without jsx.

https://github.com/jsx-eslint/eslint-plugin-react/blob/4b4bba91ddebe27cf6bdd9f86d2b9a824a07a8fb/tests/lib/rules/no-this-in-sfc.js#L245-L255

https://github.com/jsx-eslint/eslint-plugin-react/blob/4b4bba91ddebe27cf6bdd9f86d2b9a824a07a8fb/tests/lib/rules/no-this-in-sfc.js#L278-L290

h

[2022-04-23 15:57] ljharb commented on #3275
Yes, they should - components don't have to return jsx, they can return null, numbers, strings, or arrays of such (and in react 18+, undefined).

[2022-04-23 16:56] golopot commented on #3275
I got you. But do you think these test cases should be reported? If these nulls are replaced with numbers, strings, or arrays, should they be reported?

[2022-04-23 17:49] golopot commented on #3275
There is a distinction between what React engine considered a component, and what a developer considered a component. For a function returning only null or numbers, more likely than not, developers do not considered it a component.

[2022-04-23 22:14] ljharb commented on #3275
More likely than not, but it’s sometimes better to have false positives than to miss a component.

Components that only return null are far more common than any other kind of non-jsx-returning component, I’m pretty sure, so i think it’s fine to catch the former and not the latter.

[2022-04-25 04:09] Yash-Singh1 opened #3277 "[FEATURE] Add suggestions for `no-unescaped-entities`"
Currently, `no-unescaped-entities` only tell the problem in the description, it doesn't give suggestions so users can quickly solve the issue in their editor.

https://eslint.org/docs/developer-guide/working-with-rules#providing-suggestions

[2022-04-26 07:21] dkmqflx opened #3278 ""is missing in props validation Error" occured when importing types"
[code]

[code]

[code]

[code]
From above codes, I got two Errors `'visible' is missing in props validation`, `'onCancel' is missing in props validation`.
By using  `// eslint-disable-next-line react/prop-types` options, the error was disappeared, it works fine.
But this error don't occur whan i declare types in compnent like below

[code]

Additionally, when i used same hooks and types that impor

[2022-04-27 00:42] dkmqflx commented on #3278
This is my folder structure, if so, why i do not get any errors in `LoginPage ` and `SignUpModal ` component.
It import types from common/types.ts that types is not declared in same file.

- components
  - common
     - types.ts
  - login
  -   SignUpModal.tsx
  - project
    - ProjectMasterAddModal.tsx
    - ProjectMasterTable.tsx

- pages
  - LoginPage.tsx

[2022-04-27 06:28] #2396 closed

[2022-04-27 08:38] wjureczka commented on #3128
Adding `"root": true` and `--resolve-plugins-relative-to .` does not work for me. I am using `yarn 3.2.0` with workspaces functionality with config like this:

[code]

[2022-04-30 22:33] #3140 closed

[2022-05-04 00:16] shamilovtim opened #3282 "No Array or Object methods in render"
Hello, I wanted to gauge appetite for implementation of a rule like this.

Problem: In a large React project, it is difficult to keep Array/Object operations out of function component bodies.

Solution: No Array or Object methods in render

[code]
In this case, this error would be resolved by moving the operation into onPress.

Also: a condition to allow it from a useMemo or useCallback. I think I

[2022-05-04 02:09] ljharb commented on #3282
An array filter isn't expensive, though.

[2022-05-04 02:23] shamilovtim commented on #3282
Right but this isn't a commentary on the expense of Array.filter? We use React Native and there's a level of interest in keeping Array/Object methods out of render where they can often clog the JS thread on Android devices during back to back renders.

[2022-05-04 03:13] ljharb commented on #3282
The claimed motivation for the rule is expense - the phrase you used was "expensive operations".

Array/Object operations on small (read: less than hundreds of thousands of items) arrays/objects should be virtually instantaneous. You certainly *can* use `useMemo` or `useCallback` on them, but you needn't, I suspect even on an Android device.

In this specific case, obviously the filter isn't neede

[2022-05-04 04:24] shamilovtim commented on #3282
Sorry, I'm not familiar with the nitty gritty of the JS engine. What about when an application is mounting hundreds of components and all of them have separate calls to the JS thread? My understanding is that JS is single threaded. How does one thread arbitrate hundreds of React components mounting all at once while many of them are calling synchronous collection iteration methods like `Array.sort

[2022-05-04 04:40] ljharb commented on #3282
Yes, JS is single-threaded, as is the JS on the entire web, and in practice what you're describing just isn't a problem as far as I'm aware.

Again, it's perfectly fine to use hooks like useMemo or useCallback and to optimize stuff, especially when you've profiled and found actual performance issues. I'm not convinced, however, that it'd be beneficial to always do that - memoization has a cost, to

[2022-05-04 04:50] satya164 commented on #3282
I see I was mentioned here and I agree with @ljharb. I'd say that:

- Such methods will only make a noticeable difference in very large arrays, it makes sense to memoize in those cases. But it's rather a case-by-case basis and a general rule like this won't work. Personally, I have never encountered array iterations to be a performance issue in my profiling. Memoization has its own overhead.
- Mov

[2022-05-04 04:56] ljharb commented on #3282
and to be clear, i do believe in https://attardi.org/why-we-memo-all-the-things/, but i don't think an eslint rule is the best way to make it happen :-)

[2022-05-04 05:15] shamilovtim commented on #3282
Appreciate the perspectives here 👍. Closing as I think we've reached a consensus.

[2022-05-04 05:16] #3282 closed

[2022-05-04 11:18] The-Code-Monkey commented on #2080
As of react 17 you dont need to import react at the top of the file, ive just done this and if you are using typescript you just need to add jsx: "react-jsx" into compiler options and disable this rule.

[2022-05-07 02:19] curtvict commented on #3128
This should be reopened. It seems like this plugin is no longer compatible with `eslint 8.15.0`.

[2022-05-07 02:41] ljharb commented on #3128
@curtvict please file a new issue.

[2022-05-08 17:35] awwong1 opened #3284 "Typescript "'className' is missing in props validation" despite being defined"
# Description

I am observing `'className' is missing in props validation` despite it being correctly specified in the type definition.

- `React.DetailedHTMLProps<React.InputHTMLAttributes<HTMLInputElement>, HTMLInputElement>`
- https://github.com/DefinitelyTyped/DefinitelyTyped/blob/90f13b6b5e4ee2db30044f960327e17ed3ef3338/types/react/index.d.ts#L1854
    - `React.HTMLAttributes<HTMLInputElement

[2022-05-08 20:26] ljharb commented on #3284
Seems like `React.DetailedHTMLProps` is a thing we don't have any knowledge of, and we'd have to hardcode support for (probably `React.InputHTMLAttributes` as well).

[2022-05-09 10:53] estorski commented on #2702
@amannn
Not just you. I second your point - consistency is important in code readability, and would be greatly appreciated.

And `react/sort-prop-types` just seem to plain not work with TS prop types, for now.

[2022-05-09 19:44] DavidShefcik opened #3285 "react/boolean-prop-naming interface does not work"
The `react/boolean-prop-naming` rule does not work when using an interface with TypeScript but it works with a `type`

This shows an error like it should:
[code]

This doesn't show an error like it should:
[code]

My usage of the rule:
[code]

Versions:
- eslint - `8.15.0`
- eslint-plugin-react `7.29.4`

[2022-05-09 22:26] pke commented on #3242
I constantly run into this problem during mentoring (beginners and seasoned devs). And I do not agree that it is called "mirroring". It's initialisation and there a perfect reasonable use cases where the initial prop value is the initial state and later overridden from inside the component.

Lets take this `Loading` component:

[code]

It's reasonable that this could be used as a global component

[2022-05-09 22:31] ljharb commented on #3242
@pke yes, i have commented as much upthread; have you read all the comments?

[2022-05-09 22:33] pke commented on #3242
I wanted to emphasise that this rule is important and absolutely doable. I just wanted to start it myself but checked if someone else is already working on it ;) So good luck!

[2022-05-10 11:21] Manubi commented on #1846
Hi,
I think it's not fixed. I am using `eslint 8.14.0`
<img width="912" alt="CleanShot 2022-05-10 at 13 17 28@2x" src="https://user-images.githubusercontent.com/20935138/167617210-1ae0e939-548b-4a6d-912a-ef6111b6d627.png">
.

[2022-05-10 14:41] ljharb commented on #1846
@Manub it’s not fixable. Type values should be static, not coming from a prop.

[2022-05-11 03:20] khinshankhan opened #3286 ""react/destructuring-assignment": should NOT have additional properties"
Hello,
I'm encountering the error
[code]
with the rule
[code]

I think it's the `destructureInSignature` property causing issues. Not sure why, lifted it off of the [docs](https://github.com/jsx-eslint/eslint-plugin-react/blob/master/docs/rules/destructuring-assignment.md) and subbed in values. I don't think there are any typos nor conflicting rules.

Additional information:
My eslint packages are

[2022-05-11 03:23] ljharb commented on #3286
Because it’s not published yet. You need to look at the docs on the latest tagged version, not on the default branch (for every repo on github).

[2022-05-11 03:23] #3286 closed

[2022-05-11 03:30] khinshankhan commented on #3286
Oh, I see. How do we view the docs on the latest tagged version?

[2022-05-11 03:57] khinshankhan opened #3287 "Document how do we view the docs on the latest tagged version"
I had the misconception that a feature existed in the latest version when it didn't in #3286. Going through the issues, it seems like a lot of people had similar misconceptions.

I realize now it's simply looking at changelog https://github.com/jsx-eslint/eslint-plugin-react/blob/master/CHANGELOG.md. Perhaps there should be an honorable mention in the readme :stuck_out_tongue:

[2022-05-11 04:13] ljharb commented on #3287
What would you suggest?

"Check the tag, not master" is kind of universal github knowledge; it's not scalable to document it in every readme.

[2022-05-11 04:33] khinshankhan commented on #3287
Hmm, good question. To start with, it's not quite universal because some repos use master/ main as the the release and keep unreleased features in a branch such as dev/ develop/ next etc. < insert xkcd about standards >

To start with, the top can have a comment like
[code]
(wording could use some work) and perhaps a section in faq with the suggestion to check the changelog status for the error `s

[2022-05-11 10:12] ThaBrad opened #3288 "react/jsx-indent with ternary and react fragment DON'T play nice 😕"
Conflicting rules in jsx-intend -->

[code]

Tells me
`Expected indentation of 12 space characters but found 14` (for line 4+5)  AND
`Expected indentation of 10 space characters but found 12` (line 6)

But:

1. 4+5 **SHOULD** be indented (and is normally just fine, even with fragment, when not in combination with ternary operator) --> _I don't care about that, I can just bring them in line with op

[2022-05-11 10:14] ThaBrad commented on #3288
it's a tsx file --> so typescript label (couldn't assign label myself in issue)

[2022-05-11 15:54] ljharb commented on #3288
This is how it should be indented:
[code]
because many of the rules expect that multiline jsx is always parenthesized.

That said (assuming that workaround suffices), it would be reasonable to explore a way to make your OP pass.

[2022-05-11 16:24] ThaBrad commented on #3288
@ljharb thx man!

And yes, **almost** suffices, you solution gives me "one indentation too much" for the opening fragment (and then the following lines).

This does it -->
[code]
But honestly, I don't like the extra sugar, bloaty in my opinion.
Leaving this issue open till someone says no & closes for now …

[2022-05-17 03:40] #3231 closed

[2022-05-19 08:28] veloek opened #3289 "False positive for react/display-name"
There seems to be a regression in version 7.30.0. Functions like these are now treated like components and trigger the react/display-name rule:
[code]
I understand that it might be hard to separate function components from regular functions, but aren't React components always capitalized? Couldn't that be a way to identify them?

This wasn't a problem in version 7.29.4 of eslint-plugin-react.

esl

[2022-05-19 08:51] dottorblaster commented on #3289
Plus one. You can see the example here. https://github.com/trento-project/web/runs/6502507233

[2022-05-19 15:32] troncoso opened #3290 "require-default-props: Configure for rule is invalid"
Hi there. I am trying to use `react/require-default-props` to ensure that non-required fields have defaults set as argument defaults, like this:

[code]

The [documentation rule options](https://github.com/jsx-eslint/eslint-plugin-react/blob/master/docs/rules/require-default-props.md#rule-options) state that I can do that like this:

[code]

However, eslint says this is invalid:

[code]

Is the do

[2022-05-19 16:45] ljharb commented on #3290
This was just released in v7.30.0. What version are you using?

Always check the docs on the tag matching the version you're using, not on master - everywhere on github.

[2022-05-19 16:52] ljharb commented on #3289
cc @golopot; perhaps some of your refactors broke this?

[2022-05-19 17:55] troncoso commented on #3290
Yep, I was a bit behind on my version. Sorry about that. I just set the project up this week, so I didn't have it in mind that I would end up needing to update for this feature that just released 20 hours ago at the time of this comment. Cheers!

[2022-05-19 17:55] #3290 closed

[2022-05-20 01:13] golopot commented on #3289
Yes PR #3276 broke this.

[2022-05-20 05:41] saraadams commented on #3238
Have you tried formatting as follows?
[code]

[2022-05-20 07:11] Robloche commented on #3238
This gives me a new error: `semi-style` (semicolon is expected to be at the end of the previous line)

[2022-05-20 09:16] Robloche opened #3292 "False positive for react/jsx-no-leaked-render"
Following code triggers `react/jsx-no-leaked-render` although it's perfectly valid:

[code]

with:
[code]

[2022-05-20 13:56] ljharb commented on #3292
cc @Belco90

[2022-05-20 14:03] Belco90 commented on #3292
@ljharb thanks for pinging! I can take care of this, feel free to assign it to me.

[2022-05-20 14:05] dejavu1987 commented on #2584
Was this fixed already? I am still having the issue.

[2022-05-20 14:13] Belco90 commented on #3292
@Robloche regarding the false positive reported: I think sometimes you would be interested into having this rule applied to props also, like:

[code]

So I think the proper fix for this would be to make sure the right side of the && operator is a condition or not.

[2022-05-20 14:44] Robloche commented on #3292
Agreed. So what's you recommendation?

As for now, I simply rewrote my code, adding a local `isDisabled` boolean.
And since this makes the code clearer, I guess it's a good solution.

[2022-05-20 18:16] #3289 closed

[2022-05-20 20:20] MatPayette commented on #1574
Is this still a thing after 5 years? If not, what's the solution?

[2022-05-20 20:55] Belco90 commented on #3292
That's true, but now I don't know what to do with this false positive since I can't figure the types of the operators. Any suggestions?

[2022-05-20 23:38] ljharb commented on #3292
The RHS is an === comparison; it can’t ever be anything but a boolean. You don’t need to know any types to figure that part out.

[2022-05-21 08:56] Belco90 commented on #3292
Exactly, so since the RHS is something renderable, this rule should complain about it since we don't know the type for the LHS (it could be a zero, so the rule reported it as expected).

I was suggesting to report props only when there is a && operator and the RHS is a component so we can assume you want to pass that prop to render something, rather than just use the value for logic purposes.

[2022-05-21 14:46] silvenon commented on #1574
@MatPayette not sure, you can easily check, and if it's still an issue you can try continuing my PR #1591 based on the comments. 🙂

[2022-05-22 23:38] burtek opened #3294 "[jsx-tag-spacing] `multiline-always` or `proportional-always` ?"
The [docs](https://github.com/jsx-eslint/eslint-plugin-react/blob/master/docs/rules/jsx-tag-spacing.md) for `beforeSelfClosing` and `beforeClosing` mention `multiline-always` option, but the rule schema and the rule code use `proportional-always` rule rahter than the `multiline-always`.
https://github.com/jsx-eslint/eslint-plugin-react/blob/fc9664fca84291764a4a66820c7e3e91ec9fe8c1/lib/rules/jsx-ta

[2022-05-23 06:52] lokve commented on #3284
I have the same problem
[code]
### Versions

[code]

[2022-05-23 07:16] Robloche commented on #3292
Yes, I'm aligned with your suggestion. That should do the trick.

[2022-05-23 07:39] Belco90 commented on #3292
This could be even fixed by introducing a new option: `reportProps`. It could receive the following values:

- `"always"`: as it is now
- `"components"`: when the RHS is a component, as suggested
- `"never"`: so no props are reported

[2022-05-23 11:29] mckravchyk opened #3295 "jsx-no-constructed-context-values: class instance false positive"
Consider the following code:

[code]

The rule docs explain:

The rule description only mentions object literals and function expressions and it does not seem to me like React would re-initialize previously initialized class instance on a re-render.
`

[2022-05-23 14:45] gregorybolkenstijn opened #3296 "How to prevent jsx-newline for elements and expressions on one line?"
I have `jsx-newline` enabled, but how can I allow these cases where I want everything to stay on the same line? Without adding `{/* eslint-disable[-line] react/jsx-newline */}` around it?

[code]

or

[code]

It would be nice if there would be a setting that allowed for cases where everything is on the same line.
So:

[code]

[2022-05-23 17:38] ljharb commented on #3296
Might be related to #3033.

[2022-05-23 17:39] ljharb commented on #3295
Since there's no components defined in this code, I wouldn't expect that rule to warn. This seems like an oversight.

[2022-05-23 18:04] ljharb commented on #3294
yes, thanks, this was renamed but the docs were overlooked.

[2022-05-24 11:32] Adnan-Bacic commented on #1759
for anyone else getting the same error and ends up here.

i recently updated `eslint-config-airbnb` from `18.2.1` to the currently newest version of `19.0.4`. this means i also updated the peerDependencies, this includes `eslint-plugin-react` from `7.24.0` to `7.28.0`. and i get this error.

`eslint-plugin-react` already has a `7.30.0` version out which fixes the problem. and i can see in the rele

[2022-05-24 15:16] ljharb commented on #1759
@Adnan-Bacic the airbnb config uses ^, so it should already give you the latest if you’re following the instructions correctly. The Airbnb config never needs to update anything unless it’s a semver-major update, nor will it publish solely for that.

[2022-05-24 16:07] ljharb commented on #3292
In the case of https://github.com/jsx-eslint/eslint-plugin-react/issues/3292#issuecomment-1132947856, with no type information, obviously both of those should warn.

[2022-05-24 19:40] GuillaumeAmat commented on #3289
Friendly question: Do you plan to make a new release in the coming days?

cc @golopot @ljharb

[2022-05-24 19:42] ljharb commented on #3289
@GuillaumeAmat i don't have any specific plans for any release. There will be a release when it's ready.

[2022-05-25 07:15] Adnan-Bacic commented on #1759
@ljharb according to the [docs](https://www.npmjs.com/package/eslint-config-airbnb) we have to run:

`npm info "eslint-config-airbnb@latest" peerDependencies`

which shows:

[code]

which arent the latest for any of them.

though i guess the ^ character means we can update to higher versions regardless.

[2022-05-26 03:52] texonidas commented on #3292
I'm also getting a very incorrect error for this:

[code]

[2022-05-26 04:05] ljharb commented on #3292
In that case, since `!display` and `display === something` are booleans, there shouldn't be any TS required to statically know the condition is safe (the runtime typeof is irrelevant)

[2022-05-26 15:41] lukesmurray opened #3297 "strange fix for jsx-no-leaked-render"
**Input File**

[code]

**output file**

[code]

eslint rule setup

[code]

[2022-05-26 15:51] lukesmurray commented on #3297
The exclamation marks show up on strings and nested values.

[code]

[2022-05-26 18:11] SimonSchick opened #3298 "[TypeScript] jsx-no-leaked-render false positives with boolean types"
I'm unsure as how far TS support goes for this package but this rule causes a lot of false positives when the type of the checked variable is already a bool, adding an extra `!!` is kind of annoying (albeit not a deal breaker).

Would it be possible to add support for type checking this rule?

[2022-05-26 18:13] ljharb commented on #3298
Yes. This is a duplicate of #3292.

[2022-05-26 18:13] #3298 closed

[2022-05-26 18:21] ljharb commented on #3297
lol this is clearly a bug. cc @Belco90

[2022-05-26 18:27] lukesmurray commented on #3297
let me know if you have trouble reproducing. to be clear there are two bugs here. the unnecessary exclamation marks and the deletion of branches from ternary expressions

[2022-05-26 21:19] Belco90 commented on #3297
No idea what's causing the former! But the latter it's easy to fix. I'm on it.

[2022-05-26 22:57] ljharb commented on #3297
@Belco90 thanks! i'd love to publish a patch release, and i'd love to include fixes for the latest no-leaked-render issues :-)

[2022-05-26 22:59] Belco90 commented on #3297
@ljharb I got the two issues reported here fixed + #3292 partially fixed. Still figuring out how to prevent reporting when TS types are involved.

[2022-05-26 23:00] Belco90 commented on #3297
Sorry, I forgot to mention: I can create a PR with those fixes while I figure out the last one.

[2022-05-26 23:33] Belco90 commented on #3292
@ljharb I'll need way more time to try checking the TS types when available for the operators of the logical expression as discussed in this issue, since I've never done this before.

[2022-05-27 04:16] #3297 closed

[2022-05-27 10:42] fabiendem commented on #3292
Not sure it can help but I have been using this relatively simple rule so far https://github.com/grailed-code/eslint-plugin-grailed/blob/main/lib/rules/jsx-no-ampersands.js
Tests: https://github.com/grailed-code/eslint-plugin-grailed/blob/main/tests/lib/rules/jsx-no-ampersands.js
It doesn't raise the false positives, even without any knowledge of the types.

[2022-05-30 06:50] angelikatyborska opened #3300 "False-positive for react/display-name after 7.29.4 → 7.30.0 upgrade"
After upgrading eslint-plugin-react from 7.29.4 to 7.30.0 a new linting error appeared in my project that doesn't seem right. My project is a big full-stack monolith web app and it contains both Vue.js and React.js code. Now I am getting `react/display-name` for some Vue/Vuex code that has nothing to do with React. I stripped down the file, the original was much longer, but this still triggers the

[2022-05-30 08:53] SevenOutman commented on #1165
Any update on this? Agree that it should not report positive on SFCs that have explicit names - which is almost every component in 2022.

[code]

[2022-05-30 13:40] ljharb commented on #1165
@SevenOutman it doesn’t report on those, as far as I’m aware. This issue is about reporting on arrow function components that lack inferred names.

[2022-05-31 03:21] SevenOutman commented on #1165
Oops, turns out it was reporting anonymous arrow function components wrapped with `forwardRef`. My mistake.

[2022-05-31 18:14] acgrant opened #3301 "Documentation Clarity for react/require-default-props"
In YAML, I was unable to get the following to work:
[code]
The documentation supports the use of the `functions` key which I'm fine with; however, when I attempt to utilize this option, I encounter the following error: `Value {"functions":"defaultArguments"} should NOT have additional properties.`.

[2022-05-31 20:57] ljharb commented on #3301
That's probably because the `functions` option was added in v7.30.0, and you're using a version older than that.

On github, in every project, always be sure you're looking at the docs on a release tag, and not on master/main.

[2022-05-31 20:57] #3301 closed

[2022-05-31 21:12] acgrant commented on #3301
Thank you, I downloaded the latest of both "eslint-plugin-react" and "eslint", and it did the trick. I'll have to keep my eyes out for that.

[2022-06-01 09:34] vip30 opened #3302 "[Feature Request] add support on styled-component in react/boolean-prop-naming"
I would like to enforce the variable name in styled-components props as well
But seems it's not able to detect it's a React Component.

Example:
[code]

Expected behavior:
Should underline abc for violating the rules

Actual behavior:
Eslint ignore the styled component props

[2022-06-01 15:41] sevdog opened #3303 "False positive for react/display-name when using memo"
After upgrading to 7.30 we have found out that some function component are highlighted by this rule even if they are declared with normal functions rather than arrow functions.

Looking at the code base we found out that these happens only for those components which has an arrow comparison function:

[code]

It looks like the linter considers the comparison function as an other component.

[2022-06-01 18:17] ljharb commented on #3300
cc @golopot

[2022-06-01 20:28] #3303 closed

[2022-06-02 02:17] vip30 opened #3306 "react/boolean-prop-naming does not work when it's in function declare"
Example
[code]

**Expected Behavior:**
Underline abcd is not fullfil the format

**Actual Behavior:**
eslint bypassed

[2022-06-02 02:33] tommyspot commented on #3128
Don't need to delete yarn.lock file.
In yarn.lock, I just saw **2 "eslint-plugin-react"** existing (as picture below). So, only delete them and "yarn install" again.

<img width="815" alt="Screen Shot 2022-06-02 at 09 20 31" src="https://user-images.githubusercontent.com/7645519/171539017-c8db5219-23f5-4ac4-ba62-193df4786503.png">

[2022-06-02 03:48] vip30 commented on #3306
seems fixed by updated to latest

Sry abt that

[2022-06-02 03:48] #3306 closed

[2022-06-04 09:20] golopot commented on #2073
This is handled by https://github.com/jsx-eslint/eslint-plugin-react/pull/3203

[2022-06-04 09:20] golopot commented on #501
fixed in https://github.com/jsx-eslint/eslint-plugin-react/pull/1086

[2022-06-04 09:20] golopot commented on #412
This is handled by https://github.com/jsx-eslint/eslint-plugin-react/pull/2414

[2022-06-04 09:47] MichaelDeBoey commented on #3153
This got fixed by #3203

Huge thanks @Belco90! 🤩

[2022-06-04 10:17] MichaelDeBoey commented on #2073
I can confirm, #3203 fixed the use-case I was pointing out above & in #3153

Huge thanks @Belco90!

[2022-06-04 14:58] #501 closed

[2022-06-08 15:36] ljharb commented on #2073
@pke i believe we have an open issue for that; if not, please file one.

Fixed by #3203.

[2022-06-08 15:42] ljharb commented on #2073
Nope, that should be fine.

[2022-06-08 16:52] Belco90 commented on #2073
This was already fixed in https://github.com/jsx-eslint/eslint-plugin-react/pull/3299 but hasn't been released yet. You can see in that PR some new tests to make sure several boolean chained are correct.

[2022-06-08 18:20] mrchantey commented on #613
Are there any good resources out there for understanding why its important to not spread `key`?

[2022-06-09 20:55] ljharb commented on #613
Because key is a special prop for React only that components can’t ever receive.

[2022-06-10 18:08] tnorling opened #3308 "False positive for react/no-multiline-comp"
After upgrading to version 7.30.0 from 7.29.4 I'm now getting errors for `react/no-multiline-comp` for functions which are not supposed to be React components and which didn't throw previously. Functions which return null and are defined as an object property, seem to be interpreted as React components now, but shouldn't be.

A minimal example demonstrating this behavior:

[code]

[2022-06-10 18:14] ljharb commented on #3308
I believe this will be fixed in the next release, by #3291.

[2022-06-10 18:14] #3308 closed

[2022-06-10 18:18] tnorling commented on #3308
Thanks!

[2022-06-13 08:45] ops1ops opened #3309 ""react/prop-types" array length with optional chaining"
Hello, when i use optional chaining with array (`array?.length`), react/prop-types warns that length is missing in props validation, but if i use `(array || []).length` it does not warn

Type used for array: `array?: Array<Entity>`

Exact error: `ESLint: 'array.length' is missing in props validation(react/prop-types)`

Environment:
[code]

[2022-06-13 08:59] #3309 closed

[2022-06-13 13:28] ljharb commented on #3309
That’s because it’s an optional type - it could be undefined.

[2022-06-13 14:17] ops1ops commented on #3309
No, the problem was that i had cached lower version of library (about 7.10), i reinstalled node modules with 7.30 and now it does not warn, seems it was fixed between 10 and 30 versions, thats why i closed the issue

[2022-06-14 06:20] caroline223 commented on #454
I would like to contribute to working on this issue. @ljharb

[2022-06-14 12:50] EricWong1994 commented on #2942
add these code below in your eslintrc file's rule part will resolve your problem.
`  'react/jsx-indent': [2, 2], `
`    'react/jsx-indent-props': [2, 2],`

[2022-06-14 17:02] ljharb commented on #454
Go for it!

[2022-06-15 02:04] jeiea commented on #3227
Just one question. I thought the followings should be accepted or denied together, but it did not.

Is it expected? If then what is the reason?

[code]

[2022-06-15 03:05] AriPerkkio commented on #3227
This is not a React component. If you try to create React element from this, by using it as `<whyThisAcceptable />` or `React.createElement(whyThisAcceptable, {}, null)` React will throw error. All components must be uppercase. This rule will simply ignore all lowercase functions which return JSX.

This rule has some assumptions. It will prevent you from passing inline components as props by defau

[2022-06-15 03:43] jeiea commented on #3227
I tested `React.createElement(whyThisAcceptable, {}, null)` and it seems not throwing error. I still have doubt about this rule but it's not important. Thanks for the comment, I misunderstood where render prefix can be used :)

[2022-06-15 14:52] karlhorky opened #3310 "Validate DOM nesting when possible"
Hey @ljharb, long time no see! 👋 Have been pretty inactive around here, sorry about that! Lots of new students.

Wanted to see what you think about a new feature to validate DOM nesting when possible, to avoid such errors as seen below - which now, as of React 18, lead to hydration errors.

**Problem:** `th` is not a valid child of `tfoot`

[code]

I remember React did some kind of simple validati

[2022-06-15 16:40] GajapatiBag commented on #3215
I am also getting same issue.  Need fixed for this.

[2022-06-15 18:03] ROSSROSALES commented on #2318
Hi @ljharb, could I try to tackle this?

[2022-06-15 20:16] daryazata commented on #1955
Simply need to write exact version of react you re using ..

[2022-06-16 02:14] ljharb commented on #1955
@daryazata it supports "detect", so you shouldn't have to do that.

[2022-06-16 18:08] ljharb commented on #3033
@TildaDares go for it! I think we'd want to keep the same behavior by default, but add a new option that ignored single-line jsx expressions.

[2022-06-16 18:10] ljharb commented on #3310
I think that this would be very useful IFF we had a shared data source between React and this plugin, that matched what browsers accepted. Do you know of one?

[2022-06-16 18:10] ljharb commented on #2318
@ROSSROSALES go for it!

[2022-06-16 21:07] karlhorky commented on #3310
There's this file from the React source here: https://github.com/facebook/react/blob/main/packages/react-dom/src/client/validateDOMNesting.js (apparently Sophie extracted a subset of the spec, Dan mentioned)

Maybe that plus some additional rules for common things?

[2022-06-17 01:49] ljharb commented on #3310
Is that reachable from the actual npm package?

[2022-06-17 08:17] karlhorky commented on #3310
Seems like `validateDOMNesting` and `findInvalidAncestorForTag` are [exposed in `react-dom@18.2.0/cjs/react-dom.development.js`](https://unpkg.com/browse/react-dom@18.2.0/cjs/react-dom.development.js)

[2022-06-17 13:23] ljharb commented on #3310
If we can access them from react, that’d be sufficient, but we’d have to be able to do so across many react versions :-/

[2022-06-19 15:55] SalahAdDin commented on #1846
Why?

Button html tag receive it like props, why should not we add it too?

[2022-06-19 16:03] ljharb commented on #1846
@SalahAdDin why to which part? "reset" is a horrible UX pattern that should never be used, if that's what you mean.

[2022-06-19 17:46] SalahAdDin commented on #1846
I mean, the type property should be also available to be passed from a parameter.

[2022-06-19 22:29] therealgilles commented on #2856
Here is what I ended up doing to workaround the issue:

[code]

[2022-06-20 08:48] Manubi commented on #1846
Please, don't hang me up on the reset button. I am talking about `type=button` and `type=submit`. That's all.. :)

[2022-06-20 15:54] greatsage-raphael commented on #3295
Could I take on this issue

[2022-06-21 04:41] ljharb commented on #1846
@Manubi @SalahAdDin it does _work_ just fine when dynamically provided. However, that makes it impossible to lint for it - to statically analyze it.

By hardcoding it, you allow the lint rule to be useful.

[2022-06-21 04:41] ljharb commented on #3295
Go for it!

[2022-06-21 08:19] Manubi commented on #1846
but than I would need to have two button components one with type submit and one with type button. Right?

[2022-06-21 13:02] ljharb commented on #1846
@Manubi no, you could still dynamically render one of two button _elements_ within the same component.

[2022-06-21 19:18] tulitheprogrammer opened #3312 "react/jsx-no-leaked-render - multiple left operands yield false positive, in coerce moce"
that passes:
[code]

but that isn't supported whatsoever:
[code]

[2022-06-22 02:43] kcjonson commented on #2195
@ljharb can you explain why "The spread is basically impossible to statically analyze" I'm not seeing how that is true.
If you mean within the same file, you're right, since variables could come from anywhere. It would require that the code tree walk to find the source of the variable that is being spread, that's possible but would have negative performance impact.

I still feel that this is criti

[2022-06-22 03:49] ljharb commented on #2195
eslint only operates within the same file.

[2022-06-22 06:01] WayneEllery commented on #2404
I've also noticed this in our code. The code is this:
[code]

It's a function and not a component but the error is `error  Component definition is missing display name  react/display-name`

[2022-06-22 10:03] pke commented on #3312
I think this is fixed in a recent PR but its not released to npm yet

[2022-06-22 10:07] pke commented on #3292
A new option would be good. Props should not be validated by default.

Also the fix should not result to `null` in ternary operator but to `undefined` or it should be configurable. `null` according to Crockford should not be used: if you want a falsy value use `undefined`, because `null` does not work with default params and therefore completely changes the code flow.

[2022-06-22 11:18] Belco90 commented on #3292
Returning `null` is required since prior to React v18 returning `undefined` is considered as a missed return statement. React itself will complain with a message like: _Uncaught Error: Error(...): Nothing was returned from render. This usually means a return statement is missing. Or, to render nothing, return null._

[2022-06-22 12:03] pke commented on #3292
re: `null` thats correct for render returns but not for props. I was unclear. I meant for props fixes it should use undefined and not null.

[2022-06-22 12:31] Belco90 commented on #3292
@pke I see, I guess we can discuss on how to improve the rule reporting on props other than `children`. Not really sure what to do with it to be honest, apart from the option to decide between `null` or `undefined`.

[2022-06-23 05:16] pke commented on #3292
Given those 2 components:

[code]

the linting rule would change this:

[code]

And when it sends `null` for `type` to the `<Button>` the Buttons default assignment for the `type` prop does not work anymore.

[2022-06-23 05:18] ljharb commented on #3292
"`null` should not be used" is useless and antiquated advice that the larger JS ecosystem has resoundingly rejected, so let's just throw that out the window right now.

[2022-06-23 05:23] pke commented on #3292
You see the problem with null in that case though?

[2022-06-23 05:26] ljharb commented on #3292
Yes, but a present undefined prop isn't the same thing as an absent prop either.

In this specific case, if the prop value is `foo && bar === 0` then the rule simply shouldn't be checking it - so yes, I do agree that this rule should not be checking prop values that aren't "`children` on an HTML element".

[2022-06-23 13:46] ljharb commented on #3292
Like for the props object the component receives. `<Foo />` and `<Foo x={undefined} />` are different - the former gets a props object of `{}`, the latter `{ x: undefined }`, and these are observably different.

[2022-06-23 21:18] ljharb commented on #3312
v7.30.1 is released; closing, but will reopen if it's not fixed.

[2022-06-23 21:29] ljharb commented on #3221
@xt0rted it doesn't seem to be working quite right: https://github.com/jsx-eslint/eslint-plugin-react/releases/tag/v7.30.1

[2022-06-25 17:55] ROSSROSALES commented on #2318
Hi @ljharb, I used @lkazberova code as a testing example.
I recreated the same scenario initially mentioned June 23, 2019, and  I did not come across the same issue.
Below is the proper output of eslint with appropriate rules.

rules:
[code]
Sample Code Below:
Before running `npx eslint index.js --fix`
[code]
Errors found from Eslint according to rules `npx eslint index.js`
[code]
After applying `

[2022-06-25 21:02] ljharb commented on #2318
@ROSSROSALES awesome - in that case, what we need is a PR adding a passing test case, and that PR can close this issue :-)

[2022-06-26 11:00] tulitheprogrammer commented on #3312
fixed, just verified.
thanks !!!

[2022-06-26 23:43] ROSSROSALES commented on #2318
@ljharb I will work on it! :thumbsup:

[2022-06-28 08:59] ErikBrendel commented on #2282
The rule is called "react/jsx-filename-extension", not "react/jsx-filename-extensions" --> properly renaming it helped for me :)

[2022-06-28 09:01] agnel commented on #2282
Oh.. Thanks a lot @ErikBrendel :)

[2022-06-28 11:11] MiroslavPetrik commented on #3100
@ljharb How is this duplicate?

`plugin:react/jsx-runtime` will mark the `import React from 'react'` as error, when you have plain JSX used, so there is the 'hidden' `React.createElement` for which the react was needed, but not anymore.

But the OP has code `React.useState` for which the `React` import is needed, and the rule should error on the code, as the direct hook import is preferred.

I did

[2022-06-28 19:52] #3033 closed

[2022-06-29 05:28] ljharb commented on #3171
Go for it!

[2022-06-29 18:19] Belco90 commented on #3292
@shamilovtim I'm afraid it didn't, and I'm not really available to handle this for now.

[2022-07-02 20:35] #3171 closed

[2022-07-03 17:01] ljharb commented on #3117
Go for it!

[2022-07-04 15:45] ljharb commented on #3117
Correct.

[2022-07-04 16:37] GiancarlosIO commented on #3057
👀

[2022-07-04 21:33] #3117 closed

[2022-07-05 05:54] ljharb commented on #2954
`React.memo` takes a component, so a function passed to it absolutely should be required to have a displayName, since it won't implicitly infer a name from anywhere.

`React.forwardRef` does not take a component, so this shouldn't complain.

However, the specific nested case should complain - unless React is one of the versions mentioned [here](https://github.com/jsx-eslint/eslint-plugin-react/iss

[2022-07-05 10:17] ChazUK commented on #2760
I fixed this using the following

[code]

[2022-07-06 04:09] caroline223 commented on #454
@ljharb Upon further research on this topic, I believe that there is a bug within eslint that prevents indentation with ternary operators in jsx. Therefore, I do not believe this issue can be solved under the current version of eslint.

[2022-07-06 04:12] caroline223 commented on #3296
@ljharb I would like to work on this issue.

[2022-07-06 04:22] #2318 closed

[2022-07-06 04:26] ljharb commented on #3296
@caroline223 go for it!

[2022-07-06 04:28] ljharb commented on #454
If it's a bug in the `indent` rule, we should file it in eslint itself - and if they're unwilling to fix it, we should try to work around it in jsx-indent if we can.

[2022-07-06 05:26] #2954 closed

[2022-07-06 13:54] Christos-Zacharopoulos opened #3322 "react/boolean-prop-naming type on React.forwardRed validation of boolean with typescript does not work"
If I use this rule in React.FC it works

[code]

but not in forwardRef.

[code]

Is this the intended behavior?

[2022-07-06 16:11] ljharb commented on #3322
forwardRef doesn't take a component, so the function it takes doesn't have props.

[2022-07-06 16:42] ljharb commented on #2722
Go for it!

[2022-07-07 20:32] zaicevas opened #3323 "Bug: `jsx-no-leaked-render` faulty autofix"
Version: 7.30.1
Config:
[code]

Before fix:
[code]

Post fix:

[code]

Expected:

[code]

On top of that, the auto fix is quite slow.

[2022-07-07 20:34] ljharb commented on #3323
The exclamation points definitely seem like a bug that should be fixed, and i agree that the `>` comparison shouldn't be touched since it can only ever be a boolean.

The autofixer's performance is something that can be improved separately, but isn't as concerning.

[2022-07-07 21:12] zaicevas opened #3324 "Bug: `hook-use-state` false positive"
Version: 7.30.1

This code snippet should not produce an error. However, it does.

[code]

[2022-07-07 21:12] zaicevas commented on #3324
Whoops, my bad. Haven't noticed an uppercase `I` 😶

[2022-07-07 21:12] #3324 closed

[2022-07-08 07:28] #3322 closed

[2022-07-08 08:36] cebamps opened #3325 "react/prop-types & TypeScript: false positive with HTMLAttributes prop type"
Using `React.HTMLAttributes<HTMLButtonElement>` as the prop type in a component definition causes false positives of `react/prop-types`.

Strangely enough, when adding indirection by extending that same type in an interface, the problem goes away. The same technique applied to a type alias for the same type does not work, however.

Even stranger, the last case in the minimal working example below

[2022-07-08 16:35] bradzacher commented on #3325
I'll start by saying that this rule seems like it is pretty redundant in TS code because TS will catch the case where you're using a property that's not declared in the props object type. I.e. the rule will double-report (and likely do a worse job than TS as it's not type-aware).

---

I don't think it does - it looks like the logic is hard coded to look for top-level type/interface declarations i

[2022-07-08 16:47] ljharb commented on #3325
Interesting, thanks, that's a really helpful analysis.

I also agree that if TS will catch things that aren't declared, then it might be better for the prop-types rule to merely ensure that there is a TS type (presumably not `any`, though).

[2022-07-09 15:15] Fuco1 commented on #578
@xsrvmy An argument to map is an anonymous function, so this can distinguish it.

The moment it is assigned to either a variable or made into a `function bla()`, this can be detected and it should be required to become a component.

@dirkroorda

This is not a problem because the rule is: IF (return jsx) THEN (make component).  If it returns a string, whatever.

[2022-07-10 05:36] github-actions[bot] opened #3327 "Results of weekly scheduled smoke test"
Something went wrong.

<details>
    <summary>Click to expand</summary>

[code]

</details>

[2022-07-10 15:43] ljharb commented on #3327
cc @AriPerkkio seems unrelated to the linter?

[2022-07-10 15:46] ljharb commented on #3327
ah, looking at the actual output, it’s just that there were so many failures :-) on it.

[2022-07-10 15:52] AriPerkkio commented on #3327
Yes, looks like the `react/jsx-key` crashed over 1000 times.

The custom Github Action `eslint-remote-tester-run-action` already limits the result count into 50 results when posting a comment. I guess one of the error messages just had extremely long stack traces or something, which caused +65k characters in bot's comment. I think I'll need to [add some extra handling here](https://github.com/AriP

[2022-07-10 16:22] ljharb commented on #3327
Hmm, unfortunately it seems the actions output isn't actually helpful - there's no stack trace or anything. Any idea how i can get to repro code?

[2022-07-10 16:31] AriPerkkio commented on #3327
The action does output the results as "raw output" in CI logs - exactly for cases like this. It's meant to be a backup. By looking at the CI's logs in text-only mode these are easily visible.

CTRL + F > search for `Results:`
![image](https://user-images.githubusercontent.com/14806298/178153467-558b4984-3030-4527-b29a-62f34c669028.png)

Here are the first three results:

<details>

Repository: iam

[2022-07-10 16:45] #3327 closed

[2022-07-10 22:34] github-actions[bot] opened #3328 "Results of weekly scheduled smoke test"
Detected 2 ESLint reports and/or crashes.
Scanned 6169 repositories.

Rules:
-   `react/jsx-key`

<details>
    <summary>Click to expand</summary>

## Rule: react/jsx-key

-   Message: `node.body.forEach is not a function Occurred while linting /github/workspace/node_modules/eslint-remote-tester/.cache-eslint-remote-tester/drupal/drupal/core/assets/vendor/ckeditor5/image/image.js:5 Rule: "react/js

[2022-07-11 08:11] nix6839 commented on #2387
@ljharb I want to use only explicitSpread. But an error occurs. Is there another way?
[code]

[code]

[2022-07-11 09:05] V2dha commented on #2962
For now, `target` attribute can be assigned using ternary operator provided one of the consequent or alternate is assigned as `_blank`. Similar, thing can be added for the `rel` attribute from which the value can be extracted from either of the consequent or alternate which contains `Literal` type of value. What do you think @ljharb?

[2022-07-11 10:31] apbarrero opened #3329 "False positive for react/display-name on function value assignment"
Related to https://github.com/jsx-eslint/eslint-plugin-react/issues/3289 and reproducible after its fix in 7.30.1.

This code makes the `display-name` rule to yield the error `'Component definition is missing display name'`. So it seems that it is still identifying the assignment of a function value to a variable as a component definition.

[code]

As opposed to https://github.com/jsx-eslint/eslin

[2022-07-11 15:02] #3328 closed

[2022-07-11 16:14] ljharb commented on #3329
Why is that needed?

(Either way, this function is a lowercase-named function so it shouldn't be detected as a component)

[2022-07-11 16:15] ljharb commented on #2962
I think that makes sense - any place we currently require a static string should also allow a ternary where both options are an acceptable static string.

[2022-07-12 07:51] max-prtsr opened #3330 "Add "destructureInSignature: never" to destructuring-assignment"
That would forbid to use

[code]

Reason:
- in TS, it looks less readable
- forces our developers to use only one variant
- seeing `props` in code (e.g., in review) helps identify react components with 100% sure

[2022-07-12 08:14] apbarrero commented on #3329
@ljharb well, as you said, it shouldn't be detected as a component and it is valid code, so the rule shouldn't claim it as an error.

Why are you asking?

[2022-07-12 14:07] ljharb commented on #3329
I’m curious.

[2022-07-12 18:07] #3329 closed

[2022-07-12 19:43] #3130 closed

[2022-07-12 20:38] ljharb commented on #3100
ahh, i see what you mean. you want a specific rule to force React's adjacent imports - Component, PureComponent, hooks, etc - to be either named-imported (or CJS-destructured) vs being chained off of React/the default import?

This is related to #2628; specifically https://github.com/jsx-eslint/eslint-plugin-react/issues/2628#issuecomment-736680314. https://github.com/jsx-eslint/eslint-plugin-reac

[2022-07-13 04:08] max-prtsr commented on #3330
Maybe,  but an option of using props and destructuring in the function body would be nice for me :)

[2022-07-13 04:30] ljharb commented on #3330
Destructuring in the signature has concrete benefits, whether using TS or not - it avoids the props object being accessible at all, which avoids a huge class of bugs caused by mutating or exposing that mutable props object.

This isn't a mere aesthetic difference, and I don't think it would be a good idea to have a rule that encouraged it.

[2022-07-13 08:22] max-prtsr commented on #3330
Nobody uses `props.x`, because we're using restructuring on the next line

There is

We have components with 10-20 props and putting them in a function definition is less readable for me.

Looks like basically, you're saying "we don't use it - nobody needs it", which is untrue.

[2022-07-13 09:35] clement-escolano opened #3333 "Support spreading only from some methods/objects (rule jsx-props-no-spreading)"
Hello

First, thank you for the plugin which works very well and helps us catch a lot of issues at code time :-)

I have a use-case in my project where a method is used to provide props to some components. I would like to allow props spreading on all components but only when it comes from this method. A code sample can be:

[code]

The method is always the same and we control its output so it is s

[2022-07-13 14:21] apbarrero opened #3334 "False positive for react/display-name on function value assignment to identifier starting with `_`"
Both this codes are wrongly identified as Components:

[code]
[code]
Apparently because words starting with `_` are claimed as starting with a capital letter.

[2022-07-13 14:28] ljharb commented on #2387
@nix6839 update the to latest version of the plugin.

[2022-07-13 14:42] TristanHessellHyper opened #3336 "Bug: `no-unused-prop-types` doesn't detect unused props with Typescript & React 17 jsx transform"
The rule `react/no-unused-prop-types` doesn't seem to pick up that the component has unused props.

Environment:

Dependencies:
[code]

`eslintrc.js`
[code]

`tsconfig.json`
[code]

## Example Code
[code]

## Expected Outcome

Lint error with message `'username' PropType is defined but prop is never used`.

## Actual Outcome

No error message.

---

If I change the code to have `import React from

[2022-07-13 19:48] TildaDares commented on #2946
I'd like to work on this!

[2022-07-13 20:11] ljharb commented on #2946
Go for it!

[2022-07-14 09:08] Belco90 commented on #3323
I identified the issue but I need more time to rework the fix functionality to solve it.

[2022-07-14 19:11] devinrhode2 opened #3337 "`react/no-arrow-function-lifecycle` creating invalid code"
Please see this comment: https://github.com/prettier/eslint-plugin-prettier/issues/65#issuecomment-1184764958

[2022-07-14 19:13] devinrhode2 commented on #3337
input:
[code]
invalid output:
[code]

[2022-07-14 19:14] devinrhode2 commented on #3337
THANK YOU @ljharb this was driving me bonkers, I was convinced it was a bug related to prettier/eslint integration, but it seems isolated to eslint.

[2022-07-15 11:14] MiroslavPetrik commented on #3100
The default export is half the story, still you can do wildcard import `import * as React from 'react'`
so the rule to not have global `React` is still needed.

The workaround does not cover this case.

[2022-07-15 16:54] ljharb commented on #3100
@MiroslavPetrik for that, `import *` should just be banned wholesale, using no-restricted-syntax. I'd also be willing to entertain a rule for that in eslint-plugin-import - but it's not unique to React.

[2022-07-15 19:45] ljharb commented on #3336
If you have `React.VFC` in the file, how can you not be importing React?

[2022-07-16 00:13] TristanHessellHyper commented on #3336
@ljharb the code uses the react 17 jsx transform, which doesn't require React to be imported: https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html#removing-unused-react-imports.

In TypeScript, React isn't required to be imported (when used as a type namespace) if the compiler option is set.

[2022-07-16 00:20] ljharb commented on #3336
I'm aware of the jsx transform; i was not aware TS allowed sloppy type imports with any options provided.

If you explicitly `import type` the VFC type, what happens?

[2022-07-18 05:23] #3334 closed

[2022-07-18 15:09] mslenc opened #3340 "Missing components are not detected?"
This code produces no warning or error, despite Bubu not being defined:

[code]

At the same time, this code says Comp is not used:
[code]

As if using a component in a JSX \<Tag> is completely ignored? That seems like something that should be changed..

See [Playground](https://eslint.org/play#eyJ0ZXh0IjoiZnVuY3Rpb24gdGVzdCgpIHtcbiAgcmV0dXJuIDxCdWJ1IC8+O1xufVxuXG50ZXN0KCk7Iiwib3B0aW9ucyI6eyJwYXJz

[2022-07-18 15:24] ljharb commented on #3340
Your playground there is just eslint core rules - this is eslint-plugin-react.

I would expect eslint to warn on the first example unless you’ve declared it as a global. What rule in *this plugin* are you expecting to warn?

[2022-07-18 15:45] mslenc commented on #3340
I'm sorry, I misinterpreted some things. There is a rule for this already, `react/jsx-no-undef`, it just wasn't enabled in the project where I noticed the original problem.

Thanks for your help!

[2022-07-18 15:45] #3340 closed

[2022-07-18 15:48] ljharb commented on #3340
I highly suggest basing your eslint config on Airbnb’s; it sets up everything you need.

[2022-07-20 11:09] TristanHessellHyper commented on #3336
When using `import type {VFC} from 'react'`, the unused props are reported 👍

[2022-07-20 15:46] pkuczynski opened #3341 "jsx-closing-bracket-location does not support tag with a single multiline prop"
I am not able to configure this rule to allow me to write things like:

[code]

[2022-07-20 15:48] #3341 closed

[2022-07-21 08:05] przemke commented on #2584
For me the solution was to add `allowExpressions` option to the config:
[code]

[2022-07-21 15:22] dngadelha opened #3342 "react/jsx-first-prop-new-line conflict with prettier configs"
**Version:**

- eslint: 8.18.0
- eslint-config-prettier: 8.5.0
- eslint-plugin-react: 7.30.1
- prettier: 2.7.1

**Config:**
[code]

**Before:**
[code]

**Expected:**
[code]

**Conflict with Prettier:**

![image](https://user-images.githubusercontent.com/32827649/180250020-43fa9a2d-da7d-42a6-b238-0771968e76f9.png)

**Prettier Config:**

[code]

[2022-07-21 22:18] BenjaminWFox-MuleSoft opened #3343 "False positive: react/no-multi-comp"
I have a `.ts` file with a handful of arrow functions returning null `() => null` that's getting flagged for `react/no-multi-comp`. Simplified example:

<img width="243" alt="Screen Shot 2022-07-21 at 3 13 30 PM" src="https://user-images.githubusercontent.com/104960760/180324005-ff6c2fbd-c57c-4175-8ee4-1bd397cd3030.png">

This is recent, happened when upgrading from 7.26.1 -> 7.30.1

[2022-07-21 22:20] ljharb commented on #3343
I believe this will be fixed by #3331 in the next release.

[2022-07-21 22:20] #3343 closed

[2022-07-22 17:57] tnorling commented on #3308
@ljharb This is still a problem in 7.30.1

[2022-07-25 14:54] philer-jambit opened #3345 "function-component-definition should not match unfixable edge cases (TypeScript generics)"
[The documentation for the `function-component-definition` rule](https://github.com/jsx-eslint/eslint-plugin-react/blob/HEAD/docs/rules/function-component-definition.md) helpfully points out, that certain cases in TypeScript code using generics can not be fixed.
For example this:

[code]
can not be converted into an arrow function as the type parameter conflicts with JSX syntax.

Since that is the

[2022-07-27 03:29] golopot commented on #3193
I am interested in this features!

The schema can define a partial order like:

[code]
This means the "xs" must be placed before "sm", "md", ..., and any other props.

[2022-07-27 07:00] jxm-math opened #3346 "False positives for react/display-name in HOF returning null"
Any of these constructs are incorrectly identified as Components:

[code]

[2022-07-27 07:20] DenRedsky commented on #3097
Have the same issue, any plans to fix it?

[2022-07-27 19:53] mkosir opened #3348 "`jsx-handler-names` not working 🤔"
Not sure what I'm doing wrong but no matter how I set/enable `jsx-handler-names` rule in my projects (Nextjs) it doesn't seem to be working at all 🤔 Any idea what to check?
[code]

[2022-08-02 04:23] ROSSROSALES commented on #2366
@ljharb I am having trouble with my approach to the problem and wanted to clarify if it is appropriate.
As per the examples you have given above, I believe grouping to the AST nodes and comments before sorting would work.
I have been able to identify the attribute nodes and comments.
However, I tried using AST explorer to find comments as nodes, but I was unable to.

Question:
Am I heading in the

[2022-08-03 05:35] goblin-pitcher commented on #3097
Perhaps it can be fixed by `eslint indent`

Here is my `.eslintrc`

[code]

[2022-08-04 18:07] ljharb commented on #2366
@ROSSROSALES I think the comments will be attached as a property on an adjacent node of another kind.

[2022-08-04 21:06] ljharb commented on #3348
Can you provide some example code that you expect to be warned, but isn't?

[2022-08-04 21:45] #3346 closed

[2022-08-04 22:39] #2946 closed

[2022-08-04 23:10] ljharb commented on #3308
Hopefully #3347 will fix it in the next release, then :-)

[2022-08-04 23:35] ljharb commented on #3057
@TildaDares yes, this seems to be related to component detection.

[2022-08-04 23:46] ljharb commented on #3345
The patterns that aren't autofixable aren't necessarily *un* fixable - however, if there is a pattern that has no other possibility, you're right, we shouldn't warn on it.

[2022-08-05 03:51] ljharb commented on #3342
ok? conflicts with prettier are handled by eslint-config-prettier, not by individual plugins.

[2022-08-05 03:51] #3342 closed

[2022-08-05 03:55] ljharb commented on #3333
I do understand your use case - Airbnb had it as well - but I'm not sure it's a general enough problem to be worth solving in the plugin, and I'm concerned that the likelihood of misuse is high.

[2022-08-05 03:56] ljharb commented on #412
Indeed, this is now handled by the `function-component-definition` rule.

[2022-08-05 03:56] #412 closed

[2022-08-05 03:57] ljharb commented on #3227
This seems answered. If you're still having problems, please file a new issue with repro code and we'll take a look at it :-)

[2022-08-05 03:57] #3227 closed

[2022-08-05 04:00] ljharb commented on #3330
That should suggest to you that "having 10-20 props" is what causes the readability problem, not "where they're destructured".

Either way, I think this:
[code]
is pretty objectively more readable than this:
[code]
_especially_ with long lists, because it duplicates the `props` reference, and the longer the list, the farther apart they are.

What I'm saying is that not all stylistic preferences ar

[2022-08-05 04:00] #3330 closed

[2022-08-05 04:02] ljharb commented on #3278
I'm not really sure without looking at the actual code.

If you can provide a repro repo, I'm happy to reopen this.

[2022-08-05 04:02] #3278 closed

[2022-08-05 05:14] ljharb commented on #3208
That blog post is correctly describing why you shouldn't call a *react component* directly as a function.

It is not, however, talking about calling a _non-component function that returns JSX_ - typically called a "render function", or used as a prop, a "render prop".

I don't think it makes sense to have a rule forbidding this. If someone wants to share code examples that are legitimately problem

[2022-08-05 05:14] #3208 closed

[2022-08-05 05:16] ljharb commented on #3269
Regarding exhaustive deps, if the rule already exists, and you can choose to set it to an error (the react team unfortunately believes, incorrectly, that eslint rules set to "warn" still preserve their usefulness), I don't think it'd make sense to reimplement it here just so we could make a different severity recommendation.

I think that if a very thorough set of test cases was provided, and all

[2022-08-05 05:40] ljharb commented on #2404
@WayneEllery the latest release of the plugin should fix the display-name issues. What version are you using?

[2022-08-05 11:40] mkosir commented on #3348
Hey @ljharb,
with `create-next-app` I initialized an [empty project](https://github.com/mkosir/example-lint) and added [`jsx-handler-names` lint rule](https://github.com/mkosir/example-lint/blob/main/.eslintrc#L15) to it.
If you run `npm run lint` linting will succeed without errors, with [example component](https://github.com/mkosir/example-lint/blob/main/components/TestComponent.tsx) where linti

[2022-08-05 12:44] dngadelha commented on #3342
A

[2022-08-08 14:46] AviDuda opened #3352 "Prefix setting for hook-use-state"
I'm currently refactoring some code so I wanted to set this for now: `const [locale, _setLocale] = useState("en")` without using `setLocale` in the code.
I'm using the @typescript-eslint/no-unused-vars rule with `"varsIgnorePattern": "^_"` which allows me to have an unused var, but the hook-use-state rule is (fairly) complaining "useState call is not destructured into value + setter pair".

I'd li

[2022-08-08 17:25] ljharb commented on #3352
That seems like a lot of complexity to add as opposed to just using an eslint override comment in this one place?

[2022-08-09 04:19] #2722 closed

[2022-08-09 11:43] gabor-at-reed commented on #3132
I've checked this, and the issue still occurs with [v7.30.1](https://github.com/jsx-eslint/eslint-plugin-react/releases/tag/v7.30.1) for me.

[2022-08-09 15:38] ljharb commented on #3132
@gabor-at-reed we have passing tests, so if you would file a new issue with a repro repo that’d be great.

[2022-08-09 19:30] #3300 closed

[2022-08-10 14:52] hduprat commented on #3323
@Belco90 I created a PR to fix the multiple `!` issue during autofix. Feel free to review it!

[2022-08-10 15:49] Belco90 commented on #3323
That's amazing! I'll try to review it later today. Thanks.

[2022-08-10 20:23] flacoman91 opened #3354 "jsx-no-leaked-render strategies question config question"
Hello,

Is there a way to make **coerce** to be the preferred strategy, and to not adjust the code when there's a ternary ?

I have code that looks like
`{ foo ? <thing1> : <anotherthing2>}`

with coerce enabled as the rule, its converting the code to

`{ !!foo && <thing1>}` and i lose the else.

Is there a way to make coerce apply only when there's no ternary?

For instance, I would like the coer

[2022-08-10 22:00] ljharb commented on #3354
That's a bug - you should never lose the "else".

cc @Belco90

[2022-08-12 17:47] #2962 closed

[2022-08-13 03:28] xt0rted commented on #3221
@ljharb The action that extracts the changelog details had a bug around the time of this release that caused the results to be empty, the version released in July fixed it. I just did a release using the same format you are and it correctly included all the links and contents of the version but there wasn't a blank line between the contents and link list so they didn't render correctly. I'll repor

[2022-08-13 05:41] ljharb commented on #3221
Since that job is now 2 months old, and Actions won't let me simply rerun it, is there an easy way to rerun the action and properly populate the release content?

[2022-08-13 20:50] #3057 closed

[2022-08-14 11:01] Jackman3005 commented on #3323
I'm having a similar experience:

## Original
[code]

## Result
[code]

Similar to the OP, the `!sourceQuestData` should not have been touched. `loadingSourceQuest` is a boolean already, so it does not need to be touched either.

## Adding to booleans
I also see it adding `!!` to variables that are already clearly a boolean:

[code]

[2022-08-14 12:31] yay commented on #2598
I'm interested in this too.

In our organization we have a rule where React keys must be specified in alphabetical order (`'react/jsx-sort-props': [ 'error' ],`). This makes a random prop show up on the same line as the component's name, drawing unwarranted attention to itself.

For example:

[code]

Expected style:

[code]

This way it's easier to focus just on the component tree structure, witho

[2022-08-14 15:01] ljharb commented on #3323
This should be fixed by #3353.

[2022-08-14 15:01] #3323 closed

[2022-08-15 05:34] Jackman3005 commented on #3292
That's a bummer :/ I imagine it would be quite a bit easier to determine if the variable is a boolean in a Typescript aware context.

[2022-08-15 05:41] Jackman3005 opened #3357 "jsx-no-leaked-render removes parentheses effecting formatting"
Hello I am trying to get the jsx-no-leaked-render to fix some code in my repo. When it runs its fix it is changing more code than necessary. In this case, it is removing parentheses around the element. Although, not strictly necessary, it's a convention we use in our codebase to keep formatting consistent resulting in more clearly scoped conditional statements and components.

Although one could a

[2022-08-15 05:42] ljharb commented on #3357
I agree, it shouldn't be removing these parens.

cc @Belco90

[2022-08-15 20:34] JDGarner commented on #3097
thanks @goblin-pitcher that worked for me

[2022-08-15 20:34] #3097 closed

[2022-08-16 22:27] WayneEllery commented on #2404
Thanks. Yes that comment was 22nd of June so an older version. This is now no longer an issue for me. Thanks for fixing it and letting me know

[2022-08-17 02:02] Jackman3005 commented on #3357
I wouldn't mind helping with a PR here, but I think I need someone to explain what they think the problem is and where I'd have to make a fix. Happy to take a stab at figuring things out after that.

Maybe @ljharb  or @Belco90 could point me in the right direction?

Thanks in advance!

[2022-08-17 02:12] ljharb commented on #3357
My personal approach would likely be to add some valid and invalid test cases, run `npm run mocha path/to/test/files`, and then in the rule file, console.log → rerun → debug → edit → repeat :-)

[2022-08-17 03:30] DaYesahh commented on #2349
When I use memo and forwardRef in react project, out of memory!

[2022-08-20 12:38] bryantobing12 commented on #2856
is there a workaround for this?

[2022-08-20 20:14] AviDuda commented on #3352
I understand that it's easy to disable the rule for one-off changes like this. Maybe a setting isn't needed then.
Would you consider allowing an underscore prefix without any setting? This would play well with e.g. TypeScript's `noUnusedLocals` setting. Of course, state without a way to set state is useless, but as in my example with locale, it makes sense to temporarily write it like this with a

[2022-08-21 02:37] ljharb commented on #3352
https://npmjs.com/eslint-plugin-eslint-comments may be helpful there?

[2022-08-21 10:10] AviDuda commented on #3352
I wasn't aware about this plugin, so thank you for the link. It works for my use case.

[2022-08-21 10:10] #3352 closed

[2022-08-23 09:55] VeikkoLehmuskorpi commented on #2492
What do you mean? Isn't Strict Mode especially useful in React 18 with concurrency and whatnot?
https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html

[2022-08-23 10:31] nickmccurdy commented on #2492
Yea, it's still used, though it enforces some additional things in React 18. `create-react-app` and `create-vite` also still generate it by default.

[2022-08-23 12:24] Janpot opened #3368 "react/jsx-key doesn't detect Array.from"
[`react/jsx-key`](https://github.com/jsx-eslint/eslint-plugin-react/blob/master/docs/rules/jsx-key.md) doesn't detect a specific case where an iterable is [mapped using `Array.from`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/from#parameters):

[code]

[2022-08-23 23:05] ljharb commented on #3348
@mkosir instead of just `"react/jsx-handler-names": "error"`, try `"react/jsx-handler-names": ["error", { checkLocalVariables: true }]` - with that setting, i'm able to see the expected errors.

[2022-08-23 23:05] #3348 closed

[2022-08-24 14:01] ljharb commented on #3348
Props should always be destructured; it’s just that this rule’s defaults are waiting for a semver-major release to change.

[2022-08-24 14:29] mkosir commented on #3348
Hm not following completely 🤔

I updated the [test repo](https://github.com/mkosir/example-lint) mentioned above, if you try to run `npm run lint` linting fails on [this line](https://github.com/mkosir/example-lint/blob/main/components/TestComponent.tsx#L20) (destructed callback prop `onClick={onShouldLint}`), but it shouldn't.
Where if we [don't destruct props](https://github.com/mkosir/example-l

[2022-08-24 15:04] ljharb commented on #3348
Yes, I understand. The takeaway is that the `jsx-handler-names` rule should always be used with the `checkLocalVariables` option, it's just that this plugin can't change the default without it being a breaking change.

[2022-08-25 06:38] mkosir commented on #3348
Yep it make sense to change rule defaults 👍
Thx for clarification on this one, unfortunately I wont be enabling this (otherwise awesome) rule, since props destructing is must have.

[2022-08-25 07:00] ljharb commented on #3348
Again, you can enable it *with the checkLocalNames option*, and it will work just fine with destructuring.

[2022-08-25 07:06] mkosir commented on #3348
You probably ment `checkLocalVariables` 🤔 ?
If thats the case I have already [enabled it](https://github.com/mkosir/example-lint/blob/main/.eslintrc#L15) and [lint fails](https://github.com/mkosir/example-lint/blob/main/components/TestComponent.tsx#L20) as mentioned (but it shouldn't)

[2022-08-25 14:51] ljharb commented on #3348
Yes, it should; handlers must start with “handle” - starting with “on” is for prop names.

[2022-08-25 14:55] mkosir commented on #3348
Hm but [onShouldLint](https://github.com/mkosir/example-lint/blob/main/components/TestComponent.tsx#L20) is a prop name just destructed.
Anyhow I just feel I own you a 🍺 IRL for the discussion I'm putting you through 😄

[2022-08-25 14:56] ljharb commented on #3348
ah, i see what you mean. You’d want to rename the prop while destructuring it.

[2022-08-25 17:39] #3368 closed

[2022-08-26 18:10] #3354 closed

[2022-08-28 05:38] github-actions[bot] opened #3371 "Results of weekly scheduled smoke test"
Something went wrong.

<details>
    <summary>Click to expand</summary>

[code]

</details>

[2022-08-28 05:50] ljharb commented on #3371
cc @AriPerkkio on the "too long" error again.

I see failures like:
[code]

[code]

I see at least 3 `jsx-sort-props` errors but no stack trace from those.

[2022-08-28 05:52] AriPerkkio commented on #3371
Something is still crashing even though I thought this was fixed in https://github.com/AriPerkkio/eslint-remote-tester-run-action/pull/27.

Here are results from logs. `react/jsx-key` seems related to https://github.com/jsx-eslint/eslint-plugin-react/pull/3369 (👋 @sjarva )

<details>

- Repository: stryker-mutator/stryker-js
- Rule: react/jsx-key
- Message: Cannot read property 'type' of undefined

[2022-08-28 05:57] AriPerkkio commented on #3371
@ljharb Looks like we are still using `v2` here. The fix is in `v3`. 😄
There should be no breaking changes between the majors for this project.

https://github.com/jsx-eslint/eslint-plugin-react/blob/2d973469f580415d5ac9768b2c609ee1eb76b909/.github/workflows/smoke-test.yml#L22

[2022-08-28 13:34] sjarva commented on #3371
Thanks for tagging me @AriPerkkio!

Yeah, there seems to be a problem also in the `jsx-key` rule, I'm taking a look at this and will (hopefully) open a fixing PR.

[2022-08-28 13:59] ljharb commented on #3371
I’ve got a fix ready for that one.

[2022-08-28 20:17] ljharb commented on #3371
0771bc1b is that fix. Rerunning the smoke test now.

[2022-08-29 05:55] ljharb commented on #3371
On this one, avoiding the crash is easy, but making the test case have correct output seems to have unveiled a larger bug (cc @ROSSROSALES)

[2022-08-29 06:30] ROSSROSALES commented on #3371
@ljharb Thanks for tagging me. I will take a look at this as soon as I can to find a fix. It seems like the rule is finding >1 line comments in between two props of a multi-lined component and block comments allocated at the end of the last prop of a multi-lined component.
Currently, I believe it should be able to sort the last prop of a multi-lined component if it is a line comment `//` and block

[2022-08-29 14:16] Nokel81 opened #3373 "Bug: jsx-key throws an error after upgradeing typescript-parser/eslint"
Versions:
- "@typescript-eslint/parser": "^5.33.1",
- "eslint-plugin-react": "^7.31.1",
- "eslint": "^8.23.0"

File:

[code]

Here is a repo that reproduces the issue:

https://github.com/Nokel81/eslint-plugin-react-bug

[2022-08-29 14:35] Nokel81 commented on #3371
https://github.com/jsx-eslint/eslint-plugin-react/commit/0771bc1b5b7e75216543e5ca93c1d99a5152c759 seems to have fixed https://github.com/jsx-eslint/eslint-plugin-react/issues/3373 which I just reported since it seems that `observable.map` is being thought of as something like `Array.prototype.map`.

[2022-08-29 15:04] ljharb commented on #3371
@ROSSROSALES the issue i'm seeing is that it's autofixing to `<ReactJson collapseStringsAfterLength={60} collapsed collapseStringsAfterLength={60} onEdit={onEdit} /* onDelete={onEdit} */ />` instead of `<ReactJson collapseStringsAfterLength={60} collapsed={4} src={rowResult} name="data" onEdit={onEdit} /* onDelete={onEdit} */ />` (note the change of `collapsed` to a boolean)

[2022-08-29 15:05] ljharb commented on #3373
0771bc1b5b7e75216543e5ca93c1d99a5152c759 should address this, but I'll add the test case to close this issue.

[2022-08-30 00:31] jcrosetto opened #3374 "`react/no-unused-class-component-methods` false positive when method is referenced via a ref"
The `react/no-unused-class-component-methods` rule will incorrectly flag a method as unused if it is only referenced through a ref.

A minimal example:
[code]

[2022-08-30 02:17] ljharb commented on #3374
React components are not supposed to be used like a class instance, and I’m surprised a ref gives you the actual component instance.

At any rate, JS isn’t a typed language, and static analysis has limits, so this is simply not something a linter can know. I’d suggest using an eslint override comment.

[2022-08-30 12:48] iDavidB commented on #2420
Did anyone ever start on this? Or is there a way to currently achieve this behavior?

[2022-08-30 14:35] ljharb commented on #2420
Nope, the issue is open and it has a help wanted label, so it’s just waiting for a PR.

[2022-08-30 18:57] jcrosetto commented on #3374
I had the same reaction that refs could be used to access functions on the class.

I figured this would probably be beyond the capabilities of the linter but wanted to raise it just in case. I'll take the route of disabling the linter on that line. Thanks!

[2022-08-30 18:57] #3374 closed

[2022-08-30 20:00] ljharb commented on #3371
oh sure, yes - it's the change to a boolean that i'm concerned about :-)

[2022-08-30 20:21] ROSSROSALES commented on #3371
I believe the fix should fix the boolean problem! But if I am not understanding the issue correctly please let me know or if the fix was not appropriate. I will try my best to solve this issue.

[2022-08-30 20:48] #3371 closed

[2022-08-31 02:40] github-actions[bot] opened #3376 "Results of weekly scheduled smoke test"
Detected 1 ESLint reports and/or crashes.
Scanned 4346 repositories.

Rules:
-   `react/jsx-sort-props`

<details>
    <summary>Click to expand</summary>

## Rule: react/jsx-sort-props

-   Message: `Cannot read property 'range' of undefined Occurred while linting /github/workspace/node_modules/eslint-remote-tester/.cache-eslint-remote-tester/microsoft/fluentui/apps/public-docsite/src/pages/PageTe

[2022-08-31 15:48] sjarva commented on #757
Phew. This issue looked like "nice and small", but well, was more detective work than I expected 😅

If anyone has more use cases than `<div abc="foo" />`, feel free to read through and comment on the PR #3377

[2022-08-31 16:01] ryb73 commented on #757
That's awesome, thanks @sjarva!

[2022-08-31 18:35] #3376 closed

[2022-09-01 06:28] olyop opened #3378 "`jsx-no-useless-key` New rule to check for unnecessary use of the `key` prop - when not used in an iterator."
Feature reqauest for to add a check for the `key` prop when it has been used unnecessarily.

I'm thinking a new rule would make the most sense but we could also add it to the rule `react/jsx-key` but that rule is releated to iterators which this feature is not only applicable to.

I may be missing a use case for this though.

❌ Incorrect
[code]

✅ Correct
[code]

I'm happy to try implement this my

[2022-09-01 16:55] #757 closed

[2022-09-01 18:02] ljharb commented on #3378
Note that the `key` prop does have a use outside of iterators - see https://kentcdodds.com/blog/understanding-reacts-key-prop

[2022-09-01 22:39] olyop commented on #3378
Thanks for confirming @ljharb I thought was the case.
How about a new rule with name `react/jsx-no-useless-key` that checks for use of the `key` prop when not used with an iterator.

[2022-09-01 22:41] ljharb commented on #3378
You may want to read the article :-) there is a use when it's not used with an iterator. It forces React to remount an element.

[2022-09-01 22:52] olyop commented on #3378
You're right, I must of misread you're comment before but it looks like that is a use case. Seems like an edge case to me or at least unconvential.

[2022-09-01 22:56] ljharb commented on #3378
It's not common, that's true - but there's no way to statically know if it's being used for that purpose, or for no purpose at all, which means it'd be inappropriate for a lint rule to warn on it.

[2022-09-02 21:00] AhmadMayo opened #3380 "react/no-unknown-property throws on valid properties"
I recently upgraded eslint-plugin-react from v7.30.1 to v7.31.2, and when I tried to build, the rule started throwing on valid properties like key, viewBox, fill, d, and other SVG related properties - and none of the in kebab case, or contains a colon in their name.

eslint version: 8.23.0
nextjs version: 12.2.5

![image](https://user-images.githubusercontent.com/15085304/188234070-ec9124a9-1d7d-4

[2022-09-02 21:19] mjchang commented on #3380
Also getting this for other svg properties as well
- stroke
- strokeWidth
- strokeLinecap
- strokeLinejoin
- transform
- clipRule
- x1
- x2
- y1
- y2

[2022-09-02 21:20] AhmedBHameed commented on #3380
I confirm the issue.

[2022-09-02 21:25] AhmadMayo commented on #3380
@mjchang @AhmedBHameed when i commented this line from my eslint config, the issue seized to occur.
[code]
Do you use next too? can you confirm if this resolves the issue for you too? if so, then the problem is related to next's plugin

[2022-09-02 21:26] mjchang commented on #3380
I don't use next. I use airbnb's eslint which includes this.

[2022-09-02 21:29] peter-resmed commented on #3380
![image](https://user-images.githubusercontent.com/109127976/188237711-ba5e892e-cc5e-4785-a0e5-9624bf306da5.png)
same issue

[2022-09-02 21:33] xt0rted commented on #3221
@ljharb a new release of the action went out this week that should fix the space issue. [v7.31.2](https://github.com/jsx-eslint/eslint-plugin-react/releases/tag/v7.31.2) doesn't have any formatting issues, so unless you manually adjusted it I think things are good going forward.

As for [v7.30.1](https://github.com/jsx-eslint/eslint-plugin-react/releases/tag/v7.30.1), it's probably easiest to manu

[2022-09-02 21:37] AhmedBHameed commented on #3380
@AhmadMayo

I do use nextjs.I have default project extends
[code]

Which also causing eslint to complain.

I guess removing my line means ignoring eslint completely? However, the build run successfully when removing the line from `.eslintrc.json`

I reverted the update from v7.30.1 to v7.29.4 and the app return back to live.

I would say that might be a bug with the new version maybe?

[2022-09-02 21:46] AhmadMayo commented on #3380
@AhmedBHameed maybe. It's occurring randomly for me now. reverting back to version 7.29 didn't resolve the issue for me.

[2022-09-02 21:50] AhmedBHameed commented on #3380
@AhmadMayo

Did you revert back your `yarn.lock` & `package.json`? Also did you delete both `node_modules` and `.next` before installing a fresh deps with `yarn`?

Try this and then build again.
That is what i did.

[2022-09-02 21:56] AhmadMayo commented on #3380
@AhmedBHameed same errors. I'll turn off the rule until I figure out what's going on.

[2022-09-02 22:08] grybykm commented on #3380
Downgrade to version 7.31.1. This is a breaking change and regression in version 7.31.2.

`npm i eslint-plugin-react@7.31.1 -D`

[2022-09-02 22:37] ljharb commented on #3221
@xt0rted i did in fact have to manually adjust it - there's a bunch of `undefined`s printed out in multiple lines, and one of them is right above the footnote links so it breaks the rendering.

[2022-09-02 22:39] ljharb commented on #3380
Thanks all; I'm on it and will release a v7.31.3 soon.

@grybykm It's not a "breaking change" if it's not intentional, it's just a bug. Dial it back.

[2022-09-02 22:39] ljharb commented on #3380
cc @sjarva; seems #3377 has an issue. If you come up with a roll-forward fix before I get to the revert, I'd prefer to do that.

[2022-09-02 22:44] apteryxxyz commented on #3380
This also happens in `meta` tags with the `property` property, breaking usage of Open Graph.
(`<meta property="og:type" content="website" />`)

[2022-09-02 22:55] AhmadMayo commented on #3380
@ljharb I think I can do it. Give me 30 mins

[2022-09-02 23:00] ljharb commented on #3380
@AhmadMayo awesome, i've already got the test cases:
<details>
<summary>test cases</summary>

in "valid":
[code]
</details>

if you can make modifications to the existing rule to allow these valid properties that'd be awesome :-)

[2022-09-02 23:45] ljharb commented on #3380
@AhmadMayo any update?

[2022-09-02 23:51] AhmadMayo commented on #3380
@ljharb added the properties and testing now

[2022-09-02 23:58] AhmadMayo commented on #3380
@ljharb PR ready

[2022-09-03 00:45] sibartlett commented on #3380
I get `Unknown property 'key' found` on other elements other than `<svg>`, such as `<a>` and `<span>`

[2022-09-03 00:47] ljharb commented on #3380
Certainly key and ref are special props on react elements that should never be warned on; I’ll handle that part.

[2022-09-03 02:30] ctjlewis opened #3382 "bug(react/no-unknown-property): What the hell?"
You guys must've been *insaaaaaaanely* high when you released 7.31.2.

Lmfao okay. @ljharb, my advice is to test things before releasing them and not engage in bug denialism when people are kind enough to report them. We all know what he meant. Filing a duplicate just to annoy you.

See also: #3380

---

#### Throwing for `key` prop, valid on all `React.Component`
<img width="599" alt="image" src=

[2022-09-03 02:39] ljharb commented on #3382
Congrats, your hostile behavior just got you blocked.

[2022-09-03 02:39] #3382 closed

[2022-09-03 05:05] ljharb commented on #3380
v7.31.1 has been set to "latest" for now, and v7.31.3 will be released within the next hour.

After it's released, and this is closed, please file *new* issues if you continue to see issues with v7.31.3. Thanks everyone, and sorry for the inconvenience!

[2022-09-03 06:06] #3380 closed

[2022-09-03 06:07] ljharb commented on #3380
v7.31.3 is now released.

Please update, and file a _new_ issue if you're still seeing problems.

[2022-09-03 06:21] MikeBeas opened #3383 "Input with type checkbox does flags `checked` attribute as unknown property in v7.31.3"
Following up on #3380, I've just installed v7.31.3, but I'm still seeing an issue where the `checked` attribute [for a checkbox input](https://www.w3schools.com/tags/att_input_checked.asp) is being flagged as unknown.

[code]

`error  Unknown property 'checked' found  react/no-unknown-property`

I'm also seeing this issue when using custom properties (such as `body-scroll-lock-ignore` used by [bod

[2022-09-03 06:25] ljharb commented on #3383
Thanks, i'll definitely fix `checked`.

Custom HTML element attributes that don't start with `data-` have always been invalid in browsers, but i'm not seeing examples of that in the package's readme. What exactly is it warning on?

[2022-09-03 06:27] #3383 closed

[2022-09-03 06:27] ljharb commented on #3383
v7.31.4 will be out once all the tests pass from https://github.com/jsx-eslint/eslint-plugin-react/commit/6128f9ae4ccc1bf31fa80d4694742ef99e99aea0.

[2022-09-03 06:29] MikeBeas commented on #3383
The `body-scroll-lock-ignore` property was mentioned in these two snippets in the readme on the package, in the examples under "allowTouchMove". It might be that they only used it as an example and I could use a data-* attribute for the same purpose, but I went with what they used assuming that something in the package was keying in on that attribute.

[code]

[code]

Awesome, thanks for the extre

[2022-09-03 06:30] ljharb commented on #3383
gotcha - i'd definitely suggest using a `data-` prefix, especially if that's the only barrier to using this useful rule :-)

Please file issues if you run into any more issues with standard attributes!

[2022-09-03 06:34] MikeBeas commented on #3383
@ljharb Will do, thanks! I just checked and it looks like there were some issues with the body scroll lock package on iOS and I ended up disabling it in my app, so I'm going to remove that attribute and everything else should be good. The rest of my app has linted successfully.

[2022-09-03 07:34] diegohaz opened #3384 "[7.31.4] `no-unknown-property` throwing on valid props"
Related to #3380

I'm seeing the following errors in my project:

[code]
`<details>` supports `onToggle`.

[code]
`<path>` supports `fill`.

[code]
`<link>` supports `as`.

---

Edit: It looks like there are even more valid use cases that this rule is not covering. I'd suggest reverting the changes to the `no-unknown-property` rule for v7 and releasing it under a new major version. [React Known Pr

[2022-09-03 07:40] diegohaz commented on #3384
Might be worth checking this: https://github.com/tcodes0/react-known-props

cc @tcodes0

[2022-09-03 11:27] peter-resmed commented on #3384
Also having issue with css property of emotion library
![image](https://user-images.githubusercontent.com/109127976/188268300-f7bdbcec-7ddc-4331-ae4d-bb965eb5d1a1.png)

[2022-09-03 11:43] Primajin commented on #3384
I am also getting this error on `defaultChecked`

[code]

[2022-09-03 11:54] Meemaw commented on #3384
Also this should work:

[code]

[2022-09-03 14:31] christian98 commented on #3384
I'm having the same problem with `fill` and `<rect/>`:

[code]

See https://developer.mozilla.org/en-US/docs/Web/SVG/Element/rect?retiredLocale=de

[2022-09-03 14:55] ljharb commented on #3384
@diegohaz Please upgrade to v7.31.4. Are you still seeing these issues?

@Meemaw @christian98 @Primajin a fix for these will be out later today.

@peter-resmed custom attributes that don’t start with data- are invalid - is there an issue filed on emotion for this?

[2022-09-03 14:55] sjarva opened #3386 "[Tools for contributors] Possibility to run `eslint-remote-tester` locally"
As rather new contributor to this repo, I noticed that it would be great to have more safety nets and tools that help with contributing new changes. There is the weekly smoke test on run CI, and that can be run manually by the maintainers, but it would be great to have tools that run locally.

Since `eslint-remote-tester` is already a dependency, would it be possible to provide a script that runs

[2022-09-03 14:57] ljharb commented on #3386
I think you can `brew install act`, `act -l`, and then `act -j` the Job ID you want to run.

[2022-09-03 15:09] diegohaz commented on #3384
Yes

[2022-09-03 15:15] diegohaz commented on #3384
[React does allow custom attributes without `data-` in certain circumstances](https://reactjs.org/blog/2017/09/08/dom-attributes-in-react-16.html#changes-in-detail). I guess a lot of people would expect the lint rule to work accordingly to that.

[2022-09-03 17:51] mjchang commented on #3384
Also getting an issue with the `fill` attribute on `g`

[2022-09-03 19:03] sjarva commented on #3386
Thanks. I installed `act`, but it doesn't list the `smoke-test` as a job that I can run 😕

<img width="1059" alt="act job list in eslint-plugin-react" src="https://user-images.githubusercontent.com/1133238/188284638-bfae342c-4731-4bf6-8c61-069868aa2347.png">

[2022-09-03 19:24] guyellis commented on #3384
I upgraded to 7.31.4 and I'm still seeing this with `playsInline` with the `video` element.

Good news is that 7.31.4 fixed all the other false positives.

[2022-09-03 19:53] tim-hilt opened #3387 "`no-direct-mutation-state` for functional components"
Some of our coworkers don't really grasp the concept of type-safety and registering state via the `useState`-hook.

Unfortunately the existing `no-direct-mutation-state`-rule is only working for class-components. Would it be possible to adjust this rule to also work for functional components?

[2022-09-03 22:01] chrisweb commented on #3384
@ljharb @peter-resmed I opened a ticket in the emotion js repository: https://github.com/emotion-js/emotion/issues/2878

also I confirm @guyellis message about `playsInline` [MDN Video HTML Element attribute playsInline](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#attr-playsinline), @sjarva could you please add that one too, to your PR #3385? Thank you for all the fixes you alr

[2022-09-03 22:08] ljharb commented on #3387
How would that work exactly? Function components don’t have a `this` to store state in.

[2022-09-03 22:22] AviVahl commented on #3384
7.31.4
This should pass, but doesn't:
`<g fill="#7B82A0" fillRule="evenodd">`

"error: Invalid property 'fill' found on tag 'g', but it is only allowed on: svg  react/no-unknown-property"

[2022-09-03 22:30] AviVahl commented on #3384
It also fails when explicitly passing `<div children={...} />`, which should work just like `<div>{...}</div>`

[2022-09-04 04:25] sibartlett commented on #3384
I also get `Unknown property 'scrolling' found` on `<iframe>`

[2022-09-04 04:43] ljharb commented on #3384
I think #3385 now covers everything here except:
 - emotion's `css` property: the only solutions I can think of here are a) emotion users disable this rule, b) hardcode "css" as an allowed property in the rule (ick), or c) allow the rule to be configurable so users can specify their own properties to ignore.
 - react apparently allows [everything](https://reactjs.org/blog/2017/09/08/dom-attributes

[2022-09-04 05:09] lyz810 commented on #3384
`Unknown property 'onTouchMove' found`
`Unknown property 'onTouchEnd' found `
`Unknown property 'onTouchStart' found`

As above, I got three errors on div element, which should be supported by react.

[2022-09-04 05:14] ljharb commented on #3384
@lyz810 yes, thanks, those are included in #3385.

[2022-09-04 05:27] Primajin commented on #3384
First of all a big thank you for the quick turn around ❤️

Regarding emotion css - I guess the cleanest way would be to feed an ignore pattern or list of things to ignore. `css` per-se is not a valid HTML attribute but total valid react prop in the context of emotion-css. I'm pretty sure other libraries add other funky attributes / props so I'd vote for allowlisting them. 🤞🏻

[2022-09-04 05:41] #3384 closed

[2022-09-04 05:44] ljharb commented on #3386
hmm, i guess `act` doesn't support workflow_dispatch events. I've filed https://github.com/nektos/act/issues/1329 to track that.

[2022-09-04 06:40] li-jia-nan opened #3388 "[7.31.5] no-unknown-property throwing on valid props"
Invalid property `onError` found on tag `<img />`
Invalid property `fill` found on tag `<g />`

[2022-09-04 06:47] li-jia-nan commented on #3388
@ljharb

[2022-09-04 07:38] ljharb commented on #3388
hmm, we have tests for `fill` on a `g` tag. I'll definitely fix `onError` though.

[2022-09-04 07:38] #3388 closed

[2022-09-04 09:45] tim-hilt commented on #3387
I haven’t written any real parsers yet, so I don’t know the technical details of implementing this.

So you think it’s rather impossible?

[2022-09-04 10:33] teamkuka commented on #3384
Hello, I am using the latest version of eslint-plugin-react (^7.31.5), and that one is still to correct
**Error: Unknown property 'controls' found  react/no-unknown-property**

Cheers for the rapid fix :)

[2022-09-04 11:06] Tronikelis commented on #3384
Getting an unknown property "controls" error as well, on a video element

[2022-09-04 11:43] simPod opened #3389 "[react/no-unknown-property] does not recognize `<td valign={...}`"
[code]

`valign` is valid property on `td`

[2022-09-04 12:23] sjarva commented on #3389
[MDN has marked `valign` as deprecated](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td#attr-valign) and recommends using `vertical-align` instead.

[2022-09-04 13:43] ljharb commented on #3389
I think it should; deprecated is known.

[2022-09-04 15:25] sjarva commented on #3386
Can I make a PR that enables `eslint-remote-tester` running locally, or @ljharb do you have some reason why that wouldn't be welcome?

[2022-09-04 16:11] sjarva commented on #3384
(Like @diegohaz already said in the modified issue comment) The rule is already configurable with `ignore`, so the users of `emotion` should add `css` as ignored property, when configuring this rule:

[code]
@ljharb I made a commit that adds this to the rule documentation in #3390

[2022-09-04 17:15] ljharb commented on #3386
I suppose that'd be fine, but I'd be concerned about running it without a container, since it uses a lot of resources and downloads a ton of untrusted code.

[2022-09-04 17:17] ljharb commented on #3387
Sorry, I'll try to be clearer.

How would it be possible for a functional component to have state at all? I'm saying I think it's impossible to create code that would violate this rule. Can you provide some examples?

[2022-09-04 17:37] AriPerkkio commented on #3386
Using container is a good idea.

Just to clarify - the tool itself does not download untrusted code at all. It only downloads the repositories which it is configured to. I've seen some people testing their `eslint-config-*` packages specifically against their own projects. This is one of the reasons why `eslint-remote-tester-repositories` is its own package.

Resource usage can be some-what contro

[2022-09-04 19:01] #3378 closed

[2022-09-04 19:03] mrtnzlml opened #3391 "`no-unknown-property`: breaking change between versions 7.31.1 and 7.31.5"
Hello! 👋 I received a PR with a patch upgrade (see: https://github.com/adeira/universe/pull/4976), containing 571 new errors. It turns out there was some breaking change in the `react/no-unknown-property` rule, and it currently fails on FBT nodes, for example:

[code]

Resulting in:

[code]

Recently, I reported several issues related to FBT, and they were all fixed, and some rules support it (htt

[2022-09-04 19:28] ljharb commented on #3391
It’s a bug, not a breaking change. Thanks for the report, we’ll get it fixed!

[2022-09-04 19:29] tim-hilt commented on #3387
Sure!

const [count, setCount] = useState(0);

Maybe I misunderstood the actual meaning of useState? I always had the impression that this state is part of the component that introduced it!

[2022-09-04 20:58] ljharb commented on #3387
Ok - so in that case, are you asking for a rule that prevents mutating or reassigning `count`?

The latter is doable (but that’s what const is for) but the former is impossible if the variable is passed into a function

[2022-09-04 22:12] mcrawshaw opened #3392 "no-unknown-property & styleName attribute (v7.31.6)"
React CSS Modules uses the `styleName` attribute (https://github.com/gajus/babel-plugin-react-css-modules). Not sure if this is standard enough to be included...

`<div styleName="styles.container" />`

Thanks,
Mark.

[2022-09-04 22:44] ljharb commented on #3392
I think this is in the same category as emotion's `css` attribute - both are utterly nonstandard, and neither should be used without a `data-` prefix, so the best approach is for you to add it to `ignore` in your rule config.

[2022-09-04 22:48] #3392 closed

[2022-09-04 23:08] #3391 closed

[2022-09-05 02:38] hoonoh opened #3393 "no-unknown-property: Unknown property 'download' found"
Hello,

It seems there is a false alarm with `a` tag's `download` attribute. This didn't happen with `v7.31.1`.

[code]

[2022-09-05 04:32] ljharb commented on #3393
I see your commit; looking forward to the PR :-)

[2022-09-05 05:08] tim-hilt commented on #3387
I thought about both actually. I recently saw code like this, which lead me to ask this question:

const [flower, setFlower] = useState({color: „red“, size: 2});
flower.isVisible = true;

This could have been circumvented by using type-safety. However this couldn’t:

flower.size = 5;

(BTW, typing on my phone where I don’t have backticks available)

[2022-09-05 05:10] HJain13 opened #3395 "[no-unknown-property] data-* attributes should be allowed to have uppercase letters as well"
Technically HTML tags and their attributes are case insensitive [[1]](http://w3c.github.io/html-reference/documents.html#case-insensitivity). But React types generally prevent usage of the uppercase/mixed case version of the tags and attributes as it conflicts with other established conventions (eg: treating tags with the first letter uppercase as a component in JSX). The typings for React also er

[2022-09-05 05:14] ljharb commented on #3395
for tags, not generally - jsx explicitly prevents it.

For attributes, there's a bunch of patterns - some are case sensitive, some case-insensitive. `data-testId` is a perfectly valid attribute - because it _works_, even if the browser normalizes it.

[2022-09-05 05:15] ljharb commented on #3387
While that's true, mutation of *all* kinds is an antipattern in react, so I'm not sure there's much value in a rule that special-cases just the state value from `useState`.

[2022-09-05 05:19] #3393 closed

[2022-09-05 06:03] djaffer opened #3396 "Unknown Property Issue with 7.31.6"
Getting the following errors with the recent upgrade.
![image](https://user-images.githubusercontent.com/5740725/188371025-b500f45a-444c-4a9c-aae2-4ff05e0cb2a6.png)

[2022-09-05 06:21] ljharb commented on #3396
`download` was fixed in #3394.

[2022-09-05 06:21] ljharb commented on #3396
Can you elaborate on which element has `underline`?

[2022-09-05 06:23] Meemaw opened #3397 "Missing controlsList property"
` error  Unknown property 'controlsList' found  react/no-unknown-property`

https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/controlsList

[2022-09-05 06:25] ljharb commented on #3397
What version of the plugin are you using? That should be fixed in v7.31.6, in #3390.

[2022-09-05 06:39] #3396 closed

[2022-09-05 06:40] djaffer commented on #3396
Material ui  https://v4.mui.com/api/link/

[2022-09-05 06:48] Meemaw commented on #3397
I think there is a typo in there. `controlsList` vs `controlList`

[2022-09-05 06:58] ljharb commented on #3396
On what element? You didn’t provide any code. Can you file a new issue for that?

[2022-09-05 07:00] ljharb commented on #3397
Thanks, fix will land soon.

[2022-09-05 07:05] djaffer commented on #3396
It is a link what source you need that for
[code]

The build is failing now too.

[2022-09-05 07:06] ljharb commented on #3396
Have your settings configured Link to act as an a tag?

If so, since underline isn’t a standard link property, you’ll have to add “underline” to your ignore config for this rule.

[2022-09-05 07:09] djaffer commented on #3396
yes if you dont provide anything it works as an a tag.

[2022-09-05 07:14] djaffer commented on #3396
Will it be like this?
[code]

[2022-09-05 08:57] fila90 opened #3399 "react/no-unknown-property stopped supporting 'download' on <a /> tag"
`Unknown property 'download' found  react/no-unknown-property`

This is perfectly valid attribute for a tag per [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#attr-download)
It worked nicely before the `7.31.6` update

[2022-09-05 09:24] chenxinyanc opened #3400 "no-unknown-property does not recognize onClickCapture on <div>"
Using eslint-plugin-react v7.31.6

The following code
[code]
Emits the following error

But there are multiple `xxxCapture` events defined in the React for these primitive elements:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/1beed2ef47be5c1c283132c6cdfbd806ad0fb4ae/types/react/index.d.ts#L1477-L1512

[2022-09-05 09:37] alinsimoc commented on #3399
This has been fixed in #3394. I suppose it will come out with the next release.

[2022-09-05 11:15] sjarva commented on #3400
Thanks for reporting this! I am making a fixing PR soon.

[2022-09-05 11:24] terrymun opened #3401 "react/no-unknown-property stopped supporting `imageSrcSet` and `imagSizes` on <link /> tag"
Version 7.31.6 will cause a linting error to be thrown when `imageSrcSet` or `imageSizes` are being used in a JSX `<link />` element, even though this attribute is perfectly valid: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link#attr-imagesrcset

Combing through the rules reveal that these attributes are missing: https://github.com/jsx-eslint/eslint-plugin-react/blob/master/lib/rule

[2022-09-05 12:17] markholland opened #3403 "react/no-unused-prop-types false positive when using memo"
Here's an [example using CRA](https://github.com/markholland/eslint-plugin-react-example)

**Expected**: No warning

**Actual**:
- `npm run lint`
[code]

This started when going from version `7.30.0` to `7.30.1`.

- If I remove `memo` the warning goes away
- If I wrap the ternary in the return with a fragment the warning goes away but then I'd have to silence `react/jsx-no-useless-fragment` so not

[2022-09-05 12:26] nparoski opened #3404 "react/no-unknown-property rule doesn't recognize border attribute on <table>"
I am working on nextjs project with jsx and typescript and I have encountered this issue "Unknown property 'border' found".
![image](https://user-images.githubusercontent.com/35550355/188449761-2b7e196a-5558-423d-b6e0-2771d38e2ef2.png)

__Code exampe:__
[code]

My eslint config looks like this:
[code]

[2022-09-05 12:33] quiram opened #3405 "no-unknown-property: Allow 'focusable' on image tag (SVG)"
It seems that `no-unknown-property` reports the `focusable` attribute in an `svg` tag as unknown, even though it is supported by `React.SVGAttributes<T>`

[2022-09-05 13:07] terrymun commented on #3401
PR has been created here: #3407

[2022-09-05 13:26] HJain13 commented on #3395
Right, but what I meant to say was that: the lint rule throws an error for it.

<img width="795" alt="image" src="https://user-images.githubusercontent.com/6277011/188459786-d46e4a18-6db3-48f3-9eed-842bc5baa853.png">

The relevant code due to which it throws an error (the regex doesn't have A-Z)

<img width="673" alt="image" src="https://user-images.githubusercontent.com/6277011/188459992-c15d6669

[2022-09-05 13:27] kr8n3r opened #3408 "Regression: Unknown property 'download' found react/no-unknown-property on <a/> tags"
[download](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#attr-download) attributes are well established and supported

Regression in 7.31.6

[2022-09-05 13:28] kr8n3r commented on #3408
duplicate of https://github.com/jsx-eslint/eslint-plugin-react/issues/3399

[2022-09-05 13:28] #3408 closed

[2022-09-05 14:11] alasdairhurst opened #3409 "react/no-unknown-property rule doesn't recognize download attribute on <a>"
As the previous issues with no-unknown-property, anchors have a download attribute ( https://www.w3schools.com/tags/att_a_download.asp) which is now failing the no-unknown-property rule.

[2022-09-05 14:12] alasdairhurst commented on #3409
https://github.com/jsx-eslint/eslint-plugin-react/issues/3399

[2022-09-05 14:12] #3409 closed

[2022-09-05 15:21] francofantini commented on #3399
Hi @alinsimoc 👋
Do you have a ETA on the next release?

[2022-09-05 15:25] ljharb commented on #3399
I will release the next patch sometime today.

[2022-09-05 15:25] #3399 closed

[2022-09-05 15:38] ljharb commented on #3396
Yes to both. No idea why it doesn’t work.

[2022-09-05 15:40] ljharb commented on #3403
Looking at https://github.com/markholland/eslint-plugin-react-example/blob/main/src/App.js, both of those render functions should either be components defined at module level, or inline jsx. With one of those changes, what happens?

[2022-09-05 15:58] r-hede opened #3410 "react/no-unknown-property: invalid property `onLoad` found on tag `iframe`"
Hi,

The `react/no-unknown-property` rule reports the `onLoad` property of an `iframe` tag as invalid although it has worked correctly before.

Is it normal ?

[2022-09-05 16:17] #3397 closed

[2022-09-05 16:27] ljharb commented on #3410
Will be fixed by #3398.

[2022-09-05 16:38] Enase opened #3411 "react/no-unknown-property: invalid property download found on tag <a>"
The `react/no-unknown-property` rule reports the`download` property of `<a>` tag as invalid.

[2022-09-05 16:44] ljharb commented on #3411
This was fixed by #3394, and is a duplicate of #3399.

[2022-09-05 16:44] #3411 closed

[2022-09-05 17:11] #3400 closed

[2022-09-05 18:16] boonya opened #3412 "False positive: react/no-multi-comp"
I use [eslint-plugin-react@7.29.4](https://www.npmjs.com/package/eslint-plugin-react) & [prop-types](https://www.npmjs.com/package/prop-types) in my project. Everything fine. But once I update `eslint-plugin-react` to `7.31.x` even to the latest one which is `7.31.6` currently. I have a false positive `error  Declare only one React component per file  react/no-multi-com` issue reported.

<img widt

[2022-09-05 18:35] #3410 closed

[2022-09-05 18:45] ljharb commented on #3395
hmm - https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/data-* says

but i guess React and TS lowercase everything to meet that requirement. I'll update.

[2022-09-05 19:34] #3401 closed

[2022-09-05 19:34] #3389 closed

[2022-09-05 19:34] #3395 closed

[2022-09-05 19:34] #3404 closed

[2022-09-05 19:34] #3405 closed

[2022-09-05 19:57] ljharb commented on #3412
Can you share the actual text code of the file? It's hard to copy-paste an incomplete test case out of a screenshot :-p

[2022-09-05 20:18] boonya commented on #3412
[code]

[2022-09-05 20:20] boonya commented on #3412
This is only one of them. I have many files where handler is an empty function by default:

[code]

[2022-09-05 20:49] ljharb commented on #3412
hmm, that code passes tests just fine in v7.31.6.

[2022-09-05 21:56] djaffer commented on #3396
only worked in eslintrc.js not in eslintrc.json

[2022-09-05 22:12] ljharb commented on #3412
Happy to reopen this if i can reproduce the failure. My suspicion is that you aren't actually using the latest version of the react plugin.

[2022-09-06 08:45] boonya commented on #3412
Interesting. What am I doing wrong?

[code]

And still
<img width="786" alt="sbuin@FVFFP2H3Q05N:~:Documents:Bluedrop:tp-client 2022-09-06 10-41-26" src="https://user-images.githubusercontent.com/779184/188590084-af31fa91-f652-4e72-a11f-135b046210ef.png">

[2022-09-06 09:56] boonya commented on #3412
[I have created public repository with an example](https://github.com/boonya/eslint-plugin-react-example) where the issue still exist. You may clone it install dependencies and run `npm run lint` to see the result.
Actually it is:
![image](https://user-images.githubusercontent.com/779184/188605780-152940c0-c788-4f36-a4ee-ca62325e693f.png)

[2022-09-06 10:58] sarahp06 opened #3414 "react/no-unknown-property: invalid property `noModule` found on script tag"
Hello,

We have just gone from version `7.31.1` to `7.31.6`.  Now the `react/no-unknown-property` rule is reporting the `noModule` property of an `script` tag as invalid although it has worked correctly before.  Is this expected?

Thanks!

[2022-09-06 11:03] alopix commented on #3414
Looking at mdn, it looks like `nomodule` should be a valid HTML attribute on `script`: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-nomodule

[2022-09-06 15:07] silverwind commented on #3268
I have to raise a pattern I use sometimes, for incomplete code that is to be completed later:

[code]

It violates `react/hook-use-state` because of the variable naming, but I think an option to allow leading underscore on either of the variable names might be nice to have.

[2022-09-06 16:46] dylang opened #3416 "react/no-unknown-property: allow viewbox on marker"
https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/viewBox

As of `7.31.7`:

[code]

[2022-09-06 17:10] #3414 closed

[2022-09-06 17:10] #3416 closed

[2022-09-06 17:20] ljharb commented on #3268
Seems like it'd be more obviously a TODO to add an eslint override comment instead?

[2022-09-06 17:37] silverwind commented on #3268
I still feel the rule could accept a `ignorePattern` like eslint core rule `no-unused-vars` takes as it's essentially the same, a unused var. I configure that eslint rule like this:

[code]

So for consistency sake with that config, I would suggest :

[code]

[2022-09-06 17:39] ljharb commented on #3268
Having a rule take a regex string is a very dangerous path that results in a ton of CVEs, so I wouldn't want to replicate that.

[2022-09-06 17:42] silverwind commented on #3268
If you are afraid of regex runtime, you can use https://github.com/sindresorhus/super-regex, but generally I think eslint configs are unlikely to receive untrusted inputs.

[2022-09-06 17:44] ljharb commented on #3268
I agree, but they are highly likely to get CVEs about untrusted inputs, which cause a lot of churn and cost.

That package (along with all of that author's packages) aren't viable options, since they're ESM-only.

[2022-09-07 04:56] #3412 closed

[2022-09-07 06:21] jacketwpbb commented on #2946
@ljharb I would like to forbid deprecated props for specific Components, which need `disallowedFor` option for component.

[2022-09-07 07:04] ljharb commented on #2946
Why? The component itself can do that with its propTypes.

[2022-09-07 07:49] MidKnightXI commented on #1955
For people using .yml instead of `.js` or `.json` you just need to add it like that to your `.eslintrc.yml`

[code]

[2022-09-07 09:52] jacketwpbb commented on #2946
@ljharb   Components are written by TS without propTypes, is there any rule can be used in this case

[2022-09-07 11:28] Jeroenrs opened #3418 "react/no-unknown-property: allow abbr on th"
The `react/no-unknown-property` rule reports the `abbr` tag on `th` elements as invalid, which seems incorrect: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/th#attr-abbr

[2022-09-07 15:04] ljharb commented on #2946
Components should always have propTypes even if they have type annotations, since propTypes are much more powerful.

If TS types prevent you from using a deprecated prop, why do you need a lint rule for it?

[2022-09-07 15:43] graysonliu opened #3420 "react/no-unknown-property cannot recognize attributes of <webview> tag from Electron"
We use the [`<webview>` tag](https://www.electronjs.org/docs/latest/api/webview-tag#tag-attributes) from Electron with React. It seems that rule `react/no-unknown-property` cannot recognize its attributes like `webpreferences`, `partition` etc.

It would be great if there is an option where we can ignore specific tags.

[2022-09-07 15:48] ljharb commented on #3420
This is a nonstandard tag that’s lowercased - does react even support that? I assume either you need a build process/custom createElement, or react passes it through untouched.

[2022-09-07 16:22] graysonliu commented on #3420
I believe it is [supported](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/v17/index.d.ts#L2880).

[2022-09-07 16:29] ljharb commented on #3420
What does React web do with that, in a normal browser? (note that just because it's in DT doesn't mean it's necessarily supported)

[2022-09-07 16:48] graysonliu commented on #3420
This tag comes with Electron so it shouldn't be used in a regular browser. You are right. React does not seem to support it but allows this tag without warnings. For the linting purpose, I still prefer this could pass linting without disabling the rule per line.

[2022-09-07 16:59] #3418 closed

[2022-09-07 17:09] ljharb commented on #3420
What does React web _do_ tho? If it just ignores it and passes it through, then it shouldn't be allowed in the DT types, but we should also probably ignore it in this rule. Is that the case?

[2022-09-07 17:43] graysonliu commented on #3420
Yes, I believe that should be the case.

[2022-09-07 22:11] Jacquesmtl opened #3421 "tes"

[2022-09-07 22:13] #3421 closed

[2022-09-08 04:30] jacketwpbb opened #3422 "Add Rule option "disallowedFor" for component prop"
Suppose we have a component that accept a prop named string.

[code]

As needs change, we need to replace string prop by another named number.

[code]

The string prop will works in a period of time, but it's better to replace it with number prop.
This rule option can be use to avoid using deprecated prop for Comp.

[code]
![image](https://user-images.githubusercontent.com/19347280/189034303-da35e

[2022-09-08 04:39] JustFly1984 opened #3423 "[react/no-unknown-property] rule conflicts with `@react-three/fiber` on `<mesh />` and other tags"
I'm using `@react-three/fiber` in my app, and updating `eslint-plugin-react` broke the linting.

You did not took into account custom renderers while introducing this changes.

on `<mesh />` false negatives:

Unknown property 'castShadow' found
Unknown property 'receiveShadow' found
Unknown property 'dispose' found
Unknown property 'geometry' found
Unknown property 'userData' found
Unknown propert

[2022-09-08 07:32] tipleavalentin opened #3425 "[react/no-unknown-property] Unknown property 'align'"
Hi!
There is an issue that still persists after the last minor updates:

warning  Unknown property 'align' found  react/no-unknown-property

Ex: <td align="center">{index + 1}</td>

Packages:
eslint-plugin-react: 7.31.7
eslint: 8.23.0

Can you please check?
Thanks

[2022-09-08 15:51] pgrippi opened #3426 "react/no-unknown-property: allow viewbox on symbol"
Similar to https://github.com/jsx-eslint/eslint-plugin-react/issues/3416 but for `symbol` instead of `marker`

using version `7.31.7`

https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/viewBox

I have a component that looks like:

[code]

And it's throwing an error:

[code]

it might be good to also add it for `pattern` and `view` as those tags also accept `viewBox` according to MDN but a

[2022-09-08 16:58] ljharb commented on #3426
This will be fixed by #3424

[2022-09-08 17:21] ljharb commented on #3425
On what tag?

[2022-09-08 17:35] ljharb commented on #3422
Since it's marked as deprecated with jsdoc, there's `eslint-plugin-deprecated` - and if you're using TS, it will catch it too.

Why can't you just remove it and make a major bump?

[2022-09-08 17:40] #3426 closed

[2022-09-08 17:45] ljharb commented on #3425
nvm, i'll add it on all supported ones. note that "align" is deprecated, alignment should be done with CSS.

[2022-09-08 17:48] ljharb commented on #3423
Since `<mesh>` is not a standard tag, and isn't a custom element, it shouldn't be used at all by that library.

That said, since React ignores nonstandard tags, so should we, which makes this a duplicate of #3420.

[2022-09-08 17:48] #3423 closed

[2022-09-08 17:57] tipleavalentin commented on #3425
Sorry for the late reply. I pasted the code but the tag was removed.
It was a tabla data - td tag.
I didn't know it was deprecated, just checked, I guess you can leave it that way, I'm not using it that much.
Thanks!

[2022-09-08 18:07] #3425 closed

[2022-09-08 19:29] JustFly1984 commented on #3423
I also agree that it is a non standard tag, but three.js has massive user base, so could it be a separate option to support react-three-fiber tags and attributes? They do have good typescript support.

[2022-09-08 19:33] ljharb commented on #3423
I don't think it's worth the complexity - there's multiple libraries that do things they shouldn't by introducing invalid tags. Three.js may want to build an eslint plugin just to check their own tags, though - then they can own their own decisions.

[2022-09-09 11:12] mohd-akram opened #3427 "Add react/jsx-no-constructed-context-values to recommended rules"
I think this is a very impactful rule as this issue can have a significant impact on performance.

[2022-09-09 14:51] J4v4Scr1pt opened #3428 "Looks like destructureInSignature don't work"
Hi!

I would like to enable the destructureInSignature rule but as soon as I add this to the rules I get this:
`.eslintrc: 	Configuration for rule "react/destructuring-assignment" is invalid: 	Value {"ignoreClassFields":true,"destructureInSignature":"always"} should NOT have additional properties. `

But when I remove `"destructureInSignature":"always"` everything works again.

And if I remove `"i

[2022-09-09 15:05] ljharb commented on #3427
Adding anything to that list is a breaking change, and it’s unlikely we’ll ever have one, but certainly if we ever do, the entire list of recommended rules will be thoroughly audited.

[2022-09-09 15:05] #3427 closed

[2022-09-09 16:02] ljharb commented on #3428
That should definitely work. What actual version of eslint-plugin-react is _installed_?

[2022-09-09 16:09] J4v4Scr1pt commented on #3428
If I check the node_modules folder and the package.json for eslint-plugin-react it says:  `7.31.8`
In the rules folder and destructuring-assignment.js file I can see the destructureInSignature property.

[2022-09-09 16:31] ljharb commented on #3428
Weird! Can you set up a repro repo? If i can reproduce it locally I can figure out what's going on.

[2022-09-09 16:39] J4v4Scr1pt commented on #3428
Sorry for being stupid now, but how do I setup  a repro repo 😊?

[2022-09-09 18:02] ljharb commented on #3428
Make a new repository, with a package.json, .eslintrc, and .js files, such that `npx eslint .` reproduces this problem, and paste the link here. Then I can clone it myself and debug more deeply.

[2022-09-09 18:06] J4v4Scr1pt commented on #3428
Ok got it!
Thx for super fast respons on this!! 💪
Will fix this asap and post, but will be tomorrow!

[2022-09-09 21:55] J4v4Scr1pt commented on #3428
Ok, I think there is no need to upload a repro repo. Because I can't reproduce it there. I have moved all configuration we use in the original repo. When I try to do a bad config I get a correct and helpful error. And if I use "always" or "ignore". Every thing works nicely.

[code]

There is something else in play with the configuration in our original repo 🤔.

[2022-09-09 21:56] J4v4Scr1pt commented on #3428
[code]

[2022-09-09 22:02] ljharb commented on #3428
The extends must always come before the rules section, for one.

[2022-09-09 22:05] J4v4Scr1pt commented on #3428
Ok! did not fix the issue unfortunately.
My work with this is to enable our eslint again, it have been somewhat unused for a long time.
Maybe I should start all over again with it instead 😅

[2022-09-09 22:18] J4v4Scr1pt commented on #3428
I have tried removing as much of the extra stuff as posible , like the aribnb stuff. if those settings conflicted.
But nothing, I also removed all other rules.

I have also done the classic, remove node_modules and run npm i again. and ofc restart VS-code etc.

[2022-09-09 22:24] J4v4Scr1pt commented on #3428
But then I can ask how it should give the error?
Because this does not give any error:
![image](https://user-images.githubusercontent.com/5929055/189453737-87145fdd-b823-4fc0-bdb0-1ffce67faa8e.png)

[2022-09-10 10:32] mohd-akram commented on #3427
I was looking at the last major release, and it was five years ago. Perhaps the library is due for a new release. I'm sure many simply use the `recommended` list and I was surprised to find that very few rules are in it.

[2022-09-10 14:18] ljharb commented on #3427
My recommendation is to use the Airbnb config.

[2022-09-10 23:32] MichaelDeBoey opened #3430 "Invitation to move to official `eslint-community` org"
It's up to you —@ljharb—, but if you'd like, you're welcome to transfer this repository to the official [`@eslint-community` organization on GitHub](https://github.com/eslint-community).

As you can read in [the '`@eslint-community` GitHub organization' RFC](https://github.com/eslint/rfcs/tree/main/designs/2022-community-eslint-org), the goal of this new org is to have a place where community memb

[2022-09-11 00:01] ljharb commented on #3430
https://github.com/jsx-eslint/jsx-ast-utils/issues/121

[2022-09-11 05:46] ljharb commented on #3428
I'm not really sure. If you're using actual npm 8 latest, and your config is as you mentioned, and all eslint-related dependencies declare plugins as *peer* deps instead of runtime deps, it should work fine.

[2022-09-11 08:28] J4v4Scr1pt commented on #3428
You sir, have been of tremendous help from the start 💜!

I did not know the requirement of using npm 8...
Embarrassing enough I actully had npm 7.24.2 installed, upgraded to latest.
Now everything works perfect!

Thanks for everything and all the trouble I put you through!

Have a great day!

[2022-09-11 11:33] wialy opened #3431 "`jsx-no-leaked-render` performs redundant props check and invalid fix in coerce mode"
# Context

There is a sample `Checkbox` component:

[code]

The eslint config file contains a rule:

[code]

# Expected behavior

Linting the code raises no issues

# Actual behavior

1. Eslint displays an error for the line:

[code]

[code]

2. When auto-fix is performed, the code above is replaced with

[code]

which causes the logical issues (the `isChecked` is removed in that case).

[2022-09-11 15:07] ljharb commented on #3431
isChecked could be undefined, according to the types, and default arguments aren’t something that can really be used reliably with static analysis - so i think the warning may be correct.

I agree, though, that the autofix is incorrect - it should be fixing it to `!isIndeterminate && isChecked`

[2022-09-11 15:08] ljharb commented on #3431
cc @Belco90

[2022-09-11 16:12] ljharb commented on #3430
See https://github.com/jsx-eslint/jsx-ast-utils/issues/121#issuecomment-1242995999

[2022-09-11 16:12] #3430 closed

[2022-09-12 03:02] recallwei opened #3432 "`react/no-unknown-property`: Unknown property 'defaultChecked' found in `input`"
An error occurred when I added the property `defaultchecked` in the `input` element.

<img width="664" alt="image" src="https://user-images.githubusercontent.com/62941121/189565829-ffb7adba-0267-4654-a726-fafa904602a6.png">

Here is my eslint version and config file:

<img width="843" alt="image" src="https://user-images.githubusercontent.com/62941121/189565879-97fbdf3a-af79-4109-b3b7-7c333b0ca110

[2022-09-12 03:29] ljharb commented on #3432
That’s what’s in package.json; what’s in node_modules?

[2022-09-12 05:46] recallwei commented on #3432
Thanks! In vscode, I tried to restart the ESLint Server, and then the error disappeared.

[2022-09-12 05:46] #3432 closed

[2022-09-12 14:27] vincent-lecrubier-skydio commented on #3423
Who says they shouldn't? Many Custom react renderers exist and I am not aware of anyone saying this shouldn't be done. If anything, the react team has been supportive.

[2022-09-14 15:17] markholland commented on #3403
For us this is a list row component so splitting them at module level wouldn't make sense, yes we could inline but each function has several possible jsx outcomes so made sense to split them into two.

We've rewritten our component to resolve this. Simply felt odd that an unrelated patch release surfaced this warning.

Thanks for the help ❤️

[2022-09-14 18:48] ljharb commented on #3403
I agree, this does seem like a bug.

[2022-09-15 16:41] cristian-atehortua commented on #2856
Hi, I have a similar case.

I'm using `"react/require-default-props": ["error", { functions: "defaultArguments" }]` and I have a component similar to this

[code]
What I expected here is to not have Eslint errors since we are specifying default props in the function arguments as is configured. However, react eslint plugin is not detecting this as a function component because of the `forwardRef` an

[2022-09-15 17:04] ljharb commented on #2856
The rule is called "require default props", and `.defaultProps` is superior to default arguments for a number of reasons.

In this case, your default `onClick` callback is created anew every render, without `useCallback`, where with `defaultProps` it would not be, so using default arguments here is a potential performance hit unless you remember to wrap it in `useCallback` (altho in this case, you

[2022-09-15 17:10] cristian-atehortua commented on #2856
@ljharb Take a look on this:
- https://github.com/reactjs/rfcs/blob/createlement-rfc/text/0000-create-element-changes.md#deprecate-defaultprops-on-function-components
- https://github.com/facebook/react/pull/16210

React is deprecating defaultProps on function components.

[2022-09-15 17:54] ljharb commented on #2856
I'm aware, but they're wrong to do s.

Separately, that RFC is from 2019, and despite two major versions being released since then, they haven't taken steps to go further.

[2022-09-15 18:05] AndersDJohnson opened #3434 "feat: no-danger find props on all components (not just native)"
Unless I am mistaken, it seems today that the rule `react/no-danger` has specific logic to only find usages on native elements. See the `isDOMComponent` check here:

https://github.com/jsx-eslint/eslint-plugin-react/blob/8c9ec8a3929403ac34a22c11cb9bd2575ba766bd/lib/rules/no-danger.js#L63

We think it could be useful to support non-native components as well, especially in cases like `styled-compone

[2022-09-15 18:11] ljharb commented on #3434
Can you elaborate on why that would be useful?

A custom component can simply _remove_ a dangerous prop, no?

[2022-09-16 03:57] vicasas opened #3435 "`react/prop-types` validation using typescript"
## Summary

In a Typescript project it would be very useful if `react/prop-types` could validate that apart from the TS definitions the PropTypes definitions are made, so that both work together.

This would help a lot to achieve a better development experience in cases where it is required, the differences between the two must be taken into account since they serve different purposes.

Typescript

[2022-09-16 04:29] ljharb commented on #3435
This isn't something that's possible with static analysis - propType functions are massively more broad than just what's in React.PropTypes, and only the types of the `prop-types` package are statically knowable.

I completely agree that any component without propTypes is suffering a huge loss of protection, that TS is incapable of fully replacing - but i don't think there's anything except typech

[2022-09-16 09:01] tim-hilt commented on #3387
Well, no-direct-mutation-state exists and essentially does the same thing, only for a class-component. However I understand, that that's very hard to implement. In this case all props of a component or items in a context would also have to be traced back to ensure the rule is working properly.

[2022-09-17 03:38] rpearce opened #3436 "dialog element onClose has react/no-unknown-property"
[The `<dialog>` element has a `close` event](https://developer.mozilla.org/en-US/docs/Web/API/HTMLDialogElement/close_event), and with a recent update to this package (somewhere between `7.31.0` and `7.31.8`), it seems that `<dialog onClose` is now triggering `react/no-unknown-property`.

Was this something that was intentionally done? If so, and if y'all have time, could you help me understand th

[2022-09-17 04:34] ljharb commented on #3436
Nope, just a bug. Thanks for reporting.

[2022-09-17 04:38] #3436 closed

[2022-09-17 04:38] ljharb commented on #3436
This was broken in v7.31.2, and will be fixed in v7.31.9 once it's released (which i plan to do in the next day or three).

[2022-09-17 04:45] ljharb commented on #3387
That works because class components _have_ state - functional components simply don't, despite the confusing name of the `useState` hook (`useState` provides state for an *element*, which isn't the same thing as a class component's instance state).

If someone can make a PR with tons of test cases that actually traces all of these possibilities, and has zero false positives, i'd love to review it,

[2022-09-17 04:45] #3387 closed

[2022-09-17 04:47] ljharb commented on #3428
Glad to hear it!

[2022-09-17 04:47] #3428 closed

[2022-09-17 17:53] rpearce commented on #3436
Thank you! 🎉

[2022-09-19 14:43] Belco90 commented on #3292
@levrik IMO we should include an option in the rule to avoid reporting props other than `children` (enabled by default to avoid changing the default behavior I guess).

[2022-09-19 15:02] ljharb commented on #3292
@levrik i believe that will be fixed in the next release.

[2022-09-19 15:02] ljharb commented on #3292
@levrik have you tried the latest version?

[2022-09-20 06:08] levrik commented on #3292
@ljharb I tested with version 7.31.8

[2022-09-20 16:24] chetbox commented on #3052
For anyone stuck, I also had to update `eslint-plugin-react`:

    yarn add --dev eslint-plugin-react

[2022-09-22 18:53] pradumn26 opened #3437 "npx eslint --fix not working for react/jsx-sort-props"
## Project and eslint setup details
**package.json**
[code]

**.eslintrc.js**
[code]

## Problem
The errors are showing up but cannot fix them automatically with `npx eslint --fix`

## Expected behaviour
After reading the docs on your [git repo](https://github.com/jsx-eslint/eslint-plugin-react), i am expecting that errors from this rule can be fixed via eslint fix command. After running this comm

[2022-09-22 18:58] ljharb commented on #3437
Try setting it to 2 (error) instead of 1 (warn).

Also, try `npx eslint . --fix` (note the dot).

If neither of those works, please link me to a repro repo.

[2022-09-22 19:00] pradumn26 commented on #3437
checking

[2022-09-22 19:29] pradumn26 commented on #3437
trying `npx eslint . --fix` works 👍👍

**Results**
It works for both 1 and 2

**Suggestion**
Please mention in your documentation meaning of these enums 1 and 2.

**PS**: Thanks a lot for replying so fast. I have never experienced this sort of response on an issue that i raised on popular repos. Keep it up 👍

[2022-09-22 19:32] ljharb commented on #3437
1 is "warn" and 2 is "error"; both are standard parts of eslint config that are documented by eslint itself, as is the need to pass a path to eslint ("." means the current directory, and is the best approach in my experience).

Glad you got it working!

[2022-09-22 19:32] #3437 closed

[2022-09-22 19:35] pradumn26 commented on #3437
Will try lower my noob level, by grinding more 😬.

[2022-09-22 20:29] juliehchung commented on #1955
Hi there, I seem to still be having this issue on v7.31.8, and would love some insight if I'm just setting things up incorrectly.
This is a brand new React/TS project being set up, so what you see is all I have currently.
The eslint library is being loaded in successfully, and I don't have any errors, but I am still getting this warning:
![Screen Shot 2022-09-22 at 1 26 35 PM](https://user-images.

[2022-09-22 20:31] ljharb commented on #1955
@juliehchung try running eslint on the command line. if it works, then the problem is in your editor; if not, then please file a new issue, ideally with a repro repo.

[2022-09-22 21:20] juliehchung commented on #1955
Do you mind elaborating what you mean by this? The same warning still pops up when running eslint via the cli, but it will still run without errors.

[2022-09-22 21:31] ljharb commented on #1955
I mean running `npx eslint .`, outside of vscode.

If the same warning pops up, then I'd love a new issue with a repro repo :-)

[2022-09-22 21:52] juliehchung opened #3438 "Warning: React version not specified in eslint-plugin-react settings (Part 2)"
Related to #1955

I seem to still be having this issue on v7.31.8, discussed in the above issue, and would love some insight if I'm just setting things up incorrectly.
This is a brand new React/TS project being set up using VS Code and Vite, so what you see is all I have currently.
The eslint library is being loaded in successfully, and I don't have any errors, but I am still getting this warning:

[2022-09-22 21:52] juliehchung commented on #1955
Done here https://github.com/jsx-eslint/eslint-plugin-react/issues/3438

[2022-09-22 23:00] MidKnightXI commented on #3438
Can you try this maybe

[code]

[2022-09-22 23:02] MidKnightXI commented on #3438
Can you put

[code]

Outside of your stuff maybe ?

[2022-09-22 23:03] juliehchung commented on #3438
What do you mean outside of my stuff?

[2022-09-22 23:03] juliehchung commented on #3438
What do you mean outside of my stuff?

[2022-09-22 23:05] MidKnightXI commented on #3438
Sorry if I'm not clear, just edited the message

[2022-09-22 23:10] juliehchung commented on #3438
Dang, that was really all it was.. I must have been looking at some outdated references. Appreciate this a lot!

[2022-09-22 23:10] #3438 closed

[2022-09-22 23:22] ljharb commented on #3438
Glad you figured it out!

[2022-09-26 06:27] mckravchyk opened #3439 "Feature request: Add an option to allow methods and (arrow function) properties to be mixed (sort-comp)"
It seems like the plugin requires "everything-else" methods to be placed after "everything-else" arrow function properties. I understand that this is probably a basic rule that requires properties to be defined first. However, arrow functions are most commonly used as event handlers. Personally it makes more sense to me when the event handlers are closer to the render method. More importantly - it

[2022-09-26 06:30] mckravchyk commented on #3439
Checking for arrow functions specifically is not a requirement for me (I understand this may be hard or not possible without TS Eslint) - it would just suffice if properties and methods could be mixed.

[2022-09-26 06:31] ljharb commented on #3439
Arrow functions should never go in class fields anyways - instead, you should do this:
[code]
to maximize reusability, sharing of functions, and mockability in tests.

[2022-09-26 09:41] Appigle opened #3440 ""babel-plugin-react-css-modules": "^5.2.6" + "eslint-plugin-react": "^7.31.2+" Compile error！"
Error:
[code]

![image](https://user-images.githubusercontent.com/12708299/192244476-27235bab-a5a0-49af-aa79-3128ad19e526.png)

property 'styleName' come from `babel-plugin-react-css-modules` [Link](https://www.npmjs.com/package/babel-plugin-react-css-modules)

<img width="735" alt="image" src="https://user-images.githubusercontent.com/12708299/192243643-d5c6e2bd-3050-4399-9c3d-de7fafe03cc9.png">

[2022-09-26 15:52] ljharb commented on #3440
If it’s a custom prop name on HTML elements, then those are always invalid unless they start with data- (cc @gajus). You can, however, use the “ignore” config to ignore these nonstandard prop names if you wish.

[2022-09-26 16:55] aleclarson commented on #3292
I've fixed this in #3441 (new `ignoreAttributes` option)

Can one of you write the docs for that PR? Just type them in this issue, and I'll copy them into my PR. Thanks!

Of course, the best solution would involve TypeScript type-checking. Does this plugin allow that, or maybe someone can provide guidance here?

[2022-09-26 18:58] aleclarson commented on #3292
Oh I just found this plugin, which uses TypeScript:
https://www.npmjs.com/package/eslint-plugin-jsx-expressions

[2022-09-27 06:36] Appigle commented on #3440
Thanks!

I have found the answer！
[code]

[2022-09-27 06:36] #3440 closed

[2022-09-27 09:49] mckravchyk commented on #3439
I don't agree. In your example the method is still bound to the instance, just like an arrow function is, thus - not fully re-usable. It is theoretically, but in practice something like this is confusing when using it externally and also a foot gun internally that TypeScript would not shield against (what if you forget to bind?). Perhaps using a static method like `Comp.onEvent(instance, e) ` used

[2022-09-27 11:20] shaharyar007 commented on #3215
I know it's a bit late, as many of you found the solution probably but I want to add my experience,i was facing the same problem but then I used React fragment (<></>) and the error was removed.

[2022-09-27 16:58] philer-jambit opened #3443 "Allow nested destructuring with `react/hook-use-state`"
State is not always flat and sometimes it can make sense to destructure it directly. Example:

[code]

Note that in these cases the setter name can not be symmetrical to the destructured variables.

It would be nice if `react/hook-use-state` permitted this use case (maybe optional?).

Either way, thanks for the great work! :+1:

[2022-09-27 17:00] ljharb commented on #3443
That definitely seems like a reasonable option to add ("allowDestructuredState"?)

[2022-09-27 20:04] ljharb commented on #3439
The method itself is the one on the prototype - which is reusable - it's only the shallow bind-proxy that's in the field.

TS is irrelevant; if you forget to bind the method wouldn't work. You could (and should) also make it a *private* method, which would mean that if you forget to bind it, it throws.

I don't mean reusable across components - i mean reusable across component *instances*. Functio

[2022-09-28 06:09] mckravchyk commented on #3439
That's a good point, though is it that much of a performance overhead to let them re-initialize? I know that globally it definitely adds up to some otherwise unnecessary computations, but it may be still low compared to resources used by the app in general.

If you forget to bind it wouldn't work, but that would not pop up until the runtime. I meant that it's something that cannot be statically ch

[2022-09-28 10:12] iamtofr commented on #3423
i think u should define these props in a rule to allow them like:

"react/no-unknown-property": [1, { "ignore": ["position"] }]

[2022-09-28 16:37] ljharb commented on #3439
That's fine, that's what unit tests are for.

It's not just performance of course; it's conceptually incorrect to have things that aren't data stored in per-instance fields.

[2022-09-29 15:20] mckravchyk commented on #3439
Not everyone can afford those on every component :) Especially when prototyping something, specs change too often and you  still want the prototype to be as bug-free as possible with minimal time investment.

Yes, I agree about it being conceptually incorrect. I will probably start using static methods and pass the instance as the argument from now on. Thanks for your feedback.

[2022-09-29 15:20] #3439 closed

[2022-09-29 15:22] ljharb commented on #3439
What everyone can’t afford is any untested component, ever :-) either way, if you’re content without tests then I’m not sure why the linter is needed?

[2022-09-29 16:03] ljharb commented on #3439
While I disagree very very strongly, if having tests is a waste of time then surely running the linter is a waste of time.

[2022-09-29 17:06] alfredsgenkins commented on #3147
Hmm...

What about "abstract" methods? Seems like they are not taken into account, and kinda-could not be.

We also have magic methods, that like `__construct` which we provide by babel, would be super useful to add it to ignore, as otherwise this rule helps a lot on a huge code-base. For context, this rule is needed to inject proxy into class construct 🗡️

[2022-09-29 17:31] ljharb commented on #3147
What's an abstract method? That's not a concept in JS. "Magic methods" is a python and php term, it's not really used in JS, so I'm not sure what you mean.

Additionally, I'm not clear on what your use of Proxy is, but imo any use of Proxy outside of a full membrane implementation is a misuse.

[2022-09-30 00:37] #3337 closed

[2022-09-30 00:37] ljharb commented on #3337
The solution I came up with is a bit quick and dirty, so it probably won't work reliably for atypical forms of semicolon usage, but this should be a start, and will fix the reported issue at least :-)

[2022-09-30 00:38] ljharb commented on #3357
@Jackman3005 have you had a chance to take a look at this?

[2022-09-30 00:41] Jackman3005 commented on #3357
Hey Jordan, no I have not yet, sorry. I got caught up in other things and have left this rule out from my linting for now.

[2022-09-30 00:44] Jackman3005 commented on #3357
Also, I saw someone else mention a similar(?) [lint rule that works with Typescript](https://www.npmjs.com/package/eslint-plugin-jsx-expressions) which would solve issues where this rule was adding `!!` to boolean variables (I'm lead to believe at least). I haven't checked it out yet, but I will probably investigate that before coming back and working on this.

[2022-09-30 03:17] #3435 closed

[2022-09-30 03:18] ljharb commented on #3275
I think this is resolved, but please file a new issue if not.

[2022-09-30 03:18] #3275 closed

[2022-09-30 03:20] #3268 closed

[2022-09-30 03:21] ljharb commented on #3180
I'm now wondering if `no-invalid-html-attribute` and `no-unknown-property` are basically duplicates of each other.

[2022-09-30 03:22] ljharb commented on #3287
It's pretty universal; it's exceedingly rare for repos to use the workflow you're describing.

I'm happy to review a PR, but I also don't want to document basic github (or eslint) knowledge if it's avoidable.

[2022-09-30 03:22] #3287 closed

[2022-09-30 07:19] mckravchyk commented on #3439
Maybe I should not say: "waste of time" - it's just that for me, the time is better spent elsewhere. Of course, I'm saying this working with a statically typed language. If TypeScript or others like it did not exist, perhaps I would have a different opinion about the topic. I have done some small fixes once on a codebase developed by someone else, JS, no tests at all  - every time I made a change

[2022-09-30 17:47] #3176 closed

[2022-09-30 17:47] #3168 closed

[2022-09-30 17:50] ljharb commented on #990
Closing, but can reopen if that doesn't cover the use case.

[2022-09-30 17:50] #990 closed

[2022-09-30 18:05] ljharb commented on #1315
I've pushed up a [branch](https://github.com/jsx-eslint/eslint-plugin-react/compare/HEAD...ljharb:eslint-plugin-react:issue_1315) with failing tests, in case anyone can pick this up.

[2022-09-30 18:09] #1434 closed

[2022-09-30 18:09] ljharb commented on #1510
I think this is largely resolved; please open new issues if there's any further problems with SFC component detection.

[2022-09-30 18:09] #1510 closed

[2022-09-30 18:21] ljharb commented on #1531
It seems like this can be covered by setting `eventHandlerPropPrefix` to false. Happy to reopen if not.

[2022-09-30 18:21] #1531 closed

[2022-09-30 20:18] #1574 closed

[2022-09-30 23:08] ljharb commented on #1940
`jsx-sort-props` got a fix for this in #3358; perhaps someone could handle it the same way in `sort-prop-types`? (cc @ROSSROSALES)

[2022-10-01 03:53] ROSSROSALES commented on #1940
@ljharb Thanks for pinging me! I can try and take a look at it. I also noticed in the `lib/rules/sort-prop-types.js` file, all the invalid test cases are commented out https://github.com/jsx-eslint/eslint-plugin-react/blob/210865e9a74eb04ff339d85957df8f28531f78da/tests/lib/rules/sort-prop-types.js#L489
Currently when running test cases, it passes. However, once I comment them back in, test cases d

[2022-10-01 04:14] ljharb commented on #1940
nah that sounds like it’s probably an oversight. It’d be great to get a PR that uncomments everything passing; and then a second PR that uncomments the rest and fixes the bugs :-)

[2022-10-01 17:26] AndersDJohnson commented on #3434
@ljharb You're totally right - a custom component _could_ remove a dangerous prop. That's a good suggestion.

In practice, though, that's not already going to be in place, and may not be as feasible to roll out to large existing code bases, and especially not to roll out to existing 3rd party libraries where this may not be a proper assumption to bake-in, including older versions that consuming ap

[2022-10-01 22:11] ljharb commented on #3434
I agree with you that styled-components - alone - might have a use case here, since they’re effectively a custom DSL *for* html components.

However, this plugin doesn’t support them, since they bear no static similarity to normal react components. I suggest locating a styled-components-specific eslint plugin which might have utilities for detecting those.

If you have a normal react use case, I’d

[2022-10-02 08:59] JoshuaKGoldberg opened #3446 "Rule proposal: flagging useEffect+useState used instead of variable"
Folks new to hooks sometimes write a combination of `useEffect` and `useState` to initialize a value:

[code]

Oftentimes it's simpler to use a variable with an immediately available value:

[code]

...or, if the computation is expensive, use `useMemo`:

[code]

Proposal: let's make a rule that flags direct instances of this antipattern? It could have two _suggestion_ fixers based on the two alter

[2022-10-02 09:05] JoshuaKGoldberg opened #3447 "Rule proposal: detect very unnecessary `useMemo`s"
`useMemo` is meant to be used to stop recomputations happening frequently. There's no real need to use `useMemo` for really simple operations such as addition... and yet, I have anecdotally seen this type of code:

[code]

Proposal: a lint rule that flags any `useMemo` call that only contains binary operators, unary operators, property access expressions[^1], and similar should-probably-not-be-mem

[2022-10-02 15:52] karlhorky commented on #3292
Oh nice, looks like a nice plugin!

@hpersson since you're the author of this, would you be interested in contributing TypeScript type checking also to `react/jsx-no-leaked-render` rule in `eslint-plugin-react`?

[2022-10-02 16:31] ljharb commented on #3447
That seems like it would be a very limited rule - it’d only be able to handle inline functions, and useMemo is often used with imported functions that can’t be statically analyzed.

Either way, this is hook-specific, so i think eslint-plugin-react-hooks is the proper place to file the issue.

[2022-10-02 16:31] #3447 closed

[2022-10-02 16:34] ljharb commented on #3446
This doesn’t seem very common, and these suggestions would actually risk breakage if the computation required the DOM (since that’s also what useEffect is for), and it’s pretty critical that components not be encouraged to break server rendering use cases.

Either way, hook-specific rules likely belong in eslint-plugin-react-hooks.

[2022-10-02 16:34] #3446 closed

[2022-10-02 17:44] AndersDJohnson commented on #3434
@ljharb Understood. I think it would be a simple change to add an option to not run the `jsxUtil.isDOMComponent(node.parent)` check. But if there's no appetite for that, yes we can create a separate rule as a fork or whatever. Thanks for the discussion.

[2022-10-02 20:38] ljharb commented on #3434
Even with that, this plugin still can’t support styled-components since those aren’t normal components - they’re a tagged template literal DSL.

[2022-10-03 20:33] #3295 closed

[2022-10-03 22:34] AdrianDiazG commented on #2353
why is this thread closed? the way this rule works right now seems obviously redundant if you wanna use arrow functions and React.FC, and no, changing to the other function definitions doesn't look like a good solution, it's just ignoring the problem

[2022-10-03 22:49] ljharb commented on #2353
@AdrianDiazG you're not supposed to do that tho - components should be named functions.

[2022-10-04 21:53] ljharb commented on #2080
Closing per https://github.com/jsx-eslint/eslint-plugin-react/issues/2080#issuecomment-507813363; please file a new issue if anyone's still having trouble.

[2022-10-04 21:53] #2080 closed, assigned to nobody

[2022-10-05 04:53] AndersDJohnson commented on #3434
@ljharb I think it's mostly relevant how styled-components are consumed, which is just like regular components, which are easy to target the way this rule is already doing.

[2022-10-05 04:54] ljharb commented on #3434
@AndersDJohnson ah hm, that's a fair point - it's about the jsx elements, which doesn't actually relate to the way the components are created.

So, that's a valid use case for adding an option that allows it to warn on custom components. Are there any others, or is that the only one?

[2022-10-05 04:58] AndersDJohnson commented on #3434
@ljharb Exactly! Thanks for re-opening. I think that's it - just one generic boolean option to target custom components / non-native JSX tags. I'd be willing to try to raise a PR to implement if I have time soon.

[2022-10-05 05:01] ljharb commented on #3434
Would it be better to explicitly list the names of components it should apply to, rather than a blanket "everything"?

[2022-10-05 05:09] AndersDJohnson commented on #3434
@ljharb That could be useful! I think we would still want to support a simple boolean, for projects that want to cover everything and not have to maintain a list, especially as new styled-components may be created often. But if we wanted, we could support optionally passing a string array of component names (instead of a boolean) to scope it more specifically.

[2022-10-05 05:12] ljharb commented on #3434
I suppose that makes sense.

[2022-10-07 17:04] dwelle opened #3453 "disallow calling functional components"
Disallow rendering functional components by calling them.

[code]

Hard to say how to identify, but I think that preventing to call capital-case functions inside `jsx`/`tsx` files is a reasonable heuristic.

Note, there's a seemingly duplicate issue https://github.com/jsx-eslint/eslint-plugin-react/issues/3208 with the proper name, but then talking about something completely different (render func

[2022-10-07 17:12] ljharb commented on #3453
This would either only be able to detect same-file JSX-returning functions from being called, or, it would have to prevent ALL capital-letter-named functions from being called, since more components are imported from other places.

Given that React, at runtime, will warn about this if the component uses hooks, I'm not sure there's sufficient value in trying to make a lint rule that can only do suc

[2022-10-07 18:03] dwelle commented on #3453
Only if the component call is a return value of a JSX expression. Don't know if feasible to detect.

Cannot reproduce locally, nor in this [CSB](https://codesandbox.io/s/great-ben-g25v7o?file=/src/App.js).

[2022-10-07 18:22] ljharb commented on #3453
It's not feasible to detect things across files - so only functions defined in the same file would be able to be warned.

Regarding the hooks warning, hmm, i guess i was under the mistaken impression that they enforced hooks were only called from the top level of a component.

[2022-10-07 19:49] dwelle commented on #3453
Yah, thinking about it, that would rule out custom hooks.

Not across files. You detect whether the capital-case function call in current file is made within a JSX expression.

[2022-10-07 20:51] ljharb commented on #3453
Right, but how often is that done?

[2022-10-08 03:22] #2581 closed

[2022-10-08 03:25] ljharb commented on #2947
I'm going to close this since useCallback is not meant for components (that's `React.memo`).

Happy to reopen if there's a PR with failing test cases.

[2022-10-08 03:29] #3211 closed

[2022-10-08 12:03] tylim88 opened #3454 "`react/no-unknown-property` think `directory` and `webkitdirectory` of `input` are unknown property"
![image](https://user-images.githubusercontent.com/5227509/194706509-18f117e9-710c-4e84-98e3-4af1874c28a7.png)
![image](https://user-images.githubusercontent.com/5227509/194706523-b902e91e-8301-4a3d-96e0-96bb8c980f7a.png)

[2022-10-08 15:44] ljharb commented on #3454
MDN lists `webkitdirectory`, but not `directory`, implying that the latter is in fact unknown and should be removed. Which browser respects it?

[2022-10-08 16:04] ljharb commented on #3454
Indeed, it seems like there's no standard for "directory", so it's best not to provide it at this time. I'll close this with a fix for `webkitdirectory`.

[2022-10-08 16:05] #3454 closed

[2022-10-10 02:39] #3443 closed

[2022-10-10 11:42] VGamezz19 commented on #2901
so, any update?

[2022-10-10 18:57] Meemaw opened #3456 "Invalid property 'allowFullScreen' found on tag 'iframe'"
Appeared in v7.31.9

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe#attr-allowfullscreen

[2022-10-10 20:41] ljharb commented on #3456
Will be fixed by #3455.

[2022-10-10 23:18] #3456 closed

[2022-10-11 09:30] AMI3GOLtd commented on #3384
I'm getting the same error on **iframe** with the **allowFullScreen** attribute:

[2022-10-11 09:44] Janpot opened #3458 "react/no-invalid-html-attribute Shouldn't be auto-fixable"
The automatic fix that is performed by the `react/no-invalid-html-attribute` rule removes invalid values. I'd argue this is dangerous behavior as removing the value is probably not the intended outcome, I mean, I've put it there for a reason in the first place. Some examples:

- I have a typo in one of the values, auto-fix removes it instead of forcing me to correct it
- I have a [non-standard val

[2022-10-11 22:50] ljharb commented on #3384
@AMI3GOLtd yes, that's fixed by #3455 in v7.31.10. Please file *new* issues in the future for these things.

[2022-10-11 23:42] ljharb commented on #3458
Yes, I agree it should be a suggestion and not an autofix. A PR to fix that is welcome.

[2022-10-13 08:11] golopot opened #3461 "Crash for master branch when extending "plugin:react/all" in eslintrc"
In master branch of this plugin, extending `plugin:react/all` in eslintrc cause a crash. This bug comes from #3429.

**Reproduction:**
[code]
**Result:**
Oops! Something went wrong! :(

ESLint: 8.25.0

Error: ESLint configuration in .eslintrc.json » plugin:react/all is invalid:
	- Unexpected top-level property "languageOptions".

@jjangga0214

[2022-10-13 13:57] ljharb commented on #3461
Thanks for catching that. The hope was that we can use the same imports in both config systems.

[2022-10-13 20:17] jiminikiz commented on #2353
SO!

If you disable this rule:

[code]

TypeScript will take care of the rest and the following pass type checking without having to import `PropsWithChildren`:

[code]

I hope this helps someone!

[2022-10-13 20:37] ljharb commented on #2353
Double-typing props is ideal, though, because it provides both build time and runtime validation.

[2022-10-13 20:50] jiminikiz commented on #2353
@ljharb At least as I understand TS, double typing the `props` being passed within a `function` definition does _not_ provide any extra runtime validation. In fact, `typing` in general does not provide any runtime validation as all of that goes away once compiled down to ES5... right?

This is a great read, it specifically goes over some runtime type checking strategies:
https://blog.logrocket.com

[2022-10-13 20:54] ljharb commented on #2353
@jiminikiz what i mean is, using propTypes *and* types is valuable. Using double type syntax, obviously, isn't valuable.

Either way, the impact of this rule affects *observable runtime properties* of the component, which is why it's important it not be an arrow function, and causing negative runtime impact because of type system concerns seems like a wildly inverted set of priorities.

[2022-10-13 22:57] ljharb commented on #3461
@golopot can you try changing `node_modules/eslint-plugin-react/configs/all.js` to add `Object.defineProperty(module.exports, 'languageOptions', { enumerable: false });` as the last line, and try again?

I'm wondering if making it non-enumerable will "hide" it from the legacy config's validation.

[2022-10-13 23:41] golopot commented on #3461
@ljharb Adding that line fixed the bug.

[2022-10-14 03:01] ljharb commented on #3461
Thanks@

@jjangga0214 can you confirm that with that line added, the new config system still works?

[2022-10-14 16:05] akulsr0 opened #3462 "react/jsx-no-target-blank not working as expected on conditionals"
### Code

[code]

### Currently what's happening

If I pass `target='_blank'` based on some condition as shown in the above snippet, and pass `rel='noreferrer'` on same condition. It is still showing me warning/error as per the config.

### What should happen?

Ideally if the condition is same for both the props it should recognise it and should not give us warning/error.

Please let me know if I

[2022-10-14 16:57] jiminikiz commented on #2353
Go for it. I am not here to talk about `.propTypes`. I hear your concerns on that.

The devs on this thread just don't want to be "Using double type syntax, obviously, [it] isn't valuable."

Disabling the rule altogether allows TS to resolve FC on "arrow-function-defined" components. So that is what I and others have done -- disable this rule for the sake of TS being able to do the job itself.

Du

[2022-10-14 19:31] ljharb commented on #3462
I agree, this would be a good enhancement to add. This seems highly similar to #2748, in case anyone wants to tackle it.

[2022-10-14 19:45] ljharb commented on #2353
Primarily, it's that arrow functions have an implicit/inferred name, not an explicit one, so there's a much higher likelihood than devs realize that their component won't end up with a name at all, greatly harming debuggability.

There are many other runtime differences between arrow and normal functions, but none of them really apply to a react component.

[2022-10-14 20:22] himanshu007-creator commented on #3336
Hi, I would like to work on this issue @ljharb

[2022-10-14 20:22] ljharb commented on #3336
Go for it!

[2022-10-16 00:08] github-actions[bot] opened #3465 "Results of weekly scheduled smoke test"
Something went wrong. This is likely an internal error of `eslint-remote-tester-run-action`.

<details>
    <summary>Click to expand</summary>

[code]

</details>

[2022-10-17 05:47] #3465 closed

[2022-10-17 05:47] #3461 closed

[2022-10-18 17:54] #3462 closed

[2022-10-18 21:50] JustFly1984 opened #3466 "error Unknown property 'mask-type' found react/no-unknown-property"
The property in question is on svg element, so may be add it to allowed list?

[2022-10-18 23:06] ljharb commented on #3466
Can you share the jsx for this? I see `mask` on MDN, and `mask-type` CSS, but not a `mask-type` attribute.

I do see https://github.com/gregberge/svgr/issues/336 which suggests it *might* apply to `<mask>` elements though?

[2022-10-19 01:32] klimashkin opened #3467 "Declaring context type on class component breaks static-property-placement"
Hi,

After upgrading `eslint-plugin-react` from 7.31.8 to 7.31.9+ (#2581), it started breaking the `declare` keyword on context in TypeScript:

<img width="800" alt="image" src="https://user-images.githubusercontent.com/576077/196576130-078e1d84-434e-46cc-a76c-79d2c28dea18.png">

Not sure what is the mitigation in this case

[2022-10-19 03:24] ljharb commented on #3467
The rule has this explicit code:
[code]

We don't seem to have tests for it, though, and I don't see this actual direct code in 54b738d24 / #1526 - @jomasti, any idea?

[2022-10-19 15:13] jiminikiz commented on #2353
Bro... reiterating your well established point while not at all addressing anything I asked is a weak case for following any advice you have to give 🤷

[2022-10-19 15:14] ljharb commented on #2353
You explicitly said

and that’s what i provided. please don’t call me “bro”.

[2022-10-19 15:16] jiminikiz commented on #2353
You got it. No "bro". You provided nothing. But we don't need to internet fight about it.

[2022-10-19 18:56] himanshu007-creator commented on #3458
Hi, i would like to give it a try

[2022-10-19 18:58] ljharb commented on #3458
Go for it!

[2022-10-20 17:09] himanshu007-creator commented on #2781
i would like to work on this issue

[2022-10-21 10:01] Simek commented on #3466
Just encounter same issue today after upgrading the lint stack in one of the projects (the property seems to work correctly).

I think that the problem has its root in `@types/react` package, where this `maskType` property is not defined as a valid attribute for SVG elements:
* https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L2648-L2650

[2022-10-21 16:02] OlivierKamers commented on #3467
I ran into the same problem and started digging into the source code of lint rules for the first time. I don't understand enough yet to propose a fix but if it helps this could be a test case to reproduce it, which fails if I add it to the `valid` test cases of this rule:

[code]

I will look around a bit more. Even if I don't find a fix it's a good learning experience!

[2022-10-23 05:39] github-actions[bot] opened #3470 "Results of weekly scheduled smoke test"
Detected 106 ESLint reports and/or crashes.
Scanned 6418 repositories.

Reached maximum result count 50.
Showing 50/106

Rules:
-   `react/sort-prop-types`

<details>
    <summary>Click to expand</summary>

## Rule: react/sort-prop-types

-   Message: `Cannot read property 'start' of undefined Occurred while linting /github/workspace/node_modules/eslint-remote-tester/.cache-eslint-remote-tester/co

[2022-10-24 04:46] ljharb commented on #3470
cc @ROSSROSALES looks like #3452 caused this crash. I can reproduce it with the linked code, but I'm not sure of the best way to solve it. Mind taking a look?

[2022-10-24 10:42] OlivierKamers commented on #3467
@ljharb the snippet you mentioned is indeed identifying the `context` declaration as a `contextTypes` declaration.
From what I find it doesn't look like it's something that should be supported in Flow either (https://github.com/facebook/flow/issues/7166, https://github.com/facebook/flow/issues/2916) as it's used in conjunction with `contextTypes`.

Removing this check fixes the failing tests I add

[2022-10-24 16:20] ROSSROSALES commented on #3470
@ljharb thanks for pinging me. I'll take a look at it.

[2022-10-24 17:00] brianzinn commented on #3423
Hi, Is this going to be accepted as an issue?  I'm trying to work out how to support in a renderer for another 3d engine.
https://github.com/brianzinn/react-babylonjs/issues/249

I've added to the JSX Intrinsic Elements from my library and VS code has intellisense and works very well with these custom properties.  There are a lot of renderers that are NOT rendering HTML, so they will also start to

[2022-10-24 17:22] ljharb commented on #3423
@brianzinn there's nothing to accept - the rule already has an `ignore` config, which you can use to ignore any nonstandard properties you like.

If you want free reign to name properties anything you like, then components need to be named in PascalCase, since lowercased components in react are only HTML elements.

[2022-10-24 17:27] brianzinn commented on #3423
ok - thanks for responding - appreciate that.  I'll probably need to ignore 1,000 properties.  Unfortunately it looks like you don't understand how renderers work. PascalCase are components handled by react.  lowercase components are intrinsic elements handled by the renderer (not just the DOM renderer). In other words, lowercased components in react are *NOT* only HTML elements.  Your profile say

[2022-10-24 17:41] ljharb commented on #3423
I understand how renderers work; we only support the react renderer in eslint-plugin-react.

[2022-10-24 18:42] ljharb commented on #3467
Yeah, that doesn't feel like a safe approach. You might be right that it should never have been added, and that it's safe to remove, but I'm hesitant to do that without hearing from @jomasti.

[2022-10-24 20:28] arashmanteghi opened #3472 "Why jsx-no-bind rule is still enabled by default?"
I recently investigated using the inline function in the render phase. For example, inline function on event handler. Some think like this:

[code]

Based on the [`jsx-no-bind`](https://github.com/jsx-eslint/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md) rule, we must use `useCallback` in this situation, but as far as I know, `useCallback` has its own use case, and we shouldn't use it

[2022-10-25 05:09] ljharb commented on #3472
Nothing's enabled by default - you have to be using a config that enables it.

You should generally use useCallback for every callback imo - see https://attardi.org/why-we-memo-all-the-things/ - but if you don't want to, feel free to disable the rule.

[2022-10-25 05:09] #3472 closed

[2022-10-28 13:55] dimitropoulos commented on #2628
and, building on what @rygine came up with, if you'd _also_ like to block namespace imports (like `import * as React from 'react'`) you can use:
[code]

(see also: https://github.com/jsx-eslint/eslint-plugin-react/pull/2585)

[2022-10-28 19:07] sandgraham commented on #3466
Just chiming in- saw this error pop up on some inline SVG like so:
[code]
Note, changing the property to `maskType` also reveals that it isn't a type on lib.dom `SVGMaskElement` yet.

The draft spec [defines](https://drafts.fxtf.org/css-masking/#the-mask-type) it as applying to mask elements and, notably, as a "presentation attribute", which, from what I can tell in the [SVG 1.1 spec](https://www.

[2022-10-31 07:30] linonetwo commented on #2353
One use case is I expose `export type IRenderer = FC<IRendererProps>;` in my lib,

And on user side, he uses `export const` _`Pawn`_`: IRenderer = (props) => { //... ` and get this error.

[2022-10-31 15:44] reintroducing opened #3475 "no-unused-prop-types false positive with createPortal"
I've got a component where the containing div is wrapped with `createPortal`.  If I remove the createPortal, all of my propTypes are correctly used, but if I re-add the createPortal to surround the div, all of my propTypes get marked as no-unused-prop-types. Not sure whats going on here but figured I'd point it out in case nobody has ever reported this (which doesn't seem anyone has, I searched bo

[2022-10-31 16:27] Sreejit7 commented on #2926
is this not added to the plugin yet? we have a similar problem in our repo, and looking for a fix 👀

[2022-10-31 18:22] himanshu007-creator commented on #3475
Hey @reintroducing , can you share a codespace sample? like a stackblitz link?
Reference: https://stackblitz.com/

[2022-10-31 18:54] reintroducing commented on #3475
@himanshu007-creator Is there a pre-existing template set up already with the rules in place for this repo? Or do I have to create a new one to demonstrate this issue?

[2022-10-31 19:00] himanshu007-creator commented on #3475
You can create a blank project to demonstrate the code that you are referring to.

[2022-10-31 19:05] reintroducing commented on #3475
@himanshu007-creator right, i guess what i meant is if there is a pre-existing template that takes care of the setup of defining eslint, adding this plugin, and being ready to show any subsequent issues that may be present, but i'm assuming there isn't, so i'll create one from scratch.

[2022-10-31 19:13] himanshu007-creator commented on #3475
Yeah you would have to create a fresh one. Sorry for my misinterpretation 🙂

[2022-10-31 20:04] reintroducing commented on #3475
Here you go: https://stackblitz.com/edit/vitejs-vite-xkspmk

I updated the title because its actually when createPortal is used within a forwarded ref. `FooNoPortal.jsx` and `FooPortal.jsx` are identical except that the NoPortal doesn't create a portal and the other does. The one with the forwarded ref and the portal produces the error in the terminal:

`src/FooPortal.jsx(10,3): 'name' PropType is

[2022-11-01 14:52] himanshu007-creator commented on #3431
hey, would like to work on this issue

[2022-11-01 15:06] ljharb commented on #3431
Go for it!

[2022-11-01 15:07] himanshu007-creator commented on #3431
i was not able to reproduce the issue

[2022-11-01 15:13] ljharb commented on #3431
In that case, can you make a PR with passing test cases, and it can close this issue?

[2022-11-01 19:51] ljharb commented on #2926
@Sreejit7 the tests pass, so it should already be fixed. If you're fully updated and still seeing problems, please file a new issue.

[2022-11-02 03:31] kaiyoma opened #3476 "react/no-unknown-property being incorrectly thrown for valid code with `unselectable` prop"
Valid code (according to TypeScript):

[code]

TypeScript type for `unselectable`:

[code]

Error from eslint:

[code]

eslint: 8.26.0
eslint-plugin-react: 7.31.10
typescript: 4.7.4

[2022-11-02 03:34] kaiyoma opened #3477 "react/no-unknown-property being incorrectly thrown for valid code with `node-key` prop"
Valid code (according to TypeScript):

[code]

TypeScript type for `node-key`:

[code]

Error from eslint:

[code]

eslint: 8.26.0
eslint-plugin-react: 7.31.10
typescript: 4.7.4

[2022-11-02 04:15] ljharb commented on #3476
`unselectable` is not a standard attribute i'm aware of - typescript types are often wrong, so they aren't a useful source for correctness. Do you have an MDN link describing it?

[2022-11-02 04:15] ljharb commented on #3476
https://learn.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/platform-apis/ms537840(v=vs.85) implies it's a (nonstandard, and thus deprecated) IE-only property, fwiw.

[2022-11-02 04:16] ljharb commented on #3477
`key` is certainly a React prop, but I've never heard of `node-key` before. Since TS types are often wrong, they aren't a useful source - do you have a link to somewhere that describes this prop?

[2022-11-02 04:56] kaiyoma commented on #3476
Let me ask around and see if I can figure out what this prop is for.

[2022-11-02 04:56] kaiyoma commented on #3477
Let me ask around and see if I can figure out what this prop is for.

[2022-11-02 06:04] kaiyoma commented on #3476
Looks like we had copied this from the examples for react-grid-layout:

https://github.com/react-grid-layout/react-grid-layout/blob/master/test/examples/15-drag-from-outside.jsx

I think we'll just remove this prop, since we haven't supported IE in a long time. Thanks for the link!

[2022-11-02 06:04] #3476 closed

[2022-11-02 06:22] kaiyoma commented on #3477
Turns out this was a "data" attribute that just wasn't named correctly (should have been `data-node-key`). Not sure why/how there's a type for it...

[2022-11-02 06:22] #3477 closed

[2022-11-02 06:26] Sreejit7 opened #3478 "`jsx-newline` puts line breaks between comments and new JSX elements"
I have the `jsx-newline` rule turned on, which when run with the `--fix` option, puts line breaks between any comments (including eslint-disable comments) and JSX elements, thus undoing the whole point of using comments.

Let's say I have something like this:

[code]

The `jsx-newline` rule puts a line break between the eslint-disable comment and <Heading />, therefore causing the `eslint-disable-

[2022-11-02 06:35] sujan-s commented on #3478
To demonstrate the above comment—

What we need—
![Screenshot 2022-11-02 at 12 04 03 PM](https://user-images.githubusercontent.com/19920532/199415966-1f030edf-b197-4bb7-92fe-76f84cad8adf.png)

But what actually happens—
![Screenshot 2022-11-02 at 12 04 17 PM](https://user-images.githubusercontent.com/19920532/199416106-24c05a7e-0dd9-4940-8a9f-1bb5a0f17494.png)

Which we obviously don’t want.

[2022-11-02 07:09] ljharb commented on #3477
Glad the lint rule caught your bug :-D

[2022-11-02 07:17] ljharb commented on #3478
If this is new behavior in .10, then it’s a bug (cc @ROSSROSALES), and we should fix it.

[2022-11-02 09:31] Sreejit7 commented on #3478
@ljharb it's not a new behavior in .10, we were using 7.31.8, upgraded to .10

[2022-11-02 18:06] ROSSROSALES commented on #3478
@ljharb Thanks for pinging me, I can try and take a look into it

[2022-11-02 22:10] reintroducing commented on #3475
@himanshu007-creator just following up to see if the SB link above worked for you and you are able to verify this is a real issue?

[2022-11-03 10:49] karlhorky opened #3479 "`jsx-no-leaked-render`: Don't report errors on empty strings if React >= v18"
As mentioned and discussed here: https://github.com/jsx-eslint/eslint-plugin-react/pull/3203#issuecomment-1282530716

Modify the `jsx-no-leaked-render` rule to not report errors on empty strings if React is detected to be above or equal to v18, because [React Native no longer throws on empty strings](https://github.com/jsx-eslint/eslint-plugin-react/pull/3203#issuecomment-1266792245)

Related docs

[2022-11-04 11:04] PMLP-novo opened #3480 "Rule undefined-useeffect-dependency"
A notorious bug with useEffect is to make a useEffect without definining dependencies and having the useeffect running all the time.
Like:
[code]
instead should be

[code]
or if possible
[code]
To make it clear that this is what is intended.
A name for the rule could be `undefined-useeffect-dependency`
I don't know if this should be toggled on by default. I would prefer it, since I have not seen a

[2022-11-04 16:20] ljharb commented on #3480
This seems like something that should go in eslint-plugin-react-hooks, since it's specific to a single hook - this is the react plugin.

[2022-11-04 16:20] #3480 closed

[2022-11-04 17:37] tylercraft opened #3481 "`react/jsx-key` Does not report errors when child is optional"
This does not warn on this use case:

[code]

[2022-11-04 18:24] bertho-zero opened #3482 "`react/no-unstable-nested-components` does not allow ignoring only object properties"
I would like to keep this rule active but disable it for object properties, I have this:

[code]
But adding the `allowAsProps: true` option allows me to do things like this:
[code]

[2022-11-05 04:56] ljharb commented on #3482
I'm a bit confused. `Trigger` here is definitely a component, and should be warned on - but `b` isn't a component, because it's got a lowercase name (if it was `B` i'd say it *is* a component).

[2022-11-05 13:00] Ashoat commented on #3176
Some quick notes here:

1. Nobody uses `propTypes` anymore, so I don't think that should be a subject of conversation here.
2. As @alloyed mentioned, this is pretty much the only HMR approach to React in 2022. HMR is pretty much the only way to develop React today. As such, an ESLint rule like this would be hugely valuable to anybody developing React today.

@ljharb, understand that you personally

[2022-11-05 15:58] ljharb commented on #3176
Lots of people still use PropTypes - the prop-types lib gets 18m downloads a week, so it should *always* be a subject of conversation anywhere, objectively.