[2017-02-05 07:57] ljharb commented on #1061
Those links now show the same block - if you could provide the code that broke, it's definitely a bug we should be able to fix.

[2017-02-05 08:00] jakereps commented on #1061
Oops, got the second one updated.

[2017-02-05 18:35] Rejpal opened #1063 "False no warning when propname contains _handle"
When you have component like:

[code]
You will get correct warning:
Handler function for onClickSomethingInComponent prop key must begin with '_handle'.

but if you correct it like this:

[code]

you won't get the warning any more... which is wrong because the wrong thing here is that this.method still does not contain '_handle'.

correct state is

[code]

not the previous one... am I right here?

[2017-02-05 18:38] ljharb commented on #1063
Why would a handler function need to begin with "_handle"? Can you share your eslint config?

[2017-02-05 18:38] ljharb commented on #1063
Also, what is `Component` here?

[2017-02-07 14:38] josomers commented on #1043
Hi, as I'm having the same issue (and this is already resolved) I was wondering when the next release is planned?

[2017-02-07 15:44] Kronuz commented on #857
Is there currently no rule to support this?

[2017-02-07 17:17] ljharb commented on #857
@Kronuz no. https://github.com/yannickcr/eslint-plugin-react/issues/857#issuecomment-255827739

[2017-02-07 20:02] sompylasar commented on #976
The complex case of the `props` object being passed back and forth may be simplified by marking every defined prop as being used.

This rule would be very helpful for the top-level props tracking, especially in the stateless functions. It would better skip some "maybe used" props and reliably report "definitely unused", i.e. if there's no props object passing (except constructor super), but there'

[2017-02-07 20:53] EvNaverniouk commented on #976
Closing this for now. Consensus seems to be that it's useful. Hopefully the community and I can help fill in the missing gaps to reduce the false positives.

[2017-02-07 20:53] #976 closed

[2017-02-07 21:16] sompylasar commented on #976
Thanks @EvNaverniouk !

[2017-02-08 13:46] arnarthor opened #1065 "no-array-index-key does not support ImmutableJS"
This rule seems really useful, but at the same time it can be frustrating with ImmutableJS.

It seems that the rule is only checking for `.map` with 2 arguments and assuming the latter one is the index here.

The counter example for that is here
[code]

This causes an error in this rule wrongfully since `key` does not have the same behaviour as an array index.

[2017-02-08 14:01] lencioni commented on #1065
Thanks for the report!

Unfortunately, I'm not sure there is any way to reasonably detect if `.map` is called on an Immutable.js object or something else. Any ideas on how we might solve this?

If we can't come up with anything, I think the best we can do is add a note to the documentation about this.

[2017-02-08 14:18] arnarthor commented on #1065
Yup definitely. I didn't expect this to get fixed since it's a really hard problem to solve. But adding something to the docs would be beneficial.

Also regarding if #1049 gets through to make sure it's expressed as part of the recommended setup.

Otherwise awesome stuff, hadn't thought about this one when assigning my keys 👍

[2017-02-08 16:19] gorangajic commented on #1061
maybe it can be helpful, for me it's throwing when using template string

[code]

[2017-02-09 11:21] alisabzevari opened #1067 "What is the best way of defining optional event handlers in propTypes?"
I have a component that has an `onChange` event. Providing the event handler for this component is optional. I have defined the `propTypes` as follows:
[code]
But I will get the `react/require-default-props` eslint error.
My question is that how can I define a propType of `Function | undefined`?

[2017-02-09 15:56] petersendidit commented on #1067
The rule is checking if there is a default prop for non required props.

You can set a noop function as the default:
[code]

[2017-02-09 17:21] ljharb commented on #1067
You can also set `null` as the default.

[2017-02-09 17:21] #1067 closed

[2017-02-12 16:16] dropfen opened #1068 "unused prop warning Destructuring assignment in parameters list"
This code will result in a unused prop warning for the `validate` prop even if its used inside the value validation.

[code]

If I change the value validation to the following, the warning disappears.

[code]

[2017-02-12 23:48] alexkrolick opened #1069 "jsx-handler-names doesn't detect methods defined as es7 class properties"
https://babeljs.io/docs/plugins/transform-class-properties/

<img width="419" alt="screen shot 2017-02-12 at 3 43 14 pm" src="https://cloud.githubusercontent.com/assets/1571667/22867289/806f5ea2-f13a-11e6-95a1-a242182a6bd9.png">

[2017-02-12 23:55] alexkrolick commented on #1069
It does with babel-eslint

[2017-02-12 23:55] #1069 closed

[2017-02-13 00:36] ljharb commented on #1069
That's because class properties aren't "es7", they're a stage 2 proposal, and as such, eslint core doesn't parse them yet.

[2017-02-14 15:41] monsieurnebo commented on #322
We need this !

[2017-02-14 16:04] yvele commented on #322
PS: I'm right now using the `ignore` option of [react/prop-types](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md) as a workarround for my decorated proptypes

[2017-02-14 21:05] #696 closed

[2017-02-15 00:55] adnasa commented on #1056
btw guys, isn't this [thread](943) discussing the same proposal?

[2017-02-15 01:02] lencioni commented on #1056
Looks like it. Closing this one as a duplicate of #943.

[2017-02-15 01:02] #1056 closed

[2017-02-15 18:03] #885 closed

[2017-02-15 18:53] lencioni opened #1072 "Make the jsx-no-undef option that increases strictness the default"
As discussed in https://github.com/yannickcr/eslint-plugin-react/pull/1013#discussion_r101341243, it seems like this should be the default behavior for this rule. As part of the next major release, we should remove this option and just make it the default.

[2017-02-16 00:00] #1057 closed

[2017-02-16 05:13] daltones opened #1073 "`void-dom-elements-no-children` checking every .createElement and crashing"
I've just updated to v6.10.0 and enabled `void-dom-elements-no-children`.

It's crashing with this error:
[code]

It happens with this simple code:
[code]

So here is the first problem:
- The rule thinks that every `.createElement(` is _the_ `React.createElement`.

Now testing with the actual `React`:
[code]
The rule will crash too.

Second problem:
- The rule doesn't treat incomplete number of `c

[2017-02-16 05:20] ljharb commented on #1073
The first problem is intentional, as it looks for anything that could be a createElement call first, then refines.

The second is clearly a bug.

[2017-02-16 05:37] daltones commented on #1073
Okay, but what is the point of the first problem being intentional when `document.createElement` could be a trivial false positive?

Why can't it work same way as other rules that use `pragma` setting to verify `React.(createClass|(Pure)?Component)`?

[2017-02-16 05:44] daltones commented on #1073
Oh, right, I missed something. Fixing the second problem would not warn about `document.createElement('img')`.

But maybe first problem could turn into another issue to prevent some edge cases like `objectNothingAboutReact.createElement('img', {foo: bar}, 'baz')`.

Thanks!

[2017-02-16 08:10] ljharb commented on #1073
I believe that if the bug was fixed, only React `createElement` calls would be matched.

[2017-02-16 08:12] ljharb opened #1074 "createElement setting?"
We allow `createClass` to be overridden with a [setting](https://github.com/yannickcr/eslint-plugin-react#configuration) - should we allow `createElement` to be configured as well?

If so, any rules referencing `React.createElement` should be sure to use `<pragma>.<createElement>`

[2017-02-16 09:24] adnasa commented on #943
I'm up for implementing this

[2017-02-16 13:12] relekang commented on #943
@adnasa Cool, I have something "working" [in a branch](https://github.com/yannickcr/eslint-plugin-react/compare/master...relekang:no-access-state-in-setstate). Not sure if it helps or not. I don't think that implementation is good enough, but might be worth take a look.

[2017-02-16 15:36] alexlrobertson opened #1075 "Allow configuration for elements inspected for `jsx-no-target-blank`"
My codebase uses Fluxible Router's `NavLink` element in place of `a` tags. I would like to configure this rule to also inspect these elements.

[2017-02-16 16:55] adnasa commented on #943
I'll have a look, thanks @relekang

[2017-02-16 18:17] babsonmatt commented on #647
Just came across this issue as well

[2017-02-17 00:20] webOS101 opened #1076 "sort-comp does not detect component declaration starting with `return`"
Similar to #174 a component is not detected if the declaration begins with `return` (Such as, in our case, where we're wrapping the component inside a HOC).  Other react rules appear to be applied correctly to these cases, just not `sort-comp`.

Example code (does not show `sort-comp` warning):
[code]

Example code (correctly shows `sort-comp` warning):
[code]

As another note:  The react lifecycl

[2017-02-17 00:45] ljharb commented on #1076
Since `makeComp` is not a component, it's an HOC, are you saying that `MyComponent` isn't being treated as a React component in the second example?

[2017-02-17 01:04] webOS101 commented on #1076
In the second example, it is correctly being interpreted as a React component.  In the first example, it is not detected as a React component.

[2017-02-17 01:06] ljharb commented on #1076
aha, thank you.

[2017-02-17 02:37] #1061 closed

[2017-02-17 11:00] giuseppepaul commented on #322
@yvele I'm trying to do this but struggling to get it working, could you show me what your .eslintrc looks like?

[2017-02-17 11:04] yvele commented on #322
@giuseppepaul Sure!

[code]

[2017-02-19 13:39] adnasa commented on #1059
Is this proposal accepted?
I don't mean to hijack this request, but I started a basic implementation [here](https://github.com/adnasa/eslint-plugin-react/commit/660ab847ec93496ce645b1c1d8ba1829640d6697)

you're welcome to take over @matthargett 😉

[2017-02-20 08:35] ndbroadbent commented on #976
Ha, seems like you'd have to solve the [halting problem](https://en.wikipedia.org/wiki/Halting_problem) for this one.

I think this rule should be relaxed quite a bit, so that it just looks for the prop name string anywhere in the same file. I think that would solve 99% of these false positives, and it would still be quite useful.

Even if that's not the default behavior, it would be really useful

[2017-02-20 08:39] ndbroadbent commented on #976
Actually I think [johanneserber's comment](https://github.com/yannickcr/eslint-plugin-react/issues/976#issuecomment-268995092) suggestion would cover 99% of cases, and I would also like to add a destructuring check. e.g.:

    const  {foo, bar} = this.props

That would solve everything for me.

[2017-02-20 09:23] remcohaszing opened #1079 "nextProps aren't handled by no-unused-props"
I have the following (simplified) piece of code:

[code]

This triggers the following ESLint error:

[code]

However, if I do add `error` to `propTypes`, another error is triggered:

[code]

I think the two rules should cooperate.

I'm using the following relevant packages:

- eslint@3.15.0
- eslint-config-airbnb@14.1.0
- eslint-plugin-react@6.10.0

[2017-02-20 19:27] wyze commented on #1017
Closing as the PR to fix was merged and released in 6.10.0.

[2017-02-20 19:27] #1017 closed

[2017-02-20 20:21] emirdeliz commented on #1079
+1

[2017-02-21 00:57] ljharb commented on #1079
It's not really about "cooperation", but certainly both rules should be able to detect used props in `nextProps` identically.

[2017-02-21 03:39] matthargett commented on #1059
@adnasa pleas go for it! I thought I would knock it out that day, but other things keep getting in the way :)

[2017-02-21 10:46] swernerx opened #1083 "`indentLogicalExpressions` is not being accepted by eslint"
When adding the third parameter to jsx-indent like this, it seems like Eslint is not happy about it:

[code]

Config:

[code]

[2017-02-21 14:47] jomasti commented on #1083
It looks like the changes that introduced for that rule were merged in just after the latest release, so that option won't work just yet.

[2017-02-21 18:05] #1083 closed

[2017-02-22 23:14] pfarnach opened #1085 "jsx-indent false positive"
Using `v6.10.0`, I'm getting the following errors from this code:

[code]

[code]

If I "fix" these errors by un-indenting lines 6 and 7 (but not 5), I get generic indent errors:

[code]

[2017-02-23 05:25] webOS101 commented on #1022
I've taken a stab at this and have a working prototype.  Just trying to get all the tests update for this rule.  If @ljharb or someone else can clarify:  I'm basing off an existing rule but need to write different data into the component list.  Do rules share the same component data or do they each get their own copies?  I see some rules appear to share the same data properties but not sure if the

[2017-02-23 05:28] webOS101 commented on #1022
Also, I considered it a violation of the rule if supplying a default for an `.isRequired` rule.  Was that your intention or should that be configurable?

[2017-02-23 06:06] ljharb commented on #1022
That's a good point.

I think that should be an option, but enabled by default. Let's call it `allowRequiredDefaults`, and default it to `false`.

[2017-02-23 06:20] webOS101 commented on #1022
Also discovered a bug in `require-default-props`.  Oops.

[2017-02-23 11:01] MoOx opened #1088 "False positives on "Declare only one React component per file" (react/no-multi-comp)"
[code]

react/no-multi-comp is detecting 2 components here since I get a warning on the last () => false.
Both are wrong.

Ps: the code does not make sense as it is as I removed some part to make the debugging more easy.

Not that if I does not import createElement, the error seems to disappear  (but I need this...)

[2017-02-23 16:51] ljharb commented on #1088
(Unrelated, but you may want to check out enzyme rather than creating your own renderers)

[2017-02-24 06:05] sfletche opened #1090 "Incorrect prop-types complaint on functions that destructure params and return jsx node"
See the comments in the `getMessage` function in the following jsx file.

[code]

relevant packages include
[code]

[2017-02-24 06:16] ljharb commented on #1090
There's not really a good way to detect SFCs without treating all jsx-returning-functions as components.

`getMessage` is a function that returns jsx, so it should instead be an SFC (from an idiomatic React standpoint).

[2017-02-24 06:20] #1088 closed

[2017-02-24 06:24] sfletche commented on #1090
What about a solution that detects SFCs through the presence of the `propTypes` property?

[2017-02-24 08:04] ljharb commented on #1090
Then the rules requiring that all used props have propTypes wouldn't be able to catch components where `propTypes` has been forgotten.

[2017-02-24 08:28] prithsharma commented on #811
Similar to the componentWillReceiveProps example, `ownProps` used in `mapStateToProps`(while connecting with the redux store) are also not counted as used.
E.g.
[code]

@ljharb - do you think counting this too can be considered?

[2017-02-24 09:18] ljharb commented on #811
`mapStateToProps` is a lot harder because it's redux-specific, and not tied to the component.

However, wouldn't a prop only used in `mapStateToProps` be a prop you want to *not* pass to the component?

[2017-02-24 15:17] sfletche commented on #1090
Ah.  I see the problem...

Has there been any consideration to decomposing the rule?
Maybe one rule that detects when propTypes are not declared on a component, and another rule that detects props that are not among the declared propTypes.

Or an option that would trigger missing props validations only when propTypes is declared on a component?

[2017-02-24 15:36] nfantone commented on #1090
Same problem over here.

<img width="616" alt="screen shot 2017-02-24 at 3 33 43 pm" src="https://cloud.githubusercontent.com/assets/476069/23309531/e458cbae-faa6-11e6-9ae6-2113532f5afe.png">

`PropTypes` are clearly declared but errors are popping out.

[2017-02-24 16:35] ljharb commented on #1090
The idiomatic approach here in React is to always make a component rather than a jsx-returning function. Doing so just happens to avoid issues with this plugin's component detection.

@sfletche all the rules have to work in concert. Certainly we could add a global setting that would treat functions that have no React statics attached as non-SFCs, but that doesn't seem like a satisfying solution.

[2017-02-24 16:46] nfantone commented on #1090
@ljharb In my case, it _is_ a component that happens to call a bunch of JSX generating functions. I'd expect this to be a _very_ common approach? Sure, I _could_ turn those functions into a new component - but I sincerely see no point from a usability POV.

[2017-02-24 16:54] ljharb commented on #1090
It would allow you to add propTypes to each of those subcomponents, test them separately, and allow React to do more optimization on the render tree.

At any rate that's orthogonal to the issue here, for which we don't have a good solution.

[2017-02-24 17:14] nfantone commented on #1090
Point(s) taken. I still find it to be a bit of a stretch, really. I'm sure there are plenty of things like these in the wild:

[code]

I believe it's not realistic to expect every single JSX-returning-function to be turned into a whole new component.

[2017-02-24 18:26] ljharb commented on #1090
That's our policy in Airbnb's codebase and it tends to work out just fine, ftr.

At any rate, one possible component detection modification could be that if a jsx-returning-function that has no React statics (propTypes, defaultProps, contextTypes, childContextTypes, etc) is both invoked as a normal function, and not used in a jsx element context, in the same file, we could treat it as "not a compo

[2017-02-24 22:52] webOS101 opened #1092 "question: valid jsx-indent warning or not"
While testing some different scenarios with `jsx-indent` in master I discovered the following code throws a warning.  While ugly, it doesn't seem to violate the `jsx-indent` rule explicitly.  Would this be consider a valid warning:

[code]
`warning  Expected indentation of 3 tab characters but found 0`
(on the line with `>Hello`)

[2017-02-24 23:37] ljharb commented on #1092
Indeed, it should be:
[code]

or

[code]

[2017-02-24 23:41] webOS101 commented on #1092
fair enough, I would prefer either of those as well.  closing this.

[2017-02-24 23:41] #1092 closed

[2017-02-26 01:29] klaygomes commented on #811
[code]

It is a pity that is the unique working way to fix that.

[2017-02-26 12:08] GGAlanSmithee commented on #1053
Some additional info which might help:

this **_will_** error:
[code]

this will **_not_** error:
[code]

The only difference between these snippets is how `this.props` is destructured. In the first example, `location` and `router` props are destructured separately, and in the second example all props are accessed together. This is probably not the whole solution, since @isnifer isn't destructurin

[2017-02-26 13:04] idangozlan commented on #1090
+1

[2017-02-26 21:08] lencioni commented on #1090
@nfantone FWIW, turning this into a component:

[code]

could be as simple as adding curlies in the signature:

[code]

and updating the callsites of course.

[2017-02-26 21:10] lencioni commented on #1090
@idangozlan please use GitHub's built in "Add your reaction" feature instead of posting "+1" comments. These comments only tend to add noise for folks and are not very helpful. I'm going to remove your "+1" comment along with this comment to keep the discussion clean. Thanks!

[2017-02-27 18:35] TrySound commented on #1074
This works for me
[code]

[2017-02-27 18:44] ljharb commented on #1074
Doesn't that change `React` to `createElement`, which isn't the same thing? Or is the default pragma `React.createElement`?

[2017-02-27 18:47] TrySound commented on #1074
I guess pragma here is what imported. Maybe this may conflicts with createClass. But it's still deprecated and doesn't matter IMHO. So this way just works.

[2017-02-27 18:48] ljharb commented on #1074
It's important to note the caveat that it only works when not using anything off of `React` except for `createElement` - don't forget `React.Component`, `React.Children`, `React.isValidElement`, `React.PropTypes`, etc.

[2017-02-27 18:51] TrySound commented on #1074
Maybe. In my opinion these cases should be processed with flow or typescript. It's just an api, not syntax stuff.

[2017-02-27 18:53] ljharb commented on #1074
Neither of those things is a part of the language, and "types" is entirely unrelated to the reasons eslint-plugin-react needs to know about the `React` and `createClass` pragmas (which relate to using alternative renderers to React itself).

[2017-02-27 20:41] TheTFo commented on #690
+1, I got caught by the Jest bug pointed out by bkozera, had to rewrite components to not use the fat arrow

[2017-02-27 22:47] mockdeep opened #1094 "Rule idea: no spreading props"
One thing we've noticed tends to make code a little opaque is when we destructure the entire props for a sub-component:

[code]

It would be great to have an eslint rule to force expanding individual props that should be passed down:

[code]

[2017-02-27 23:01] ljharb commented on #1094
In other words, forbidding spread props, but just of the entire props object?

This seems pretty useful. I'd actually want to forbid spread props in all cases, so that maybe could be configurable.

[2017-02-27 23:11] mockdeep commented on #1094
Yeah, a configuration would be good, I think. Sometimes we like to assign local props or use a function to pull them out, which I think we'd like to still be able to do.

[code]

Haven't landed on a clear style for that, though.

[2017-02-28 01:11] jpickwell commented on #1048
I like the idea of an annotation comment. The plugin could check for `Component` or `PureComponent`, and if neither of those is present (extended), then check for the annotation comment.

[2017-02-28 01:28] jpickwell commented on #986
@christianharke, the plugin doesn't look for `React.Component` or `React.PureComponent`, it looks for `Component` and `PureComponent`. Notice the lack of the `React.` prefix. You could rename your base `Component` class to `BaseComponent` or anything that isn't `Component` or `PureComponent` and this would stop the plugin from treating the class like a React component.

[2017-02-28 01:29] ljharb commented on #1048
Note that this plugin already supports an optional annotation comment, but it must not require it, or else the linter rules would miss out on a lot of places it needs to be targeting.

[2017-02-28 01:32] jpickwell commented on #1048
Is there documentation for this optional annotation comment?

[2017-02-28 01:46] jpickwell commented on #986
Looking at the source, the `React.` prefix (`React` being the `pragma`) is treated as optional. So,
it looks for all of the following:

* `Component`
* `React.Component`
* `PureComponent`
* `React.PureComponent`

(assuming `pragma` is set to the default of `React`)

[2017-02-28 02:06] ljharb commented on #1048
I believe it's undocumented atm, and uses jsdoc syntax.

[2017-02-28 05:12] jrajav commented on #625
Will this ever be fixed? We've had to simply leave JSX indents unchecked for a long time now because this rule doesn't address the way we (and many others) indent ternaries.

[2017-02-28 11:49] christianharke commented on #986
Thank you @jpickwell!

Just renaming the variable from `Compontent` to `BaseComponent` while importing fixed the issue.

[2017-02-28 11:49] #986 closed

[2017-02-28 13:01] AoDev commented on #647
Same here and I just want to add that using `&&` does work properly. (in `eslint-plugin-react: 6.10.0`).

[code]

[2017-02-28 13:54] idangozlan commented on #1090
My Case:

[code]

Generate the following error:

[code]

[2017-02-28 17:29] ljharb commented on #1090
@idangozlan that is a separate issue; could you file a new one for it?

[2017-02-28 18:42] idangozlan commented on #1090
Sure.

[2017-02-28 18:43] idangozlan opened #1095 "react/no-unused-prop-types error when using the props as function arguments"
My Case:

[code]

Generate the following error:

[code]

[2017-02-28 18:57] ljharb commented on #1095
If instead of overloading getInitialState, you made getInitialState and cWRP both call into the same shared closed-over function, would everything work?

I'm not sure supporting any arguments to getInitialState (which takes none, and is part of the severely deprecated React.createClass pattern) is a good idea.

[2017-02-28 19:15] kentcdodds opened #1096 "Add fix to prefer-stateless-function"
Would be awesome to be able to autofix this. Anyone wanna do it?! :) [as seen on twitter](https://twitter.com/ljharb/status/836654700967579648)

[2017-02-28 19:16] kentcdodds commented on #628
This may be fixed now...

[2017-03-01 10:42] idangozlan commented on #1095
I can't understand your solution, can you demonstrate with a code sample?

[2017-03-01 17:56] developer239 opened #1097 "graphql() false positive"
**Tell us about your environment**

* **ESLint Version: "^3.15.0"**
* **Node Version: "v7.5.0"**
* **npm Version: "4.1.2"**

**What parser (default, Babel-ESLint, etc.) are you using?**

"webpack": "^2.2.1",
"babel-eslint": "^7.1.1",

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

Eslint should not find any errors in the c

[2017-03-01 18:19] ljharb commented on #1095
Ah, I'd misunderstood - this isn't `React.createClass`, you're just using the method name "getInitialState".

[code]

[2017-03-03 14:07] jpickwell commented on #1073
I just installed `master` in one of my projects, and I'm no longer getting the `TypeError: Cannot read property 'properties' of undefined` error. So #1080 fixed that, which solved my problem. Thanks @jomasti.

[2017-03-03 16:02] #1073 closed

[2017-03-04 04:15] alberth8 commented on #780
What's the fix for this then? I have `[2, "disallow-in-func"]` and it's giving me a

[code]

[2017-03-04 06:16] ljharb commented on #780
@alberth8 if that doesn't work, you may not have a new enough version of the plugin installed, or you may not have restarted Atom.

[2017-03-05 03:10] alberth8 opened #1099 "no-did-mount-set-state does not work"
I'm trying to use eslint-plugin-react 6.10.0, but neither of these work:

`"react/no-did-mount-set-state": [2, "allow-in-func"],`

`"react/no-did-mount-set-state": [2, "disallow-in-func"],`

In fact, both of these throw the same error:

[code]

How can I fix this?

[2017-03-05 03:36] #1099 closed

[2017-03-05 03:40] alburritos opened #1100 "Unable to fix Parsing error: The keyword 'import' is reserved after migration"
Currently this is my eslintrc.json file
[code]
I'm running 2.6.0.

However, when I lint, I get hundreds of errors that say

`  1:1  error  Parsing error: The keyword 'import' is reserved `

[2017-03-05 04:01] ljharb commented on #1099
Did you figure it out?

[2017-03-05 04:04] ljharb commented on #1100
With babel-eslint, you don't need any of those parserOptions.

I'm not sure why you're getting that error tho - is this on the command line, with a locally installed eslint?

[2017-03-05 04:04] ljharb commented on #1100
Also, upgrade to eslint 3 - v2 is obsolete.

[2017-03-05 04:59] alberth8 commented on #1100
@ljharb It's an npm script where it just runs `eslint --fix ./myDir`

[2017-03-05 05:01] alberth8 commented on #1100
@ljharb Out of curiosity, what's wrong with keeping v2? Also, if I rember the parserOptions stuff, I still the same error.

[2017-03-05 05:50] ljharb commented on #1100
Good, eslint shouldn't be installed globally :-)

what's wrong with keeping v2 is that it's not the latest, and you should always strive to be on the latest version of things.

what version of babel-eslint is it?

[2017-03-05 14:26] phyllisstein opened #1101 "void-dom-elements-no-children throws a TypeError when installed from the current master branch."
Hey there! I hate to be a bother, but I just tried installing this plugin from GitHub, overeager to see if JSX indentation had been improved, and ran into a little trouble linting one of my source files. The `void-dom-elements-no-children` rule is throwing a `TypeError` on [line 107](https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/void-dom-elements-no-children.js#L107):

[co

[2017-03-05 18:09] ljharb commented on #1101
It would absolutely be helpful to gist the source file it crashes on, thanks!

[2017-03-05 18:56] phyllisstein commented on #1101
Sure thing! Went ahead and dumped the JSX, my `.eslintrc.yml`, and the error here: <https://gist.github.com/phyllisstein/04036a187aa4c2d4195a67cefb4170cb>. Let me know if you need anything else!

[2017-03-05 18:58] ljharb commented on #1101
@phyllisstein I assume https://gist.github.com/phyllisstein/04036a187aa4c2d4195a67cefb4170cb#file-button-jsx-L112-L119 is the problem - if you remove https://gist.github.com/phyllisstein/04036a187aa4c2d4195a67cefb4170cb#file-button-jsx-L113 does the problem go away? (if not that, [this](https://gist.github.com/phyllisstein/04036a187aa4c2d4195a67cefb4170cb#file-button-jsx-L115)?)

[2017-03-05 23:22] phyllisstein commented on #1101
So I did a little ham-handed investigation and started deleting lines blindly. Turns out it's the `handleClick` function? Including any of the lines in the range <https://gist.github.com/phyllisstein/04036a187aa4c2d4195a67cefb4170cb#file-button-jsx-L58-L64> causes it to throw, whereas deleting it entirely seems to work around the issue. Heaven knows what that portends though.

[2017-03-05 23:42] ljharb commented on #1101
Interesting - probably because it's an arrow function class property. If instead (which would be much more performant) it was a true instance method, and you did `this.handleClick = this.handleClick.bind(this)` in the constructor, I suspect it'd work.

Thanks though, this should be very helpful to fix the bug.

[2017-03-06 06:58] numbergames commented on #816
Sorry to pile on, but I believe this is one more unique example of inaccurate triggering of the when props are destructured and reassigned.

[code]
Throws two errors:
`'Children' is missing in props validation at ...`
`'aNode' PropType is defined but never used at ...`

[2017-03-06 09:04] Andreyco commented on #816
@numbergames
Warnings in this case are valid.
[code]

Thus, all prop validation does apply to original prop names - not aliased. Same apply to `defaultProps`

Correct usage would be:
[code]

[2017-03-06 09:15] idangozlan commented on #1095
yep.. any solution :)?

[2017-03-06 09:20] ljharb commented on #1095
Using the default value means it's branched on using both, and that's not something that can be statically determined.

[2017-03-06 20:29] wwselleck opened #1102 "Function above component blocking linting for defaultProps"
Version: 6.10.0

This is an extremely simplified version of a component I'm working on. The `require-default-props` rule is turned on.

[code]

When I run `eslint ./demo.js`, I get no warnings, despite `props.className` not having a `defaultProp` value and it not being marked as required in `propTypes`. When I remove the `createElement` function, however....

[code]
I get a warning about `classNam

[2017-03-06 22:03] dmt0 commented on #907
@yannickcr This issue is anything but fixed. Using 6.10.0, I'm getting this:

    43:7  error  Expected indentation of 4 space characters but found 6  react/jsx-indent

in this code:

              {!condition === 0 ? '' :
                <a href={this.props.exportUrl} >{t('export_btn')}</a>
              }

which I find indented reasonably. Linter expects it to look like this:

              {!co

[2017-03-07 21:01] lancempoe commented on #1090
@ljharb If the policy at AirBnB is to only have components return jsx, how would you handle the case below where we are returning one component or the other depending on a check.

[code]

[2017-03-07 21:18] ljharb commented on #1090
@lancempoe i'd either inline that logic directly inside `render`, or i'd make it a separate component.

[2017-03-08 12:40] prithsharma commented on #811
@ljharb - ^^ why do you say that?
May be I am missing something - if there is a prop that I need to use while mapping state to props(e.g. passing to a selector), is there a better way to do it?
FYI - the prop in question isn't in the store, if that's how the selector could have got hold of it.

[2017-03-08 16:43] drifterz28 opened #1104 "sort-prop-types rule will should ignore case"
I have a list of props
[code]

this list above is sorted but will say that `goTokensUsed` is not sorted and should go above `goldRun`

I am using eslint-plugin-react v6.10.0
and eslint v3.14.1

[2017-03-08 16:48] #1104 closed

[2017-03-08 16:48] drifterz28 commented on #1104
found option to fix ignoreCase: true

[2017-03-08 17:54] andrevenancio commented on #678
I might be missing something, but adding to get the element dom height or any other property coming from (let's say) `getBoundingClientRect()` simply calling this.myReference.getBoundingClientRect() will return undefined. this on the latest version of react.

[code]

[2017-03-08 18:22] mrchief commented on #811
Its a grand ambition to have a rule like this. JavaScript is a highly dynamic language and there is no way a static checker can detect unused props reliably. Turning it off may be the only sane and time-practical recourse. My 2 cents of course.

[2017-03-08 18:43] webdif commented on #678
@andrevenancio If you store your DOM element in `this.node`, why do you use `this.foo`? Maybe, it's a typo?

[code]

[2017-03-08 21:46] lancempoe commented on #1090
I have always felt (and heard) that having logic in the render is an antipattern. Is AirBnB advocating for logic to be within a render?

[2017-03-08 21:50] andrevenancio commented on #678
yeah that was a typo. corrected my comment.

[2017-03-08 22:48] fhelwanger commented on #678
Just copied and pasted your code.... it works. http://codepen.io/anon/pen/peRPrz?editors=0010

It must be something else in your code. Try to create a minimal example that reproduces your problem.

[2017-03-09 06:35] CrazyAlvaro commented on #226
@EvNaverniouk Thank you for add this rule here, Evgueni. During our development here, we found that this rule checks propType used under `this.props` but not under `nextProps`. In some cases we only need to update specific props by using `nextProps.foo`. Would it be nice if we could check on both `this.props` and `nextProps`?

[2017-03-09 16:37] budde377 opened #1107 "Prop usage is not detected"
The following code:

[code]
raises error

[code]

with eslint-plugin-react version 6.10.0.

[2017-03-09 16:49] dhirajg27 commented on #447
In .eslintrc replace

"ecmaFeatures": {
    "jsx": true,
    "modules": true
}
with
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }

[2017-03-10 12:46] akkie opened #1108 "sort-comp with type-annotations does not work if the property is initialized with a value"
The following code shows the warning: initialized should be placed after constructor

[code]

And if I remove the value then it works as expected:
[code]

[2017-03-10 18:18] LL782 opened #1109 "React Router - 'location' missing in props validation"
Match a _route_ to a component with [React Router](https://reacttraining.com/react-router/) and that component will have certain props. `location` is one of these props but when it is used in a component, ESLint can throw an error...

e.g. `'location' is missing in props validation`.

Given the follow code, what am I doing/not doing to provoke the above error and what should I do about it?

root.j

[2017-03-10 18:19] LL782 commented on #1109
I can add the following to notFound.js but that doesn't seem accurate, and I wonder if there is a more global way to do it and associate it with React Router.

[code]

[2017-03-10 18:57] bartolkaruza opened #1110 "Should react/no-did-mount-set-state trigger on ES7 async componentDidMount?"
The rule `react/no-did-mount-set-state` triggers error on async componentDidMount function for a deferred `setState`. Basically, `this.setState()` is being called here after an async action has been completed. It is not re-rendering straight after mounting, but only after some data has been retrieved from a server. Is the rule maybe catching the wrong intent?

[code]

[2017-03-10 22:20] markalfred commented on #7
Any general opinions on this type of conditional rendering?

[code]

Would you add `bool` and arrays of them to the proptype, always use a ternary, or is there some better solution I'm unaware of?

[2017-03-11 07:00] ljharb commented on #1110
Duplicate of/related to #56

[2017-03-11 21:33] ljharb commented on #811
@prithsharma map state to props is meant to take wrapper props and state, and use them to construct a replacement props object. If the wrapped component does not need a prop, that prop should not remain in the replacement props - no other words, if the only use is in mapStateToProps, why would the wrapped component need it at all?

[2017-03-11 21:35] ljharb commented on #1090
Logic in a render (or a logic function invoked in a render) is totally fine! As long as render is purely based on props and state (pure in the no-side-effects sense) then it's great.

[2017-03-12 07:51] ljharb commented on #1107
What is `[].suppoerted`? that's not a property that would exist on arrays?

[2017-03-12 07:53] ljharb commented on #1109
That is entirely accurate - if `NotFound` expects a prop, it should be defining that prop in `propTypes`.

react-router may provide propType definitions for it already, but whether they do or not, you'd still need to explicitly connect them.

[2017-03-12 07:53] #1109 closed

[2017-03-12 07:56] ljharb commented on #1108
What order does it want if you do `initialized = true;` (ie, if you remove the type annotation)?

I suspect that the "type annotations" ordering isn't considering initializers as being type annotated - since `initialized: boolean` is flow-*only*, but `initialized: boolean = true` is a normal thing that's flow-annotated.

[2017-03-12 09:50] budde377 commented on #1107
@ljharb That was a typo. I have corrected the example.

[2017-03-12 12:20] iegik commented on #885
Still throws error when:

[code]

[2017-03-12 15:14] bartolkaruza commented on #1110
I agree it is related, but the fix for #56 at https://github.com/yannickcr/eslint-plugin-react/commit/70fef7194783c1603f2b7d89e698647706aab658 will not cover the async await case. Could a similar logic be added to any calls to setState after an `await` within the componentDidMount body?

[2017-03-12 15:55] ljharb commented on #1110
Yes, that seems reasonable.

[2017-03-13 06:22] ivarni commented on #811
The `propTypes` describe what props the *component* needs in order to function and `mapStateToProps` is not really part of the component's class so you'd need some different mechanism for ensuring that the redux store actually contains the properties you need in order to transform them to component props.

[2017-03-13 07:42] akkie commented on #1108
@ljharb If I remove the type annotation, then I get the same warning message: initialized should be placed after constructor

[2017-03-13 09:14] ahauser31 commented on #885
Yeah, for me usage of a prop only in `componentWillReceiveProps` also throws this linting error.

[2017-03-13 09:16] LL782 commented on #1109
Thanks @ljharb for the reply. It was the `string` part that felt _inaccurate_ and `object` provokes a `forbid-prop-type` error.

I've found a way to satisfy ESLint problems and describe the props that the component expects:

[code]

[2017-03-13 09:27] BarryThePenguin commented on #885
You both may want to open another issue for `componentWillReceiveProps`

[2017-03-13 22:58] blissdev opened #1111 "react/jsx-indent not detecting incorrect indentation"
Given a JSX expression like ([gist](https://gist.github.com/blissdev/a4c601420b2bd4dcbbc954a3745903b8#file-jsx-indent-example-js)) where line 12 is obviously indented incorrectly:

[code]

and with the [given config](https://gist.github.com/blissdev/a4c601420b2bd4dcbbc954a3745903b8#file-eslintrc-json) which has 2 space jsx indentation specified, there are no errors reported with the indentation. I

[2017-03-14 00:49] ljharb commented on #1109
That sounds like a much better propType :-)

[2017-03-14 01:05] ljharb commented on #1108
Right - because "initializes a value" takes precedence over "type annotation". This seems correct to me.

If you want the type annotation up top, I think you should use two statements - `initialized: boolean` and then `initialized = true`.

[2017-03-14 13:52] e1himself commented on #870
Also it would be great to have a rule that forbids this:

[code]

as technically this is a valid style, but is far from readable.

[2017-03-14 18:37] ianschmitz opened #1113 "Rule idea: no-direct-mutation-props"
A component is never meant to modify its own props (https://facebook.github.io/react/docs/components-and-props.html#props-are-read-only).

I suggest we had a `no-mutation-props` rule to check for mutations of a components own props. It looks like we could likely copy the logic used in [no-direct-mutation-state.js](https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/no-direct-mut

[2017-03-15 05:28] ljharb commented on #870
The paren-wrapping is correct - the indentation rule should be doing the autofixing to the format you specified. Similarly, the indent rule should be able to forbid the latter example if you like.

[2017-03-15 08:54] littlemooon commented on #1095
This is not just the case when using default arguments.

This class throws three `no-unused-prop-types` errors, one for each test prop:
[code]

While this stateless function does not throw any error:
[code]

[2017-03-15 10:47] e1himself commented on #870
I don't think *jsx-indent* rule is covering that case. Is that correct?

[2017-03-15 19:58] ljharb commented on #1095
Passing the entire props object around is an antipattern anyways. Destructure it and pass things as separate arguments.

[2017-03-15 20:00] ljharb commented on #870
That might be so (I can't check atm, am mobile). If not, then a PR to include checking that case would be great!

[2017-03-16 09:19] zorzysty opened #1114 ""react/jsx-wrap-multilines": "ternaries" option"
I propose to add an option to [react/jsx-wrap-multilines rule](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-wrap-multilines.md) that would make this code valid:
[code]
There is no real gain from adding parentheses here. It doesn't improve readability, but adds extra noise:
[code]
or even worse:
[code]
Right now to make omitting parentheses viable I need to switch off

[2017-03-16 10:20] josoriouz commented on #678
I'm trying to stop using findDOMNode, but I need to get the getComputedStyle but I can't figure it out how. Does anybody have a suggestion???

[2017-03-16 11:26] jalalat opened #1115 "'Error' message: ''errors' is missing in props validation (react/prop-types)'"
I am getting a lint error at this line when i am trying to access this.props.errors

`{this.props.errors.map(err => <div key={err}>{err}</div>)}`

[code]

I tried to find how i can define errors array and tried various ways as well like:

`errors: PropTypes.arrayOf(Error)`

i got a different lint message:

Please help; i am trying to find a solution for this for past 1-2 days now.

[2017-03-16 15:25] littlemooon commented on #1095
Valid point 👍  It is sometimes damn convenient though :P

Might as well close this issue?

[2017-03-16 16:40] lucasmotta commented on #246
Sorry to revive this issue, but I was thinking that it would be useful to have this rule for other Lifecycle events too. Like the `componentWillMount`, `componendDidUnmount`, etc...

[2017-03-16 19:44] benstepp commented on #1115
You should define your propTypes for all props that you use.

[code]

---

The different lint message is trying to tell you that you have a non-required propType defined, but no defaultProp for it. In your current code if you do not pass an errors array, the component will fail to render. For example in this simple test case, you will get a cannot read property map of undefined because this.props.

[2017-03-16 21:12] ljharb commented on #1115
Also, `PropTypes.arrayOf` takes a PropType validation function, not a constructor.'

This appears answered.

[2017-03-16 21:12] #1115 closed

[2017-03-16 21:12] jalalat commented on #1115
Thanks a lot for your response. It solved my problem.

[2017-03-16 21:13] #1095 closed

[2017-03-17 01:26] joncursi opened #1116 "[Stateless Components + Object props + Flow]: Proptype is defined but prop is never used"
Consider the following contrived example:

[code]

Eslint will complain at the lines marked `// here` that these values are not used, even though they are in-fact used. Perhaps a compatibility issue with Flow?

[2017-03-17 06:02] ljharb commented on #1116
I'm not sure how Flow works here with nested shapes, but in PropTypes, it'd need to be `PropTypes.shape({ … })`, not an object literal. It's possible that this plugin doesn't work with nested object flow types?

What happens if you make `primaryAction` its own, separate type?

[2017-03-17 06:03] ljharb commented on #246
Absolutely, this should be separately configurable for every lifecycle method (defaulting to "on" for all) as well as separately configurable to allow an optional list of globals per lifecycle method.

[2017-03-17 06:04] ljharb commented on #1114
This is how I'd indent your code:
[code]

Does that example help?

[2017-03-17 08:09] zorzysty commented on #1114
Yeah, it's better, but it is still [conflicting with prettier](https://prettier.github.io/prettier/#%7B%22content%22%3A%22const%20header%20%3D%20this.props.header%20%3F%20(%5Cn%20%20%3CHeaderElement%5Cn%20%20%20%20%20%20className%3D%5C%22myclass%20myclass2%5C%22%5Cn%20%20%20%20%20%20isExpanded%3D%7Bthis.state.isExpanded%7D%5Cn%20%20%3E%5Cn%20%20%20%20%7Bthis.props.header%7D%5Cn%20%20%3C%2FHeaderEl

[2017-03-17 08:25] ljharb commented on #1114
Airbnb won't be changing any of our eslint rules to match prettier; all our rules are the way they are for a reason.

The latter example your posted is just fine, because the jsx is single-line. Airbnb's style guide (and this rule) requires parens around multiline ternaries only.

[2017-03-17 08:34] zorzysty commented on #1114
Yes, I get that Airbnb won't change the rules, but I can override them so they will work with prettier.
Unfortunately to override this particular one I need to switch off both "assignment" and "declaration", which is a shame. If there was an option to switch off requiring parens just for multiline ternaries a lot more cases would be covered.

[2017-03-17 15:28] joncursi commented on #1116
Hmm. Breaking out primaryAction into it's own type results in the same error:

[code]

[2017-03-17 15:32] joncursi commented on #1116
Interestingly enough, I found that adding `= {}` after the props function argument takes away these errors:

[code]

I'm really not sure what this is doing, though. It seems more like a hack than a solution because now, if I actually do forget to use `primaryAction.something`, or any other prop for that matter, ESLint no longer warns me because it has been tricked by the `= {}` to believe everythi

[2017-03-18 06:54] prithsharma commented on #811
@ljharb, @ivarni - I agree with your point. What I was trying to achieve by keeping the "only being used in mapStateToProps" prop in `propTypes` was to ensure that I can use React `PropTypes` validations to enforce the requirement of that prop. Since this prop is not a part of the props finally being used, one can better remove it from the `propTypes` definition, at the cost of missing the validat

[2017-03-18 13:49] mike-robertson commented on #816
Here's an even weirder bug that may be related to all this. I'm using flow and this keeps coming up:

[code]

I have no idea why this would think there are props here. It's inside a class component; it's not even related to props, I'm just destructuring an event object.

[2017-03-18 19:49] ljharb commented on #816
@mike-robertson yours is likely a bug specific to Flow; can you file a separate issue for that?

[2017-03-19 18:05] diegohaz opened #1117 "v6.10.1 breaks v6.10.0 builds (related to jsx-indent)"
Error:
[code]

Code from `103:11`:
https://github.com/diegohaz/arc/blob/84ef1227b18f3d80ac6a297345ccc007ab191015/src/components/molecules/Modal/index.js#L103

On `v6.10.0` it doesn't occur.

[2017-03-19 18:25] ljharb commented on #1117
This also is breaking react-dates https://github.com/airbnb/react-dates/issues/383

[2017-03-19 19:26] yannickcr commented on #1117
Looking at it.

[2017-03-19 23:44] ljharb commented on #1117
@yannickcr i'm afraid this still isn't fixed.

This [code](https://github.com/airbnb/react-dates/blob/master/src/components/DateRangePicker.jsx#L274-L285) is still warning on jsx-indent, newly in 6.10+.

[2017-03-20 00:00] ljharb commented on #1117
(there's a number of other examples in that repo; clone at [this sha](https://github.com/airbnb/react-dates/commit/f677d04b73685dd54d686c1167bdef29a1585d63) and run `npm install && npm run lint` to see the errors)

[2017-03-20 00:52] yannickcr commented on #1117
Crap, you're right. Seems to be another issue with multi-line tags. I'll made another patch release shortly. but there is a good chance it will be done tomorrow (it's getting late here).

[2017-03-20 06:01] SidKwok opened #1118 "Unexpected error comes out when everything is ok (related to jsx-indet)"
This is ok and no error comes out.
[code]

when I add any character after this like:
[code]
and the error comes out:
[code]

my eslint config :
[code]

Is it a bug or something wrong with my config?

[2017-03-20 10:25] ivantcov commented on #1118
Same for me, failing e.g. on the following line:
`<Time fromNumber={this.state.value}/>&nbsp;<Translate for="shortHours"/>`

Not sure from which version it start happening.

[2017-03-20 10:27] SidKwok commented on #1118
The version I used: ^6.10.2

[2017-03-20 10:46] atkinchris commented on #1117
We're still experiencing this bug with `6.10.2`, with the following JSX.

[code]

[2017-03-20 10:47] benperiton commented on #1118
Yep, seems to be counting the first group of space after a react element. (6.10.2)

[code]
Gives 1

[code]
Gives 3

[code]
Gives 0

[2017-03-20 11:37] megapctr commented on #1118
Temporary fix: use a fixed version until the bug is fixed. `6.10.0` works fine

[2017-03-20 11:47] SidKwok commented on #1118
@megapctr it is not working for me

[2017-03-20 11:50] aliaksandr-master commented on #1118
I have 6.10.2 version and it doesn't work
[code]

[2017-03-20 13:40] vlcr commented on #1117
@atkinchris I'm still experiencing problems as well.

My sample:

      <div>
        {var &&
          <span className="text">{var}</span>                                //this line works fine
        }
        {var &&
          <span className="text">{var}
          </span>                                  //this line works fine, even though it shouldn't
        }
        {var &&
          <img

[2017-03-20 13:52] freak3dot commented on #1117
Still seeing the issue with version 6.10.2.

Reverting to 6.9.0 works. Reverting for now.

[2017-03-20 16:08] ljharb commented on #1118
This is a duplicate of #1117 - thanks for the extra test cases!

[2017-03-20 16:09] ljharb commented on #1117
@yannickcr #1118 has some extra test cases.

[2017-03-20 16:09] #1118 closed

[2017-03-20 20:05] shawnmcknight commented on #1117
The docs at https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-indent.md appear to be indicating that this is the default behavior.  Tracing through version history, it looks to me like indentLogicalExpressions was added as an option at 6.10.1 and the default setting of "false" would elicit the  behavior reported in this thread.  I have changed my eslintrc.json file to con

[2017-03-20 21:31] yannickcr commented on #1117
Reverted https://github.com/yannickcr/eslint-plugin-react/issues/1058 since it introduced this issue.
I got caught by the [Fix] label. I thought it was only a bugfix, but it also introduce a new `indentLogicalExpressions` option and is not backward compatible.

I'll publish the updated version and I'll work on a proper patch to get this properly fixed.

[2017-03-20 21:54] yannickcr commented on #1117
`v6.10.3` is now published. @ljharb I tested it on react-dates and it seems fixed.

[2017-03-20 22:22] Kerumen commented on #512
@ljharb Really? This is clearly not a viable solution..

[2017-03-20 23:00] ljharb commented on #1117
Thanks, all fixed!

[2017-03-20 23:28] #1117 closed

[2017-03-20 23:41] jesstelford commented on #1117
Massive props to @yannickcr for the quick turn around time - thank you so much for the hard work you put into this module 🎉

[2017-03-21 00:10] ljharb commented on #512
@Kerumen i think it's much nicer. Named functions can be easier to read, because their names convey meaning - and arrow functions don't have explicit names. This is also incredibly important for debugging.

[2017-03-21 19:54] apexad opened #1120 "react/jsx-indent conficts with react/jsx-closing-bracket-location"
As of v6.10.1 (no issue in v6.10.0) there is a conflict in these 2 rules:

`'react/jsx-indent-props': ['error', 2],`
`'react/jsx-closing-bracket-location': ['error', 'props-aligned'],`
`
[code]
`react/jsx-indent` wants 2 spaces deleted before the last >, but then this triggers `react/jsx-closing-bracket-location`

[2017-03-21 22:17] apexad commented on #1120
Actually appears fixed in 6.10.3

[2017-03-21 22:17] #1120 closed

[2017-03-23 17:36] penx opened #1123 "react/no-array-index-key - Breaking this.props.children in to chunks and using index as a key"
Are there circumstances when it is ok to use array index as a key? If so, could these exceptions be added to the documentation here:

https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-array-index-key.md

I have run in to an issue where I am breaking down `this.props.children` in to several chunks in order to render them in a grid - but I can't see how I could use anything

[2017-03-23 17:41] ljharb commented on #1123
If there's nothing unique about the items, then you'd simply disable the rule with an override.

[2017-03-23 22:30] kamilmielnik opened #1125 "react/no-render-return-value false positive"
Given the following configuration:
[code]
and following code:
[code]
I am getting this:
[code]
I see that the value from `ReactDOM.render` is used as a return value of the `render` function, but the return value of `render` is not used, so I don't think I should receive that error.

This code does not trigger the error:
[code]

[2017-03-23 22:42] ljharb commented on #1125
The latter code is exactly what you need - the linter has no way of knowing that you're not using the return value of that function, unless you *dont return it* in the actual code.

In other words, use the block body form of the arrow whenever you don't want the return value to be part of the API of your function.

[2017-03-23 22:42] #1125 closed

[2017-03-24 17:41] karissame commented on #1047
I have a similar issue- is there any way to get the length of an array in your component's props?

[2017-03-24 18:07] ljharb commented on #1047
@karissame I built `withShape` in `airbnb-prop-types` specifically so you could do `withShape(PropTypes.array, { length: PropTypes.number })` or similar, since React.PropTypes makes that impossible.

That said, the plugin should definitely exempt anything on Array.prototype when PropTypes.array or arrayOf is used.

[2017-03-27 06:35] RiddleMan commented on #1096
I already have working prototype ;) I can finish this in upcoming days.

This is my second contribution ever. Should I make a pull request and mark it as WIP or make that when everything will be done?

[2017-03-27 06:45] ljharb commented on #1096
@RiddleMan it's up to you; generally it's better for the maintainers when a PR isn't a WIP, but generally it can save some back-and-forth reviews for you if you put it up sooner than later.

If you don't mind the review iterations, I'd wait til you have it working (with tests) :-)

[2017-03-27 07:36] NullDivision commented on #1123
@penx If you have a static set it should be ok to use the array index as values. If you have other features (eg. filtering) then it's recommended to use a **unique** key to avoid index collisions since React uses keys first to check if a node should be updated.

[2017-03-27 14:38] camloken commented on #237
If you have no logic in your component you can even make it a bit more concise:

[code]

Notice there is no return statement or curly brackets on the component.

[2017-03-27 17:48] ljharb commented on #237
(although then your component doesn't have an explicit name; it's best to use normal functions, not arrows, for SFCs)

[2017-03-27 18:36] dylang opened #1126 "void-dom-elements-no-children performance issue?"
For some reason `void-dom-elements-no-children` is far slower than my other rules:

Any idea why?

[code]

via `TIMING=1 yarn run lint` which normally only shows top 10, i changed it to show more.

[2017-03-27 20:38] dylang opened #1127 "jsx-max-props-per-line - ignore tags with maximum attributes when maximum === 1"
## Currently

[code]

### Before

[code]

### After

[code]

## Expected

Because the tag above has 1 attribute, it should not need to be modified to put that attribute on a new line.

[code]

## Workaround

Limit to `multiline`:

[code]

However this means we cannot set the maximum number of attributes for single-line tags.

[2017-03-27 20:46] ljharb commented on #1127
I think it makes sense for `"when": "multiline"` to obey `maximum` - I'm surprised it does not.

If it's *not* going to obey it, it should be an early schema error to specify both.

[2017-03-28 00:30] LeslieMurphy opened #1128 "label tag not working"
I get parse errors on embedded HTML such as
`<label htmlFor="lastName">Last Name></label>`

Tried 6.10.3 and 6.9.0

[2017-03-28 01:22] ljharb commented on #1128
Can you provide more information? Which rule(s) do you need to enable to get the parsing error? Can you create a small repro case?

[2017-03-28 02:10] LeslieMurphy commented on #1128
I am using browserify and reactify.and gulp-eslint

my .eslintrc.json has this

"extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],

Is this a reactify error not an es-lint error?  Looking again at the log, I
think maybe that is the culprit!

{ ReactifyError:
E:\React\Pluralsight\psadmin\src\components\authors\authorForm.js: Parse
Error: Line 27: Unexpected token >

[2017-03-28 02:23] ljharb commented on #1128
I'm not familiar with "reactify", but indeed it looks like it's trying to parse JSX and doesn't know how.

[2017-03-28 08:10] kumarharsh commented on #237
@ljharb - If I'm not mistaken, theoretically you can do:

[code]
to retain the component name. Although it'll be writing characters to save a few characters ;)

[2017-03-28 12:06] garmjs opened #1129 "disable propTypes rules"
In my next project i want to use Flow instead of propTypes, Is there a way i can disable PropTypes in `.eslintrc`

[2017-03-28 17:29] ljharb commented on #237
Exactly right; but I'm also talking about the function's name property, which is useful for debugging, and more reliable when explicit.

[2017-03-28 17:36] ljharb commented on #1129
You could use `no-restricted-properties` I suppose. However, Flow is not a complete replacement for propTypes - it can't do nearly as many things - so I wouldn't recommend that.

[2017-03-28 18:41] garmjs commented on #1129
@ljharb thanks :)

[2017-03-28 18:41] #1129 closed

[2017-03-28 19:14] ljharb commented on #1129
To be clear, what I'm not recommending is the "instead of" part. If you want to use Flow, great - but you should use it *in conjunction with* propTypes, whenever Flow isn't sufficient.

[2017-03-30 15:20] MartSerra commented on #447
I've tried the different versions of your configurations without success. But I follow this simple tutorial and it works, I hope it can helps you. 😄
[Getting eslint right in React Native](https://medium.com/the-react-native-log/getting-eslint-right-in-react-native-bd27524cc77b)

[2017-03-30 16:40] benstepp commented on #1126
I did some quick digging, and the main culprit is the `array.prototype.find` polyfill is astronomically slow.

Granted, it's a polyfill so it has to remain spec compliant, but it may be better to use a for loop where we understand the specific implementation (ie. here where we know attributes is an array and we only care whether or not the item is in the array). Maybe there is a fast Array.prototy

[2017-03-30 17:45] ljharb commented on #1126
140k runs per second is not slow in absolute terms, only relative to 47M. How many void elements is it looking at??

[2017-03-30 17:46] ljharb commented on #1126
Also, in what version of node are you running this? In node 4+, that polyfill should be returning the native implementation (if it's not; that's something I can fix today)

[2017-03-30 17:49] leosco commented on #678
I'm fully behind this change, but I want to point out that doing something like this:
[code]
triggers a `[eslint] no-return-assign` warning.

[2017-03-30 18:10] webdif commented on #678
@leosco Indeed. We can do this to avoid eslint errors:
[code]

No warning, but maybe less readable here. Better to keep the example simple, I think 🙂

[2017-03-30 18:16] benstepp commented on #1126
Upon further inspection, array.prototype.find is slow because there are a ton of calls to is-callable.

is-callable is first called to validate that array.prototype.find function is given a predicate.
The big one though is es-abstract/es6.Call also calls is-callable on EVERY iteration of the for loop implementation of array.prototype.find.

The biggest perf bottle neck by far is the needless calls

[2017-03-30 18:44] ljharb commented on #1126
hmm, i'm not sure how to avoid the IsCallable check on every iteration since `ES.Call` has no idea if `IsCallable` has been called before.

[2017-03-30 18:57] benstepp commented on #1126
I think inlining the implementation of ES.Call in array.prototype.find without the check and throw the license information next to it is the only real option without exposing a new API. It's just two lines and the perf gains would be significant.

[2017-03-30 19:02] SavePointSam commented on #879
I hope there is a chance this could be explored deeper.

The only false positives I get anymore are from using `{ ...this.props }`.

[2017-03-30 19:55] ljharb commented on #1126
@benstepp I've just published v2.0.4 of `array.prototype.find` which uses the native implementation when present/compliant - if you update that, do the performance issues go away in node 4+?

If so, please file an issue on the repo for `array.prototype.find` (and findIndex, ideally) about these benchmarks and we can look into inlining the `ES.Call` calls; additionally, please file an issue on `es-

[2017-03-30 20:16] ljharb commented on #678
@leosco The latter is correct; in the former, you're using the implicit return form and conflating "returning" with "assignment". The latter example uses the explicit return form and thus is *more* readable.

[2017-03-30 20:32] rsolomon opened #1133 "Have react/sort-prop-types override base ESLint sort-keys"
I'd like my project to enforce alphabetization on all objects, *except* within propTypes, which should be sorted first by `isRequired`, and second by alphabetization.

It doesn't seem like this is possible now because `sort-keys` will flag `propTypes` regardless of how `sort-prop-types` is configured.

[2017-03-30 20:53] janpaul123 commented on #826
Nice suggestion. We would want to use this at @remix with the `initialRegex` option! 👍

[2017-03-30 21:12] ljharb commented on #1133
eslint does not allow any rule to affect any other.

[2017-03-30 21:15] benstepp commented on #1126
👍

array.prototype.find is now much closer to what you would expect compared to a for loop now.

@dylang can you rm -rf your node_modules, reinstall, and rerun eslint again?

[code]

[2017-03-31 10:27] minedeljkovic commented on #1032
There is a valid need for recursive types even in prop-types, it is not always result of a mistake. We have a lot in our app, so we had to temporary remove `react/prop-types` rule.

Older dupe of this is #913

[2017-03-31 14:37] renanvalentin opened #1135 "react/no-unused-prop-types cannot find props being used inside helper functions"
[code]

In this case `props.status` is being used inside of the function `showAlert`.

[2017-03-31 17:42] ljharb commented on #1032
Closing as a dupe.

[2017-03-31 17:42] #1032 closed

[2017-03-31 17:42] ljharb commented on #913
See also #1032.

[2017-03-31 18:06] ljharb commented on #1135
The proper way to handle this is not to pass the entire props object around. It's not practical or often possible for the plugin to follow references, and the only thing that should get a props object is an element.

In other words, pull `status` out prior to passing it to the function.

[2017-03-31 18:08] #1079 closed

[2017-03-31 21:57] dnalborczyk commented on #1111
I can't reproduce this, I get an error.

I'm using eslint **3.19.0**, eslint-plugin-react **6.10.3**.

[2017-03-31 22:23] dnalborczyk opened #1136 "react/jsx-indent not working when using string literal as a child"
eslint 3.19.0, eslint-plugin-react 6.10.3

setting:
[code]

minimal test using a string literal which causes no error:
[code]

expected this to be correct:
[code]

though the error is correctly thrown when you are using an expression:
[code]

[code]

[2017-03-31 23:54] dnalborczyk opened #1137 "soft deprecation for jsx-space-before-closing"
The introduction of _jsx-tag-spacing_ makes _jsx-space-before-closing_ obsolete.

https://github.com/yannickcr/eslint-plugin-react/pull/1070
https://github.com/yannickcr/eslint-plugin-react/issues/693#issuecomment-234842809

since the plan is to deprecate _jsx-space-before-closing_, I think it would be already helpful and less confusing - as it was for me - if this would be already mentioned in th

[2017-04-01 05:04] ljharb commented on #1137
Sounds great!

You can also mark the rule itself as deprecated in its metadata.

[2017-04-01 05:06] ljharb commented on #1111
Closing pending a repro.

[2017-04-01 05:06] #1111 closed

[2017-04-02 12:21] alexander-shvets commented on #678
Node, Node, Node...
I think, we should avoid duplication, like this:
[code]

[2017-04-02 17:22] ljharb commented on #678
Now you're just duplicating the underscore, and still misusing the implicit return form of the arrow.

[2017-04-03 07:20] MethodenMann commented on #1135
ok i dont have exactly the same situation. This is my simplified component:

[code]

And i get the following linting error:
t

I figured out its because of the map. It this by design?

[2017-04-03 09:28] RoboBurned commented on #881
I have an error while installing the plugin with eslint globally..
[code]
The command shows that I have eslint of required version.
[code]

[2017-04-03 15:51] ljharb commented on #881
I believe when installing globally everything has to be installed on the same command; however, nothing should ever be installed globally. If you install eslint per-project, it should work fine.

Closing since this original issue seems resolved.

[2017-04-03 15:51] #881 closed

[2017-04-05 10:09] Andarist commented on #678
as to HOC accessing a ref of WrappedComponent:

is there any convention how layers of HOCs should be able to access this ref? im thinking about passing down wrapperRef function with each HOC just hooking into it

basically each would check for wrapperRef in props, if not there then create one and use, if already available, just create a new one wrapping previous one, the chain would be automatical

[2017-04-05 10:12] anshulsahni commented on #816
[code]

In PropTypes
[code]
still the error reads

[code]

[2017-04-05 12:04] yonatanmn commented on #678
I'm trying to do some style manipulation since `flex-box`, `columns` and other css properties are not good enough.
Basically I have `<Layout>` component, and many `<Widgets>` as children, or grand children.
I want to give those `widgets` styles from one point - `Layout`, since I need to take them all under consideration when computing each style. Since they are not direct children of `Layout`, and

[2017-04-05 17:25] ljharb commented on #816
@anshulsahni Can you share more code? Where does that find appear?

[2017-04-05 19:02] JulianMayorga commented on #351
[You can ignore properties](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-unknown-property.md#rule-options) like class and for by using the ignore property, so this issue seems solved.  Just add `"react/no-unknown-property": [2, { "ignore": ["class", "for"] }]` to your .eslintrc.json

[2017-04-05 21:24] #351 closed

[2017-04-06 08:57] gabor opened #1140 "require-default-props , usage-question"
sometimes i have code like this:
[code]

this does not get through `require-default-props`, because the `user` attribute is not required, so, in theory, requires a default-prop. but there is no suitable default value. it not being here is important.
what is the recommended approach in such situations?

technically we can make it more explicit, and add a required boolean prop saying `isUserAvailabl

[2017-04-06 12:29] mattdell opened #1141 "react/jsx-indent wants 2 spaces when I specify 4 spaces"
eslint 3.18.0, eslint-plugin-react 6.10.3

setting:

[code]

minimal test which causes an error:
[code]

result
[code]

It seems to always want 2 spaces, despite me specifying the use of 4 spaces.

[2017-04-06 13:13] anshulsahni commented on #816
@ljharb

this is the full component code, certain pieces of code are hidden

[code]

[2017-04-06 13:15] mattdell commented on #1141
I see the error now.

`'react/jsx-indent' !== 'react/jsx-indent-props'`

[2017-04-06 13:15] #1141 closed

[2017-04-06 15:44] ljharb commented on #1140
Of course there is; an empty string.

[2017-04-07 09:35] viankakrisna commented on #1113
maybe just go ahead and send a pr?

[2017-04-07 11:50] mjilugu commented on #801
Hi, I still get this same error. When we use a prop only with `nextProps` to set the state in the `componentWillRecieveProps(nextProps)` method and not elsewhere we get `react/no-used-prop-types` error for the prop in the propTypes block.

[2017-04-07 12:08] mjilugu opened #1142 "react/no-used-prop-types error thrown when a prop is only used in nextProps"
When we use a prop only with nextProps to set the state in the componentWillRecieveProps(nextProps) method and not elsewhere we get `react/no-used-prop-types` error for the prop in the propTypes block.

Same as #801

Here is an excerpt of my code:

[code]
Notice I have to use `// eslint-disable-line react/no-unused-prop-types` to avoid the warnings

[2017-04-07 16:21] gabor commented on #1140
i disagree about using empty-string for value-does-not-exist, but ok, in that simple case it could work.

perhaps a different example better illustrates the issue:
[code]

what is the default-value in this case?

[2017-04-07 17:21] ljharb commented on #1140
`null`, of course - it has the same typeof value for a reason.

[2017-04-07 17:44] ljharb commented on #1113
Seems reasonable. However, this rule would have to warn *any* time the entire props object is passed to a function (which is a bad practice anyways) because that makes it impossible (in most cases) to determine if it's being mutated.

[2017-04-07 20:45] jmarthernandez opened #1143 "Add or modify rule for no target="_blank" to include form elements"
[code]

I could be wrong but isn't a form post open to the same vulnerabilities as a <a> with target="_blank".  The current implementation doesn't flag this.

[2017-04-07 21:35] ljharb commented on #1143
Yes, that's a fair point.

[2017-04-07 21:59] jmarthernandez commented on #1143
Would it make sense to add to the current rule or add a new one?  I could help out with that

[2017-04-07 22:21] ljharb commented on #1143
I think an option added to the current rule would be great; we could default it to `false` for now and `true` in a later semver-major PR.

[2017-04-08 15:31] ljharb opened #1144 "React 15.5: Support `react-create-class` and `prop-types`"
To support React 15.5, we need the following changes asap:

 - [x] Everywhere we support `React.createClass`, we also need to support an `import` or `require` of `react-create-class`
 - [x] if we support `PropTypes.*` anywhere, we also need to support an `import` or `require` of `prop-types`
 - [x] we need to make `no-deprecated` warn on React.createClass and React.PropTypes usage and recommends t

[2017-04-09 16:15] yannickcr commented on #1144
For the third point we already have the [`no-deprecated`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-deprecated.md) rule that can be used.

[2017-04-09 16:35] EvNaverniouk commented on #1144
I can take care of the `no-unused-prop-types` rule. Will look into it early next week.

[2017-04-10 18:55] afholderman opened #1146 "Getting no-unused-vars for "render" and imported components"
I've installed eslint and eslint-plugin-react. During eslint --init I said yes that I am using React and have the following .eslintrc file:
`module.exports = {
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },

[2017-04-10 19:12] ljharb commented on #1146
Can you provide the exact linting errors you're getting?

[2017-04-10 20:01] afholderman commented on #1146
Sure, they are:
`2:10  error  'render' is defined but never used            no-unused-vars
   6:8   error  'Button' is defined but never used            no-unused-vars`

[2017-04-10 20:13] ljharb commented on #1146
My guess is if you fix the real error on line 2, the false error on line 6 will disappear.

[2017-04-10 20:20] afholderman commented on #1146
I'm not sure I follow how line 2 is an error. I import the function in 2 then call it in what is line 22 of the file, inside the Home class declaration.

[2017-04-10 20:23] ljharb commented on #1146
That isn't calling anything; that's defining a method named "render" on your class, which React calls for you. You don't need to import a render method.

[2017-04-10 21:32] afholderman commented on #1146
Removing that line did not solve the Button component import issue.

[2017-04-10 21:36] ljharb commented on #1146
K, one more confirmation - if you name Button as anything else - specifically, something that if lowercase wouldn't be an HTML tag name - do you still get the error?

If not, it should be a straightforward bug for us to fix :-)

[2017-04-10 21:49] afholderman commented on #1146
I'm getting the error on all my component imports, just highlighted that one since it included the render one as well. Here's another example:
[code]
and it throws the errors:
[code]

[2017-04-10 22:57] yannickcr commented on #1146
Looking at your `.eslintrc` file it seems you do not have enabled any rules in `eslint-plugin-react`.
To solve your errors you must enable the [`jsx-uses-vars`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md) and [`jsx-uses-react`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-react.md) rules. That way ESLint will correct

[2017-04-11 04:01] afholderman commented on #1146
That was the solve, thank you. Please close as you see fit.

[2017-04-11 07:19] #1146 closed

[2017-04-11 10:06] jacobrask opened #1147 "Rule proposal: react/no-will-mount"
There are few use cases for `componentWillMount` that cannot be handled in the constructor.

It is a common mistake to put asynchronous requests in `componentWillMount` which could potentially cause hard to find errors.

[2017-04-11 19:17] haasDev commented on #879
I am also running into this.  Having to turn off that rule around my proptypes fairly frequently.

[2017-04-11 20:00] ljharb commented on #1147
I disagree; i think everything that's not initializing state belongs in `componentWillMount`.

Async requests in the constructor have the same issues; neither us often a problem in practice.

I'm a strong -1.

[2017-04-12 09:31] jacobrask commented on #1147
Wouldn't most async requests in practice set state on completion?

From my POV the question here is if there are a reasonable number of developers considering putting asynchronous requests in `componentWillMount` a problem, and that most other use cases can be handled in the constructor.

I think the [React docs](https://facebook.github.io/react/docs/react-component.html#componentwillmount) imply

[2017-04-12 13:16] tiefling opened #1150 "Cannot get react/prop-types or react/jsx-sort-prop-types to work at all (Definition for rule 'react/prop-types' was not found react/prop-types)."
I can't seem to get many of the rules working my config looks like this...

`"react/prop-types": [2, {"skipUndeclared": false}]`

Also tried...

`"react/prop-types": 2`

But I keep getting 'Definition for rule 'react/prop-types' was not found  react/prop-types'

I have similar problems with this one...

`"react/jsx-sort-prop-types": 0,`

I can't see anything that looks wrong but, as I also can't g

[2017-04-12 13:24] tiefling commented on #1150
Sussed it - My Config was missing...

[code]

This could do with being added to the docs as a setup step.

[2017-04-12 14:45] lwassermann commented on #1020
Although it is rather painful, there is a way to work around this, which sacrifices both readability and understandability:
[code]
…

[2017-04-12 17:16] ljharb commented on #1147
Side effects in JS *never* belong in constructors. If React advises that, they are wrong.

[2017-04-12 17:55] jacobrask commented on #1147
My quotation was a bit confusing, those were excerpts from different paragraphs.

[2017-04-12 21:22] ljharb commented on #1147
Indeed, fiber may change the timing of some of these things. But fiber isn't out yet, and if the issue is doing async things prior to the first render, then constructor vs componentWillMount has the same problem.

In other words, I'm still not seeing a reason to discourage componentWillMount - you've only talked about async setStates initiated prior to mounting.

[2017-04-12 21:24] ljharb commented on #1150
Sure, that'd help. However, that's a requirement to use any eslint plugin; it's in eslint's own docs.

[2017-04-12 21:50] tiefling commented on #1150
That's where I found it eventually after half a day of pulling my hair out followed by a resounding face slapping exercise.

[2017-04-13 01:01] lencioni commented on #1150
![giphy 1](https://cloud.githubusercontent.com/assets/195534/24985575/f92fd20c-1fa9-11e7-98bf-fc06fc88ac74.gif)

We'd be happy to review a PR that improves documentation in a way that would have saved you some time!

[2017-04-13 09:03] tiefling commented on #1150
That would be great - when I've got a spare 5 minutes I'll throw something together!

[2017-04-13 09:03] tiefling commented on #1150
Can this be assigned to me?

[2017-04-14 00:02] #1034 closed

[2017-04-15 01:11] alenia commented on #847
Is this still unsupported?

[2017-04-17 13:41] mqklin commented on #816
I have a warning with flow too. My code:

[code]

[2017-04-17 19:59] billyvg commented on #1116
Is this perhaps related to #587?

[2017-04-17 20:31] EvNaverniouk commented on #1144
After review, looks like the `no-unused-prop-types` and `prop-types` rules are not affected by the React 15.5 changes as they don't make any assumptions about where the `PropTypes` object comes from. No changes needed there.

[2017-04-17 23:32] kentor commented on #1144
In the README there's this section for the eslint config:
[code]

Changing `"createClass": "createClass"` to `"createClass": "createReactClass"` worked for the `sort-comp` rule for component detection. Haven't tested other rules...

[2017-04-17 23:56] ljharb commented on #1144
@EvNaverniouk I think it's a flaw in the `prop-types` rule in particular that any validator named "shape", for example, assumes the semantics of `PropTypes.shape` - but you're right that that means it's not a blocker for React 15.5.

@kentor if that's the case, then perhaps we should default `createClass` to `createReactClass` when the `version` is 15.5+?

[2017-04-18 11:32] sospedra commented on #1107
Can confirm on v6.10.3
It's because is inside the `map` function :/

[2017-04-18 15:53] NikolayFrantsev opened #1153 "Check for undefined values of defaultProps"
Using `require-default-props` rule following code is considered as valid:

[code]

But actually this code works like:

[code]

So it would be great if `require-default-props` rule will also check that case and throw errors for `defaultProps` keys with undefined values.

[2017-04-18 16:47] ljharb commented on #1153
Why is that a problem?

The point of the rule is that defaultProps are explicit' it doesn't matter at all what their value is.

[2017-04-18 17:50] Shutnik commented on #1153
[code]

[2017-04-18 17:58] Shutnik commented on #1153
Specifying `undefined` as default prop value is not required since it always `undefined` by JS architecture:

[code]

`require-default-props` rule asks you to set something for non required props, so to suppress eslint varning you may use `undefined` when it's not actually required by React.

[2017-04-18 18:31] ljharb commented on #1153
It's not required by JavaScript. It's required by this rule, since an explicit undefined is much much better than an implicit one.

[2017-04-19 01:15] xareelee opened #1154 "Make flowtype `props` before `defaultProps`"
I want the flowtype `props` implemented before all other methods, for example,

[code]

but I got error when linting

[code]

How can I fix it?

[2017-04-19 06:25] OscarBarrett commented on #1034
Could a new release be published that includes this please?

[2017-04-19 23:47] alex-deas commented on #1012
I also get the same issue which looks to be related:

[code]

eslint will raise an error for the values destructured by mapping over `options` and for `props.someMoreText`.

Destructuring `props` resolves the issue. Although it's not idea as I like to make the source of values transparent.

[2017-04-20 05:46] ljharb commented on #1012
@umidbekkarimov can you provide command line output? How your IDE highlights things is an issue with your IDE; only the command line is important here.

@alex-deas I believe there might already be an open issue specifically around nested flow types, and another around prop usage inside callbacks.

[2017-04-20 08:03] umidbekkarimov commented on #1012
@ljharb oh, guess it fixed already, can not reproduce it

[2017-04-20 08:03] #1012 closed

[2017-04-20 10:33] Machiaweliczny opened #1157 "react/no-unused-prop-types skipShapeProps with flow.js"
There's modifier for this rule called `"skipShapeProps": true` but it doesn't work when you use flow for prop types declarations, ex:

[code]
Works

But If I'm more specific and provide the shape of `foo`, ex:
[code]
It fails with error that foo.a is not beeing used.

I would like it to detect that I passed `foo` to some children and mark `foo.a` as used.
Otherwise, I cannot import specific type d

[2017-04-20 13:58] sigorilla opened #1158 "Broken backward compatibility"
Hi!

For `eslint-plugin-react@6.10.3` you should not use  `jsx-ast-utils@^1.3.4` becase this packages does not support node <4. It contradicts your support. Working version for old node is [1.3.1](https://github.com/evcohen/jsx-ast-utils/commit/efff839e8be73e2028837284de51f9f8b37ce7cf).

Now I get error of eslint:

And I get error if run simple script like:

[code]

Error in `Object.assign`. With

[2017-04-20 23:40] ljharb commented on #1158
@sigorilla this is a bug in jsx-ast-utils; see https://github.com/evcohen/jsx-ast-utils/issues/31

[2017-04-21 11:20] gajus opened #1159 "react/require-default-props is giving a false-positive for no clear reason"
Plugin v6.10.3.

I am getting an error:

[code]

Though `children` is clearly defined:

[code]

[2017-04-21 11:21] gajus commented on #1159
Reading the error more closely, it is looking for "+" property in `defaultProps`, not `children`.

This appears related to https://github.com/yannickcr/eslint-plugin-react/issues/961.

[2017-04-22 05:09] ljharb commented on #1015
@yannickcr ping on this one

[2017-04-23 14:40] acontreras89 opened #1160 "Add jsx-no-bind to recommended config"
The `recommended` configuration is supposed to enforce React good practices. Shouldn't it include `jsx-no-bind`?

This has been recommended [over](https://facebook.github.io/react/docs/handling-events.html) [and](http://benchling.engineering/performance-engineering-with-react/#functionbindinlineanonymousfunctions) [over](https://blog.vixlet.com/react-at-light-speed-78cd172a6411#483f).

[2017-04-23 15:05] yannickcr commented on #1144
React 15.5.0 support seems to be complete.

* Component factory now default to `createReactClass` (you still got the possibility to change it to `createClass` using the shared settings).
* PropTypes detection is not affected by the changes in React 15.5.0.
* `React.PropTypes` and `React.createClass` were added to `no-deprecated`.

I will publish a RC for the 7.0.0 (since there is some breaking cha

[2017-04-23 16:55] ljharb commented on #1160
It should perhaps be recommended when allowing arrow functions; but it's too heavy imo to make it recommended when it blocks all new function creation, since `.bind` is the primary source of performance issues.

[2017-04-23 16:56] ljharb commented on #1144
Thanks - we have more v7 PRs that need to be merged before a real v7 can go out, but as long as breaking changes can go in between RCs this is fine :-)

I'll close this for now.

[2017-04-23 16:56] #1144 closed

[2017-04-23 17:00] ljharb commented on #750
There seem to be some issues with this rule, so I'm going to hold off adding it to the recommended configuration just yet.

[2017-04-23 17:03] ljharb commented on #1049
There seem to be some issues with this rule, so I'm going to hold off adding it to the recommended configuration just yet.

[2017-04-23 17:09] #748 closed

[2017-04-23 17:09] #749 closed

[2017-04-23 17:09] #750 closed

[2017-04-23 17:09] #751 closed

[2017-04-23 17:09] #752 closed

[2017-04-23 17:09] #841 closed

[2017-04-23 17:09] #842 closed

[2017-04-23 17:20] #967 closed

[2017-04-23 18:44] ljharb commented on #1072
I've updated the PR to be `allowGlobals` and default to `false`, so this is covered.

[2017-04-23 18:44] #1072 closed

[2017-04-23 22:10] #790 closed

[2017-04-24 09:09] acontreras89 commented on #1160
@ljharb, to be honest I haven't used the rule and I have no idea how strict it is. Can you please provide some examples?

Besides performance implications, declaring functions in props makes `PureComponent`s to render unnecessarily. This is one of the reasons why adhering to this rule a _good practice_.

[2017-04-24 11:02] sheepsteak opened #1161 "require-default-props error message cannot handle quoted props"
The following is with `eslint-plugin-react@6.10.3`.

If a propType is quoted for some reason like this:

[code]
Then the `require-default-props` rule gives the following warning:

[code]

Howwever, giving the propType a default value like this does satisfy the rule:
[code]

It seems like this is an issue with the formatting of the error message.

[2017-04-24 14:32] Wilfred opened #1162 "no-unused-prop-types does not trigger if class does not use any properties"
[code]

This is almost identical to [the first example in the docs](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-unused-prop-types.md).

[code]

By contrast, this does trigger:

[code]

[code]

[2017-04-24 14:37] Wilfred opened #1163 "no-unused-prop-types is confused by nested PropTypes"
[code]

Produces:

[code]

I agree this is a dumb bit of code, but it would be nice to robust. I had some broken copy-pasted code of the form:

[code]

[2017-04-24 15:21] ljharb commented on #1160
From an ideological standpoint, yes. But unnecessary renders aren't that slow in practice.

[2017-04-24 15:40] ljharb commented on #1163
React.createClass is officially deprecated as of React v15.5; we should still fix the former case tho.

[2017-04-24 15:40] ljharb commented on #1162
Both React.createClass and React.PropTypes are officially deprecated as of v15.5; but we should still fix this case.

[2017-04-24 15:41] ljharb commented on #1161
The error is exactly correct - you defined a propType without defining a defaultProp for it.

I agree that the property name showing up as "undefined" in the error message is a bug.

[2017-04-25 15:40] Hypnosphi commented on #1101
Why exactly? You still create a bound function in constructor, that's roughly what arrow function property compiles to

[2017-04-25 16:02] ljharb commented on #1101
Yes, in the constructor once, instead of thousands of times once per render.

[2017-04-25 16:22] timhwang21 commented on #1101
I thought if the arrow function is a class property, it is also only computed once?

[code]

Din't think @Hypnosphi is talking about arrow functions within `render()`.

[2017-04-25 17:06] ljharb commented on #1101
Yes, that's true. But at that point the meat of the function isn't in an optimized prototype method, its newly created on every render. Constructor-bound prototype methods are the best approach.

[2017-04-25 17:53] timhwang21 commented on #1101
I didn't know that, thanks! Fixes an incorrect belief of mine.

[2017-04-25 17:54] Hypnosphi commented on #1101
´´´
class Foo {
  myArrowFunc = () => { ... }
}
´´´

Excuse me, but I don't see any rendering here. Did you mean "on every instance creation" instead?

[2017-04-25 18:56] ljharb commented on #1101
@Hypnosphi yes, you're right that your example isn't about the render path. However, https://github.com/yannickcr/eslint-plugin-react/issues/1101#issuecomment-297098189 still applies.

[2017-04-25 20:15] borwahs commented on #885
@iegik  & @ahauser31 -

I ran into the same issue and found that if you destructure `nextProps` instead of using dot notation, the linting error is not thrown.

I also confirmed in this thread: https://github.com/yannickcr/eslint-plugin-react/issues/884#issuecomment-253903073

[2017-04-25 20:17] borwahs commented on #1142
@mjilugu & @ljharb -

Just as an FYI, I found that if you destructure `nextProps`, the linter does not throw an error in this scenario. If you use dot notation, it fails.

I also confirmed others have seen similar results in this thread: #884 (comment)

[2017-04-26 07:54] robguy21 commented on #816
Just adding my snippet here...

[code]

[2017-04-26 09:16] anshulsahni commented on #816
@ljharb any update on this ?

[2017-04-26 16:56] ljharb commented on #816
Nope, it's marked "help wanted"

[2017-04-27 18:41] ndresx opened #1164 "no-direct-mutation-state still allows direct assignments"
I came across the `no-direct-mutation-state` rule some days ago and have to say it's a bit weird of how it works. I would like to refer to this issue (https://github.com/yannickcr/eslint-plugin-react/issues/832) where, especially in the constructor, there shouldn't be any problem at all to mutate/change `this.state`.

Nothing unexpected should happen during that time and solving this issue by usin

[2017-04-30 08:56] gajus commented on #1159
@yannickcr can this be assigned a bug label?

[2017-05-01 19:30] ljharb opened #1165 "`display-name` `ignoreTranspilerName` is too strict"
The purpose of `ignoreTranspilerName` is to ignore inferred names:
[code]
It should not, however, ignore explicit names:
[code]

I think that the `ignoreTranspilerName` option should be deprecated, and replaced with new options that cover the current use cases:
 1. always require an explicit `displayName` (`ignoreTranspilerName: true`)
 1. only require an explicit `displayName` on `React.createCla

[2017-05-02 12:48] dentuzhik commented on #907
I have the same issue, our code still heavily affected by this, and we can't update from 6.3.0 for the reason that this gives a bunch of errors.

Can we at least reopen that?
I'm willing to contribute with additional info/tests failing, if necessary.

[2017-05-02 13:17] dentuzhik commented on #907
Actually NVM, the problem was related to a different issue, seems like `jsx-indent` is actually working fine. Sorry for direct ping.

[2017-05-02 14:45] acontreras89 commented on #1160
Feel free to close this if it does not make sense to you. Just brought it up because this is generally considered a good practice.

[2017-05-02 21:09] ljharb commented on #1165
@yannickcr @lencioni @EvNaverniouk thoughts?

[2017-05-04 00:03] jpap opened #1168 "Work with pug babel plugin?"
How might we make this plugin work with [babel-plugin-transform-react-pug](https://github.com/pugjs/babel-plugin-transform-react-pug)?

For example, ESLint reports three errors on the code below:

1. `React` is defined but never used (because it doesn't detect the JSX)
1. `onClick` is assigned a value but never used
1. `pug` is not defined

[code]

[2017-05-04 03:27] juangallo opened #1169 "Action is missing in props validation"
Hi!
How do I validate an action on the props validation?
Also, I'm missing the action.method on the validation, how do I validate this?
Thanks!

The error is the following:
  !  13:16  'salesmenActions' is missing in props validation                   react/prop-types
  !  13:32  'salesmenActions.getSalesmenItems' is missing in props validation  react/prop-types

[2017-05-04 03:58] ljharb commented on #1169
Can you share your component code?

[2017-05-04 11:13] juangallo commented on #1169
[code]

[2017-05-04 16:29] ljharb commented on #1169
You haven't defined `salesmenActions` in your propTypes (which is what the error message says).

Every prop you use needs to be explicitly defined in propTypes.

[2017-05-04 16:50] tleunen commented on #1137
I believe this is a must have. Because if a project has both configuration, with different settings, eslint will keep complaining that there's an error.

[2017-05-04 17:14] juangallo commented on #1169
Yes, the question is, how do I define an action on the propTypes?
And the same question for the method of the action.

Thanks for your help!

[2017-05-04 17:16] ljharb commented on #1169
You defined "salesmen" already - define salesmenActions in a similar way.

This seems like more of a question about how React PropTypes works tho, and not about this eslint plugin. I'm going to close, but feel free to continue the discussion here.

[2017-05-04 17:16] #1169 closed

[2017-05-04 22:52] yannickcr commented on #1021
Fixed in `6.10.0`

[2017-05-04 22:52] #1021 closed

[2017-05-04 23:00] yannickcr commented on #1049
What issues are remaining (beside documentation) ? I think this is the last thing that is holding back the 7.0.0 right now.

[2017-05-04 23:11] #1123 closed

[2017-05-04 23:12] ljharb commented on #1049
I don't think this needs to hold back v7 either way; it can just be bumped to v8 if v7 is otherwise ready.

That said, I think the problem is more that conceptual issue that there are legitimate use cases for using an index as the key, and the rule can't statically determine them - so it might be too strong a rule to enable by default in a config.

[2017-05-04 23:31] yannickcr commented on #1049
Great! Then if there is no issues in RC1, I will release the v7 tomorrow.

[2017-05-05 12:58] fatfisz commented on #857
I'd like to work on this during the weekend :)

Should this be an expansion of `react/jsx-curly-spacing` or a completely new rule?

[2017-05-05 14:34] jdeniau opened #1170 "react/no-array-index-key wrongly triggered when using immutablejs map"
[code]

This code will throw `Do not use Array index in keys (react/no-array-index-key)`, but my key is not an array , it's will be `a` in this example.

[2017-05-05 15:23] pke opened #1171 "Missing Image import not throwing an error"
When using jsx `<Image src="./test.jpg"/>` without importing `import Image from "./Image"` eslint does not complain because it seems to thread `image` as `window.Image`.
But since `Image` is clearly a component the missing import should be an error.

[2017-05-05 16:09] ljharb commented on #1171
This is fixed in v7 - the new `allowGlobals` option will default to false. Setting it to `true` will replicate the current behavior.

This also happens with Text, for example.

[2017-05-05 16:09] #1171 closed

[2017-05-05 16:10] ljharb commented on #857
@fatfisz https://github.com/yannickcr/eslint-plugin-react/issues/857#issuecomment-255827739

[2017-05-05 16:11] ljharb commented on #1170
There's no way for the rule to know if `.map` is being called on an array or not; you'd have to disable the rule overall, or override it for this one case.

[2017-05-05 16:12] ljharb commented on #1049
(#1170 is an example of why I think this rule probably can't be in the recommended set)

[2017-05-05 16:12] #1170 closed

[2017-05-05 17:41] fatfisz commented on #857
Thanks for the pointer, I missed that.

[2017-05-06 01:38] junmaqiang opened #1172 "help me"
![wx20170506-093649](https://cloud.githubusercontent.com/assets/1819457/25768880/8dab6c3c-323f-11e7-8c3d-abb2c1638f6d.png)

[2017-05-06 05:02] ljharb commented on #1172
Hi! Please share text, not screenshots of text, so we can help you best.

Your screenshot has 4 errors; 2 of them will be resolved if you add `dispatch: PropTypes.func` to your propTypes.

The array error is because the rule wants you to use `arrayOf`, and be explicit about the contents of the array, as well.

[2017-05-06 12:36] victor-homyakov opened #1174 "Check that ES6 static propTypes/defaultProps are not functions?"
It is possible to erroneously define `propTypes` and `defaultProps` in ES6 class as function. In that case React will silently ignore them. See first component in example at https://jsbin.com/jidupehebu/edit?js,console

Is it possible to add a rule to check that `propTypes` and `defaultProps` are properly defined (either static property initializers from ES7 proposal or static property getters, bu

[2017-05-06 14:36] yannickcr commented on #1174
If you enable the [`require-default-props`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/require-default-props.md) rule it will warn you if your `defaultProps` are not defined correctly.

The [`prop-types`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md) rule should do the same for `propTypes`, but after testing it seems there is a

[2017-05-06 14:46] #1174 closed

[2017-05-06 15:14] victor-homyakov commented on #1174
What if I do not want to enforce `defaultProps` or `propTypes`?

[2017-05-06 15:16] christiancho commented on #1172
This is not Stack Overflow. If you're having issues with the core code of ESLint, this is the place to do. This is not the place for you to ask for help with your specific application.

[2017-05-06 17:18] ljharb commented on #1174
Then you would disable the rules - but since it's a massive best practice across the entire ecosystem to have them, I don't recommend it.

[2017-05-06 17:18] #1172 closed

[2017-05-06 17:19] ljharb commented on #1172
I would prefer people default to filing issues first; defaulting to stack overflow is the best way to make sure the core devs can't instantly tell you the solution to your common problem.

[2017-05-06 18:14] fatfisz commented on #857
I've got a few questions about the config:

1. Should a situation be allowed where there are different spacing rules for attributes and children? E.g. never add spaces in attributes and always add spaces in children.
1. Should a situation be allowed where spacing in the attributes is ignored and only checked in children? This is similar to the current situation, but with the roles reversed.

Seein

[2017-05-06 18:17] ljharb commented on #857
Yes, children and attributes should be under their own options. Both should be separately configurable to be ignored, or spaces required, or spaces forbidden.

[2017-05-06 18:29] fatfisz commented on #857
Ok, so how about this:

1. By default config is for both attributes and children.
2. If the user wants to configure attributes or children separately, they can pass an additional option object under a "children" or an "attributes" properties.

Examples:

1. This config never allows spaces either for attributes or children:
[code]

2. This config never allows spaces for attributes, but completely i

[2017-05-06 18:32] ljharb commented on #857
By default, it should do precisely what it does now, to avoid a breaking change.

For number 3, I'd say "children" etc should either just be `false`, `true`, or an object with overrides for things like `allowMultiline`.

[2017-05-06 18:37] fatfisz commented on #857
So how would config look for ignored attributes and "never" in children? I think that's the final piece of info I need.

[2017-05-06 18:40] ljharb commented on #857
[code]

[code]
?

[2017-05-06 18:46] fatfisz commented on #857
Makes sense, I thought of `['never', { children: true, attributes: false }]`, so it's essentially what you've written in the first example. So "attributes" is `true` by default and "children" is `false` by default. They both have to be `"always"` or `"never"` at the same time.

Thanks for the patience! Will hopefully finish implementing this soon.

[2017-05-06 18:53] ljharb commented on #857
Hmm, I don't think they both should have to be always or never at the same time.

Let's add a new schema instead that gets rid of the string option entirely, only allows an object with allowMultiline and "foo" (always or never), and also children and attributes overrides for both?

[2017-05-06 19:13] fatfisz commented on #857
Good idea :)

I will go with `requireSpaces` as a placeholder for now, but it doesn't read well with "never" for me.

In this case `children: true` means
[code]

The default for the whole thing becomes `{ attributes: true, children: false }`.

[2017-05-06 20:19] ljharb commented on #857
Maybe let's just call it "spaces"?

That sounds good. Although, to clarify, `{ allowMultiline: true, spaces: 'never', attributes; true, children: false }` would be the default - "children" and "attributes" inherit.

[2017-05-06 20:26] fatfisz commented on #857
Ok, let's go with that. And yes, the full defaults are this.

[2017-05-06 20:35] fatfisz commented on #857
Btw. I think there was a small bug: when only "spacing" was set in the extended options, the following line was setting "allowMultiline" to `undefined`:
[code]

Then in all the following conditions `!multiline` was being checked, which yielded a different result than the default `true` value would.

Now I'll be checking if the property exists on the config object (using the `has` package, I found

[2017-05-06 20:37] fatfisz commented on #857
There were no tests for this behavior - I'll add some.

[2017-05-06 21:06] fatfisz commented on #857
I think we should do something about the "spacing" property name, it's quite similar to the new "spaces" property. How about merging the "spacing" object into the config object?

[2017-05-07 02:14] ljharb commented on #857
Ah, that's a good point. I think leaving `spacing` as a separately configurable item (in the single-object-config schema, this would be a top-level key), and I think we should come up with a better name for "foo" than "spaces" - how about `when`?

[2017-05-07 04:18] phyllisstein opened #1175 "jsx-sort-props regression breaks callbacksLast option."
I noticed after upgrading to v7.0.0 of this package that the `jsx-sort-props` rule is no longer honoring my `callbacksLast` flag. Given this hunk of my ESLint configuration...

[code]

...a line like this...

[code]

...will yield the following warnings:

[code]

My expectation would be that with `callbacksLast` enabled, the `showLogo` prop should appear before the `on...` props, which latter shou

[2017-05-07 08:55] fatfisz commented on #857
Ok, will change it to "when", sounds good.

[2017-05-07 11:16] fatfisz commented on #857
Found another bug:
[code]
This would get 2 errors using the default settings: `There should be no space after '{'` and `There should be no space before '}'`.

This is because conditions for the object literal spacing were written so that one was never reached:
[code]
If the first condition fails, `isMultiline` will return `false` - there is no newline.

Will fix this and add appropriate tests.

[2017-05-07 12:28] NiGhTTraX opened #1176 "jsx-indent on lines with JSX expressions"
[code]

reports

[code]

It also complains about multiple variations:

JSX | Error
------|-------
`{name} foobar` | Expected indentation of 2 space characters but found 1 (react/jsx-indent)
`{id}: {name}` | Expected indentation of 2 space characters but found 0 (react/jsx-indent)
`{id} - {name}` | Expected indentation of 2 space characters but found 1 (react/jsx-indent)
`{id}. {name}` | Expected i

[2017-05-07 16:56] lgraziani2712 opened #1178 "[prop-types] It crash eslint when using spread operator in a flow type"
Hello! This code crashs eslint:

[code]
[code]

Edit: disabling this rules does not happen.

Thank you!

[2017-05-07 17:15] ljharb commented on #857
It would be helpful if the bug fix is in a separate PR; or at least a separate commit.

[2017-05-07 17:16] ZeusTheTrueGod commented on #1178
I can also say that babel itself could not run that code until the 6.24.1 (or a bit earlier) version

[2017-05-07 17:31] fatfisz commented on #857
Each of the bugfixes is in a separate commit indeed. Separate PRs would mean some work on the tests (they are the most time-consuming), but I could do them if this would help.

[2017-05-07 19:12] ljharb commented on #1176
What about if you have explicit whitespace instead?:
[code]

[2017-05-07 21:13] #1178 closed

[2017-05-08 04:34] nickbouton commented on #1088
@benstepp @ljharb I seem to be having this problem again with v7.0.0. Any component method that has a name starting with `render...` and returns something non-null appears to falsely trigger this rule, e.g.:

![image](https://cloud.githubusercontent.com/assets/169988/25790395/014eb01c-336d-11e7-91cf-8ca3dd3a8a68.png)

[2017-05-08 06:06] ljharb commented on #1088
@nickbouton would you mind filing a new issue about it?

[2017-05-08 06:19] nickbouton opened #1181 "false positives with react/no-multi-comp in v7.0.0"
Following up on #1088, I seem to be running into false positives problem again with `react/no-multi-comp` in v7.0.0.

Any component method (in ES5, at least) that has a name starting with `render...` and returns something non-empty appears to falsely trigger this rule.

e.g.:
![image](https://cloud.githubusercontent.com/assets/169988/25790406/1a58f9aa-336d-11e7-9a83-9cc022196cbb.png)

If I roll ba

[2017-05-08 06:19] nickbouton commented on #1088
@ljharb Sure, added #1181 & removed my comment here.

[2017-05-08 06:43] ZeusTheTrueGod commented on #1178
Wow, so fast! Fantastic!

[2017-05-08 10:28] yannickcr commented on #1181
Can you provide a complete code sample ?

I tested with:
[code]
But I was not able to reproduce the bug.

[2017-05-08 11:18] ZeusTheTrueGod commented on #1178
Sadly I still get that issue:
[code]

[2017-05-08 20:26] yannickcr commented on #1178
Different rule, same issue. I will fix this one too.

[2017-05-09 02:29] almirfilho opened #1182 "Deprecation warnings for the wrong version of React in the new 7.0.0"
I'm getting the following deprecation warning, which is just fine:

[code]

But, since I'm still using React __v15.4.2__ (and not 15.5.0+ as the message is pointing out), it doesn't seem to be the correct behavior. Am I right?
Thanks!

[2017-05-09 02:39] ljharb commented on #1182
Are you sure? Only React 15.5 prints that out. What does `npm ls` say?

[2017-05-09 02:45] almirfilho commented on #1182
Yes, I'm sure.

[code]

It just began to show this warning after the upgrade of eslint-plugin-react v7.0.0.
I'm going migrate to the new proptypes anyway, it's just that I thought this could be a bug in the plugin.

[2017-05-09 02:46] ljharb commented on #1182
try `npm ls | grep react`?

[2017-05-09 02:49] almirfilho commented on #1182
[code]

[2017-05-09 02:54] ljharb commented on #1182
ahhh right, sorry. yes, that message is coming from this plugin.

I originally expected the deprecation warning would only print out on React 15.5 (per the version you specify in your config), but it seems it applies with all v15 versions.

@yannickcr, what do you think about restricting this check to 15.5+ only?

[2017-05-09 06:28] nickbouton commented on #1181
I'll post an example tomorrow, this is using ES5 / `React.createClass` syntax mind you.

[2017-05-09 09:21] yannickcr commented on #1182
eslint-plugin-react can not detect which React version you are using, so it warns for every deprecated methods by default.

You can specify your React version in the [shared settings](https://github.com/yannickcr/eslint-plugin-react#configuration). This should solve your issue.

[2017-05-09 15:00] georeith opened #1183 "react/no-unused-proptype false positive"
The following is considered an error for the props `a` and `b`:

[code]

Removing the line `const anotherCallback = () => {};` fixes the false positive.
The following does not trigger an error:

[code]

[2017-05-09 17:47] ljharb commented on #1182
@yannickcr right, but if I specify in settings that your version is "15.0" or "15.4" - as opposed to "15.5" - then i'd expect not to get this warning.

[2017-05-09 22:08] yannickcr commented on #1182
@ljharb Yes, and according to [these tests](https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/no-deprecated.js#L42-L45) it should work correctly. Were you able to reproduce the issue with the React version specified ?

[2017-05-09 22:33] ljharb commented on #1182
Ah, thanks for clarifying.

@almirfilho have you specified v15.4 in your settings?

[2017-05-09 22:34] #1101 closed

[2017-05-09 22:38] paulruescher commented on #1181
I'm getting the same while updating React from `15.4.1` to `15.5.4`. Big changes in the codebase are migrating from `React.createClass` and `React.PropTypes` to their respective standalone packages `create-react-class` and `prop-types`.

I'll circle back with more info as I dig deeper.

[2017-05-09 23:33] nickbouton commented on #1181
@paulruescher @yannickcr This was happening to me when upgrading to React `15.5.4` as well, FWIW.

[2017-05-09 23:38] almirfilho commented on #1182
@ljharb No, I haven't. I've just migrated to the new `prop-types`.
But thanks anyway!

[2017-05-09 23:38] #1182 closed

[2017-05-10 01:00] piuccio commented on #891
Came here because as of `eslint-plugin-react: 7.0.0` the rule `no-children-prop` is enabled by default.

I kinda agree with the general principle, however [react router 4](https://reacttraining.com/react-router/web/api/Route/children-func) uses (or abuses?) the `children` prop.

They provide the example

[code]

which is nicer than

[code]

note that you can't use the following because the props p

[2017-05-10 01:45] vdh commented on #891
@piuccio I'm (obviously) all for `children` props, but it looks like you're going against [`jsx-no-bind`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md) by re-declaring the same function on every render?

[2017-05-10 01:53] piuccio commented on #891
I guess `jsx-no-bind` is not enabled by default because linting doesn't complain about that, by the way I'm using

[code]

Again, the same principle applies, if most examples (from trusted sources) go against the recommended rules, maybe it's the rules that need updating?

[2017-05-10 02:12] vdh commented on #891
@piuccio I would recommend moving from the `airbnb-base` preset to the main `airbnb` one. You're missing out on all the rules enabled by the main preset.

The `jsx-no-bind` rule is there to help you avoid performance issues caused by re-creating the same function over and over when you don't need to be. There's no logical _reason_ to go against `js-no-bind`. Example code should not be taken as gos

[2017-05-10 02:20] vdh commented on #891
@piuccio In fact, after a second look, that documentation is both needlessly violating [`no-use-before-define`](http://eslint.org/docs/rules/no-use-before-define) for no good reason, and mixing JSX & JS next to each other without really clarifying between the two. I'm big fan of `react-router`, but that example code is _atrocious_.

[2017-05-10 04:39] ljharb commented on #891
Passing non-elements as children is a really weird pattern.

[2017-05-10 06:34] vdh commented on #891
@ljharb Agreed. I feel like someone with a tea light who set off the smoke alarm, seeing someone set up an indoor campfire next to me. It makes me start to reconsider if my tea light (strings as children props) is even worth the metaphorical fire hazard now…

[2017-05-10 07:08] ljharb commented on #891
Either way, the following should work fine:
[code]

[2017-05-10 13:24] victor-homyakov commented on #1174
:(

In case of existing medium-sized project with missing/wrong `propTypes` and missing `defaultProps` I do not want to fix all of them and make massive code changes.

It looks too restrictive to enforce these rules and add `propTypes` everywhere just in order to check if existing ones are written properly.

[2017-05-10 15:50] ljharb commented on #1174
Then enable the rules in the files that have them.

No matter how large the project, even if adding propTypes everywhere is a massive change, then that's what's needed.

[2017-05-10 21:16] NullDivision opened #1184 "require-default-props natively"
Given the following example:

[code]

Understandably the above code does not use the defaultProps assignment but I'm wondering if this should be added as an acceptable case considering that under ES6 destructuring rules this should be a perfectly valid case of property assignment.

[2017-05-10 21:21] ljharb commented on #1184
It should not; `defaultProps` are not the same as ES6 destructuring (although both only apply to `undefined`). In addition, defaultProps provides information to React, which handles the defaulting; by using ES6 defaulting, you're depriving React of the ability to optimize based on it.

[2017-05-10 21:34] NullDivision commented on #1184
I understand what you're saying but from the React source I remember only a couple of things happening to defaultProps:

- check for getDefaultProps (not the case for arrow function and I doubt anyone would have a reason to coerce it)
- check for defaultProps property assigned to constructor
- check for any illegal/reserved properties (eg. `key`) in the defaultProps object

Advantages of destructu

[2017-05-10 21:51] ljharb commented on #1184
#666 may be relevant here.

[2017-05-10 22:01] NullDivision commented on #1184
The issue is indeed related in a manner as it is the exact opposite of what I want. Also the rule proposal is aptly named `prefer-default-props`, not require. The scope of `require-default-props` should not be to enforce the use of the defaultProps property (note: in its current state the rule clashes with several other rule libraries as is my case with `immutable/no-mutation`)

The scope of the r

[2017-05-10 22:46] ljharb commented on #1184
My interpretation of the original intent of the rule is to require a *defaultProps* entry for each non-required propType, not to prevent undefined property values (especially since `undefined` is a valid defaultProps value).

[2017-05-10 22:50] NullDivision commented on #1184
I see your point. Still wondering if there's a way to circumvent the use of default props, especially if developers use Flow instead of propTypes.

[2017-05-10 22:58] ljharb commented on #1184
Flow is not a complete replacement for PropTypes, as there's many things custom propType validators can do that Flow can't. I don't see the issue in using both Flow and `defaultProps`.

[2017-05-10 23:00] Yangobears opened #1185 "react/prop-types false-positive when using with flow & and object deconstruct."
Using ```&``` to construct Props
[code]
and deconstruct the object
[code]
would give
[code]

The issue would not happen if
explicitly declare the props
[code]
or choosing not to deconstruct the object
[code]

[2017-05-10 23:52] joetidee opened #1186 "Definition for rule 'react/no-will-update-set-state' was not found"
I am getting the following error thrown in the terminal:

what does this mean?

p.s. my rule definition in .eslintrc is `"react/no-will-update-set-state": "error"`

[2017-05-11 00:48] ljharb commented on #1186
Any chance you're using the airbnb eslint config (which doesn't yet support v7 of eslint-plugin-react) and v7 of eslint-plugin-react? If so, `npm ls` should tell you your dependencies are invalid.

If not, what version of eslint-plugin-react are you using?

[2017-05-11 01:15] noyobo opened #1187 "react/jsx-indent-props 2 spaces with expression"
- eslint v3.19.0
- eslint-plugin-react 6.10.3

![image](https://cloud.githubusercontent.com/assets/1292082/25927659/041f25d2-362a-11e7-8793-079aac8a0cba.png)

[code]

How to configure in the case?

[2017-05-11 01:25] joetidee commented on #1186
I have the following packages installed:

[2017-05-11 03:25] ljharb commented on #1186
That rule only exists in v7 - it was added in #1139.

You won't be able to enable it until `eslint-config-airbnb` releases a new semver-major that supports v7 of `eslint-plugin-react`.

[2017-05-11 03:25] #1186 closed

[2017-05-11 11:38] joetidee commented on #1186
ok, thanks for that.

[2017-05-11 15:37] singpolyma-shopify opened #1188 "Allow default arguments on functional component to count as defaultProps"
When using Flow, this is the suggested pattern (https://flow.org/en/docs/frameworks/react/):

[code]

But eslint says:

` error  propType "wrapInSection" is not required, but has no corresponding defaultProp declaration`

[2017-05-11 16:02] ljharb commented on #1188
Duplicate of #1184

[2017-05-11 16:02] #1188 closed

[2017-05-11 23:06] vdh commented on #891
@ljharb But isn't that just a functional stateless component?

[code]

The more I read those docs for `Route` the more confusing it gets. They seem to have three ways (`component`, `render`, `children`) for doing *almost* exactly same thing…?

[2017-05-11 23:14] #1161 closed

[2017-05-11 23:29] ljharb commented on #891
Right - it's a *component*, not an element. The equivalent would be `{SomeRoute}`, not `<SomeRoute />`.

[2017-05-12 00:26] rsolomon opened #1189 "Rule to prevent `static PropTypes`"
I've noticed this a few places, where people are recording propTypes under a static `PropTypes` member instead of the correct camelCase `static propTypes`. It would be helpful if there were a lint rule that checks for this, as using `PropTypes` doesn't fail, it just silently doesn't check.

[2017-05-12 00:37] ljharb commented on #1189
That sounds like a good idea. It should probably check for any case variant of `propTypes` and `defaultProps` and `contextTypes` etc, and ensure that none of them exist unless they're the proper casing.

[2017-05-12 00:38] ljharb commented on #1189
We could call it `no-static-typos` or something

[2017-05-12 06:14] DragorWW opened #1190 "JSX no empty line rule ?"
examples:
[code]

- how to get error on line 3: `not empty line after open tag` ?
- how to get error on line 5: `not empty line between tag` ?
- how to get error on line 7: `not empty line befor close tag` ?

[2017-05-12 12:31] markus-willems opened #1191 "Wrong (?) rule for prop-types ("prop-types" instead of "react/prop-types") in docs"
I assume there is a small mistake in the docs for the prop-types rule: https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md

`
...
"prop-types": [<enabled>, { ignore: <ignore>, customValidators: <customValidator> }]
...
`

When I use this rule with `eslint`, `babel-eslint`, `eslint-plugin-react`, and `eslint-loader` for Webpack I get the following message:

`Defini

[2017-05-12 14:58] ljharb commented on #1191
Correct, all rules need a "react/" prefix. A PR is welcome.

[2017-05-12 17:41] ljharb commented on #1191
Fixed in #1192.

[2017-05-12 17:41] #1191 closed

[2017-05-13 01:13] cycomachead opened #1193 "Rule Suggestion: Forbid Classes / Classnames"
We have a font-awesome `<Icon>` component that handles accessibility nicely. However, it's still really easy for people to write `<i className="fa ...">`. It would be nice if we could ban a class based on matching a regex. Obviously, it's tricky/impossible to ban every possible use if people are doing things at runtime, but it would be nice if I could say no to a fair number of cases where this co

[2017-05-13 01:18] ljharb commented on #1193
If you have an `Icon` component, what do you still need `<i>` for?

[2017-05-13 01:19] ljharb commented on #1193
(`forbid-elements` can ban `<i>`, and `forbid-component-props` can ban `className`, but there's definitely not currently a way to combine these, or provide a filter on the value)

[2017-05-13 20:45] NiGhTTraX commented on #1176
@ljharb yes, that works, but it's not something I'd like to do.

[2017-05-13 20:58] ljharb commented on #1176
Thanks for clarifying.

While it's decidely a best practice to make whitespace explicit instead of relying on jsx to handle it intuitively, your original case is clearly a bug.

[2017-05-15 03:08] bichenkk opened #1194 "mobx @observable conflicts with sort-comp"
In my project using mobx and react, I would like to use the @observable like this followings:
[code]

How do configure the sort-comp rule to allow this situation?

[2017-05-15 12:29] lukeapage commented on #1147
tracking: https://github.com/facebook/react/issues/7671

[2017-05-15 15:55] bogdan-zaharia-hs commented on #1090
It seems that it would also be a [performance issue with turning the functions into SFC](https://medium.com/missive-app/45-faster-react-functional-components-now-3509a668e69f).

Also, maybe a way to detect a SFC could be to check that the name is in `TitleCase` instead of `camelCase`.

[2017-05-15 16:12] ljharb commented on #1090
That naming convention also identifies, by convention, any function used as a constructor, so there's no way that would work.

In general, don't worry about performance *at all* until after everything is correct, working, and tested. SFCs are more appropriate than renderFoo methods; use them until your app has speed issues.

[2017-05-15 16:48] rauchg commented on #841
@ljharb I'm curious what the downsides are to not escaping `'`? Makes writing stuff pretty difficult, but I'm sure there's a good reason

[2017-05-15 19:15] cycomachead commented on #1193
Thanks for the suggestions.

`<i>` is still a valid HTML tag that I think is currently used in a couple other places, though it might be easiest to just ban it all together.

A way to combine rules would be really powerful, and I could definitely see adding specific cases for it, though I don't know if you are interested in supporting that complexity.

--
Michael Ball
From my iPhone
michaelball.co

[2017-05-15 19:31] ljharb commented on #841
@rauchg The rule documentation should explain it; basically, it's highly likely there's a bug.

Separately, it shouldn't impact "writing stuff" at all, since straight quotes are typographically incorrect, and you don't need to escape curly quotes.

[2017-05-15 19:32] ljharb commented on #1193
I absolutely could see the value in banning specific combinations of "component" and "prop" - however, I think that it would get potentially very complex to let you ban specific prop *values* on top of that. Would banning `className` on `i` only, solve your problem?

[2017-05-15 19:45] cycomachead commented on #1193
👍 I think so. I can't really see a great use for that compared to just a span or something.

--
Michael Ball
From my iPhone
michaelball.co

[2017-05-15 20:29] jacobrask commented on #1147
It seems like a significant number of React developers agree that using this method should be discouraged. If you do not agree it's of course fine to not use the rule.

Are you opposed to (me?) adding the rule at all to this project?

[2017-05-15 20:48] ljharb commented on #1193
In that case, perhaps a schema enhancement on `forbid-component-props` is in order, so you can do `['badProp', { component: 'i', prop: 'className' }, 'otherBadProp']`?

[2017-05-15 20:49] ljharb commented on #1147
I'm not sure where you get "significant number" - that github issue is full of people who simply don't see a need for the method, with very very few claiming that its use should be discouraged.

So yes, I'm opposed to adding the rule at all.

[2017-05-15 21:23] tnguyen14 commented on #1187
Running into this problem as well, after running `prettier` on the code base.

[2017-05-15 21:27] tnguyen14 commented on #1187
The configuration I'm using is
[code]

[2017-05-15 21:33] cycomachead commented on #1193
I like it. Seems like a good balance of simplicity and flexibility.

[2017-05-15 23:46] seeliang opened #1196 "Rule Suggestion : setState function"
Hi, all, big fan of this repo.
thank you all for update and maintaining eslint-react.

Do we have (or will have) a rule about the setState

To avoid
this.setState({...})

and use
this.setState( (state, props) => { return ... })

https://www.reddit.com/r/reactjs/comments/5zqgsb/react_fiber_functional_setstate/

[2017-05-15 23:52] yannickcr commented on #1194
I'm afraid that `sort-comp` does not handle decorators yet.

[2017-05-16 00:01] yannickcr commented on #1196
I think @relekang is working a on a rule for this, see #943.

[2017-05-16 02:51] #1196 closed

[2017-05-16 03:18] djMax opened #1197 "Destructuring, defaults and a type confuse the linter"
This is a messy one...

[code]

Yields these seemingly spurious lint errors:
[code]

[2017-05-16 04:58] c0debreaker opened #1198 "No warnings are shown when using class="blah" or classname="blah""
Here is my .eslintrc
[code]

and I'm using Atom editor. I was hoping that the codes below would trigger an eslint warnings
[code]
Once I close the div tag, the eslint warning at the bottom of the editor goes away

[2017-05-16 05:39] ljharb commented on #1198
React itself will issue those warnings.

[2017-05-16 06:46] c0debreaker commented on #1198
I see the issue in console in Chrome Dev Tools. However, I was hoping to see it during coding time. Eslint should take care of that right?

[2017-05-16 06:53] ljharb commented on #1198
No, eslint doesn't duplicate *every* runtime warning. Your tests have to handle that.

[2017-05-16 07:06] c0debreaker commented on #1198
Got it. Check out what I did. I commented out the usage of logo and look what eslint did. I was hoping I would also see something similar to this when I hover the mouse on `class="blah"`

http://imgur.com/a/UgoW8

[2017-05-16 07:35] ljharb commented on #1198
That's something static, defined in the file.

To warn on what you want, eslint-plugin-react would have to duplicate the list of valid DOM element props from inside React.

[2017-05-16 07:35] #1198 closed

[2017-05-16 08:41] jacobrask commented on #1147
Ok

[2017-05-16 09:20] yannickcr commented on #1198
@c0debreaker I'm not sure what warning you expect ESLint to trigger here, but we have the [`no-unknown-property`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-unknown-property.md) rule that can warn you on differences between HTML and JSX (like `className` instead of `class`)

[2017-05-16 15:00] ljharb commented on #1147
I'm not the only collaborator; this should remain open pending the others' thoughts.

[2017-05-16 15:03] ljharb commented on #1198
Oops, good call :-)

[2017-05-17 01:25] dounan opened #1200 "react/display-name gives false positives with component subclasses + argument spreading + es7 class properties"
The code below shows the bug:

[code]

The error goes away when you either:
- Change `MyComponent` to directly extend `React.Component`
- Change `subrender` to be a normal class method instead of an es7 class property
- Remove argument spreading in `subrender`

[2017-05-17 03:14] ljharb commented on #1200
(note, class properties aren't ES7, which came out in June of 2016, they're stage 2 - so they're not ES anything yet)

`subrender` is a function that returns JSX, so in general, that's a component - whereas a class method is not. Separately, both for correctness and performance, you want that to be a class method that's manually bound in the constructor.

[2017-05-17 03:34] dounan commented on #1200
Thanks for the quick response!

Seems like class properties are encouraged by the React team, since their `class.js` codemod generates them by default:
https://github.com/reactjs/react-codemod/blob/master/transforms/class.js#L944

Can you elaborate why a manually bound class method is more correct and performant?

[2017-05-17 03:41] ljharb commented on #1200
That's unfortunate, but "encouraged by the React team" doesn't mean they're right :-)

Basically, instead of creating N functions, one for each instance, you'd instead have 1 prototype function for all instances, and the only part that would be created N times is the `this.foo = this.foo.bind(this)` - leaving the engine able to optimize the "meat" in the prototype method. This is a JS thing, not s

[2017-05-17 03:51] dounan commented on #1200
That makes sense. I can see how if you used class properties for all methods, it would be less performant. But manually binding in the constructor, then setting it as a property on the instance does the same thing, so in those cases there would be no performance benefit.

Agreed, but I'm working with a pretty large codebase, and if the codemod has already added all these class properties, I don't

[2017-05-17 03:58] dounan commented on #1200
This is an aside, but...

I typically agree with this, but there are certain cases where the subrender function does a few conditional checks before rendering something simple. For example:

[code]

Would you consider that a valid use-case for a subrender function? Thanks :)

[2017-05-17 04:08] ljharb commented on #1200
That's only true if you only `new` the component once. If it's constructed multiple times, then you absolutely get a benefit when using the constructor-bound approach.

tbh, I'd still say that `renderIcon` should be an `Icon` SFC, no matter how simple it is.

Regardless, eslint-plugin-react has no way of knowing that a function that returns JSX *isn't* a component, unless it's a class method (whic

[2017-05-17 04:39] c0debreaker commented on #1198
Thank you folks!

[2017-05-17 04:43] c0debreaker commented on #1198
@yannickcr it worked really well! It's what I really want to happen :)

http://imgur.com/a/eTWZY

[2017-05-17 05:43] dounan commented on #1200
I dug into this a bit more out of curiosity, and it seems like that the `getJSDocComment` was not returning the `/** @extends React.Component */` comment when the argument spreading operator is there. This is because the `leadingComments` field of the `ClassDeclaration` node is not there when the argument spreading syntax is used.

https://github.com/eslint/eslint/blob/735d02d570f4a2d3c663f0f4c6a6

[2017-05-17 05:46] ljharb commented on #1200
Interesting - do you see the same behavior when you omit the type notations?

[2017-05-17 05:47] dounan commented on #1200
Ah, I missed that. The error goes away if the type is removed.

`subrender = (...args) => {` works

[2017-05-17 05:54] dounan commented on #1200
Not sure if this is related, but using ASTExplorer shows that the flow parser puts the comments in a different of the AST (not as a `leadingComments` prop):
![image](https://cloud.githubusercontent.com/assets/1095431/26140261/85ea9b5a-3a8a-11e7-9eaf-37831ae62876.png)

[2017-05-17 06:15] ljharb commented on #1200
In that case, it seems like it's a bug with the Flow parser, since it should probably not alter the way non-type-annotated nodes are parsed.

[2017-05-17 09:36] thomsta commented on #997
Is there something new about this issue?

[2017-05-17 09:40] zech opened #1201 "require-default-props does not detect properties in quotes"
Hi,

I've got an issue with code like this

[code]

triggers the message:

`propType "isOverdue" is not required, but has no corresponding defaultProp declaration. (react/require-default-props)`

changing the declaration to

[code]

omits the error.

I don't think quotes should have an effect on detecting defaultProps. Maybe I'm wrong ;-)

[2017-05-17 15:17] ljharb commented on #1201
While unnecessarily quoted keys isn't my preferred style, I agree this should work. I think it should also work as a computed template literal with no interpolations.

[2017-05-17 22:43] #1022 closed

[2017-05-17 22:45] #1201 closed

[2017-05-17 22:47] yannickcr commented on #1201
Fixed it for quoted properties. I will add template literal support in another patch.

[2017-05-18 02:49] jomasti commented on #1181
This can happen with the latest version if one imports `create-react-class` as something other than `createReactClass`.

[2017-05-18 07:37] Aggie123 opened #1203 ""static propTypes = { ..." showing error."
My code is as below, but pops error:''parsing error:unexpected token =; static proptypes =".
Eslint-plugin-react doesn't support this?
Anyone knows how to fix this?

[code]

[2017-05-18 10:19] trotzig opened #1204 "Enforcing use of `prop-types` lib"
We're in the process of making our codebase ready for React 16. As part of that, we're replacing `React.PropTypes` with the `prop-types` lib. Is there a way to enforce this through eslint somehow? My initial attempts at googling for this doesn't result in anything useful, and if I'm reading the readme correctly, it doesn't seem like this project could help either (right now).

[2017-05-18 10:51] Dimon70007 commented on #1159
Hi there. I think, that eslint a good package for development. And will be better to  disable "react/require-default-props" by default, because Eslint should help to develop apps, instead to obstruct.

[2017-05-18 12:06] TimonVS commented on #1187
Are you extending from any other configs? If you're using Prettier I'd suggest using https://github.com/prettier/eslint-config-prettier to disable all stylistic rules (because Prettier already solves this for you).

[2017-05-18 14:55] keithkml opened #1205 "Add prefer-flow-prop-types rule"
I would love a rule for preferring Flow types instead of `propTypes`. Our team is migrating and it would be great to use the linter for this purpose.

For example, it would produce an error on the following code:

[code]

But this code would remain valid:

[code]

[2017-05-18 15:43] ljharb commented on #1203
That seems like you just haven't configured babel to handle class properties - remember that it's not part of the spec yet, it's a stage 2 proposal.

[2017-05-18 15:44] ljharb commented on #1204
The `no-deprecated` rule should handle this.

[2017-05-18 15:45] ljharb commented on #1159
@Dimon70007 this does help to develop apps - and bad practices (like not providing default props for optional prop types) *need* to be obstructed.

Regardless, this opinion and debate do not belong on this issue, or on this repo.

[2017-05-18 15:46] ljharb commented on #1205
Flow isn't always a replacement for propTypes - you can do things with custom propTypes that you can't do with Flow.

A rule that required you use Flow types instead of the built in `prop-types` package might make sense, but I'm not sure how valuable it'd be.

[2017-05-18 15:46] ljharb commented on #1187
Prettier doesn't "solve" this; the goal is to be able to lint against it without modifying any files.

[2017-05-18 16:02] keithkml commented on #1205
Here at Uber we almost never use custom prop types, so the rule would be very useful to us. And it would be very easy for the rule to simply not warn when a custom function was used.

[2017-05-18 16:08] trotzig commented on #1204
Ah, thanks for the pointer! That's exactly what I need.

[2017-05-18 16:08] #1204 closed

[2017-05-18 16:38] ljharb commented on #1205
<sub>I strongly endorse https://npmjs.com/airbnb-prop-types; you can get much more useful warnings than Flow is capable of giving you ;-)</sub>

A new rule, `require-flow-vs-proptypes` is probably good, that starts out with no options and only warns against `React.PropTypes`/`prop-types`.

[2017-05-18 17:51] jseminck commented on #1189
I will take a look at this.

[2017-05-18 19:27] rsolomon opened #1206 "Rule proposal: indentation of closing jsx tag"
Not to be confused with the closing bracket, I would like to enforce the location of a closing jsx tag when its children also live on a new line.

For example, the following would fail:

[code]

The following would pass:

[code]

This would also pass:

[code]

[2017-05-18 19:32] rsolomon opened #1207 "Rule proposal: require parens around jsx that lives on its own line"
The title is not very eloquent, so I'll explain what I'm after by example.

Currently you can only require parens around multiline jsx. I'd also like to require parens around single-line jsx, but only when it lives on its own line. This is particularly useful when within an arrow function.

For example, the following would raise an error:

[code]

As would this:

[code]

The following would not ra

[2017-05-18 21:22] dounan commented on #1200
Yep, I'll investigate a bit more when I get some more time. Thanks again for your help!

[2017-05-18 21:22] #1200 closed

[2017-05-19 06:09] ljharb commented on #1206
This sounds great - essentially, "must be on the same line, or must be on its own line that matches the indentation of the opening tag"?

`jsx-closing-tag-location`, perhaps.

[2017-05-19 06:11] ljharb commented on #1207
I'd love to add this to the airbnb config, since this is precisely what our style guide requires.

I feel like this might be better as an option to `jsx-wrap-multilines`, but I could be convinced it should be a new rule.

[2017-05-19 06:12] ljharb commented on #929
Closed in #949.

[2017-05-19 06:12] #929 closed

[2017-05-19 07:08] Aggie123 commented on #1203
Thanks for your quick response.
Yes, this syntax hasn't been supported by eslint yet. I found a way to solve this, just installed babel-eslint and the error is gone.
Thanks anyway.

[2017-05-19 07:49] xareelee commented on #976
I have another case which raise an error as a false positive.

[code]

The `errorMessage` is an optional prop which will be used only in `shouldComponentUpdate`.

[2017-05-19 07:51] yannickcr commented on #1203
Happy to hear you solved your problem.
Closing this since it is not a problem with eslint-plugin-react itself.

[2017-05-19 07:51] #1203 closed

[2017-05-19 09:11] sharbel-keyvalue opened #1208 "Checking for PropTypes iso React.PropTypes"
Hi

In the latest version of react you are supposed to use PropTypes from https://www.npmjs.com/package/prop-types instead of React.PropTypes. I has already started throwing up deprecation warnings.

But switching to the new format throws up ESLint warnings. I think the same applies for forbid-prop-types rule as well.

Regards
Sharbel

[2017-05-19 17:49] johnryan opened #1210 "Support for non-required maybe types in require-default-props"
if I have a type like:

[code]

eslint complains that i have no corresponding `defaultProp` declaration. However, if i set the default value to null:

[code]

I get a flow error when passing a string prop: `this type is incompatible with null` since flow infers the type from the defaultProp first (i believe). It seems like this rule shouldn't apply to maybe types...Thoughts?

[2017-05-19 17:53] ljharb commented on #1210
What if you set the default to `undefined`?

[2017-05-19 18:00] johnryan commented on #1210
@ljharb i tried that too i get the error `this type is incompatible with undefined`

[2017-05-19 18:12] ljharb commented on #1210
To me that sounds like a flow bug - maybe types should be compatible with defaultProps. It'd be great if you filed a flow issue and linked it here.

[2017-05-19 18:15] johnryan commented on #1210
@ljharb i can file an issue but i'm confused what value this validation provides on a `Maybe` type...if you initialize it to anything other than null or undefined then it isn't really a "maybe" type anyway since it will always have a value

[2017-05-19 18:24] ljharb commented on #1210
Everything in js always has a value - when a maybe type is omitted, it'd be undefined, so at a minimum, that's what flow should allow. Equating undefined and null is also reasonable, if they decide to do it.

[2017-05-19 20:09] ljharb commented on #1208
Can you provide examples of what warnings you get with `prop-types` that you don't get with `React.PropTypes`?

[2017-05-19 21:37] johnryan commented on #1210
Created an issue in the flow project [here](https://github.com/facebook/flow/issues/3982)

[2017-05-20 00:35] sompylasar opened #1211 "rules/no-unescaped-entities: `isInvalidEntity` never returns a truthy value, so there is a piece of dead code."
https://github.com/yannickcr/eslint-plugin-react/blob/f0dcaca92418bb791f585e867d720a96dd43a277/lib/rules/no-unescaped-entities.js#L73
[code]

This condition always evaluates to `false`:
[code]

Likely, the original intent was to return `true` or `false` from `isInvalidEntity`, but then the code was rewritten so that `isInvalidEntity` reports errors on its own. So now the more correct name for it w

[2017-05-20 02:08] ljharb commented on #1211
Good catch!

[2017-05-20 06:43] sharbel-keyvalue commented on #1208
Hi

I think it was 'react/require-default-props.

Regards
Sharbel

*Sharbel Cherian*
*Founder & CEO*
*Key**Value*
*Software Systems.*(91) 9446-084-504
*sharbel@ <sharbel@clearfoodinc.com>keyvalue.systems*

On Sat, May 20, 2017 at 1:39 AM, Jordan Harband <notifications@github.com>
wrote:

[2017-05-20 07:01] ljharb commented on #1208
We'd need the actual component code that was causing warnings.

[2017-05-20 07:18] xareelee opened #1212 "react/require-default-props"
I meet a bug with `react/require-default-props`:

[code]

The should not raise an error for `react/require-default-props` with the linter.

The prop `getMsgCodeErrorMsg` is optional with a exact `string` type, which means that you can provide no default value at the first time, but if you pass a value to the prop `getMsgCodeErrorMsg`, it needs to be a non-null string value.

Am I right?

[2017-05-20 07:23] xareelee opened #1213 "`no-unused-prop-types`: support `shouldComponentUpdate` nextProps"
[code]

I only use prop `getMsgCodeErrorMsg` in the method `shouldComponentUpdate`, but the linter raises a `react/no-unused-prop-types` error (false positive).

[2017-05-20 07:25] ljharb commented on #1213
`shouldComponentUpdate` takes `nextProps` - what happens if you name the argument that?

[2017-05-20 07:26] ljharb commented on #1212
You're right that this is a bug in Flow (you should be able to specify a defaultProp of `undefined`, or possibly `null`).

This is a duplicate of #1210, and the Flow issue is https://github.com/facebook/flow/issues/3982.

[2017-05-20 07:26] #1212 closed

[2017-05-20 07:31] xareelee commented on #1213
@ljharb changing the param name doesn't help.

The linter reports the error on the line where I declare the type:

[code]

I use the same type for both React component's `props` and the method `shouldComponentUpdate ()`.

[2017-05-20 07:32] ljharb commented on #1213
If instead of a Flow type, you used standard `.propTypes`, do you get the same error?

[2017-05-20 07:35] xareelee commented on #1213
@ljharb yes, get the same error with `.propTypes`. I did not find that.

[2017-05-20 07:44] ljharb commented on #1213
Thanks, it seems like we need to make `no-unused-prop-types` work with `shouldComponentUpdate`.

[2017-05-20 07:48] xareelee commented on #1213
@ljharb OK, thanks.

Any workaround about this bug for now?

[2017-05-20 07:49] ljharb commented on #1213
The workaround would be an eslint override comment.

[2017-05-20 08:01] tsheaff opened #1214 "make sort-comp fix natively with eslint --fix"
Why require a 3rd party codemod that needs to be installed and configured manually? I tried using this in my app but found it to be buggy and liable to become stale (this is the whole point of npm / yarn).  Can `sort-comp` and other rules that require react-codemod to be fixed just do so natively when I call `eslint --fix`?  Would be super handy and way more robust / simple 😄

[2017-05-20 08:05] ljharb commented on #1214
I'm not sure what react-codemod has to do with anything.

It sounds like a great idea to make this rule autofixable, but I think it might be complex because eslint's autofixing can only do text replacement, so it might require multiple passes to sort properly.

[2017-05-20 23:35] rsolomon commented on #1207
I agree that it belongs in `jsx-wrap-multilines`. Preference on option nomenclature?

[2017-05-20 23:40] ljharb commented on #1207
There's four existing syntaxes: declaration, assignment, return, arrow - this could be a fifth. Maybe `standalone`?

[2017-05-20 23:55] rsolomon commented on #1207
Upon a bit deeper inspection, it looks like the rule doesn't enforce parenthesis on newlines even on multiline expressions. Ex:

[code]

Is considered valid, even though I would prefer the linter force it to be:

var hello = () => (
  <div>
    <p>Hello</p>
  </div>
);
[code]

[2017-05-21 00:02] ljharb commented on #1207
Those two changes sound good.

[2017-05-21 08:17] jseminck commented on #1183
I have been taking a look at this issue as I wanted to familiarize myself with the codebase a little bit. I managed to reproduce the issue through tests, and found a fix for it. Though I have no idea if the fix is valid or not. It does not break any other tests, though.

I will make a PR with the fix later today or tomorrow. Then anyone more experienced with the code can take a look. Even if my fi

[2017-05-21 16:15] ljharb commented on #1183
Actually, I'm confused here. Class properties do not have var declarations in front of them; `const callback = something` is an error afaik. the proposal only allows `x = y` and `static x = y`.

[2017-05-21 16:15] ljharb commented on #1183
Thanks, good to start somewhere.

[2017-05-22 09:34] otakustay opened #1217 "Feature request for some extra rules"
We are currently creating a react code style guide, there are some rules we find useful but not covered by eslint-plugin-react:

1. Use a index module for cross-directory component import

    Warns on:

[code]

    Not warn on:

[code]

2. Use default export for component jsx file

    Warns on:

[code]

    Not warn on:

[code]

3. Default exported comopnent must have the same name of its filena

[2017-05-22 18:48] ljharb commented on #1217
Thanks!

1, 2, and 3 are more appropriate for `eslint-plugin-import`. If you can't currently cover it with existing rules, please file issues there (and we can discuss further).

4. Class properties are not yet a part of the language - they're only stage 2 - so I think it's way too premature to create a rule requiring their use. Regardless, this should be a core rule once it's stage 4, not part of

[2017-05-23 01:25] jomasti commented on #1217
There is currently an open issue for 6 (#985)

[2017-05-23 04:51] otakustay commented on #1217
Thanks, I didn't aware of `eslint-plugin-import` before

Since #985 already covers 6, I'll later file a separate issue for 7, closing this now

[2017-05-23 04:51] #1217 closed

[2017-05-23 04:52] otakustay opened #1219 "Check for jsx's depth"
From #1217

We want to restrict jsx to a depth of 3 or 4, this is something like restricting nested block in common js code

This should be off by default, for those who want to restrict their depth, use `'jsx-max-depth': [2, 4]` to enable it

[2017-05-23 08:54] xareelee commented on #1212
Any other case for `react/require-default-props` warning:

[code]

This also reports a lint error `react/require-default-props` in this stateless React component form:

[code]

[2017-05-23 12:08] Bloomca opened #1220 "Validate missing props in subclassed React components"
Hi!

Thanks for the awesome work!

We extend components with our own parent class to add few functions in it. However, we'd like to have missing props validation inside it. I've searched, and found only mentioning about it in [docs](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md#about-component-detection). Sorry if I missed it, but is it possible somehow to s

[2017-05-23 13:23] jseminck commented on #985
I'll take a look at this rule, since it was just recently requested again in https://github.com/yannickcr/eslint-plugin-react/issues/1217

It looks pretty easy to add:

* Validate the MethodDefinition name
* Validate that the method is declared in a PureComponent (for which a helper already exists)

Probably will need some help with the actual rule name and errors + docs. I suppose `no-useless-scu

[2017-05-23 14:54] jseminck commented on #985
Nevermind. There is a PR already. Missed it.

[2017-05-23 15:57] ljharb commented on #1212
That's intentional. SFC default values are not a substitute for defaultProps.

[2017-05-23 17:47] jseminck commented on #1175
The problem seems to be the combination of `ignoreCase: true` and `callbacksLast`

callbacksLast is looking for a pattern: on[A-Z]:

[code]

However, `ignoreCase` is calling `toLowerCase()`:

[code]

The bug was introduced in 7.0.0. Specifically here - where the check for the `isCallbackPropName()` was moved from before `if (ignoreCase)` to  after this check.

https://github.com/yannickcr/eslint-p

[2017-05-23 20:10] ljharb commented on #1220
React components should never inherit from a "base class" - only from React.Component/React.PureComponent.

[2017-05-23 20:20] Bloomca commented on #1220
Why not? I am not talking about best practices or something, I am just asking whether it is possible or not to add missing props validation to custom extended classes.

[2017-05-23 20:46] ljharb commented on #1220
Why not, because inheritance is an inferior form of code reuse than composition, and even the React team strongly discourages it.

The workaround for you here is to use a jsdoc-style "extends" comment to annotate your `class` that it's a React component. I'm not sure of the exact syntax off the top of my head.

[2017-05-24 04:32] #1175 closed

[2017-05-24 04:46] jseminck commented on #1135
Hello,

I ran your latest test case in a PR where we fixed the following issue: https://github.com/yannickcr/eslint-plugin-react/issues/1183 and the test case passed. Prior to the changes from that specific PR, the test case was failing.

Removing the `.map()` code in the `render()` would make the component valid under the current implementation.

So I am quite confident those changes are also fix

[2017-05-24 04:51] jseminck commented on #1220
To expand upon ljharbs comment, and for anyone else reading this in the future. This syntax is supported:

[code]

And

[code]

[2017-05-24 07:29] Bloomca commented on #1220
@jseminck thanks, it works!

Maybe we should add it in the readme of this rule? I understand that it is not a preferred way to extend functionality in React, but maybe it will be helpful for other people as well.

[2017-05-24 07:29] #1220 closed

[2017-05-24 16:45] #1135 closed

[2017-05-24 16:47] ljharb commented on #1183
I believe this may be fixed with #1218. Please reopen after the next release if not.

[2017-05-24 16:47] #1183 closed

[2017-05-24 21:06] artyomtrityak commented on #1181
Same issue if create-react-class defined by ProvidePlugin
[code]

[2017-05-24 22:39] geuis commented on #885
Still getting this in the most recent version of `eslint-plugin-react` in exactly the same code situation as the original example.

[2017-05-24 22:55] BarryThePenguin commented on #885
@geuis there are [tests for the exact same code situation as the original example](https://github.com/yannickcr/eslint-plugin-react/blob/7ebcd486160277b4e13fed2a484156fc2e9420f6/tests/lib/rules/no-unused-prop-types.js#L1368-L1399).

If you have a different example that is still failing, would be worth opening a new issue

[2017-05-25 07:57] xareelee commented on #1212
I don't get why it can't. Any reason?

[code]

If the implementation of the component `Foo` is too long, the type definition and the default value definition would be separated so far. It's low cohesiveness.

[2017-05-25 12:00] jseminck commented on #1096
@RiddleMan how is your POC going? Did you manage to continue working on it? I would love to take a look as well, perhaps see if I can help out if needed.

[2017-05-25 16:18] burabure commented on #832
I have this rule Implemented here https://github.com/burabure/eslint-plugin-burabure/blob/master/lib/rules/no-direct-mutation-state.js @ljharb would you like this merged?

[2017-05-25 17:31] ljharb commented on #832
@burabure if you have a pr with tests that can fix any broken behavior, that'd be great.

[2017-05-25 17:38] ljharb commented on #1212
Then the solution is to make the implementation shorter, clearly :-)

For one, React applies defaultProps on its own; it can't read into default values.

[2017-05-25 18:37] abritinthebay commented on #1147
Given it's an official FB recommendation (quoted above)

It would make sense to have this as an *optional* linting rule. Certainly shouldn't be a recommended one but a lot of the core devs seem pro-deprecation and have mentioned that post-fiber it would make sense to examine the issue more.

Most linting rules are completely subjective, this seems to at least be a reasonable suggestion for an opti

[2017-05-25 18:41] ljharb commented on #1147
Afaik there's still active discussions going on with core devs about it; I don't believe they've made a compelling case. Note that Facebook doesn't server-render, and their position on `componentWillMount` is one that is not shared by other stakeholders that do server-render.

[2017-05-25 18:50] abritinthebay commented on #1147
Sure, there are plenty of active discussions about many things - including things where rules already exist in this package.

That's what best practice debates are composed of 😄

My point is more - this kind of rule is a _classic_ optional linting step feature. God knows there are exist rules in this package that I'm _never_ going to turn on because they don't work for me or my projects. This rule

[2017-05-25 19:07] ljharb commented on #1147
My [comment](https://github.com/yannickcr/eslint-plugin-react/issues/1147#issuecomment-293383261) stands, as does [this one](https://github.com/yannickcr/eslint-plugin-react/issues/1147#issuecomment-301810066).

[2017-05-25 19:10] abritinthebay commented on #1147
Indeed, your preference is clear. If the rule existed you'd not use it/turn it off. 👍

[2017-05-25 19:12] ljharb commented on #1147
To clarify; my preference is to not include the rule, so that nobody is ever able to turn it on.

[2017-05-26 05:03] otakustay opened #1224 "Configure to ignore certain directory for require-default-props rule"
We are currently reviewing many of our react code and find `require-default-props` rule really useful, however there is a common exception:

If a component is designed to be connected to redux store, it's prop default value would be generated by reducers so we don't have duplicated declaration in `defaultProps`, also some of these props are not required, e.g. a `errorMessage` field will be produce

[2017-05-26 05:32] ljharb commented on #1224
You can put a `.eslintrc` file in that directory with whatever overrides you want.

However, it's still a better idea to explicitly specify the defaultProps, even if a reducer provides it - because if it *always* provides it, make it required; and if it doesn't, then you need a defaultProp for when it doesn't.

[2017-05-26 09:05] SimenB opened #1225 "Performance issues"
Tried searching, couldn't find an issue on it... Sorry if it exists already!

I was investigating why our eslint run is super slow, and it seems like eslint-plugin-react has the 3 worst offenders, by almost an order of magnitude (totalling 3/4 of our runtime). Is this known?

This is using `eslint-plugin-react@6.10.3`, if improvements have been made in 7, that's great!

[code]

Config: https://gis

[2017-05-26 16:45] noyobo commented on #1187
I think so. `span` indentation is correct (110 lines In the screenshot).

Why 111 and 112 indentation is error. They should relative to the previous line of code 2 spaces.

Otherwise:

[code]

It looks very awkward

[2017-05-26 19:05] ljharb commented on #1187
I agree the props there should be indented 1 level in.

[2017-05-29 00:45] fengerzh opened #1228 "react/prop-types validation error"
Consider the following code:
[code]
The third line caused an error: `'tintColor' is missing in props validation (react/prop-types)`. How to validate this kind of props?

[2017-05-29 02:03] joetidee commented on #1142
Please can you fix this - having the same issue :(

[2017-05-29 02:30] ljharb commented on #1228
[code]

[2017-05-29 04:17] jseminck commented on #1142
I could try and take a look at this. Not sure how far I will get.

I see that the same issue exists with `shouldComponentUpdate` and `nextProps`: https://github.com/yannickcr/eslint-plugin-react/issues/1213

[2017-05-29 04:49] jseminck commented on #1142
Hi,

This issue seems fixed in https://github.com/yannickcr/eslint-plugin-react/pull/1106 - E.g. it should work on the 7.0.0 release (which was released after this issue was created.).

@joetidee can you please let me know what version you use and what is failing for you?

Just to be clear, the example code from the original issue works. See below for a more concise example:

**This passes eslint-

[2017-05-29 10:30] fengerzh commented on #1228
Thank you. Yes, it works.

[2017-05-29 10:30] #1228 closed

[2017-05-29 17:12] jseminck commented on #1225
Just out of curiosity, how large is your project?

I see a lot of differences with my output, e.g. for me `no-unused-vars` is much slower but `react/no-unused-prop-types` and `react/sort-comp` are much faster.

[code]

This project has about 40k lines of code in 1000 files for the source. And about 50k lines of code in 750 files for the tests. Number of React components is around 225.

[2017-05-29 17:18] SimenB commented on #1225
Doing `cloc` gives:
[code]

[2017-05-29 22:13] joetidee commented on #1142
Excellent - thanks - have upgraded to 7.0.0 and now fixed.

[2017-05-30 15:18] moimikey opened #1230 "Another `void-dom-elements-no-children` bug?"
eslint-plugin-react @ 7.0.1
eslint @ 3.19.0

I've noticed that there have been a commit or two to fix the empty ` void-dom-elements-no-children` bug, but I'm unfortunately having this issue in a very different light, which is concerning:

[code]

the linter sees `createElement` as `React.createElement`. If props are withheld, I get the following lint error:

[code]

If I pass an arbitrary prop, it

[2017-05-30 19:30] moimikey commented on #1230
not the fairest of caveats, but if I were to open a PR to remove this check, would that suffice? or is this a caveat of using this plugin now? or is it more complex than simply removing those few lines.

[2017-05-30 19:46] ljharb commented on #1230
It's more complex. It needs to work with `const { createElement } = React; … createElement(…)`.

[2017-05-30 20:54] moimikey commented on #1230
@ljharb so all tests PASS when I made the following change to `util/Components.js`:

[code]

with these additional tests to `tests/void-dom-elements-no-children.js`:

[code]

[2017-05-30 21:40] ljharb commented on #1230
@moimikey that works great when it's invoked with zero arguments - but it wouldn't address that `createElement(props)` would trigger the same logic, no?

[2017-05-31 17:43] moimikey commented on #1230
@ljharb bah. touché. i guess the only alternative here really is to consider `createElement` as a "reserved word," so to speak.

[2017-05-31 18:08] ljharb commented on #1230
I'd think so, since there's a pragma setting to rename it if you like - ie, you can make "MyCreateElement" be your React.createElement function, but then *that* becomes a reserved word.

[2017-05-31 18:44] #1230 closed

[2017-06-01 11:21] feimosi opened #1233 "`react/no-unused-prop-types` fails when omitted once"
In the following example I'm getting a false positive. Probably because I've used `omit`.
[code]
[code]

[2017-06-01 13:05] wellingtonamaralleitao commented on #885
Also failing to detect props being used in react lifecycle fucntions like

[code]

[code]

[2017-06-01 14:13] AlphaBeth opened #1234 "`react/no-unused-prop-types` when use props in nested function in functional component"
This code
[code]
will raise errors
[code]
for all props except used in last function.

[2017-06-01 14:14] TrevorSayre commented on #1053
[code]

`''onLoad' PropType is defined but prop is never used (react/no-unused-prop-types)'`

[2017-06-01 18:37] ljharb commented on #885
@wellingtonamaralleitao see #1232

[2017-06-01 20:45] ljharb commented on #1234
This should certainly be fixed; but you may want instead to destructure the props in the signature, which would avoid this problem.

[2017-06-01 20:46] ljharb commented on #1233
`omit` shouldn't matter, it's being referenced in your `onMeasure` handler.

This should be fixed; however, I'd recommend destructuring all your prop values out at the top of `render`, which would work around this problem.

(also, you forgot to omit `children`)

[2017-06-01 20:57] jseminck commented on #1234
This was fixed by: https://github.com/yannickcr/eslint-plugin-react/pull/1218

To confirm, I ran your exact test-case on master and it now passes as valid!

[2017-06-01 21:15] #1234 closed

[2017-06-02 08:39] jseminck opened #1235 "prefer-stateless-function does not detect when using sub-render() functions."
Not the most clear title, let me explain with an example. In our code, we often split up the `render()` function into smaller functions when it starts getting too big. For example:

[code]

The `prefer-stateless-function` rule doesn't seem to detect this to be converted into a stateless function component, even though in theory it could totally be a stateless function component.

I did not look at

[2017-06-02 08:41] jseminck commented on #1235
Additionally, it also doesn't detect this. This seems already like a more common use case to me?

[code]

[2017-06-02 17:59] SuEric commented on #1233
I've the same problem and I find difficult to destructing my prop values at the top of render;

Error:
[code]

Code where I use my prop
[code]
PropTypes declaration
[code]

I cannot change structure since my `dateFormatter` prop need a `question.updatedAt` as parameter which is obtained from `questions` array prop after doing `questions.map`

Hope any of you can help of how to change the structure

[2017-06-02 18:22] jseminck commented on #1233
@SuEric could you try to run your code against master? Then we can see if this case is fixed already or not. Judging by the code, I cannot be completely sure...

You can do it this way: `npm install git://github.com/yannickcr/eslint-plugin-react.git`

[2017-06-02 20:23] SuEric commented on #1233
I tried but I've problems with my webpack config after doing upgrade.

[2017-06-02 21:48] SuEric commented on #1233
@jseminck
I used `git://github.com/yannickcr/eslint-plugin-react.git` and still have same problem.

[2017-06-02 22:00] ljharb commented on #1213
#1232 hopefully has solved this; we can reopen after the next release if not.

[2017-06-02 22:00] #1213 closed

[2017-06-02 22:00] ljharb commented on #1142
#1232 hopefully has solved this; we can reopen after the next release if not.

[2017-06-02 22:00] #1142 closed

[2017-06-02 22:28] ljharb commented on #1235
I think we'd need that behavior under a new option - but I like it, because `renderFoo` methods should always be SFCs.

Your latter example shouldn't be an SFC, it should be a  `class` with a constructor-bound instance method. Using `::` inline there is incorrect.

[2017-06-03 08:49] jseminck commented on #1233
Ok - I'll try to have a look and see if I can reproduce.

More on-topic. I tried to use `_.pick()` to reduce some code for prop passing. Turns out this is also not being validated correctly. Not sure if it should be support really...

E.g:

[code]

[code]

[2017-06-03 08:51] ljharb commented on #1233
There's no way for any linter to know what you're dynamically picking - you should instead destructure those out like `const { currentSubmission, addLocation, submissionFieldChange, cancelSubmission } = this.props;`, and then it'll be able to detect it.

[2017-06-03 21:15] SuEric commented on #1233
Maybe this is happening because that code is under a array.map() call?

[2017-06-04 00:18] senevirath commented on #447
`"parserOptions": {
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
      }
  }`

**ecmaVersion** is optional

[2017-06-04 02:25] ljharb commented on #447
I think ecmaVersion does need to be `6` or higher, but sourceType module probably sets that.

[2017-06-04 02:28] ljharb commented on #1233
No, it's because `someRandomPickFunction(this.props, 'any prop name')` is impossible to statically determine as accessing "any prop name" on `this.props`. That's metaprogramming, and metaprogramming obstructs linting.

The proper solution is to statically reference all prop names out of `this.props`, which then enables many kinds of static analysis to be done on it.

[2017-06-04 09:47] marcelmokos commented on #969
Same problem here.
I have modified the code to console.log decl if name is not string.
[code]
This is output
[code]

[2017-06-04 19:26] SuEric commented on #1233
I'm speaking about my issue. Is not dynamically called. Can you tell me what might be wrong? See my code comments above

[2017-06-04 22:15] ljharb commented on #1233
@SuEric ah, sorry. that doesn't seem to be the entire code; could you provide the entire render method?

[2017-06-04 23:39] SuEric commented on #1233
Hey @ljharb ;

I see problem is when accessing `this.props.propName` inside a `map`.. I was calling `props.dateFormatter` & `props.showAnswersBadge` inside this `props.questions.map((question) => {})`. In order to dissapear this Eslint error; I assigned `props.dateFormatter` & p props.showAnswersBadge` to some `const` variables.

*Is this expected behavior??*

Also, **PLEASE NOTE THE FOLLOWING**:

[2017-06-05 05:18] jseminck commented on #1233
Thanks. I managed to reproduce... Here's a more concise example what doesn't work:

[code]

If I remove ` {props.showViewsBadge && <div>Show views</div>}` then it will detect `showAnswersBadge`, but not `dateFormatter`.

If I remove also `{props.showAnswersBadge && <div>Show Answers!</div>}` then it will detect `dateFormatter`.

I'll see what I can do about this!

[2017-06-05 07:36] otakustay commented on #1224
Thanks for this hint, not arware that `.eslintrc` can reside in sub folders

[2017-06-05 07:36] #1224 closed

[2017-06-05 07:41] otakustay opened #1238 "Allow jsx-no-bind to ignore dom components"
In my point of view the `jsx-no-bind` rule is mostly for `PureComponent`, although there is consideration on GC performance, it should not be significant

In many cases, we need to pass some arguments to an event handler, for example:

[code]

This will trigger the `jsx-no-bind` rule, here we have 2 concerns:

1. If we are using a custom component in above code, we can pass `name` and `selected` t

[2017-06-05 10:11] chriswong commented on #1219
Working on it.

[2017-06-05 16:09] ljharb commented on #1233
I'm not seeing why you wouldn't want to destructure *everything* that comes out of props in the top line of `render`?

[2017-06-05 16:14] ljharb commented on #1219
One concern I have is that enabling this rule might encourage people to move clean inline jsx into renderFoo methods (instead of separate components, which would be the best).

It'd be great if this rule could also traverse to functions and instance methods to count the jsx; stopping counting only at component boundaries, not at function boundaries.

[2017-06-05 16:18] ljharb commented on #1238
The rule is for when you render anything that might be a PureComponent; not if the component in question is one.

When you need to pass a function to an event handler that varies on props/state, you should only use a constructor-bound instance method.

I do agree that ignoring DOM components in this rule makes perfect sense, though (as an option).

[2017-06-06 04:57] jseminck opened #1240 "Use template literals in tests"
This is a development related question. Since eslint has to support Node 4, and Node 4 seemingly has support for template literals (see http://node.green/). Is it ok to use this syntax in eslint-plugin-react? It would be much nicer to write:

[code]

Instead of the current approach - which is pretty annoying when writing big components:

[code]

Also it seems eslint itself already uses the templat

[2017-06-06 05:42] ljharb commented on #1240
Yes, absolutely it would. The change to drop node < 4 is recent, and we just haven't gone through and updated everything to use patterns node 4 supports.

We also have to go through and convert every `var` to `const` or `let`, for example, as well as convert inline function callbacks to arrows.

[2017-06-06 05:48] jseminck commented on #1240
Cool. It would be really nice to see the code-base more "modern". :)

I have been doing some `var` to `const`/`let` changes recently. I should hopefully get around to finishing that on Thursday or Friday.

[2017-06-06 06:40] ipiz commented on #1208
@ljharb
I'm not sure if this may help:
![image](https://cloud.githubusercontent.com/assets/1954163/26816755/f0b33942-4ac5-11e7-84f6-44463fb798ac.png)

[2017-06-06 06:41] ipiz commented on #1208
@ljharb  I'm not sure if this is the same issue
![image](https://cloud.githubusercontent.com/assets/1954163/26816831/4968a54a-4ac6-11e7-8f7a-034ebbbdc5e0.png)

[2017-06-06 06:46] ljharb commented on #1208
@ipiz it's `Button.propTypes`, not `Button.PropTypes`.

[2017-06-06 07:02] ipiz commented on #1208
My bad. Thanks @ljharb  That solves my issues.

[2017-06-06 08:00] ljharb commented on #1208
@sharbel-keyvalue could you provide the actual component code that's causing your warnings?

[2017-06-06 19:28] alaycock opened #1242 "Cannot read property 'type' of null error in no-array-index-key.js"
Version 7.0.1
The full stack trace can be found below.

![screen shot 2017-06-06 at 1 20 23 pm](https://user-images.githubusercontent.com/894797/26847609-ebf2295a-4aba-11e7-8f88-9989b3044691.png)

The issue occurs when I begin to add the key to this code:

          this.state.array.map((arrayItem, index) => (
            <div>
              <button onClick={() => this.delete(index)}>Delete this t

[2017-06-06 20:08] SuEric commented on #1233
@jseminck Thanks for reproducing it.

Like I said I removed those errors by assigning my `props` to some `const variables` before the `return ()` statement.

But was asking if this should be expected; maybe is more an enhancement than a bug? But I think it should really be able to detect its usage inside a `.map(()=>{})` call; it's supposed to analyze the code, so doesn't matter if there's nothing

[2017-06-06 20:33] psachs21 opened #1243 "Auto fix for jsx-max-props-per-line not in npm release"
Looking at a fresh install of this library (7.0.1) but jsx-max-props-per-line does not contain an auto fix. The source on github does. I suspect something wonky happened in the last publish. Copy and pasting the rule into my node_modules works fine.

[2017-06-06 20:35] psachs21 commented on #1243
NVM, misread the blame, thought this was supposed to be released.

[2017-06-06 20:35] #1243 closed

[2017-06-06 23:42] ljharb commented on #1233
I think there's a limit how much static analysis can be done to determine where props are used in the render path; the proper solution imo is to always destructure all props and state at the top of every instance method you use them in.

[2017-06-06 23:43] ljharb commented on #1242
So, setting aside "errors while you're typing", which isn't something that needs supporting, it looks like `<div key />`inside a `.map` throws this error?

[2017-06-07 03:27] alaycock commented on #1242
Exactly. It looks like the variable which holds the value is null, which throws the TypeError.

[2017-06-07 04:44] jseminck commented on #1242
Confirmed by adding a test case:

[code]

But... should it be valid, or invalid? According to this specific rule I guess it should be valid, since it's not assigning the index to the key... but then again, just having `foo.map((bar, i) => <Foo key />)` seems wrong?

[2017-06-07 05:27] ljharb commented on #1242
In that case, it's setting the `key` to `true` - which is not a use of the index. Separately, it's making the key be the same, which defeats the purpose - but ensuring the key is unique across items is something that React could check at runtime, not something a linter rule could reliably enforce.

[2017-06-07 05:47] otakustay commented on #1219
Tracing function calls may not be easy, is it acceptable that we first implement the basic rule, then add a `trackFunctions` in the future?

Further more, I may propose a `prefer-comopnent-to-function` rule which warns on function calls that can be replaced with components

[2017-06-07 12:38] idangozlan opened #1245 "When using props as array, it's giving an error"
[code]

When removing the `eslint-disable-line`, keep getting errors, any suggestions?

[2017-06-07 20:00] ljharb commented on #1245
What errors do you get?

It looks like you're dynamically extracting prop values; there's no way a linter could know that's what you're doing. It'd be better to either hardcoded them everywhere, or, dynamically compute them everywhere.

[2017-06-07 21:12] idangozlan commented on #1245
I just want to verify that this is the only option, as I though...
Thanks!

[2017-06-07 21:12] #1245 closed

[2017-06-07 21:50] #1242 closed

[2017-06-07 22:07] SuEric commented on #1233
Sorry @ljharb I'm not getting this:

What's the limit problem?  😱 🤔

Sorry just for me doesn't make sense to me having to "destructure"  props by setting it to a const variable each time I'll do some `.map(()={})` operation.

[2017-06-07 23:52] ljharb commented on #1233
Maintaining a state machine in the linter rule to backtrack whenever a `this.props` reference is seen, and then later only warning on unseen ones, is a bit tricky. If it seems easy you are more than welcome to submit a PR that enhances the rule!

In general, though, destructuring all props and state at the top of the function makes things more readable - it places them right next to the arguments,

[2017-06-08 04:37] camjc opened #1246 "Alignment bug?"
Hey, I think this should be picked up but its not:

[code]
I figure `</Clickable>` should have six spaces behind it.

[2017-06-08 08:39] dzhytomyrsky opened #1247 "False indentation, when use jsx-closing-bracket-location --fix"
Hello! Used fixer for this code:

        `const stack = notifications.map((notification, index) =>
            (<Notification
                actions = { actions }
                content = { notification.get('content') }
                heading = { notification.get('heading') }
                icon = { notification.get('icon') }
                id = { notification.get('id') }
                ind

[2017-06-08 08:46] dzhytomyrsky opened #1248 "npm package release with jsx-max-props-per-line --fix"
Hello!

Guys, when will you update npm package with jsx-max-props-per-line --fix, which was added 20 days ago? It will be cool to get this feature via npm package, because it is super-duper useful!

As I see from https://github.com/yannickcr/eslint-plugin-react/pull/949 and https://github.com/yannickcr/eslint-plugin-react/issues/1243 it is ready and valuable!

[2017-06-08 11:47] dzhytomyrsky commented on #1247
Fixed with

react/jsx-closing-bracket-location: [1, {"selfClosing": "line-aligned", nonEmpty: "after-props"}]

[2017-06-08 11:47] #1247 closed

[2017-06-09 05:20] jseminck commented on #1246
Confirmed it does not complain about this being incorrect. Luckily, it also does not give any warnings/errors when the code is formatted correctly. :)

Will investigate!

[2017-06-10 04:58] mehdivk opened #1249 "Extend "jsx-boolean-value" to support optional "ignore" list"
It would be great if we could configure `jsx-boolean-value` to ignore a list of props.

### Example
[code]

This allows the following expression to be valid

[code]

And if you wonder why I'm not using a prop like `toggled` instead of `value`, it's because we want to have a set of components that support the same prop.

I'm more than happy to support the idea with a PR.

[2017-06-10 05:38] ljharb commented on #1249
why wouldn't you want to do `<Toggle value />`?

[2017-06-10 05:40] mehdivk commented on #1249
Good question. I think `<Toggle value />` has some readability issues. For props that ends with `ed` (E.g. checked, toggled, disabled etc) it makes sense to drop `{true}` but not for something like `value`.

[2017-06-10 07:13] ljharb commented on #1249
It sounds like then you wouldn't want "ignore", you'd instead want a setting that enforced "always" for that prop.

[2017-06-11 00:08] mehdivk commented on #1249
Yes, I want to use a mix of `always` and `never` in my project.

This should cause lint error
[code]

but this should pass the linting
[code]

and this should cause lint error
[code]

[2017-06-11 01:54] ljharb commented on #1249
Although I don't personally agree with that style, an option to the rule to allow this works.

What about, only with "always", a "never" option - and only with "never", an "always" option? Both options would be a unique array of prop names.

[2017-06-11 02:07] timhwang21 commented on #1249
Timothy Hwang liked your email
Spark by Readdle

[2017-06-11 05:34] ljharb commented on #1249
PR up: #1250

[2017-06-11 06:22] mehdivk commented on #1249
Thanks for the PR @ljharb

[2017-06-11 15:04] #1206 closed

[2017-06-11 16:34] ljharb commented on #1206
(Done in #1215)

[2017-06-11 17:28] #857 closed

[2017-06-11 17:28] ljharb commented on #857
Fixed in #1177

[2017-06-11 17:32] fatfisz commented on #1007
This is fixed in #1177.

[2017-06-11 18:18] #1007 closed

[2017-06-12 08:59] prewk commented on #857
Awesome! Will you publish sometime today?

[2017-06-12 11:59] ljharb commented on #857
That's up to @yannickcr

[2017-06-12 12:15] iarroyo5 opened #1251 "Support to eslint v4"
`eslint v4.00` has been released, will there be a close upgrade to support the new version ?

[2017-06-12 12:22] yannickcr commented on #1251
This plugin should already work with ESLint 4.0.0 since `v7.0.1`. Official support (no peerDependencies warning) is already merged and should be released with the next version (most likely today or tomorrow).

[2017-06-12 12:44] iarroyo5 commented on #1251
Perfect! Thanks.

[2017-06-12 13:41] Andarist opened #1252 "Autofix: jsx-sort-props"
From what I see this rule is yet not autofixable. I'll try to file a PR with it, need to investigate code a little bit first.

Leaving for myself a somewhat similar PR as a point of reference - https://github.com/yannickcr/eslint-plugin-react/pull/608/files

[2017-06-13 00:01] rosskevin commented on #1178
This should be reopened, still a problem with the same stack on version 7.0.1.  I'll see if I can add a test PR that demonstrates it, I suspect it is due to the use of `$Exact<>` or shorthand `{||}`.

[2017-06-13 00:13] rosskevin commented on #1178
I've pulled master, I see `{...data}`, `{|...data|}` are working, I added `{...$Exact<data>}` and it too works, so my hunch was wrong.  I'll keep looking.

[2017-06-13 00:35] rosskevin commented on #1178
I've reproduced, it is the same thing I've found with flow plugins: I am spreading a type imported from a libdef (like flow-typed) and it is unresolved, therefore there are no children from the imported shape:

<img width="1237" alt="prop-types_js_-_ui_-____projects_ui__-_webstorm_2017_2_eap" src="https://user-images.githubusercontent.com/136564/27060985-3fcf97ca-4fa6-11e7-8ee1-4dbc19910cdf.png">

[2017-06-13 03:12] ljharb commented on #1251
The peer dep would need to be `^3 || ^4` for it work with both v3 and v4.

[2017-06-13 16:55] miraage commented on #976
Using `recompose` package also triggers this as false-positive because `props` are used outside component (e.g. `import { lifecycle } from 'recompose';`)

[2017-06-13 17:55] rosskevin commented on #1178
I've discovered that this problem is not isolated to libdefs, code that is present inside my project is failing to be validated using the object type spread, it appears to be because `iterateProperties()` makes no attempt to flatten the type, and  it calls `fn(undefined, undefined)` as the key/value.

I think this method will need to check if it is indeed an object type spread and flatten it in-li

[2017-06-13 18:26] rosskevin commented on #1178
I finally debugged my case close enough to add a test that breaks the current `master`.  It's a nested spread that breaks this code and proves this should be reopened.

[code]

[2017-06-13 18:36] ljharb commented on #1178
@rosskevin would you open a new issue for that, that links back to this one? The OP is fixed; your issue is slightly different :-)

[2017-06-13 18:48] frenchie4111 commented on #1251
Can someone `npm publish` this change please?

[2017-06-13 18:49] rosskevin opened #1255 "[prop-types] nested flow object type spread crashes"
Essentially the same presentation as #1178, but slightly different (nested or alias) case as proven by PR #1254.

-----

[code]

I finally debugged my case close enough to add a test that breaks the current `master`.

[code]

[2017-06-13 19:32] yannickcr commented on #1251
Just published `v7.1.0` with ESLint 4.0.0 as peer dependency.

[2017-06-13 19:32] #1251 closed

[2017-06-13 19:34] yannickcr commented on #1248
Released in `v7.1.0`, sorry for the delay.

[2017-06-13 19:34] #1248 closed

[2017-06-13 21:08] rosskevin commented on #1255
PR #1256 submitted with fix.

[2017-06-13 21:49] hellocreep opened #1257 "[prop-types] Throw `is missing in props validation` when reassign `this.props` to `props`"
Hello!

Got an strange behavior when assign `this.props` to `props`, it will throw an error message `is missing in props validation`.
And seems it only happens when use `const props = this.props`.

eslint: 4.0.0
eslint-plugin-react: 7.1.0

This piece of code will throw an error.
[code]
[code]

This is no error.
[code]

This is no error.
[code]

Even this is no error.
[code]

[2017-06-14 00:05] ljharb commented on #1257
I would instead recommend `const { isReturning, departureDate } = this.props`.

[2017-06-14 00:05] ljharb commented on #1257
(That said, this sounds like something worth fixing)

[2017-06-14 01:43] davidtheclark opened #1258 "Move getStandardName logic from no-unknown-property into separate package"
The [`getStandardName` function](https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/no-unknown-property.js#L152-L170), which converts HTML attributes to their JSX equivalents, is widely useful outside of this module. There are lots of modules on npm that implement this themselves, in more or less complete form — they would all benefit from sharing a small and focused package th

[2017-06-14 01:53] #1255 closed

[2017-06-14 02:18] ljharb commented on #1258
I think that it makes much more sense for React to own this, than for anyone in the ecosystem to do so - since React has the same logic internally. `enzyme` could also benefit from this.

@gaearon et al, what do you think?

[2017-06-14 11:33] Justkant opened #1259 "react/prop-types false positive when using props to access array element"
Hi everything is here:
<img width="692" alt="capture d ecran 2017-06-14 a 12 26 59" src="https://user-images.githubusercontent.com/3009753/27130225-ba197c02-5105-11e7-9e5c-2b5cdfd727e8.png">

[2017-06-14 19:05] ljharb commented on #1259
I don't see the propTypes for `Setup`?

also, please provide code in text form, instead of screenshots :-)

[2017-06-14 21:39] Justkant commented on #1259
Hi,

1. I understand that you prefere text instead of screenshots. It was just for saving time at work.

2. You have no need to see the propTypes for `Setup` because this is not the problem.

3. As you can see in the screenshot Left & Right are both destructured from steps not from props.

Code:

[code]

[2017-06-14 21:45] Justkant commented on #1259
Tomorrow, I'll try this:

[code]

To confirm that the problem occurs when using some props as an index key and destructuring.

[2017-06-15 01:08] ljharb commented on #1259
I definitely think that `const { current } = props;` will fix it, but thanks, I think this makes the bug clear :-)

[2017-06-15 23:03] mockdeep opened #1262 "no-danger-with-children false positive with newline in element"
The following reports an error on the `no-danger-with-children` rule:

[code]

I would expect if there is a newline between the opening and closing tag that the rule would not complain.

[2017-06-15 23:29] ljharb commented on #1262
That's still considered "children", afaik - why not `<div dangerouslySetInnerHTML={'<span>stuff</span>'} />`?

[2017-06-16 01:41] mockdeep commented on #1262
Ah, I didn't realize we could do self-closing divs in jsx. Still, I don't think newlines between tags are considered children. Hacked together this quick test:

[code]

[2017-06-16 04:17] ljharb commented on #1262
Fair point - both your example and https://jsfiddle.net/ljharb/69z2wepo/80986/ implies it's a bug in eslint-plugin-react.

[2017-06-16 17:18] mockdeep commented on #1262
Ha, nice. I started typing `ReactDOM` and then fell back to what I knew off the top of my head.

[2017-06-16 18:30] janpaul123 commented on #935
Alternatively, the `forbid-component-props` rule could be more like the `forbid-prop-types` rule, where we check it when defining prop types, instead of when instantiating a component. That way you can easily ignore the rule in legitimate cases, without having to ignore the the rule every single time you use the component.

[2017-06-16 22:58] alexilyaev opened #1263 "no-unescaped-entities: Add exception for children content"
The rule [no-unescaped-entities](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-unescaped-entities.md) warns on these characters inside JSX:
[code]

But it looks like Babel handles them pretty well when used as children content:
https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015%2Creact&targets=&browsers=&builtIns=false&debug=false&code_l

[2017-06-16 23:08] ljharb commented on #1263
"This rule prevents characters that you may have meant as JSX escape characters from being accidentally injected as a text node in JSX statements." - it's not because those entities are invalid, it's because it's impossible to know from looking at it if you meant it, or made a mistake.

In other words, they're not OK, because the programmer's intention is not clear.

[2017-06-17 13:22] VinSpee commented on #1207
I think this is likely related:

running `--fix` on this code:

[code]

results in

[code]

when I would expect

[code]

is this the responsibility of this rule?

[2017-06-17 16:33] ljharb commented on #1207
I would also expect the latter.

Which rule is warning on it if you omit --fix?

[2017-06-18 00:35] alexilyaev commented on #1263
I see, more complicated than I though.

Can we add an `exceptions` or `ignore` property?

This way I could for example ignore `'`, since we only use `"` for attributes, and `'` is too common in our texts.

[2017-06-18 04:59] ljharb commented on #1263
Why are you using straight quotes in your text? That's typographically invalid - you should only be using `“ ” ‘ ’`.

[2017-06-18 10:03] hazratgs commented on #948
Try it like this
`ref={arg => (this.deleteBtn = arg)}`

[2017-06-18 10:43] alexilyaev commented on #1263
@ljharb 2 reasons:
1. Texts I receive from external resources (content creators, product manager, marketing)
2. I write a ton every day, if I had to press an unfamiliar key combination for every `'` and `"` I would go insane. It's true that for code I could make the exception, but point 1 still stands.

[2017-06-18 16:16] ljharb commented on #948
That's still returning an assignment. If the eslint rule allows that, it's a bug in the rule.

[2017-06-18 16:26] ljharb commented on #948
Ah, it turns out `no-return-assign` defaults to an option of "except-parens". I strongly encourage you to set that to "always" instead.

[2017-06-18 16:41] ljharb commented on #1263
If external resources provided you with text that had spelling and grammar errors, wouldn't you want to fix those? Using straight quotes in text is a typography error.

Re point 2, you can trivially set up your computer to autocorrect straight quotes to curly quotes in non-code contexts.

In general, I think that if you want exceptions to this rule, you'd be better off just disabling it.

[2017-06-18 22:34] alexilyaev commented on #1263
Just clicked the [Terms](https://help.github.com/articles/github-terms-of-service/) link at the bottom of this page, are these `'` proper quotes or just `'`?
[Google Privacy](https://www.google.com/policies/privacy/) does use proper quotes.

Even if I changed my system, I can't change all my client's systems, too many unrelated people involved.

I would very much want to catch `>` and `}` as these

[2017-06-19 03:04] ljharb commented on #1263
Indeed, lots of sites use straight quotes when they shouldn't - linters are for those who want to do the right thing :-)

I'd definitely not want an option that allowed for generic configurability, because many of the characters the rule blocks would be dangerous to allow - but I wouldn't block an option that specifically allowed straight quotes, if other collabs are inclined to add it.

[2017-06-19 08:04] fab1an commented on #454
eslint 4 broke this somehow.

[2017-06-19 18:04] blissdev commented on #915
I've encountered the same issue where after the ESLint 4 upgrade, the JSX and ESLint indent levels have to match up otherwise there are conflicts.

[2017-06-19 20:42] michaelgmiller opened #1265 "Support eslint v4"
When installing with eslint@4.0.0, I get:
npm WARN eslint-plugin-react@7.0.1 requires a peer of eslint@^3.0.0 but none was installed.

[2017-06-19 20:44] #1265 closed

[2017-06-19 20:45] michaelgmiller commented on #1265
Whoops, looks like this was addressed already!

[2017-06-20 06:22] ljharb commented on #454
@fab1an please file a new issue.

[2017-06-20 19:55] flats opened #1266 "Most propType rules do not support propTypes wrapped in a function"
https://github.com/yannickcr/eslint-plugin-react/pull/1253 added support for `propTypes` wrapped in a function to `no-unused-prop-types`. Similar support does not exist for other `propType` rules such as `sort-prop-types`, `forbid-prop-types`, and `require-default-props`. This came up a result of https://github.com/airbnb/prop-types/issues/23.

@ljharb's suggestion to move the `propWrapperFunction

[2017-06-21 03:40] mrm007 commented on #816
@ljharb How can we help? I can take a stab at it if you point me in the right direction.

[2017-06-21 04:20] ljharb commented on #816
@mrm007 i'd start by adding the relevant test cases to `no-unused-prop-types`, and then try to make them pass :-D

[2017-06-21 04:24] mrm007 commented on #816
It's this kind of snark that I came here for. Thanks!

[2017-06-21 04:27] ljharb commented on #816
@mrm007 i realize the tone is snarky, but i'm quite serious - that's the best way to go about fixing it. I'm not actually sure beyond that what AST parsing changes you might need to make to fix the issue; otherwise i'd have made a PR myself :-)

[2017-06-21 12:25] valentin-radulescu-hs commented on #1164
I think this will be fixed in https://github.com/yannickcr/eslint-plugin-react/pull/1223

[2017-06-21 20:46] ljharb commented on #1164
Closed in #1223.

[2017-06-21 20:46] #1164 closed

[2017-06-21 23:57] healqq commented on #885
I might do something wrong but this shows onItemClick propType not to be used:
[code]

[2017-06-22 00:06] BarryThePenguin commented on #885
@healqq looks legit. I'd recommend opening a new issue

[2017-06-22 16:34] cjhoward92 opened #1267 "Getting an error when explicitly turning off reservedFirst or noSortAlphabetically on jsx-sort-props"
versions:

`"eslint-plugin-react": "7.1.0"`
`"babel-eslint": "7.2.2"`
`"eslint": "3.19.0"`

When I try to run the following config I get two errors:

`"react/jsx-sort-props": [2, { "reservedFirst": false, "noSortAlphabetically": false }]`

Error:

[code]

I have tried many different configurations, like:

[code]

The reason I am explicitly setting the rule is because it appears that `reservedFirst

[2017-06-22 16:41] ljharb commented on #1267
Just to confirm; are you sure you're not inheriting settings from anywhere else?

`reservedFirst` can only be an array or a boolean; it defaults to `false`.

Can you confirm that `npm ls` exits successfully?

[2017-06-22 16:44] cjhoward92 commented on #1267
`npm ls` fails on some internal packages.

[2017-06-23 00:21] jaromero opened #1268 "no-unused-prop-types false positive in functions that can return JSX in stateless components"
eslint version 3.19.0
eslint-plugin-react version 7.1.0

This minimal example causes eslint to incorrectly flag `props.append` as never used:

[code]

I've noticed that the following things don't trigger the false positive:

* Calling `buildText` with a literal, e.g. `buildText('hello')`
* Calling `buildText` with a variable that doesn't ultimately come from props: `const hello = 'hello'; buildTex

[2017-06-23 05:25] ljharb commented on #1267
When `npm ls` exits nonzero, nothing can be expected to work properly, and often in the eslint ecosystem people can have incorrect peer deps installed.

[2017-06-23 15:45] cjhoward92 commented on #1267
I believe my peer dependencies to be correct for `eslint` and all of my plugins. I made a point to verify that. However I will do some digging into why `npm ls` fails and see if that resolves the issues.

[2017-06-23 17:13] not-an-aardvark opened #1269 "jsx-no-target-blank crashes on empty `rel` attribute"
Using `eslint@4.0.0` and `eslint-plugin-react@7.1.0`, the `jsx-no-target-blank` rule crashes on the following code:

[code]

This can be reproduced with:

[code]

This is a very minor issue, since I don't know of a good use case for having an empty `rel` attribute. I only noticed it because a crash notification appeared in my editor.

[2017-06-23 20:54] TrevorSayre commented on #885
[code]

`'onLoad' PropType is defined but prop is never used (react/no-unused-prop-types)`

[2017-06-23 21:31] TrevorSayre commented on #976
[code]

`'onLoad' PropType is defined but prop is never used (react/no-unused-prop-types)`

[2017-06-23 22:39] ljharb commented on #1267
Alternatively, if you can come up with test cases that don't [already exist](https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/jsx-sort-props.js) that fail, that would be super helpful!

[2017-06-23 22:57] cjhoward92 commented on #1267
When I get back to this I will definitely verify the test cases. If I find anything I will submit a PR.

[2017-06-23 23:22] BrodaNoel opened #1270 "Should ignore HTML slashes"
Hi guys!

I'm getting:
[code]

This is my line 98:
[code]

Those `&#47;` are literally wrote in that way.

See you!

[2017-06-23 23:45] ljharb commented on #1270
The proper solution is `{'//'}`, as opposed to encoding entities directly.

[2017-06-25 04:34] dustinsoftware commented on #1257
Has this already been fixed? I can't repro this issue with the latest commits on master.

[2017-06-25 23:12] nsisodiya opened #1275 "Which rule should to get error for `React is not defined`"
[code]
I want to get ESlint error on above code that `React is not defined`.
Which rule should I use?

[2017-06-25 23:23] ljharb commented on #1275
`react/jsx-uses-react`

[2017-06-26 00:43] nsisodiya commented on #1275
I solved my issue using -
react/react-in-jsx-scope

[2017-06-26 01:37] ljharb commented on #1275
Looks like both rules are good here :-)

[2017-06-26 01:37] #1275 closed

[2017-06-26 07:11] #1266 closed

[2017-06-26 12:23] Hypnosphi commented on #785
This makes the rule effectively useless =(

[2017-06-26 13:22] Hypnosphi commented on #785
In fact, it only works if you call some method, like `findDOMNode(this).scrollIntoView` but doesn't otherwise

[2017-06-26 16:05] #1269 closed

[2017-06-26 18:08] #785 closed

[2017-06-26 18:30] #1249 closed

[2017-06-26 18:44] lencioni commented on #1258
It seems like this might make sense for [jsx-ast-utils](https://github.com/evcohen/jsx-ast-utils). @evcohen thoughts?

[2017-06-26 21:10] ljharb commented on #1258
Fwiw, this already exists in `airbnb-prop-types` - [`require('airbnb-prop-types/build/helpers/getComponentName')`](https://unpkg.com/airbnb-prop-types@2.7.0/build/helpers/getComponentName.js). It'd just be better if it was a canon React implementation instead.

[2017-06-26 22:17] gaearon commented on #1258
In React we're trying to gradually move away from whitelists so I don't think we'll want to take on maintaining something like this (and thus making it seem like we encourage libraries to use it). It makes sense for tools but I think the community would do a better job of maintaining lists for ESLint etc. We don't often change those.

[2017-06-26 22:51] ljharb commented on #1258
@gaearon in general terms, as the community creates packages like that, would react be willing to commit to adding regression tests for them, to prevent unknown breakage when react makes a new release? That's really the sole reason I think it'd be important to have it be "from React".

[2017-06-26 23:39] gaearon commented on #1258
Can you create an issue in React repo? I'm not sure I fully understand what you're proposing.

[2017-06-27 01:41] evcohen commented on #1258
@lencioni most of `jsx-ast-utils` is specific to the AST, but we have added whitelists before for [event handlers](https://github.com/evcohen/jsx-ast-utils#eventhandlers). Would be happy to maintain this list and function if it benefits the community!

[2017-06-27 02:03] davidtheclark commented on #1258
@lencioni @evcohen: I'm not sure why https://github.com/noraesae/react-attr-converter doesn't do the job. It could be incorporated into `eslint-plugin-react`, `jsx-ast-utils`, etc. Seems preferable to me to have a single-focus package for this, which other projects can then depend on.

[2017-06-27 06:44] ljharb commented on #1258
@gaearon https://github.com/facebook/react/issues/10051

[2017-06-27 13:26] evcohen commented on #1258
@davidtheclark that works just fine! there are tradeoffs for both, but I'm cool with that just as long as whoever owns that package is committed to maintaining it.

[2017-06-27 17:51] #1076 closed

[2017-06-27 19:56] klimashkin opened #1279 "jsx-wrap-multilines: option to exclude selfclosing components"
Hi!
We have a lot of selfclosing components that can be assigned to variables and have line break between attributes, like
[code]
I don't want to wrap such components in parens, but want to wrap multiline components that have children
[code]

Today jsx-wrap-multilines just enforce parens on any multiline components, would be great to have option to ignore selfclosing ones. And maybe each current o