[2017-06-27 20:07] klimashkin commented on #1279
Related suggestion is to enforce parens if component starts on the next line after declaration, doesn't matter if it multiline or not.

[code]
But
[code]

[code]

[code]

Or maybe it should be handled by different rule

[2017-06-27 20:11] klimashkin commented on #398
Currently such indentation is default one in WebStorm - it's clear and convenient.

Really want to have rule config like
[code]
and for example
[code]

[2017-06-28 00:18] ljharb commented on #1279
What's the rationale for not wrapping multiline jsx in parens just because they don't have children?

The rationale *for* wrapping it is that the parens form a group across multiple lines, aiding readability.

[2017-06-28 05:14] #1053 closed

[2017-06-28 09:44] elgubenis commented on #1154
You can change the order yourself, documented here: https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/sort-comp.md#rule-options

[2017-06-28 15:13] jeffvandyke commented on #1049
It's WAY too strong of a rule, IMO. I've got an array of strings, how can I possibly concisely display it in a list of <li>'s without using index as the key? It's simply the cleanest way to do it without React throwing a warning.

I still can't think of how you could determine if a component is "simple enough" to not have a useful id field. That would be best, if possible, but I don't think it is.

[2017-06-28 18:09] jeffvandyke commented on #1049
As a matter of fact, at the bottom of the [Keys section in React docs](https://facebook.github.io/react/docs/lists-and-keys.html#keys), it explicitly says: "When you don't have stable IDs for rendered items, you may use the item index as a key as a last resort". For my use case above, which is not rare, what better alternative is there?

[2017-06-28 18:50] ljharb commented on #1049
@jeffvandyke you can use the string itself as the key, if they're unique. Obviously if they're not unique, you'd need an index - at which point, you'd use an override comment.

It is definitely appropriate to have an eslint rule that works for the 99% case, but requires an override comment for the 1% case - it happens a lot.

[2017-06-28 19:43] jeffvandyke commented on #1049
So I've thought through this a bit, and I'm willing to grant that perhaps my project is a bit more unique, but I find that even after having some element-based keys as you suggested, about 40% of my project's `map(...)` calls are on arrays of simple data types that are unsuitable as keys due to their non-uniqueness. The arrays are mostly generated from processing raw data where the position in the

[2017-06-28 21:49] ljharb commented on #1049
You could always disable the entire rule project-wide; since based on what you're describing, the rule isn't adding value for you.

[2017-06-30 01:25] JonathonAshworth opened #1280 "'(react/prop-types): Missing in props validation' when props contain a flow 'map' object"
When using objects as maps (see: https://flow.org/en/docs/types/objects/#toc-objects-as-maps) in props, I seem to be getting 'missing in props validation' errors on all of the keys in the map. Is this intended behaviour or a bug?

[code]

[2017-06-30 05:28] ljharb commented on #1280
In propTypes, nested objects are invalid unless they're `PropTypes.shape`s. I assume nested objects in Flow types are valid for Flow.

If so, this sounds like a bug.

[2017-07-01 03:59] bradennapier commented on #1009
Hmm - yet the documentation for Flow / React specifically tell you to use default values this way and actually would not support propTypes.

[code]

[2017-07-01 05:01] ljharb commented on #1009
The documentation for React suggests a number of bad practices amidst all the good ones - just because they make the framework doesn't mean they're always right :-)

[2017-07-01 07:07] bradennapier commented on #1009
#truth -- I switched to using defaultProps already and working well. Would be cool to have a plugin to automatically convert to defaultProps in this situations -- although I know there could be times default parameters are the desired effect (when it executes a function, etc).

[2017-07-02 17:05] hatched commented on #1257
After updating to eslint@4.1.1 and eslint-plugin-react@7.1.0 I am still able to reproduce the issue using the provided code.

Converting it to use `extends` has also resolves the issue:
[code]

So it appears to be limited to assigning `const props = this.props` when using `createClass`.

[2017-07-02 21:05] ljharb commented on #1257
createClass is deprecated; so you shouldn't be using it anyways.

That said, the bug should still be fixed.

[2017-07-03 01:48] hellocreep commented on #1257
Thanks @hatched and @ljharb , I think that makes sense to me.

[2017-07-03 08:17] PsiXdev opened #1282 "jsx-wrap-multilines and conditional rendering"
Hi! What do you think about using conditional rendering in this form?
[code]
(example from https://facebook.github.io/react/docs/conditional-rendering.html#inline-if-with-logical--operator)

Perhaps the rule should dictate a next style?
[code]

Now the first option will not lead to a warning. Even if it's right, what do you think about the first and second examples?

[2017-07-03 08:31] ljharb commented on #1282
I agree that this rule should enforce the second example. To make it non-semver-major, we'd need to add a new option `conditional`.

[2017-07-03 22:13] dustinsoftware commented on #1257
I was able to repro this behavior, but it looks like it might be by design.

Passes:
[code]

Fails if `createClass` is removed from `settings.react`.

This appears to be because, during the unit tests, the default function name for creating React components is set to `createReactClass`. If the function name used to create the component doesn't match what's defined in settings, the linter thinks th

[2017-07-04 01:08] ljharb commented on #1257
This seems right.

However. Perhaps `createClass` is a better default value for that pragma.

[2017-07-04 09:55] Wildhoney commented on #1053
@TrevorSayre similar for me &mdash; using `eslint-plugin-react@7.1.0`.

[2017-07-04 20:49] #1262 closed

[2017-07-04 21:30] DianaSuvorova commented on #1162
I will work on it.

[2017-07-05 08:23] jseminck commented on #1282
Taking a look at this.

[2017-07-05 09:44] julienw commented on #894
I think you wanted to mention `’` instead of `‘` :)

[2017-07-05 10:53] dferber90 opened #1283 "Use PropTypes from prop-types package instead of react"
This is a proposal for a new rule which warns when `PropTypes` is imported from `react`.

#### Reasoning behind rule
As stated in the [docs](https://facebook.github.io/react/docs/typechecking-with-proptypes.html):

Developers should not use the deprecated import.

#### Implementation
[code]

#### Questions
- Would you accept a PR adding this rule? If so, is there a name suggestion?
- Should suppor

[2017-07-05 12:07] jseminck commented on #1283
Maybe it can be added under the `no-deprecated` rule? There is already support to error using `myProp: React.PropTypes.string`.

[2017-07-05 12:20] dferber90 commented on #1283
Wasn't aware of `no-deprecated` and we didn't upgrade our React version in the shared settings. Closing as it works now 🙌

[2017-07-05 12:20] #1283 closed

[2017-07-05 12:22] jseminck commented on #1207
While looking into: https://github.com/yannickcr/eslint-plugin-react/issues/1282 - I also ran into some of the issues mentioned above.

When fixing the following:

[code]

The current auto fixer would return:

[code]

Which IMHO looks rather ugly. And I could not find any other ESLint rule that would format this into what we want (see below). I did manage to write the fixer in a way that it return

[2017-07-05 17:46] jseminck opened #1286 "Build for master is broken"
Last build on travis (21hrs ago) was successful: https://travis-ci.org/yannickcr/eslint-plugin-react/builds/250125668

However, when I try to run tests on master I get two failures (see below). Not sure what is up? Some newer version of a dependency that got updated was my first guess, but I could not find which.

[code]

To reproduce:

[code]

Also TravisCI PR builds are broken, e.g: https://trav

[2017-07-05 19:48] ljharb commented on #1286
I can't reproduce that issue locally; I've reran the master build. If that passes, then it's not a transitive dependency being updated.

What version of node are you using?

[2017-07-05 19:59] ljharb commented on #1286
Since the travis master build failed, this time I `rm -rf node_modules && npm install`, and now I can reproduce it.

[2017-07-05 21:41] david-mitchell opened #1287 "no-danger-with-children crashes with `undefined` second argument."
This code works just fine with `eslint`:

[code]

while this code (which Typescript encourages)

[code]

Results in a crash with this stacktrace

[code]

I've created a minimal repository that illustrates this issue at https://github.com/david-mitchell/eslint-plugin-react-bug

[2017-07-05 21:42] ljharb commented on #1287
Thanks! In JS, it's idiomatic to use `null` over `undefined`, but both should work.

[2017-07-05 21:44] ljharb commented on #1286
Fixed by 65b746edb07080ac3a8c66cd12c532f1a1adc5cb

[2017-07-05 21:44] #1286 closed

[2017-07-05 22:03] jseminck commented on #1286
Nice. I suppose the issue was a release of acorn? https://www.npmjs.com/package/acorn (which is a dependency of espree).

What about introducing yarn or npm5 to generate a lockfile? (I believe npm5 also generates it by default, but haven't used it yet)

[2017-07-05 22:11] #1287 closed

[2017-07-05 22:23] david-mitchell commented on #1287
@yannickcr, can you comment on why this issue was closed?

This is a bug that causes a crash in `eslint`, and I provided a very thorough reproduction.

[2017-07-05 22:24] david-mitchell commented on #1287
I missed the fix. Nevermind.

[2017-07-05 22:25] ljharb commented on #1286
Absolutely not; only apps should have lockfiles, never published packages.

[2017-07-06 00:46] michaeljota commented on #963
I just going to made another useless comment just to point out this is badly needed, as sometimes you need to access to props to set the state or something, and the linter will show this as an error (For your point, I realice that I did not actually use the props to set the state, but for resolve the state value).

However, with #943 this would be necessary.

[2017-07-06 07:29] rhys-vdw opened #1288 "`react/prop-types` false positive with local variable `props`"
Apparently a local variable called `props` will be incorrectly considered to be passed props in a functional component.

[code]

[code]

Following is fine:

[code]

[2017-07-06 07:34] ljharb commented on #1288
Worth fixing, but I have no idea why you'd ever want a variable called "props" in a React component :-)

[2017-07-06 07:43] rhys-vdw commented on #1288
@ljharb FYI

[code]

[2017-07-06 07:47] ljharb commented on #1288
(`cardProps` seems like the better name, since `props` looks like it's the GenericThankYou props 😉)

[2017-07-06 07:48] rhys-vdw commented on #1288
(agreed, but I decided to report it anyway)

[2017-07-06 21:00] maurolionel commented on #1157
Running into the same issue, not sure on how to disable eslint react rule only for this... any ideas?

[2017-07-07 17:01] alexkrolick commented on #1257
Also reproducible if you destructure `this`:

[code]

Sometimes it is nice to keep props namespaced.

Anyways, here's the line: https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/no-unused-prop-types.js#L110

This would be fixed if `props.yyy` was allowed in class contexts as well as stateless components

[2017-07-09 06:08] nwoltman opened #1290 "`react/jsx-curly-spacing` rule crashes ESLint 4.2.0"
It looks like something changed (or broke) in how ESLint handles schemas between 4.1.1 and 4.2.0.

When I try to run ESLint with the rule enabled like so

[code]

I get the following error

[code]

[Quick link to the `react/jsx-curly-spacing` schema](https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-curly-spacing.js#L34)

**Update:** I'm guessing eslint/eslint#8852 was the

[2017-07-09 09:06] jseminck commented on #1290
Running tests today also causes an issue. At first I thought it was related to me being on a Windows machine (haven't been on a Windows machine in a while), but I guess not:

[code]

[2017-07-09 15:35] ljharb commented on #1290
Refs are great; if they stopped working within the v4 line it's a bug with eslint.

[2017-07-09 15:35] ljharb commented on #1290
Please file a bug with them about the breaking change, and link it here?

[2017-07-09 16:50] nwoltman commented on #1290
Looks like someone already did - eslint/eslint#8908

[2017-07-09 17:20] jseminck commented on #1290
Sorry, I forgot to link it. I asked first on Gitter (totally forgot about that) but then was also suggested to raise an issue on the eslint repo.

Additionally I tried various different approaches to get the schema to pass but no luck (e.g. moving `definitions` to the root of the object).

[2017-07-09 18:59] jseminck commented on #1290
It seems like we cannot use `$ref` inside schema when it is an array.  It should work again when a fix for `ajv` is released (no error) but the warnings are just being ignored instead.

See these discussions for more info:
https://github.com/eslint/eslint/pull/8852#discussion_r125179364
https://github.com/eslint/eslint/issues/8908#issuecomment-313935248

[2017-07-09 19:22] ljharb commented on #1290
I'm not sure I understand what's wrong with the current schema. `{ $ref: '#/definitions/basicConfig' }` is just a macro for [`{ … the basicConfig object }`](https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-curly-spacing.js#L36-L53), is it not?

[2017-07-09 19:29] AuthorProxy opened #1291 "react/prop-types false positive with not exported functions"
[code]

Given this code I got errors
[code]

at this string `const getOuterNode = ({ nodeRow, nodeKey }) => (` and not at others! It shouldn't verify not exported classes, because validation doesn't called by `React` (may be a bug too).

[2017-07-09 19:34] jseminck commented on #1290
@ljharb see this comment: https://github.com/eslint/eslint/pull/8852#discussion_r125179222

The schema `schema: [obj]` is being transformed internally by `ESLint` to:
[code]

Somehow this messes up the `$ref` definitions (how exactly I do not fully understand myself).

ESLint team fixed a similar issue for the `comma-dangle-rule`: https://github.com/gajus/eslint/blob/0e0ffc15251f2bb8836145939626dc

[2017-07-09 19:48] ljharb commented on #1290
so how is that not an eslint bug? it seemed to work fine before.

[2017-07-09 19:55] jseminck commented on #1290
It was working in the sense that the validation error was being ignored.

It should have been the same with the new validator, but there is a bug with it that @epoberezkinwill fix: https://github.com/eslint/eslint/issues/8908#issuecomment-313935304

But in the end, it seems better to not have any errors that are being (silently) ignored, right?

[2017-07-09 19:59] ljharb commented on #1291
That it's not exported is irrelevant; eslint-plugin-react identifies all jsx-returning functions as components - and there are plenty of components internal to a file that still need propTypes.

Why does TreeView take a function, instead of a React element?

[2017-07-10 09:37] AuthorProxy commented on #1291
1. It's pure function, that return react element, because another eslint rule said that you shouldn't use classes for react if there is no state.

2. It doesn't ask me to add props to `getInnerNode` that return raw string, that will be renderered the same as `getOuterNode` .

3. Even if I'll give prop-types they doesn't checked by react, I try it, so it useless

[2017-07-11 06:38] ljharb commented on #1290
Closed in #1292.

[2017-07-11 06:38] #1290 closed

[2017-07-11 07:11] ljharb commented on #1291
A pure function that returns a React element is an SFC (Stateless Functional Component). SFCs have propTypes and defaultProps.

It'll be checked by React if `TreeView` renders it in a component context - if it doesn't, then it should.

[2017-07-11 13:19] BertelBB commented on #816
Another one for you
[code]

[code]

[2017-07-11 15:02] pke opened #1293 "Invariant Violation: Objects are not valid as a React child (found: object with keys {match, text})."
had a stateless functional component

[code]

Which was missing the the `{}` to extract the props `match` and `text`.
Is there already a rule for that?

The correct signature should have been:

`const Comp = ({ match, text }) => (`

[2017-07-11 15:05] travi commented on #378
until the function gets minified. then the name gets mangled

[2017-07-11 18:29] ljharb commented on #816
@BertelBB I'm confused - why are your lifecycle methods instance properties instead of prototype methods? That seems wildly incorrect.

Regardless, passing around the entire `props` object is always going to make linting it untenable - destructure it the first time you interact with it, and pass those items around, and everything should work fine.

[2017-07-11 18:29] ljharb commented on #1293
Since an SFC can have `props, context` arguments, we'd need a linter rule that forced you to name the arguments that, when not destructured - I'm not sure how we could in a practical sense figure out what mistake you made.

[2017-07-11 18:31] ljharb commented on #378
@travi only if you've enabled function name mangling in uglify (or whatever tool you're using) - which you shouldn't do.

[2017-07-11 18:45] travi commented on #378
thats fair, but since it's enabled by default in uglify (i think), its bitten me enough times to make sure the `displayName` is set explicitly.

[2017-07-11 19:31] ljharb commented on #378
Increasing page weight and adding redundant code just to work around an unwise default in uglify is a really poor solution :-/

[2017-07-11 19:46] travi commented on #378
yeah, i don't disagree. its more a matter of figuring out a fix when i didn't realize uglify allowed that configuration and not readdressing after learning about that.

the page weight increase would be minimal (minified function name + displayName vs non-minified function name), but the redundant code and making sure that displayName doesnt get out of sync with the function name make it worth rev

[2017-07-11 21:37] pke commented on #1293
Right, I forgot about `context`.
For my particular case it could also be that I chose to call `props` `match` and `context` `text`. I understand. That is hard to decipher for the rule.
Couldn't we just assume they are supposed to be called `props` and `context` by convention?

At the very least if there are more than 3 params, with whatever name in a SFC then something is off.

[2017-07-11 23:10] BertelBB commented on #816
@ljharb I'm also confused. I'm not sure what you mean.

I'm pretty sure my lifecycle methods are not instance properties.
[code]

The reason for passing the entire ```props``` object to ```checkForAccount```, is because I am using more than one property in that function. Depending on if a specific property has changed, I need to ```do stuff```. I would like to pass the entire object and destructur

[2017-07-12 01:42] benmarten commented on #43
As of today, this got rid of the warning for me:

.eslintrc
[code]

[2017-07-12 05:32] jseminck commented on #1293
I have been thinking about a rule to check parameter names for React lifecycle methods. As I always forget the order of the `state` vs `props` and whether it is `next` or `prev`.

[2017-07-12 06:13] eugeny-dementev opened #1295 "display-name check target to non-component"
When `react/display-name` configured as
[code]
eslint produce `Component definition is missing display name  react/display-name` error for that:
[code]
If set `ignoreTranspilerName` to false then it's ok, no errors

[2017-07-12 08:06] ljharb commented on #816
Because you're using class property syntax (`componentDidMount = anArrowFunction`) they're instance properties. You need to be using method syntax:
[code]

[2017-07-12 08:07] ljharb commented on #1293
I think that a separate rule to enforce React-provided parameter names might be the only way to approach this problem.

[2017-07-12 08:08] ljharb commented on #1295
In this case, `someFunctionName` is an object method that returns an element - ie, it's a component. I'm not sure why you're not just exporting the function directly?

However, are you expecting that the concise method name would be "someFunctionName" when `ignoreTranspilerName` is `true`?

[2017-07-12 08:11] BertelBB commented on #816
@ljharb Ok I had no idea there were more than syntax differences.. thanks so much!

[2017-07-12 09:21] eugeny-dementev commented on #1295
It shaped as object with function because it used as mixin.

I expect that `displayName` with `ignoreTranspilerName: true` option should be required only for components created as ES6 class with `extend React.Component` or with 'create-react-class' module.
And method names probably shouldn't be handled at all, because `render` method can be placed in mixin for example.

Of course using mixin alrea

[2017-07-12 13:25] nshoes commented on #43
@benmarten Yep, adding  `"parser": "babel-eslint"` to my .eslintrc and installing it solved it for me as well.

[2017-07-12 18:03] green-arrow opened #1296 "TypeError: Cannot read property 'name' of undefined in jsx-no-target-blank"
I'm getting this error after upgrading `react-scripts` to the latest version. Example code:

[code]

The source line from the error is line 28, where it does `attr.name.name`.

[2017-07-12 18:37] ljharb commented on #1295
I'm not sure I understand the use case for mixing in a component; and renderFoo methods (functions that return jsx) should instead be components, in every case.

[2017-07-12 18:40] ljharb commented on #1296
That's an unclosed element; what's the full source?

[2017-07-12 18:41] green-arrow commented on #1296
Sorry about that, here's the full source:

[code]

[2017-07-12 18:42] green-arrow commented on #1296
FWIW, I can't replicate this on a freshly created `create-react-app`. It only occurs after upgrading from 1.0.4 to 1.0.10.

[2017-07-12 18:49] ljharb commented on #1296
Any chance the upgrade isn't bumping eslint-plugin-react? If you do the upgrade and then npm install eslint-plugin-react, what happens?

[2017-07-12 18:56] green-arrow commented on #1296
I compared `yarn.lock` files between a fresh app and my upgraded one, and the version numbers for eslint and eslint-plugin-react match up between the two.

Here is the result of upgrading `react-scripts`:

<img width="377" alt="screen shot 2017-07-12 at 2 53 39 pm" src="https://user-images.githubusercontent.com/2180127/28134823-2856c9f0-6712-11e7-9e01-a586b9014af8.png">

It looks like `eslint-plug

[2017-07-12 18:59] ljharb commented on #1296
It's likely the spread that's doing it.

[2017-07-12 18:59] ljharb commented on #1296
Can you confirm by removing it temporarily?

[2017-07-12 19:04] green-arrow commented on #1296
@ljharb - you're completely right, removing the spread on `css` fixes the issue.

Any way to work around this?

[2017-07-12 21:47] dallonf opened #1297 "Option to enable `display-name` only for stateless arrow function components"
I've just run into this issue in Jest and/or Istanbul:
 https://github.com/facebook/jest/issues/1824#issuecomment-250478026

Where the name of arrow functions, while it can be inferred normally, is lost during coverage. I would like ESLint to flag when this is likely to happen, as it can be very difficult to figure out what's going on when tests only fail in the slowest execution mode!

Obviously

[2017-07-12 22:50] ljharb commented on #1296
I don't think there's a workaround short of disabling the rule entirely for that file.

[2017-07-12 22:50] ljharb commented on #1297
Try disabling the useTranspilerName option.

[2017-07-13 00:05] dallonf commented on #1297
Thanks for the response! If I understand correctly, even with the `ignoreTranspilerName` option, it would still flag class components as needing a `displayName`, which would be prohibitively noisy for our situation; classes behave as expected even when doing code coverage and there's no need to assign a `displayName` to them.

Even stateless components defined with the `function` keyword seem to w

[2017-07-13 02:49] eugeny-dementev commented on #1295
For example it can be that way:
[code]

But it's not the point. I'm just saying that it's strange from something that cannot be used as react component (plain object with method that returns jsx) receive errors for react component.

[2017-07-13 04:28] jseminck commented on #1296
Working on a fix.

[2017-07-13 06:35] ljharb commented on #1297
It shouldn't; `class Foo extends React.Component {}` has a legitimate, non-transpiler name of `Foo`. `ignoreTranspilerName` should only be bypassing name inference; which applies to anonymous and arrow functions in particular.

[2017-07-13 06:37] ljharb commented on #1295
There's no way for a jsx linter plugin to differentiate between "a function that returns an element" and "a component". Thus, this project has chosen to consider all functions that return elements, "components".

You can disable the rule with config or override comments if it doesn't work for you.

Totally separately, I'd strongly discourage your mixin pattern; `renderContent` and `renderHeader` s

[2017-07-13 06:38] #1296 closed

[2017-07-13 07:02] eugeny-dementev commented on #1295
I didn't say that this pattern with mixins is something good. Just example.

[2017-07-13 07:02] #1295 closed

[2017-07-13 07:53] linuxonrails commented on #1002
Same problem :-(

[2017-07-13 11:35] green-arrow commented on #1296
Thanks for the fix, you all are awesome! :smile:

[2017-07-13 11:42] FezVrasta opened #1299 "Properties with dash defined with Flow aren't detected"
[code]

[2017-07-13 11:48] FezVrasta commented on #1299
I noticed I can use a computed property name to avoid the error.

[code]

[2017-07-13 15:01] dallonf commented on #1297
Let me try that - that's definitely contrary to how the docs suggest it works: https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/display-name.md

In particular, it shows a class component under the "will cause warnings" section and a class component with an explicit `displayName` under "okay and do not cause warnings".

[2017-07-13 15:42] ljharb commented on #1297
ah, maybe I'm misunderstanding it - in which case https://github.com/yannickcr/eslint-plugin-react/issues/1297#issuecomment-314932009 makes sense to me.

However, this is the reason the airbnb style guide forbids arrow function SFCs - because relying on name inference is brittle.

I'm not sure what option name would make sense here. Thoughts?

[2017-07-13 15:57] dajomu opened #1300 "no-typos doesn't seem to exist"
Hi, I'm using v7.1.0 and when I add the rule `"react/no-typos"` to my .eslintrc it says that it doesn't exist.
I don't think I'm missing something as I've successfully added other rules. Am I getting the naming of the rule wrong?

[2017-07-13 16:12] ljharb commented on #1300
That rule has been merged but not yet released.

[2017-07-13 18:17] davidyorr opened #1301 "no-literals: only check strings"
should the no-literals rule check if the `node.value` is a string? with the new `{ "noStrings": true }` option (https://github.com/yannickcr/eslint-plugin-react/pull/1202) I'm getting errors for explicitly set boolean and number props `booleanprop={true}` `numberprop={100}`

[2017-07-13 18:30] ljharb commented on #1301
With that option turned off, do you still see the errors?

If enabling the option creates new warnings for non-strings, then yes, that's a bug.

[2017-07-13 18:43] davidyorr commented on #1301
with `{ "noStrings": false }` the errors are not there. i can fix it by adding the type check and submit a PR

[2017-07-13 18:44] ljharb commented on #1301
Thanks, that'd be great!

[2017-07-13 19:35] davidyorr commented on #1301
https://github.com/yannickcr/eslint-plugin-react/pull/1302

[2017-07-13 19:36] davidyorr commented on #1301
oh i put the wrong issue # in the commit message -__-

[2017-07-13 19:39] davidyorr commented on #1301
ok i fixed it, let me know if there's anything i need to change

[2017-07-16 15:43] wx2228 commented on #801
still getting this error too.

[2017-07-16 16:21] jseminck commented on #801
This should be fixed. @wx2228 what version of eslint-plugin-react do you use? If using the latest, could you provide sample code of what is failing? Then I can look into it. Thanks!

[2017-07-16 16:23] wx2228 commented on #801
@jseminck  thanks for the prompt reply. I am using 6.4.1. I will upgrade it

[2017-07-17 04:51] jseminck commented on #1235
I'll look into this: reporting methods that return JSX other than the `render()` method, should be reported to be a stateless functional component.

[2017-07-17 07:23] NullDivision opened #1305 "'+' PropType is defined but prop is never used"
I don't think immutable object props are supported.

Eslint: 3.19.0
Eslint-plugin-react: 7.0.1

[2017-07-17 07:59] ljharb commented on #1305
Can you provide sample code? What happens with eslint-plugin-react v7.1.0?

[2017-07-17 12:43] NullDivision commented on #1305
No change in v7.1.0.

[code]

[2017-07-17 20:29] ljharb commented on #1305
What happens if you remove the "exact" pipes? Same error?

[2017-07-18 18:07] egberts opened #1306 "Typo in master document jsx-no-bind"
In the following excerpt in https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md:

[code]

There is an imbalance (uneven) set of parenthesis.

[2017-07-18 18:35] ljharb commented on #1306
Thanks, want to make a PR correcting it? :-)

[2017-07-18 22:36] dobesv commented on #803
From the original question, is it possible there's a capitalization issue?

`StatelessCell.PropTypes` vs `StatelessCell.propTypes`

[2017-07-19 00:35] ljharb commented on #803
@dobesv wow, I think you've nailed it - @laurenkt if you capitalize it `propTypes`, does your problem go away?

[2017-07-19 09:57] manulaggarwal opened #1307 "react/no-direct-mutation-state does not throw warning when using Object.assign to mutate state."
If I try and mutate the state like : -  **this.state.foo = 'bar'** then react/no-direct-mutation-state throws a warning **Do not mutate state directly. Use setState()  react/no-direct-mutation-state** which is fine.
However, If I try to mutate the state using Object.assign() like :- **Object.assign(this.state.foo,'bar') then  react/no-direct-mutation-state does not throw any warning**.
I believe t

[2017-07-19 10:19] ljharb commented on #1307
There's no easy way to handle Object.assign that wouldn't fail to handle _.assign, for example. Some kinds of mutation can't be linted against.

[2017-07-19 11:02] manulaggarwal commented on #1307
Can this be handled with the help of ES6 Proxy object? Since the setter on this.state is getting called through which the change can be detected!
Just a thought.

[2017-07-19 18:44] ljharb commented on #1307
Proxy is a runtime thing - not something a linter can do - and is both not supported on all platforms, and incredibly slow.

[2017-07-19 23:00] thoiberg commented on #1094
If no one else is actively working on this I wouldn't mind taking a shot. I've run into a few cases where as components have grown using `{...this.props}` has ended up passing in 10 props to a child component when it only needs 3.

[2017-07-19 23:08] ljharb commented on #1094
@thoiberg you can use https://npmjs.com/prop-types-exact on each of your components to help catch that, but the linter rule is also great :-)

[2017-07-20 09:39] Robinfr opened #1309 "no-unused-props unable to handle inline functions"
When you do the following, no-unused-props is triggered even though the props are used:

[code]

[2017-07-20 11:16] Billy- opened #1310 "Feature request: no-unnecessary-curly"
I'd like to suggest a new rule which disallows this:

`<MyComponent someProp={'foo'} />`

where it should be:

`<MyComponent someProp="foo" />`

And the same for children/nodes:

`<MyComponent>{'Foo'}</MyComponent>`

Where it should be:

`<MyComponent>Foo</MyComponent>`

[2017-07-20 15:58] ljharb commented on #1309
It's difficult to catch every case.

In the meantime, I'd suggest always destructuring all props and state and context at the top of your functions, which has the side benefit of bypassing this problem.

[2017-07-20 16:01] ljharb commented on #1310
I feel convinced this already exists, but can't find it anywhere.

This is an essential thing to cover; it definitely should be a rule.

It would need to be separately configurable for props and children (curlies are often needed for children for explicit whitespace) to require, forbid, or ignore.

[2017-07-20 16:06] Robinfr commented on #1309
Hmm alright I will see if that helps. Thanks for the reply.

[2017-07-20 16:32] DianaSuvorova commented on #969
@marcelmokos, seems like your change would fix the issue. You may just need to add few test cases. Why don't you create a PR for this repo?

**I will be happy to help if you have any questions 😃

[2017-07-20 16:42] DianaSuvorova commented on #969
Here is another test case to repro the error:

[code]

I understand that this is invalid jsx. But the error it throws makes no sense (`TypeError: name.toLowerCase is not a function`).
I think the better idea for the linter in general would be just skipping invalid syntax.

[2017-07-20 16:48] sompylasar commented on #969
Please see my comment to the commit https://github.com/marcelmokos/eslint-plugin-react/commit/6918bba271fccec28f40561f91e9808d5b91d7be
It's a workaround for this specific exception, not a fix for the root cause which is an AST node instead of a string in `decl.name.name` which has to be handled as a valid case.

[2017-07-20 16:59] DianaSuvorova commented on #969
@sompylasar, could you please provide complete test case for the behaviour you are describing?

[2017-07-20 17:25] sompylasar commented on #969
@DianaSuvorova It's not about the test case (it's the same), it's about the proposed solution. Please see this comment: https://github.com/marcelmokos/eslint-plugin-react/commit/6918bba271fccec28f40561f91e9808d5b91d7be#commitcomment-23208488

[2017-07-20 17:35] DianaSuvorova commented on #969
@sompylasar , let's continue this discussion there

[2017-07-21 05:44] #100 closed

[2017-07-21 06:12] xgqfrms-GitHub commented on #447
[code]

[2017-07-21 07:35] ljharb commented on #447
@xgqfrms-GitHub That's really related to eslint core, and not eslint-plugin-react, so I'm not sure why you posted that here.

[2017-07-21 09:18] xgqfrms-GitHub commented on #447
@ljharb

I just find this place by using google, and it works for me!
You know that somebody may also have this problem, so I think it will help.

[2017-07-21 09:38] ljharb commented on #447
Your note doesn't explain how the problem was fixed - it just provides an eslintrc and a warning that can't appear if that eslintrc is used, that core eslint's docs would fix, and that has nothing to do whatsoever with this repo.

[2017-07-21 15:44] DianaSuvorova commented on #1162
@ljharb , do you usually close issues after fix was merged to master or released or you follow some other process?

[2017-07-21 15:50] ljharb commented on #1162
Ah, when the PR says `fixes #x` github does it for me :-)' (on merge)

Fixed in #1303.

[2017-07-21 15:50] #1162 closed

[2017-07-21 15:52] DianaSuvorova commented on #1162
Got it. Will follow that. Thanks!

[2017-07-21 21:30] DianaSuvorova commented on #879
@ljharb this issue can be closed. Fixed in #1303.

The test case discussed in the thread is line 1319 [here](https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/no-unused-prop-types.js)

[2017-07-21 21:55] #879 closed

[2017-07-21 22:21] DianaSuvorova commented on #816
@ljharb  I have created a [PR](https://github.com/yannickcr/eslint-plugin-react/pull/1312) with (what I think) all of the valid use cases discussed in this thread.
Most of them are fixed already. I found only one reported by @robguy21, that needs to be investigated (I commented it out and will look into it).  Please let me know if missed any other valid cases from this issue. Thanks!

[2017-07-22 21:01] Xeoncross opened #1314 "Flow misses type checks for constructor"
In the following example I'm using Flow with React. I'm new to Flow and noticed that Flow doesn't catch the following string -> int conversion but React does. Am I doing something wrong? I assumed flow would track `props` and notice that `state.age` !== `props.age`.

[code]

Note: The solution that flow should find is that `constructor(props: FlowState)` should be `constructor(props: FlowProps)`.

[2017-07-22 21:21] DianaSuvorova commented on #816
@ljharb, here is the summary of this thread.

There are 3 separate types of errors were reported/discussed here:
 - **PropTypes.shape** officially this rule doesn't support it . By default the options for this rule  is [{skipShapeProps: true}]. There are quite a few  people reported test cases that uses `PropTypes.shape` (including the very first one) without any modification their test cases pass

[2017-07-22 22:27] ljharb commented on #1314
That sounds like a flow bug, not a bug with the react eslint plugin?

[2017-07-22 22:34] ljharb commented on #816
Thanks for that summary - I'd say the flow issues should be supported, ideally, by a separate PR is fine; and the issues with shape props are known.

[2017-07-22 22:34] Xeoncross commented on #1314
That's what I thought https://github.com/facebook/flow/issues/4421

[2017-07-22 22:35] ljharb commented on #1314
This plugin lints that you're using React correctly; by that you're using Flow correctly - I don't think this plugin is the right place for it. Thanks for filing!

[2017-07-22 22:35] #1314 closed

[2017-07-22 23:52] jrajav commented on #625
Is this ever going to get fixed? To this day, still have to keep jsx-indent turned off because this doesn't work as expected (or at least have an option).

[2017-07-22 23:58] jrajav opened #1315 "jsx-indent rule doesn't properly validate ternary (?:) expressions with no parens"
Prior related issues:

https://github.com/yannickcr/eslint-plugin-react/issues/540
https://github.com/yannickcr/eslint-plugin-react/issues/625

Patterns:

[code]

**Expected behavior:**
All of these patterns properly validate and flag no errors.

**Actual behavior:**
All of these patterns flag errors for lines following and indented after the ternary result clauses (after ? and : lines).

[2017-07-22 23:58] jrajav commented on #625
Made a new issue since @ljharb perhaps indicated it's an issue with lacking parens (but that seems like it should be a valid use case?).

[2017-07-23 00:00] jrajav commented on #1315
Note: Also an issue with jsx-indent-props, e.g.:

[code]

I could make a separate issue for this if necessary.

[2017-07-23 00:58] ljharb commented on #625
To clarify, I think it should be a supported use case, but I don't think it's a good style :-)

[2017-07-23 04:52] #816 closed

[2017-07-23 11:20] iddan commented on #1207
Is someone working on this? Because we use prettier-eslint all of our codebase is now with ugly braces

[2017-07-23 16:15] jseminck commented on #1207
There's a PR for it.

[2017-07-23 16:17] iddan commented on #1207
#1285 ?

[2017-07-23 20:04] DianaSuvorova commented on #1309
@Robinfr It looks like your case works with master as well as with v7.1.0. Which version are you using?

[2017-07-23 20:06] DianaSuvorova commented on #1300
@ljharb should we close this then 😉

[2017-07-23 20:11] #1300 closed

[2017-07-23 20:16] ljharb commented on #1309
Closed in #1318.

[2017-07-24 03:40] tobyf93 opened #1320 "react/jsx-sort-props not working"
I seem to be having trouble getting this rule to work.  The documentation references the following interface:
[code]

My current configuration is `"react/jsx-sort-props": [2]`.  I have omitted the options which seem to work fine for other rules in the library.  Don't get any errors for the following component:
[code]

[2017-07-24 05:12] ljharb commented on #1320
There must be something else going on - the test cases (https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/jsx-sort-props.js#L106, https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/jsx-sort-props.js#L162) seem pretty solid.

Can you provide a full repro case, not just with options omitted?

[2017-07-24 06:25] Robinfr commented on #1309
I'm using 7.1.0.. so this is a bit curious :confused:

[2017-07-24 06:30] Robinfr commented on #1309
Updated example:

[code]

In this case, you have two props, `enabled` and `testString`. You will get the following error when linting this:

[code]

[2017-07-24 14:35] laurenkt commented on #803
Yes! That's it! Can't believe that one passed me by for most of a year.. doh. I'll close this now. Thanks everyone.

[2017-07-24 14:35] #803 closed

[2017-07-24 15:41] miraage opened #1321 "[Question] Is there any rule to enforce each JSX node to be placed on the new line?"
Not sure if the question is clear. Let me share err/ok example.
[code]
[code]

// EDIT

[code]

[2017-07-24 16:17] ljharb commented on #1321
So you want to ban single-line elements? What about `<div />`?

[2017-07-24 16:47] timotgl commented on #832
@ljharb I think there is a use case for assigning `this.state` in the constructor and then mutating it immediately afterwards: when it depends on a variable number of properties, stored outside of the component. Of course you could compose the initial state object somehow (and then assign the whole thing at once), but this can get really clunky imho. (Turning an array into an object with reduce et

[2017-07-24 16:58] miraage commented on #1321
@ljharb nope. Only for elements with closing tags.

[2017-07-24 18:52] DianaSuvorova commented on #1309
@Robinfr, thanks for the updated example. It did uncover a bug in the rule.  I created a PR to fix it.  Stay tuned for the next release!

[2017-07-24 23:29] ljharb commented on #1321
Thanks, I think that's clear now.

What's the rationale for this rule? How would you propose the inverse behave, when someone wants to force one-line elements, and how would that interact with `max-len`?

[2017-07-25 01:36] ljharb commented on #969
Closed in #1319.

[2017-07-25 01:36] #969 closed

[2017-07-25 06:32] miraage commented on #1321
Not quite sure if there is any rationale behind. I prefer such syntax due to decreased overall line length.
The main reasons why I personally would like to have a such rule:
* static text in components is potential subject to change and might surpass `max-len`
* multiple components in single line hurt my eyes; also new props may be added - `max-len` issues again.

[2017-07-25 07:29] ljharb commented on #1321
For one, I would certainly be in favor of a rule that prevented multiple components in a single line - ie, preferring `<div />\n<span />` over `<div /><span />`, regardless of length.

Regarding length issues, wouldn't the `max-len` warn on lines that are too long?

[2017-07-25 07:46] miraage commented on #1321
When you open inspector in any browsers devtools all tags are placed on the new line.
Probably I'd like to have such behavior, while text nodes may be excluded from this rule.

[2017-07-25 07:54] ljharb commented on #1321
I see `<div class="clear"></div>` and `<div class="comment-form-error js-comment-form-error" style="display:none">There was an error creating your Issue.</div>` on this very page in Safari on one line.

In general I prefer writing a component on a single line whenever it's possible to do so - and while there's plenty of rules that don't conform to my personal style, I find that deciding how the ru

[2017-07-25 09:51] xgqfrms-gildata commented on #447
# babel-eslint

https://github.com/eslint/eslint/issues/4636#issuecomment-162910216

[2017-07-25 12:47] langri-sha commented on #473
What about stateless functional components? Seems it would be innocuous to create and assign an anonymous function to a prop.

[2017-07-25 15:30] jrajav commented on #625
@ljharb Thanks for the clarification! That's good to hear. In your opinion should it be the default or an added option?

[2017-07-25 15:37] ljharb commented on #473
@langri-sha the same advice applies to SFCs. If you need a function, you're best served using a `class`-based component and a constructor-bound instance method.

[2017-07-25 15:38] ljharb commented on #625
I think that the default should be identical when parens are omitted or not - iow, delete the parens out of https://github.com/yannickcr/eslint-plugin-react/issues/625#issuecomment-253309000 for the style without them.

The more compact style requested here should be an option.

[2017-07-26 00:07] tobyf93 commented on #1320
https://github.com/tobyf93/jsx-sort-props-issue

`npm run lint` will give you an error about boolean attributes but not prop order...

[2017-07-26 00:08] tobyf93 commented on #1320
same result for:
[code]

[2017-07-26 16:28] #1309 closed

[2017-07-26 17:10] langri-sha commented on #473
@ljharb sorry if I'm dragging you back to this, just wanted to confirm things 🙈.

[code]

So, hypothetically speaking, it's likely that after the component is mounted only the `id` property will change, in which case I would be re-creating the anonymous function and this is something I can avoid with creating a CBC?

[2017-07-27 01:01] mruzekw opened #1323 "no-unused-prop-types does not process intersection flow types"
`no-unused-prop-types` does not currently flag unused PropTypes in flow intersection types.

In this case, it should be flagging `age`.

[code]

[2017-07-27 13:32] wwwdata opened #1324 "Cannot read property 'type' of undefined require-default-props"
[code]

The crashing code looks like this

[code]

with this piece of code I can let it crash:
[code]

Versions used:

[code]

[2017-07-27 14:20] xurei opened #1325 "Rule proposal - no-inline-styles"
From https://github.com/Intellicode/eslint-plugin-react-native/blob/master/docs/rules/no-inline-styles.md

The plugin can be installed for a wb project, but it feels hacky...

[2017-07-27 15:32] ljharb commented on #1324
Looks like it might be an issue with union types?

Do you get the same bug with the latest eslint 3, and with eslint 4?

[2017-07-27 17:34] DianaSuvorova commented on #1268
@jaromero  thanks for reporting this issue and documenting all the options you tried.

The issue here is that for all practical purposes  `buildText` function looks like a valid react component since it is a function and return JSX.
Also this `react component` is defined inside another react component `SampleComp`. So the `append` props is only considered to be used inside inner react component.

[2017-07-27 17:52] dkrutsko opened #1327 "no-unused-prop-types doesn't appear to work with static propTypes"
I'm not sure how many people will be affected by this but leveraging [`transform-class-properties`](https://babeljs.io/docs/plugins/transform-class-properties/) will not result in errors when using `react/no-unused-prop-types`. Sample code below:

[code]

[2017-07-27 18:09] ljharb commented on #1268
`buildText` is conceptually an SFC, and should actually be one - not a function.

[2017-07-27 18:15] DianaSuvorova commented on #1268
@ljharb , this sounds good to me. I will create a PR to update docs for this rule adding known issues/limitations section. What SFC stands for?

[2017-07-27 18:23] ljharb commented on #1268
Thanks! "stateless functional component".

Closing as "works as intended".

[2017-07-27 18:23] #1268 closed

[2017-07-27 22:56] planttheidea opened #1328 "jsx-wrap-multilines option for always newlining"
There are a few other issues related to this concept, where the autofix for `jsx-wrap-multilines` results in something like this:

[code]

This happens in specific scenarios (when there is no indentation set), but this always happens with multiline self-closing tags:

[code]

It would be really handy if there was an option added to `jsx-wrap-multiline` that always newlined the wrapped output on au

[2017-07-28 08:14] wwwdata commented on #1324
yes, I also upgraded to the latest version of eslint yesterday and the same problem happens in there as well. But it only makes sense because it was caused by `eslint-plugin-react`

[2017-07-28 15:41] DianaSuvorova commented on #1306
@ljharb , let's close this 🙂

[2017-07-28 15:54] ljharb commented on #1306
Closed in #1316

[2017-07-28 15:54] #1306 closed

[2017-07-28 20:08] DianaSuvorova commented on #811
By now all of the issues reported here have been fixed.
Except for the first one (reported by @Eschon) where only one false positive remains `handleFriendrequest`.This prop is only used inside a list of components that is being generated inside a map function.
I think generally suggested react style for this is to have a separate `listItem` component. So i don't think we are going to fix this use

[2017-07-28 20:13] DianaSuvorova commented on #1327
@dkrutsko [generally it does.](https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/no-unused-prop-types.js#L1119:L1128) Do you have a complete use case I can take a look at?

[2017-07-28 20:27] #811 closed

[2017-07-28 20:37] DianaSuvorova commented on #1008
This looks like a flow issue. Can we add a label please :) @ljharb thank you!

[2017-07-28 20:38] DianaSuvorova commented on #1002
flow as well. Need a label. @ljharb  I want to take a look into supporting flow soon. Gathering use cases. Thank you!

[2017-07-28 20:40] DianaSuvorova commented on #944
First 2 are fixed. For the 3rd there are nuances.But the simplest array.map use cases are supported Need to close this ticket. Thanks!

[2017-07-28 20:41] DianaSuvorova commented on #884
This is fixed.
@ljharb  I'd be happy do it myself if you give me tights to close tickets.

Thanks :)

[2017-07-28 20:43] DianaSuvorova commented on #833
if the rule is using `options: [{skipShapeProps: true}]` (it is default), it would skip validation. Should be closed.

[2017-07-28 21:14] ljharb commented on #833
Yes, but if it's using `false`, this should work.

[2017-07-28 21:16] dkrutsko commented on #1327
@DianaSuvorova I did some further testing. It turns out that the example above won't work unless `this.props` is used somewhere. So the following example will work:

[code]

But this one won't:

[code]

Moreover, in my original test, the reason it wasn't working was because I did something like:

[code]

Which I guess makes sense because I'm grabbing the result of the attributes but I'm not necess

[2017-07-28 21:16] ljharb commented on #884
That's not up to me :-) thanks for all your triage help!

[2017-07-28 21:16] #884 closed

[2017-07-28 21:16] #944 closed

[2017-07-28 21:18] ljharb commented on #1327
Indeed, once you've spread "attributes" out, the plugin can no longer follow that it's from props.

I'd recommend explicitly destructuring all props you need out of `this.props` at the top of every function you need them in.

It sounds like your second code block is a bug, though.

[2017-07-28 21:19] #1107 closed

[2017-07-28 21:20] DianaSuvorova commented on #1327
Second code block was a bug with the latest release. But should be fixed on master.

[2017-07-28 21:20] #1327 closed

[2017-07-29 20:23] #1301 closed

[2017-07-29 20:26] ljharb commented on #1233
Closed in #1331.

[2017-07-29 20:26] #1233 closed

[2017-07-30 05:35] jseminck commented on #1328
I believe this was already requested here: https://github.com/yannickcr/eslint-plugin-react/issues/1207#issuecomment-302906085

Although that comment is a bit hidden...

[2017-07-30 16:33] virgofx commented on #1290
Can a new build get released with this PR included?

[2017-07-31 03:55] IanVS opened #1333 "jsx-closing-bracket-location with 'props-aligned' violates ESLint indent rule"
I'd like to write my non-empty tags like this:

[code]

And it seems that `react/jsx-closing-bracket-location:  ['error',  {nonEmpty: 'props-aligned'}]` would get me exactly what I want, but then I get an error thrown from eslint 4.3.0 saying it wants this style:

[code]

Is it possible that `props-aligned` is just not possible to use along with the `indent` rule now?

[2017-07-31 04:59] jseminck commented on #1325
If the rule would be added to `eslint-plugin-react` then I feel that it should be removed from `eslint-plugin-react-native`. Having the same rule existing two times within the ecosystem is just confusing.

That particular rule indeed doesn't seem exclusive to React-Native so it may belong better within this plugin. I assume RN developers do use this plugin for their React linting?

Mostly up to ot

[2017-07-31 08:13] robguy21 commented on #1257
Leaving my reduced example here...

[code]

(Above is just for demo purposes.)

[2017-07-31 11:17] mfyuce opened #1334 "false negative with namespacing/qualifications using jsx-pascal-case"
Using v7.1.0,
[code]
flag an error (e.g Contained JSX component MyComponent must be in PascalCase (react/jsx-pascal-case))

[2017-07-31 11:19] karl-run opened #1335 "Destructuring props in a stateful component triggers 'react/no-unused-prop-types' with flow in nested components"
When accessing the props directly, through `this.props.foo.bar` it works as expected, but if I destructure foo `const { foo } = this.props` and then access `bar` through it, it is still not registered as used and will be flagged with `react/no-unused-prop-types`.

Full example:
[code]

This works as expected:
[code]

[2017-07-31 11:20] karl-run commented on #1335
Defining foo as its own type does not help.

[code]

Exact same behaviour.

[2017-07-31 11:21] karl-run commented on #1335
Might be related to #1002 and #933.

[2017-07-31 11:24] mfyuce opened #1336 "false postive with names starting with a number using jsx-pascal-case"
(Not directly about run. It is about the RegEx provided in the code.)

Using v7.1.0,
[code]

do not flag an error (e.g Contained JSX component MyComponent must not start with a number (react/jsx-pascal-case))

[2017-07-31 15:51] ljharb commented on #1333
Yes. In eslint 4, you have to configure the indent rule to ignore JSX if you want anything besides what they enforce by default.

[2017-07-31 15:54] ljharb commented on #1334
The docs for that rule don't mention either member expressions (your example) or namespaces, so it's probably an omission.

Both should be accounted for - I believe the spirit of the rule is that `anything.PascalCased` and `anything:PascalCased` should both be allowed.

[2017-07-31 15:56] ljharb commented on #1336
This seems fine to me, since those are invalid identifiers, they shouldn't work in the first place.

[2017-07-31 17:00] IanVS commented on #1333
Ok, looks like we'll need to wait for https://github.com/eslint/eslint/issues/8594.  Thanks.

[2017-07-31 17:03] #1333 closed

[2017-07-31 17:05] mfyuce commented on #1336
True, but the regex, that is checking the IDs, is not covering this case. But somehow, in some place, it gives some error when linting, but not (i think) using methods within this project.

 I can close the issue, if you want.

[2017-07-31 17:07] ljharb commented on #1336
The jsx parser should be throwing on it because it's invalid JS. The regex for this rule shouldn't need to check it, because it should be impossible for it to receive that in the first place.

[2017-07-31 17:12] mfyuce commented on #1336
That is reasonable. Thank you.

[2017-07-31 17:12] #1336 closed

[2017-07-31 18:58] jackyho112 commented on #1310
Hello @ljharb, I would like to give this one a shot. Hopefully, I won't run into a lot of difficulties. I would appreciate any pointer though especially regarding the last thing you mentioned in your comment. Thank you!

[2017-07-31 19:04] ljharb commented on #1310
@jackyho112 essentially what I mean is that the rule configuration must allow an option like `{ props: 'always', children: 'never' }` (where always/never/ignore are the three valid values)

[2017-08-01 03:36] yujiangshui commented on #1187
Hi @ljharb, is this bug fixed? I see there are MRs but not be merged.

[2017-08-01 03:48] ljharb commented on #1187
#1317 isn't quite ready yet, according to its OP.

[2017-08-01 13:14] davegri commented on #357
So still not thoughts about this?

[2017-08-01 18:01] ljharb commented on #357
@davegri the thoughts remain the same - is there a specific question you have?

Basically, using functions created in the render path as a prop on a non-DOM component prevents that component from being able to avoid rerendering - that's really the slow part. There's no speed lost by creating an arrow function every render to pass as a callback to a DOM element, for sure.

[2017-08-01 18:58] davegri commented on #357
So if I'm rendering a component like MyButton I should use a class component in order to define the handler? And if it's a Dom element it's fine to create on render?

[2017-08-01 18:59] Daniel15 commented on #357
It'll still cause issues with garbage collection if it's on a hot codepath, as it creates a brand new function on every render call. Smaller apps likely won't encounter those issues though.

[2017-08-01 22:52] romulof commented on #1210
I think it shouldn't require a default prop if the type is optional+maybe.
Think as implicit `null`/`undefined`.

[2017-08-01 22:55] ljharb commented on #1210
@romulof `defaultProps` are important runtime information that's needed, and only having a flow type deprives the runtime of that info.

[2017-08-02 18:20] DianaSuvorova commented on #1097
@developer239, I think the plugin acts correctly here. `params.propId` is not used in `PostsBaseContainer`. It is used in `connect(mapStateToProps, mapDispatchToProps)(PostsBaseContainerWithQueries)` component. You may want to configure  that prop type  on that one instead. I have created a PR with both correct and incorrect props configurations.

[2017-08-02 20:43] #1097 closed

[2017-08-03 09:32] ChinTeo opened #1339 "How can I pass the rules when using arrow function?"
I want to use arrow function like this:
[code]
but it can't pass the lint.

Is there any solution?

[2017-08-03 17:48] tagoro9 commented on #1320
I just run into this issue too. I think that when `reservedFirst` is enabled and `noSortAlphabetically` is off, then the alphabetical order is only enforced within the reserved props.

Adding a test case like this shows the issue:

[code]

I don't know if the expected behavior is that sorting is only enforced within the reserved props, but I would expect the alphabetical order to also be enforced

[2017-08-03 21:44] ljharb commented on #1339
That's a bad idea, as it creates N functions when you have N instances.

This is how you should do it:
[code]

[2017-08-03 21:44] #1339 closed

[2017-08-03 21:47] DianaSuvorova commented on #1335
Thanks @karl-run  for providing super concise repro example and also possible workarounds.

The problem was that flow props ignored plugin configurations `skipShapeProps` so it tried to validate it. So "fix" is ignoring shape props during validation.

Validating shape props correctly is a whole different issue and is well known for this library.  I might look into that eventually 🙂

[2017-08-04 00:18] #1335 closed

[2017-08-04 04:42] otakustay opened #1342 "Feature request: add properties to sort-comp rule"
I know class properties are not adopted into spec now, but it's already stage-3 and should be stable

In my case we designed the `sort-comp` rule as:

[code]

We want static properties to come before static methods, and instance properties to come with `state` property, however the `sort-comp` rule does not currently support this, it warns if a instance property appears after `state` and before ot

[2017-08-04 04:58] DianaSuvorova commented on #1157
@ljharb  this was fixed in https://github.com/yannickcr/eslint-plugin-react/pull/1341 Thanks!

[2017-08-04 04:59] ljharb commented on #1342
eslint core doesn't support them yet, but we can certainly add commented-out tests for it (and add real tests using babel-eslint).

Seems like we need (if we don't already have them) "static-properties", "instance-properties", "private-static-fields", and "private-instance-fields".

[2017-08-04 04:59] ljharb commented on #1157
Fixed in #1341 :-)

[2017-08-04 04:59] #1157 closed

[2017-08-04 05:35] DianaSuvorova commented on #1002
first use case here is a known issue with the rule when using an intermediate variable to store props/parts of props.

Second is fixed on master.

[2017-08-04 14:38] pcfutures commented on #1342
+1, this would be nice

[2017-08-04 22:32] Dhimanswadia opened #1345 "no-usused proptypes not getting called when prop is destructured"
For example => `prop : {
game: {[gameId: string]:Game}
}`
if left unused doesn't trigger a warning for no-unused-proptypes.

[2017-08-06 06:44] alangpierce opened #1346 "prop-types false positive on internal render method with a destructure parameter"
In this code, I think the `_renderValue` method is being treated as a stateless functional component, and the prop-types rule is complaining about the `value` parameter:
[code]

Note that this only seems to happen when there are destructured params and only when using `React.createClass`, not ES2015 classes. It seems like a reasonable fix (if I'm interpreting the problem correctly) would be to say

[2017-08-06 07:19] alangpierce opened #1347 "no-unused-prop-types false positive on prop accessed within map call"
Strangely, I'm getting a no-unused-prop-types error for `b` but not `a` or `c` in this code:
[code]

[2017-08-06 15:08] ljharb commented on #1347
I believe this is fixed in master but not yet released.

A (better anyways) workaround is to destructure all props at the top of the function.

[2017-08-06 15:09] ljharb commented on #1346
It is; and it should be an SFC instead.

You're right that skipping method syntax in component detection should help here; but renderFoo methods are an antipattern anyways.

[2017-08-06 17:11] alangpierce commented on #1346
Yep, makes sense. This isn't new code; I'm fixing pre-existing lint issues in a big codebase and found this in two places, so in the near term I'll probably leave the code as-is and disable the rule with an inline comment.

I do think there's sometimes value in using methods as a low-overhead way to split up a render function without having to plumb down the props, state, and callbacks, particular

[2017-08-06 17:38] ljharb commented on #1346
That does seem reasonable, yes.

[2017-08-07 17:58] #933 closed

[2017-08-07 18:24] tconroy opened #1348 "JSX not allowed in files with extension '' (react/jsx-filename-extension)"
Hey there -
For some unknown reason, I'm getting the following error on a `.jsx` component file:

[code]

The plugin seems to believe my file has no extension(`''`)? Not exactly sure what could be the cause of this.

Running Sublime Text 3 + eslintner package, here's my eslint config:

[code]

[2017-08-07 18:31] ljharb commented on #1348
What happens on the command line? Editors often have linter bugs that are in fact a bug in the editor, so it's important to eliminate that variable from the equation.

[2017-08-07 18:39] tconroy commented on #1348
Hey @ljharb, thanks so much for the speedy reply. :)

CLI exits cleanly, however I do see some warnings thrown from eslint when running with `--debug`:

[code]

however, based on your input from [this thread](https://github.com/airbnb/javascript/issues/1488#issuecomment-314819780), it seems like these particular warnings aren't a problem.

Here's the output from the Sublime Text console while runn

[2017-08-07 19:35] jackyho112 commented on #1310
Hello @ljharb, I am working on this right now and I have one question. Regarding your suggestion, do `always`, `never` and `ignore` mean `always have curly braces`, `never have unnecessary curly braces` and `ignore the rule` or `always check for unnecessary curly braces`, `never check for unnecessary curly braces` and `ignore the rule`?

[2017-08-07 19:45] ljharb commented on #1348
Seems from the stack trace that the linter is passing the filename to stdin code, and that might have a bug.

Can you reproduce the failure on the command line from stdin?

[2017-08-07 20:25] ljharb commented on #1310
I mean the former - "always require", "always prohibit", and "ignore the rule"

[2017-08-07 20:27] jackyho112 commented on #1310
@ljharb

Thanks for replying! I will make the changes.

[2017-08-07 20:29] ljharb commented on #1310
Thanks! (It'd be great if you reused #1349 instead of opening up a new PR)

[2017-08-07 20:33] jackyho112 commented on #1310
Will do!

[2017-08-08 00:47] jannakha commented on #553
just have it as an object of actions, like Cory does https://github.com/coryhouse/react-slingshot/blob/master/src/containers/FuelSavingsPage.js#L31
then you just need to define in props actions: object

[2017-08-08 07:08] leethree commented on #1347
@ljharb when is the next release scheduled? thanks!

[2017-08-08 07:11] ljharb commented on #1347
That's up to @yannickcr.

[2017-08-08 07:11] #1347 closed

[2017-08-08 10:30] planttheidea commented on #1290
Seriously, this was closed nearly a month ago. Is a patch release too much to ask?

[2017-08-08 12:19] Benno007 commented on #1290
Yes, currently waiting on this if possible

[2017-08-08 17:38] lukeapage commented on #1290
@yannickcr sorry to mention you but just in case you aren't aware of people waiting for a release, if you can manage one soon, it would be appreciated, thanks

[2017-08-08 21:58] SampsonCrowley commented on #322
Just to leave another option, I export the proptypes for a decorator then destructure them into the connected class.

Decorator
[code]

Decorated:
[code]

[2017-08-09 07:21] lvlei14 opened #1350 "Failed to load resource: net::net::<unknown>"
Android's WeChat and QQ browsers occasionally appear “Failed to load resource: net::net::<unknown>”.   Other browsers or mobile phones are available

[2017-08-09 07:24] ljharb commented on #1350
I'm not sure how that's related to eslint, or eslint-plugin-react? Linters wouldn't be run in the browser.

[2017-08-09 08:02] #1350 closed

[2017-08-09 22:16] yannickcr commented on #1290
@virgofx @planttheidea @Benno007 @lukeapage Released in v7.2.0, really sorry for the delay.

[2017-08-09 22:54] enricotelesca commented on #1153
TBH I think @Shutnik is right and sorry, but explicit undefined is much much better is your opinion. would you ever do something like this because explicit undefined is much much better?
[code]
I don't see the foundation of @ljharb explanation... I think a good trade off is leave the possibility to omit the default prop only if the propType is object, node, element and maybe an array

[2017-08-09 23:06] ljharb commented on #1153
@enricotelesca yes, and in fact that would increase performance of `obj` if `obj.bar` were ever set to something else, because it would be doing it without changing the "shape" of the object.

[2017-08-10 00:31] ljharb opened #1351 "Document `no-unused-state` rule"

[2017-08-10 02:02] tconroy commented on #1348
Turns out it was an extension config error in my editor. No problem with eslint or the plugin. Apologies!

[2017-08-10 02:02] #1348 closed

[2017-08-10 03:19] ljharb opened #1352 "`forbid-prop-types`: propWrapperFunctions does not follow identifiers"
I fixed a crash from #1253 in 5ad93b4365cc42ff6a6c858fed76b7a2d0c17222.

However, see the [TODO](https://github.com/yannickcr/eslint-plugin-react/commit/5ad93b4365cc42ff6a6c858fed76b7a2d0c17222#diff-f8e412f530183ea4c0e4bbfd3c3f2b0eR408) - the rule (prop-types also) is not following the identifier reference when it's not inline. It should.

cc @dustinsoftware

[2017-08-10 03:31] ljharb commented on #1352
@yannickcr 5ad93b4 is a crasher, so it'd be good to cut a quick patch release with that in it :-)

[2017-08-10 04:21] lukeapage opened #1353 "no-typos rule crashes"
I get this exception when enabling the rule

[code]

Will try and track down some code that reproduces

[2017-08-10 04:31] lukeapage opened #1354 "boolean-prop-naming rule crashes when prop types is calculated"
[code]

[2017-08-10 05:04] lukeapage commented on #1353
reduced repro-code:

[code]

[2017-08-10 05:07] jseminck commented on #1353
The code is failing on this line of code in `eslint-plugin-react`:

[code]

Is it perhaps an `eslint` issue?

[2017-08-10 05:08] lukeapage commented on #1353
I guess it depends if the `node` is valid - thats why I thought to start here.

[2017-08-10 05:14] jseminck commented on #1353
Yeah, this is definitely the right place to start. :)

I'll try to look into this a bit further, hopefully today. I currently don't understand how your code even triggers the rule 😅, as it's only triggered on `ClassProperty`, `MemberExpression`, and `MethodDefinition` node types. And your example code doesn't contain any of these.

[2017-08-10 05:16] dustinsoftware commented on #1352
I’ll take a look at fixing this bug.

On Wed, Aug 9, 2017 at 20:31, Jordan Harband <notifications@github.com>
wrote:

[2017-08-10 05:20] lukeapage commented on #1354
repro code:

[code]

[2017-08-10 05:23] jseminck commented on #1310
Very cool rule! 😄

Just out of interest, is there a technical reason that the fixer only works for one of the options (only for `never` but not for `always`) ?

[2017-08-10 05:27] jackyho112 commented on #1310
@jseminck, @ljharb,

Based on the [eslint doc](http://eslint.org/docs/developer-guide/working-with-rules)

[2017-08-10 05:34] jackyho112 commented on #1310
@jseminck
Nvm. I misinterpreted the eslint docs. I think I can fix for `always` as well.

[2017-08-10 12:22] #1291 closed

[2017-08-10 19:27] rodoabad commented on #1165
Voting for option 2!

[2017-08-10 19:33] ljharb commented on #1165
These aren't exclusive options, they're use cases :-) also there's two lists, which "option 2" do you have in mind?

[2017-08-10 19:36] rodoabad commented on #1165
@ljharb if it can be inferred then I think not explicitly setting a `displayName` is fine. Anonymous functions or classes though should still be required to have a display name.

[code]

This should throw an error.

[2017-08-10 19:43] ljharb commented on #1165
Yes, that's what it's already doing - but in my example, I need "always require an explicit name", because I never want to rely on name inference.

[2017-08-10 19:46] rodoabad commented on #1165
@ljharb yeah you're talking about having three options right? I agree to that.

1. Explicit everything.
2. Inferred if possible otherwise you gotta do it bro!
3. Do not set a display name.

This is the one that I like that's why I said I like option 2. Now I just realized it could mean "2." Hahaha.

[2017-08-11 05:29] dumpsayamrat opened #1357 "Missing props validation when use setPropTypes of recompose"
Hi guys,

I'm on development using react-native recompose and eslint. And I found several error about prop-types validation — `setPropTypes`, `mapProps`, `withHandlers`, etc.

[code]

Is there any support this situation on next version of `eslint-plugin-react` ?

[2017-08-11 05:38] ljharb commented on #1357
What's the error? `TheComponent` is an SFC that takes props - you need `TheComponent.propTypes = propTypes;`. Any `setPropTypes` middleware only applies to the wrapped HOC coming out of `enhance` - which is good - but you also need them on the wrapper - on `TheComponent`.

[2017-08-11 05:40] #1354 closed

[2017-08-11 06:03] dumpsayamrat commented on #1357
Oh, You're right. Maybe I'm overthinking.

Thank you.

[2017-08-11 06:03] #1357 closed

[2017-08-11 12:59] Shutnik opened #1359 "Expected indentation of space characters"
Hello, there is a bug in nested ternary conditions. Testcase:

[code]

[2017-08-11 14:05] atoiv opened #1360 ""react/react-in-jsx-scope" should support jsx pragma definitions in different types of comments"
It seems that when defining `@jsx` pragma  in a file, "react/react-in-jsx-scope" requires pragma to be defined in a specific comments style in order to work.

Rule works correctly if jsx pragma is defined with JSDoc style comments:

[code]

Rule doesn't work when using regular multiline comment:

[code]

The implementation of the rule seems to match Babel's [transform-react-jsx](https://babeljs.io

[2017-08-11 15:40] EvHaus opened #1361 "`no-unused-state` rule doesn't handle dynamic keys"
@wbinnssmith The following code:

[code]

Gives out an `Unused state field: 'stateName'` error from the `no-unused-state` rule.

I think it's probably best to have `no-unused-state` rule ignore dynamic object keys since it will be too difficult to detect whether or not they're really being used. But at the very least, it shouldn't use the variable name as the key to look for.

[2017-08-11 17:30] ljharb commented on #1360
jsdoc-style comments generally always require `/**` - the convention is that the extra star is an explicit signal. i don't think it'd be a good idea to cover single-star comments.

[2017-08-11 17:32] ljharb commented on #1361
I agree that this is a bug - it should entirely ignore computed property keys when the contents aren't a string literal.

[2017-08-11 20:12] atoiv commented on #1360
True, except jsdoc style is commonly used for generating documentation,
where as jsx pragma explicitly affects code generation.

Besides, as the babel plugin supports regular comments it's not obvious
that this rule doesn't do the same.

On Aug 11, 2017 20:31, "Jordan Harband" <notifications@github.com> wrote:

[2017-08-12 01:50] darrenklein opened #1362 "'space-before-function-paren' returns error/warning for functions defined as object attributes"
I'm using ESLint v. 4.4.1, and I'm getting the following warning:

`2:32  warning  Unexpected space before function parentheses  space-before-function-paren`

for this code:

    const errorProcessing = {
        "processErrorOnForm": function(param, otherParam) {
            if (param) {
                // DO SOMETHING...
	        } else {
                // OTHER STUFF...
		}
	     }
    };

But

[2017-08-12 01:59] ljharb commented on #1362
What's your `space-before-function-paren` set to?

[2017-08-12 02:07] darrenklein commented on #1362
Sorry, I meant to include that - thanks for reminding me.

`"space-before-function-paren": [1, "never"]`

[2017-08-12 02:16] darrenklein commented on #1362
Oh shoot - this is the wrong repo - meant to post this in https://github.com/eslint/eslint

[2017-08-12 02:16] #1362 closed

[2017-08-12 08:25] jseminck commented on #1353
I created an issue on the eslint repo. Let's see if they have anything to say here. To me it looks like the proper fix should be inside eslint.

[2017-08-12 16:15] guyellis commented on #1008
I've just hit what I think is the same problem as this. Not sure if this helps you.

File: https://github.com/guyellis/plant/blob/master/app/components/common/InputCombo.jsx

Contents copied here in case it changes in the interim:

[code]

Error: https://travis-ci.org/guyellis/plant/builds/263855440

[code]

To reproduce, clone [that repo](https://github.com/guyellis/plant) and `npm i && npm run l

[2017-08-12 17:10] daltones opened #1363 "`no-unused-state` + arrow function property + destructuring"
I found a case where `no-unused-state` raises a false-positive:

[code]

Warns: `Unused state field: 'state1' (react/no-unused-state)`

It seems to be specific of arrow functions as properties and that “two-level” destructuring.

It won't warn with the following:
- straight access like `this.state.state1`
- simple destructuring like `const {state1} = this.state;`
- unbounded method like `handleCli

[2017-08-13 04:52] LINKIWI opened #1364 "Bug: react/prop-types fails to parse destructured Flow typing with Flow union type"
Symptom: `react/prop-types` indicates that props validation is missing for all props in the component.

This occurs whenever there is a destructured Flow typing anywhere in the component, *and* props are typed in the component using a union `&`. This is reproducible on v7.2.0 and earlier. Minimally reproducible example:

[code]

The reported errors are:

[code]

No ESLint errors are generated if `

[2017-08-13 05:01] LINKIWI commented on #1364
@PFarejowicz FYI

[2017-08-13 21:58] ljharb commented on #1288
Fixed in #1365

[2017-08-13 21:58] #1288 closed

[2017-08-14 03:00] nihgwu opened #1366 "7.2.0 breaks Object.freeze"
the following code works on v7.1.0
[code]

[2017-08-14 04:12] ljharb commented on #1366
Can you elaborate on "works"?

Do you have `Object.freeze` defined as a wrapper function in `settings`?

[2017-08-14 07:58] nihgwu commented on #1366
@ljharb "works" means I get no eslint errors
I've tried your suggestion, but still no fortune. still get the errors `error  'value' is missing in props validation          react/prop-types`
[code]

[2017-08-14 08:09] ljharb commented on #1366
That seems like it's a bug in the `prop-types` rule then (without `propWrapperFunctions`, you should definitely get a warning there).

[2017-08-14 11:23] #1366 closed

[2017-08-14 11:29] yannickcr commented on #1366
@nihgwu If I'm right this pattern was not detected in v7.1.0 and the propTypes validation was just ignored for the component. This is no longer the case since v7.2.0.

But https://github.com/yannickcr/eslint-plugin-react/issues/1366#issuecomment-322123945 should have worked, so there was definitively a bug here.

It should be fixed in next release.

[2017-08-14 11:36] yannickcr commented on #1352
@ljharb yep, I'll do a patch release shortly.

[2017-08-14 15:41] mindtricksdev opened #1369 "`boolean-prop-naming` triggers "Cannot read property 'type' of undefined""
Hello,

When I add this rule to my .eslintrc file Visual Studio Code triggers a popup error `Cannot read property 'type' of undefined`.

This is my rule:
`"react/boolean-prop-naming": [1, { "rule": "(^(is|has)[A-Z]([A-Za-z0-9]?)+)|(^[a-z]+(ed|able)$)" }],`

I think this is related somehow to the spread operator as the errors trigger when I type `...test`

[2017-08-14 17:51] DianaSuvorova commented on #1189
@ljharb I think this issue should be closed.

[2017-08-14 18:15] #1189 closed

[2017-08-14 18:18] ljharb commented on #1189
(Fixed in #1209)

[2017-08-14 18:38] yannickcr commented on #1369
Can you show us the full piece of code that trigger the crash ? It will help us to fix the issue.

[2017-08-14 18:44] mindtricksdev commented on #1369
Here's a screenshot:

![image](https://user-images.githubusercontent.com/5068284/29286105-76f184d8-8139-11e7-8abb-9467c45dac2b.png)

The error is triggered after typing `...x`.

Not sure why, but if I disable the boolean rule the error stops occurring.

[2017-08-14 19:16] EvHaus commented on #1369
I can reproduce this. Will fix.

[2017-08-14 20:24] #1369 closed

[2017-08-15 05:18] ljharb commented on #1353
Fixed in #1372.

[2017-08-15 05:18] #1353 closed

[2017-08-15 08:46] lynxtaa opened #1373 "react/no-typos: Cannot read property 'name' of undefined"
These two lines cause a crash with a rule *no-typos* enabled:
[code]
I'm using eslint@4.4.1 and eslint-plugin-react@7.2.1.

[code]

[2017-08-15 12:16] LostCrew commented on #1373
I'm currently experiencing the same issue. Let me know if you need more details on my setup.

[2017-08-15 13:17] yannickcr commented on #1373
Fixed in #1372, should be in next patch release.

[2017-08-15 13:17] #1373 closed

[2017-08-15 18:44] jseminck commented on #1373
@LostCrew actually it could be good if you could find out the code that breaks. Just want to make sure the current fix covers your case too.

[2017-08-15 19:03] jseminck commented on #1353
@yannickcr I still ran into another crash with the rule. Trying to figure out why/how...

[2017-08-15 19:15] ljharb commented on #1353
If someone is using inheritance (a hugely bad antipattern), like `class Foo extends BaseComponent {`, a jsdoc comment can be used to "trick" eslint-plugin-react into thinking it extends `React.Component`.

[2017-08-15 23:59] #213 closed

[2017-08-16 13:05] pascalduez opened #1376 "Flow 0.53 prop types"
Hi,

with the latest [`Flow@0.53`](https://github.com/facebook/flow/blob/v0.53/Changelog.md) the Type detection for prop types is broken.

Before

[code]

After

[code]

[code]

[2017-08-16 18:37] jeffs commented on #459
No dice, in create-react-app generated project.  My `.eslintrc.json` does include the following lines in the "rules" section:

    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,

Any ideas?

[2017-08-16 19:24] jseminck commented on #1376
We currently have test cases like this. Are these still valid with Flow 0.53?

[code]

[2017-08-16 20:14] ljharb commented on #1376
Why `import * as React from 'react'`? There's no need to do that; `import React from 'react';` is correct.

[2017-08-16 21:29] maxlapides opened #1378 "no-typos rule breaks with assigning functions on this"
With `react/no-typos` enabled, linting this code

[code]

Will throw this error:

[code]

[2017-08-16 21:33] ljharb commented on #1378
This might be fixed by #1372 and #1375.

[2017-08-16 21:41] EvHaus commented on #1376
@ljharb I was wondering about that too. However, Flow's official documentation says this change to the `import` is required and their codemods make this change as well (see https://github.com/facebook/flow/blob/a4df443a4a4fb5f62b86f03ee8a12a2b1432296a/website/en/docs/react/types.md).

Not sure if we can get someone from the Flow team to chime in, but it seems totally unnecessary to me as well (and

[2017-08-16 23:32] Palisand opened #1379 "Arrow functions in functional component and jsx-no-bind rule"
For a **stateless, functional component** that breaks the `jsx-no-bind` rule like the following:

[code]
changing it to the following will remove the lint warning:
[code]
Does this actually improve performance by preventing the creation of a function on re-render (as stated in the [rule description](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md)) or has the

[2017-08-17 04:22] jseminck commented on #1378
Definitely fixed. Just tested it through unit tests.

[2017-08-17 05:38] ljharb commented on #1376
That's horrific; it's one of the least usable parts of TypeScript.

[2017-08-17 05:38] ljharb commented on #1376
and yes, it also makes tree-shaking *impossible* unless you can statically determine every key accessed on a ModuleRecord.

[2017-08-17 05:42] ljharb commented on #1379
No, it does not.

The *only* proper solution (even with class properties) is:
[code]

[2017-08-17 05:42] #1378 closed

[2017-08-17 06:14] pascalduez commented on #1376
Yep, this migh not be needed for the dummy example provided above, but will be as soon as you need one of the exposed types.
And yes the codemod convert all those imports anyway.

https://github.com/facebook/flow/blob/v0.53/Changelog.md#0530

[2017-08-17 07:55] benjaminRomano commented on #1376
I assume they are using the `import * as ...` syntax because they want people to use their types prefixed with `React`.

For example,
[code]

is equivalent to

[code]
However, the first example is "cleaner".

[2017-08-17 08:21] ljharb commented on #1376
If the types are in the `react` package, then they should be importable directly. If they're not normal named imports, `import *` shouldn't be able to bring them in, per spec.

[2017-08-17 15:52] Palisand commented on #1379
@ljharb Thanks. So in this case, **a class component is preferred over a functional one**. How come airbnb allows refs and arrow functions, is the performance benefit not great enough to warrant these lint checks? In your opinion, is it always best to refactor a stateless component into a class when dealing with arrow functions, even with the planned functional component performance optimizations?

[2017-08-17 16:14] Palisand commented on #1379
@ljharb Also, (as you know) newer syntax allows your solution to be re-written without `bind`:
[code]
Does the following revert to the original problem?
[code]

[2017-08-17 16:31] ljharb commented on #1379
@Palisand specifically, the bound `handleClick` is state, and as such, you need a stateful component.

It's impossible for a linter to cover everything that might be in a style guide, so we have no requirement to lint for everything in the guide. Things that require human judgement often go unlinted, intentionally.

SFC optimizations don't change the fact that the *child component* you're renderin

[2017-08-17 16:35] #1379 closed

[2017-08-17 20:31] tgallacher commented on #1376
This is also a problem I have come across after upgrading to `Flow@0.53` with `eslint-plugin-react@7.2.1.

I think Flow wants you explicitly use Reacts [utility types](https://flow.org/en/docs/react/types/), and `types` are not automatically attached to the `default` export as it isn't always guaranteed to be an object -- could be a number, for example -- and so you need to do a full import under

[2017-08-17 20:41] cekali commented on #1348
@tconroy Could you share more details about what you fixed? I'm facing a similar problem.

[2017-08-17 21:16] ljharb commented on #1376
The outline makes sense; in that case it's a poor choice for a codemod unless it's super smart about when it uses *.

[2017-08-17 21:44] tgallacher commented on #1376
Temp fix appears to be to use both the new required generics approach enforced by Flow@0.53, and the (now) legacy approach. For example:

[code]

[2017-08-18 12:16] DanielSWolf commented on #1342
I'm having the same problem. I use class properties, but `sort-comp` insists that they all be placed after `componentWillUnmount`.

[2017-08-18 21:19] DianaSuvorova commented on #140
@ljharb, can we close? [prop-types] takes care of this.

[2017-08-18 21:25] DianaSuvorova commented on #191
Oh, I like this proposal. @ljharbit doesn't seem like it has been implemented yet. How about new `[jsx-content-spacing]`?

[2017-08-18 21:31] emmanuelgautier opened #1382 "Invalid react/no-direct-mutation-state in constructor"
In the following special case, the `react/no-direct-mutation-state` rule throw an invalid error

[code]

A better way is to not declare a component into another component constructor but that is an invalid linter error .

[2017-08-19 16:46] ljharb commented on #1382
What error is thrown?

[2017-08-19 17:42] emmanuelgautier commented on #1382
Error thrown : `Do not mutate state directly. Use setState() react/no-direct-mutation-state`

[2017-08-19 22:41] #140 closed

[2017-08-19 22:42] ljharb commented on #1382
This seems like a bug - although I can't conceive of why you'd want to create a component in the constructor like that.

[2017-08-19 22:43] ljharb commented on #191
Sure, sounds good.

[2017-08-20 09:02] emmanuelgautier commented on #1382
I'm agree with you, this code is not mine. It should be a closure problem to have access into the `AnotherComponent` to some variables declared in the first constructor

[2017-08-20 17:02] #1382 closed

[2017-08-20 22:41] jprosevear commented on #1333
eslint/eslint#8594 has landed.

[2017-08-20 23:42] thejameskyle commented on #1376
To summarize with the exact reasoning:

[code]

Types can exist in namespaces, but not in objects.

You can also import specific bindings for both JavaScript values and Flow types:

[code]

And combine them if you want to import both the object and a type:

[code]

[2017-08-20 23:48] thejameskyle commented on #1376
Because the type parameter signature changes in Flow 0.53 from:

[code]

to:

[code]

This ESlint plugin could be updated to pull props from:

[code]

And it will support all versions of Flow

[2017-08-21 04:48] jseminck commented on #1376
@thejameskyle in flow >0.53, was this also valid syntax: `React.Component<X, Props> {}` ? (2 arguments, where Props is the second argument)

If so, then we cannot distinguish properly between the old and the new syntax. If we expect `Props` to be the first or the second `TypedArgument`, then we'll be considering `State` as `Props` for those users who use `React.Component<Props, State> {}`, right?

[2017-08-21 07:29] thejameskyle commented on #1376
No, in previous versions of Flow, you could only have no args, or three args:

[code]

[2017-08-21 07:37] jseminck commented on #1376
Great. I think we can use that approach then! 👍

3 arguments: check the second argument.
2 or 1 argument: check the first argument.

Thanks for your input.

[2017-08-21 20:46] zpao opened #1386 "no-direct-mutation-state rule doesn't handle UpdateExpressions"
`this.state.foo++` does not trigger the `no-direct-mutation-state` rule.

`this.state.foo += 1` does - indicating this is likely just that `UpdateExpression`s aren't handled.

[2017-08-21 22:31] #106 closed

[2017-08-22 02:03] TheSavior opened #1388 "no-unused-prop-types fails on readonly flow types"
If your Props type definition is:

[code]

The rule will provide the warnings:

[code]

[2017-08-22 06:11] ljharb commented on #1388
What version of flow are you using?

[2017-08-22 08:35] HHogg commented on #915
After also doing the upgrade from
[code]
... to
[code]

The `indent` and `jsx-indent` conflict with one another... I've just disabled `indent` for the moment.

[2017-08-22 08:53] ljharb commented on #915
@HHogg you can instead configure `indent` to ignore JSX and delegate to eslint-plugin-react, which solves the problem.

[2017-08-22 16:27] TheSavior commented on #1388
[code]

[2017-08-22 17:53] modosc opened #1389 "no-typos rule doesn't handle custom proptypes classes"
with the `7.2.1` -> `7.3.0` upgrade this rule started breaking on this code:
[code]
with
[code]
interestingly enough if i change to this:
[code]

then the rule passes, even though `MyPropTypes` doesn't export a `string` prop.

[2017-08-22 18:03] jseminck commented on #1388
Confirmed the bug. Will fix it!

[2017-08-22 19:06] jseminck commented on #1389
Just for information, indeed we added logic to validate the specific PropTypes. Since `string` is a key that is exported from the official `prop-types` package, it doesn't fail. `bar` is not a prop type defined in the official `prop-types` package, so it fails.

Not sure how we should handle this case yet. Just explaining what changes and why the error is introduced. 😄

[2017-08-22 20:36] TheSavior commented on #1388
I'm not sure, I'll run this rule through our codebase and flag all of the places that it seems to have false positives. That should give a pretty good signal.

[2017-08-22 20:52] ljharb commented on #1389
This seems like a bug in no-typos - we should only be looking for typos on `React.PropTypes` or on an import/require of `prop-types`.

[2017-08-22 22:29] ljharb commented on #1388
@jseminck there's covariant (+) and contravariant (-), at least

[2017-08-22 23:00] TheSavior commented on #976
I know there are a lot of false positives for this rule in our codebase and unfortunately that is keeping us from turning it on. I think I'd actually prefer false negatives than false positives for this lint rule. False negatives would make me think it would be great if it was smarter and could be improved whereas false positives are annoying for teams and make it more likely it will get turned ba

[2017-08-23 05:10] jseminck opened #1393 "no-unused-prop-types doesn't support Props defined in Flow TypedArguments"
This syntax is not supported. Additionally, this code is already available for the `prop-types` rule, but we should extract this code to detect the existing prop-types to some shared utility so it can be shared between rules.

[code]

[2017-08-23 12:34] vkosovskikh commented on #1125
`import React from 'react'
import ReactDOM from 'react-dom'
import { AppContainer } from 'react-hot-loader'

import App from '../components/App'

const render = (Component) => {
  ReactDOM.render(
    <AppContainer>
      <Component />
    </AppContainer>,
    document.querySelector('[data-root]')
  )
}

render(App)

if (module.hot) {
  module.hot.accept('../components/App', () => { render(App) })

[2017-08-23 17:42] ljharb commented on #1125
@vkosovskikh I'm not sure what your question is.

[2017-08-23 20:26] richardson-trevor opened #1395 "Accidental bypass for react/jsx-no-bind allowArrowFunctions"
We've recently started to get rid of our usage of arrow functions in component props for similar reasons to that mentioned [here](https://medium.freecodecamp.org/why-arrow-functions-and-bind-in-reacts-render-are-problematic-f1c08b060e36). We went ahead and set:
[code]
but realized we were still able to get away with using something like:
[code]
So we didn't fix the problem, we just accidentally tr

[2017-08-23 22:48] ljharb commented on #1395
It's not realistic for a rule to always be exhaustive; there's often a way to trick them.

However, it seems reasonable that an arrow function in the same scope should be warned on.

[2017-08-24 00:27] fruitraccoon commented on #915
@ljharb Any chance you have an example of how to setup the `indent` rule to ignore JSX?

I have the same situation as @HHogg.  [Looking at the docs for `indent`](https://eslint.org/docs/rules/indent), I'm guessing that the `ignoredNodes` option is the way to do this, but eslint selectors are a bit outside my skill set at the moment and a working example to start from would be great! :)

[2017-08-24 00:43] ljharb commented on #915
https://eslint.org/docs/rules/indent#ignorednodes, with a selector of "JSX*" should do it.

[2017-08-24 01:59] fruitraccoon commented on #915
Thank very much for the quick reply @ljharb - using your suggestion I was able to get something working.  Using the wildcard character on the syntax tree node name didn't work for me, but by using the rule below, I seem to have about the equivalent of how our linting used to work:

`"indent" : ["error", 4, { "ignoredNodes": ["JSXElement *"] }],`

I believe that this will just turn off the `indent`

[2017-08-24 02:53] ljharb commented on #915
@Wilfred does this solve your issue?

[2017-08-24 09:42] Wilfred commented on #915
I ended up configuring both plugins to just use the same indent, so I'm happy.

In a perfect world the plugins would detect the conflicting settings, but I don't see how that's possible. It's just a small papercut.

I'm happy to close this if you don't think there's anything else we can do here?

[2017-08-24 15:42] ljharb commented on #915
Unless eslint core agrees to make a global "indent" setting that the core indent rule reads (and then that jsx-indent could read), there's nothing we can do.

[2017-08-24 15:42] #915 closed

[2017-08-24 21:46] oliviertassinari commented on #1376
One important limitation of this change is around `React.propTypes` and `React.createClass` that are accessed. With react v15.x, it's raising two warnings:
![capture d ecran 2017-08-23 a 20 47 22](https://user-images.githubusercontent.com/3165635/29690202-52e2c210-8926-11e7-824c-7fe7b4abaf2e.png)

Explicitly importing the types is more appropriate until React v16 is released as stable.

[2017-08-25 07:13] mmsbrggr opened #1396 "jsx-tag-spacing doesn't allow for forbid a space before ">" in a start tag"
In our project we have the need for forbidding spaces before the ">" symbol in a start tag. For example the following should not be allowed:
[code]

In comparison the following should not result in an error:
[code]

[2017-08-25 20:35] Monte47 opened #1397 "Errors with static variables"
Hey every time I use the static keyword in my react-native project my linter doesn't like it.

[code]
Line 47 gives me: 'navigationOptions' is not defined. (no-undef)

My package.json:
[code]

.eslintrc.json:

[code]

.babelrc:
[code]

I think I have all the right configuration so I'm not sure what is going on here. Any help would be much appreciated.

[2017-08-25 21:55] ljharb commented on #1376
@oliviertassinari this is because you're supposed to use the `prop-types` and `create-react-class` packages as of v15.5, which work all the way back to 0.13 - so `React.PropTypes` isn't ever appropriate anymore anyways.

[2017-08-25 21:57] ljharb commented on #1397
`no-undef` is an eslint core rule; i'm not sure how it relates to `eslint-plugin-react`?

[2017-08-25 21:58] oliviertassinari commented on #1376
@ljharb It's a different topic. This change introduces the warnings with the latest version of react:
[code]

[2017-08-25 22:10] ljharb commented on #1376
ohhh i see what you mean, gotcha. that seems like a reason to use `import React from 'react'` instead anyways.

[2017-08-26 08:19] jseminck commented on #1376
This is now in master. It would be great if someone could try on their codebase(s) and confirm everything works!

[2017-08-26 11:53] vkosovskikh commented on #1125
@ljharb this is the answer how one can get rid of this lint error

[2017-08-26 16:08] ljharb commented on #1125
Ah yes, by not returning ReactDOM.render. Good call :-)

[2017-08-26 18:46] johnhaley81 commented on #1376
@jseminck I pulled in https://github.com/yannickcr/eslint-plugin-react#e2f6460a63bd0cd0dca0c8308e35ff831d5161ed but I'm still not getting prop validation detection with flow types. I also added:

[code]

to my `.eslintrc.js` file. Is there something else I'm missing?

[2017-08-26 19:04] richardson-trevor commented on #1395
Agreed. The primary concern was that for someone not familiar with the implications of anonymous functions in props, they might think the rules is just stylistic. I think checking current scope would reject the 99% case of extracting to a variable.

[2017-08-26 21:02] jseminck commented on #1376
Thanks for testing it, @johnhaley81. Can you confirm you are using the master release? I did this to get it:

[code]

One way to test it is to execute this command: `cat node_modules/eslint-plugin-react/lib/rules/prop-types.js | grep versionUtil` and it should return:

[code]

You shouldn't have to add the `flowVersion` to the config yet, though it doesn't hurt for the future. It should definitely

[2017-08-26 23:10] johnhaley81 commented on #1376
I Confirmed that I'm on master. Here's a screenshot of what I'm seeing:

![image](https://user-images.githubusercontent.com/867780/29745762-dbc4f41a-8a78-11e7-95af-60a6201294ca.png)

[2017-08-26 23:16] johnhaley81 commented on #1376
Oh and I would definitely recommend Flow. I've been using it for a few things and it's been great.

[2017-08-27 00:18] ljharb commented on #1376
@johnhaley81 i'm confused; what's `<P: { open?: boolean }>` doing there exactly? I'd expect something like `type P = { open?: boolean };` higher up in the file.

[2017-08-27 06:37] jseminck commented on #1376
Did this example work before, but using `<void, Props, void>` instead of `<Props>` ? Or is this syntax some new feature in the latest Flow version?

[2017-08-27 10:28] jseminck commented on #1393
FYI I'm working on this: https://github.com/jseminck/eslint-plugin-react/tree/prop-types-util - just to make sure we don't do double work!

[2017-08-27 11:53] thejameskyle commented on #1376
@ljharb In Flow generics can have a "bound":

[code]

Additionally, generics can be used in nested scopes:

[code]

So when you put those together you have:

[code]

It looks like this plugin might not be looking up the type of `Props` from scope well enough.

I have a few Babel util packages to help with this:

- https://github.com/babel-utils/babel-identifiers
- https://github.com/babel-utils/ba

[2017-08-27 16:22] xareelee opened #1399 "[react/jsx-boolean-value] enforce assign a `true` value for boolean props"
In `Props Default to "True"` of official docs (https://facebook.github.io/react/docs/jsx-in-depth.html#props-default-to-true):

I think explicitly using `{true}` to a boolean prop better:

[code]

Is there any lint rule to enforce that?

[2017-08-27 16:30] jseminck commented on #1376
Shouldn't this be raised as a separate issue?

[2017-08-27 16:32] ljharb commented on #1399
The airbnb guide requires that the `={true}` be omitted; you can configure [jsx-boolean-value](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-boolean-value.md) however you like.

[2017-08-27 16:32] #1399 closed

[2017-08-27 16:36] ljharb commented on #1376
This issue is a generic one for 0.53 prop types support; are bound generics new in 0.53?

[2017-08-27 16:47] xareelee commented on #1399
How can check `<Foo bar>` to be consider an error with eslint rule `react/jsx-boolean-value`?

[2017-08-27 16:55] ljharb commented on #1399
@xareelee if you read the link I provided, you can configure it with "always" or "never".

[2017-08-27 17:03] jseminck commented on #1376
Not sure if it is. I guess it might be. Anyway, I had a quick look at this and identified at least one issue. We are only visiting `ClassDeclaration` node types, but when using HOC pattern we return a `ClassExpression`:

<img width="1360" alt="screen shot 2017-08-27 at 19 59 35" src="https://user-images.githubusercontent.com/9586897/29752204-6b3884a6-8b62-11e7-8ce7-e249563dec70.png">

Adding suppo

[2017-08-28 03:21] xareelee commented on #1399
@ljharb thanks. I got confused with `error`/`warn`/`off` and `always`/`never`.

[code]

Now it's OK.

[2017-08-28 18:01] hatched opened #1401 "Top level defined variable caught by no-unused-vars"
[code]

`3:7   error  'Baz' is assigned a value but never used             no-unused-vars`

[code]

[2017-08-28 18:07] ljharb commented on #1401
Try enabling the https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md rule.

[2017-08-28 18:08] hatched commented on #1401
That did the trick, thanks a lot @ljharb

[2017-08-28 18:08] #1401 closed

[2017-08-28 20:48] gleb-lobastov opened #1402 "forbid-prop-types give false positive on customObject.array attribute (not PropTypes.array)"
Hi. Such is the bug:

[code]

package version: "0.4.0"

[2017-08-29 04:55] jseminck commented on #1402
For anyone tackling this, I think this issue is similar to: https://github.com/yannickcr/eslint-plugin-react/issues/1389

We are not properly distinguishing between PropTypes coming from the `prop-types` package and custom prop-types.

[2017-08-29 05:37] jseminck commented on #1364
Hi @LINKIWI - I have opened a PR for this. Could you test it out on your code and see if it works for you?

[2017-08-29 08:45] cheton commented on #1373
I got this error with following setup:

* eslint@4.5.0
* eslint-plugin-jsx-a11y@5.1.1
* eslint-plugin-react@7.3.0

[code]

[2017-08-29 10:57] jseminck commented on #1373
@cheton any chance you can provide an example of the code that breaks it? I understand it may not be easy to find, but it would be very useful!

[2017-08-29 16:17] cheton commented on #1373
After narrowing down over 500+ files, I discovered a small file that could cause the error.

https://github.com/cncjs/cncjs/blob/master/src/app/api/api.version.js
[code]

[2017-08-29 16:21] cheton commented on #1373
This will cause a crash:
[code]

[2017-08-29 17:38] jseminck commented on #1373
Thanks a lot. I'll try to look into this asap.

In short I think we should start to try to find a way to limit the `no-typos` rule to files that actually contain React.Components. Currently it's visiting **al MemberExpressions** which is perhaps a bit overkill.

[2017-08-29 17:53] mruzekw commented on #1323
Looks like this is being addressed in https://github.com/yannickcr/eslint-plugin-react/pull/1404

[2017-08-30 06:30] #1323 closed

[2017-08-30 06:30] #1364 closed

[2017-08-30 14:57] jseminck commented on #1373
@cheton PR is up. If you can, please have a look. Thanks a lot for reporting the issue and taking the time to find a snippet to reproduce the issue. 🎉

[2017-08-30 15:09] fedemp opened #1407 ""missing display name" when using React.createClass"
Hello people. I'm having trouble linting some old code from a project that triggers the "Component definition is missing display name (react/display-name)" warning.

Minimal example:

[code]

Used .eslintrc

[code]

[2017-08-30 15:56] ljharb commented on #1346
I don't have an article, but because you're expanding the public API on a component, with something that's conceptually important enough to separate yet somehow not important enough to you to have its own propTypes safety?

[2017-08-30 15:59] jseminck commented on #1407
I think you have to use:

[code]

[2017-08-30 16:06] ljharb commented on #1407
The latter isn't necessary here; just the createClass pragma.

[2017-08-30 18:22] fedemp commented on #1407
@jseminck Your suggestion actually worked. Closing. :)

[2017-08-30 18:22] #1407 closed

[2017-08-31 06:56] jseminck commented on #1396
Would you be up for making a PR for this feature? I had a quick look today, and it shouldn't be that complicated as the code will be quite similar to how the current `beforeSelfClosing` option works.

I'm ready to assist if needed.

We'll need to add a new option to support this though, I don't know what the name should be. Perhaps simply `beforeClosing` ?

[2017-08-31 07:02] ljharb commented on #1396
`beforeClosing` might be `</` - does the rule already handle `< `?

[2017-08-31 14:21] jasonbarry commented on #1376
This has landed in master, yes? Can a patch release come out soon? Right now any project using latest flow and latest eslint-plugin-react won't pass linting.

[2017-08-31 16:27] jseminck commented on #1376
Partially landed in master, yes. There is still one PR that solves another case.

[2017-08-31 17:13] ardok commented on #1376
Can't wait to see this closed!

[2017-08-31 17:31] silvenon commented on #1376
Let's be patient and buy @jseminck a beer afterwards. 😄

[2017-08-31 21:37] a-x- opened #1410 "Definition for rule 'react/no-typos' was not found"
eslint-plugin-react@7.3.0

[2017-08-31 22:29] ljharb commented on #1410
That's because the rule hasn't been released yet.

You can see on https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-typos.md that the commit is not contained in any release tags yet.

[2017-08-31 22:29] #1410 closed

[2017-09-01 18:22] lambdabaa commented on #327
👍

[2017-09-01 19:16] jseminck commented on #327
It turns out eslint-plugin-react-native has this rule. It's not pretty to use that... see: https://github.com/yannickcr/eslint-plugin-react/issues/1325

Perhaps we should port it over to here...

[2017-09-04 05:28] jseminck commented on #1393
Just an update on this and also for myself to keep track of all the changes:

* Added support to no-unused-prop-types for Flow 0.53 syntax: `Component<Props, State>`
* Added support to all other lifecycle methods for `prop-types` rule. Previously it only supported `componentWillReceiveProps` and `constructor`
* Added support for `prevProps` variable name for `prop-types` rule.
* Added support for

[2017-09-04 06:06] vdh commented on #891
I'm recanting this issue. I've seen the light that `children` props create way too much syntactic and logistical hassles than they're worth.

[2017-09-04 06:06] #891 closed

[2017-09-04 23:52] sahanatroam commented on #1247
@dzhytomyrsky did you add this piece of code to the package settings ?

[2017-09-05 15:47] derwaldgeist commented on #1002
Same if you use a prop by simple deconstructing like this:

[code]

[2017-09-05 15:50] ljharb commented on #1002
@derwaldgeist you can't use props like that; render takes no arguments.

[2017-09-05 15:54] derwaldgeist commented on #1002
Yep, just found this out myself 👍 I was turning a stateless component in a class and missed this.

[2017-09-05 16:24] jseminck commented on #1002
I've adding support for this in https://github.com/yannickcr/eslint-plugin-react/issues/1393 which is still WIP. Will add these test cases but I'm quite sure they work already.

[2017-09-05 21:12] #1388 closed

[2017-09-05 21:36] #1376 closed

[2017-09-05 22:17] rosskevin opened #1413 "7.4.0-rc.0 flow imported type intersection error - Cannot read property 'length' of undefined in prop-types.js"
We are heavy flow users and are on flow 0.54.0, so I assume this may be related to @jseminck's changes in #1400. This may be an entirely new case or separate bug.

[code]

[code]

[code]

It appears to be failing when visiting `IntersectionTypeAnnotation`:

![prop-types_js_-_material-ui_-____projects_material-ui_](https://user-images.githubusercontent.com/136564/30085832-00874be4-925e-11e7-980d-34

[2017-09-05 22:24] rosskevin commented on #1413
This may have been related to a pattern we were previously using:

[code]

Where this doesn't usually serve a purpose anymore, I've refactored to:

[code]

But, there are cases where this makes sense such as

[code]

These seem to still be breaking based on that indirection.

[2017-09-05 22:30] rosskevin commented on #1413
I just confirmed it isn't this one layer of indirection because I removed them all.  It appears to happen when there is an intersection of an imported type:

[code]

[2017-09-06 05:16] jseminck commented on #1413
Thanks for looking into this. I guess it is related to: https://github.com/yannickcr/eslint-plugin-react/pull/1404 where we added support for the IntersectionOperator.

I can fix the crash easily, but can we even properly validate the props in this case? Since they are imported from another file, we do not what's inside them... 😞

[2017-09-06 05:47] jseminck commented on #1413
I did a quick check and there were 2 issues:

* One is more related to the fact that there were multiple intersections. The rule only handled one intersection, e.g. `PropsA & PropsB` - but in your case you have a second intersection as well.
* When a type is imported, it seems like we skip props validation because we cannot figure out what props are actually imported from the other file.

[2017-09-06 05:49] jseminck commented on #1413
@rosskevin @bsr203 can you check out https://github.com/jseminck/eslint-plugin-react/tree/intersection-imported-type and see if it fixes the issue for you? I've added test cases that cover the examples here.

[2017-09-06 07:07] jseminck commented on #1413
I tested on material-ui with this branch and found another problem with the `Hidden` component. Will investigate tonight...

[2017-09-06 09:01] s-h-a-d-o-w commented on #648
@yannickcr Your commit unfortunately doesn't seem to fix this issue. The example provided by @lencioni still produces the buggy result of removing the comment (tested using 7.3.0).

So I would argue that this issue should be re-opened.

[2017-09-06 09:06] tobiasvoelke commented on #1342
+1

[2017-09-06 09:10] KatGr commented on #1342
+1

[2017-09-06 10:44] jseminck commented on #1342
Please don't use +1 replies. There are thumb up emojis on the main issue that have the same effect. Thanks 😄

[2017-09-06 13:23] bsr203 commented on #1413
hi @yannickcr

I get a different stack this time.

[code]

[2017-09-06 13:43] jseminck commented on #1413
@bsr203 see my last comment. I just pushed a fix to my branch and tested it on the material-ui project and now everything passes 🎉

I still have to clean up the code though... it's a bit messy.

To try it out (or `npm i --save-dev` if you use npm)

[code]

[2017-09-06 14:04] bsr203 commented on #1413
@jseminck everything looks good for me. no crash and also props are being detected.
P.S.  If anyone try to install the github branch, I had to `yarn cache clean`, as it keep getting previous commit from cache so wasn't updating with latest.

thanks again for the quick fix and help.

[2017-09-06 14:13] rosskevin commented on #1413
Thanks everyone for the assistance.

Regarding importing from other files, it is possible.  I did some research into the matter and commented my findings here: https://github.com/brigand/babel-plugin-flow-react-proptypes/issues/106#issuecomment-319217637

Essentially, this is a common problem and `thejameskyle/babel-plugin-react-flow-props-to-prop-types` has a solution to grab the type definitions

[2017-09-06 14:23] jseminck commented on #1413
Cool. Thanks for testing @bsr203.  I'll clean up the code and push the changes. It'll take a bit of time as I have some things to attend to.

Regarding imports from other files: For now I'll stick to the same logic as we applied previously: if there's an import of a type, then we cannot find it, and we just skip props validation for that file.

I'll try to read through that thread later and see ho

[2017-09-06 14:27] rosskevin commented on #1413
@jseminck - if there is a way to extract that code and grab imported types, it might be a generally useful utility project. I know the `brigand/babel-plugin-flow-react-proptypes` needs it, and we could use it here.  Like everyone, we all have limited time so I understand!  These issues are linked now so I'll post over here if I end up doing it over there.

And yes, the callemall/material-ui#v1-bet

[2017-09-06 15:24] ljharb commented on #648
The commit includes automated tests that should verify it's working.

Can you open a PR that includes a failing test case?

[2017-09-07 10:45] smokku commented on #528
This rule should accept a list of props that are excluded from the check.
i.e. it is perfectly fine to have `children` undefined while validating for `node` when defined. Writing `defaultProps = { children: undefined }` every time is redundant and annoying.

Similarly, we have a custom of merging given `className` using `classnames` every time: `className={classNames(this.props.className, styles.s

[2017-09-07 15:42] ljharb commented on #528
No, it's not perfectly fine - children needs a defaultProp too. It serves as documentation, and ensures that the author didn't make a mistake.

Separately, having a className prop is not a great idea at all anyways: https://brigade.engineering/don-t-pass-css-classes-between-components-e9f7ab192785 but if you have it, you need the defaultProp there too.

You're free not to use the rule, of course,

[2017-09-07 17:46] smokku commented on #528
I don't agree on misusing `defaultProps` as documentation. `propTypes` serves a better job at this, telling not only whether the property is being accepted, but what type(s) it should be and is it required. One could of course pull default value from `defaultProps` - falling back to `undefined` as the component does. And `className` argument is bogus - it assumes that you are dealing with people w

[2017-09-07 19:16] smokku commented on #528
Anyway, here's a fork with support for `ignore` option: https://github.com/smokku/eslint-plugin-react
[code]
If anyone is interested, just put `"eslint-plugin-react": "git://github.com/smokku/eslint-plugin-react",` to your `package.json`.

[2017-09-07 20:52] ljharb commented on #528
If you'd like to open a separate issue requesting that feature, we can discuss it.

The benefit of having even an explicit `undefined` over an implicit one is the same as the universal "explicit > implicit" - developers working on that component can know, with certainty, what the value of the prop is.

(The `className` argument is not bogus; and in fact when developing you *should* assume that nob

[2017-09-07 23:28] bcutler-work opened #1417 "react/jsx-no-bind false positive?"
Example snippet:

[code]

`this.wrap.bind` triggers the rule, even though the bound function isn't the actual prop being passed, but is being used during the render to build the children, so it shouldn't break purity.

[2017-09-08 07:30] yantakus opened #1418 "react/no-direct-mutation-state doesn't catch all cases"
[code]

In this case eslint won't show any errors.

[2017-09-08 07:45] bensampaio opened #1419 "prefer-stateless-function should check if the component depends on the Context API"
My component is as follows:

[code]

If I am not wrong it is not possible to access the Context property on a stateless component so the rule should recognise this case as valid.

[2017-09-08 08:19] jseminck commented on #1418
I think we figured this out yesterday. Somebody created a PR for not allowing mutation for `this.props` and added support for this case. Once that PR is finished we'll try to move all the logic over to `no-direct-mutation-state` rule as well.

https://github.com/yannickcr/eslint-plugin-react/pull/1416

[2017-09-08 08:23] jseminck commented on #1419
It seems like this is according to design:

Here is a test case covering it:

https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/prefer-stateless-function.js#L460

According to the docs of React, the context is passed in as the second parameter of the stateless function: https://facebook.github.io/react/docs/context.html#referencing-context-in-stateless-functional-compone

[2017-09-08 08:33] #1419 closed

[2017-09-08 15:43] EvHaus commented on #1413
Closely related to this issue I'm also seeing the following code:

[code]

Result in the following `eslint-plugin-react` crash:

[code]

[2017-09-08 16:06] jseminck commented on #1413
@EvHaus this is already handled in the PR 😄 though I only tested `Props & { ...}`  - I also added tests for ` {...} & Props` now.

Can you try with https://github.com/yannickcr/eslint-plugin-react/pull/1415 ?

[2017-09-08 19:43] SeanSilke opened #1420 "(feature request) Case check for Comp.propTypes"
If misplaced lowercase `p` for `P` in `propTypes` it will lead to complete absence of props type checking

It will be good to add check for  `Comp.propTypes` vs ` Comp.PropTypes`

How strange it case can seem people encountered it.
[example on stackoverflow](https://stackoverflow.com/questions/45398709/react-proptypes-in-stateless-functional-component)

[2017-09-08 19:58] shawninder opened #1421 "... is missing in props validation, except it's not missing!"
I am getting this error for prop types which are indeed defined, though perhaps not in a way the linter expects. Here is how I define my prop types:

[code]
As you can see, the `env` prop is there (you can check this by inspecting the resulting `MyComponent.propTypes` which indeed has an `env` key), but I still get a linting error saying `'env' is missing in props validation (react/prop-types)`.

[2017-09-08 20:01] ljharb commented on #1421
Because you're using `reduce` to build up `propTypes` with metaprogramming, there's no way for static analysis to figure out what your prop types are.

I strongly suggest explicitly hand-writing them out.

[2017-09-08 20:05] shawninder commented on #1421
hmm, that means that whenever I change myArray, I would need to remember to change this code too... It feels weird to write lesser quality code just to avoid a linting limitation.

[2017-09-08 20:08] ljharb commented on #1421
If your prop types are coupled such that changing one array causes a corresponding change to cascade through your component hierarchy, you may want to use hardcoded prop names precisely so that's not the case.

It's not just a linting limitation; one of the points of propTypes is to serve as documentation, and the more explicit you can be, the better - for humans, not just for the linter.

[2017-09-08 20:16] jseminck commented on #1420
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-typos.md handles this. However the rule has been a bit unstable 😞 the `7.4.0-rc0` release should be good though. That reminds me, that I should check it.

[2017-09-08 21:19] shawninder commented on #1421
This array is used not only by various components but also by various backend services. The file holding it is the documentation, not the prop types of all components using it. I'm not sure how I can be more explicit without ending up with multiple sources of truth for this array.

[2017-09-08 21:20] shawninder commented on #1421
I'm just going to close this since it has become obvious this is a problem with my code, not with this package.

[2017-09-08 21:20] #1421 closed

[2017-09-08 22:05] SeanSilke commented on #1420
@jseminck Thanks will definitely use it.

[2017-09-09 00:25] MatthewHerbst opened #1422 "`prop-types` fails with destructuring"
The [`prop-types`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md) rule fails when presented with destructuring:

**package.json**
[code]

**.eslintrc**
[code]

**Examples.jsx**
[code]
Related: #296
Possibly related: #1346

Also possibly related is that `no-unused-prop-types` (without using Flow) fails on destructuring as well, which is behavior I was able to

[2017-09-09 00:32] ljharb commented on #1422
Shape props have known bugs; do you have skipShapeProps enabled?

[2017-09-09 00:35] MatthewHerbst commented on #1422
@ljharb no - we use Relay, so basically 95% of our props are within a shape (`viewer.x`, or deeper). Enabling that option would be akin to turning this rule off for us. I know that `no-unused-prop-types` has issues with shapes since it mentions that in the description, but there is no such warning in the `prop-types` rule (though makes sense that the two rules would share some issues).

[2017-09-09 00:41] MatthewHerbst commented on #241
Also, writing out the PropTypes is good so that in the future you could strip Relay from a component and still know it's data requirements.

Also, a rule doing this would not be able to tell you if you were getting a string (from Relay) but actually meant to be getting a number. That's something that PropTypes can check by being between the two.

[2017-09-09 02:37] SeanSilke commented on #1420
@jseminck Tried  `7.4.0-rc0`.
Unfortunately it does not work for this case.
No warnings on misspelled `.PropTypes`

[2017-09-09 05:55] jseminck commented on #1420
Can you give an example? This is exactly what the rule is supposed to do - so perhaps there's a case that isn't caught properly.

![proptypes](https://user-images.githubusercontent.com/9586897/30237525-a5da9c96-953c-11e7-8fc7-e4719f1a96bd.png)

[2017-09-09 06:06] jseminck commented on #1373
@cheton have you had a change to try 7.4.0-rc0? I haven't found any issues anymore. But would be great to confirm if your issue is fixed as well.

[2017-09-09 11:12] SeanSilke commented on #1420
@jseminck Oh, my bad.
I have typo in property of stateless functional component.
<img width="408" alt="screenshot at sep 09 14-03-00" src="https://user-images.githubusercontent.com/1077074/30239545-9dac3e78-9567-11e7-84df-fd790d7075f6.png">

This rule is only for static property of a class.

Will it be good to give this rule less broad name?
Is it possible to extend this rule and add check for typ

[2017-09-09 11:48] jseminck commented on #1420
It should work as well. At least we have test cases for it... I will try to
figure out why your example isn't working.

On Sat, 9 Sep 2017 at 14:12, Sergey Orlov <notifications@github.com> wrote:

[2017-09-09 13:04] cheton commented on #1373
I can confirm that it's fixed in 7.4.0-rc.0. Thank you!

[2017-09-09 18:32] davebream commented on #1187
Anything new on this?

[2017-09-09 20:54] ljharb commented on #1187
The linked PR was closed, so this is again in need of someone willing to write a fix.

[2017-09-10 06:21] jseminck commented on #1420
I tried your example in our test suite and it correctly identifies it. (note: I added it as a valid test case so it would throw an error)

[code]

[2017-09-10 06:41] jseminck commented on #1422
We have this test case:

[code]

Judging from that, it seems some basic shapes support exists and the example should actually be supported.

Indeed when I try the following snippet I actually get an error. But the destructuring doesn't work with the shapes...

[code]

[2017-09-10 09:14] SeanSilke commented on #1420
@jseminck
Yes it Works!
I made errors in declaration on the rule.
Great thanks!

There is possibility to make better documentation.
### Add functional components to  warning code examples.
[code]
### Add mention of function in rule overview.
Ensure no casing typos were made declaring static class properties
-> Ensure no casing typos were made declaring static class or **function** properties

It m

[2017-09-11 04:49] ljharb commented on #1420
Sounds like this is resolved; PRs to improve docs are always appreciated.

[2017-09-11 04:49] #1420 closed

[2017-09-11 06:12] goodbomb opened #1424 "Definition for rule 'react/wrap-multilines' was not found"
I'm getting this error using eslint-plugin-react v7.3.0. I understand this is supposed to be a deprecated rule, so why am I getting this error?

[code]

[2017-09-11 06:13] jseminck commented on #1424
Can you give your eslint config please? My guess is you may be extending some eslint configuration that has this rule still enabled.

[2017-09-11 06:18] goodbomb commented on #1424
[code]

[code]

[code]

[2017-09-11 06:33] ljharb commented on #1424
The rule is `jsx-wrap-multilines`, not `wrap-multilines`. Your eslintrc has an error.

[2017-09-11 07:49] byohay opened #1425 "jsx-indent: indent the first component differently"
- eslint 4.5.0
- eslint-plugin-react 7.3.0

Settings:
[code]

I would like to be able to indent the first component in a JSX specification differently (4 spaces) than its child components (2 spaces). For example:
[code]

Results in the error:
[code]

[2017-09-11 08:01] ljharb commented on #1425
I'm not sure I understand. What indentation do you use for your JS, and why would you want that to be different for JSX?

[2017-09-11 08:09] goodbomb commented on #1424
Uh, no it doesn't. My `.eslintrc` file is already using `jsx-wrap-multilines` as you can see above. I'm aware that `wrap-multilines` is deprecated, and yet I'm still receiving the error that the definition can't be found. But, of course it's missing. I've removed it from my `eslintrc` file.

[2017-09-11 08:13] ljharb commented on #1424
Hmm, sorry, I guess I misread.

Is this happening on the command line? It's weird that there's a google URL in the error message.

[2017-09-11 08:15] goodbomb commented on #1424
Yeah. If it helps, I'm using:
- node v8.4.0
- npm v5.3.0
- webpack v3.5.6

Basically all of my dependencies are at the latest version.

[2017-09-11 08:18] ljharb commented on #1424
Is webpack running eslint for some reason? If so, what happens if you run eslint directly?

[2017-09-11 08:18] goodbomb commented on #1424
I'm basically creating my own personal React boilerplate for my own projects. You can download and run it locally if you want: https://github.com/goodbomb/react-redux-webpack-starter

You can see all of my eslint files and package.json there

[2017-09-11 08:20] ljharb commented on #1424
OK, so what happens if you run `npx eslint .`?

[2017-09-11 08:22] goodbomb commented on #1424
I use it during hot module reloading so I can immediately detect style issues. Regardless, I'm seeing the same error in Visual Studio Code.

[2017-09-11 08:25] ljharb commented on #1424
It's quite frequent that "running eslint on anything but directly on the command line" causes issues, so it's always important to ensure that you can reproduce the issue there.

For example, often, editors (and probably webpack) need to be restarted after any node_modules changes in order to pick them up; but the command line command does not have this problem.

[2017-09-11 08:27] goodbomb commented on #1424
I'll try deleting node_modules and reinstalling tomorrow. I need to head to bed for now. I'll let you know what happens. Thanks for the quick responses.

[2017-09-11 08:39] goodbomb commented on #1424
Looks like it was a different rule entirely that was causing this issue. Weird.

I needed `"react/jsx-tag-spacing": [2, { "beforeSelfClosing": "always" }],` instead of `"react/jsx-space-before-closing": [2, "always"],`

Your suggestion of running eslint directly seems to have done the trick. Thanks for the tip.

[2017-09-11 15:29] ljharb commented on #1424
Very weird. Glad you figured it out!

[2017-09-11 15:29] #1424 closed

[2017-09-11 15:38] tnrich opened #1426 "jsx-key doesn't seem to be working for me?"
Is anyone else experiencing this rule just not working at all for them?

Thanks!

Note: I am using create-react-app and adding additional eslint rules to it, so that probably is where the problem is occurring. Other rules seem to work though

[2017-09-11 18:24] #1386 closed

[2017-09-11 19:18] jseminck commented on #1426
Could you give some more information? I'm using CRA as well and just tested this. It seems to work:

This is my eslint configuration file:

[code]

It only reports the issue in my IDE though, not in the actual console. But I believe that is a CRA issue...

[2017-09-11 19:39] tnrich commented on #1426
Hmmmmm very interesting. This rule literally just started working for me!

Excellent!

Well, I swear I'm not crazy ;) Thanks for responding 👍

[2017-09-11 19:39] #1426 closed

[2017-09-12 01:11] #1413 closed

[2017-09-12 07:05] s-h-a-d-o-w commented on #648
Was that what you had in mind?

[2017-09-12 14:18] ljharb commented on #648
Thanks, that's appreciated! I'll take a look soon.

[2017-09-12 15:02] s-h-a-d-o-w commented on #648
Cool, thanks for the update!
(Essentially my first PR on a major project, so I just wanted to make sure I did it properly and understood you correctly :) )

[2017-09-12 15:25] jseminck commented on #1389
I'm trying to work on this... I guess we need to support the following cases? Did I miss anything

[code]

[2017-09-12 21:22] ShaunLloyd opened #1427 "Indentation error with flow"
### Versions:
`eslint`: 4.3.0
`eslint-plugin-react`: 7.1.0

### Problem

I'm using flow for my react native project and I'm coming across this weird error. One of my components has a lot of props that i'm destructuring onto their own individual lines. however, when I add the types to the destructured object I get an indentation error. However, fixing that error causes eslint to complain about the

[2017-09-12 23:04] idahogurl opened #1428 ""react/prop-types" not being caught"
I ran my React component file against ESLint and it fails to catch missing propTypes.  My config for "react/prop-types" is set to the default. I am using IDEAj for Mac OS for my editor.

Here is my file: [ag_select_campaign_item.txt](https://github.com/yannickcr/eslint-plugin-react/files/1297691/ag_select_campaign_item.txt)

These are the ESLint packages I have installed.

"babel-eslint": "^7.2.3"

[2017-09-12 23:18] ljharb commented on #1428
What's your `.eslintrc`?

<details>
<summary>contents of the file, so nobody has to download it</summary>

[code]
</details>

Note that createClass is deprecated as of React 15, and so you may need to specify the pragma to "createClass" per https://github.com/yannickcr/eslint-plugin-react#configuration

[2017-09-12 23:18] ljharb commented on #1389
@jseminck also `require('prop-types')` in any form.

[2017-09-13 04:55] jseminck commented on #1428
If I change the code to `const AgSelectCampaignItem = createReactClass({` then the missing prop-type is detected.

In order to properly detect `React.createClass` you have to use this setting:

[code]

[2017-09-13 05:00] jseminck commented on #1428
BTW we have a lot of tests for `React.createClass` but none of them use this setting. Doesn't that mean these are all invalid as component detection isn't working for them? I can imagine this may be overlooked when the `createClass` setting was introduced...

[2017-09-13 16:53] hallaathrad opened #1429 "Indent props aligned to first."
Wishing there was a rule to force indentation of props similar to the parameter indentation by eslint.
https://eslint.org/docs/rules/indent#functiondeclaration

My idea would be to have something that looks like this:
[code]
Am I missing this as an option for an existing rule?

[2017-09-13 17:15] jseminck commented on #1429
I don't think that we have a rule that enforces this style at the moment.

[2017-09-13 17:30] idahogurl commented on #1428
Thanks, guys. I put in the setting for "createClass" in my .eslintrc file and now it picks it up.

[2017-09-13 17:30] #1428 closed

[2017-09-13 17:32] hallaathrad commented on #1429
How difficult is it to implement such a thing for a new contributor? I may be able to give it a try.

[2017-09-13 19:01] jseminck commented on #1429
I think it would be possible to implement. Can't say how hard it would be, definitely not easy but not impossible either.

* Find all JSXExpressions
* Count the number of props in each expression. If <= 1 ignore
* Store the location of the first prop (line, number of characters before -- I am not sure if this info is readily available but I'm quite sure it's possible to get it).
* Check whether ev

[2017-09-14 01:24] gabimelo opened #1430 "Can't install"
I don't get why it's saying that it has an unmet peer dependency, given that eslint is properly installed.

[code]

[2017-09-14 06:25] evan-scott-zocdoc opened #1431 "jsx-handler-names suboption handling bug"
[code]

I would expect `false` or `''` to disable the `eventHandlerPropPrefix` rule, but it doesn't.

[2017-09-14 06:55] jseminck commented on #1431
Since the code is:

[code]

Using `''` or `false` will actually indeed make it default to 'on'.
Additionally `false` isn't a valid value because it requires a string.

I assume your use case is that you only want to use the `eventHandlerPrefix` part of this rule? It does seem like that is currently not supported.

[2017-09-14 07:01] lucasbento commented on #968
Same thing happening here even with a simple component:

![image](https://user-images.githubusercontent.com/6207220/30416106-254d8456-992b-11e7-8af1-0172e49522ac.png)

[code]

[code]

[2017-09-14 07:05] jseminck commented on #968
Strange. This case is supported and has tests for it: https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/prefer-stateless-function.js#L42

[2017-09-14 07:45] evan-scott-zocdoc commented on #1431
Correct.

[2017-09-14 07:51] jseminck commented on #1431
I guess we can explicitly check for `undefined` in `configuration.eventHandlerPropPrefix === undefined || 'on'` so that using `''` would disable this part of the configuration.

Let's see what other think about it, otherwise seems like a straight forward change.

[2017-09-14 13:32] erica93k opened #1433 "propType [name] is not required, but has no corresponding defaultProp declaration"
I am using Flow for type checking, and I have something like this:

[code]

So, my question is, should I get this linting error? Is this the desired behavior?

[2017-09-14 15:19] jseminck commented on #1433
I would say this is as expected. Since the prop is not required, you should specify a default value. You can decide to set it to `null` or `undefined` by default.

[2017-09-14 15:50] hallaathrad commented on #1429
Thanks :+1: may try an implementation this weekend.

[2017-09-14 15:50] #1429 closed

[2017-09-14 18:11] EyalPerry opened #1434 "react-in-jsx-scope satisfied by import from incorrect module name"
Example below (note module name):

import React from "mobx-react"
..

Issue:
React is defined, but not imported from the correct module.
This actually fails at runtime, while satisfying the said eslint plugin.
If there is a way to make the plugin more strict and explicit about this- it would be fantastic.

[2017-09-14 19:03] jseminck commented on #1434
According to the code, even `const React = {};` satisfies the rule.

I suppose technically it's a bug, yes.

[2017-09-14 20:28] benjick opened #1435 "Rule Suggestion: Disallow this (or this.props) in stateless components"
Would be super helpful when refactoring from classes to SFC

[2017-09-15 07:16] erica93k commented on #1433
I see. Thank you

[2017-09-15 07:16] #1433 closed

[2017-09-15 08:53] chotalia commented on #948
this worked for me
`ref={arg => { this.deleteBtn = arg; } }`

[2017-09-15 13:03] athomann commented on #1393
Is there more to do that hasn't been merged into the release candidate?

[2017-09-15 13:16] jseminck commented on #1393
Currently using the Flow TypedArgument syntax should work:

[code]

or

[code]

There's some work to complete as I would like to eliminate ALL shared code between the two rules (`prop-types` and `no-unused-prop-types`) so that both cover the same use-cases. Currently there's still a bit of a difference between the two.

But in general I'd expect the Flow syntax to work. Did you encounter any issue

[2017-09-15 13:25] athomann commented on #1393
Nope! Just curious if this issue should be closed or open after I noticed the PR getting merged.

[2017-09-15 14:12] mpetkevich commented on #1430
I have the same issue.

[2017-09-15 19:04] hozefaj opened #1436 "[no-array-index-key] throw error when id used along with item attribute"
When `idx` is used in conjunction with some `item` thats passed into array, the rule throws an error.

[code]

In this case, `idx` is used with the name which will guarantees uniqueness here even if `name` is not unique by itself.

[2017-09-15 19:35] jseminck commented on #1436
The issue isn't really related to uniqueness. Using only the index is also unique.

Let's say you have two items in your array generating these keys :

[code]

When your array is re-ordered, it will generate these keys:

[code]

The keys have changed, and React won't be able to apply it's optimisations related to array ordering since the keys have changed.

If your keys simply were `firstName` and

[2017-09-15 19:48] hozefaj commented on #1436
@jseminck Yes you are right. I guess in my use case, there will not be reordering, but rather name is not unique. But there are others ways to generate keys as well.

The articles are useful. Closing the issue.

[2017-09-15 19:48] #1436 closed

[2017-09-16 06:53] cheriejiajia commented on #1430
Same issue.

[2017-09-16 23:11] jackyho112 commented on #1417
I will give this one a look. 😄

[2017-09-17 18:38] piperchester commented on #447
@hybrisCole 's suggestion worked for me - had to restart to Atom to pick up the changes 😅

[2017-09-18 00:21] lightbringer1991 opened #1439 "Bug: react/prop-types throws missing props on chain propTypes passing"
[code]

apparently `eslint` complains that XYZ doesn't have `onClick` props

[2017-09-18 00:26] jackyho112 commented on #1417
@ljharb

Seems like the rule needs a bit more fixing than I thought it would to only check for `bind` in JSX props. If that was its purpose, [this test](https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/jsx-no-bind.js#L168) and [this one](https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/jsx-no-bind.js#L168) should not warn but they are current

[2017-09-18 09:20] ambewas opened #1440 "disabling react/jsx-no-literals does not work in files"
**Expected behaviour**
Adding `/* eslint-disable react/jsx-no-literals */` to the top of the file should disable the rule for the file in question.

**Actual behavior**
The rule still gets triggered when running gulp-eslint.

**More information**
Other rules (eslint default rules, or from this plugin) can be disabled just fine. Only trying to disable this specific rule does not work.

This behavio

[2017-09-18 09:44] jseminck commented on #1440
That's very weird. I'd expect this to be related to ESLint. They had a new version that was released before the weekend so if your version of ESLint was not locked down it could be related to that?

On the other hand it seems specific to this particular rule, but I don't really understand how/why...

[2017-09-18 10:55] ambewas commented on #1440
Problem was with the last release of eslint itself. Pinning eslint down to v4.6.1 resolves the issue for now.

I'm closing this and opening an issue with eslint.

[2017-09-18 10:55] #1440 closed

[2017-09-18 11:01] jseminck commented on #1440
There's already an issue that looks related: https://github.com/eslint/eslint/issues/9318

[2017-09-18 11:02] ambewas commented on #1440
yep, I'm going to add to that 👍

[2017-09-19 00:05] ljharb commented on #968
@lucasbento are you setting your React version correctly in eslintrc? PureComponent doesn't exist before v15.2 or so

[2017-09-19 00:06] ljharb commented on #1431
An empty string shouldn't be valid.

`false` might be useful, however.

[2017-09-19 00:07] ljharb commented on #1430
1) do not install anything globally
2) try not to use sudo
3) when installing locally, peer deps must be manually installed also.

[2017-09-19 00:09] ljharb commented on #1439
There's no practical way for a linter to reliably follow that kind of dynamism around your file.

propTypes serve as documentation, and ABC and XYZ's propType objects should be distinct. Try this:

[code]

[2017-09-19 00:10] ljharb commented on #1417
The rule is to avoid new functions being created *and passed as props to an element* (it should really apply not just to jsx, but to createElement calls as well).

[2017-09-19 00:11] ljharb commented on #1417
It's hard to evaluate without an actual PR; I'd love to look at the test case and docs changes in particular that you're suggesting.

[2017-09-19 01:59] #1430 closed

[2017-09-19 04:16] jackyho112 commented on #1417
@ljharb

Thanks for replying! I think I know the direction I'm going with to fix this issue now. Will open a PR soon! 😄

[2017-09-19 05:10] jseminck opened #1442 "Add support for React 16"
I think it would be great if this plugin would be ready with supporting all the new things that React 16 has to offer.

Currently I'm not sure exactly what would need to to be added though. The only thing I could think of was the `componentDidCatch` "lifecycle method" that got added. This should be added to a number of rules (`prop-types`, `no-unused-prop-types`, `no-typos`) and should only be che

[2017-09-19 07:11] ljharb commented on #1442
Adding these things only when the pragma is set to 16+ seems great; provided that the default is *not* changed prior to React 16 getting actually released.

If we're going to do this, let's take the opportunity to put the list of lifecycle methods in a single place :-)

[2017-09-19 23:03] sonhanguyen commented on #1439
@ljharb I don't know anything about ast parsing but shouln't there be a way to just eval this `propTypes` expression and check the result? Expect it to come with some performance cost however it will accommodate reusing `propTypes` better and `propTypes` seems always statically resolvable so maybe it's not much cost?
Again total noobs, if you think it's worth a shot I'll be happy to learn how.

[2017-09-19 23:16] ljharb commented on #1439
No, "eval" isn't something any linter can do.

Separately, making new objects for propTypes once per component has no measureable performance cost, but not doing it can have measureable clarity cost.

[2017-09-20 00:00] sonhanguyen commented on #1439
https://github.com/yannickcr/eslint-plugin-react/issues/476

[2017-09-20 14:04] inferusvv opened #1443 "react/prop-types throws error if variable name is `props`"
Case 1.

[code]

Case 2.

[code]

This will throw an error, that `someProp` is missing in props validation, but `props` is just a variable/constant name

[2017-09-20 15:52] ljharb commented on #1443
In case 1, does `method` return JSX? If so, it's a component according  to this plugin, so "props" isn't just a name.

[2017-09-21 08:16] ezhlobo commented on #1168
@jpap @EricBeReal hey, I started working on [eslint-plugin-react-pug](https://github.com/ezhlobo/eslint-plugin-react-pug). It's very new but it solves those issues.

[2017-09-21 16:16] jpap commented on #1168
@ezhlobo nice work! I've personally moved onto TypeScript/TSLint, but will definitely check out your ESLint plugin for reference.

[2017-09-21 18:06] duane commented on #894
Naturally, there are other uses for `'` than contractions and right single quotes. It's disappointing to see a typographic defense of all things for restricting valid input.

[2017-09-21 18:12] duane commented on #894
Notably, ASCII 39 (`'`) is primarily apostrophe, aka `&apos;`. This is how most fonts render the glyph; the only subculture that uses this as a right quote are japanese fonts that render it as a right single quotation mark. Furthermore, using single quotation marks in prose is vanishingly rare these days, whereas english contractions and possessives are as common as ever. You're hamstringing prose

[2017-09-21 20:26] julienw commented on #894
You can disable the rule if you don't like it.

I'm finding it useful, especially because github highlighting engine goes crazy with an alone apostrophe.

[2017-09-21 21:20] ljharb commented on #894
@duane english contractions and possessives should only be curly quotes too. The benefit is that curly quotes can't enclose HTML attribute values, which means the presence of a curly quote is never a bug, but the presence of a straight quote might be one.

[2017-09-21 21:21] ljharb commented on #1168
I'd say a separate linter plugin is the right solution here; this plugin is for react.

[2017-09-21 21:21] #1168 closed

[2017-09-21 21:23] duane commented on #894
@ljharb

This is incorrect; it's an apostrophe, and it is wildly different than a quotation mark.

[2017-09-21 21:27] julienw commented on #894
There are a lot of symbols that look alike. The [Wikipedia page](https://en.wikipedia.org/wiki/Apostrophe) is very clear.
You can use `’` as an apostrophe. You're right, a quotation mark `’` is not correct. Even if that looks alike in most fonts.

[2017-09-21 21:40] ljharb commented on #894
@duane technically `'` is not an apostrophe; `‘` is. `'` is only used for notating "minutes" in degree-minute-second notation.

[2017-09-22 01:45] sanjayp commented on #1094
Just adding that I'd like to see this rule added as well since there are potential performance implications, as noted here: https://flexport.engineering/optimizing-react-rendering-part-1-9634469dca02#63e7.

[2017-09-22 09:07] nitish24p opened #1444 "Jsx no bind rule"
The [no bind rule](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md) flags of the following jsx code.

[code]

How ever if i modify the same function

[code]

The error is not thrown, how ever effectively the same thing of creating a new function when the ```renderButton``` method is called takes place, only in the second case a separate variable has been assi

[2017-09-22 17:09] minmingsheng commented on #678
@gaearon Assuming I have a third-party(or cannot be changed/refactored) component
<component001 /> which contain <div className="component001">:
[code]
But it does not have either `ref="string"` or `ref={this.prop.cbRef}`.
Then I am having following structure in my `<widget001>` component:
[code]
Neither <component003> nor <component002> have real DOM.  My goal is to find `<div className="componen

[2017-09-22 17:14] ljharb commented on #678
Find a ref that your wrapper Component sets in its own div, and traverse down from there.

[2017-09-22 21:23] duane commented on #894
@ljharb, @julienw, check the ascii spec. `'` is an apostrophe.

[2017-09-22 21:26] ljharb commented on #894
I understand that's how computers describe it; however, typography, not the ASCII spec, determines what a character is, and what should be used.

[2017-09-22 21:31] ljharb commented on #1444
Yes, that should also warn, if possible.

[2017-09-22 22:29] gpeal opened #1445 "prop-types validation fails with forbidExtraProps"
Prop types validation fails if your prop types are wrapped with Airbnb [prop-types](https://github.com/airbnb/prop-types/) forbidExtraProps.
[code]

[2017-09-22 22:44] ljharb commented on #1445
@gpeal you need to specify it in `propWrapperFunctions`: https://github.com/airbnb/react-dates/blob/c464d43476191699567793097d09d21d98466cbb/.eslintrc#L16 is an example

[2017-09-22 22:44] #1445 closed

[2017-09-25 00:26] armenzg commented on #237
If it helps someone, I was having trouble with this (**'post' is missing in props validation (react/prop-types)**):
[code]
but this did not have anymore issues:
[code]

[2017-09-25 01:09] Li0liQ opened #1446 "no-unused-prop-types is unable to parse type aliases"
no-unused-prop-types v.7.4.0 throws when trying to parse this [code](https://flow.org/try/#0PQKgBAAgZgNg9gdzCYAoAlgWwA5wE4AuyYAhgM5gBKApiQMZFR5yZgDketDbA3KqgQCe2amADKLagAVm2CgF4wAbwC+fISLAARalBIBXGARlw5YRRMzTZZdcNEmzinXsPGbYAGTLUa1NQAPXEIwOhhyCgAVajICAGEWXAA7aiSiQIJUgBMKGnoCADoEnDgUtIAeRzIAGjAANzh0LIA+HxUgA)
[code]

[code]

[2017-09-25 05:39] ljharb commented on #237
@armenzg that seems like a bug. Can you file that as a new issue?

[2017-09-25 13:25] armenzg opened #1447 "'foo' is missing in props validation (react/prop-types)"
I was having trouble with this (**'post' is missing in props validation (react/prop-types)**):
[code]
but this did not have anymore issues:
[code]

And I believe this information could be useful:
[code]

[2017-09-25 13:26] armenzg commented on #237
@ljharb I've filed it:
https://github.com/yannickcr/eslint-plugin-react/issues/1447

Thanks!

[2017-09-25 15:31] rsolomon opened #1448 "no-unused-prop-types false positives for HoCs (ex: react-redux connect)"
If you have a set of props that are only used in functions passed to an HoC, `no-unused-prop-types` will erroneously say that the props are unused. This is a major issue for any app that uses react-redux.

Example component that fails:

[code]

Even though the `id` prop is used in `mapStateToProps`, the following error will still throw:

[code]

This is an issue in v7.4.0 only

[2017-09-25 15:51] ljharb commented on #1448
It's an issue always, it's just that now we detect prop types better.

There's really no way around this without encoding special knowledge of `connect` in this plugin. I'd recommend using override comments for these cases.

[2017-09-26 16:43] modosc opened #1449 "jsx-curly-brace-presence removes braces that are required"
[code]
with the `7.4.0` release these braces are removed and then eslint chokes on the syntax.

[2017-09-26 19:31] jseminck commented on #1442
Another thing we should test: since it's now possible to return an array from `render()`, but the array does require keys at the moment. So we should check whether the current rule `react/no-array-index-key: Prevent using Array index in key props` works for this case...

[code]

[2017-09-26 23:11] Nemsae opened #1451 "Using React as a global variable, how to disable "react-in-jsx-scope"?"
Hi guys,

On this project I have React as a global. I am getting this error:

![screen shot 2017-09-26 at 4 10 11 pm](https://user-images.githubusercontent.com/20247504/30888412-3fb043b6-a2d5-11e7-9ad0-33e063a3a88c.png)

What is the syntax for disabling this rule, 'react-in-jsx-scope' in JSON format?

Thanks,

[2017-09-26 23:56] yannickcr commented on #1451
Setting the `react/react-in-jsx-scope` rule to `off` in your `.eslintrc` should be enough to disable it:

[code]

[ESLint documentation](https://eslint.org/docs/user-guide/configuring#configuring-rules)

[2017-09-27 00:18] #1451 closed

[2017-09-27 02:09] setek commented on #1369
Hi, I’m running 7.4.0 and still getting this error:

**package.json:**
`"eslint-plugin-react": "^7.4.0"`

`eslint` is 4.7.2

**.eslintrc.js:**
[code]

**Error:**
[code]

[2017-09-27 03:02] ljharb commented on #1369
@setek please file a new issue, and ideally include the code it's crashing on :-)

[2017-09-27 03:59] setek opened #1452 "`boolean-prop-naming` triggers "Cannot read property 'properties' of undefined""
Hi,

I think this is similar to: https://github.com/yannickcr/eslint-plugin-react/issues/1369

I’m running 7.4.0 and still getting this error:

**package.json:**
`"eslint-plugin-react": "^7.4.0"`

`eslint` is 4.7.2

**.eslintrc.js:**
[code]

**Error:**
[code]

**The issue is stemming from this code:**
[code]

[2017-09-27 15:58] gpeal opened #1453 "forbid-prop-types and require-default-props doesn't pick up variable defs"
At Airbnb, we use the following convention:
[code]

The propTypes rule doesn't pick up this convention.
@lelandrichardson @ljharb

[2017-09-27 15:59] gpeal commented on #1453
@lelandrichardson

[2017-09-27 18:07] ljharb commented on #1453
This overlaps with #997.

[2017-09-27 19:16] lydell commented on #1449
[The spec](https://facebook.github.io/jsx/) lists all the characters that are disallowed:

Note that the spec does not define any way escaping them, so the linter rule must either skip reporting and converting string literals with such characters in them to JSXText, or use the defacto standard of using HTML-style escapes supported by Babel: `&#123;`, `&lt;`, `&gt;`, `&#125;`, respectively. https:/

[2017-09-28 07:19] lydell commented on #1449
Here's a problem I ran into in a production code base: `<Color text={"\u00a0"}/>` was auto-fixed into `<Color text="\u00a0"/>`, which changed the `text` prop from a non-breaking space to the literal string `\u00a0`.

**TL;DR** The jsx-curly-brace-presence must either:

- Bail out if a problematic character is found.
- Implement the below escaping logic.

## Escaping logic

When going from JS to JS

[2017-09-28 16:01] julienw opened #1454 "Add a rule prefer-covariant-props"
With react and flow, it's very common to type props like this:

[code]

However this makes it possible to write to the props object, like this: `this.props.prop1 = 'foo'` which is to be avoided.
To force this with flow, the solution is to use covariant properties:
[code]

It would be useful to have an eslint rule to force this pattern.

[2017-09-28 16:05] julienw opened #1455 "Add a rule prefer-exact-props"
With react and flow, it's very common to type props like this:

[code]

However this makes it possible to pass other props as well, as by default objects in Flow are not exact. So this can hide an issue where the developer removed a prop but the caller still use it:
[code]
Or made a typo (this example is possible is `prop2` is optional):
[code]

To fix this with flow, the solution is to use exact

[2017-09-28 17:56] ljharb commented on #1454
I'm a bit hesitant to have Flow-only rules in a non-flow-specific eslint plugin, but I agree that such a rule would be a good thing to have if using Flow.

[2017-09-28 17:57] ljharb commented on #1455
I'm a bit hesitant to have Flow-only rules in a non-flow-specific eslint plugin, but I agree that such a rule would be a good thing to have if using Flow.

With PropTypes, you can use https://npmjs.com/prop-types-exact to get the same behavior; maybe the rule could recommend both?

[2017-09-28 19:24] julienw commented on #1455
Ah yep, good idea !

[2017-09-28 19:37] jackwilsdon commented on #86
It looks like this was fixed in eslint/eslint#7926 (v3.14.0+), you can now do the following;

[code]

In the case of this issue, it sounds like you want `multi-line`;

[2017-09-28 19:50] magicmark opened #1456 ""no-window-in-render" rule?"
@yannickcr @ljharb is there a rule to enforce "no globals in render method" etc? Would this be a good rule?

Motivation: this helps to enforce SSR renderable components.

(Assuming you want SSR, is there ever a good reason to access `window` or global vars in `render()` (or any prior lifecycle method)?)

I also wonder how hard this would be to lint 🤔

Thanks!

[2017-09-28 20:05] jackyho112 commented on #1449
@lydell

Thanks for the input! That was extremely helpful.

When I was implementing this, I referred mostly to the React docs. But the [JSX specs](https://github.com/facebook/jsx) is definitely better!

I am in favor of the bailout approach as well. I will try to get a PR up by this week to fix this. If I run into any issue, I hope you don't mind me pinging you. 😄

[2017-09-28 20:18] julienw commented on #1454
Yeah I hesitated between filing this or in eslint-plugin-flowtype, but I thought it was more react-specific than flow-specific :)

[2017-09-29 05:05] lydell commented on #1449
@jackyho112 Awesome! Ping me in your PR and I'll help reviewing.

[2017-09-29 05:32] ljharb commented on #1456
Globals are fine; the only place `window`, `document`, or any other browser-specific feature should be used is in `componentDidMount` or event handlers.

I think it'd be exceedingly hard to lint for.

[2017-09-29 05:47] magicmark commented on #1456
Unless it's a fresh VM per request, this could lead to different markup on subsequent requests though right? (hence the motivation to want to lint against this)

[2017-09-29 13:07] ljharb commented on #1456
Reading globals is fine if nothing writes to them. Obviously yes, you have to have a fresh VM per request, but that's always true due to stateful modules unrelated to globals.

If you can catch some things perfectly, then it's maybe ok to not catch all things, but we don't want false positives. It's really hard to have a general guidance here; it's often case by case.

[2017-09-30 14:29] xahon opened #1457 "Add property to know. (no-unknown-property)"
Is it possible to make property known?
I'm using `class-to-classname` package that allows use `class` instead of `className` in jsx.

How to say eslint that `class` is allowed?

[2017-09-30 17:15] ljharb commented on #1457
You could transform anything to anything; I don't think it's likely practical or possible to handle everything, and I wouldn't just want to handle this one transform, because I think deviating from convention solely for familiarity is a bad idea.

[2017-10-01 10:16] sadarshannaiynar commented on #1320
Still not working ay working fix?

[2017-10-02 18:50] aldeka opened #1460 "`skipUndeclared` on `react/prop-types` doesn't skip components with undeclared propTypes"
In https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md, it mentions a `skipUndeclared` attribute for the propTypes rule. However, there is no example of how to use it in the doc.

`react/prop-types": [2, {customValidators: ["skipUndeclared"] }],` does not seem to skip components with no declared propTypes. (Said component that is erroring is an ES6 style `class My

[2017-10-02 18:58] ljharb commented on #1460
The second example is what I'd expect, per https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/prop-types.js#L50-L52

What version of eslint-plugin-react and elsint do you have installed?

[2017-10-02 19:01] aldeka commented on #1460
Thanks for the quick response!

My eslint-plugin-react version is 5.2.2 and eslint version is 2.11.1.

[2017-10-02 19:05] aldeka commented on #1460
Oh, I see. In that version of the docs (https://github.com/yannickcr/eslint-plugin-react/blob/v5.2.2/docs/rules/prop-types.md) there is no `skipUndeclared` option! I guess I better upgrade. :)

[2017-10-02 19:05] #1460 closed

[2017-10-02 22:58] ljharb commented on #1460
Yup, v5 is pretty old; we're on v7.4 now.

[2017-10-03 06:15] gpeal opened #1461 "Support or ignore prop-types in mixed JS/TypeScript projects"
I'm working on a project with mixed JS and TypeScript support. We heavily use eslint rules in js and our ts goes through the [typescript-eslint-parser](https://github.com/eslint/typescript-eslint-parser). However, the interface definition of the typescript -> js ast doesn't get picked up by the prop-types rule like it does for Flow.
[This gist](https://gist.github.com/gpeal/fb54d80372d1f8530970867

[2017-10-03 06:22] ljharb commented on #1461
eslint 4 already supports glob-based configuration; you can configure any rule to be disabled on ts/tsx files already.

[2017-10-03 06:22] #1461 closed

[2017-10-04 15:26] coderitual commented on #512
I would love to see an option to treat all functions started from capital letter (the same for default export if filename is capital as well) as SFCs and others as normal functions. There is a common convention to name all react components in that way.

[code]

What do you think Guys?

[2017-10-04 15:30] ljharb commented on #512
If the first example also warned when in `Foo/index.js`, then that might be a reasonable "settings" option for the plugin's component detection to respect.

[2017-10-04 15:31] coderitual commented on #512
good point. I will update

[2017-10-04 17:54] evserykh opened #1463 "React is defined but never used no-unused-vars"
I have the error `'React' is defined but never used  no-unused-vars` for *.jsx files with jsx markup. Here is some of my environment:
1) package.json
[code]
2) .eslintrc.json
[code]

How can I fix it?

[2017-10-04 18:01] ljharb commented on #1463
You need to enable https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md

[2017-10-04 18:07] evserykh commented on #1463
@ljharb I've just tried adding `"react/jsx-uses-vars": "error"` and `"react/jsx-uses-react": "error"` rules but it didn't work

[2017-10-04 18:16] ljharb commented on #1463
hmm, assuming `npm ls` exits zero, that should work (and the recommended config should include those rules anyways)

[2017-10-04 18:18] evserykh commented on #1463
Oh, sorry, my bad ☹️
I understood what's wrong. As I use React 0.16 I have some draft components like this:
[code]
The error is quite logical. When I change markup to `<div>Foo</div>` all works fine

[2017-10-04 18:18] #1463 closed

[2017-10-05 16:07] LeoIannacone commented on #477
Hi guys, any news about this?

[2017-10-05 16:37] ljharb commented on #477
I'd love to review a PR for it

[2017-10-06 20:10] merlinpatt opened #1465 "Add functionsLast to sort-prop-types"
Currently the [sort-prop-types rule](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/sort-prop-types.md), allows you to set `callbacksLast: true`, which makes it so callbacks beginning with `on` are listed last.

I would like to see this expanded with a `functionsLast: true` option because I don't typically name my callbacks / functions with `on`.

[2017-10-06 21:50] NiGhTTraX opened #1466 "[jsx-closing-tag-location]: Add line-aligned option similar to jsx-closing-bracket-location"
## Current behavior

This warns:

[code]

This doesn't:

[code]

The rule is checking that the column of the closing tag is equal to the column of the opening tag:

https://github.com/yannickcr/eslint-plugin-react/blob/a120758e25f04cdc37d2d3d80922f2b998ab63ed/lib/rules/jsx-closing-tag-location.js#L52-L59

## Expected behavior

Ideally, this rule would accept an option `line-aligned` like [jsx-clos

[2017-10-08 00:30] ljharb commented on #1466
I think I understand what you're asking for, but not "why". Certainly this non-JSX is valid:
[code]

but in that case, the array is part of javascript. with jsx, an opening tag enters you into an _entirely distinct parsing context_, and it's incredibly important to denote that by giving it a fresh indentation context.

Since we have "props-aligned", "line-aligned" might indeed make sense to add, b

[2017-10-08 00:51] NiGhTTraX commented on #1466
Sorry @ljharb, I'm not sure I understand your example. Maybe I wasn't clear enough in my issue. I want the following to be valid indentation:

[code]

The rule wants this instead:

[code]

[2017-10-08 15:50] dawidvdh opened #1468 "Intersection Flow Type error"
Receiving the following error:

[code]

When attempting to use intersection flow type like so:

[code]

I looked through previous issues and PR's and noticed similar issues however I am not sure if this has been resolved or not or if I am not doing this correctly.

Also I am using version `7.4.0` of this plugin.

[2017-10-08 22:09] dustinsoftware commented on #1453
I can take a look at this one.

[2017-10-08 22:20] dustinsoftware commented on #1453
Edit: It looks like there is already a [passing test](https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/require-default-props.js#L1049) for this case, @gpeal would you mind providing a code sample or failing test?

[2017-10-09 01:38] ljharb commented on #1466
Right; your first example is what I'm suggesting isn't a good practice - but I do understand that's what you want.

Your second example, however, seems like a clear bug. If the setting is "tag-aligned", then "foobar" should be indented like so:
[code]
or like this:
[code]

"line-aligned" would then be like this:
[code]

I think it makes sense for closing-tag-location to have the same options as cl

[2017-10-09 09:41] leethree commented on #1468
I'm seeing the same issue since I enabled `react/default-props-match-prop-types` rule. The error goes away when I disable the rule.

[2017-10-09 14:34] martin-svk commented on #1389
It also fail when importing specific prop types directly:

[code]

Resulting in `react/no-typos` Error.

[2017-10-09 20:57] oieduardorabelo commented on #1389
same happens when using [`react-intl`](https://github.com/yahoo/react-intl) inject hoc:

[code]

![screen shot 2017-10-10 at 9 56 00 am](https://user-images.githubusercontent.com/829902/31358227-3ea76112-ada1-11e7-9fae-b9357da61283.png)

*you can ignore the line number in the screenshot, is just an example*

[2017-10-10 02:38] SidKwok opened #1469 "'react/jsx-wrap-multilines' behaves strange"
The [rule](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-wrap-multilines.md) tells me that this is good:
[code]

but this is also accepted:
[code]

[code]

Did I miss something?

[2017-10-10 04:28] ljharb commented on #1469
Nope. Both of your examples are allowed, but the docs only mention the first one, since it's generally preferred (and more readable) than the second.

[2017-10-10 04:29] SidKwok commented on #1469
How can I enforce the first format?

[2017-10-10 05:40] ljharb commented on #1469
It sounds like we'd need another possible value for the three syntaxes: instead of `true`/`false`, we'd want an enum of `ignore`/`parens`/`parens-separate-lines` (or some better name for the last option).

[2017-10-10 06:12] SidKwok commented on #1469
That will be a good feature for this rule.

[2017-10-10 14:06] byohay commented on #1425
At the moment I'm not using any indentation rules for JS, but I do want to indent the JSX components with 2 more spaces than their parent.
The root component doesn't have a parent so I want the rule to ignore it (In the example above, I want it to ignore the indentation of the first `View`).

[2017-10-11 03:25] yutin1987 opened #1471 "'type' of undefined when PropTypes.shape on functional component"
**only happened on the functional component, class component it is work.**

version
[code]

error message
[code]

sample code
[code]

[2017-10-11 04:40] ljharb commented on #1471
Is the error fixed if you add `{}` inside the `shape` call?

[2017-10-11 04:41] ljharb commented on #1425
I'm confused why you'd want to enforce indentation rules in jsx if you're not already enforcing them in JS?

[2017-10-11 05:58] yutin1987 commented on #1471
oh!! thank you. `{}` is required. add `{}` inside will be fixed.

[2017-10-11 05:58] yutin1987 commented on #1471
oh!! thank you. {} is required. add {} inside will be fixed.

[2017-10-11 06:13] ljharb commented on #1471
I've never seen `shape` used without an object literal, but React doesn't require it, and regardless, we shouldn't crash on it.

[2017-10-11 08:34] byohay commented on #1425
Even if I were to use indentation rules for JS, there would still be a problem. Assuming I use these rules:
[code]

Then the example above still generates an error. In fact, I cannot satisfy both `indent` and `react/jsx-indent` in this scenario.

[2017-10-11 08:56] k15a commented on #1446
This also errors (I think this is related):
[code]
Probably also worth testing @jseminck

[2017-10-11 19:50] ljharb commented on #1425
Try setting ignoredNodes to `['JSXElement', 'JSXElement *']`?

[2017-10-11 21:35] dviry opened #1472 "'react/jsx-pascal-case' always complains when underscore is used"
Hi, not sure if this is really expected (no samples like this in the Docs), but the following examples throw the 'Imported JSX component Site_globalsite must be in PascalCase' error:

<My_Icon />
<MyIcon_IsHere />

I can understand if it would be <My_icon/>, but it seems no matter what I put after the underscore it complains. Is this the expected ruling?

Thanks in advance

[2017-10-11 22:14] ljharb commented on #1472
Yes, camelCase does not include any underscores whatsoever.

[2017-10-12 05:20] jseminck commented on #1446
Thanks. Not sure what that syntax means? Is it really valid?

Regarding the other case: sorry, have been a bit busy lately.

Since it seems that we skip props validation at the moment when we have:
[code]

Then I'll probably have to add similar skipping of props validation for:
[code]

Several other unexpected cases presented themselves when trying to properly fix it.

[2017-10-12 06:15] jseminck opened #1473 "prop-types not detected in async functions"
Encountered this while working on CodeSandbox.

When I stripped async from the function, then the prop-types rule started to complain about modalActions not being defined in the propTypes. When I re-added async, then the warning disappeared.

![async_props](https://user-images.githubusercontent.com/9586897/31481773-cdb48fbe-af2d-11e7-8b8f-6e38bfb6669f.gif)

[2017-10-12 06:38] ljharb commented on #1473
Presumably we're just not checking the node type for async arrow function expressions in a class property (probably not non-arrows either?).

[2017-10-12 10:56] k15a commented on #1446
Yes, this is valid Syntax. You can read more about them here: https://flow.org/en/docs/types/typeof/

[2017-10-12 15:40] noah-potter commented on #1136
There is a test that enforces this behavior: https://github.com/yannickcr/eslint-plugin-react/blob/d672588cc39334e215ff5993f859f159fc977d57/tests/lib/rules/jsx-indent.js#L198
Is this an actual bug or is there a reason this behavior is desired?

[2017-10-12 19:32] b0gok commented on #281
@roadhump it's a very good proposal! 👍
@lencioni should it be a separate rule or just extension for `jsx-sort-prop-types`?

[2017-10-12 20:27] ljharb commented on #281
@b0gok A separate rule, that ideally shares code. A rule called "sort prop types" wouldn't make sense applied to default props - so maybe `jsx-sort-default-props`

[2017-10-12 20:29] ljharb commented on #1136
That test was removed here: https://github.com/yannickcr/eslint-plugin-react/commit/6e5f688065aa218d71742dc4b31929c16ab1078d#diff-93c6a0eb3f976d39af0b0a8843ddba24L215

and then restored here: https://github.com/yannickcr/eslint-plugin-react/commit/e9fb52d332e15686865952371c333b19af13eede#diff-93c6a0eb3f976d39af0b0a8843ddba24R215

Intentional or not, this feels like a flaw in the rule - literals sh

[2017-10-12 20:34] noah-potter commented on #1136
@ljharb Great. I'll look into fixing this

[2017-10-13 21:41] shanimal opened #1474 "no unnecessary templates"
bad:  ``<MyComponent foo={`${bar}`} />``
good:  `<MyComponent foo={bar} />`

I didn't find this in the list.

[2017-10-13 23:31] ljharb commented on #1474
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-curly-brace-presence.md may be what you want?

[2017-10-14 07:38] shanimal commented on #1474
The documentation doesn't mention the unnecessary template string and the only way this throws an error for me is if I add spaces around my variable. I think rule only errors when you use curly braces but don't need them. So maybe this is a bug?

``<Route path="/:tab" component={`${ Main }`} /> // Unexpected space(s) after '${'``

This doesn't throw any kind of error:
``<Route path="/:tab" compone

[2017-10-14 07:47] shanimal commented on #1474
fwiw, I know Main is not a string 😂

Here's another example.

[code]

That rule seems to be complaining about the extra space around the variable, not the unnecessary string template.

[2017-10-14 13:11] felpin commented on #1389
Well, this does not resolve the issue, but you can [disable a rule in ESLint with a comment](https://eslint.org/docs/user-guide/configuring#disabling-rules-with-inline-comments)

[code]

In this particular case I do that while this issue is open

[2017-10-14 20:28] jackwilsdon opened #1476 "react/sort-prop-types and sort order of shape values"
It would be nice to be able to require an alphabetical sort order of `PropTypes.shape` values, maybe as an option for `react/sort-prop-types`?

[2017-10-14 20:36] ljharb commented on #1474
Ah - yes, if you’re talking about a template literal with interpolations, there’s no rule for that.

That wouldn’t be a safe rule, however, since wrapping in a template literal toStrings the value - so it’s not unnecessary (in a way that can be statically determined).

[2017-10-14 20:36] #1474 closed

[2017-10-14 21:42] wbinnssmith opened #1477 "no-unused-prop-types with callback prop called in another callback"
The rule is flagging these as a false positive, though it is used.

Here's a minimal example:

[code]

[2017-10-15 10:06] ryami333 commented on #1468
Hope this helps, this is how I have been able to replicate.

This *works*:
[code]

This *errors* (introduced additional prop 'bar'):
[code]

[2017-10-15 12:52] byohay commented on #1425
I've made a mistake, `indent` will ignore the first component so this will work:
[code]

However, what I initially wanted is to have first component indented with 4 spaces and nested components indented with 2 spaces. That is, I want the first component to conform to `indent` rule and not `react/jsx-indent`.

[2017-10-15 14:05] b0gok commented on #281
@ljharb ok, I'll try to implement it

[2017-10-16 01:47] riwu opened #1479 "Template string with special character are getting inappropriately autofix to quoted string"
```<input placeholder={`line1\nline2`} ></input>``` gets autofix into
`<input placeholder="line1\nline2" />` which treats the `\n` literally.

Versions:
    "eslint-config-airbnb": "^16.0.0",
    "eslint-plugin-import": "^2.7.0",
    "eslint-plugin-jsx-a11y": "^6.0.2",
    "eslint-plugin-react": "^7.4.0"

[2017-10-16 02:00] turnerhayes opened #1480 "Rule treats all functions with (props) as stateless functions"
I'm not sure if this qualifies as a bug, but I have a stateless component function that delegates its rendering to other functions that happen to have the signature `function renderSomething(props)`, but are not in themselves meant to be components, just functions used to separate out functionality so that the component function doesn't get too huge.

Basically, something like this:

[code]

When

[2017-10-16 04:29] ryami333 commented on #1468
Could be wrong, but seems related to this issue: https://github.com/yannickcr/eslint-plugin-react/issues/1413

[2017-10-16 08:16] brennancheung commented on #512
FYI.  A similar problem exists when using higher order functions to generate components.

[code]

[2017-10-16 22:22] Dajust commented on #1442
Hi, I just wanna find out how soon we might have this features!

Thanks for the great work!

[2017-10-16 22:56] vdsabev commented on #1457
In some Virtual DOM-based libraries like [Mithril](mithril.js.org) and [Hyperapp](https://hyperapp.js.org/) using `class` is the convention. If you already have a codebase written in such a library, to me it seems overkill to rewrite every occurrence of `class` to `className` just to keep the `no-unknown-property` rule.

So I support being able to tell `eslint` that `class` is allowed.

[2017-10-17 01:12] ljharb commented on #1457
This isn't eslint-plugin-mithril or eslint-plugin-hyperapp tho; it's eslint-plugin-react.

[2017-10-17 05:14] ljharb commented on #1425
Right, but the first component is `jsx` - I'm still having trouble understanding why you'd want any part of your code to have inconsistent indentation with any other part.

[2017-10-17 05:14] ljharb commented on #1479
cc @jackyho112

[2017-10-17 05:15] ljharb commented on #1480
Basically any function that returns jsx is considered a component by this plugin, and conceptually, all your "render" methods should indeed be separate components with their own propTypes, defaultProps, and tests (if they're exported).

[2017-10-17 05:16] ljharb commented on #1480
This is also a duplicate of #512.

[2017-10-17 05:16] #1480 closed

[2017-10-17 05:31] jackyho112 commented on #1479
@ljharb Thanks for tagging me! I think this bug will be fixed in https://github.com/yannickcr/eslint-plugin-react/pull/1458/files#diff-a9ba802868aa552c39802228bac37c08R174 because with the new update, the rule will identify the backslash and bail out instead of incorrectly fixing the code.

[2017-10-17 05:37] #1449 closed

[2017-10-17 05:37] #1479 closed

[2017-10-17 05:48] vdsabev commented on #1457
While that's a good point, I believe there are already some options in this plugin to easily allow other libraries:
[code]
You can change that to use anything you want, including `mithril`, `hyperapp.h`, or `Preact.h` (([Preact also prefers `class` over `className`](https://github.com/developit/preact/wiki/Differences-to-React)). This is extremely helpful for the whole community around React, allo

[2017-10-17 05:51] ljharb commented on #1457
That's a fair point, but in all those cases, the assumption is that they're using the same jsx format.

If we *did* make this change, we'd probably want a setting that's an object map of normal prop names, to alternatives, eg:
[code]

We'd then have to update all the rules that reference *any* prop names, and run them through the propsMapping before applying checks.

That said, I'm a -1 on adding

[2017-10-17 14:13] neiker commented on #1471
+1 to don't fail on this

[2017-10-17 14:36] cristianfraser opened #1484 "no-unused-state using functional setState"
This code:

[code]

But eslint shows error for `foo`, `no-unused-state` is displayed, but it is being used.

[2017-10-17 15:18] neiker commented on #1389
Same using `react-immutable-proptypes`

[2017-10-17 15:54] ljharb commented on #1484
Can you share the error, and your eslint config?

[2017-10-17 17:10] neiker commented on #1484
Same here.

[code]

`  97:28  error  Unused state field: 'titleChanged'  react/no-unused-state`

I'm using `eslint-config-airbnb`

[2017-10-17 19:04] beaugunderson commented on #1468
we're also hitting this; with the additional issue that the reference intersection type is made available from our `.flowconfig`'s `[libs]` section as a declared type vs. being an imported one

[2017-10-17 21:17] ljharb commented on #1484
Your eslint config must be different, because the airbnb config does not permit class properties to be used.

[2017-10-17 21:21] cristianfraser commented on #1484
I'm also using `eslint-config-airbnb` and get the same error

[2017-10-17 21:22] ljharb commented on #1484
@cristianfraser same question; can you share your code and your eslint config?

Again, if you're using class properties, you're violating the airbnb style guide, so if you are, you must be using a modified eslint config.

[2017-10-17 21:26] neiker commented on #1484
[code]

[2017-10-17 21:34] cristianfraser commented on #1484
This is a minimal code that shows `no-unused-state` for `ascending`:

[code]

This is my eslint config:

[code]

[2017-10-17 22:00] Rakib-R opened #1486 "Function After Object restricted by Unexpected Token."
IDK what happened to this simple code . Actually I cant pass this after @todo:[]  .Tried this  from Chrome console to ESlint. Take a look .
[code]

[2017-10-18 00:06] jomasti commented on #1486
This doesn't seem to be related to this plugin since it's basic Javascript and not using React. Also, you have some syntax errors such as a missing comma after `todo: []` and defining the variable incorrectly in your for loop. I would also suggest using [code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks) for future issues to make your code samples easier to read.

[2017-10-18 00:51] ljharb commented on #1486
Indeed, this is invalid JavaScript syntax.

[2017-10-18 00:51] #1486 closed

[2017-10-18 00:56] ljharb commented on #1484
@cristianfraser you can only use it with `babel-eslint`; the airbnb config uses the default parser. It's likely the react-native plugin is enabling that as well, of course.

[2017-10-18 01:19] cristianfraser commented on #1484
What do you mean by I can only use it with `babel-eslint`? That's what's in my config, that's the wrong parser for that rule? Is what's happening the expected behaviour in this case?

[2017-10-18 04:40] ljharb commented on #1484
@cristianfraser eslint core doesn't support parsing class properties; only `babel-eslint` does - thus if you just had `extends: "airbnb"` you wouldn't be able to use them.

What's happening seems like a bug in the `no-unused-state` rule, I'm just trying to gather as much info about it as possible :-)

cc @wbinnssmith @jackyho112

[2017-10-18 05:48] jackyho112 commented on #1484
The rule doesn't support arrow function definition as class methods currently. I think [this](https://github.com/yannickcr/eslint-plugin-react/pull/1411) will add it.

[2017-10-18 05:55] ljharb commented on #1363
Fixed with #1411

[2017-10-18 05:55] #1363 closed

[2017-10-18 05:55] ljharb commented on #1484
Fixed with #1411

[2017-10-18 05:55] #1484 closed

[2017-10-18 16:12] willdurand opened #1487 "Prop types and Flow 0.57"
Hi

I am upgrading Flow on one of our apps (https://github.com/mozilla/addons-frontend) and get eslint errors related to the `react/prop-types` rule. The following code triggers `react/prop-types` errors for each prop:

[code]

[code]

The code below works though:

[code]

Any idea? I would like to avoid adding `void` everywhere.. Thanks!

[2017-10-18 16:45] willdurand commented on #1487
I also have troubles when `State` is defined:

[code]

Eslint outputs the same problems as mentioned before..

[2017-10-18 17:14] ranneyd opened #1488 "no-typos rule doesn't support `isRequired` when destructuring"
I have the following:

[code]

The plugin is marking `isRequired` as invalid, saying

Perhaps there's some regular expression thing that's checking after the first `.`, aka assuming it begins with `PropTypes`?

[2017-10-18 17:32] willdurand commented on #1487
Because of the latest comment, I double checked our dependencies from scratch and one of our dependency did not pull the latest version of this plugin. I am daft, I am very sorry. This works as expected with version `7.4.0`...

[2017-10-18 17:32] #1487 closed

[2017-10-19 04:08] ljharb commented on #1488
Duplicate of #1389.

[2017-10-19 04:08] #1488 closed

[2017-10-19 05:41] Rakib-R commented on #1486
Thanks For The Reply

[2017-10-19 07:18] byohay commented on #1425
To me it doesn't look inconsistent. The way I view it the indentation should be determined by the "outer scope". The outer scope of the first component is the `return` in the case above, so it should be handled by `indent` rule. For a nested component its outer scope is the component above it in the hierarchy, so it should be handled by `react/jsx-indent`.
`indent` rule can also be configured this

[2017-10-19 07:24] ljharb commented on #1425
I do understand that you *can* configure that; but I still don't understand why anyone would want to configure the `indent` rule such that every expression wasn't set to `1`.

It seems like to achieve what you want, we'd need an additional option for `initialIndentationLevel`, which defaulted to `1`. I'm still pretty -1 on adding it tho.

[2017-10-19 10:37] AlexMarvelo opened #1489 "no-typos: destructured required propType throws an error"
`no-typos` is a very nice rule, it helps a lot. But I have one case, where it throws useless error (and I have hundreds of them around my project)

1. This is pattern is considered a warning:
[code]

2. And this is not:
[code]

Do you agree, that case 1 shouldn't throw any errors?

[2017-10-19 11:54] dlahyani commented on #1425
@ljharb consider this JS code for example:
[code]

In this code you can see we have 2 different indentations:
- 2 spaces is the normal indentation which is used when open opening a new block of code (the body of the callbacks and the if block).
- 4 spaces is used when you break line in the middle of an expression, for example in the middle of function call, before each of the promise operators (`t

[2017-10-19 12:22] ljharb commented on #1489
Duplicate of #1389

[2017-10-19 12:22] #1489 closed

[2017-10-19 22:04] Daniel15 commented on #510
I hit something similar again today:
[code]

Can you see the problem?

...

I used `{ }` instead of `( )` in the arrow function for the `map` call. 😠

[2017-10-20 18:07] ljharb commented on #1425
Having a different indentation for continuations is super weird imo; it's common in Java, and sometimes in Ruby, but almost never appears in JS. However, that does explain your use case a bit - although "JS → JSX" isn't a continuation.

[2017-10-22 17:16] TSMMark commented on #235
For the record, you can now use the `"type-annotations"` group to determine where you would like to place your type annotations. https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/sort-comp.md#rule-options

[2017-10-22 17:39] TSMMark opened #1490 "sort-comp rules does not work"
Hello, I am not getting warnings or errors regardless of the order of my React class method definitions.

I've tried with default config, and various other configs, but nothing will cause any kind of eslint failure. Every other of the many rules in my eslintrc works fine except this one: `react/sort-comp`. Here's the current config:

[code]

Versions:
eslint@4.9.0
eslint-plugin-react@7.4.0

[2017-10-22 17:42] TSMMark commented on #653
Sort-comp does not work for me either. Opened #1490

[2017-10-22 17:47] TSMMark opened #1491 "Rule for only one jsx react element per line?"
I would like to disallow multiple elements/components being opened on one line:

[code]

and fix to:

[code]

I searched all over and could not find something like this. Thank you.

[2017-10-23 04:03] ljharb commented on #1491
Would this rule also warn on `<A /><B />` and fix to:
[code]
?

[2017-10-23 09:00] padsbanger opened #1492 "missing in props validation react/prop-types"
[code]

I get this error from eslint:

`./src/components/common/Breadcrumbs.js
  Line 8:  'links' is missing in props validation  react/prop-types`

Deps:

"eslint": "^4.9.0",
"eslint-plugin-react": "^7.4.0"

[2017-10-23 13:37] TSMMark commented on #1491
@ljharb Yes indeed.

However, maybe it could be configurable to conditionally support either of the following variants:

[code]

[code]

[2017-10-23 20:08] kaiyoma opened #1493 "jsx-curly-spacing should support "consistent" option"
Similar to how other eslint rules provide a "consistent" option for square brackets, curly braces, and parens, there should be a similar option for the curly braces in JSX. Basically, the absence or presence of a newline after the opening curly brace should be matched at the closing curly brace.

[2017-10-23 23:58] ljharb commented on #1493
Can you provide some code samples that it should warn on, and what it would autofix to?

[2017-10-24 00:23] kaiyoma commented on #1493
No newlines at either end is good:

[code]

Newlines at both ends is also good:

[code]

But mixing and matching is bad:

[code]

[code]

Related eslint rules that support `"consistent"`:

- https://eslint.org/docs/rules/array-bracket-newline
- https://eslint.org/docs/rules/function-paren-newline
- https://eslint.org/docs/rules/object-curly-newline

[2017-10-24 00:56] ljharb commented on #1493
Sounds like a great addition! The airbnb config would use this option.

[2017-10-24 01:03] ljharb commented on #1492
You've exported `Breadcrumbs` as both a name and as the default, is that intentional?

If you remove one of the exports, or the other, does it pass?

[2017-10-24 01:04] ljharb commented on #1491
Sounds great; want to make a PR? :-D

[2017-10-24 06:04] tomprats opened #1495 "Additional option or modification to jsx-closing-tag-location"
Right now I'm using "line-aligned" and like how it works on self-closing elements. For non-empty elements, I feel differently depending on how long the contents are.

If an element only has a short line of content, I'd still prefer to place the closing tag on the same line as the closing bracket

[code]

When I try my same-line syntax with "line-aligned" I get:

[2017-10-24 06:34] ljharb commented on #1495
So it looks like you like line-aligned for elements with multiple children, but for elements with single children only, you want that inline variant? What about if the single child is particularly long?

[2017-10-24 12:21] padsbanger commented on #1492
@ljharb yes, thats intentional, changing it didnt fix anything :/

[2017-10-24 14:02] TSMMark commented on #1491
@ljharb I would be happy to when I get the chance. Never worked in this codebase before, but I assume [`jsx-max-props-per-line.js`](https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-max-props-per-line.js) is probably a good starting reference point.

[2017-10-24 14:27] tomprats commented on #1495
For a longer child I would line-align

[2017-10-24 17:13] ljharb commented on #1492
It seems like it thinks renderBreadcrumbsItems is a component, because it’s a function that returns jsx. In general, renderFoo methods are an antipattern; and that *should* be a separate component, but the code as-is shouldn’t be warning.

[2017-10-24 17:13] ljharb commented on #1495
How would you determine “longer”? Rules dont have access to the config of other rules, like “max-len” for example.

[2017-10-24 18:10] tomprats commented on #1495
If it's on one line, then I think I'd leave it up to other rules to deter that behavior. So maybe adding an option to allow single-line syntax in combination with the current closing tag options would work?

[2017-10-24 20:14] ljharb commented on #1495
That might make it not autofixable; since max-len has no autofix, this rule (with your new option)'s autofix might leave the codebase in a state where it'd be impossible to satisfy both rules.

A new option might work; i'm a soft -1 on adding it, however.

[2017-10-24 21:12] tomprats commented on #1495
Could the autofix just do the current behavior, but it just wouldn't be flagged if it were a one-liner? I appreciate you working this out with me. I might try to build it to get some more experience and understand if it's not something that'll make it in

[2017-10-24 22:13] ljharb commented on #1495
Yes, that's a possibility; since it's a case that *wouldn't* be flagged, but would have no autofix to make it happen.

[2017-10-25 05:37] TSMMark commented on #1491
@ljharb Done in #1497

[2017-10-25 14:55] Lepozepo commented on #968
Seeing the same issue having just created a new project with `create-react-native-app`

[2017-10-25 18:01] aij commented on #1263
@ljharb Which direction are you  claiming those `'` should be curled?

[2017-10-25 18:31] aij opened #1498 "Docs for require-default-props are misleading"
Of couse, `require-default-props` only applies where the prop type is optional, in which case providing a default via `defaultProps` is insufficient. If the component can't *also* handle `null` and `undefined` then the prop type should instead be marked as `.isRequired` so that an appropriate proptype warning can be issued if `null` or `undefined` are passed in place of the default prop.

[2017-10-25 19:59] zxlin commented on #1389
@jseminck

Another case where webpack's `ProvidePlugin` is used to avoid repetitively importing `prop-types` everywhere.

In my code I don't import `prop-types` explicitly and simply write:
[code]
and get the validators that way as webpack will replace all instances of `PropTypes` with the `prop-types` module.

[2017-10-25 20:28] ljharb commented on #1389
@zxlin using webpack to get magic implicit imports isn't necessarily a use case we should be handling or encouraging, imo.

[2017-10-25 20:38] ljharb commented on #1263
@aij `'` should be curly quotes in all prose contexts where it's not referring to "minutes" (as in, DMS notation).

[2017-10-25 21:17] brunolemos opened #1499 "TypeError: Cannot read property 'properties' of null"
[code]

[code]

<details>
<summary>.eslintrc</summary>

[code]

</details>

[2017-10-25 21:23] ljharb commented on #1499
Any idea on which file this is breaking, and what the code looks like?

[2017-10-25 21:30] brunolemos commented on #1499
I use flow, so it may be related.

[2017-10-25 21:30] brunolemos commented on #1499
@ljharb any debug flag I can turn on?
Couldn't find the exact file.

[2017-10-25 21:36] brunolemos commented on #1499
If I add a console.log

[code]

[code]

`Cannot read property 'name' of undefined`
Error line: `const typeNode = typeScope(annotation.id.name);`

[2017-10-25 21:39] ljharb commented on #1499
i think `console.log(context.getFilename())`?

[2017-10-25 21:43] brunolemos commented on #1499
@ljharb Found it. It's because of the `|` flow operator:

[code]

[2017-10-25 22:44] ljharb commented on #1499
Thanks, that's very helpful.

[2017-10-26 15:15] MarkoCen commented on #968
I found some strange behavior with eslint 4.9.0 and react 16.0.0,:
[code]
[code]

[code]

[2017-10-26 19:18] TSMMark opened #1501 "Bug: jsx-closing-bracket-location autofix removes whitespace character"
[code]

Renders a space in HTML: `<div>foo </div>`

After fix is applied, it becomes:

[code]

Note that there IS a space after `foo` in the output, however this space will typically be linted off by `no-trailing-spaces` rule, and even if it's not linted out of your source code, it will be ignored by React's JSX parser, meaning the output is different 100% of the time.

tl;dr

`<div>foo </div>` be

[2017-10-26 20:24] ljharb commented on #1501
In that case it seems like the autofix would need to be:
[code]

but i'm not sure it's practical to preserve the space in situations like this; the best practice when a space is important is to put it inside a string inside curlies, for reasons like this.

[2017-10-26 20:42] TSMMark commented on #1501
@ljharb I totally agree that if your whitespace is important you should contain it in curlies. But can we really justify the autofixer breaking code, even if the code is "bad"? If yes, what do you say I apply that same logic to #1497 when handling whitespace? (it's driving me nuts trying to handle it lol)

[2017-10-26 22:11] ljharb commented on #1501
No, we can't justify that - you're correct.

[2017-10-27 01:10] #216 closed

[2017-10-27 01:10] #278 closed

[2017-10-27 01:10] #556 closed

[2017-10-27 07:30] felicio opened #1503 "Markdown files should have their negative counter examples bold annotated"
To continue where the conversation on pull request #1467 thread left off, I'd like to propose two interventions to the style of files documenting individual rules.

1. Word negating sentence of a counter code example should be bold to increase overall orientation in text.
2. Newly created files should follow this rule.

I'm willing to make the change in current files. However, I have a couple of q

[2017-10-27 07:30] felicio commented on #1503
/cc @ljharb

[2017-10-27 08:16] ljharb commented on #1503
Let's start just bolding the adverb, and let's add the instructions to a CONTRIBUTING.md?

[2017-10-27 16:26] slothyrulez commented on #1499
Hi, same problem, here.
[code]

[2017-10-27 22:01] mrichmond commented on #1471
Yup... this got me too.

[2017-10-27 23:01] mrichmond commented on #1471
Once the bug is fixed... perhaps a new rule for no-undefined-shape?

[2017-10-28 05:12] #1503 closed

[2017-10-28 15:33] tomipaul opened #1505 "jsx-boolean-value: change default to 'always'"
According to the documentation, the first argument to this rule is either 'always' or 'never'

**Current behavior**: The default value of the first argument is 'never' so it throws a warning if an attribute has a `true` value

**Proposed behavior**: The default value should be changed to `always` so it warns whenever an attribute is missing its value.

**Why**:  Prop defaulting to `true` when it h

[2017-10-28 16:42] ljharb commented on #1505
React's docs can recommend whatever they like; omitting `={true}` is considered a best practice in the wider community, and for boolean props, it makes the element read more nicely.

jsx has a number of things that break the idea that "consistency with JS" is critical, and this is one of the ways I think the deviation is an improvement.

[2017-10-28 18:18] obrejla opened #1506 "Invalid no-unused-prop-types catch"
Hi,

Try this code:
[code]
You will get an error on line `doSomething: PropTypes.func.isRequired,` despite that `doSomething` is used inside the async version of `setState()`. Yep, I know, it's a strange usage, but it should be handled imho ;)

Thanks!

[2017-10-29 01:56] ljharb commented on #1506
Very strange usage; but yes, it should work.

[2017-10-29 02:08] petersendidit commented on #1477
I had a look in to this and was able to get some close but wasn't able to fix this completely.  I was able to add the correct handling for `CallExpression` but the real problem boils down to `component.getParentStatelessComponent` not being able to figure out what the actual component is.

The current logic of `getParentStatelessComponent` decides that the arrow function provided as the callback t

[2017-10-29 02:35] petersendidit commented on #1506
This is very similar to #1477 but fixable because the prop usage isn't in an arrow function that is an attribute to a JSX node.

[2017-10-29 13:44] matteocng commented on #1499
Same problem, as @brunolemos found out, it seems to be related to Flow's `&`.

Throws with these test cases:

[code]

[code]

[code]

Does *not* throw with:

[code]
node: `v8.8.1`

package:
[code]
eslintrc.js

[code]

[2017-10-29 15:04] tomipaul commented on #1505
@ljharb While I think this is a trivial issue, I don't completely agree with your submission.
I have seen several instances of developers writing something like this
[code]
thinking messages prop will have the array as value (ES6 object shorthand). While it is arguable that these people have not taken time to go through the react docs, I think it's rather becoming a pitfall and unnecessarily so. I

[2017-10-29 16:15] ljharb commented on #1505
Of course jsx is closer to HTML than JS; otherwise why bother with the sugar?

[2017-10-30 18:40] #1395 closed

[2017-10-30 18:40] #1417 closed

[2017-10-30 18:40] #1444 closed

[2017-10-31 14:00] TSMMark commented on #1491
It's merged. Closing

[2017-10-31 14:00] #1491 closed

[2017-10-31 21:30] eddiemonge commented on #1466
Maybe you should just do JSX like this rule instead? https://github.com/yannickcr/eslint-plugin-react/blob/HEAD/docs/rules/jsx-wrap-multilines.md

[2017-11-01 15:15] brammitch commented on #1466
Another use case for "line-aligned":

We use the [Operator-Linebreak with "Before" option](https://eslint.org/docs/rules/operator-linebreak#before) to make ternary statements easier to read.

Without the "line-aligned" option, this generates a warning:
[code]

[2017-11-01 16:31] ljharb commented on #1466
@brammitch
[code]
or
[code]

but if you don't wrap multiline jsx in parens for some reason, then i can see your use case applying.

[2017-11-01 16:40] ljharb opened #1510 "SFC detection: React 16"
Prior to React 16, separate from what detection rules are actually in the code, an SFC conceptually meets the following static criteria:
 - a function
 - name starts with a capital letter if not stored on an object property
 - returns JSX, or returns `null`
 - takes no more than two arguments (`props` and `context`, destructured or otherwise)
 - has any of the following static properties: `propTyp

[2017-11-01 17:54] brammitch commented on #1466
@ljharb
We don't wrap multiline JSX in parens.

Looking at Airbnb's style guide, it seems like we should change our rules to use jsx-wrap-multilines instead of making an exception for line-aligned closing tags.

[2017-11-02 04:12] Morglod commented on #1468
[code]

eslint-react-plugin crashes when see union type destructuring

[2017-11-02 04:49] tomipaul commented on #1505
I get your point, if we are looking at it superficially from the aspect of _how it is written_, then I somewhat agree with you but then we have stuffs like dot notation for JSX types and spread attributes. Even the JSX specification draft says

This specification does not attempt to comply with any XML or HTML specification

See these issues;
https://github.com/facebook/jsx/issues/68
https://githu

[2017-11-02 04:59] ljharb commented on #1505
Then at that time, this can be re-evaluated. In the meantime, I’d say you can just set the rule to “always” if you prefer.

[2017-11-02 04:59] #1505 closed

[2017-11-02 06:23] jseminck commented on #1351
This can be closed. My bad as I forgot to link the issue in the PR. :(

https://github.com/yannickcr/eslint-plugin-react/pull/1438