[2020-07-08 19:20] jzabala commented on #2196
I could but I think it would be better to use another issue for that since the two tasks wouldn't have anything in common.

[2020-07-08 19:23] jzabala commented on #2209
This seems to be working find with versions:

[code]

![Screen Shot 2020-07-08 at 3 21 23 PM](https://user-images.githubusercontent.com/1315054/86961268-ed2c9600-c12e-11ea-967a-1db0b27b0e0f.png)

[2020-07-09 01:45] hank121314 commented on #2703
Hi @gcourtemanche !
I have made a branch trying to resolved this problem.
Could you try this branch https://github.com/hank121314/eslint-plugin-react/tree/develop and test whether the issue is resolved?
Thanks!

[2020-07-09 02:10] gcourtemanche commented on #2703
Hi @hank121314, thanks for helping me with this issue. I tried running eslint using commit `ad0bb3005640eb7f147916e6b524e61be2e71992` and I got this error:

[code]

[2020-07-09 02:22] hank121314 commented on #2703
hmm, sorry for that.
Could you please give me your example code and which parser did you use?
Thanks!

[2020-07-09 02:37] gcourtemanche commented on #2703
With `@typescript-eslint/parser`, any file is throwing the error.

![image](https://user-images.githubusercontent.com/7889030/86990829-84174380-c16b-11ea-97eb-628d74e940c5.png)

[2020-07-09 02:55] dgoldstein0 commented on #2527
+1 for this being useful

[2020-07-09 03:05] hank121314 commented on #2703
If you don’t mind, could you please give me full error code?
And I need the file which occurred.
If any file is throwing the error, please give me an example code.
Like this.
[code]
If the occurred file is private you can mail to my email(hank121314@gmail.com).
Thanks you very much @gcourtemanche!

[2020-07-09 03:36] hank121314 commented on #2703
Hi @gcourtemanche !
I think I might have found the issue related.
Did your repository have some syntax Intersection Types:
Like this:
[code]

[2020-07-09 05:22] #2209 closed

[2020-07-09 05:36] #2236 closed

[2020-07-09 05:48] #2495 closed

[2020-07-09 05:48] #2554 closed

[2020-07-09 05:48] #2352 closed

[2020-07-09 05:48] #2607 closed

[2020-07-09 06:35] amannn commented on #2702
Hmm, in [the docs of the rule](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/sort-prop-types.md#rule-details) I found this:

(...)

[code]

What's the point of this example if the rule doesn't consider it then?

[2020-07-09 06:48] amannn commented on #2702
Seems like the type annotations where added here: https://github.com/yannickcr/eslint-plugin-react/pull/2546.

[2020-07-09 10:48] gcourtemanche commented on #2703
@hank121314 yes, it does have intersection types!

[2020-07-09 10:51] hank121314 commented on #2703
The latest commit at developer branch solved intersection types issue! Please try it.
Thanks!

[2020-07-09 10:58] gcourtemanche commented on #2703
@hank121314 I can't find the developer branch :(

[2020-07-09 11:02] hank121314 commented on #2703
Forget to tell I commit to my own fork. Here:https://github.com/hank121314/eslint-plugin-react/tree/develop

[2020-07-09 11:19] gcourtemanche commented on #2703
The error is gone but another error appeared:
`propType "number" is not required, but has no corresponding defaultProps declaration. eslintreact/require-default-props`

Using this code:
[code]

If I remove the optional to `number`, there is no error anymore.

[2020-07-09 11:38] hank121314 commented on #2703
This error appeared because of rule(require-default-props).
Try to define defaultProps for react function component.
https://github.com/microsoft/TypeScript/issues/31247

[2020-07-09 11:47] Shags opened #2705 "'missing in props validation' when returning with a ternary operator"
It took me a bit to figure out why I was getting a 'missing in props validation' error in my project. Turns out, returning with a ternary operator was causing the linter to produce this error. Refactoring a bit fixes it. Can anyone else reproduce this?

[code]

My eslint config is:
[code]

Package versions:
[code]

[2020-07-09 11:57] gcourtemanche commented on #2703
@hank121314 I only get the error when I'm using your branch

[2020-07-09 13:43] hank121314 commented on #2703
The error should display.
The reasons why 7.20.3 won't display are:
1. 7.20.3 does not support TSTypeAliasDeclaration(like: type Props = { user: string; }) yet.(Fixed in my develop branch)
2. 7.20.3 will get some bug when conditionally return JSXElement.(Fixed in pr: https://github.com/yannickcr/eslint-plugin-react/pull/2696)
Running the code below, it should show the same error.
[code]

[2020-07-09 13:47] bobthecow commented on #2527
👍 I've fixed instances of this bug four or five times in production. I'd love a linter too!

[2020-07-09 13:55] gcourtemanche commented on #2703
Great, thank you for you help @hank121314 ! :)

[2020-07-09 15:13] jzabala commented on #2142
Should this issue be closed then?

[2020-07-09 19:01] ljharb commented on #2142
Yep, now that it's merged. Thanks!

[2020-07-09 19:01] #2142 closed

[2020-07-10 00:47] hank121314 commented on #2705
This is a bug in 7.20.3.
Will be fixed by pr https://github.com/yannickcr/eslint-plugin-react/pull/2696

[2020-07-10 02:01] jzabala commented on #2571
This things to be working with versions:

[code]

![Screen Shot 2020-07-09 at 10 05 09 PM](https://user-images.githubusercontent.com/1315054/87108215-bee2af80-c22f-11ea-98c3-6f553488946c.png)

[2020-07-10 03:01] jzabala commented on #2041
@ljharb should this one be closed then?

[2020-07-10 06:16] hank121314 commented on #2703
Anytime 😄 .
I will make a pr after my latest pr is merged

[2020-07-10 06:28] hank121314 commented on #2654
For those who encounter this issue.
If you don't mind, could you please help me to test the extends feature in my develop branch
https://github.com/hank121314/eslint-plugin-react/tree/develop
It might resolve this issue.

[2020-07-10 09:54] Abolfazl2647 commented on #1711
i have same issue here is my `.eslintrc.js`
``
module.exports = {
    root: true,
    env: {
      es6: true,
      browser: true,
      node: true,
    },
    // 'plugin:react/recommended', 'jest-enzyme'
    extends: ['airbnb','prettier','prettier/react','react-app'],
    plugins: ['react','babel', 'import', 'jsx-a11y', 'prettier'],
    parser: 'babel-eslint',
    parserOptions: {
      ecmaVersi

[2020-07-10 15:05] jzabala commented on #2705
The next version of this package won't recognize functions that start with a lower case as components. Your function `problem` shouldn't report any errors.

[2020-07-10 16:33] Shags commented on #2705
Thanks for noting that @jzabala. I would normally use capitalized components names, just missed it here.

[2020-07-10 18:11] ljharb commented on #2702
hmm - @silvenon i guess i didn't check #2546 thoroughly.

There's no tests for TS or Flow types in https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/sort-prop-types.js, so I think this is just a docs error.

I'd be happy to review a PR that either 1) added, behind an option, support for sorting TS/Flow types; or 2) fixes the docs to remove the implication that it sorts T

[2020-07-10 18:11] #2705 closed

[2020-07-10 18:12] ljharb commented on #2571
Closing; happy to reopen if it's not actually fixed.

[2020-07-10 18:12] #2571 closed

[2020-07-10 18:13] ljharb commented on #2041
Yep, thanks :-) closed by #2234.

[2020-07-10 18:13] #2041 closed

[2020-07-10 21:12] jzabala commented on #2325
With #2699 render functions are not considered components. This one should be fixed now.

@ljharb

[2020-07-10 22:30] jzabala commented on #2224
This doesn't happen with versions:

[code]

![Screen Shot 2020-07-10 at 6 33 04 PM](https://user-images.githubusercontent.com/1315054/87207978-518c5880-c2db-11ea-968c-db9aa6d064e4.png)

[2020-07-10 23:11] #2164 closed

[2020-07-10 23:15] #2325 closed

[2020-07-10 23:16] ljharb commented on #2224
@jzabala your screenshot shows that the false positive does happen?

[2020-07-10 23:20] jzabala commented on #2224
Sorry for the confusing screenshot. I wanted to show that the rule was active, since it is triggered at the bottom, but it is not triggered in the case reported in the issue (the ternary).

[2020-07-10 23:26] ljharb commented on #2224
ah, thanks. Closing, then :-)

[2020-07-10 23:26] #2224 closed

[2020-07-11 14:07] jzabala commented on #1944
Not sure if I am testing this properly but I don't see errors with versions:

[code]

![Screen Shot 2020-07-11 at 10 09 09 AM](https://user-images.githubusercontent.com/1315054/87225855-f5b6e380-c35d-11ea-94ac-e27d2560ea9d.png)

[2020-07-11 15:08] jzabala commented on #1931
Working properly with versions:

[code]

![Screen Shot 2020-07-11 at 11 12 09 AM](https://user-images.githubusercontent.com/1315054/87227123-c35db400-c366-11ea-83d3-36c4b8848e71.png)

[2020-07-11 15:33] jzabala commented on #1927
@ljharb is this still relevant?

[2020-07-11 15:35] jzabala commented on #1919
After #2699 functions starting with a lowercase letter are not considered component.

This should be fixed now.

[2020-07-11 16:10] jzabala opened #2709 "[Proposal] Add bot to close stale issues."
I have seen this implemented in other repositories like [Gatsby][gatsby-bot] were issues that go too long without activity are automatically closed unless a special label is added to them.

I make this proposal because I have been checking old issues and, a lot of them are already solved or are not that relevant anymore (for example issues related to the class base component. I know they are still

[2020-07-11 16:48] ljharb commented on #2709
I can’t say no hard enough. Programmatically closing issues is incredibly user-hostile and i will never permit it in any project in which i have a say.

I agree that i haven’t been thorough enough in checking old issues as PRs are merged, but I’d rather thousands of open issues than have a robot close a single one.

[2020-07-11 16:48] #2709 closed

[2020-07-11 17:21] jzabala commented on #2709
I totally understand that automatically closing issues can be a little hostile but I think Gatsby does a good job about it. For example it warns a couple of days before closing an issue and it allows setting a `not state` label for issues that will probably take sometime to get fixed.

To honor people time and dedication to open and describe an issue I think we could set more sensible times. Like

[2020-07-11 18:09] ljharb commented on #2709
Bugs don’t stop being bugs after 4 years or 400. At some point I’ll certainly go through every old issue systematically, but i don’t see any advantage to closing them before a human looks at them.

[2020-07-11 21:17] jzabala commented on #2709
Got it! Thanks for your comments 👍🏼

[2020-07-11 21:21] jzabala commented on #2694
Actually this rule has two tests that specifically guard agains this (disallowed JSX text characters):

https://github.com/yannickcr/eslint-plugin-react/blob/e3e767bd041988d9acb7713874c0632c68408347/tests/lib/rules/jsx-curly-brace-presence.js#L252

https://github.com/yannickcr/eslint-plugin-react/blob/e3e767bd041988d9acb7713874c0632c68408347/tests/lib/rules/jsx-curly-brace-presence.js#L248

Would

[2020-07-11 22:38] ljharb commented on #2694
If the OP’s test cases pass, we can close the issue by adding them. Indeed if they’re prop values they should not be warned on.

[2020-07-12 01:22] jzabala commented on #2694
I opened a PR with the changes and moved the tests.

[2020-07-12 01:41] #1919 closed

[2020-07-12 18:02] jzabala commented on #2457
Functions starting with a lowercase letter are not considered components anymore. This should be fixed.

@ljharb

[2020-07-12 18:14] jzabala commented on #2411
Issue solved by #2706

There is already a test in other rule for this exact case: https://github.com/yannickcr/eslint-plugin-react/blob/e3e767bd041988d9acb7713874c0632c68408347/tests/lib/rules/no-multi-comp.js#L444

@ljharb

[2020-07-12 21:03] jzabala commented on #2357
@ljharb I think we can close this one. As you said in https://github.com/yannickcr/eslint-plugin-react/issues/2357#issuecomment-514675480 importing propTypes won't work with static analysis and using a variable, defined in the same file, was fixed by #2704

[2020-07-12 21:29] jzabala commented on #2268
@ljharb I think we should handle this case through `settings`. Something like an array of `componentCreatorFunctions` because otherwise there is not much difference between:

[code]
[code]
Both are function returning jsx whose parent is a CallExpression.

[2020-07-13 18:03] jzabala commented on #2177
@ljharb the optimal solution would be to handle every possible edge case but things can get out of hand very quickly. Like:

- Passing the props as argument `renderSomething(this.props)`
- Or reassigning props more that one:
[code]

In the case presented by this issue what would be the added value of this:
[code]
vs
[code]

[2020-07-13 19:30] ljharb commented on #2177
I don't think there's much added value - they should do `const { notifications } = this.props;` regardless :-) but it's nice when we can correctly analyze as much as possible.

I think eslint provides a number of utilities to make tracking the source of a variable easier?

[2020-07-13 19:47] ljharb commented on #2268
Given that we have `propWrapperFunctions`, I suppose we could create a `componentWrapperFunctions` - it'd have to default to including things like `<pragma>.forwardRef`, etc, so it'd be a bit more complex.

[2020-07-13 20:16] StallionV commented on #2654
Reason: Seems like if you have used the word "props" in your objects this error gets triggered
e.g.  {name: "", props: {..} }
Those looking for a quick fix.
Reverting version back to : `7.16.0`
and deleting your package-lock.json, node modules directory and then doing `npm install` fixed this for us

But this needs an immediate fix to stop builds from breaking.

[2020-07-13 22:36] #2357 closed

[2020-07-13 22:36] #2411 closed

[2020-07-13 22:37] #2457 closed

[2020-07-14 13:30] gaving commented on #2339
What a bizarre hill to die on here.

This let me use my corporate standard over all projects:-

[code]

[2020-07-14 18:17] geoguide commented on #2584
I have the same issue where I'm getting an error when there's a single map function inside the fragment. I can't enable this rule and use typescript at once because of this issue.

[2020-07-14 20:26] ljharb commented on #2339
@gaving i'm not sure how it's bizarre; eslint itself has deprecated "personal configs" and recommends avoiding global installs.

You can certainly swim upstream with `--resolve-plugins-relative-to`, but that doesn't change the widely accepted best practice.

[2020-07-14 21:43] gaving commented on #2339
@ljharb I dunno, a few lines to enable linting vs modifying 18 sub-projects of the project I'm working on.

But I see there's a huge amount of drama over this so never-mind, thanks for the great software. 👍

[2020-07-15 00:10] jzabala commented on #2355
Tested this with the following configuration:

[code]

It works as expected.

[2020-07-15 16:43] yyynnn commented on #2338
what if i don't wanna?

[2020-07-15 17:08] ljharb commented on #2338
That's always an option - disable the rule.

[2020-07-15 22:59] ExpectoPatrom commented on #498
I'm using eslint-plugin-react 7.20.3 and I'm having the same issue, do you have any idea of what should do?

[2020-07-15 23:04] ljharb commented on #498
@ExpectoPatrom would you mind filing a new issue? please include the code and the warnings.

[2020-07-15 23:05] #2355 closed

[2020-07-15 23:23] ExpectoPatrom opened #2714 "False Positive: "react/prop-types [PROP_NAME] is missing in props validation" While sending through parent"
In my App.js I'm sending an element of the state. Then I use it in the child that receive the data. It works, but the eslint server gives me that error.
 `react/prop-types [PROP_NAME] is missing in props validation`
Here's the section that sends the data:
`<Menu dishes={this.state.dishes} />`
And I use it in
[code]
As said above it works on the browser

[2020-07-16 04:52] ljharb commented on #2714
So, a few things: first, I'd need the entire code of the component. Second, though, whether it works in the browser is irrelevant; most linting rules aren't about "make the code work", they're about "make the code readable and maintainable and consistent".

In this case, the likely situation is that `Menu.propTypes` doesn't have `dishes` defined.

[2020-07-16 15:07] timofeyp opened #2715 "Git Hooks warning: React version was set to "detect" in eslint-plugin-react settings"
Hello!
When Im trying to commit, I have warning:

0 file committed, 4 files failed to commit: fix go to login page if cancel user sessions Lefthook v0.7.2 RUNNING HOOKS GROUP: pre-commit EXECUTE > eslint Warning: React version was set to "detect" in eslint-plugin-react settings, but the "react" package is not installed. Assuming latest React version for linting.

But I have latest react and eslint

[2020-07-17 02:47] ljharb commented on #2715
This implies you don’t have react installed, or, your git hooks are running eslint with the wrong working directory.

[2020-07-17 17:50] nwalters512 opened #2716 "jsx-curly-brace-presence and jsx-no-comment-textnodes conflict with each other"
I have both `react/jsx-curly-brace-presence` and `react/jsx-no-comment-textnodes` enabled. I want to render the string `/*` as the child of a component:

[code]

This errors for `react/jsx-no-comment-textnodes` as expected:

[code]

Per [the docs for `react/jsx-no-comment-textnodes`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-comment-textnodes.md#legitimate-uses

[2020-07-18 05:36] ljharb commented on #2716
Thanks for the repro!

I'm having trouble reproducing this - the test cases pass (the curly-brace-presence warning doesn't appear), both in my local tests and in your codesandbox.

Are you sure you're using the latest version of eslint-plugin-react locally?

[2020-07-19 06:14] aminya opened #2717 "react version "detect-no-warn""
I want to use a single Eslint configuration for multiple projects. However, some of the projects do not use react. When I set the react version settings to detect, I get a warning that react is not installed in those repositories.
[code]

I wish there was an option to set the version to `"version": "detect-no-warn"`, so I can use a single Eslint preset for all of the projects no matter if they are

[2020-07-19 06:28] ljharb commented on #2717
This is a duplicate of #2276.

tl;dr: if they're not using react, they shouldn't be using any eslint-plugin-react rules. It's simply not tenable to have a single preset that works for both react and non-react, which is why the airbnb styleguide doesn't do it.

[2020-07-19 06:28] #2717 closed

[2020-07-19 16:32] #1944 closed

[2020-07-19 17:27] abeMedia opened #2719 "Typescript false positive "missing in props validation" on interfaces"
When creating a type with interface...extends the props from the type that is being extended are ignored.

The following for example throws `'style' is missing in props validation eslint(react/prop-types)`:

[code]

This however works perfectly:

[code]

[2020-07-19 18:17] e110c0 opened #2720 "jsx-no-literals with allowStrings doesn't work in props"
the following setup seems not to work:

[code]

with the rule
[code]

produces the following error: `Invalid prop value: “type="button"”  react/jsx-no-literals`

Context: I'm trying to find a balance between enforcing no literals but also `react/button-has-type`

[2020-07-20 02:11] Cretezy commented on #2719
Same for me. This broke when upgrading from 7.20.0 to 7.20.1+

[2020-07-20 02:12] Cretezy commented on #2654
The upgrade from 7.20.0 -> 7.20.1 seems to be causing the issue for me.

[2020-07-20 04:03] ljharb commented on #2720
That should definitely work - jsx-no-literals shouldn't be warning on a prop value.

The `ignoreProps` option might help, however.

[2020-07-20 05:21] #1334 closed

[2020-07-20 10:34] e110c0 commented on #2720
`ignoreProps` works, in general, but also doesn't check any props at all. It seems that the `allowedStrings` are not checked in  props at all.

[2020-07-20 17:05] nwalters512 commented on #2716
This is what I see when I run `yarn lint` in the sandbox:

[code]

Can you show me what output you get for `yarn lint`? I also realized I wasn't explicit about how the rules were configured in my original post. Here's a verbatim copy of what's in the codesandbox:

[code]

[2020-07-20 17:06] animanoir commented on #1661
Thanks for this. Now how do I disabled it?

[2020-07-20 17:21] ljharb commented on #1661
@animanoir the same way you disable any rule; with eslint config, or an override comment.

[2020-07-20 17:30] animanoir commented on #1661
just in case someones search here :

`    "react/jsx-fragments": ["off"]`

[2020-07-21 12:32] MerlinMason opened #2722 "forbid-prop-types warning shown on Yup validation"
Hey there, a project I work on uses both prop-types and [Yup](https://github.com/jquense/yup) which have a similar syntax.

The following where I'm declaring a Yup validation object:
[code]

Gives me a warning on the line `customer_ids: Yup.array()` like so:
[code]

I believe this is a bug as this is not a prop type declaration.

[2020-07-21 14:45] captDaylight commented on #2282
To make that a little more clear, in your .eslintrc:
[code]

[2020-07-21 18:04] spanwair opened #2723 "Rule: use only arrow functions in React component"
Eslint v: v7.5.0

### **Description**

I got class defining inisideFunc(). I get this code, exmp:

[code]

but I require to use only arrow functions instead normal function, except render, exmp:

[code]

### **What I did**
I already tried func-style: "error" or third party library like eslint-plugin-prefer-arrow but it didn't show any error, exmp:

[code]

### **What I expect**

I would like to us

[2020-07-21 18:06] #2723 closed

[2020-07-21 18:09] ljharb commented on #2722
This should only warn when object/array/etc is chained off of `React.PropTypes` or an import/require of the `prop-types` package.

[2020-07-21 18:10] spanwair commented on #2723
I do not think is invalid repo because this issue is only about React eslint validation where all rules fail. Mainly because in component we do not have functions but methods and that why we can't use any solution. In our app we use only arrow functions and this was the rule from the beginning. In TS it would be `force-arrow-method` but it do not has yet any equivalent in eslint

[2020-07-21 18:14] ljharb commented on #2723
I see; you're asking for that rule, and eslint-plugin-arrow was just something you tried that didn't work.

In that case, I'd still decline to support that rule - "only use arrow functions" is just a flat-out incorrect way to use the language, and it would be very harmful imo to make it easier for people to opt into that coding style.

[2020-07-21 18:24] spanwair commented on #2723
I can't decide to make it different App in continuously developed for over 3 years and before that someone decided to use this code style. I am just migrating it from TSlint to ESlint and only this rule make it difficult for me.

[2020-07-21 18:43] ljharb commented on #2723
Performance is only one of the concerns, and the least important one. It's a philosophy/clarity concern.

I'd encourage you to write your own eslint plugin for this rule.

[2020-07-21 19:13] spanwair commented on #2723
can you point more of the concerns or forward me to some article about it?

[2020-07-21 19:15] ljharb commented on #2723
https://medium.com/@charpeni/arrow-functions-in-class-properties-might-not-be-as-great-as-we-think-3b3551c440b1

[2020-07-22 05:27] ljharb commented on #2716
Is there a way I can just clone the sandbox directly?

The passing tests I landed in bb2b8db use the same eslint config as in the sandbox.

[2020-07-22 07:20] qfox commented on #1466
Heya. Any activity here?

[2020-07-22 12:18] efeminella commented on #2719
Same here, rolling back to 7.20.0 resolved the issue for now, seems the .1 patch broke this.

[2020-07-22 21:12] aaronlna commented on #2654
Yup. Downgrading back to 7.20.0 resolved this for me.

[2020-07-23 03:00] nwalters512 commented on #2716
There doesn't seem to be a way to clone a sandbox directly. Here's a new repo that contains the same test case, along with instructions on how to reproduce: https://github.com/nwalters512/eslint-plugin-react-conflicting-rules-repro

Following my own instructions, I see the following output for `yarn lint`:

[code]

[2020-07-23 10:08] soulofmischief commented on #2415
It's not enough to include array literals. For consistency, parentheses should be handled as well.

To be more in line with other eslint rules like [`space-in-parens`](https://eslint.org/docs/rules/space-in-parens), `objectLiterals` should be replaced with `exceptions` which can take object/array literals and parentheses as options.

Because it's my and many others' stylistic preferences. ESLint i

[2020-07-23 11:41] Betree opened #2725 "Rule proposal: Forbid certain values for component's props"
# Use case

In our current setup (based on StyledComponents/StyledSystem) we use aliases for font-sizes. For example:

[code]

We want to get away from this behavior for the reasons described [in this issue](https://github.com/opencollective/opencollective/issues/3109). But we want this transition to be smooth, so a good first step would be to emit simple warnings for the developers to change thei

[2020-07-23 15:34] teamtofu opened #2726 "Make react/jsx-no-duplicate-props Case Sensitive on Custom JSX"
# Issue Description
[Material UI](https://material-ui.com/api/text-field/#textfield-api) implements both `inputProps` and `InputProps` props on their TextField. When both are specified, `react/jsx-no-duplicate-props` is triggered.

## Proposed Solution
For components (e.g. `<Capitalized>`), props are kept in their original case. For native JSX elements (e.g. `<div>`), props are still considered ca

[2020-07-25 14:37] huntu1992 commented on #498
@ExpectoPatrom same here

[2020-07-26 14:58] MathiasKandelborg opened #2727 "Wrong behavior from no-array-index-key"
Hey there, I love using the plugin, it makes it so easy to write great code!

I was writing a menu when I got an error from this code:

[code]

The error states that I shouldn't use index as key, even though it is a perfectly valid way of using index to make a **unique** key.

I have done this before, but after some months break time and the community shifting to use only eslint also for typescrip

[2020-07-26 20:40] ljharb commented on #2727
If you're using the index, there's no point in using anything else. In other words, do `key={i}` and override the rule.

Otherwise, the proper thing to do is to not use the index *in any way whatsoever*, and to use characteristics of the item itself to derive the unique key (iow, it is *not* valid to use the index).

[2020-07-26 20:41] ljharb commented on #2726
@teamtofu what version of eslint and eslint-plugin-react do you have? Current tests pass for what you're referring to, unless `ignoreCase` is set to `true`.

[2020-07-26 21:23] ljharb commented on #2415
@soulofmischief this isn't eslint, this is an eslint plugin, which is meant to be quite opinionated :-) you're welcome to write your own plugin and rules, when an existing plugin doesn't serve your needs.

I agree `{[ 'test' ]}` looks better than `{ [ 'test' ] }`, but `{['test']}` is what i personally consider looks the best (the spacing inside array brackets is handled by an eslint core rule).

W

[2020-07-26 22:37] teamtofu commented on #2726
On further inspection the `{ignoreCase: true}` from `eslint-config-airbnb` overrode the one in my root config. Thanks for your help.

[2020-07-26 22:37] #2726 closed

[2020-07-27 07:20] sluukkonen opened #2728 "TypeError: Cannot read property 'name' of null"
Version 7.20.4 seems to crash with the following error in a non-tsx file.

[code]

I haven't been able to produce a reduced test case yet.

[2020-07-27 07:23] xiekw2010 commented on #2728
+1

[2020-07-27 07:25] PrimoZiv commented on #2728
I have same problem.

`javascript
  // error:
  export default function () {}

  // success
  export default function name() {}
`

[2020-07-27 08:04] bhovhannes commented on #2728
Version 7.20.3 works fine.

[2020-07-27 08:37] glenngijsberts opened #2729 "TypeError: Converting circular structure to JSON 7.20.4"
When running my lint command in CircleCI I get the following error:

[code]

It only occurs in my PR's that are using version `7.20.4`, PR's using version `7.20.3` are passing. It's running on yarn version `1.21.1` and on node version `v12.14.0`. I'm not sure if this is enough info since I'm not sure what to provide but I can provide more info if needed :)

[2020-07-27 08:53] cy6erskunk commented on #2728
Seems to be caused by https://github.com/yannickcr/eslint-plugin-react/pull/2696

[2020-07-27 09:11] odinho commented on #2728
Ah, I see someone reduced it already. An easy null-check on the `node.id.name` before it's used will fix this issue. Here's a full testcase:

[code]

[2020-07-27 11:47] Roxyhuang commented on #2728
today ,I have same problem. +1

[2020-07-27 12:53] dukemai commented on #2728
same problem here

[2020-07-27 16:26] ljharb commented on #2729
What would really help is the code that it's failing to lint, an error stack trace using `eslint` on the command line (as opposed to a jest runner), and which eslint parser you're using. Thanks!

[2020-07-27 17:41] pevans01 commented on #2728
Same problem :-)

[2020-07-27 20:02] odinho commented on #2728
Instead of commenting, just click the :+1: on the top issue instead. Better for everyone ^_^

You may also help out with the PR at #2730 if it turns out anything is needed. Though currently just waiting on review from @ljharb. :)

[2020-07-27 20:47] timdorr commented on #2719
Appears to be fixed in 7.20.4.

[2020-07-28 05:21] ljharb commented on #2728
Thanks everyone; I'll try to get a fix out tonight.

[2020-07-28 05:22] #2719 closed

[2020-07-28 06:21] ljharb commented on #2725
I'm a bit confused. Typically, I'd suggest:
1. make propType warnings fail tests
1. wrap every propTypes object in https://npmjs.com/prop-types-exact so that passing extra props fails tests
1. add the new prop in a PR.
1. make a PR that migrates all existing uses to use the new prop.
1. make a PR that removes the old prop.

What's the point of using a linter rule here that can be overridden?

[2020-07-28 06:36] edokeh commented on #2728
+1

And version 7.20.3 works

[2020-07-28 09:03] Betree commented on #2725
@ljharb For our use case, relying solely on prop types is not enough, we need to look at the value. The `fontSize` props for example should still accept strings. As per the example above:

[code]

We could achieve that through a custom proptypes validation function, but the warning would be at runtime only. The intent of bringing this to the linter is to have something that warns you directly in y

[2020-07-28 14:51] curran opened #2732 "Browser Build"
Has anyone tried or succeeded in building `eslint-plugin-react` to run in the browser?

Use case: linting inside a browser-based IDE https://vizhub.com/curran/c3b14112dae34ef395999cef5783324f?edit=files&file=index.js

Thanks in advance!

[2020-07-28 17:59] #2728 closed

[2020-07-28 18:02] ljharb commented on #2732
Linting requires filesystem access at times - in particular, eslint-plugin-import, but also this plugin detects the react and flow versions, and also needs to load the TypeScript config.

I don't think it's realistic to lint in the browser, I'm afraid.

[2020-07-28 18:06] ljharb commented on #2725
propTypes *do* look at the values, that's why they're superior to TS/Flow types.

And yes, propType warnings are at runtime only, but that's what tests are for :-)

[2020-07-28 18:31] #2251 closed

[2020-07-28 18:44] #2694 closed

[2020-07-28 18:48] #1931 closed

[2020-07-29 04:29] jbizkit opened #2733 "TypeError: Cannot read property 'callee' of null"
Version 7.20.4 seems to crash when tsx file has a function with the name `createElement`

[code]

Component
[code]

[2020-07-29 05:14] ljharb commented on #2733
What happens with v7.20.5?

[2020-07-29 05:15] ljharb commented on #2733
So, specifically, this is likely because `React.createElement` is what jsx syntax uses.

[2020-07-29 05:16] ljharb commented on #2733
Also, do you have any idea what linting rule is being applied?

[2020-07-29 05:20] ljharb commented on #2733
Got a fix anyways.

[2020-07-29 05:20] #2733 closed

[2020-07-29 05:38] #2464 closed

[2020-07-29 05:55] jbizkit commented on #2733
Can you link the fix PR to this issue @ljharb.

[2020-07-29 06:54] ljharb commented on #2733
@jbizkit there was no fix PR; it was just the commit, which is linked in the closing message.

[2020-07-30 12:19] cbdeveloper opened #2734 "Is it possible to raise an error/warning when trying to JSX render an undefined property of an object ?"
I have this pattern that I use a lot with `react` and `styled-components`

[code]

The problem is that does not trigger any errors or warning. Not from Typescript, not from eslint, not from VSCode intellisense, I get nothing.

[![enter image description here][1]][1]

It even compiles successfully

[![enter image description here][2]][2]

It obviously does not run properly, but I get a generic runt

[2020-07-30 16:12] curran commented on #2732
Thanks @ljharb for your response!

FWIW I have got linting working in the browser using this package for now https://www.npmjs.com/package/eslint4b

Assuming no Flow and no Typescript, and an explicit React version passed in rather than detected from the file system, in theory it should be possible to run `eslint-plugin-react` in the browser. There may be some rules that have a fundamental incompa

[2020-07-30 18:19] Onatolich opened #2735 "Is there any way to multiline all JSX props if there are more than X props on element?"
Hello, I want to achieve a behavior when JSX props will all be multiline if amount of props is more than defined value. Currently there is `react/jsx-max-props-per-line` that is the closest to what I need, but if I set its `maximum` to 2, it groups props in multiple lines grouped by 2. So this JSX:
[code]

Will be formatted to this:
[code]

While I want to achieve this:
[code]

Is it possible to a

[2020-07-30 18:49] ljharb commented on #2732
What changes do you anticipate being needed, in that constrained scenario?

[2020-07-30 19:07] curran commented on #2732
I'm imagining a different flow for the browser build that stubs out or otherwise disables the `fs` and dynamic `require` calls.

Rollup does this quite elegantly, as a reference:
 * https://github.com/rollup/rollup/blob/master/browser/fs.ts
 * https://github.com/rollup/rollup/blob/0fa9758cb7b1976537ae0875d085669e3a21e918/rollup.config.js#L142

[2020-07-30 19:22] kylemh commented on #2702
Feels like [this typescript-eslint rule handles what you'd want](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/member-ordering.md). Would this package still wanna support rules covered by that plugin?

[2020-07-30 19:23] kylemh commented on #2654
I wonder if this was also fixed in 7.20.4, like [here](https://github.com/yannickcr/eslint-plugin-react/issues/2719)

[2020-07-30 19:51] ljharb commented on #2702
@kylemh if there's anything react-specific, then this plugin should indeed be able to overlap with that one.

[2020-07-30 19:51] ljharb commented on #2732
Sure, but you can do that already in every JS bundler, including browserify, webpack, etc.

[2020-07-30 19:54] kylemh commented on #2702
Sorry, to be clear I totally see the need for the defaultProps and propTypes property sorting. I meant adding the ability to sort `type` and `interface` keys.

[2020-07-30 21:03] Zarina2311 commented on #2471
I tried to replicate the same piece of code and it worked for me. @SirCameron do you have Prettier installed by chance? I wonder if that what was causing the indent to move. I removed Prettier and it seemed fine.

`const Component = ({one, two, three}) => (
  <Foo>
    <Bar/>
  </Foo>
)
`

[2020-07-31 05:10] ljharb commented on #2471
When using prettier, you also need to use eslint-config-prettier (and their `/react` config) to disable conflicting rules, including jsx-indent.

Closing until the OP confirms the problem still exists.

[2020-07-31 05:10] #2471 closed

[2020-07-31 05:15] ljharb commented on #2702
That's a fair point - if that functionality is already doable with typescript-eslint, and there's nothing react-specific that's needed, then this rule probably shouldn't support it.

[2020-07-31 05:21] ljharb commented on #2735
I think a reasonable thing to add to `jsx-max-props-per-line` would be to allow `maximum` to be, in addition to a number `x` like it is now, an object like `{ "single": y, "multi": x }`. That way, you could configure the rule like this:
[code]
which would, for single-line tags, error on 3+ props, and for multiline tags, error on 2+ props.

This object form of "maximum" would only make sense when `

[2020-07-31 05:41] ljharb commented on #2734
It's not practical for this to be done statically. In the exact case you provided - a typo on an object literal defined in the same file - it could be done, but the vast majority of these cases will be from an imported object, or one returned by a function.

This is the realm of either unit tests, a type system, or both, not a linter.

[2020-07-31 05:41] #2734 closed

[2020-07-31 06:12] #2010 closed

[2020-07-31 06:13] amannn commented on #2702
It seems like `member-ordering` would enforce it on every type though, right?

In JavaScript, if you want to sort properties of every object, you can use `sort-keys`. But if you want to do it only for prop types, you can use `react/sort-prop-types`.

Isn't that a valid use case for TypeScript as well?

[2020-07-31 06:16] ljharb commented on #2702
Since prop-types are more like a TS interface than a JS object literal, I'd say it'd make sense to sort TS prop types the same as other TS types?

[2020-07-31 06:18] ljharb commented on #1927
@jzabala I'm afraid so; tests on the rebased branch are still failing: https://travis-ci.com/github/ljharb/eslint-plugin-react/builds/177911829

[2020-07-31 06:40] kylemh commented on #2702
My thoughts as well. You can even limit the sorting to only ever sort `interface` keys too.

My mindset is: if you're sorting the interfaces that represent `propTypes` in a TS environment, you'd probably also wanna do the same for _any_ interface.

[2020-07-31 06:42] amannn commented on #2702
Hmm, I see your point.

My personal opinion is that something like `sort-keys` or `member-ordering` is a bit too aggressive and might decrease readability for some cases. For React components, I like to add some consistency with `react/jsx-sort-props` and `react/sort-prop-types` and feel like the combination of these two increase the DX. But maybe that's just me 🤷‍♂️

I guess something you could d

[2020-07-31 06:46] kylemh commented on #2702
Well, that wouldn't work either since you could have non-prop related interfaces in `.tsx` files, but yeah this is an interesting one!

[2020-07-31 07:12] amannn commented on #2702
Yep, there might be some false positives!

[2020-07-31 07:52] cbdeveloper commented on #2734
@ljharb thanks for your reply!

[2020-07-31 13:40] soulofmischief commented on #2415
@ljharb patterns like `{ items.map( x => /* element */ )} are quite common.

[2020-07-31 19:56] karolina-benitez commented on #2720
I believe I have a solution for this. I will open a PR later today

[2020-08-01 04:03] ljharb commented on #2415
@soulofmischief "common" is surely subjective; the airbnb styleguide forbids spaces directly inside the curlies, as does prettier, and those are the top two most used linter configurations for JS.

[2020-08-01 12:51] Hongbo-Miao commented on #1955
I have **eslint-plugin-react** 7.20.5 installed in my root folder.
My root folder does not have **react**, while, my `client` sub folder has **react** 16.13.1 installed.

I tried to
[code]

at my root **.eslintrc.js**, but got error

So I think this `latest` is not really latest.

However, the workaround way works perfect.

[code]

Thanks!

[2020-08-01 16:12] ljharb commented on #1955
@Hongbo-Miao `latest` isn't a valid option. It must be a version number, or `'detect'`.

eslint-plugin-react should not be installed or used in a package.json that doesn't also have react in it.

[2020-08-01 16:39] #2654 closed

[2020-08-01 16:39] #2703 closed

[2020-08-01 17:43] soulofmischief commented on #2415
It's an extremely common pattern in dynamic templating, spaces or not. I use `map` in this way constantly in my projects and it's recommended by [many](https://reactjs.org/docs/lists-and-keys.html) [libraries](https://mithril.js.org/keys.html).

I fail to see why that matters when a configuration would let *everyone* be happy and not force us to all use airbnb of all people's suggested style guide

[2020-08-02 00:32] Hongbo-Miao commented on #1955
Thanks @ljharb I agree need react in it. That case I need splits **.eslintrc.js** to three: one in root folder, and one in **client**, one in **server** folder. However, I found it is a little hard to manage them when splits them. Here is [my repo](https://github.com/Hongbo-Miao/hongbomiao.com).
BTW, I saw you left Airbnb earlier, good luck with your next journey! 🎉🎉🎉

[2020-08-02 05:14] ljharb commented on #2415
@soulofmischief sorry for the confusion; i don't mean the architecture pattern isn't common (it is), i mean the spacing you're requesting isn't common (neither of the examples you linked use it, for example).

Not sure why airbnb is "of all people's"? it's the most used styleguide in JS, by almost any metric.

What I'm pushing back on isn't "spaces inside array brackets" - you can already configur

[2020-08-02 05:25] jzabala commented on #2177
Awesome.

Yeah, you can use `context.getDeclaredVariables` for that. In this case though is wasn't necessary since it seems it was fixed by another PR. I created a PR with a test for this issue.

[2020-08-02 06:27] #2177 closed

[2020-08-02 10:41] dididy commented on #2586
Could I resolve this issue? I'm working on it.

[2020-08-02 13:17] Moong0122 commented on #2471
May I try to solve this bug?

[2020-08-02 13:18] Moong0122 commented on #756
May I try to solve this bug?

[2020-08-02 17:22] leusrox opened #2738 "no-undef rule for component class methods"
Is it possible detect undefined method in this case?

[code]

P. S. Sorry if the question has already been asked, I didn't find.

[2020-08-02 20:12] ljharb commented on #756
@Moong0122 yes, anything with the "help wanted" label that doesn't already have a PR, you can just make a PR for it :-)

[2020-08-02 20:12] ljharb commented on #2738
No, it's not possible to statically detect this without a type system. This is the domain of unit tests.

[2020-08-02 20:12] #2738 closed

[2020-08-02 20:13] ljharb commented on #2586
@dididy yes, anything with the "help wanted" label that doesn't already have a linked PR is up for grabs :-)

[2020-08-02 20:13] ljharb commented on #2471
@Moong0122 it's not clear this is a bug, but if you can provide failing test cases, that'd be great.

[2020-08-02 20:59] jzabala commented on #2735
@ljharb

I think this is a duplicate of https://github.com/yannickcr/eslint-plugin-react/issues/2598.

Regarding the implementation how about if instead of an object we defined two new properties:

[code]

We deprecate `maximum`, and to preserve the current behavior if not set, `maxSingular` and `maxMulti` will be equal to `maximum`.

[2020-08-02 21:10] ljharb commented on #2735
What’s the advantage to having the object be flat?

[2020-08-02 21:31] jzabala commented on #2735
We would avoid a breaking change in the next version and it would be easier to validate.

We won't have to evaluate for the `maximum` too. Something like:

[code]
 If we already have the `config` object, it would be just:

[code]

[2020-08-02 21:34] ljharb commented on #2735
What would be a breaking change? We'd support *both* a number, or an object, under `maximum`, in my proposal.

I'm more concerned with the cleanliness of the config than with using 2 vs 3 lines in the rule :-)

[2020-08-02 21:39] jzabala commented on #2735
Oh sorry. Did not get the part that both where supported. Awesome. In favor of object too 😁

[2020-08-03 16:49] kylemh commented on #2719
I'm unfortunately still seeing this in certain scenarios.

Right now I'm seeing the issue with an example like so:

[code]

[2020-08-03 16:56] ljharb commented on #2719
@kylemh cross-file static analysis is not something that's done in most eslint plugins, and certainly not in this one; unless the TS eslint parser provides that information, it can't work (and i'd expect if it did provide that information, it would already work)

[2020-08-03 17:04] kylemh commented on #2719
Hmmm... Is there something I can do to get cross-file static analysis working or should I simply disable this rule?

[2020-08-03 17:14] ljharb commented on #2719
The TypeScript eslint parser could certainly be updated to provide this information. I'd start by making test cases here, confirm that they fail, try to figure out where in the AST nodes the information is missing, and then file an issue/PR on the TS eslint parser.

[2020-08-03 19:54] codecog commented on #2722
Working on this

[2020-08-03 23:33] jzabala commented on #2590
I opened a PR to handle the [PropTypes.exact][exact] case.

[exact]: https://reactjs.org/docs/typechecking-with-proptypes.html

[2020-08-04 00:38] jzabala commented on #2589
@ljharb Should this one be closed?

[2020-08-04 04:07] #2589 closed

[2020-08-04 09:36] glenngijsberts commented on #2729
@ljharb hey man, totally forgot about this issue. It seems that version `7.20.5` fixed this! Thanks for replying anyway :)

[2020-08-04 09:36] #2729 closed

[2020-08-04 20:30] remcohaszing opened #2742 "jsx-filename-extension allow always or as needed"
`react/jsx-filename-extension` reports files using JSX which aren’t using the `.jsx` extension. However, it doesn’t report files that don’t use JSX syntax, regardless of the extension.

I would like to add an option `allow`, which can be set to `always` or `as-needed`. When this is set to `always` (default), the rule will only report JSX syntax in files not using the `.jsx` extension, as it does n

[2020-08-05 05:31] ljharb commented on #2742
That sounds great to me - however, the intention here is that `.js`/`.mjs` should only be used for *standard JS* - meaning, "not using jsx" is not sufficient for a file to be able to properly use those extensions.

In other words, with `as-needed`, I would want the file to only be warned upon if it used no non-ecmascript (stage 4) syntax, and that gets very complex.

[2020-08-05 09:32] remcohaszing commented on #2742
That may be your preference, but that’s not what the rule currently does. I think this is another issue.

I believe adding this option is a good idea regardless of that. Beware it’s opt-in, so the current behaviour stays the same. Personally I use mostly TypeScript nowadays and want to disallow the use of the `.tsx` extension unless it’s necessary.

---

To address the issue you described, another

[2020-08-05 10:50] Romanior opened #2743 "TypeError: Cannot read property 'callee' of null 7.20.5"
At version 7.20.5

this code
[code]
line with single `return` raises:
TypeError: Cannot read property 'callee' of null
[code]

[2020-08-05 14:45] riceboyler commented on #2733
@ljharb Can we get a new patch release cut that has this fix in it? We've had to revert to a previous version due to this bug.

[2020-08-06 05:48] ljharb commented on #2743
Duplicate of #2733.

[2020-08-06 05:48] #2743 closed

[2020-08-06 05:48] ljharb commented on #2733
Yes, I'll cut one soon.

[2020-08-06 14:00] hasparus commented on #2584
Same error as zenefits-brody and geoguide.

There's only one child in program's AST, but there may be multiple children in React tree.

https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-no-useless-fragment.js#L106

One should check if the only child isn't jsx expression with a call expression inside.

[2020-08-07 15:40] eltonio450 commented on #2569
me neither 🤣  I'll dig this afternoon and keep you posted !

[2020-08-07 17:41] eltonio450 commented on #2569
ok, so it already works with interface, but not with type, bc I mixed the parsers in my PR :( #2661 + added bugs to unhandled edge cases

but @hank121314 made a huge work refactoring, cleaning and fixing bugs related to props declaration in typescript in #2721 (thank you very much!), so it should work in the next release 👍

overall, typescript props declaration to "eslint usable format" seems to b

[2020-08-07 19:44] yankri opened #2745 "TypeError: Cannot read property 'callee' of null"
Getting this error TypeError: Cannot read property 'callee' of null when calling `forwardRef(this.ref)`

[code]

Stack trace:
TypeError: Cannot read property 'callee' of null
Occurred while linting file
    at Object.isDestructuredFromPragmaImport (/node_modules/eslint-plugin-react/lib/util/Components.js:348:33)
    at Object.isPragmaComponentWrapper (node_modules/eslint-plugin-react/lib/util/Comp

[2020-08-07 21:32] Hypnosphi commented on #1555
This sounds like a good solution to me. Would a PR adding this be welcome?

[2020-08-07 23:00] ljharb commented on #1555
@Hypnosphi sure, seems harmless enough, as long as both branches in the ternary were static strings.

[2020-08-08 05:53] ljharb commented on #2745
@yankri what version of eslint and eslint-plugin-react do you have installed?

[2020-08-08 14:24] jarretmoses opened #2747 "react/prop-types not detecting props when defined as an interface"
Hello,

It seems this issue has arose a couple times but in different fashion however this rules seems to still NOT detect Props correctly when using an interface vs a type. (I've been waiting several versions as I kept seeing people say this was resolved.

**Versions**
**eslint-plugin-react: 7.20.5**
**typescript: 3.9.7**
**@typescript-eslint/eslint-plugin: 3.8.0,**
 **@typescript-eslint/parser:

[2020-08-09 03:06] ljharb commented on #2747
While I prefer `type` to `interface`, you're totally right that this should work.

[2020-08-09 09:35] AriPerkkio opened #2749 "Rule proposal: react/no-unstable-nested-components"
I'd like to introduce a new rule for detecting React components which are declared inside another component or inside class component's render block. I was surprised to see this rule doesn't exist yet.

I've named this rule `react/no-unstable-nested-components` - if anyone can come up with a better name I'm open for it.

I'll set up the PR soon. Here's the implementation [AriPerkkio/eslint-plugin-

[2020-08-09 15:41] ljharb commented on #2749
While I agree with the principle of this rule, component detection is very difficult, and this will likely result in a lot of false positives.

[2020-08-09 17:11] #2720 closed

[2020-08-10 07:06] gaara4896 opened #2751 "react/display-name false positive on ant-design ColumnsType"
**Tell us about your environment**

* **ESLint Version:** 7.5.0
* **ESLint Plugin React Version:** 7.20.3
* **Node Version:** 10.15.3
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the iss

[2020-08-10 09:27] damiangreen commented on #2654
do we know which version this will be released in?

[2020-08-10 12:39] proxi commented on #2745
I am seeing similar crash with `eslint 7.6.0` `eslint-plugin-react 7.20.5`:

[code]

[2020-08-10 13:49] yankri commented on #2745
@ljharb `eslint 6.8.0` and `eslint-plugin-react 7.20.5`

[2020-08-10 22:13] nelsonprsousa opened #2752 "False positive react/no-unused-prop-types"
Hey guys,

While I was coding I noticed something odd regarding `react/no-unused-prop-types` rules.

For some unknown reason, I have that error on `renderStaticList` but not on `renderStaticItem` nor `renderCarousel`. To my eyes they look similar, but I may be wrong.

<img width="695" alt="Screenshot 2020-08-10 at 23 12 01" src="https://user-images.githubusercontent.com/8364345/89836558-ee524800-d

[2020-08-12 06:01] ljharb commented on #2752
In general, "render functions" should be components. In the case of `renderStaticList`, our component detection is marking it as one.

Since its name is not PascalCased, and it's never used in a jsx context, it shouldn't be detected as a component.

[2020-08-12 06:03] ljharb commented on #2654
@damiangreen if you click on the commit that closed the PR, you'll see it's not released in anything yet. So, the answer to your question is "the next release".

[2020-08-12 06:05] ljharb commented on #2745
This is solved by 8466625dee3ac366a575b27e3c380198733c0d42, which is currently unreleased. Duplicate of #2733.

[2020-08-12 06:05] #2745 closed

[2020-08-12 09:19] nelsonprsousa commented on #2752
I'll move those functions to a new component.

Should I leave this issue opened for further investigation regarding the detection of the component?

[2020-08-12 17:56] AriPerkkio commented on #2749
I'm starting to realize the difficulty of component detection now. At first I though the `Components.detect(..` would detect most cases, but no.

I've ran this linter to material-ui, ant-design and some other big repositories. I still need to add rule for detecting components declared inside props, e.g. `<Component footer={() => <div />} />`.

Also it seems that renderProps have to be excluded fro

[2020-08-12 18:45] #2716 closed

[2020-08-12 18:48] ljharb commented on #2716
Thanks, I was able to reproduce and make a fix/test.

[2020-08-12 19:01] ljharb commented on #2752
Yes, thanks, that'd be great.

[2020-08-12 19:02] ljharb commented on #2749
render props aren't components, and are usually *called*, not used in an element context, so they don't *have* any state.

[2020-08-12 19:35] nwalters512 commented on #2716
Thanks much!

[2020-08-13 10:42] iiison commented on #2751
Hey, @ljharb may I give this a shot if you don't mind...

[2020-08-13 14:56] ljharb commented on #2751
Go for it!

[2020-08-13 16:34] tosmolka opened #2754 "Migrate rule from TSLint: react-iframe-missing-sandbox"
We would like to port `react-iframe-missing-sandbox` from [tslint-microsoft-contrib](https://github.com/microsoft/tslint-microsoft-contrib) into ESLint and this plugin seems like a good place to put it.

See initial PR:
https://github.com/yannickcr/eslint-plugin-react/pull/2753

Any feedback will be appreciated!

[2020-08-13 17:26] jzabala commented on #2752
Working on this 🙂

[2020-08-13 18:52] ljharb commented on #2754
What is the purpose of this rule?

A PR is premature before it's clear this is a rule we want.

[2020-08-13 19:06] #2590 closed

[2020-08-14 03:35] karolina-benitez commented on #2472
I'm going to give this a try

[2020-08-14 04:59] #2223 closed

[2020-08-14 05:11] #2752 closed

[2020-08-14 05:32] #2742 closed

[2020-08-14 07:26] MichaelFroelich commented on #2646
Please at least fix the ones that are within HTML like code but are no where near those escape braces, ie:

div> This "here" can obvoiusly be fixed as it's between two divs  </div

[2020-08-14 08:09] tosmolka commented on #2754
We use this rule internally to remind engineers to follow security best practices and use "sandbox" attribute on iframes to enable only the functionality that is required. PR is here to show what the rule actually does.

I'll certainly leave it for your consideration. More reading on the iframe sandbox, if needed:
- https://medium.com/the-thinkmill/how-to-safely-inject-html-in-react-using-an-ifram

[2020-08-14 11:40] iiison commented on #2751
@gaara4896  I was going through the rule definition in the code. And it seems like a valid behavior. Even though `profilesColumns[1].render` is not a React component, but it returns a JSX fragment. And I see in the code that rule would show an error in this case.

@ljharb Please let me know if I'm missing something here.

[2020-08-14 11:47] iiison commented on #2751
@gaara4896 | @ljharb  Refer to [this part of the test file](https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/display-name.js#L588-L607) for more details.

[2020-08-14 12:37] jzabala commented on #2751
I think the case you are referring is different. It is pretty common in React to directly export a component (what is happening in the tests), but here `render` is a [render prop][render-prop] and shouldn't be detected as a component.

[render-prop]: https://reactjs.org/docs/render-props.html

[2020-08-14 13:16] iiison commented on #2751
@jzabala Ah, I see your point. I was seeing this from a whole different point of view. I get it now.

[2020-08-14 13:36] jzabala commented on #2747
Working on this one!

[2020-08-15 00:00] jzabala commented on #2747
@jarretmoses I added your example to the test cases and it is working, no error is reported on the prop `autoLoad`. Did I get your error right?

[2020-08-15 07:06] Zinyon commented on #2309
I think the error message on that case is correct following this [rule,](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/destructuring-assignment.md) isn't it?
can you explain more why there is a bug ?

[2020-08-15 07:20] ljharb commented on #2309
@Zinyon the rule is supposed to enforce _legacy_ context being destructured; it's not supposed to warn on `useContext`, or on any variable that happens to be named `context`.

[2020-08-15 08:10] Zinyon commented on #2309
@ljharb Thank you, it makes sense! and I'll try fix this.

[2020-08-15 10:56] k-yle opened #2758 "v7.20.6 has breaking changes for react/display-name"
before `v7.20.6` the `react/display-name` rule was okay with this pattern:
[code]

Since `v7.20.6` the `react/display-name` rule reports that "Component definition is missing display name" on line 1.

There's nothing in the changelog for `v7.20.6` regarding the react/display-name rule so I suspect this is unintentional?

I'm also confused as to how we'd fix this because `renderer` is not a compone

[2020-08-15 11:20] iiison commented on #2735
is anybody working on this? If not, I can give this a shot...

[2020-08-15 14:06] jzabala commented on #2735
Go for it 👍🏼

[2020-08-15 16:35] ljharb commented on #2758
`renderer` is not one, but the function it returns is. What likely changed here is #2708 which affected component detection (cc @jzabala).

This should fix the warning, and also improve debuggability of your components:
[code]

[2020-08-15 17:31] jzabala commented on #2758
As noted by @ljharb the change is intentional and was introduced to fix an inconsistency that was in the library (you can read the whole discussion here: https://github.com/yannickcr/eslint-plugin-react/pull/2708#discussion_r461792913).

Taking your own example:

Before the change this was a component:

[code]

But this wan't:
[code]

If you check carefully, in structure, the code is the same.

As

[2020-08-15 20:50] KingDarBoja commented on #2176
The original `jsx-no-lambda` rule at `tslint-react` states:

So pretty much redundant IMO.

[2020-08-16 11:28] AriPerkkio commented on #2749
Thanks, that was exactly the case here. The returned element will always be the same React.Fragment as _a stable reference_.

After adding detection for component inside prop (`<Component footer={() => <div />} />`), a lot of errors came out from various repositories. Now the detection will exclude props which names are prefixed with render, e.g. `<Component renderFooter={() => <div />}`. This see

[2020-08-16 14:58] jarretmoses commented on #2747
@jzabala so I don’t know if perhaps v 7.20.6 fixed something but it does seem to be working (for the most part) I do notice something now the rule has issues with nested function definitions but I’ll open a issue if I find this is not by design. Thanks for looking into this.

[2020-08-16 14:58] #2747 closed

[2020-08-16 15:14] jzabala commented on #2747
Sure, let us know if you find anything. Thanks for your support.

[2020-08-16 21:41] itsjohncs commented on #2603
I use leading underscores for component names sometimes, they have meaning in my codebase. The `ignore` configuration option only allows string, it seems like extending it to allow a list of strings or regular expressions would be a clear improvement.

[2020-08-17 05:53] iiison commented on #2735
@ljharb | @jzabala  does it make sense to change the property name `single` and `multi` to `singleLine` and `multiLine` respectively? It would be more intuitive.

[2020-08-17 06:01] ljharb commented on #2735
@iiison what would "single" or "multi" refer to that wasn't pretty obviously "lines"?

[2020-08-17 06:05] iiison commented on #2735
well, it is. It didn't make sense in the first look. Maybe it's just me. I will keep `single` and `multi` 😀

[2020-08-17 06:35] ljharb commented on #2749
It very much will *not* always be a "stable reference"; a new fragment is created every time it's called, and a new function is passed to the `Menu` component every time `Navigation` renders. In other words, you have the most unstable reference you could possibly create.

[2020-08-17 08:51] AriPerkkio commented on #2749
I think we are not talking about the same thing here, at least in this context. The only thing that matters is that element type is stable.

[code]

React reconciler will compare Footer as

- `function SomeFooter() === function SomeFooter()` -> False
- Element type has changed, lets create element again. Remove all children and start over.

And the `props.children` as

- React.Fragment === React.F

[2020-08-17 10:13] shirly-chen-awx commented on #2353
"overrides": [
        {
            "files": ["**/*.tsx"],
            "rules": {
                "react/prop-types": "off"
            }
        }
    ]

[2020-08-17 11:50] iiison commented on #2735
@ljharb I have a small confusion(it may sound obvious), say this is the config for the rule:
[code]

And this is user's code:
[code]

As this is a single line tag, the rule will throw an error by asking to put 2 props per line to make it look like:
[code]

But now, if you run the linter again, it with throw the error again to put 1 prop per row, as it's a multi-line tag now. I see 2 ways to tackle

[2020-08-17 20:26] ljharb commented on #2735
I believe eslint already does multiple passes on the command line in order to ensure that no further autofixes are needed.

However, it would be ideal for the rule to suggest the correct fix in the first place (ie, your option "a" there).

[2020-08-17 20:31] ljharb commented on #2749
OK - so by "stable" or "unstable" here, you mean, you want a rule that will warn on any element type (ie, something used as the tag name in jsx, or as the first arg to `React.createElement`) whose identity can change across renders?

[2020-08-18 03:57] AriPerkkio commented on #2749
Yes, exactly. I'm not sure how `React.createElement` could be detected though. I've never been using that API directly.
The current PR will detect these cases from JSX only.

[2020-08-18 05:06] ljharb commented on #2749
There's a bunch of examples of existing rules that do that; rules must only be jsx-specific whenever possible.

[2020-08-18 10:19] iiison commented on #2735
Okay, few things about the option "a":

- That means `single` will most likely be overruled by `multi`. Which, I feel makes `single` a little redundant(maybe it's my personal opinion).
- This one is a little tricky, suppose the user has this config:
[code]

And this the code:
[code]

In this case, `single` would ask the user to make one prop each line. But as `multi` gets verified after `single`,

[2020-08-18 13:36] jzabala commented on #2735
In that case @iiison the rule would ask to put the props in one line but not in the initial line. With the config you are describing and the example code the valid version would be:

[code]

[2020-08-19 05:20] iiison commented on #2735
Sounds like a good idea to me! Let me start the implementation then 😊

[2020-08-19 05:27] iiison commented on #2751
@ljharb | @jzabala  created [this PR](https://github.com/yannickcr/eslint-plugin-react/pull/2759) for this. Please let me know if that works.

[2020-08-19 05:36] ljharb commented on #2735
I think that there is certainly a possibility of conflict if some folks want single > multi, and others want multi > single.

I think we can implement with this plan, and if folks want to flip the priority, we can add another config option (that defaults to single > multi) that can be set to `multi > single`.

[2020-08-19 13:28] jzabala commented on #2735
If we evaluate based on the start and ending line of the component we might avoid any conflicts.

For example, for single line declarations:

[code]

there is no need to run the multiline code. It will ask if the number of props is greater than `single` and if that is the case suggest the corresponding multiline fix.

And for multiline declarations:

[code]

there is no need to run the single line

[2020-08-19 15:23] roshcagra commented on #2586
Any update on this? Glad to help!

[2020-08-19 17:33] AriPerkkio commented on #2749
Support for `React.createElement` cases added. Tested rule against same repositories mentioned earlier.

[2020-08-20 06:15] bhollis opened #2760 "[react/prop-types] False positive when wrapped with React.memo"
Using version 7.20.6.

I have a TypeScript component like:

[code]

This falls afoul of `react/prop-types`:

[code]

However if I move the function declaration out of the `React.memo` call and then just have `export default React.memo(AppIcon)`, the warning goes away.

[2020-08-20 06:40] sktguha commented on #1059
hi , any update on this ? is this going to be implemented ? looks like it would definitely be useful

[2020-08-20 06:46] ljharb commented on #2760
I assume that if the warning goes away, it's because you have `AppIcon.propTypes =` somewhere?

[2020-08-20 06:47] ljharb commented on #2760
ah, this is typescript, so it's using the types. Indeed, this seems like a bug in prop types detection.

[2020-08-20 07:00] iiison commented on #2735
yep, we wouldn't stumble upon the single-multi issue if we start the props from new line. But, say, user doesn't run `fix` and make changes by themself. And makes the code look like(first prop is next to JSX Opening element):

[code]
should we show error in this case?

[2020-08-20 11:42] iiison commented on #2735
I'm implementing the "props to start from the new line" in the fix function for now. @ljharb | @jzabala Let me know if you think differently 😊

[2020-08-20 13:59] Betree commented on #2725
We ended up making the migration in one go. Given our current setup, such feature could have been helpful to migrate progressively but is not needed anymore. Thanks for the input!

[2020-08-20 13:59] #2725 closed

[2020-08-20 17:10] ljharb commented on #2735
The priority is to make sure the tests are good, it's not all that important what the implementation is as long as it passes them :-)

[2020-08-21 05:37] noahbrenner opened #2762 "[react/prop-types] Doesn't detect TypeScript types for destructured default prop values"
## The bug

TypeScript infers the type of a destructured property when given a default value, for example `bar` is of type `string`:
[code]

This same syntax can also be used while explicitly defining the type:
[code]

**Here's the issue:** Despite types being defined, both of the above examples result in the error `react/prop-types: 'bar' is missing in props validation`.

## Current working versi

[2020-08-23 05:38] wmertens opened #2765 "function-component-definition breaks code"
When I auto-fix function-component-definition, it decides that the below is a function component (it's not really) and that it should use arrow notation:

[code]

It proceeds to auto-fix like this:
[code]

which is invalid. It should have changed it to `serialize: el => {` instead

Another option is that the rule ignores object function notation.

[2020-08-23 17:06] ljharb commented on #2765
This seems like two issues - one is that the autofix is incorrect, and produces invalid syntax. The other is that since this is a lowercase method of an object literal, we shouldn't detect it as a component.

[2020-08-23 17:07] ljharb commented on #2765
cc @stefan-wullems

[2020-08-23 19:22] stefan-wullems commented on #2765
I'll take a look

[2020-08-23 20:40] ljharb commented on #2765
(to clarify; the invalid autofix is a much more urgent issue)

[2020-08-24 11:44] mnn opened #2766 "forbid-component-props: How to distinguish a component from a library?"
Situation:

[code]

Adding `AntdLayout` nor `AntdLayout.Content` into `allowedFor` isn't working. I don't want to add `Content`, because then linter won't report an error when our `Content` component is used with `className`.

Edit: I have attempted to improve it in https://github.com/yannickcr/eslint-plugin-react/pull/2767.

[2020-08-24 16:36] dididy commented on #2586
@roshcagra Could you review my Pull Request? https://github.com/yannickcr/eslint-plugin-react/pull/2761

[2020-08-24 18:44] sktguha opened #2768 "Feature request: Add autofixing for this.props.someProp(some_values) to const { someProp } = this.props; someProp(some_values)"
Add autofixing for this.props.someProp(some_values) to const { someProp } = this.props; someProp(some_values)

Before:
`this.props.someProp(some_values)`

After:
`const { someProp } = this.props;`
`someProp(some_values)`

[2020-08-25 09:06] jaronheard commented on #2156
If this is still causing anyone pain (especially https://github.com/emotion-js/emotion/issues/1549 folks, since #2158 appears to be stalled), I threw together [a plugin](https://github.com/jaronheard/eslint-plugin-jsx-fragments) that re-implements `jsx-uses-react` and `react-in-jsx-scope` for Fragments specifically. This could be useful as a reference implementation for this issue, but I didn't fe

[2020-08-25 12:01] dididy commented on #2760
I'll take a look this issue.

[2020-08-25 15:44] alecmolloy commented on #2675
i'm curious if anyone else can get this rule to work? we're unable to figure this one out despite all other rules from this list working perfectly fine. have tried a bunch of variations to coax it into throwing an error but no luck.

[2020-08-26 05:07] ljharb commented on #2766
I would expect `AntdLayout.Content` to work; this seems like an omission.

[2020-08-26 05:08] ljharb commented on #2156
@jaronheard it's only stalled because the PR author has withdrawn; anyone can move it along by posting a link to an updated branch (NOT a new PR) :-)

[2020-08-26 05:09] ljharb commented on #2768
While this is a good code change, if `someProp` actually looks at its `this` value, this change would break it.

That said, if anybody's doing this in a prop function, they're violating a ton of React norms, so maybe it's OK?

[2020-08-26 10:01] iiison commented on #2735
@ljharb | @jzabala  Created the PR: #2769

Let me know if that works 😊

[2020-08-26 12:57] blumendorf commented on #2762
Not sure if this is related or should be a separate issue.

The below checks fine in version `7.20.5` and throws these errors in `7.20.6`.

`error  propType "width" is not required, but has no corresponding defaultProps declaration   react/require-default-props`
`error  propType "height" is not required, but has no corresponding defaultProps declaration   react/require-default-props`

[code]

[2020-08-26 17:14] sktguha commented on #2768
yes indeed. so I think we should proceed ahead with this right? Actually the primary motivation behind this was that I can quickly write this.props.someProp() etc and have it autofix to the destructured format

I think is a very rare case, particularly if you consider that nowadays prop functions are mostly passed as arrow functions, where the this is of the previous statement

So can I pick this

[2020-08-27 01:05] hank121314 commented on #2762
Hi, @blumendorf .
Because 7.20.5 is not support typescript TSTypeAliasDeclaration and TSIntersectionType, eslint will ignore the propType check.
After upgrade to 7.20.6, this feature is supported, so it will do the propType check.
Related rule: [require-default-props](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/require-default-props.md)

[2020-08-27 12:37] blumendorf opened #2773 "eslint does not consider default value as a defaultProps"
The below checks fine in version 7.20.5 and throws these errors in 7.20.6.

[code]

[code]

Note from https://github.com/yannickcr/eslint-plugin-react/issues/2762#issuecomment-681202088
7.20.5 did not support typescript TSTypeAliasDeclaration and TSIntersectionType, so eslint ignored the propType check.
After upgrade to 7.20.6, this feature is supported, so it will do the propType check

[2020-08-27 15:28] TahseenAlaa commented on #2329
Problem solved after update npm dependencies:

```npm update```

[2020-08-27 18:04] nelsonprsousa opened #2774 ""Expected no line gap between" false positive"
I believe one of the last [commits](https://github.com/yannickcr/eslint-plugin-react/commit/5029bd1b588c3f72251e13de190f9df7bd1390d8) on master brings a new unexpected error. For example:

[code]

`error  Expected no line gap between “component” and “key”  react/jsx-props-no-multi-spaces`

@iiison / @ljharb  is this okay? In these scenarios, how should we avoid the error?

[2020-08-28 07:46] iiison commented on #2774
Hmm. We're iterating over only on JSX attributes. I guess we need to update the rule to look for other elements in the tag. what do you think @ljharb ?

[2020-08-28 17:49] fairbanksg commented on #2760
I am having a similar problem. Strangely, I do not get false positives when just using memo, but when combining memo and forwardRef.

Also using Typescript:
[code]

I get
[code]

[2020-08-29 02:43] S-Amin commented on #2654
I just tested the version `7.20.6` and still the same error.
this is my package dependency

[code]

this is the `eslint` consfig file
[code]

and there are multiple components and `eslint` threw this error `... is missing in props validation `

[2020-08-29 02:52] phillt commented on #2477
having the same problem:
![image](https://user-images.githubusercontent.com/2586937/91626915-f20c0a00-e967-11ea-8e03-a61373f16fbe.png)
Doing this until there's a fix :vomiting_face:
![image](https://user-images.githubusercontent.com/2586937/91626924-04864380-e968-11ea-8918-e6681131a02f.png)

[2020-08-29 05:24] ljharb commented on #2654
@S-Amin thanks; could you file a new issue?

[2020-08-29 05:53] ljharb commented on #2774
I would expect a comment to be ignored, so yes, that seems reasonable.

[2020-08-29 05:54] ljharb commented on #2773
This seems correct to me. Default values aren't the same as defaultProps, and the rule is meant to force `.defaultProps`.

[2020-08-29 05:55] ljharb commented on #2768
Typically autofixes are very conservative, but I think in this case we can make an exception.

[2020-08-29 06:18] sktguha commented on #2768
Thanks @ljharb .
So can you tell me which existing autofixing rule , in this repo or elsewhere , is closest to this so that i can study the source to understand how to implement it. This is going to be the first eslint rule I will implement(I know basics of what an AST is , how you can get nodes , variables etc of a program as a json) And if any other comments on how to implement.
Also in first ve

[2020-08-29 06:43] ljharb commented on #2768
I'm not really sure; but autofixes aren't AST-based, they're string token-based. They basically specify a text replacement.

I think it would be a really good idea in the autofix to detect an existing destructuring and merge into that.

[2020-08-29 06:59] sktguha commented on #2768
1) then can you point me to existing similar autofixing rule, in this repo or elsewhere,or tag anyone who can help
2) yes agreed. But I think it can go as a seperate autofixing rule. As multiple destructing statements can come from other sources as from user input , copy paste from elsewhere etc

[2020-08-29 07:03] ljharb commented on #2768
I don't think it can be a separate rule; I think that right out the gate it has to locate an existing props destructuring, and amend it.

[2020-08-29 07:05] sktguha commented on #2768
Ok understood. Not fully sure how to go about it.

?

[2020-08-29 07:08] ljharb commented on #2768
I'm afraid I don't have anything off the top of my head; you're welcome to browse through the existing rule implementations to get some guidance.

[2020-08-29 07:09] sktguha commented on #2768
Oh ok. Sure will do . Is there list of autofixing or a way to search for all rules which are autofixable ?

[2020-08-29 07:12] ljharb commented on #2768
I'd grep for `fix(`.

[2020-08-29 07:12] sktguha commented on #2768
Cool. Thanks!

[2020-08-29 12:31] S-Amin opened #2777 "(react props) is missing in props validation ERROR"
I just tested the version `7.20.6` and I got the error `... is missing in props validation `.
It's a `Nextjs` project and I want to add the linting now but I got the error on my components
this is my package dependency

[code]

this is the `eslint` consfig file
[code]

and there are multiple components that `eslint` threw this error `... is missing in props validation `

[2020-08-30 05:48] ljharb commented on #2777
Please provide exact component code that's being warned on, and the exact text of the warnings.

What's likely happening is that a bunch of missing propTypes are being properly detected now that component detection has been improved to catch a new class of cases.

[2020-08-30 08:25] Moong0122 commented on #756
I understand that if the rule `react/jsx-indent": ["warn", "tab"]` is used, an error occurs when the tab is not used.
But there's no error in the code here.
Where do you think the problem occurred between `react/jsx-indent` and `jsx-closing-bracket-location`?

[2020-08-30 15:21] karlhorky commented on #2440
I guess the Babel 8 + React change to automatically import React with the new JSX transform is getting closer to reality:

https://babeljs.io/blog/2020/03/16/7.9.0#a-new-jsx-transform-11154-https-githubcom-babel-babel-pull-11154

In case this keeps going this way, it may make sense at some point in the next year or two to re-evaluate this rule.

[2020-08-30 17:45] #2765 closed

[2020-08-30 17:59] wmertens commented on #2765
Great, thanks! Question: does it generally ignore lowercase identifiers now or is that a separate bug?

[2020-08-30 18:19] ljharb commented on #2765
Yes, custom components must be PascalCased as far as I know.

If there's a case you think is a bug, please do file an issue :-)

[2020-08-30 18:33] ljharb commented on #756
I would expect jsx-closing-bracket-location to be the thing that warns, because jsx-indent would determine where `<div` is, and then closing-bracket-location would use *that* to determine where `>` should be.

[2020-08-30 18:46] #2586 closed

[2020-08-30 21:55] #2766 closed

[2020-08-31 03:52] wmertens opened #2778 "function-component-definition should only test PascalCase identifiers"
[code]

Should not be changed by function-component-definition.

[2020-08-31 04:33] ljharb commented on #2778
While this is true, why would you have a function like this in the first place, that takes props and returns jsx and isn't named PascalCased?

[2020-08-31 04:46] S-Amin commented on #2777
One of the components is this:

[code]

and the error is :

[code]

[2020-08-31 05:07] ljharb commented on #2777
what's `NextPage`? React components usually aren't typed like that.

[2020-08-31 05:22] S-Amin commented on #2777
this is a page in `nextjs` and the same error appear in my components too.
the problem is that `eslint` can't understand the prop interface when I'm using arrow function.

[2020-08-31 05:23] ljharb commented on #2777
Ah. That's a limitation in the TS parser; the type is associated with the variable and not with the arrow function

Components shouldn't be arrow functions anyways - make them proper named functions, and the types will work properly too.

[2020-08-31 05:37] S-Amin commented on #2777
I can't see why I shouldn't use arrow functions. just because a bug in TS or a package?

[2020-08-31 05:47] ljharb commented on #2777
In general, because arrow functions don't have explicit names, it makes them worse for debuggability. That the TS eslint parser can't properly associate type information to them is just another reason on top of the regular JS one.

[2020-08-31 06:44] wmertens commented on #2778
This would be a render function, which is passed to a component and gets called as part of the render phase

[2020-08-31 06:46] ljharb commented on #2778
Render functions don't take props.

[2020-08-31 07:02] wmertens commented on #2778
They might, and in #2771 the examples actually do

[2020-08-31 08:44] S-Amin commented on #2777
So is there any plan to fix this bug or not?

[2020-08-31 17:43] ljharb commented on #2777
I'd like it fixed, despite the arrow function advice, but I believe the issue is in the typescript eslint parser. @bradzacher, can you confirm?

iow, if there's something we can do here to associate the right type information with arrow function components, I'm happy to make the change here, but I think to be practical the parser would have to attach it to the arrow function AST node.

[2020-08-31 17:44] ljharb commented on #2778
They take *arguments* - props are *only* taken by elements/components.

[2020-08-31 18:15] bradzacher commented on #2777
JS Engines (at least chrome..) actually do implicit naming for arrow functions based on the name of the variable:
![image](https://user-images.githubusercontent.com/7462525/91750703-60bfb200-eb78-11ea-9d54-6e492348ea6d.png)

So I don't think there's a difference between function decls and arrow functions in this regard.

----

In this case, no - the AST is working as expected: the type annotation

[2020-08-31 18:49] ljharb commented on #2777
@bradzacher yes, the spec has inferred names, but they don't always apply intuitively (so it's easy for devs to think they're inferred when they're not) and when debugging in browsers that *lack* name inference, the name might not show up at all.

----
In that case it seems like a flaw in TS itself :-/ it seems like we need a helper in our component detection that can get the type (when it doesn't

[2020-08-31 19:05] wmertens commented on #2778
...ok, but they are indistinguishable in code?

[code]

[2020-08-31 19:45] bradzacher commented on #2777
For function expressions (arrow or otherwise) assigned to a variable declaration, parameter declaration, returned from a function or assigned to a property, both flow and TS will infer function parameter types for you based on the contextual type (i.e. the annotated type of the variable, parameter, function signature return, or object property, respectively).

This inference greatly simplifies Dev

[2020-08-31 20:11] ljharb commented on #2777
I guess I'd expect inferred types to show up directly on the nodes they're inferred on :-/

I agree that we wouldn't want the "complete project types" option by default. However, I think we'd always want to incur same-file cost for figuring out the type of a *component*, specifically (as opposed to everything else).

[2020-08-31 20:12] ljharb commented on #2778
Nope :-) but conceptually they're distinct, and you named your argument "props" which is a signal that it's a component, as is, taking a single destructured object argument - render props usually take multiple flat arguments.

[2020-09-01 01:29] hank121314 commented on #2773
Sorry for the confusion.
According to [document](url):

So default values are not the same as defaultProps.

[2020-09-01 02:42] #2773 closed

[2020-09-01 04:55] #2472 closed

[2020-09-01 21:30] wmertens opened #2781 "function-component-definition should ignore function with `this`"
This is a polyfill for IE:

[code]

it needs access to `this` and function-component-definition complains about it.

[2020-09-02 12:46] blumendorf commented on #2773
We are using typescript in our project.
Do we have any benefit from adding `.defaultProps` and additional PropType checking?

[2020-09-03 01:04] donalatorre opened #2783 "Eslint confuses prop type"
Consider this simple Component, made with React and flow. It renders a list, using a custom type `SimpleType`.

[code]

I'm getting the following eslint error:
`
5:3  error  'attribute' PropType is defined but prop is never used  react/no-unused-prop-types
`

But I'm not even using PropTypes. My guess is that it's confusing mappingFunction with a function component, and therefore confusing SimpleT

[2020-09-03 05:35] ljharb commented on #2783
All prop types are PropTypes, just less powerful :-)

mappingFunction is a function that takes a destructured object argument and returns jsx - is there a reason you're not declaring that inline?

Function components can receive two arguments, the second being `context`, which can be a number if `contextType` were provided.

Unfortunately component detection is very difficult. a PR to handle this

[2020-09-03 13:56] donalatorre commented on #2783
In my original code, I wrote mappingFunction inline. I only wrote it separately in the issue description for clarity. But even when I place it inline, I get the eslint error.

Ok, the argument thing sounds fair. But there could be other ways to figure out it's not a component. Would it be too difficult to ignore inline functions that return JSX? Or ignoring components declared inside other compone

[2020-09-03 14:12] DamianPereira opened #2784 "Function that returns a component causes false positive unused react/prop-types warning in typescript"
The folllowing code causes a false positive for the react/proptypes, with 'className' missing in prop-types declaration. Since this is typescript, and ComponentProps includes className, I'd expect this to not happen.
[code]

If the component is instead defined outside of the method that returns it, then the warning dissapears, like this (the rest of the example remains the same):

[code]

[2020-09-03 14:17] DamianPereira commented on #2784
Added a repo with the code and relevant config/packages [here](https://github.com/DamianPereira/eslint-plugin-issue-2784-example). Just run `npm install`, and `npx eslint Example.tsx`.

[2020-09-03 18:36] ljharb commented on #2783
Component detection is *very* hard, and always has room for improvement. I'd be happy to review a PR that improved the detection and added more test cases.

[2020-09-03 18:37] ljharb commented on #2784
I'm confused; you have a component factory in a class method?

[2020-09-03 18:43] yugandhar02 opened #2785 "[react/jsx-handler-names] False positive when prettier formatted multiline prop is used"
I have a component with large nested tree.
When formatted with prettier it splits event handler name in multi line form due to limited print width something like below

[code]
It gives me error about invalid handler name even though the handler name is correct

`error      Handler function for onClick prop key must begin with 'handle'      react/jsx-handler-names`

[2020-09-03 20:39] DamianPereira commented on #2784
Yeah, the real example is a component generator that is used like
`const PaddableDiv = classed.div((padded) => padded ? 'p-3' : '')
`
Then you use it like this:
`<PaddableDiv padded={true}/>`

Previously I had methods like makeClassedDiv(), but classed.div is a nicer looking interface and keeps all methods self contained, which is also nice. In order to do this classed.div() needs to take the styl

[2020-09-03 22:38] ljharb commented on #2784
I think that since it's working when declared at module level, but not when inside this class method, that there's definitely a bug.

[2020-09-03 22:39] ljharb commented on #2785
Although that prettier output is revolting, I agree it's a bug that the whitespace isn't taken into account.

[2020-09-04 04:45] gaara4896 opened #2786 "react/prop-types - False positive when ternary conditional return"
**Tell us about your environment**

* **ESLint Version:** 7.5.0
* **ESLint Plugin React Version:** 7.20.3
* **Node Version:** 10.15.3
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the iss

[2020-09-04 06:20] ljharb commented on #2786
This is caused by two things:
1. you're using an arrow function as a component, which has a number of downsides
2. the TypeScript eslint parser doesn't attach the type of arrow functions to the function, only to the variable that holds it, so we don't know what that type is.

Duplicate of #2777.

[2020-09-04 06:29] gaara4896 commented on #2786
Actually this is a different case with #2777  .

Below is what happen in #2777
[code]

However, the issue that I am facing only happen specifically when a ternary condition is used for the return.

To address your point 2,

[code]

[2020-09-05 07:46] ljharb commented on #2781
I'd say that, in addition, a function assigned to a prototype method shouldn't be considered a component.

Of course, modifying browser globals, and using `=` to install a polyfill, and running a react linter on that polyfill, all don't make any sense, but that's neither here nor there.

[2020-09-07 05:33] #2785 closed

[2020-09-07 06:00] #2762 closed

[2020-09-10 02:54] Grawl commented on #1990
I created [`pug-lint-config-no-deprecated`](https://github.com/Grawl/pug-lint-config-no-deprecated) in 2018, and there's a [list](https://github.com/Grawl/pug-lint-config-no-deprecated/blob/master/index.js) of obsolete attributes and elements you should not use, based on [w3 data](https://www.w3.org/TR/html5-diff/#obsolete-elements).

For ESLint / JSX, we can use [`react/forbid-elements`](https://

[2020-09-10 03:03] ljharb commented on #1990
I think the kicker is that it'd have to match what react does, not what w3 recommends.

[2020-09-10 05:01] Primajin commented on #1990
I think both would be nice. This could then be done via a setting/rule where you can specify what exactly you'd like to check against. Like img needs to have an alt attribute, but anywhere else it's not allowed etc...

[2020-09-11 18:35] jsphstls commented on #2516
Is there an example of how this rule works? All I see is a text descripting and the rule code. Simply going by a number of lines opens up the option to create one line expressions in the JSX, which IMO is even harder to mentally parse when abused.

Rather than porting the rule, I think a better rule would say that JSX can only contain references. I tend to write this way so that JSX only expresses

[2020-09-11 18:44] jsphstls opened #2793 "New rule: Control empty lines around JSX tags"
[code]

I'd like a rule that would help eliminate empty lines around JSX. The most common case that I encounter is the above example when empty lines occur (mostly after) the JSX and before a closing parenthesis. I don't think these are ever done intentionally and I cannot see how it would improve readability.

A related case that is less common is to add blank lines between JSX:
[code]

This is o

[2020-09-11 18:46] jsphstls opened #2794 "Extract JSX rules to a new package"
This package is very busy with open issues. Would it help to extract all JSX rules that are non-react specific to a new package? There may not be many candidates but the idea is that any support for those rules and the addition of new rules could be handled elsewhere.

[2020-09-11 19:48] jsphstls commented on #2516
I am also curious how this would affect functions as children.

[2020-09-11 20:02] ljharb commented on #2794
I don't think it would help; having one place with 400 open issues isn't any worse than two places each with 200 open issues.

It would also make it much harder for a jsx-only rule to be enhanced to support React.createElement in the future.

[2020-09-11 20:02] #2794 closed

[2020-09-11 21:01] ljharb commented on #2793
This might be a duplicate of #2630, which #2693 might solve?

[2020-09-11 22:01] jsphstls commented on #2793
Thanks @ljharb , that issue and PR appear to add lines with no configuration options. My goal is the opposite.

The PR looks like good work though. I would not want to impede it by asking for more.

[2020-09-11 22:05] ljharb commented on #2793
@jsphstls after that PR, can you help me understand what would you still be unable to do?

[2020-09-12 17:57] danavil87 commented on #2596
Is there any update to this? I just ran into the same issue and also got around it by adding the check

[2020-09-14 14:52] dcholth commented on #2360
I got this same error when using a normal .eslintrc file as well.

[2020-09-14 23:45] ljharb commented on #2360
Can you share the contents of that one? :-) reading yaml is tricky.

[2020-09-15 14:43] jsphstls commented on #2793
@ljharb I would be unable to automatically remove extra lines around and between JSX elements.

Invalid:
[code]

Valid:
[code]

[2020-09-15 16:24] ljharb commented on #2793
I see - so essentially, that PR adds jsx-newline which by default ensures lines, and you’d like a configuration option that removes them?

That seems like a reasonable option to add, either directly to that PR or as a follow up. Would you be interested?

[2020-09-15 19:29] jsphstls commented on #2793
Sure, I can try it after that merge.

[2020-09-15 21:02] Paperfeed opened #2795 "TypeError: Cannot read property 'type' of undefined"
eslint-plugin-react `v7.20.6` causes the following error:

[code]

At propTypes.js it goes into the switch case for 'ObjectExpression'
[code]

with the following values:
[code]

Which fails because the function isRequiredPropType fis called with `value` which is `undefined`
It seems to do with the TypeScript parsing in `convertReturnTypeToPropTypes(node)`

Now, one solution would be to simply chan

[2020-09-16 06:20] ljharb commented on #2795
What's the code being linted that causes this?

[2020-09-16 06:31] #756 closed

[2020-09-16 07:39] Paperfeed commented on #2795
I've narrowed down the issue to the way the types for DispatchProps are being generated from the ReturnType of mapDispatchToProps.

We have a component as follows:

[code]

If I uncomment `type DispatchProps ` or manually define it, it the error disappears

[2020-09-16 07:41] #2486 closed

[2020-09-17 00:02] uriva opened #2798 "children/tag is missing in props validation"
I'm not sure what's happening here - I'm not using prop-types, just the eslint-plugin-react.

[code]

[2020-09-17 00:29] uriva commented on #2798
I was missing
[code]

[2020-09-17 00:29] #2798 closed

[2020-09-17 05:20] ljharb commented on #2798
To be more accurate, you're missing:
[code]

[2020-09-17 11:56] uriva commented on #2798
I mean, my opinion is that if you're going to annotate all your code, you might as well just use typescript :)

[2020-09-17 12:59] JustFly1984 commented on #2798
Yeah, great advise!  I had to switch to typescript since the moment I’ve realised you can’t use prop types for null! And it is not considered to implementation, I guess cos uncle Bob... but since I’ve tamed typescript several years ago, no day to regret. Can’t go back to pure js anymore.

It takes several weeks to refactor big project to typescript for beginners, but after some learning curve it r

[2020-09-17 19:42] ljharb commented on #2798
@uriva TypeScript is incapable of checking most of the things that PropTypes can.

@JustFly1984 check https://npmjs.com/airbnb-prop-types for `explicitNull`, it works fine.

[2020-09-18 01:26] Moong0122 commented on #1686
May I try to solve this bug?

[2020-09-18 01:33] asumaran commented on #2360
Same here with `"react/jsx-filename-extension": [1, { allow: "as-needed" }],` per the documentation https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-filename-extension.md#allow-default-always

[code]

[2020-09-19 17:15] AdamAnSubtractM commented on #2387
This may seem obvious to most people but wasn't to me, this can be set up in an `eslintrc.json` or `eslintrc.js` file or in your package.json file by adding a rules object like so:

`"rules": {
      "react/jsx-props-no-spreading": 0
    }`

[2020-09-19 23:38] orlandovallejos commented on #1707
Any news about this?

[2020-09-20 01:02] mikol opened #2800 "Prop types aren’t checked if JSX is returned in a sequential expression (e.g., `return 0, <div/>`)"
A sequential expression using the comma operator (`,`) evaluates each of its operands (from left to right) and returns the value of the last operand. If the value of the last operand is JSX, it should be validated. However, sequential expressions are not handled by `eslint-plugin-react`. For example, the `name` prop in this contrived example isn’t validated:

[code]

[2020-09-20 06:57] ljharb commented on #2800
Fair, this is a bug, but what kind of crap code uses the comma operator??

[2020-09-20 21:38] ljharb commented on #2360
@asumaran that's because that change hasn't been released yet. View the docs on the tag matching the version of the plugin you're using instead. Here's the latest: https://github.com/yannickcr/eslint-plugin-react/blob/v7.20.6/docs/rules/jsx-filename-extension.md

(Same applies to https://github.com/yannickcr/eslint-plugin-react/blob/v7.14.3/docs/rules/jsx-indent.md as in the OP, altho the config i

[2020-09-20 21:41] ljharb commented on #1686
@Moong0122 any issue with a "help wanted" label that doesn't have a linked PR is up for grabs. This one has #1689, though (which I'll take another look at) so i don't think any additional help is needed on this issue.

[2020-09-20 21:55] #1686 closed

[2020-09-20 22:04] ljharb commented on #1835
Looks like it's since been fixed.

[2020-09-20 22:14] #2800 closed

[2020-09-20 22:27] #1835 closed

[2020-09-21 00:54] #2774 closed

[2020-09-21 12:14] Moong0122 commented on #647
I will take a look this issue

[2020-09-22 08:56] karlhorky commented on #2417
@ljharb Would the `eslint-plugin-react` project be opposed to adding this feature?

Seems like the issue in `facebook/react` to add it to `eslint-plugin-react-hooks` got no response and was autoclosed by the bot...

[2020-09-22 11:43] ranquild commented on #2760
Use can use the following workaround:

[code]

So the props type will be correctly preserved.

[2020-09-22 13:44] vdpdev commented on #2176
@KingDarBoja as i understand - `jsx-no-lambda` is redundant as you say. What should i use to have eslint's alert about lambda in `jsx/tsx`?

[2020-09-22 14:07] vdpdev commented on #2176
@KingDarBoja Never mind. I've found that `react/jsx-no-bind` from `yannickcr/eslint-plugin-react` does next: `Prevents usage of Function.prototype.bind and arrow functions in React component props` which is totally the same what @VincentLanglet wants. But it was no obvious that `react/jsx-no-bind` will argue on arrow functions in jsx/tsx.

[2020-09-22 19:10] ljharb commented on #2417
I'd love to see it go into eslint-plugin-react-hooks if possible.

[2020-09-23 03:07] hank121314 commented on #2795
Sorry for this issue and thank you for your investigation!
I have made a pr #2802 .
Can you help me to test whether it works?
Thanks!

[2020-09-23 03:19] #2795 closed

[2020-09-23 05:14] qkreltms commented on #2280
@ I wonder why is it? `forbids reset buttons because they’re horribly bad UX and should never be used` @ljharb

[2020-09-23 05:21] ljharb commented on #2280
@qkreltms because you spent all that time typing into a form, and you hit tab and hit spacebar/enter, and OH NO you hit the reset button and erased your work.

The browser has a "back" button, and a "refresh" button, there's literally *no need* for a reset button that's only purpose is to erase the user's work, likely by accident.

[2020-09-23 08:36] karlhorky commented on #2417
Ok, @mbrowne opened a new PR at `facebook/react`, let's see if it gets any traction: https://github.com/facebook/react/issues/19883

[2020-09-23 08:54] willheslam opened #2803 "TypeError: Cannot read property 'object' of undefined in jsx-handler-names"
TypeError: Cannot read property 'object' of undefined
Occurred while linting /Users/will.heslam/projects/foo/index.tsx:53
    at JSXAttribute (/Users/will.heslam/projects/foo/node_modules/eslint-plugin-react/lib/rules/jsx-handler-names.js:113:52)
which is apparently this line
[code]
in
[code]

when parsing
[code]
though this is TypeScript, I don't think that matters - here's a recreation using a t

[2020-09-23 11:26] Nick-bcm commented on #163
**error:**
[code]

**InputField.js**
[code]

**.eslintrc.js**
[code]

**versions:**
[code]

[2020-09-23 11:31] Nick-bcm opened #2804 "TypeError: Cannot read property 'type' of undefined in prop-types"
**error:**
[code]

**InputField.js**
[code]

**.eslintrc.js**
[code]

**versions:**
[code]

[2020-09-23 15:30] Davidhidalgo commented on #1848
This is very annoying... :disappointed:

[2020-09-23 19:05] tosmolka commented on #2754
@ljharb , any news regarding the proposal? Thank you.

[2020-09-23 21:54] Dylanlan commented on #2803
I also just ran into this error - seems to occur in `7.21.0` but not `7.20.6`
In my case, looks like it was from a component with a prop like this: `onRenameFile={()=>{}}`

[2020-09-23 21:56] ljharb commented on #2803
Thanks, I'll see if I can get a fix for this out ASAP.

[2020-09-23 22:12] #2803 closed

[2020-09-23 22:16] ljharb commented on #2803
v7.21.1 is released. Thanks to @willheslam for the report and the test case!

[2020-09-24 02:18] #2804 closed

[2020-09-24 04:19] ljharb commented on #2754
@tosmolka i think this is fine - let's go with `iframe-missing-sandbox`, and let's make sure that it works for both jsx and `React.createElement`.

[2020-09-24 15:43] kawikabader opened #2806 "TypeError: Cannot read property 'type' of undefined"
We are running into an issue that began with `v7.21.0`.

The issue is that when we attempt to run `eslint . --fix`, we get the following error: `TypeError: Cannot read property 'type' of undefined. Occurred while linting /file/to/be/linted`.

If we revert back to `v7.20.x`, we no longer have this issue.

[2020-09-24 17:01] viglucci commented on #2806
Looks like [this commit](https://github.com/yannickcr/eslint-plugin-react/commit/39307b46783f016892ef999410e87a6755b5426e) was intended to fix this issue but somehow didn't make it into `v7.21.1`?

[2020-09-24 17:02] viglucci commented on #2806
Oh, I see... that commit is marked as unreleased.

[2020-09-24 19:41] karlhorky commented on #2440
Looks like it's getting more real (besides Gatsby and Next.js, CRA v4 will support it, and the change will also be backported to React 0.14.x, 15.x, and 16.x):

https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html

[2020-09-24 19:49] ljharb commented on #2440
If you're using react 17, you'd simply disable this rule. As soon as React 17 is fully released, we'll update the docs page.

[2020-09-24 19:56] ljharb commented on #2806
Indeed; duplicate of #2804.

[2020-09-24 19:56] #2806 closed

[2020-09-24 20:50] chidioguejiofor commented on #2654
@ljharb upgrading to the latest version `7.21.1` fixes this

[2020-09-25 12:40] alexfdz commented on #2804
This issue is still reproducible for `ExperimentalRestProperty`, do you want me to create a different issue or reopen?

[2020-09-26 05:46] ljharb commented on #2804
A PR with a failing test case would be ideal. Thanks!

[2020-09-29 07:26] adnasa opened #2809 "react/prop-types emits warning for inline components"
Hey.
I attempted to upgrade `eslint-plugin-react` in my repo from `v7.20.6` to `v7.21.2`,
and `react/prop-types` rule emits warnings.

#### Actual source code (simplest case)

[code]

In the example above, `optionProps.value === props.maxSelectableValue` emits a `react/prop-types` warning,
although a prop-type validation was defined for `maxSelectableValue`.

I'm not sure if I should file this as

[2020-09-29 08:36] Moong0122 commented on #647
@ljharb I sent a PR, can you confirm if it worked?

[2020-09-29 16:28] nescalante commented on #2804
Any chance to release this fix?

[2020-09-29 19:24] ljharb commented on #2804
It's only been 2 days. It'll be released when I have time.

[2020-09-30 13:00] josephmarkus opened #2810 "Spreading props fails linting with TypeError: Cannot read property 'type' of undefined"
I bumped eslint-plugin-react from 7.20.6 to 7.21.2 and running lint fails with an unclear message.

I debugged below with line by line until I realised that `...props` spread fails linter.

[code]

[2020-09-30 15:32] akhll commented on #2804
@ljharb i would be really appreciated if you release it as quick as possible.

[2020-09-30 18:34] ljharb commented on #2810
Duplicate of #2806. Duplicate of #2804.

Will be fixed in the next release.

[2020-09-30 18:34] #2810 closed

[2020-10-01 08:35] MasterCarl opened #2811 "react/no-unescaped-entities rule is ignored"
It seems like the `react/no-unescaped-entities` rule isn't being picked up by eslint. I have the following in my `eslintrc.js`:

[code]
It seems to be correct as VS Code doesn't show the related warning anymore. However, I still get the following error:

[2020-10-01 10:14] ManoharSomu commented on #2369
Code:const MenuItem = ({title, imageUrl, size}) => (
    <div className ={'${size}, menu-item'}>

      <div className='background-image'style={{backgroundImage: 'url(${imageUrl})'}}>

        </div>
    <div className='content'>
        <h1 className='title'>{title.toUpperCase()}</h1>
        <span className='sub-title'>Shop Now</span>
    </div>
</div>
)

Issue:
/components/menu-item/menu-item.c

[2020-10-01 22:48] ljharb commented on #2369
@ManoharSomu your problem is entirely unrelated to this issue. You're not using template literals, which only use backticks.

[2020-10-01 23:16] Songyu-Wang opened #2816 "no-typos rule crash when encounter `...`"
Reproducible example:
[0001-s.txt](https://github.com/yannickcr/eslint-plugin-react/files/5315223/0001-s.txt)
Error message:

[code]

[2020-10-02 04:33] ManoharSomu commented on #2369
Can you please elaborate the Solution I'm a beginner

On Fri, Oct 2, 2020 at 4:19 AM Jordan Harband <notifications@github.com>
wrote:

--

*Thanks & RegardsS. Dinesh Manohar sasikanth *

* Cell: 9700909063*

[2020-10-02 05:23] ljharb commented on #2816
Duplicate of #2810. Duplicate of #2806. Duplicate of #2804.

[2020-10-02 07:32] PeterPanen opened #2817 "eslint crashes when using rest syntax in component params"
I am running newest eslint 7.10.0 and eslint-plugin-react 7.21.2, and i'm having this weird issue in functional components where eslint crashes whenever i use rest like below:

[code]

eslint produces the following error:
[code]

However, if i just pull the rest syntax down into the function body, everything works fine:
[code]

[2020-10-02 07:37] ljharb commented on #2817
Duplicate of #2816. Duplicate of #2810. Duplicate of #2806. Duplicate of #2804.

[2020-10-02 07:37] #2817 closed

[2020-10-02 07:44] PeterPanen commented on #2817
Oh, sorry i thought i had been looking thoroughly for duplicates and was slowly becoming insane haha xD
Thanks in advance!

[2020-10-02 08:12] Songyu-Wang commented on #2816
@ljharb I dont think this is a duplicate. All the issues you mentioned are for `tests/lib/rules/prop-types.js`
The issue I raised here is for `no-typos`

[2020-10-02 08:33] DanielRuf opened #2818 "Fragment error when using the settings in a JSX project"
I'm getting the following error with the example settings in .eslintrc.js:

`Fragment pragma React.Fragment is not a valid identifier`

[2020-10-02 08:35] DanielRuf commented on #2818
It looks like `^[_$a-zA-Z][_$a-zA-Z0-9]*$` does not cover `React.Fragment` as there is no dot allowed in the RegEx.

https://github.com/yannickcr/eslint-plugin-react/blob/ef9a51225e3d5f6cb7cbdc3ec0382ad49246034b/lib/util/pragma.js#L10

https://github.com/yannickcr/eslint-plugin-react/blob/ef9a51225e3d5f6cb7cbdc3ec0382ad49246034b/lib/util/pragma.js#L31

[2020-10-02 08:39] InsOpDe opened #2819 "Fail fast: Invalid count value"
I've encountered following error
[code]
And could narrow it down to following configuration:
[code]
[code]
[code]

Now **after** i figured out what it caused, I found out about the `ignoreJSX` setting in "@typescript-eslint/no-extra-parens".
If I use
[code]
it works of course.

But I spent too much time finding this issue - so I thought maybe there is a better solution. Is it possible to display a

[2020-10-02 08:43] DanielRuf commented on #2818
Ah it looks like the wrong default branch is used (`master` instead of `develop`) or the readme is just outdated.

The `next` branch shows the following in the readme:

[code]

PS: this repo should probably be under an org to ease future maintenance and onboard more maintainers and contributors.

[2020-10-02 08:43] DanielRuf commented on #2818
cc @ljharb regarding the org statement. It looks like you have more rights for this repo.

[2020-10-02 17:36] ljharb commented on #2817
np, i'll try to get a release out soon.

[2020-10-02 17:37] ljharb commented on #2816
ah, true enough. it'll need the same fix as prop-types.

[2020-10-02 18:04] ljharb commented on #2816
aha - looks like we never anticipated someone would be using modern syntax with the deprecated createReactClass. Fix coming shortly.

[2020-10-02 18:13] #2816 closed

[2020-10-02 18:25] ljharb commented on #2804
v7.21.3 is released.

[2020-10-02 18:27] ljharb commented on #2818
@DanielRuf so far there hasn't been any issue with it not being in an org, but if the owner is open to it, i could certainly make one.

As to your question, where in the readme do you see a "develop" branch referenced? The "next" branch isn't something I've ever used and is pretty outdated. The pragma should be "React".

[2020-10-02 18:32] DanielRuf commented on #2818
You are right, I've meant `next`, not `develop`.

The current default branch has the wrong example in the readme (which is also shown on npmjs).

[2020-10-02 18:34] ljharb commented on #2818
ah, you're right. that should be updated to say "Fragment".

[2020-10-02 18:48] ljharb commented on #2819
I'm a bit confused. if you only enable jsx-wrap-multilines, and disable all the other rules, what happens?

[2020-10-03 03:06] robertjk commented on #2511
For example in my company we have a team of people who have been developing in React for no more than 2-3 years. Hardly any of us has ever used class components and understands them. I'd like to prevent having class components in our code base mostly for that reason - most of them team wouldn't be able to understand them.

[2020-10-03 03:56] Moong0122 commented on #1501
I will take a look this issue

[2020-10-03 06:29] ljharb commented on #2511
@robertjk if your team truly doesn't use or understand class components, when would they create one such that a rule would warn on them?

[2020-10-03 07:10] ljharb commented on #2811
If the CLI is working, and vscode is not, and restarting vscode doesn't fix it, it's a vscode bug.

[2020-10-03 07:10] #2811 closed

[2020-10-03 11:00] Moong0122 commented on #1187
I will take a look this issue

[2020-10-03 16:59] #647 closed

[2020-10-03 20:21] robertjk commented on #2511
Likely they won't, but new developers join and I'd like to ensure no one in the future creates any class components in the code base.

We actually had one developer who was the opposite - he used only class components all his career, also he didn't understand function components and hooks. He was developing one project on his own and he used class components exlusively in that project. He's not wo

[2020-10-03 20:50] ljharb commented on #2511
If that developer would ignore convention, wouldn’t they just ignore the eslint rule?

For surfacing those issues tho, sure, but at that point you could also block React.Component from being accessed or imported.

[2020-10-03 20:59] robertjk commented on #2511
Could be, but could be not. Depends if he would ignore the convention because:
1. He knows but consciously breaks it
2. He simply doesn't know the convention

And for me one of the linter's role is aiding in problem no. 2. Linter configuration is also communicating project/company's coding standards, so that we don't have to write long style guides and have it memorized and checking it all the tim

[2020-10-03 21:10] ljharb commented on #2511
While I agree with the benefit the rule would offer you, I'm very hesitant to introduce a rule that blindly blocks an important feature of the language/React. We don't have one that blocks createReactClass components either, despite those being deprecated and obsolete.

[2020-10-03 21:14] robertjk commented on #2511
Why do you say "blindly"? There are people, who might want to block it quite consciously.

ESLint core rules allow you to block almost any single part of the JavaScript langue (in the most complex form using [`no-restricted-syntax`](https://eslint.org/docs/rules/no-restricted-syntax)) rule; even the `for` loop if that's your wish. The philosophy of their rules seems to be - you're in control, and

[2020-10-05 20:13] ljharb commented on #2809
Fixed in #2807, per https://github.com/yannickcr/eslint-plugin-react/pull/2807#issuecomment-703497247.

[2020-10-05 20:13] #2809 closed

[2020-10-06 13:27] kopiro commented on #2057
Hey all, what do you think of this implementation?
https://github.com/kopiro/eslint-plugin-ssr-friendly

[2020-10-07 03:12] miXwui opened #2821 "react/no-array-index-key shouldn't apply to Maps"
I ran into an odd scenario/edgecase with the rule `eslint(react/no-array-index-key)` which warns `Do not use Array index in keys`

When using `.foreach()` on a Map, the "array" index, or really, the Map key)

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map

In the example below, I'm using the Map's keys (which are strings) as the key for some React element:
[co

[2020-10-07 05:14] ljharb commented on #2821
The airbnb config indeed bans for..of.

However, in this case, you can do:
[code]
which avoids needing the `filters` array at all.

[2020-10-07 18:18] kopiro commented on #2057
@alexreardon

[2020-10-07 18:26] miXwui commented on #2821
Oh hey yeah that works, and I think that should cover all cases I can think of (when dynamically creating elements).

Closing this issue, thank you @ljharb!

[2020-10-07 18:26] #2821 closed

[2020-10-08 14:55] mikestopcontinues commented on #807
I second @merlinpatt on a regex option. Regarding implementation, what if providing a `sortOrder` config array disabled `callbacksLast`, `shorthandFirst`, `shorthandLast`, and `reservedFirst`? Seems like `ignoreCase` and `noSortAlphabetically` would still be useful for intra-group sorting. Alternatively, maybe just make it a breaking change? The array config is much more expressive.

Regarding con

[2020-10-08 16:42] musicMan1337 commented on #1555
I'm having the same Eslint issue, hence I found this page.  Much of the conversation essentially claimed that buttons should be hard-coded due to the different 'schemas' needed for different button types. I came up with this:
[code]
As you can see, I was forced to disable the linter here, but as far as dynamic, this is about as good as I could make it to support every style of button via overloadi

[2020-10-08 20:32] Hypnosphi commented on #1555
@musicMan1337 do you ever use `<Button type="submit" />`? If not, you can just remove the `type` prop from `Button` and specify `<button type="type" />` explicitly

[2020-10-08 20:35] ljharb commented on #1555
@musicMan1337
[code]

There is never a need to dynamically specify a Button's type (and you never ever want a "reset" button, so those two are sufficient).

[2020-10-08 23:58] musicMan1337 commented on #1555
To preface, I'm not the best with forms!

@Hypnosphi I've found in React I tend to only use submit buttons when I *actually* need a real button. If I'm just testing functionality with dummy buttons then it doesn't matter, then again I'm sure you can do wonderous effects using buttons!

@ljharb It's interesting how you feel about the "reset" type, I'll have to look into that some more since I have

[2020-10-09 01:05] ljharb commented on #1555
@musicMan1337 you can *only* defaultProps outside the component. Your statement doesn’t take effect until after the component has been rendered.

[2020-10-09 01:09] ljharb commented on #807
I prefer not to add regex support in rules; globs should be sufficient.

[2020-10-09 02:59] musicMan1337 commented on #1555
@ljharb Oh nice that's good to know! I was being misdirected by my linter since the error turns off both ways (I guess in that specific case it just scrubs the whole file without scope?).

Definitely need more practice with React, most of my time has been spent on backend stuff. Also I now clearly understand the taboo of the "reset" button type!

[2020-10-09 17:38] junoatscroll opened #2822 "Upgrade jsx-ast-utils to support Optional Chaining"
I opened an issue upstream on jsx-ast-utils: https://github.com/jsx-eslint/jsx-ast-utils/issues/103 , which was fixed in jsx-ast-utils@3.0.0

## Symptom:
Began seeing `The prop value with an expression type of ChainExpression could not be resolved. Please file issue to get this fixed immediately.` in eslint output after upgrading.

ECMAscript Optional Chaining shipped, resulting in various changes

[2020-10-09 19:13] #2822 closed

[2020-10-09 19:13] ljharb commented on #2822
The next patch release of eslint-plugin-react will include jsx-ast-utils v3.

[2020-10-09 20:39] #1187 closed

[2020-10-09 20:47] #2818 closed

[2020-10-11 03:57] Hypnosphi commented on #1187
@ljharb Now, if I use parens, jsx-indent-props wants me to use 4 spaces instead of the configured 2

[code]

[2020-10-11 05:11] ljharb commented on #1187
@Hypnosphi oops - a PR with that test case would help.

[2020-10-11 14:25] AriPerkkio commented on #2749
In order to identify false positives I've created [a tool](https://github.com/AriPerkkio/eslint-remote-tester) for linting 100's of repositories easily. After scanning [165 repositories](https://github.com/AriPerkkio/eslint-plugin-react/blob/react/no-unstable-nested-components-test/eslint-remote-tester.config.js#L2-L169) against this rule I've identified one false positive caused by `useEffect`'s

[2020-10-13 11:56] marius-jaskunas opened #2824 "Eslint prop types - array of object does not require object properties to be defined in prop types when using array functions like map"
**Description:**
I have array of objects and I'm using a map function to go through them and render multiple similar components. The problem is that eslint does not check if object properties are defined in prop types, which sometimes making some field not validated.

**Version: 7.2**

**Sample code:**
[code]

**Expected result:**
`href={x.link}` will be marked as an error like when using `primary

[2020-10-13 19:27] michael-yx-wu opened #2827 "jsx-target-no-blank should warn when using JSX spread attributes"
At the moment, something like this would _not_ trigger a warning:

[code]

Since the rule can't verify whether this will compile to have an `href` that points to an external url, wouldn't it be safer to warn the user? If they are sure that this will never compile to be an external link, they can explicitly disable the rule for this line.

[2020-10-13 20:36] ljharb commented on #2827
What happens when you enable the `enforceDynamicLinks` option?

[2020-10-13 21:02] michael-yx-wu commented on #2827
It still doesn't warn, unfortunately. Maybe because the spread isn't considered an attribute and even if it were, [hasDynamicLink](https://github.com/yannickcr/eslint-plugin-react/blob/632639ba26f219340474e2a0a63b550af779a7eb/lib/rules/jsx-no-target-blank.js#L38)'s check for attribute === `"href"` (or some other user-specified attribute type) would fail.

[2020-10-13 21:11] ljharb commented on #2827
I think it's reasonable to either enhance `enforceDynamicLinks` to warn on a missing "href" when something's spread in, or, to add a new option for that behavior in case that's a breaking change.

[2020-10-14 06:43] InsOpDe commented on #2819
I guess it works as expected.

To clarify, this is not a bug im describing. There are solutions to this problem, im only posting this issue, because it took me a long time to figure out, which would not be the case if the errors would have been more verbose or when either part would have detected that there is a configuration mismatch.

[2020-10-14 06:52] ljharb commented on #2819
I agree that a better error message would be nice; but suggesting things about an unrelated eslint plugin does not seem appropriate. Do you have a suggestion?

[2020-10-14 09:20] imflavio commented on #2387
[code]

[code]

This doesn't work for some reason.. What am I missing? @ljharb

[2020-10-14 16:23] ljharb commented on #1797
@katrinaRenwickEmpire can you provide code, the actual behavior, and the expected behavior?

[2020-10-14 20:12] jarretmoses opened #2828 "react/jsx-indent-props"
I just upgraded to v `7.21.4` And it seems this rule is not properly detecting the spacing in a couple places that had worked before this version. (The `@typescript-eslint/indent` I also have is working fine). I attached the photo where its not correctly noticing the spacing I have as it is fine as is and I am doing very similar types of spacing in my codebase where this rul is not complaining. Th

[2020-10-14 20:22] jarretmoses commented on #2828
An interesting note. If I remove the ternary above the error goes away.

[2020-10-14 20:56] ljharb commented on #2828
I believe this is fixed by #2826.

[2020-10-14 21:55] jarretmoses commented on #2828
ah thanks @ljharb Ill close this and wait for the next release to confirm.

[2020-10-14 21:56] #2828 closed

[2020-10-14 22:03] ljharb commented on #2387
the rule does not allow an empty exceptions array: https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-props-no-spreading.js#L66

[2020-10-15 07:11] yoyo837 opened #2829 "need rule [no-react-default-imports]"
After upgrade to new jsx transform:  https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html

[2020-10-15 17:08] ljharb commented on #2829
We don't need that rule at all - all you'd need is to disable the `jsx-uses-react` rule and `no-unused-vars` would handle it.

[2020-10-15 17:08] #2829 closed

[2020-10-16 03:07] morlay opened #2830 "Enhancement: added option checkKeyMustBeforeSpread of `react/jsx-key`"
`jsx-runtime` landed. but there have different transform results when key before or after props spread

https://github.com/facebook/react/issues/20031

[code]

to avoid the fallback to using `createElement`,
need a rule to limit the key before spread.

[2020-10-16 03:12] ljharb commented on #2830
https://github.com/facebook/react/issues/20031#issuecomment-709559893 suggests the opposite - that the key must be *after* the spread so react can statically know which one will "win".

[2020-10-16 03:12] ljharb commented on #2830
Let's wait until that issue gets some resolution before implementing anything here.

[2020-10-16 03:29] morlay commented on #2830
@ljharb Yes. we need waiting. Just put the issue here for tracking.

babel and typescript already have implemented this logic. So i'm not optimistic to they will change it.

and typescript and babel have diffrent fallback results.

https://www.typescriptlang.org/play?ts=4.1.0-dev.20201015#code/PQKhAIAECsGcA8CSBbADgewE4BcDK6BXTAYwFMpTl1sBLdAO2E1IENjtwRgAobgHlioW9cAG8AdJNSZ0qWAF9wwAHy8BQkRKky5igNakA

[2020-10-16 04:06] morlay commented on #2830
@ljharb they prefer to use `key` _before_  the `spread`.
see https://github.com/reactjs/rfcs/blob/createlement-rfc/text/0000-create-element-changes.md#deprecate-spreading-key-from-objects

When key after the spread, the codes will transformed to using old `createElement` for maybe compatible reason.

[2020-10-16 07:42] tianzhich opened #2831 "Some questions on rule/jsx-no-bind."
Hi all, I understand the purpose of use `jsx-no-bind` rule. And the [pro-tip](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md#lists-of-items) solved most common cases. That was great!

But I also have a case below:

[code]

Without the arrow function or bind, is there any way to use a single handler for all of the input fields?

[2020-10-16 07:45] ljharb commented on #2831
Yes - use a class component, and create the handlers in the constructor.

[2020-10-16 07:54] tianzhich commented on #2831
Thanks for the quick reply. Do you mean to use `useCallback` to wrap the `handleFieldChange`? But I want to use one handler to handle all the inputs change. You may not fully understand my intention.

[2020-10-16 16:57] ljharb commented on #2831
Yes, you need to use `useCallback` for *each* bound handler, since each one is a distinct callback.

[2020-10-16 19:40] onigoetz opened #2832 "rule jsx-handler-names checking inline functions with checkInlineFunction=false"
Hi,

The following example (when added in `tests/lib/rules/jsx-handler-names.js`)
[code]

Triggers:
[code]

Shouldn't the `checkInlineFunction: false` prevent this ?

This change would fix the issue :

[code]

[2020-10-16 20:48] ljharb commented on #2832
Thanks, a PR would be appreciated :-)

[2020-10-16 20:52] onigoetz commented on #2832
will do then, wasn't sure if that was an intended behaviour or not :)

[2020-10-16 23:48] merrywhether commented on #2829
I think the idea is that developers might be used to doing the following since they had to have the React namespace rollup available to the output of the transform. Now that they `React` is not necessary, it would be nice to enforce this namespace import and push people into destructuring.
[code]

[2020-10-17 00:25] kddial commented on #1540
I also experience this bug with the conditions of:
- using a React Class component
- using Flow types

Here is an example component that does not throw boolean-prop-naming error but should
[code]

[2020-10-17 02:35] morlay commented on #2830
seems this may a temporary rule until react evolution completed.

maybe as a option of `react/jsx-key`

[2020-10-17 02:41] yoyo837 commented on #2829
Yes, that is what I mean.

[2020-10-17 05:21] ljharb commented on #2829
That will be automatic once React no longer provides a default export - eslint-plugin-import will catch it. There's no benefit in addressing that before then.

[2020-10-17 05:21] ljharb commented on #2830
I like that better.

[2020-10-17 05:30] yoyo837 commented on #2829
Got it. Thanks for your reply,

[2020-10-17 07:06] #2832 closed

[2020-10-17 19:59] merrywhether commented on #2829
For anyone looking to write this rule themselves, it's pretty trivial:
[code]

Additionally, you can add this if you're using TypeScript (since at least in my repo something has made the React types global):
[code]

[2020-10-18 13:13] mrmckeb opened #2834 "Handle new JSX transform"
We've added support for the [new JSX transform](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html) into Create React App (https://github.com/facebook/create-react-app/pull/9645, https://github.com/facebook/create-react-app/pull/9788), and we've been discussing how best to support this in our ESLint config.

I'm not sure if this is a good idea, and wanted some thoughts. I w

[2020-10-18 14:44] ljharb commented on #2834
If the jsx-uses-react rule is simply disabled, a “no unused imports” or “no unused variables” rule would already catch an unnecessary React import. When there’s a React version that doesn’t allow the current jsx transform, then the jsx-uses-react rule can be updated to throw an error, but otherwise I’m not sure any change is needed in this plugin.

[2020-10-19 03:00] osorina commented on #2353
If someone still faces this problem - update your dependencies

[2020-10-19 07:52] mrmckeb commented on #2834
I was thinking more about explaining why React is no longer needed to be imported.

I agree 100% that you could just rely on a no-unused variable, and as I said I was just interested in thoughts. As the community transitions, some members will obviously be confused... but a change to this plugin may not help, you're right.

We can close this off for now, again I was just interested in thoughts at

[2020-10-19 07:52] #2834 closed

[2020-10-19 08:09] InsOpDe commented on #2819
For starters we could clarify which rule threw the error.
Then we could add a notice that it might be conflicting with other plugins/rules

[2020-10-19 15:41] ljharb commented on #2819
That seems like a fine suggestion for eslint itself; there’s nothing a plugin can do about that.

[2020-10-19 17:05] kaiyoma commented on #2777
Also just started running into this issue when upgrading from 7.20.6 to 7.21.4. "Don't use arrow functions for components" isn't a reasonable request - mainly because types require it - so we'll also be waiting for a proper fix for this. Happy to stay on 7.20.6 until that happens.

[2020-10-19 17:39] InsOpDe commented on #2819
Oh I see. Then ill close this :see_no_evil:

[2020-10-19 17:39] #2819 closed

[2020-10-20 03:31] #2830 closed

[2020-10-20 04:11] #2630 closed

[2020-10-20 09:14] stephyswe commented on #2758
There is so much issue with displayName.

1. It ask to turn on react/display-name in file. But when added it says rule don't exist.
/* eslint-disable react/display-name: */ =
Definition for rule 'react/display-name:' was not found.eslint(react/display-name:)

2. It completely destroy development. As running app with this issue result in Failed to Compile Error.
./src/msw/utils/avatar.js
  Line 1:1

[2020-10-20 16:08] IanBurganMod opened #2838 "jsx-indent props following a ternary"
This example

[code]

gives the errors

[code]

This must be a bug because even if lines 7 and 8 are incorrectly indented, why is the second button not triggering an error? To be clear, lines 7 and 8 are correctly indented according to my configuration as I understand it. Also worth noting, the problem occurs with or without parentheses in the ternary expression.

Potentially related issues
https:

[2020-10-20 16:57] ljharb commented on #2838
That is very strange, thanks for the report.

[2020-10-20 17:08] JustFly1984 commented on #2838
May be it is a conflict between different plugin rules, for example with prettier. Can you try to indent parts of the code yourself and look which rules are triggered to debug

[2020-10-20 17:16] IanBurganMod commented on #2838
I'm not using prettier and when I indent the first button, the linter error goes away and everything passes. Of course this is undesirable because then the indentation is wrong. Another interesting oddity that might be worth mentioning is that removing the `className`  from the span causes the erroneous `jsx-indent-props` error to go away and the code is correct. I noticed this when creating this

[2020-10-20 18:53] ljharb commented on #2838
@IanBurganMod can you try with eslint-plugin-react v7.21.3, v7.21.2, etc, to try to figure out where the problem started?

[2020-10-20 18:55] ljharb commented on #2758
@stephyswe
1. if the rule isn't found, then you need eslint-plugin-react installed *and* "react" in your config's "plugins" array.
2. Separately, your build step shouldn't be gated on the linter; linter failures should never prevent compilation.
3. like every rule, it comes with a URL to the docs in its metadata; that's up to your IDE to display
4. like every eslint rule, you can use inline overri

[2020-10-20 19:16] IanBurganMod commented on #2838
Everything behaves correctly in both `v7.21.3`,` v7.21.2`. The incorrect behavior is introduced in **v7.21.4**. Because both `.3`  and `.2` were working, I didn't continue back further.

[2020-10-20 19:26] ljharb commented on #2838
What about v7.21.5?

[2020-10-20 19:30] IanBurganMod commented on #2838
@ljharb Fixed! Thank you, that was impressively fast :)

[2020-10-20 19:33] #2838 closed

[2020-10-20 19:36] ljharb commented on #2838
v7.21.5 was published about 12 hours before you filed this issue :-) glad it worked!

[2020-10-21 08:16] LunaFidalgo opened #2839 "jsx-indent-props > 'first'option forces you to use 'space' identation"
Hello,
I'm using eslint with typescript and react. I was trying to use this rule "jsx-indent-props" and I wanted to use the option 'first' but with tab indentation. **The documentation doesn't point that if you select 'first' option you are forced to use 'space' indentation**:

The code actually is like [that](https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-indent-props.

[2020-10-21 11:31] wereHamster opened #2840 "TypeError: Cannot read property 'name' of null"
[code]

The error is thrown in getDetectedComponents(), specifically line `return val.node.id.name`, where `val.node` is a ClassDeclaration with a null id.

[2020-10-21 16:14] ljharb commented on #2840
While it's a very bad practice for debuggability to have an unnamed component, we certainly shouldn't crash on it.

[2020-10-21 16:15] ljharb commented on #2840
Which rule is this crashing on?

[2020-10-21 16:16] ljharb commented on #2839
Presumably you're also using indent and jsx-indent, which can easily autofix to your preferred indentation?

[2020-10-21 18:08] wereHamster commented on #2840
Not sure, I think I had all the recommended rules enabled (and only disabled a few which I don't need).

[2020-10-21 18:13] ljharb commented on #2840
Could you provide the full stack trace?

[2020-10-21 18:25] wereHamster commented on #2840
[code]

[2020-10-21 18:27] wereHamster commented on #2840
The whole file is something like

[code]

[2020-10-21 18:29] ljharb commented on #2840
hmm, ok thanks :-) i'll try to make a repro case.

[2020-10-21 19:01] #2840 closed

[2020-10-22 06:41] LunaFidalgo commented on #2839
First of all, thank for your response @ljharb!

Yes, but it's always going to tell me something like this:

Because I'm not using space for indentation.

Example:
![image](https://user-images.githubusercontent.com/36133677/96833987-8a42de80-1441-11eb-9629-b7ed8aa7e0cd.png)

eslintrc.js:
[code]

[2020-10-22 07:35] ljharb commented on #2839
eslint on the command line makes multiple passes with the autofixer so it'd fix all of those issues at once; i think it's only in editors that make a single pass at a time.

[2020-10-22 13:53] SebastianZimmer opened #2841 "react/jsx-indent-props false positive in ternary operator"
Since 7.21.4 I get a `react/jsx-indent-props` false positive when using props in a ternary operator. I thought issue I'm having is the same as https://github.com/yannickcr/eslint-plugin-react/issues/2828 and thus would be fixed in 7.21.5, but it looks like https://github.com/yannickcr/eslint-plugin-react/issues/2828 is fixed in 7.21.5 and this is not. 7.21.3 works fine. See below for eslint config

[2020-10-22 17:06] ljharb commented on #2841
This looks like a correct error to me, the code should be:
[code]

[2020-10-22 20:56] SebastianZimmer commented on #2841
@ljharb Thanks for the tip. But I wonder why the indentation convention you are using is the correct one. Is this convention enforced by the jsx-indent-props rule?

I'm asking because if I adapt my styling the way you suggest, then this is against eslint's own indent rule and eslint remarks that the indentation is now too high:

<img width="635" alt="Bildschirmfoto 2020-10-22 um 22 39 15" src="htt

[2020-10-22 21:13] ljharb commented on #2841
hmm, interesting. Personally, I surround all multiline jsx in parens, like this:
[code]
which i believe would pass `indent` just fine. If you're not willing to do that, then I'm not sure off the top of my head how to make all the rule configs coexist, but I'm open to suggestions.

[2020-10-22 21:53] SebastianZimmer commented on #2841
Yes, this works for me and passes both rules. Thank you. I don't prefer any convention over the other so basically I'm happy to adapt my codebase.

But in the end I think it is a matter of taste. The rule configs did coexist before 7.21.4. The change resulting in the error I'm getting was proposed in https://github.com/yannickcr/eslint-plugin-react/issues/647 and introduced with https://github.com

[2020-10-23 16:09] MParolariDoveconviene commented on #2722
I have the same problem with this declaration

[code]

I found the problem started form version  7.20.1, in particular with this [commit](https://github.com/yannickcr/eslint-plugin-react/commit/997a99f389a7df9673de890d71a17e2b6838f72b). From what I understand, it checks recursively for the propTypes definition to be correct. I tried to fix it adding  to`CallExpression` in `lib/rules/forbid-prop-ty

[2020-10-23 16:15] Parro commented on #2722
I have the same problem with this declaration

[code]

 I found the problem started form version  7.20.1, in particular with this [commit](https://github.com/yannickcr/eslint-plugin-react/commit/997a99f389a7df9673de890d71a17e2b6838f72b). From what I understand, it checks recursively for the propTypes definition to be correct. I tried to fix it adding  to`CallExpression` in `lib/rules/forbid-prop-t

[2020-10-24 09:29] osdiab commented on #2057
As a workaround I'm also going to consider just disallowing window and global altogether in lint, exempting a file that exports helpers like `getWindow()` which returns either `window` or `undefined` (same for other browser globals like `document`), and then letting TypeScript enforce that you handle `undefined` properly. Just throwing the idea out :)

[2020-10-24 12:45] remcohaszing opened #2842 "Ignore nested components in no-multi-comp"
I don’t think `react/no-multi-comp` should trigger on nested components or should have an option to disable it. A practical example:

[code]

I suggest to add an option `ignoreNested` which ignores any components that aren’t declared as part of the `Program` node body.

[2020-10-24 16:10] ljharb commented on #2842
The issue there isn’t that it’s nested - it’s that it’s treated as a component despite being used in an object literal with a key name that can’t be a custom component name.

Our component detection should be improved here.

[2020-10-24 18:07] remcohaszing commented on #2842
I like that explanation even better.

[2020-10-25 17:29] ljharb commented on #2841
I think a PR that adds an additional option that controls, in a multiline ternary, whether the `? ` and `: ` are counted as part of the indentation would be reasonable.

[2020-10-25 21:24] #2784 closed

[2020-10-26 15:32] ghm-salvarado opened #2845 "Examples for react/jsx-indent checkAttributes parameter usage are identical"
In the [documentation for `react/jsx-indent`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-indent.md), the correct and incorrect examples for `checkAttributes` usage are identical and one of them needs to be updated:

![image](https://user-images.githubusercontent.com/56175751/97192750-37856180-1776-11eb-9389-bd134db84efe.png)

[2020-10-26 18:05] ljharb commented on #2845
What I'm seeing in the docs is that one is correct with "false", and the other is incorrect with "true" - which is correct.

[2020-10-26 18:26] ghm-salvarado commented on #2845
Ah I understand now, thanks for pointing that out. The other examples of correct vs incorrect use the same options between the examples — would it make sense to update the docs to show an incorrect example using `false` and/or a correct example using `true` for consistency?

[2020-10-26 19:25] ljharb commented on #2845
Sure, that seems reasonable (ie, adding one example for each of true/false to correct/incorrect respectively)

[2020-10-26 21:14] DamianPereira commented on #2784
There are 2 scenarios that are added as tests, both passing as valid, but one of them should not be. This one:
[code]

In this one intended to not raise a warning because the function has no caps?

[2020-10-26 21:19] ljharb commented on #2784
Yes - `<renderFunction />` wouldn't work, so that's not a component.

[2020-10-26 21:41] GorgeousPuree commented on #885
How it was not fixed in 4 years??

[2020-10-26 21:58] ljharb commented on #885
@GorgeousPuree the issue is closed, so it's fixed. if someone still has this problem on the latest version, please file a new issue and I'll be happy to take a look.

[2020-10-26 22:44] GorgeousPuree commented on #885
@ljharb I'm sorry, pal, my bad. I've just mixed up this issue with another, which looks almost the same.

[2020-10-28 15:04] SebastianZimmer commented on #2841
I've created a PR: https://github.com/yannickcr/eslint-plugin-react/pull/2846

[2020-10-29 11:03] maxie7 commented on #2654
version 7.21.5 >> the same issue && the same error

[2020-10-29 17:20] ljharb commented on #2654
@maxie7 can you file a new issue for that?

[2020-10-29 22:25] maxie7 commented on #2654
The problem was solved by installing "prop-types" v15.7.2 for React v17.0.1. So, it's not a bug, I think. Good luck with eslint plugin, it's awesome!

[2020-10-30 19:42] cyan33 opened #2847 "[RFC] New lint rule to disallow referential type literals in object destructuring params"
Hi folks! We recently just landed a new react lint rule in Facebook and wondered if it could be more beneficial to contribute it upstream. Before opening a PR here's some background and document. Just want to see how y'all feel about it.

The lint rule is to disable scenarios when:

- it's functional component
- it's using the object destructuring syntax to set default props
- and the default prop

[2020-10-30 19:46] ljharb commented on #2847
Thanks, this seems like a great addition.

[2020-10-30 20:19] cyan33 commented on #2847
I can just copy the rule and submit the PR real quick :)

[2020-10-31 00:04] michael-yx-wu commented on #2827
in a similar vein, what about when `target` is dynamic? For example:

[code]

might be unsafe depending on the value of `someBoolValue`.

[2020-10-31 04:45] ljharb commented on #2827
In that example, since one of the branches of the ternary is static and problematic, the rule should be able to warn as well.

[2020-11-01 15:27] cdoublev commented on #2834
Hello,

It would be nice to detect `"runtime": "automatic"` for the `babel/preset-react` option and disable errors from `react-in-jsx-scope` when applicable, since this rule is recommended.

[2020-11-01 17:50] ljharb commented on #2834
I’d rather not couple this plugin to babel so tightly.

[2020-11-01 19:16] cdoublev commented on #2834
Obviously. Though I predict that after the release of Babel 8, many people will ask the same thing (or to remove it from recommended rules).

[2020-11-02 07:15] mrmckeb commented on #2834
Perhaps the React version detection in this plugin could alter behaviour of the related rule?

[2020-11-02 07:23] ljharb commented on #2834
Using React does not guarantee you're using JSX, or Babel, or transpiling at all, so I'm afraid not.

[2020-11-02 21:20] thehereward opened #2849 "`react/no-unused-prop-types` false positive if any one component doesn't use a field"
In the following example both `name` and `placeholder` are triggering the `no-unused-prop-types` rule, despite both being used in separate components. I _think_ the rule is triggering for `name` because it is unused in `Comp1` and `placeholder` because it is unused in `Comp2`.

[code]

I appreciate that this example is contrived, but _I think_ is the most basic reproduction case of a more complica

[2020-11-02 23:54] ljharb commented on #2849
This seems like a correct warning to me. Reusing the type in both components means both props are *required* in both of them. In this case, you shouldn't be sharing the Props type at all, since clearly the two components' types do not overlap.

[2020-11-03 11:32] thehereward commented on #2849
Thank you for the reply (and adding the labels - apologies for not doing so).

I think I can be persuaded that the warning is indicative of a code smell in most cases. I needed to keep `Props` in my use-case so the solution I've gone with a solution that looks a bit like this:

[code]

 The reason I thought it was counter-intuitive is that the linter was telling me "this prop is unused", when I co

[2020-11-03 16:09] ljharb commented on #2849
Absolutely, that’d be helpful!

I’d still love to understand your actual use case tho - not why you need the union type, but why the components need to use the overly broad union instead of the more granular type that matches their respective props.

[2020-11-03 16:21] marhaupe commented on #2073
I'd like a rule for that as well. I'm not sure if this package treats react-native as first class citizen, but if it does, another point to consider is that a lint rule like this would actually prevent errors in react-native. Unlike in the browser, you can't render text outside of `<Text/>` components. If you do, your app crashes. Another source of errors are cases like this:
[code]
This would jus

[2020-11-04 06:01] varandrew commented on #2275
I just came across this, and i use this.
[code]

[2020-11-04 15:51] asbjornh opened #2850 "`no-unused-prop-types`: All fields reported as unused with PropTypes.arrayOf(PropTypes.exact)"
It seems like when a list of objects is typed using `PropTypes.arrayOf(PropTypes.exact({ ... }))` all properties of the inner object are reported as not in use by `no-unused-prop-types` regardless of them being used or not. This is not the case with `PropTypes.arrayOf(PropTypes.shape({ ... }))`.

~~I would expect `PropTypes.arrayOf(PropTypes.exact)` and `PropTypes.arrayOf(PropTypes.shape)` to beha

[2020-11-04 20:43] ljharb commented on #2850
I definitely would not expect them to behave the same - in a shape, all properties are optional unless `.isRequired`, and the properties in a shape don't need to be used for "the shape matches this interface" to be useful.

[2020-11-04 20:51] asbjornh commented on #2850
Sorry, I think I've explained myself badly.

It's unexpected that case B above produces an error for `no-unused-prop-types` when the property `b` clearly is in use.

Am I misunderstanding something?

[2020-11-05 00:13] ljharb commented on #2850
ahhh, yes, I agree - case B should not be producing any warnings.

[2020-11-05 13:40] asbjornh commented on #2850
I'm trying to take a look at this, but I'm seeing something weird.

[code]

Using the versions and config from my first post, the above code results in one error when run through `eslint`:
[code]

However, If I add the same code to `tests/lib/no-unused-prop-types.js` I get these two errors:

[code]

The currently published version seems to support destructuring of properties in `.map` for `PropTyp

[2020-11-05 17:30] karlhorky commented on #2417
So gaearon confirmed in https://github.com/facebook/react/issues/19883#issuecomment-722059542:

@ljharb would a pull request be welcome in `eslint-plugin-react`?

[2020-11-05 17:35] ljharb commented on #2417
Is there a way the “hook detection” code could be shared between the two? I don’t want this plugin to have to reinvent it, and then risk deviating from it in the future.

[2020-11-05 17:49] karlhorky commented on #2417
Maybe depending on `eslint-plugin-react-hooks` and then somehow using the `isHook` and `isHookName` functions?

https://github.com/facebook/react/blob/30b47103d4354d9187dc0f1fb804855a5208ca9f/packages/eslint-plugin-react-hooks/src/RulesOfHooks.js#L12-L40

Unfortunately they are not exported, but depending on the willingness of @gaearon to expose them and the value of sharing this code, I guess the

[2020-11-05 18:09] ljharb commented on #2417
Hopefully they can either be exported, or published as a separate package that both consume. @gaearon?

[2020-11-05 18:10] ljharb commented on #2850
It is a regression if destructured props no longer work, and it seems reasonable to ensure they do work for both exact and shape.

[2020-11-06 08:09] matthewgoslett commented on #498
I can confirm this is happening for me on ^7.21.5

[2020-11-06 12:36] ExpectoPatrom commented on #498
Hey, nope. It seems like this is not a bug, instead it's kind a bad practice and there's another way of doing the components. I can't remember it specifically but I'm gonna search and then I post it

[2020-11-06 16:20] dbeckwith opened #2851 "Crash running jsx-no-target-blank"
With code like `<a target={3} />` the `jsx-no-target-blank` rule crashes.

[code]

[2020-11-06 22:48] #2851 closed

[2020-11-08 13:36] thehereward commented on #2849
PR is up.

To be clear, in my use case I don't think the components actually need to use the overly broad union; I've refactored to avoid this, which has resolved our linting error. One of the 'granular' types involved is a moderately complicated generic type from a third party library (`react-final-form`), which initially put me on the wrong path for identifying the cause of the linting error.

I

[2020-11-08 14:40] aximusnl commented on #2654
I'm at version `7.21.5`. And this problem still exists. But only when the interface extending from is imported:

This is OK
[code]

This shows an error: 'foo' is missing in props validation

[code]

[code]

[2020-11-08 14:46] aximusnl opened #2853 "'x' is missing in props validation when extending interface and another type present with 'Prop' in it's name"
When Props are extending an interface that is imported AND another type is present with the name 'Prop' in it, react/proptypes is throwing a false positive.

[code]

**How to reproduce**

This is OK
[code]

This shows an error: 'foo' is missing in props validation

PropsBase.ts
[code]

MyComponent.tsx
[code]

[2020-11-08 15:34] ljharb commented on #2853
This is expected - it’s the limits of static analysis. The linter can’t read other files, so it has no idea that foo exists in the other file.

[2020-11-10 03:52] tianzhich commented on #2831
I definitely agreed with your idea. But it was not good for code reusing.

[2020-11-10 06:36] ljharb commented on #2831
I'm not sure why you think it's not good, but that's also irrelevant - it's how both JavaScript and React work.

[2020-11-10 07:39] tianzhich commented on #2831
I understand what you said about distinct callback to avoid unnecessary rerender, what I mean is the change from this:

[code]

which I can reuse the handler for all of the form fields.

to this:

[code]

which I must use two(or more) distinct handlers for that.

[2020-11-11 03:34] ljharb commented on #2831
Yes, that's true, but that's also ideal from both a programming perspective (single-responsibility principle) and a react rendering perspective (potentially rerendering fewer things).

[2020-11-11 04:06] tianzhich commented on #2831
Yes, I'm agree with the SRP. Thank you Jordan. I closed this.

[2020-11-11 04:06] #2831 closed

[2020-11-12 18:17] michael-yx-wu commented on #2827
it's my first time contributing. @ljharb, are you the right person to review the PR?

[2020-11-13 22:47] nwalters512 opened #2856 "[react/require-default-props] False positive with React.forwardRef"
The `react/require-default-props` rule configured with `ignoreFunctionalComponents: true` produces false positives for functional components that use `React.forwardRef`, like the following:

[code]

Here are two CodeSandbox links demonstrating the problem with both `.jsx` and `.tsx` files:

* https://codesandbox.io/s/gatsby-starter-default-forked-hfn6k?file=/src/components/demo.jsx
* https://codes

[2020-11-13 23:36] ljharb commented on #2856
Indeed, `forwardRef` does not take a component - in that case, that's just a normal function.

However, in this case, the warning is 100% correct. You provided a non-required propType, without a defaultProp. The point of the rule is to error on that.

Note that functional components accept `propTypes`, `defaultProps`, `contextTypes`, etc - almost every static property that class components support

[2020-11-13 23:39] nwalters512 commented on #2856
But `Demo` itself (the return value of `React.forwardRef`) *is* a React component, correct? And given that it's certainly not a class component, I would expect to not get an error if I tell the rule to ignore functional components. Does a `React.forwardRef` component exist in a limbo between true functional components and class components such that `ignoreFunctionalComponents` does not apply here?

[2020-11-13 23:41] ljharb commented on #2856
`Demo` itself is not, it's a forwardRef component, which is a distinct and unique thing - and EVERY component, class or function, needs both propTypes and defaultProps as appropriate. With `ignoreFunctionalComponents`, I would expect only unwrapped functional components to be ignored.

[2020-11-13 23:48] nwalters512 commented on #2856
Interesting! In that case, would you accept a PR adding something like `ignoreForwardRefComponents` to complement `ignoreFunctionalComponents`?

[2020-11-14 01:30] Guiga303 commented on #1848
how did you that?

[2020-11-14 02:40] ljharb commented on #2856
Since there's forwardRef components, memo components, lazy components, I don't think we'd want to add one option for each kind.

I'm curious about the exact use case here - why don't you want defaultProps on a non-required component here, but you do want that error on class components?

[2020-11-15 01:33] nwalters512 commented on #2856
For the same reason we don't want to require `defaultProps` on "standard" functional components - we want to allow developers to use destructuring with defaults if they prefer. I know the debate over that has been had many times before in this repo, so I don't particularly want to rehash it, but suffice it to say that we've made the call to allow it and have configured this lint rule as such. forw

[2020-11-15 03:50] ljharb commented on #2856
The only reasonably justification that's been offered for omitting defaultProps on functional components is if you're using a type system that can infer the same information.

In this case, what does TypeScript or Flow infer for the type of `text` inside the non-component render function that's passed to `forwardRef`?

[2020-11-15 05:20] nwalters512 commented on #2856
That's actually exactly my use case - we're using TypeScript!

Here's a slightly more real-world example:

[code]

Now that we've explicitly typed the prop `text` as `string | undefined` (via `text?: string`), the variable `text` is typed as such in the body of the `forwardRef` render function. So, as written, adding something like `console.log(text.substring(1))` in the body of the render functio

[2020-11-16 00:07] k-yle commented on #2646
@ljharb would you accept a PR for this?

[2020-11-16 14:14] SuperOleg39 opened #2857 "[react/no-typos] unexpected error "`'react'` imported without a local `React` binding""
Hello!

I have a simple `vendor.ts` file:

[code]
With `eslint-plugin-react`, i have this error - `'react' imported without a local 'React' binding  react/no-typos`

`react/no-typos` rule responsibility - prevent typos, but `vendor.ts` doesn't have any.

Any chances to turn off this error, or fix [this branch](https://github.com/yannickcr/eslint-plugin-react/commit/5bf1f0f625820f9daf5ab0c45602b959

[2020-11-16 16:15] ljharb commented on #2857
Unless you have a strange build of react or react-dom, these imports will have no effect, so the warning seems correct.

However, if you are confident you can ignore the warning, then that is done with eslint override comments in-file, or by disabling the rule for the file in “overrides” in your eslint config.

[2020-11-16 18:58] SuperOleg39 commented on #2857
Yes, i create independent bundle from this file.

`import 'react'` - is fully valid code, like any other imports.
Of course i can disable this rule for one line of my code, but i think open-source - it's about make things better)

If i will use `React` in this file, this error makes sense.
But even is this case, is `react/react-in-jsx-scope` rule designed for this case?

[2020-11-16 23:09] pke commented on #2073
Where is the rule? You refer to the `length` one?

Will a more broader rule be considered? Especially in the react-native env such rule would help to prevent serious bugs in the code base. Maybe it could only be implemented as a typescript rule, because the TS compiler knows about types (and RN projects are usually type script projects).

[2020-11-17 05:59] alanyong91 opened #2858 "Configuration for rule "extends" is invalid"
I got this error:

`.eslintrc: Configuration for rule "extends" is invalid: Severity should be one of the following: 0 = off, 1 = warn, 2 = error (you passed '"plugin:react/recommended"')`

How to solve?

[2020-11-17 06:45] Aggie123 commented on #2715
Change this line of your eslint settings:
[code]
This works for me

[2020-11-17 09:27] cburgmer commented on #2073
I've seen eslint rules in conjunction with TypeScript. Maybe the rule I'm looking will benefit from the type information. Would such a rule still be welcome here?

[2020-11-17 10:32] ljharb commented on #2715
Happy to reopen if this isn't resolved.

[2020-11-17 10:32] #2715 closed

[2020-11-17 10:33] ljharb commented on #2073
@cburgmer as long as it's still useful with no type information, absolutely.

[2020-11-17 10:35] ljharb commented on #2646
@k-yle i'd be happy to review one, but I'm still not convinced there's any safe subset of these that can be autofixed.

[2020-11-17 10:36] ljharb commented on #2858
Seems like your eslint config is incorrect - `extends` is a sibling of `rules`, not a child of it.

Happy to reopen if it's relevant to this plugin.

[2020-11-17 10:36] #2858 closed

[2020-11-17 10:51] ljharb commented on #2857
No, absolutely not - having `import 'react'` execute side effects is not what react *does*, so nothing in the ecosystem is likely to be designed for a case where you've somehow made it have side effects.

[2020-11-17 11:02] SuperOleg39 commented on #2857
What about this example:

[code]

This code have side effects?

[2020-11-17 11:09] ljharb commented on #2857
Yes, I would assume it does, since i'm unfamiliar with the specifier and you have no bindings - but react *specifically* does not have any, so `import 'react'` is useless.

[2020-11-17 11:26] SuperOleg39 commented on #2857
About `import​ ​'style.css'` example - i want to say when this code can have side effects - if bundler have specific configuration, for creating separate css chunk.
In other cases, it can be a css modules, and user need use styles manually - `import styles from 'style.css'`, and nobody mark first case as error.

And bundler configuration for `import 'whatever-library'` and creating vendor chunk fr

[2020-11-17 14:29] AntonTaran opened #2859 "Cannot find module eslint-plugin-react/lib/options"
Please help. Eslint cannot find module eslint-plugin-react/lib/options, but they're no "options" directory

![image](https://user-images.githubusercontent.com/15983496/99402132-ae36fa00-28f1-11eb-949b-a211dada59de.png)

![image](https://user-images.githubusercontent.com/15983496/99398416-0f100380-28ed-11eb-9aba-1d7ef2b2e8ba.png)

![image](https://user-images.githubusercontent.com/15983496/99401749

[2020-11-17 18:49] ljharb commented on #2859
I'm not aware that's a path that's ever existed. Assuming this is a local eslint (and not a global one), what's your eslintrc look like?

[2020-11-17 18:51] ljharb commented on #2857
Because `import 'react'` isn't *doing* anything. It doesn't create a React global, the react package has no side effects, literally the only impact it's having is that it's increasing your bundle size with a bunch of code *that you can't ever use*.

If, as you're implying, you've configured your bundler to do something abnormal for `import 'react'` - like create a global - or if you're using it fo

[2020-11-17 19:47] karlhorky commented on #2417
Actually, looking into this a bit more, I guess the code that would be shared would be low (just the single-line regex). And - we probably could just match only the literal string `'useState'`, since this rule will only apply to this hook.

So maybe we don't need to export the code.

I am a beginner at writing ESLint plugins, but I've put together something as a proof of concept that we probably w

[2020-11-17 19:49] karlhorky commented on #2417
One downside that I can think of is that this will also check code outside of React components.

[2020-11-18 08:55] SuperOleg39 commented on #2857
This is not entirely true, i already use this code, all `react` imports inside other bundles, resolving from vendor bundle.
`autodll-webpack-plugin` (with `DllPlugin` under the hood) make this possible, and I cannot say that this is something non-standard.

Webpack `optimization.splitChunks` option, for example with [similar configuration](https://github.com/vercel/next.js/blob/8221c180a55828b39a7

[2020-11-18 10:27] ljharb commented on #2857
Indeed it is non-standard to use an explicit side-effecting import to do bundle-splitting; usually bundler config decides this, and everything that needs React, say, would `import React from 'react'`.

This seems answered to me; you're welcome to override the rule in this case if it doesn't fit your individually distinct use case.

[2020-11-18 10:27] #2857 closed

[2020-11-18 10:28] AntonTaran commented on #2859
Hi. My eslintrc

{
  "plugins": [
    "@typescript-eslint",
    "babel",
    "react",
    "import",
    "prettier",
    "jest",
    "jsx-a11y",
    "react-hooks",
    "react-i18n",
    "testing-library",
    "jest-dom"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "pr

[2020-11-18 17:10] Bowser65 opened #2860 "New rule proposal: react/prefer-functional-component"
With the addition of hooks, it is possible now to write stateful React applications using only functions. However, unless I'm mistaken, there are not ways currently to enforce the use of functional components over class components.

The `prefer-stateless-function` rule is not enough for this case, since it allows class components provided they have a state or additional methods (like handlers defi

[2020-11-19 09:38] DaniAkash commented on #2749
Another common issue we faced while working on nested components is that hooks of the parent component are sometimes used directly in the nested component. This caused a very hard to identify [issue](https://github.com/react-hook-form/react-hook-form/discussions/1744#discussioncomment-20578) in our component

[code]

[2020-11-20 02:00] avi-dwave opened #2861 "RangeError: Maximum call stack size exceeded"
### Environment Info:
- Node version: v10.23.0
- npm version: v6.14.8
- Local ESLint version: v7.13.0
- Global ESLint version: v7.13.0 (Currently used)

### Command Run
[code]

### Output
[code]

### ProfileFlyoutV2.jsx lines 88-103
[code]

[2020-11-20 02:08] avi-dwave commented on #2861
Oh, I think I know why - nodesType is recursive. Is there a way to allow this type of structure?

[2020-11-20 07:44] ljharb commented on #2861
Certainly the linter shouldn't crash on that.

However, I'm pretty sure recursive propTypes like that don't actually work in production - because `nodesType` is an error until it's finished being assigned, so I think your code is just wrong.

[2020-11-21 14:21] AntonTaran commented on #2859
It helped. Thanks a lot.
Best wishes,
*TARAN ANTON*

ср, 18 нояб. 2020 г. в 12:30, Jordan Harband <notifications@github.com>:

[2020-11-21 16:37] #2859 closed

[2020-11-21 16:40] AriPerkkio commented on #2749
Thanks for the comment @DaniAkash. These real-world examples are really valuable.

Based on the [codesandbox example](https://codesandbox.io/s/stupefied-poitras-11y82?file=/src/App.js) there is a nested component `<EditModal />`. This rule will flag that as invalid pattern and mark it as error. Without studying the issue thoroughly, my guess is that the state of `<EditModal />`'s children is reset

[2020-11-22 03:02] ljharb commented on #2417
We have component detection logic, so you should be able to only warn inside functional components.

[2020-11-22 03:03] ljharb commented on #2417
Also, note that someone could rename useState to anything else, so we have to follow any renames or assignments.

[2020-11-22 04:50] ljharb commented on #2827
Yes, sorry for the delay - I’ll try to review it soon.

[2020-11-22 14:49] karlhorky commented on #2417
Oh... I think the official plugin does not support this.

Gut feel says this seems like a nightmare to implement (I guess that's why the official plugin doesn't do it either) - or maybe you have a clear idea of how to traverse the AST to do this easily?

[2020-11-22 14:50] karlhorky commented on #2417
Ah that sounds great. Would you be open to me starting on a PR for this with my rudimentary AST / ESLint API skills? 😅 I may need some guidance...!

[2020-11-22 15:36] ljharb commented on #2417
Opening a draft PR sounds great. eslint provides some utilities for tracking variable renames; we’d have to research what’s available.

[2020-11-23 06:56] DaniAkash commented on #2749
Yeah, If the internal component has its own state, it leads to a messy situation

[code]

[2020-11-23 13:04] marktellez commented on #2339
The aggressiveness of people defending the "no global install" option here is exactly why I stopped working on open source years ago. Count me in with the people who have reverted to es5 because linting should be a global thing. I work on hundreds of projects annually and I don't agree that lint configs should be project by project based.

It is a stupid, blind decision from where I stand, that pl

[2020-11-23 19:07] RemyMachado commented on #2853
I'm getting this error without extending another type. I get it from the components created from a freshly installed storybook.js.

[code]

Why was #2654 closed then ?

[2020-11-23 20:55] #2853 closed

[2020-11-24 04:49] ljharb commented on #2860
It seems like you could ensure this by configuring existing linter rules to ban an import of `Component` from `'react'`, as well as a property of `React.Component`, although you're right that this wouldn't handle error boundaries.

The reality, though, is that I don't see the benefit of this rule. Just because you *can* implement something in an SFC doesn't mean you *should*, just like just becaus

[2020-11-24 17:02] Bowser65 commented on #2860
Most of the reasons I have in mind follows React's own motivations for introducing hooks (https://reactjs.org/docs/hooks-intro.html#motivation):

Hooks enforce making reusable code, rather than packing everything in a single class component that's heavier (therefore harder to understand), and harder to reuse. You can quickly end up making components that are either wrappers that'd better fit as a

[2020-11-26 15:42] mbalc commented on #2045
any plans for someone to add this?

[2020-11-30 18:28] sullenor opened #2864 "react/function-component-definition: add possibility to use "const" instead of "var" for arrow function definition"
This one is a feature request. The original implementation uses "var" for an arrow component definition. Thus, when you use this rule to fix existing code, this one will generate replacements with "var" definition https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/function-component-definition.js#L22-L23.

Partially it can be address by adding "no-var" and "prefer-const" rules.

[2020-12-01 07:34] ljharb commented on #2864
It's not possible for this rule to know what folks have configured - whether they prefer `var`, `const`, `let`, etc - and it's both a best and a common practice to defer things to other rules, especially autofixable ones.

That editors like VSCode often require multiple passes (something the CLI does by default) to autofix everything is a flaw in their implementation, and not something that indivi

[2020-12-01 07:34] #2864 closed

[2020-12-01 10:14] burtek opened #2865 "Make jsx-no-script-url use shared settings to specify link components"
Why do we have to specify Link components in `react/jsx-no-script-url` settings when we already have that in shared config? Can't shared config be used here, as it is in `react/jsx-no-target-blank`?

[2020-12-01 10:14] burtek commented on #2735
any progress on this? :)

[2020-12-01 16:55] rygine commented on #2628
@ljharb [given that in a future version of React, support for the default import won't be supported](https://twitter.com/dan_abramov/status/1308739731551858689), can we consider a rule that will disallow importing the default export? i think this will be beneficial to teams now that are starting to migrate to this new pattern.

[2020-12-01 17:45] JustFly1984 commented on #2628
Wow, I almost forgot about this issue existence. Doing this manually is very annoying.

[2020-12-01 17:48] ljharb commented on #2628
@rygine when that happens, you won’t need a linter rule to enforce it - your imports just won’t work.

Separately, you can named-import all the things you want; you should still never be using `import *`.

[2020-12-02 16:23] rygine commented on #2628
This strategy doesn't work for large organizations. We need a way to gradually migrate our imports before making the switch. A linting rule is perfect for this.

I'm not sure I follow. Can you explain this? The only thing we `import *` is React.

[2020-12-03 03:48] ljharb commented on #2628
now:
`import { Component, useState, etc }, React from ‘react’
later:
`import { Component, useState, etc } from ‘react’

[2020-12-03 05:18] susiwen8 commented on #2841
Facing same issue.

[2020-12-03 20:00] karlhorky opened #2866 "New Rule Proposal: `no-input-type-text`"
Hi there 👋

Thanks for the continued work on this great plugin!

I had an idea for a rule today, and wanted to test the waters here on a `no-input-type-text` rule (because [the default value for `type` is `text` already](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#frame_exampletel:~:text=The%20default%20value,-.)):

Example of **incorrect** code:

[code]

Example of **correct**

[2020-12-03 21:23] rygine commented on #2628
Oh, I thought you were referring to a rule from another plugin. Unfortunately, without enforcement of this with a rule, it won't be possible to enforce this in a larger organization.

[2020-12-03 21:44] soullivaneuh commented on #2777
Agreed with @kaiyoma, I don't think arrow function is the issue here.

However, I found an another way to make this plugin not yelling:

Instead of:

[code]

I wrote:

[code]

Not sure it's the best practice, but it give me the same auto-completion results.

You may also keep both:

[code]

Works as well, but maybe a bit overkill.

[2020-12-03 21:56] nknaveen007 commented on #2396
if you are using a state ,then use the default values like below,
const BlogPostForm=({onSubmit,initialValues=()=>{initialValues.title='',initialValues.content=''}})=>{      //default values set in a function

    const [title,setTitle]=useState(initialValues.title)
    const [content,setContent]=useState(initialValues.content)

[2020-12-03 23:20] ljharb commented on #2866
It's far, far better to always require explicitness, even when things have defaults. I'd rather see a rule that forbids `<input />` than one that requires people to keep an extra thing in their heads (that the default type is "text").

[2020-12-03 23:25] ljharb commented on #2628
It's already enforced inside many large corporations, for years now. You can ban `import *` with `import/namespace`, and ban `React.Component` and friends with `no-restricted-properties`. This will force the "now" style I described.

`react/jsx-uses-react` would be enabled when you're using the original jsx transform, and disabled when you're using the new one, and you'd use the core `no-unused-va

[2020-12-03 23:38] karlhorky commented on #2866
I understand the mindset, and in some cases, I agree.

But under some circumstances, it's nice to not have to write the verbose thing. And if you have a lot of code with `input`s, this will reduce the amount of code that needs to be written / reviewed.

Also, and maybe more importantly, this is an opinion - other individuals and teams will have different ones :)

So I guess my question would be: w

[2020-12-03 23:43] ljharb commented on #2866
I don't think that just "input" is sufficient to warrant an entire rule. There's also already a rule, jsx-a11y/button-has-type, for button elements, but that's because the default is unintuitive.

Are there other HTML elements that this would apply to, where the default can be omitted and also is unsurprising? A single rule that encompasses a bunch of HTML elements in this way, autofixable, with b

[2020-12-03 23:45] ljharb commented on #2865
That's a very good point. This could possibly be a non-breaking change - to make the rule, in the absence of specific inline config, defer to the shared config. It'd be worth a PR.

[2020-12-04 09:59] jvanderloo opened #2867 "react/prop-types: components with props that all have default values fails to validate"
### Problem
When using the `react/prop-types` rule when a component has default values for **all** of its props the rule fails to validate correctly.

### Reproduction case
_Run it in [repl.it/@jvdl/eslint-plugin-react-default-value-prop-validation-bug](https://repl.it/@jvdl/eslint-plugin-react-default-value-prop-validation-bug#example.js) or clone [jvanderloo/eslint-plugin-react-default-value-pro

[2020-12-04 10:42] rdelgatte commented on #2681
I wanted to disable it as well and fixed it with: `"react/jsx-props-no-spreading": "off"`

[2020-12-04 14:11] BairDev commented on #512
Interestingly you cannot mix the way of function definition. E.g. using *react-intl*:

[code]
Gives horrible complains by the TypeScript compiler.

[code]

[2020-12-04 16:55] karlhorky commented on #2866
Looks like `<ol>` and the `<li>` elements contained within have `type` attributes:

[`<ol>` on MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol#Attributes)

The `<ul>` element also has a `type` attribute, but this attribute is deprecated.

Also (but maybe less interestingly):

- `<style>` - default: `type="text/css"`
- `<script>` - default: `type="text/javascript"`

[2020-12-04 17:20] karlhorky opened #2868 "New Rule Proposal: jsx-props-prefer-quotes"
Reviewing more code from students today had me thinking: one pattern I see a lot is using a JS expression with only a single string literal inside, as documented in [the React "JSX in Depth" docs](https://reactjs.org/docs/jsx-in-depth.html#string-literals):

[code]

This is in comparison with the more HTML-like (and equivalent):

[code]

This pattern may or may not be something that individuals an

[2020-12-04 17:23] karlhorky commented on #2868
Ah I guess this has some overlap with [`jsx-no-literals`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-literals.md) with the `ignoreProps` set to `false`, the only feature add being:

- the `always` rule: to instead prefer the literals over expressions

[2020-12-04 19:39] HerpGuy88 commented on #2129
I don't think this should have been closed... I'm having the same problem with a .jsx file. If you look at the error message, it shows the extension is .jsx

[2020-12-04 19:52] ljharb commented on #2129
Ah, true enough, @HerpGuy88 @asaadmahmood what are your eslint configs? Note that it can also be configured to force you to name your jsx files “.js”, and i believe CRA may do that.

[2020-12-04 22:20] ljharb commented on #2866
huh, i've never heard of those being used - only the CSS.

In React, `<script>` doesn't really make sense to address. So that would basically leave us with `button`, `input`, and `style` - not all that many :-/

[2020-12-04 22:21] ljharb commented on #2868
Indeed, this should already be addressed. I've never heard any arguments to force the curly form, so I'm not sure it's worth adding support for that.

[2020-12-04 22:46] #2681 closed

[2020-12-04 23:04] ljharb commented on #2867
I'm not sure what you're asking about. All of these components need explicit `.propTypes =` added to them, that's the point of this rule.

[2020-12-05 12:42] karlhorky commented on #2868
Oh I think we have a misunderstanding... [the rule currently forces curlies](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-literals.md#rule-options), albeit forcing usage of a variable instead of a string literal:

The more I look at this, the more it seems like this `jsx-no-literals` rule has other concerns than what I'm proposing here... The `ignoreProps` could c

[2020-12-05 12:45] karlhorky commented on #2866
Hmm... and what's your opinion on other default props / HTML attributes? Things that can be omitted and the functionality is the same?

[2020-12-05 16:35] ljharb commented on #2866
I think the longer a list we build up, the more convincing a rule for it becomes.

[2020-12-05 16:37] ljharb commented on #2868
Right - jsx-no-literals is imo about blocking untranslated text.

Are you perhaps looking for https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-curly-brace-presence.md ?

[2020-12-05 16:47] karlhorky commented on #2868
Ohh, yes, looks like it! 🤦‍♂️

Sorry about that - I tried searching, but I guess for the wrong keywords! Closing...

[2020-12-05 16:47] #2868 closed

[2020-12-05 16:53] karlhorky commented on #2866
Ok, let me do a bit of research, and I will come back with a longer list. I'll change the issue title and description in the meantime.

[2020-12-05 17:04] ljharb commented on #2868
You may want to look into https://npmjs.com/eslint-config-airbnb, which enables all the helpful rules :-)

[2020-12-05 17:09] karlhorky commented on #2868
Yeah, I've used that religiously in the past - but now I'm creating one with the rules that I'm teaching at @upleveled, so going through everything now again myself 😅

https://github.com/upleveled/eslint-config-upleveled

[2020-12-06 17:56] karlhorky commented on #2866
Ok, so I've updated the list above with more examples.

Talking with @wooorm, it seems like there are some interesting resources in the `rehype-minify-enumerated-attribute` package which could help with finding the attributes with default values.

I've asked if publishing a separate package with this data would be possible at https://github.com/rehypejs/rehype-minify/issues/37

[2020-12-06 19:53] ljharb commented on #2866
I have https://npmjs.com/html-element-map, which won’t help here but is a similar concept re extracted data as a package, so that would likely work well.

[2020-12-07 01:03] jvanderloo commented on #2867
Agreed, however when a component has default values defined in the function signature for _all_ of its props, then the rule doesn't validate that component.

For instance, if I have the following code:
[code]
This component will not be validated by `react/prop-types` despite the lack of an explicit `.propTypes = ...` definition.

Whereas the following code:
[code]
Will trigger the rule for both co

[2020-12-07 08:28] ljharb commented on #2867
Ah, thanks for clarifying. Indeed, those should both be equally warned upon.

[2020-12-07 15:58] AriPerkkio opened #2869 "jsx-max-depth: Cannot read property 'length' of undefined"
Hello, `jsx-max-depth` rule seems to crash in certain cases. This issue was spotted by automated CI run - it is not blocking my development or anything. https://github.com/AriPerkkio/eslint-remote-tester/runs/1506856587?check_suite_focus=true

[code]

[code]

Minimal repro:

[code]

<details>
    <summary>Crash reports from real-world examples</summary>

### Rule: jsx-max-depth
Message: `Cannot re

[2020-12-07 15:58] AriPerkkio opened #2870 "no-typos: `Cannot read property 'toLowerCase' of undefined`"
Hello, `no-typos` rule seems to crash in certain cases. This issue was spotted by automated CI run - it is not blocking my development or anything. https://github.com/AriPerkkio/eslint-remote-tester/runs/1506856587?check_suite_focus=true

[code]

[code]

Minimal repro:

[code]

<details>
    <summary>Crash reports from real-world examples</summary>

### Rule: no-typos
Message: `Cannot read propert

[2020-12-07 15:58] AriPerkkio opened #2871 "jsx-no-script-url: Cannot read property 'type' of null"
Hello, `jsx-no-script-url` rule seems to crash in certain cases. This issue was spotted by automated CI run - it is not blocking my development or anything. https://github.com/AriPerkkio/eslint-remote-tester/runs/1506856587?check_suite_focus=true

[code]

[code]

Minimal repro:

[code]

<details>
    <summary>Crash reports from real-world examples</summary>

### Rule: jsx-no-script-url
Message: `C

[2020-12-07 18:45] #2869 closed

[2020-12-07 18:45] #2870 closed

[2020-12-07 18:45] #2871 closed

[2020-12-08 09:29] wooorm commented on #2866
Yeah I’m fine publishing it separately! The Q then is: what format do you need? Does the current schema make sense?

Another thing is that the schema currently uses hast casing, which is in rare cases different from react casing (although the translation is [relatively simple](https://github.com/wooorm/property-information/blob/main/hast-to-react.json)), and both are different from HTML.

[2020-12-08 19:13] SethArchambault commented on #2133
@ljharb Curious about this last comment - I prefer option 3, though if proptypes didn't work on it, that would be a deal breaker, but I see that it seems to work fine:

[code]

I wonder if maybe this caveat was true for an older version, or is there something dangerous about this that's going to bite me down the road?

[2020-12-08 19:20] ljharb commented on #2133
@SethArchambault i don't think there's an issue with the way you're doing that, no - but conceptually i think it's cleaner to make the component, add propTypes to it, and then separately memo it.

[2020-12-08 19:39] ljharb commented on #2866
Note that publishing it separately is most compelling with other projects can start using it - that way it ensures it will stay correct :-)

I have no idea what "hast" is, but it seems reasonable for the package to provide html casing, and for consumers to adapt it as needed (or, for another package to wrap it and provide the react version, eg)

[2020-12-09 10:38] const-y opened #2872 "Crashes if you write useEffect() without parameters"
If I write useEffect() without passing the callback as a parameter, the plugin crashes with an error TypeError: Cannot read property 'type' of undefined

React version: 16.12.0
eslint-plugin-react-hooks version: 4.2.0

## Steps To Reproduce

1. Create a functional React component
2. Add useEffect() without params

Еhe error occurs here: eslint-plugin-react-hooks/cjs/eslint-plugin-react-hooks.devel

[2020-12-09 17:54] duncanbeevers commented on #2417
Hooks are used outside of functional components; for example, when writing a custom hook.

[2020-12-09 18:55] karlhorky commented on #2417
Ah, good catch!

And thanks for the PR at #2873, looking pretty good!

[2020-12-10 03:35] huixisheng commented on #2095
[code]
It fixed.

[2020-12-10 05:19] ljharb commented on #2095
I'm not sure why that would fix it, but either way, resolutions isn't an npm feature, and overriding dependency versions is not a good idea.

[2020-12-10 08:44] wooorm commented on #2866
[hast](https://github.com/syntax-tree/hast) is an html ast. Like estree but for HTML. Sometimes but not always used with [mdast](https://github.com/syntax-tree/mdast) (markdown).
It’s relevant here because the HTML minifier in question uses hast.

Transformation between react / hast / html / dom is all not very complex, but does need a bit of a look up table. As we’re currently interested in react

[2020-12-11 21:27] IronSean commented on #2777
Is this issue related to why I can't use
[code]

[2020-12-12 04:45] razzfox opened #2874 "Triggers rule when JSX line contains both prop and comment"
The rule `jsx-props-no-multi-spaces` triggers when a preceding line contains a comment after a prop.

This code tests for comments: https://github.com/yannickcr/eslint-plugin-react/blob/master/tests/lib/rules/jsx-props-no-multi-spaces.js#L89
The case where a comment exists on the same line as a prop is not tested.

**Current Behavior**

[code]

**Expected Behavior**

[code]

[2020-12-12 07:34] ljharb commented on #2874
Should "disabled" and "useful" be "prop1" and "prop2"?

I agree, this shouldn't warn.

[2020-12-12 21:04] KingDarBoja commented on #2176
Just noticed until now I put the wrong quote from docs. I updated my previous comment. Thank you 💯

[2020-12-13 08:09] AriPerkkio opened #2875 "jsx-wrap-multilines: RangeError: Invalid count value"
Hello, `jsx-wrap-multilines` rule seems to crash in certain cases. This issue was spotted by automated CI run - it is not blocking my development or anything. https://github.com/AriPerkkio/eslint-remote-tester/actions/runs/417578540

Complete list of dependencies and `.eslintrc` is available at CI runs logs, steps `Run yarn list | grep eslint` and `Run yarn log --config ./plugin-configs/eslint-con

[2020-12-13 17:27] phaux commented on #2073
One solution is to use `"@typescript-eslint/strict-boolean-expressions": ["error", { "allowNumber": false }]`.

Alternative solution which doesn't require types would be to create a rule which disallows `a && b` in JSX altogether and always autofixes it to `a ? b : null`

[2020-12-13 19:47] ljharb commented on #2073
that wouldn’t be appropriate tho when a is a boolean type :-/

[2020-12-13 21:13] phaux commented on #2073
Why though?

I often use ternary in JSX even when the else branch is just null. I like it because it's consistent. It also kinda forces you to at least consider displaying some message like "No data to show" which is usually a nice UX. I once had to refactor a bunch of components to show these empty states in UI and if I used ternaries from the beginning it would be much easier. It would be useful

[2020-12-13 22:35] ljharb commented on #2073
"a nice UX" depends very much on the context.

[2020-12-14 13:46] Siphenathi-Nathi commented on #2654
For me upgrading eslint-plugin-react to the latest version 7.21.5 fixed this

[2020-12-15 19:13] razzfox commented on #2874
Yes that was an edit mistake. The error should show "prop1" and "prop2" in this example. I'll edit to fix that for clarity.

[2020-12-16 00:05] ljharb commented on #2875
I can't reproduce this, even on the v7.21.5 tag - any idea what exact eslint config is being used for this rule, including which parser?

[2020-12-16 04:03] AriPerkkio commented on #2875
Looks like the airbnb config sets some options to this rule. Option `"declaration": "parens-new-line"` is causing the crash even with default Espree parser.

https://github.com/airbnb/javascript/blob/63098cbb6c05376dbefc9a91351f5727540c1ce1/packages/eslint-config-airbnb/rules/react.js#L293-L301

[code]

[2020-12-16 04:20] #2875 closed

[2020-12-16 13:13] burtek commented on #2865
I can try it this weekend if I find time

[2020-12-17 17:10] AriPerkkio opened #2879 "no-unknown-property: allowedTags.indexOf is not a function"
Hello, `no-unknown-property` rule seems to crash in certain cases. This issue was spotted by automated CI run - it is not blocking my development or anything. https://github.com/AriPerkkio/eslint-remote-tester/runs/1568977821?check_suite_focus=true

This was the only (new) rule crashing in this plugin's weekly test. 👍

[code]

[code]

### Minimal repro:

[code]

[code]

<details>
  <summary>Crash

[2020-12-17 17:11] michael-yx-wu commented on #2827
@ljharb friendly ping. Let me know if there's anything I can add in the PR description to make it easier to review :)

[2020-12-17 21:26] #2879 closed

[2020-12-17 22:24] ljharb commented on #2872
eslint-plugin-react-hooks is a different project; this is eslint-plugin-react.

[2020-12-17 22:24] #2872 closed

[2020-12-17 22:34] ljharb commented on #2856
The issue is that react components (like functions) actually have two type signatures: the external one, that consumers/callers see, and the internal one, that the component/function body sees. In your case, `DemoProps` is the external one, where `text` is optional. It's an implementation detail of the body that you handle the case where it's not provided.

Without a type system, this would be mod

[2020-12-18 04:46] #2867 closed

[2020-12-18 06:46] #2874 closed

[2020-12-18 07:48] #2849 closed

[2020-12-18 10:48] vasilii-kovalev commented on #2628
There is a good article about that by @kentcdodds: [Importing React Through the Ages](https://epicreact.dev/importing-react-through-the-ages).
The namespace is more sustainable to refactoring.

[2020-12-18 17:18] AriPerkkio opened #2880 "jsx-max-depth: Maximum call stack size exceeded"
Hello, `jsx-max-depth` rule seems to crash in certain cases. This issue was spotted by automated CI run - it is not blocking my development or anything. https://github.com/AriPerkkio/eslint-remote-tester/actions/runs/428814308

I checked those other `RangerError` issues and this doesn't look like a duplicate.

[code]

[code]

### Minimal repro:

This is really as far minimal as I could narrow it d

[2020-12-18 20:31] ljharb commented on #2628
@vasilii-kovalev that claim is incorrect, although it's a very pretty webpage.

[2020-12-18 20:37] kentcdodds commented on #2628
@ljharb you say that like it's objective 🤨

[2020-12-18 20:40] ljharb commented on #2628
@kentcdodds to be clear, your article doesn't seem to be making any objective claims - i'm saying that the claim "The namespace is more sustainable to refactoring." is objectively incorrect. One can certainly use whatever one prefers, and individuals might subjectively find some approaches allow refactoring more easily than others - but that's not universal.

[2020-12-19 00:30] ljharb commented on #2880
The `A = A` part seems to be what triggers it; basically we don't have code to account for someone reassigning the same value to a variable. I can't figure out what triggers it in the real-world example, though.

Not sure how to fix this one :-/

[2020-12-19 06:47] JustFly1984 commented on #2628
@ljharb it is tru that `import * as React from 'react' is not universal, but currently there is a lot of inconsistencies cos there is no universal way to import react. For example in Typescript, which will prevail in upcoming years.

I'm on the side of @kentcdodds, he has all the same arguments I had, then I first posted in this issue. Typescript is very objective issue in my reality, especially i

[2020-12-19 06:52] ljharb commented on #2628
@JustFly1984 with a typescript project created within the last few years, with `tsc init` setting synthetic import and esModuleInterop, TS should be no different than babel - projects without these settings enabled in their tsconfig are legacy and should be modernized.

[2020-12-19 07:02] JustFly1984 commented on #2628
@ljharb  Sorry, but not all projects could be modernized. There is a thing called backwards compatibility, that is why you can turn off any of typescript settings. There is a lot of corner cases, and `import * as` solves all of them for consumer apps as well as for libraries which consumer apps depends on.

[2020-12-19 07:09] JustFly1984 commented on #2628
@ljharb  You can't expect all the authors of libraries published to npm to know all the intricacies of import/export javascript patterns for the years and all standards, and providing some universal automated way to handle import/export should be provided by tooling, the same way as semicolons and indentation is handled by eslint/prettify, instead of spending developer years to update projects man

[2020-12-19 07:14] JustFly1984 commented on #2628
@yannickcr can you please make your statement about this issue?

[2020-12-19 07:30] ljharb commented on #2628
@JustFly1984 I think the number of *published javascript libraries* that use legacy TS settings, and truly can't be migrated, is quite small. If you have one, I'll be happy to make a PR to as many reasonably-used libraries as you need to migrate them; it's an embarrassingly trivial task.

[2020-12-19 10:11] AriPerkkio commented on #2880
This can also reproduced with following:

[code]

[2020-12-20 17:45] markerikson commented on #2749
Obviously it's going to be about impossible to detect cases where a new component type is being passed in as a prop, but this looks like a very useful rule overall.

[2020-12-20 18:27] AriPerkkio commented on #2749
The initial post is not up-to-date with current implementation of the PR.

By default this rule will warn if a component is passed as prop and the prop name doesn't start with `render`, e.g. `renderHeader`. If component name doesn't start with render it is expected that developer is using the prop as element, e.g. `({ header: Header }) => <Header />`.

Here's the current implementation of rule doc

[2020-12-20 19:04] kylemh commented on #2749
It may be easier to implement something with fewer false-negatives in some TS-only equivalent of this plugin? Or maybe we could begin making some rules that are only valid in TS environments?

[2020-12-22 00:10] stevematney opened #2882 "Typescript + React + Context.Provider = TypeError: Cannot read property 'variables' of null"
eslint is failing when using `@typescript-eslint/eslint-plugin` and `eslint-react-plugin` together. This failure seems to only happen when attempting to render a Provider from a Context as jsx.

If I disable `react/jsx-no-undef`, it works, and I can fall back to tsc or tsserver to catch JSX undefined errors, but then eslint itself becomes silent on the issue. Here's the configuration I've got in a

[2020-12-22 00:45] ljharb commented on #2882
What is the failure? You haven't provided it yet.

[2020-12-22 00:46] ljharb commented on #2882
Also, what version of react are you using? React 17 uses a different jsx transform. With the "legacy" jsx transform, you have to enable the `react/jsx-uses-react` rule (which the airbnb config, and the recommended config, and many others all do) so that the existence of jsx causes `React.createElement` to be marked as "used".

[2020-12-22 03:55] stevematney commented on #2882
You're right, @ljharb! I included the package.json and the error output in the description. Here is the error output again:
[code]

I _was_ using React 17, so I switched to 16 and the error remains the same, unfortunately.

[2020-12-22 06:39] ljharb commented on #2882
I'm unable to reproduce this - your test case passes with babel-eslint as well as with both the old and new TypeScript eslint parsers.

Can you provide the exact, unedited contents of `hello.tsx`? The OP refers to `App.tsx`.

[2020-12-22 16:18] stevematney commented on #2882
@ljharb App.tsx in the example is exactly the same as hello.tsx locally. I've tried changing typescript versions and react versions, but I consistently get this error. I've created a repo that demonstrates it. I was able to remove the directory locally and re-clone it, and running eslint still produces the error.

Here's the demonstration repo: https://github.com/stevematney/eslint-clash

Thank yo

[2020-12-22 16:27] stevematney commented on #2882
Also, if it helps, I'm running node on v15.4.0.

[2020-12-22 17:08] jp7837 commented on #512
Is this potentially fixed by #2699 ?

[2020-12-22 18:50] jp7837 opened #2884 "static-property-placement reports violations on non-React classes"
Version 7.21.5

A `static-property-placement` violation is reported on a non-React class e.g.

[code]

Should it not check that the class extends `React.Component`?

[2020-12-22 18:58] ljharb commented on #2884
Indeed it should - the rule is using our component detection, so I'm not sure why it's warning here.

[2020-12-22 19:02] ljharb commented on #512
I believe so; happy to reopen if not.

[2020-12-22 19:02] #512 closed

[2020-12-22 19:25] ljharb commented on #2882
Thanks, I'm able to reproduce it locally :-) once i get that turned into a test case, i should be able to land a fix.

[2020-12-22 19:52] stevematney commented on #2882
That’s excellent! Thank you!

[2020-12-22 20:02] ljharb commented on #2882
Hmm, this is very confusing. The error in your repo goes away when I comment out `ecmaVersion`, *or* when I comment out the `"plugin:@typescript-eslint/recommended",` line. I can't seem to reproduce it in this repo's tests, even when i temporarily use the same versions of typescript and the TS eslint parser.

The issue seems to be that somehow the "scope" object eslint is seeing doesn't have a `ty

[2020-12-22 22:54] stevematney commented on #2882
I believe what we've discovered is actually either a bug or an unclarity in @typescript-eslint. Their docs say that `ecmaVersion` is a `number`, but [the examples in the docs](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/parser#parseroptionsecmaversion) seem to suggest that you can use a string representing the actual version you're targeting, like `"es2020"`.

[This

[2020-12-23 04:37] ljharb commented on #2882
aha! That makes sense. That might help me figure it out.

`ecmaVersion` is absolutely and always only a number, fwiw.

[2020-12-23 04:39] ljharb commented on #2882
When I set ecmaVersion to 5, I get `A fatal parsing error occurred: Parsing error: ImportDeclaration should appear when the mode is ES6 and in the module context.` in my test cases.

[2020-12-23 15:15] blixt opened #2885 "react/jsx-curly-brace-presence autofix removes comments"
The autofix probably shouldn't delete comments just because the curly braces wouldn't be necessary if the comment wasn't there.

[code]

becomes

[code]

[2020-12-23 15:53] blixt opened #2886 "react/jsx-curly-brace-presence autofix doesn't escape string children"
This is a small issue, but it can lead to lint errors from other rules (`react/no-unescaped-entities`):

[code]

becomes

[code]

which should be this instead:

[code]

[2020-12-23 16:04] ljharb commented on #2886
It’s always totally fine for an autofix to result in things that other lint rules can warn on or autofix - the CLI makes multiple passes which should clean it up.

There’s no way for one rule to know about other rules, or their configuration, so we always have to pick a default autofix behavior.

[2020-12-23 16:04] ljharb commented on #2885
I agree; I’d say that in this case, the comment makes the curly braces necessary.

[2020-12-23 16:11] blixt commented on #2886
This one doesn't auto fix though, and since it happens as part of the recommended config of this very same repo, shouldn't an attempt be made to allow things to work "out of the box"? I also think there's little ambiguity here - the quotes should be escaped when moved from JS to JSX.

[2020-12-23 16:25] ljharb commented on #2886
In the context of a jsx element's children, there's no _need_ to escape them, so there's no ambiguity.

The problem is that there's no rule for the reverse - so if somebody *wants* unescaped quotes, right now they'd just disable that one rule, but with your suggestion, they'd have to also disable, or manually fix, this rule.

[2020-12-23 16:56] stevematney commented on #2882
It's interesting that you get a different error. If I just change `ecmaVersion` to 5, I still get the same error as reported above when I run it. I'm just running it directly through the cli, so there may be some difference between that and how your tests are executing eslint.

Do you think this still represents a bug in the plugin, since it's breaking on es5 in this scenario, or is this simply a

[2020-12-23 17:14] ljharb commented on #2882
I think it's a scenario that should never happen, and you might be right that RuleTester is stricter than the CLI is, out of necessity.

I'll land the fix anyways, since it doesn't hurt, but i do think that the typescript parser should be erroring out when the ecmaVersion isn't high enough - `import` syntax shouldn't work at all when ecmaVersion is set to 5.

[2020-12-23 17:25] stevematney commented on #2882
That's true. It seems interesting that it "supports" es5 when TS is very heavily geared toward writing in post-es6 syntax. That said, I think it's theoretically possible to write very simple es5 code and include Type information, and it should still function fine.

Something like:
[code]
That's fully valid es5 code _and_ fully valid TypeScript (I think), so there shouldn't be an issue attempting t